# Imports

In [1]:
import copy
import pandas as pd
import numpy as np

# Reading the ETPC

This is the ETPC dataset compiled by Wahle and posted on HuggingFace

In [2]:
# Unpickle etpc_raw
etpc = pd.read_pickle('datasets/etpc_raw.pkl')

These are the XML files from the ETPC github repo.

The first one contains all pairs marked as paraphrases by the MRPC:

In [3]:
textual_paraphrases = pd.read_xml('datasets/etpc/textual_paraphrases.xml')
# Convert scopes from strings to lists of ints
textual_paraphrases['s1_scope'] = textual_paraphrases['s1_scope'].apply(lambda x: [int(n) for n in x.split(',')] if type(x) == str else x)
textual_paraphrases['s2_scope'] = textual_paraphrases['s2_scope'].apply(lambda x: [int(n) for n in x.split(',')] if type(x) == str else x)
textual_paraphrases['key_s1'] = textual_paraphrases['key_s1'].apply(lambda x: [int(n) for n in x.split(',')] if type(x) == str else x)
textual_paraphrases['key_s2'] = textual_paraphrases['key_s2'].apply(lambda x: [int(n) for n in x.split(',')] if type(x) == str else x)

The second one contains the text and pair ids for *all* sentence pairs (paraphrases or not). It doesn't contain any data on whether they're paraphrases or not, or what EPT types are in them.

In [4]:
pairs = pd.read_xml('datasets/etpc/text_pairs.xml')
pairs.drop(columns=['negation'], inplace=True)
pairs.set_index('pair_id', inplace=True)

# Cleanup

## Cleaning up Columns

In [5]:
etpc.rename(columns={'paraphrase_type_ids': 'ept_ids', 'paraphrase_types': 'ept_names'}, inplace=True)
etpc.drop(columns={'negation'}, axis=1, inplace=True)
etpc

,idx,sentence1,sentence2,sentence1_tokenized,sentence2_tokenized,etpc_label,mrpc_label,ept_names,ept_ids,sentence1_segment_location,sentence2_segment_location,sentence1_segment_location_indices,sentence2_segment_location_indices,sentence1_segment_text,sentence2_segment_text
0,1_0,"Amrozi accused his brother, whom he called ""th...","Referring to him as only ""the witness"", Amrozi...","[Amrozi, accused, his, brother, ,, whom, he, c...","[Referring, to, him, as, only, ``, the, witnes...",1,1,"[Same Polarity Substitution (habitual), Same P...","[5, 6, 26, 25, 29]","[26, 26, 26, 26, 0, 5, 0, 6, 25, 25, 25, 25, 2...","[6, 5, 5, 0, 25, 0, 0, 0, 0, 0, 26, 26, 26, 26...","[[5], [7], [0, 1, 2, 3], [8, 9, 10, 11, 12, 13...","[[1, 2], [0], [10, 11, 12, 13], [4]]","[whom, called, Amrozi accused his brother, `` ...","[to him, Referring, Amrozi accused his brother..."
1,2_1,Yucaipa owned Dominick's before selling the ch...,Yucaipa bought Dominick's in 1995 for $693 mil...,"[Yucaipa, owned, Dominick, 's, before, selling...","[Yucaipa, bought, Dominick, 's, in, 1995, for,...",0,0,[],[],"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",[],[],[],[]
2,3_2,They had published an advertisement on the Int...,"On June 10, the ship's owners had published an...","[They, had, published, an, advertisement, on, ...","[On, June, 10, ,, the, ship, 's, owners, had, ...",1,1,"[Same Polarity Substitution (contextual), Same...","[6, 6, 26, 25, 29]","[6, 0, 0, 0, 0, 0, 0, 0, 26, 26, 26, 0, 0, 0, ...","[26, 26, 26, 26, 6, 6, 6, 6, 25, 25, 25, 25, 2...","[[0], [14], [8, 9, 10], [17, 18, 19]]","[[4, 5, 6, 7], [18], [0, 1, 2, 3], [8, 9, 10, ...","[They, cargo, on June 10, , he added, had publ...","[the ship 's owners, explosives, On June 10 ,,..."
3,4_3,"Around 0335 GMT, Tab shares were up 19 cents, ...","Tab shares jumped 20 cents, or 4.6%, to set a ...","[Around, 0335, GMT, ,, Tab, shares, were, up, ...","[Tab, shares, jumped, 20, cents, ,, or, 4.6, %...",0,0,[],[],"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",[],[],[],[]
4,5_4,"The stock rose $2.11, or about 11 percent, to ...",PG&E Corp. shares jumped $1.63 or 8 percent to...,"[The, stock, rose, $, 2.11, ,, or, about, 11, ...","[PG, &, E, Corp., shares, jumped, $, 1.63, or,...",0,1,"[Same Polarity Substitution (contextual), Same...","[6, 5, 6, 11, 26, 25, 29, 30, 30, 30, 21]","[6, 6, 5, 29, 30, 0, 29, 25, 30, 29, 0, 6, 6, ...","[30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 3...","[[0, 1], [2], [11, 12, 14], [13], [13], [7], [...","[[0, 1, 2, 3, 4], [5], [11], [20, 21], [20, 21...","[The stock, rose, to close at, Friday, Friday,...","[PG & E Corp. shares, jumped, to, on Friday, o..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5796,5797_5796,"After Hughes refused to rehire Hernandez, he c...",Hernandez filed an Equal Employment Opportunit...,"[After, Hughes, refused, to, rehire, Hernandez...","[Hernandez, filed, an, Equal, Employment, Oppo...",0,0,[],[],"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]",[],[],[],[]
5797,5798_5797,There are 103 Democrats in the Assembly and 47...,Democrats dominate the Assembly while Republic...,"[There, are, 103, Democrats, in, the, Assembly...","[Democrats, dominate, the, Assembly, while, Re...",0,0,[],[],"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]",[],[],[],[]
5798,5799_5798,Bethany Hamilton remained in stable condition ...,"Bethany, who remained in stable condition afte...","[Bethany, Hamilton, remained, in, stable, cond...","[Bethany, ,, who, remained, in, stable, condit...",0,0,[],[],"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",[],[],[],[]
5799,5800_5799,"Last week the power station’s US owners, AES C...","The news comes after Drax's American owner, AE...","[Last, week, the, power, station’s, US, owners...","[The, news, comes, after, Drax, 's, American, ...",1,1,"[Spelling changes, Same Polarity Substitution ...","[4, 7, 6, 1, 26, 25, 25, 25, 29]","[26, 26, 0, 7, 7, 6, 1, 25, 25, 4, 25, 25, 25,...","[25, 25, 25, 25, 7, 0, 6, 1, 0, 0, 4, 25, 0, 2...","[[9], [3, 4], [5], [6], [0, 1], [24], [7, 8, 1...","[[10], [4], [6], [7], [13, 14], [0, 1, 2, 3], ...","[Corp, power station’s, US, owners, Last week,...","[Corp., Drax, American, owner, last week, The ..."
5800,5801_5800,Sobig.F spreads when unsuspecting computer use...,The virus spreads when unsuspecting computer u...,"[Sobig.F, spreads, when, unsuspecting, compute...","[The, virus, spreads, when, unsuspecting, comp...",1,1,"[Same Polarity Substitution (named ent.), Same...","[7, 6, 6, 11, 25, 29]","[7, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 11, 11...","[7, 7, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25,...","[[0], [16], [21], [13, 14], [29, 30, 31, 32, 3...","[[0, 1], [16], [22], [14], [2, 3, 4, 5, 6, 7, ...","[Sobig.F, as, ,, such familiar, `` Re : That M...","[The virus, like, and, familiar, spreads when ..."

# Remapping paraphrase IDs

First, make a list with paraphrase types and IDs from the ETPC:

In [6]:
id_map = pd.read_xml('https://raw.githubusercontent.com/venelink/ETPC/master/Corpus/paraphrase_types.xml')
# Rename columns for clarity
id_map.rename(columns={'type_id': 'ept_id', 'type_name': 'ept_name'}, inplace=True)
# Drop unused data
id_map = id_map[['ept_id', 'ept_name']] # No use for type_category column
id_map.drop(id_map.tail(2).index,inplace=True) # Types don't appear in ETPC
id_map.style.hide(axis="index")
id_map

    ept_id                                     ept_name
0        1                         Inflectional Changes
1        2                           Modal Verb Changes
2        3                         Derivational Changes
3        4                             Spelling changes
4        5        Same Polarity Substitution (habitual)
5        6      Same Polarity Substitution (contextual)
6        7      Same Polarity Substitution (named ent.)
7        8                             Change of format
8        9    Opposite polarity substitution (habitual)
9       10  Opposite polarity substitution (contextual)
10      11              Synthetic/analytic substitution
11      13                        Converse substitution
12      14                        Diathesis alternation
13      15                           Negation switching
14      16                                     Ellipsis
15      17                         Coordination changes
16      18            Subordination and nesting changes
17      21                          Punctuation changes
18      22           Direct/indirect style alternations
19      23                    Sentence modality changes
20      24           Syntax/discourse structure changes
21      25                            Addition/Deletion
22      26                              Change of order
23      28                               Semantic based
24      29                                     Identity
25      30                               Non-paraphrase
26      31                                   Entailment

Now, make a list with paraphrase names and IDs for ParaOp types

In [7]:
data = [[0, 'No change'],
        [1, 'Addition/Deletion - Function Word'],
        [2, 'Addition/Deletion - Content Word'],
        [3, 'Change of Order'],
        [4, 'Substitution - Synonym'],
        [5, 'Substitution - Contextual Synonym'],
        [6, 'Substitution - Morphological'],
        [7, 'Substitution - Spelling and Format'],
        [8, 'Addition/Deletion - Punctuation']
       ]
paraop_map = pd.DataFrame(data, columns = ['paraop_id', 'paraop_name'])
paraop_map.set_index('paraop_id', inplace=True)
paraop_map

                                  paraop_name
paraop_id
0                                   No change
1           Addition/Deletion - Function Word
2            Addition/Deletion - Content Word
3                             Change of Order
4                      Substitution - Synonym
5           Substitution - Contextual Synonym
6                Substitution - Morphological
7          Substitution - Spelling and Format
8             Addition/Deletion - Punctuation

## Mapping

We'll use the dataframe below for mapping. Each row will contain the name and ID of a paraphrase type in the ETPC, and the name and ID of the correspondent ParaOp type.

In [8]:
id_map['paraop_id'] = ''
id_map['paraop_name'] = ''
id_map

    ept_id                                     ept_name paraop_id paraop_name
0        1                         Inflectional Changes
1        2                           Modal Verb Changes
2        3                         Derivational Changes
3        4                             Spelling changes
4        5        Same Polarity Substitution (habitual)
5        6      Same Polarity Substitution (contextual)
6        7      Same Polarity Substitution (named ent.)
7        8                             Change of format
8        9    Opposite polarity substitution (habitual)
9       10  Opposite polarity substitution (contextual)
10      11              Synthetic/analytic substitution
11      13                        Converse substitution
12      14                        Diathesis alternation
13      15                           Negation switching
14      16                                     Ellipsis
15      17                         Coordination changes
16      18            Subordination and nesting changes
17      21                          Punctuation changes
18      22           Direct/indirect style alternations
19      23                    Sentence modality changes
20      24           Syntax/discourse structure changes
21      25                            Addition/Deletion
22      26                              Change of order
23      28                               Semantic based
24      29                                     Identity
25      30                               Non-paraphrase
26      31                                   Entailment

Here's where we do the mapping:

In [9]:
# Helper function to map an ETPC id to a Paraop id
def map_id(ept_id, paraop_id):
    """Given an EPT id and a Paraop id, look up the name of the Paraop id and 
    fill in the rows of id_map with paraop_id and the name."""
    id_map.loc[id_map['ept_id'] == ept_id, 'paraop_id'] = paraop_id
    id_map.loc[id_map['ept_id'] == ept_id, 'paraop_name'] = paraop_map.loc[paraop_id, 'paraop_name']

In [10]:
map_id(ept_id=1, paraop_id=6)
map_id(ept_id=3, paraop_id=6)
map_id(ept_id=26, paraop_id=3)
map_id(ept_id=29, paraop_id=0)
map_id(4, 7)
map_id(5, 4)
map_id(6, 5)
map_id(8, 7)
map_id(9, 4)
map_id(2, 5)
map_id(7, 5)
map_id(13, 5)
id_map.style.hide(axis="index")

TODO: Figure out a way to hide index of map_id throughout whole notebook. For some reason this seems harder than it needs to be...

Helper function to convert an ETPC ID to a Paraop ID

In [11]:
# Helper function to get a Paraop id from an ETPC id
def ept_to_paraop(ept_id):
    return id_map.loc[id_map['ept_id'] == ept_id, 'paraop_id'].iloc[0]

ept_to_paraop(3)

6

# Reannotation

## Creating positives dataframe

In [12]:
positives = etpc.loc[etpc['mrpc_label'] == 1]
positives.rename(columns={'sentence1_segment_location': 'sentence1_scope_etpc', 
                          'sentence2_segment_location': 'sentence2_scope_etpc'}, inplace=True)
positives.drop(columns=['sentence1_segment_location_indices', 'sentence2_segment_location_indices'],inplace=True)
positives['idx'] = positives.index.to_series()
positives

/tmp/ipykernel_65203/1590217566.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  positives.rename(columns={'sentence1_segment_location': 'sentence1_scope_etpc',
/tmp/ipykernel_65203/1590217566.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  positives.drop(columns=['sentence1_segment_location_indices', 'sentence2_segment_location_indices'],inplace=True)
/tmp/ipykernel_65203/1590217566.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  positives['idx'] = positives.index.to_series()

,idx,sentence1,sentence2,sentence1_tokenized,sentence2_tokenized,etpc_label,mrpc_label,ept_names,ept_ids,sentence1_scope_etpc,sentence2_scope_etpc,sentence1_segment_text,sentence2_segment_text
0,0,"Amrozi accused his brother, whom he called ""th...","Referring to him as only ""the witness"", Amrozi...","[Amrozi, accused, his, brother, ,, whom, he, c...","[Referring, to, him, as, only, ``, the, witnes...",1,1,"[Same Polarity Substitution (habitual), Same P...","[5, 6, 26, 25, 29]","[26, 26, 26, 26, 0, 5, 0, 6, 25, 25, 25, 25, 2...","[6, 5, 5, 0, 25, 0, 0, 0, 0, 0, 26, 26, 26, 26...","[whom, called, Amrozi accused his brother, `` ...","[to him, Referring, Amrozi accused his brother..."
2,2,They had published an advertisement on the Int...,"On June 10, the ship's owners had published an...","[They, had, published, an, advertisement, on, ...","[On, June, 10, ,, the, ship, 's, owners, had, ...",1,1,"[Same Polarity Substitution (contextual), Same...","[6, 6, 26, 25, 29]","[6, 0, 0, 0, 0, 0, 0, 0, 26, 26, 26, 0, 0, 0, ...","[26, 26, 26, 26, 6, 6, 6, 6, 25, 25, 25, 25, 2...","[They, cargo, on June 10, , he added, had publ...","[the ship 's owners, explosives, On June 10 ,,..."
4,4,"The stock rose $2.11, or about 11 percent, to ...",PG&E Corp. shares jumped $1.63 or 8 percent to...,"[The, stock, rose, $, 2.11, ,, or, about, 11, ...","[PG, &, E, Corp., shares, jumped, $, 1.63, or,...",0,1,"[Same Polarity Substitution (contextual), Same...","[6, 5, 6, 11, 26, 25, 29, 30, 30, 30, 21]","[6, 6, 5, 29, 30, 0, 29, 25, 30, 29, 0, 6, 6, ...","[30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 3...","[The stock, rose, to close at, Friday, Friday,...","[PG & E Corp. shares, jumped, to, on Friday, o..."
5,5,Revenue in the first quarter of the year dropp...,With the scandal hanging over Stewart's compan...,"[Revenue, in, the, first, quarter, of, the, ye...","[With, the, scandal, hanging, over, Stewart, '...",1,1,"[Synthetic/analytic substitution, Addition/Del...","[11, 25, 29]","[25, 11, 11, 11, 11, 11, 11, 11, 25, 25, 25, 2...","[25, 25, 25, 25, 25, 25, 25, 25, 25, 0, 11, 11...","[in the first quarter of the year, Revenue dro...","[the first quarter of the year, With the scand..."
7,7,The DVD-CCA then appealed to the state Supreme...,The DVD CCA appealed that decision to the U.S....,"[The, DVD-CCA, then, appealed, to, the, state,...","[The, DVD, CCA, appealed, that, decision, to, ...",1,1,"[Spelling changes, Same Polarity Substitution ...","[4, 5, 25, 25, 29]","[25, 4, 25, 25, 25, 25, 5, 25, 25, 25]","[25, 4, 4, 25, 25, 25, 25, 25, 5, 25, 25, 25]","[DVD-CCA, state, then, The appealed to the Sup...","[DVD CCA, U.S., that decision, The appealed to..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5792,5792,Gehring waived extradition Monday during a hea...,Gehring waived extradition Monday during a hea...,"[Gehring, waived, extradition, Monday, during,...","[Gehring, waived, extradition, Monday, during,...",1,1,"[Addition/Deletion, Identity, Punctuation chan...","[25, 29, 21, 6, 11, 14, 26, 25]","[21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 2...","[29, 29, 29, 29, 29, 29, 29, 26, 26, 26, 26, 2...","[authorities said, Gehring waived extradition ...",[Gehring waived extradition Monday during a he...
5793,5793,"""I am advised that certain allegations of crim...","""I am advised that certain allegations of crim...","[``, I, am, advised, that, certain, allegation...","[``, I, am, advised, that, certain, allegation...",1,1,"[Same Polarity Substitution (contextual), Chan...","[6, 26, 25, 29, 21]","[29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 2...","[29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 2...","[Silver, Silver, `` I am advised that certain ...","[the Silver statement, the Silver statement, ,..."
5795,5795,"The deal, approved by both companies' board of...",The acquisition has been approved by both comp...,"[The, deal, ,, approved, by, both, companies, ...","[The, acquisition, has, been, approved, by, bo...",0,1,"[Same Polarity Substitution (habitual), Same P...","[5, 5, 18, 29, 30]","[29, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 1...","[29, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 1...","[deal, be completed, The deal , approved by bo...","[acquisition, close, The acquisition has been ..."
5799,5799,"Last week the power station’s US owners, AES C...","The news comes after Drax's American owner, AE...","[Last, week, the, power, station’s, US, owners...","[The, news, comes, after, Drax, 's, American, ...",1,1,"[Spelling changes, Same Polarity Substitution ...","[4, 7, 6, 1, 26, 25, 25, 25, 29]","[26, 26, 0, 7, 7, 6, 1, 25, 25, 4, 25, 25, 25,...","[25, 25, 25, 25, 7, 0, 6, 1, 0, 0, 4, 25, 0, 2...","[Corp, power station’s, US, owners, Last week,...","[Corp., Drax, American, owner, last week, The ..."
5800,5800,Sobig.F spreads when unsuspecting computer use...,The virus spreads when unsuspecting computer u...,"[Sobig.F, spreads, when, unsuspecting, compute...","[The, virus, spreads, when, unsuspecting, comp...",1,1,"[Same Polarity Substitution (named ent.), Same...","[7, 6, 6, 11, 25, 29]","[7, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 11, 11...","[7, 7, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25,...","[Sobig.F, as, ,, such familiar, `` Re : That M...","[The virus, like, and, familiar, spreads when ..."

## Why we cannot use the ETPC from Wahle et al.

Here's a fundamental part of the ETPC that I hadn't realized until now: each token in a sentence can have *more than one* paraphrase type. Here's an example--note how, in sentence 2, token 5 appears in the scopes both of inflectional and derivational changes.

In [13]:
ric = textual_paraphrases.loc[(textual_paraphrases['pair_id'] == 4205+1) & (textual_paraphrases['type_id'].isin([3,1]))]
ric[:2]

,pair_id,type_id,type_name,sense_preserving,s1_scope,s2_scope,s1_text,s2_text,key_s1,key_s2,k1_text,k2_text
15963,4206,1,Inflectional Changes,yes,[3],"[3, 5]",completed,had inspected,None,None,None,None
15964,4206,3,Derivational Changes,yes,[4],[5],inspections,inspected,None,None,None,None

It seems that this issue also wasn't noticed by Wahle et al: some paraphrase scopes consist of only a single number repeated for the entirety of the list:

In [14]:
positives[positives['sentence1_scope_etpc'].apply(lambda x: (len(np.unique(x)) == 1))][:10]

,idx,sentence1,sentence2,sentence1_tokenized,sentence2_tokenized,etpc_label,mrpc_label,ept_names,ept_ids,sentence1_scope_etpc,sentence2_scope_etpc,sentence1_segment_text,sentence2_segment_text
14,14,He told The Sun newspaper that Mr. Hussein's d...,"""Saddam's daughters had British schools and ho...","[He, told, The, Sun, newspaper, that, Mr., Hus...","[``, Saddam, 's, daughters, had, British, scho...",1,1,"[Same Polarity Substitution (named ent.), Same...","[7, 6, 7, 26, 25, 29, 21]","[29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 2...","[0, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26...","[Hussein, The Sun newspaper, Mr. Hussein, Mr. ...","[Saddam, The Sun, Saddam, Saddam 's daughters ..."
22,22,But tropical storm warnings and watches were p...,Tropical storm warnings were in place Thursday...,"[But, tropical, storm, warnings, and, watches,...","[Tropical, storm, warnings, were, in, place, T...",0,1,"[Addition/Deletion, Addition/Deletion, Identit...","[25, 25, 29, 30, 4, 6, 11, 17]","[11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 1...","[11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 1...","[But, tropical storm warnings watches , the so...","[Jamaica and, storm warnings watches , the sou..."
35,35,Trading in Loral was halted yesterday; the sha...,The New York Stock Exchange suspended trading ...,"[Trading, in, Loral, was, halted, yesterday, ;...","[The, New, York, Stock, Exchange, suspended, t...",0,1,"[Same Polarity Substitution (habitual), Diathe...","[5, 14, 18, 29, 30, 21]","[21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 2...","[21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 2...","[halted, Trading in Loral was halted, Trading ...","[suspended, The New York Stock Exchange suspen..."
40,40,Last year the court upheld Cleveland's school ...,"Last year, the court ruled 5-4 in an Ohio case...","[Last, year, the, court, upheld, Cleveland, 's...","[Last, year, ,, the, court, ruled, 5-4, in, an...",1,1,"[Same Polarity Substitution (contextual), Infl...","[6, 1, 25, 25, 29, 28, 21]","[29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 2...","[29, 29, 0, 0, 0, 0, 0, 0, 0, 0, 0, 29, 25, 29...","[provide, choice, Last year that vouchers are ...","[provide with, choices, government, among a ra..."
63,63,Contrary to what PeopleSoft management would h...,Ellison said that contrary to the contentions ...,"[Contrary, to, what, PeopleSoft, management, w...","[Ellison, said, that, contrary, to, the, conte...",1,1,"[Addition/Deletion, Identity, Semantic based, ...","[25, 29, 28, 21]","[28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 2...","[25, 25, 0, 29, 29, 28, 28, 28, 28, 28, 29, 29...","[Contrary to , Oracle intends to fully support...","[Ellison said, contrary to , Oracle intends to..."
72,72,Also demonstrating box-office strength _ and g...,Also demonstrating box-office strength -- and ...,"[Also, demonstrating, box-office, strength, _,...","[Also, demonstrating, box-office, strength, --...",1,1,"[Spelling changes, Spelling changes, Identity,...","[4, 4, 29, 21, 21]","[21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 2...","[21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 2...","[O'Neill 's, Day 's, Also demonstrating box-of...","[ONeills, Days, Also demonstrating box-office ..."
86,86,Sales - a figure watched closely as a baromete...,It also disclosed that sales -- a figure close...,"[Sales, -, a, figure, watched, closely, as, a,...","[It, also, disclosed, that, sales, --, a, figu...",1,1,"[Same Polarity Substitution (habitual), Synthe...","[5, 11, 26, 25, 25, 25, 25, 29, 28, 21]","[25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 2...","[25, 25, 25, 0, 25, 0, 25, 25, 26, 25, 25, 25,...","[rose, many industry experts, closely, 5 perce...","[were higher, industry experts, closely, by an..."
111,111,The suite comes complete with a word processor...,"The suite includes a word processor, spreadshe...","[The, suite, comes, complete, with, a, word, p...","[The, suite, includes, a, word, processor, ,, ...",1,1,"[Same Polarity Substitution (habitual), Same P...","[5, 5, 6, 5, 11, 18, 25, 25, 29, 21, 21]","[21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 2...","[21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 2...","[comes complete with, software, utilizing, an,...","[includes, application, built around, the, XML..."
124,124,"Powell fired back: ""He's accusing the presiden...","If so, Powell said, he's calling the president...","[Powell, fired, back, :, ``, He, 's, accusing,...","[If, so, ,, Powell, said, ,, he, 's, calling, ...",1,1,"[Same Polarity Substitution (contextual), Same...","[6, 6, 26, 25, 25, 25, 25, 29, 21]","[25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 2...","[25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 2...","[accusing, he, , he said, Powell fired back :,...","[calling, Powell, , Powell said ,, , too, If s..."
126,126,The memo on protecting sales of Windows and ot...,"The memo specifically mentioned Linux, a still...","[The, memo, on, protecting, sales, of, Windows...","[The, memo, specifically, mentioned, Linux, ,,...",1,1,"[Addition/Deletion, Addition/Deletion, Identity]","[25, 25, 29]","[25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 2...","[25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 2...",[on protecting sales of Windows and other desk...,"[specifically, The memo mentioned Linux , a st..."

The issue also exists in part in the original ETPC: some paraphrase types have scopes annotated as pretty much the entire sentence. This seems especially prevalent among 'Punctuation changes'.

TODO: rewrite this, show examples

While this is certainly an issue for the original ETPC, it's at least partly offset there since their annotation scheme has separate scopes for each paraphrase type. So even if the annotated scope of some given type isn't very informative, the entire sentence isn't lost: you'd still have other paraphrase types, which are most likely annotated correctly. But Wahle's dataset (and consequently his training pipeline) doesn't account for this. Whatever process Wahle et al. used for generating that dataset on Huggingface seems to have an especially hard time with sentences in the original ETPC as exemplified above, but the issue happens throughout *all* their dataset.

## Getting paraphrases from the original ETPC

Let's first clean up the dataset

In [15]:
positives.drop(columns=['idx', 'etpc_label', 'mrpc_label', 
                                       'sentence1_scope_etpc', 
                                       'sentence2_scope_etpc', 
                                       'sentence1_segment_text', 
                                       'sentence2_segment_text'])

,sentence1,sentence2,sentence1_tokenized,sentence2_tokenized,ept_names,ept_ids
0,"Amrozi accused his brother, whom he called ""th...","Referring to him as only ""the witness"", Amrozi...","[Amrozi, accused, his, brother, ,, whom, he, c...","[Referring, to, him, as, only, ``, the, witnes...","[Same Polarity Substitution (habitual), Same P...","[5, 6, 26, 25, 29]"
2,They had published an advertisement on the Int...,"On June 10, the ship's owners had published an...","[They, had, published, an, advertisement, on, ...","[On, June, 10, ,, the, ship, 's, owners, had, ...","[Same Polarity Substitution (contextual), Same...","[6, 6, 26, 25, 29]"
4,"The stock rose $2.11, or about 11 percent, to ...",PG&E Corp. shares jumped $1.63 or 8 percent to...,"[The, stock, rose, $, 2.11, ,, or, about, 11, ...","[PG, &, E, Corp., shares, jumped, $, 1.63, or,...","[Same Polarity Substitution (contextual), Same...","[6, 5, 6, 11, 26, 25, 29, 30, 30, 30, 21]"
5,Revenue in the first quarter of the year dropp...,With the scandal hanging over Stewart's compan...,"[Revenue, in, the, first, quarter, of, the, ye...","[With, the, scandal, hanging, over, Stewart, '...","[Synthetic/analytic substitution, Addition/Del...","[11, 25, 29]"
7,The DVD-CCA then appealed to the state Supreme...,The DVD CCA appealed that decision to the U.S....,"[The, DVD-CCA, then, appealed, to, the, state,...","[The, DVD, CCA, appealed, that, decision, to, ...","[Spelling changes, Same Polarity Substitution ...","[4, 5, 25, 25, 29]"
...,...,...,...,...,...,...
5792,Gehring waived extradition Monday during a hea...,Gehring waived extradition Monday during a hea...,"[Gehring, waived, extradition, Monday, during,...","[Gehring, waived, extradition, Monday, during,...","[Addition/Deletion, Identity, Punctuation chan...","[25, 29, 21, 6, 11, 14, 26, 25]"
5793,"""I am advised that certain allegations of crim...","""I am advised that certain allegations of crim...","[``, I, am, advised, that, certain, allegation...","[``, I, am, advised, that, certain, allegation...","[Same Polarity Substitution (contextual), Chan...","[6, 26, 25, 29, 21]"
5795,"The deal, approved by both companies' board of...",The acquisition has been approved by both comp...,"[The, deal, ,, approved, by, both, companies, ...","[The, acquisition, has, been, approved, by, bo...","[Same Polarity Substitution (habitual), Same P...","[5, 5, 18, 29, 30]"
5799,"Last week the power station’s US owners, AES C...","The news comes after Drax's American owner, AE...","[Last, week, the, power, station’s, US, owners...","[The, news, comes, after, Drax, 's, American, ...","[Spelling changes, Same Polarity Substitution ...","[4, 7, 6, 1, 26, 25, 25, 25, 29]"
5800,Sobig.F spreads when unsuspecting computer use...,The virus spreads when unsuspecting computer u...,"[Sobig.F, spreads, when, unsuspecting, compute...","[The, virus, spreads, when, unsuspecting, comp...","[Same Polarity Substitution (named ent.), Same...","[7, 6, 6, 11, 25, 29]"

We'll need a column to house the new scopes. Let's initialize that column with empty arrays for each token in the sentence. That way, we can easily tell which tokens haven't been annotated yet.

In [16]:
#TODO: get rid of SettingWithCopyWarning
positives['sentence1_scope'] = positives['sentence1_tokenized'].apply(lambda x: np.array(['' for _ in x]).astype('U64'))
positives['sentence2_scope'] = positives['sentence2_tokenized'].apply(lambda x: np.array(['' for _ in x]).astype('U64'))
positives['sentence1_scope'][0]

/tmp/ipykernel_65203/1356746713.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  positives['sentence1_scope'] = positives['sentence1_tokenized'].apply(lambda x: np.array(['' for _ in x]).astype('U64'))
/tmp/ipykernel_65203/1356746713.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  positives['sentence2_scope'] = positives['sentence2_tokenized'].apply(lambda x: np.array(['' for _ in x]).astype('U64'))

array(['', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '',
       '', ''], dtype='<U64')

### Populating types

Helper function to populate type

In [17]:
# TODO: Convert to df apply (rather than series apply on idx)
# TODO: Figure out if 64 char limit will be an issue

def populate_type(idx, ept_id, lookup_df=textual_paraphrases, manual = None, subs = True):
    """Given a paraphrase pair (idx) and an EPT paraphrase type (ept_id), convert the EPT type to Paraop, look up the 
    scopes for both sentences in the pair, and fill in the scopes with the Paraop type. Returns a pair of arrays with
    the newly annotated scopes.
    
    The 'manual' argument controls whether we manually specify what the Paraop ID will be, or whether we automatically 
    get the Paraop ID from id_map.
    """
    
    paraop_id = manual if manual else ept_to_paraop(ept_id) 

    # Copy array to avoid messing up the originals
    array1 = np.copy(positives['sentence1_scope'][idx])
    array2 = np.copy(positives['sentence2_scope'][idx])
    
    # Create a subset of the lookup array containing only the paraphrase types
    # we are interested in (ept_id)
    subset = lookup_df[(lookup_df['pair_id'] == idx+1) & (lookup_df['type_id'] == int(ept_id))]
    subset.reset_index(drop=True, inplace=True)
    instances = len(subset['type_id'].values) # Count how many discrete instances of that type are there in this pair

    def fill(sentence_n, instance, array, scope, subs):
        """Helper function for filling in ids"""

        # Do nothing if scope is None
        if scope.tolist() is None:
            return
        
        # Identify which indices in the array have not been filled yet
        empty = np.where(array == '')[0]
        nonempty = np.where(array != '')[0]

        # Fill in empty entries
        if len(scope) > 0:
            empty_intersect = np.intersect1d(scope, empty)
            array[empty_intersect] = f'{paraop_id}_{instance}'

        if subs:    
            # Append to non-empty entries
            nonempty_intersect = np.intersect1d(scope, nonempty)
            if len(nonempty_intersect) > 0:
                # TODO: Log this in a better way (save to a file instead of just printing)
                print(f'Double check type overwriting: row {idx}, sentence {sentence_n}')
                print(f'Common indices: {list(nonempty_intersect)}', end=' | ')
                print(f'Pre-existing types: {array[nonempty_intersect]}')
                array[nonempty_intersect] = np.char.add(array[nonempty_intersect], f' & {paraop_id}_{instance}')

    # Filling in
    for i in range(instances):
        # Get scopes from lookup df
        s1_scope = np.array(subset.loc[subset['type_id'] == ept_id, 's1_scope'].iloc[i])
        s2_scope = np.array(subset.loc[subset['type_id'] == ept_id, 's2_scope'].iloc[i])
        
        fill(1, i, array1, s1_scope, subs)
        fill(2, i, array2, s2_scope, subs)
    
    return array1, array2

Here's a demo of how the outputs to that function look like:

In [18]:
populate_type(0, 26)

(array(['3_0', '3_0', '3_0', '3_0', '', '', '', '', '', '', '', '', '', '',
        '', '', '', '', ''], dtype='<U64'),
 array(['', '', '', '', '', '', '', '', '', '', '3_0', '3_0', '3_0', '3_0',
        '', '', '', '', '', ''], dtype='<U64'))

`populate_type` returns new arrays, it doesn't modify the original df. Use the function below to actually modify the df

In [19]:
def substitute(ept_id, lookup_df=textual_paraphrases, manual = None, subs = True):
    series = positives['idx'].apply(populate_type, ept_id=ept_id, lookup_df=lookup_df, manual = manual, subs = subs)
    cols = pd.DataFrame(series.tolist(), columns=['sentence1', 'sentence2'])
    positives.loc[:, 'sentence1_scope'] = cols['sentence1'].values
    positives.loc[:, 'sentence2_scope'] = cols['sentence2'].values

## Performing the reannotation

Helper functions:

In [20]:
def print_sents(idx: int):
    """Prints both sentences in a sentence pair, given the pair's id"""
    idx -= 1
    print(positives.loc[positives['idx'] == idx, 'sentence1'].iloc[0])
    print(positives.loc[positives['idx'] == idx, 'sentence2'].iloc[0])

In [21]:
def duplicate_df(df: pd.DataFrame):
    """Returns a deep copy of a dataframe"""
    return pd.DataFrame(columns = df.columns, data = copy.deepcopy(df.values))

In [22]:
def split_add_sub(df: pd.DataFrame):
    """Splits a dataframe into two dataframes: one containing types to be annotated as Addition/Deletion, and another
    containing types to be annotated as Substitution."""
    add_del = df[(df['s1_scope'].isnull()) | (df['s2_scope'].isnull())]
    subs = df[~((df['s1_scope'].isnull()) | (df['s2_scope'].isnull()))]
    return add_del, subs

### Change of order

In [23]:
substitute(26)

Double check type overwriting: row 196, sentence 1
Common indices: [2] | Pre-existing types: ['3_0']
Double check type overwriting: row 196, sentence 2
Common indices: [9] | Pre-existing types: ['3_0']
Double check type overwriting: row 411, sentence 1
Common indices: [0, 1, 2, 3, 4] | Pre-existing types: ['3_0' '3_0' '3_0' '3_0' '3_0']
Double check type overwriting: row 411, sentence 2
Common indices: [12, 13, 14, 15] | Pre-existing types: ['3_0' '3_0' '3_0' '3_0']
Double check type overwriting: row 1014, sentence 1
Common indices: [5] | Pre-existing types: ['3_0']
Double check type overwriting: row 1014, sentence 2
Common indices: [10, 11] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 1543, sentence 1
Common indices: [19] | Pre-existing types: ['3_0']
Double check type overwriting: row 1543, sentence 2
Common indices: [5] | Pre-existing types: ['3_0']
Double check type overwriting: row 1864, sentence 1
Common indices: [5, 6] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 1864, sentence 2
Common indices: [11, 12] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 2309, sentence 1
Common indices: [0, 1, 2, 3, 4, 5] | Pre-existing types: ['3_0' '3_0' '3_0' '3_0' '3_0' '3_0']
Double check type overwriting: row 2309, sentence 2
Common indices: [10, 11, 12, 13, 14] | Pre-existing types: ['3_0' '3_0' '3_0' '3_0' '3_0']
Double check type overwriting: row 2336, sentence 1
Common indices: [12] | Pre-existing types: ['3_0']
Double check type overwriting: row 2336, sentence 2
Common indices: [5] | Pre-existing types: ['3_0']
Double check type overwriting: row 2920, sentence 1
Common indices: [25, 26] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 2920, sentence 2
Common indices: [5, 6] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 3164, sentence 1
Common indices: [6] | Pre-existing types: ['3_1']
Double check type overwriting: row 3164, sentence 2
Common indices: [19] | Pre-existing types: ['3_1']
Double check type overwriting: row 4346, sentence 1
Common indices: [13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 26] | Pre-existing types: ['3_0' '3_0' '3_0' '3_0' '3_0' '3_0' '3_0' '3_0' '3_0' '3_0' '3_0' '3_0'
 '3_0']
Double check type overwriting: row 4346, sentence 2
Common indices: [0, 1, 2, 3, 4, 5, 6, 7, 8] | Pre-existing types: ['3_0' '3_0' '3_0' '3_0' '3_0' '3_0' '3_0' '3_0' '3_0']
Double check type overwriting: row 4346, sentence 1
Common indices: [11] | Pre-existing types: ['3_0']
Double check type overwriting: row 4346, sentence 2
Common indices: [18] | Pre-existing types: ['3_0']
Double check type overwriting: row 4514, sentence 1
Common indices: [12, 13, 14, 15] | Pre-existing types: ['3_0' '3_0' '3_0' '3_0']
Double check type overwriting: row 4514, sentence 2
Common indices: [3, 4, 5, 6, 7] | Pre-existing types: ['3_0' '3_0' '3_0' '3_0' '3_0']

### Same Polarity Substitution (Habitual)

In [24]:
substitute(5)

Double check type overwriting: row 75, sentence 1
Common indices: [5, 6] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 75, sentence 2
Common indices: [0] | Pre-existing types: ['3_0']
Double check type overwriting: row 152, sentence 1
Common indices: [13, 14] | Pre-existing types: ['4_0' '4_0']
Double check type overwriting: row 152, sentence 2
Common indices: [10] | Pre-existing types: ['4_0']
Double check type overwriting: row 172, sentence 1
Common indices: [22] | Pre-existing types: ['3_0']
Double check type overwriting: row 172, sentence 2
Common indices: [17] | Pre-existing types: ['3_0']
Double check type overwriting: row 226, sentence 1
Common indices: [0, 1, 2, 3] | Pre-existing types: ['3_0' '3_0' '3_0' '3_0']
Double check type overwriting: row 226, sentence 2
Common indices: [2] | Pre-existing types: ['3_0']
Double check type overwriting: row 310, sentence 1
Common indices: [9] | Pre-existing types: ['3_0']
Double check type overwriting: row 310, sentence 2
Common indices: [8] | Pre-existing types: ['3_0']
Double check type overwriting: row 315, sentence 1
Common indices: [2] | Pre-existing types: ['3_0']
Double check type overwriting: row 315, sentence 2
Common indices: [25] | Pre-existing types: ['3_0']
Double check type overwriting: row 339, sentence 1
Common indices: [5] | Pre-existing types: ['3_0']
Double check type overwriting: row 339, sentence 2
Common indices: [17] | Pre-existing types: ['3_0']
Double check type overwriting: row 339, sentence 1
Common indices: [9] | Pre-existing types: ['3_0']
Double check type overwriting: row 339, sentence 2
Common indices: [20] | Pre-existing types: ['3_0']
Double check type overwriting: row 449, sentence 1
Common indices: [20, 21] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 449, sentence 2
Common indices: [13, 14] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 473, sentence 1
Common indices: [12] | Pre-existing types: ['3_0']
Double check type overwriting: row 473, sentence 2
Common indices: [8] | Pre-existing types: ['3_0']
Double check type overwriting: row 545, sentence 1
Common indices: [12, 13] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 545, sentence 2
Common indices: [3, 4, 5] | Pre-existing types: ['3_0' '3_0' '3_0']
Double check type overwriting: row 554, sentence 1
Common indices: [18] | Pre-existing types: ['3_0']
Double check type overwriting: row 554, sentence 2
Common indices: [21] | Pre-existing types: ['3_0']
Double check type overwriting: row 589, sentence 1
Common indices: [24] | Pre-existing types: ['3_0']
Double check type overwriting: row 589, sentence 2
Common indices: [7] | Pre-existing types: ['3_0']
Double check type overwriting: row 756, sentence 1
Common indices: [7] | Pre-existing types: ['3_0']
Double check type overwriting: row 756, sentence 2
Common indices: [14] | Pre-existing types: ['3_0']
Double check type overwriting: row 790, sentence 1
Common indices: [6] | Pre-existing types: ['3_0']
Double check type overwriting: row 790, sentence 2
Common indices: [3] | Pre-existing types: ['3_0']

Double check type overwriting: row 4086, sentence 1
Common indices: [15] | Pre-existing types: ['3_0']
Double check type overwriting: row 4086, sentence 2
Common indices: [7] | Pre-existing types: ['3_0']
Double check type overwriting: row 4288, sentence 1
Common indices: [5] | Pre-existing types: ['3_0']
Double check type overwriting: row 4288, sentence 2
Common indices: [8, 9, 10, 11] | Pre-existing types: ['3_0' '3_0' '3_0' '3_0']
Double check type overwriting: row 4318, sentence 1
Common indices: [10] | Pre-existing types: ['3_0']
Double check type overwriting: row 4318, sentence 2
Common indices: [0] | Pre-existing types: ['3_0']
Double check type overwriting: row 4353, sentence 1
Common indices: [16, 17] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 4353, sentence 2
Common indices: [4, 5] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 4558, sentence 1
Common indices: [19] | Pre-existing types: ['3_1']
Double check type overwriting: row 4558, sentence 2
Common indices: [11] | Pre-existing types: ['3_1']
Double check type overwriting: row 4618, sentence 1
Common indices: [2] | Pre-existing types: ['3_0']
Double check type overwriting: row 4618, sentence 2
Common indices: [13, 14] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 4648, sentence 1
Common indices: [18, 19, 20, 21] | Pre-existing types: ['3_0' '3_0' '3_0' '3_0']
Double check type overwriting: row 4648, sentence 2
Common indices: [22, 23] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 4687, sentence 1
Common indices: [9] | Pre-existing types: ['4_0']
Double check type overwriting: row 4687, sentence 2
Common indices: [5] | Pre-existing types: ['4_0']
Double check type overwriting: row 4716, sentence 1
Common indices: [2] | Pre-existing types: ['3_0']
Double check type overwriting: row 4716, sentence 2
Common indices: [16] | Pre-existing types: ['3_0']
Double check type overwriting: row 4761, sentence 1
Common indices: [12] | Pre-existing types: ['4_0']
Double check type overwriting: row 4761, sentence 2
Common indices: [12] | Pre-existing types: ['4_0']
Double check type overwriting: row 4813, sentence 1
Common indices: [12] | Pre-existing types: ['3_0']
Double check type overwriting: row 4813, sentence 2
Common indices: [0] | Pre-existing types: ['3_0']
Double check type overwriting: row 4816, sentence 1
Common indices: [13] | Pre-existing types: ['3_0']
Double check type overwriting: row 4816, sentence 2
Common indices: [10] | Pre-existing types: ['3_0']
Double check type overwriting: row 4844, sentence 1
Common indices: [20] | Pre-existing types: ['3_0']
Double check type overwriting: row 4844, sentence 2
Common indices: [9] | Pre-existing types: ['3_0']
Double check type overwriting: row 4844, sentence 1
Common indices: [21, 22, 23] | Pre-existing types: ['3_0' '3_0' '3_0']
Double check type overwriting: row 4844, sentence 2
Common indices: [10, 11, 12] | Pre-existing types: ['3_0' '3_0' '3_0']
Double check type overwriting: row 4865, sentence 1
Common indices: [2] | Pre-existing types: ['3_0']
Double check type overwriting: row 4865, sentence 2
Common indices: [4] | Pre-existing types: ['3_0']
Double check type overwriting: row 4967, sentence 1
Common indices: [2, 3, 4] | Pre-existing types: ['3_0' '3_0' '3_0']
Double check type overwriting: row 4967, sentence 2
Common indices: [3] | Pre-existing types: ['3_0']
Double check type overwriting: row 4967, sentence 1
Common indices: [9] | Pre-existing types: ['3_0']
Double check type overwriting: row 4967, sentence 2
Common indices: [8] | Pre-existing types: ['3_0']
Double check type overwriting: row 4995, sentence 1
Common indices: [3] | Pre-existing types: ['3_0']
Double check type overwriting: row 4995, sentence 2
Common indices: [16, 17] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 5016, sentence 1
Common indices: [15] | Pre-existing types: ['3_0']
Double check type overwriting: row 5016, sentence 2
Common indices: [0] | Pre-existing types: ['3_0']
Double check type overwriting: row 5016, sentence 1
Common indices: [17] | Pre-existing types: ['3_0']
Double check type overwriting: row 5016, sentence 2
Common indices: [3] | Pre-existing types: ['3_0']
Double check type overwriting: row 5016, sentence 1
Common indices: [21] | Pre-existing types: ['3_0']
Double check type overwriting: row 5016, sentence 2
Common indices: [7] | Pre-existing types: ['3_0']
Double check type overwriting: row 5037, sentence 1
Common indices: [6] | Pre-existing types: ['3_1']
Double check type overwriting: row 5037, sentence 2
Common indices: [0] | Pre-existing types: ['3_1']
Double check type overwriting: row 5037, sentence 1
Common indices: [9] | Pre-existing types: ['3_1']
Double check type overwriting: row 5037, sentence 2
Common indices: [4] | Pre-existing types: ['3_1']
Double check type overwriting: row 5064, sentence 1
Common indices: [17, 18] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 5064, sentence 2
Common indices: [12, 13, 14] | Pre-existing types: ['3_0' '3_0' '3_0']
Double check type overwriting: row 5080, sentence 1
Common indices: [31] | Pre-existing types: ['3_0']
Double check type overwriting: row 5080, sentence 2
Common indices: [4] | Pre-existing types: ['3_0']
Double check type overwriting: row 5190, sentence 1
Common indices: [28, 29] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 5190, sentence 2
Common indices: [23] | Pre-existing types: ['3_0']
Double check type overwriting: row 5249, sentence 1
Common indices: [16] | Pre-existing types: ['3_0']
Double check type overwriting: row 5249, sentence 2
Common indices: [19, 20] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 5337, sentence 1
Common indices: [9, 10] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 5337, sentence 2
Common indices: [3, 4] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 5356, sentence 1
Common indices: [24] | Pre-existing types: ['3_0']
Double check type overwriting: row 5356, sentence 2
Common indices: [7] | Pre-existing types: ['3_0']
Double check type overwriting: row 5602, sentence 1
Common indices: [15] | Pre-existing types: ['3_0']
Double check type overwriting: row 5602, sentence 2
Common indices: [7] | Pre-existing types: ['3_0']
Double check type overwriting: row 5619, sentence 1
Common indices: [1] | Pre-existing types: ['3_0']
Double check type overwriting: row 5619, sentence 2
Common indices: [6] | Pre-existing types: ['3_0']
Double check type overwriting: row 5687, sentence 1
Common indices: [4] | Pre-existing types: ['3_0']
Double check type overwriting: row 5687, sentence 2
Common indices: [28] | Pre-existing types: ['3_0']
Double check type overwriting: row 5709, sentence 1
Common indices: [0] | Pre-existing types: ['3_0']
Double check type overwriting: row 5709, sentence 2
Common indices: [16] | Pre-existing types: ['3_0']

### Same Polarity Substitution (Contextual)

In [25]:
substitute(6)

Double check type overwriting: row 56, sentence 1
Common indices: [4] | Pre-existing types: ['3_0']
Double check type overwriting: row 56, sentence 2
Common indices: [0, 1] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 112, sentence 1
Common indices: [22] | Pre-existing types: ['3_1']
Double check type overwriting: row 112, sentence 2
Common indices: [7, 8] | Pre-existing types: ['3_1' '3_1']
Double check type overwriting: row 124, sentence 1
Common indices: [16] | Pre-existing types: ['3_0']
Double check type overwriting: row 124, sentence 2
Common indices: [3] | Pre-existing types: ['3_0']
Double check type overwriting: row 191, sentence 1
Common indices: [19, 20, 21] | Pre-existing types: ['3_0' '3_0' '3_0']
Double check type overwriting: row 191, sentence 2
Common indices: [14] | Pre-existing types: ['3_0']
Double check type overwriting: row 235, sentence 1
Common indices: [3] | Pre-existing types: ['3_0']
Double check type overwriting: row 235, sentence 2
Common indices: [8, 9, 10, 11] | Pre-existing types: ['3_0' '3_0' '3_0' '3_0']
Double check type overwriting: row 276, sentence 1
Common indices: [10] | Pre-existing types: ['3_0']
Double check type overwriting: row 276, sentence 2
Common indices: [15, 16] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 332, sentence 1
Common indices: [5] | Pre-existing types: ['3_0']
Double check type overwriting: row 332, sentence 2
Common indices: [0] | Pre-existing types: ['3_0']
Double check type overwriting: row 335, sentence 1
Common indices: [1] | Pre-existing types: ['5_0']
Double check type overwriting: row 354, sentence 1
Common indices: [0] | Pre-existing types: ['3_0']
Double check type overwriting: row 354, sentence 2
Common indices: [5, 6] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 473, sentence 1
Common indices: [2, 3] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 473, sentence 2
Common indices: [0, 1] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 473, sentence 1
Common indices: [7, 8] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 473, sentence 2
Common indices: [4] | Pre-existing types: ['3_0']
Double check type overwriting: row 480, sentence 1
Common indices: [18, 19] | Pre-existing types: ['3_1' '3_1']
Double check type overwriting: row 480, sentence 2
Common indices: [4] | Pre-existing types: ['3_1']
Double check type overwriting: row 542, sentence 1
Common indices: [3, 4] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 542, sentence 2
Common indices: [8] | Pre-existing types: ['3_0']
Double check type overwriting: row 586, sentence 1
Common indices: [8] | Pre-existing types: ['3_0']
Double check type overwriting: row 586, sentence 2
Common indices: [4] | Pre-existing types: ['3_0']
Double check type overwriting: row 589, sentence 1
Common indices: [23] | Pre-existing types: ['3_0']
Double check type overwriting: row 589, sentence 2
Common indices: [5, 6] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 642, sentence 1
Common indices: [7, 8] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 642, sentence 2
Common indices: [23, 24] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 651, sentence 1
Common indices: [16] | Pre-existing types: ['3_0']
Double check type overwriting: row 651, sentence 2
Common indices: [2, 3, 4, 5] | Pre-existing types: ['3_0' '3_0' '3_0' '3_0']
Double check type overwriting: row 802, sentence 1
Common indices: [19] | Pre-existing types: ['3_0']
Double check type overwriting: row 802, sentence 2
Common indices: [22, 23, 24, 25, 26, 27] | Pre-existing types: ['3_0' '3_0' '3_0' '3_0' '3_0' '3_0']
Double check type overwriting: row 809, sentence 1
Common indices: [15] | Pre-existing types: ['3_0']
Double check type overwriting: row 809, sentence 2
Common indices: [3] | Pre-existing types: ['3_0']
Double check type overwriting: row 809, sentence 1
Common indices: [17] | Pre-existing types: ['3_0']
Double check type overwriting: row 809, sentence 2
Common indices: [5] | Pre-existing types: ['3_0']
Double check type overwriting: row 809, sentence 1
Common indices: [16, 17] | Pre-existing types: ['3_0' '3_0 & 5_1']
Double check type overwriting: row 809, sentence 2
Common indices: [4, 5] | Pre-existing types: ['3_0' '3_0 & 5_1']
Double check type overwriting: row 840, sentence 1
Common indices: [1, 2] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 840, sentence 2
Common indices: [18, 19] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 864, sentence 1
Common indices: [6] | Pre-existing types: ['3_1']
Double check type overwriting: row 864, sentence 2
Common indices: [21, 22, 23] | Pre-existing types: ['3_1' '3_1' '3_1']
Double check type overwriting: row 908, sentence 1
Common indices: [2, 5] | Pre-existing types: ['5_0' '5_0']
Double check type overwriting: row 908, sentence 2
Common indices: [1] | Pre-existing types: ['5_0']
Double check type overwriting: row 930, sentence 1
Common indices: [17] | Pre-existing types: ['3_3']
Double check type overwriting: row 930, sentence 2
Common indices: [5] | Pre-existing types: ['3_3']
Double check type overwriting: row 933, sentence 1
Common indices: [6, 7] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 933, sentence 2
Common indices: [1] | Pre-existing types: ['3_0']
Double check type overwriting: row 937, sentence 1
Common indices: [8] | Pre-existing types: ['3_0']
Double check type overwriting: row 937, sentence 2
Common indices: [15] | Pre-existing types: ['3_0']
Double check type overwriting: row 938, sentence 1
Common indices: [5] | Pre-existing types: ['3_0']
Double check type overwriting: row 938, sentence 2
Common indices: [1] | Pre-existing types: ['3_0']
Double check type overwriting: row 1055, sentence 1
Common indices: [21] | Pre-existing types: ['3_0']
Double check type overwriting: row 1055, sentence 2
Common indices: [21] | Pre-existing types: ['3_0']
Double check type overwriting: row 1067, sentence 1
Common indices: [6] | Pre-existing types: ['3_0']
Double check type overwriting: row 1067, sentence 2
Common indices: [8] | Pre-existing types: ['3_0']
Double check type overwriting: row 1067, sentence 1
Common indices: [20, 21] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 1067, sentence 2
Common indices: [14, 15, 16, 17, 18] | Pre-existing types: ['3_0' '3_0' '3_0' '3_0' '3_0']
Double check type overwriting: row 1093, sentence 1
Common indices: [19] | Pre-existing types: ['3_0']
Double check type overwriting: row 1093, sentence 2
Common indices: [18] | Pre-existing types: ['3_0']
Double check type overwriting: row 1142, sentence 1
Common indices: [2] | Pre-existing types: ['3_0']
Double check type overwriting: row 1142, sentence 2
Common indices: [0, 1, 2] | Pre-existing types: ['3_0' '3_0' '3_0']
Double check type overwriting: row 1142, sentence 1
Common indices: [3, 4, 5] | Pre-existing types: ['3_0' '3_0' '3_0']
Double check type overwriting: row 1142, sentence 2
Common indices: [3, 4, 5] | Pre-existing types: ['3_0' '3_0' '3_0']
Double check type overwriting: row 1142, sentence 1
Common indices: [7, 8, 9, 10] | Pre-existing types: ['3_0' '3_0' '3_0' '3_0']
Double check type overwriting: row 1142, sentence 2
Common indices: [7, 8] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 1161, sentence 1
Common indices: [21, 22] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 1161, sentence 2
Common indices: [20] | Pre-existing types: ['3_0']
Double check type overwriting: row 1182, sentence 1
Common indices: [22, 23] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 1182, sentence 2
Common indices: [14] | Pre-existing types: ['3_0']
Double check type overwriting: row 1273, sentence 1
Common indices: [0, 1, 2, 3, 4] | Pre-existing types: ['3_0' '3_0' '3_0' '3_0' '3_0']
Double check type overwriting: row 1273, sentence 2
Common indices: [12] | Pre-existing types: ['3_0']
Double check type overwriting: row 1323, sentence 1
Common indices: [5] | Pre-existing types: ['5_0']
Double check type overwriting: row 1323, sentence 2
Common indices: [7] | Pre-existing types: ['5_0']
Double check type overwriting: row 1334, sentence 1
Common indices: [8, 9, 10] | Pre-existing types: ['3_0' '3_0' '3_0']
Double check type overwriting: row 1334, sentence 2
Common indices: [0, 1, 2] | Pre-existing types: ['3_0' '3_0' '3_0']
Double check type overwriting: row 1345, sentence 1
Common indices: [23] | Pre-existing types: ['3_0']
Double check type overwriting: row 1345, sentence 2
Common indices: [10] | Pre-existing types: ['3_0']
Double check type overwriting: row 1346, sentence 1
Common indices: [5, 6, 7] | Pre-existing types: ['3_1' '3_1' '3_1']
Double check type overwriting: row 1346, sentence 2
Common indices: [1, 2, 3] | Pre-existing types: ['3_1' '3_1' '3_1']
Double check type overwriting: row 1393, sentence 1
Common indices: [2, 3] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 1393, sentence 2
Common indices: [1] | Pre-existing types: ['3_0']
Double check type overwriting: row 1412, sentence 1
Common indices: [6, 7, 8, 9] | Pre-existing types: ['3_0' '3_0' '3_0' '3_0']
Double check type overwriting: row 1412, sentence 2
Common indices: [10, 11, 12] | Pre-existing types: ['3_0' '3_0' '3_0']
Double check type overwriting: row 1432, sentence 1
Common indices: [12, 13] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 1432, sentence 2
Common indices: [17, 18, 19] | Pre-existing types: ['3_0' '3_0' '3_0']
Double check type overwriting: row 1499, sentence 1
Common indices: [11] | Pre-existing types: ['3_0']
Double check type overwriting: row 1499, sentence 2
Common indices: [14] | Pre-existing types: ['3_0']
Double check type overwriting: row 1540, sentence 1
Common indices: [14, 15] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 1540, sentence 2
Common indices: [10] | Pre-existing types: ['3_0']
Double check type overwriting: row 1618, sentence 1
Common indices: [2, 3, 4] | Pre-existing types: ['3_0' '3_0' '3_0']
Double check type overwriting: row 1618, sentence 2
Common indices: [5, 6] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 1643, sentence 1
Common indices: [14] | Pre-existing types: ['3_0']
Double check type overwriting: row 1643, sentence 2
Common indices: [19] | Pre-existing types: ['3_0']
Double check type overwriting: row 1681, sentence 1
Common indices: [8] | Pre-existing types: ['3_0']
Double check type overwriting: row 1681, sentence 2
Common indices: [1] | Pre-existing types: ['3_0']
Double check type overwriting: row 1704, sentence 1
Common indices: [17, 18] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 1704, sentence 2
Common indices: [12, 13, 14] | Pre-existing types: ['3_0' '3_0' '3_0']
Double check type overwriting: row 1730, sentence 1
Common indices: [0] | Pre-existing types: ['3_0']
Double check type overwriting: row 1730, sentence 2
Common indices: [17] | Pre-existing types: ['3_0']
Double check type overwriting: row 1747, sentence 1
Common indices: [12] | Pre-existing types: ['3_0']
Double check type overwriting: row 1747, sentence 2
Common indices: [1] | Pre-existing types: ['3_0']
Double check type overwriting: row 1756, sentence 1
Common indices: [15, 16] | Pre-existing types: ['3_1' '3_1']
Double check type overwriting: row 1756, sentence 2
Common indices: [7, 8, 9] | Pre-existing types: ['3_1' '3_1' '3_1']
Double check type overwriting: row 1801, sentence 1
Common indices: [1] | Pre-existing types: ['5_0']
Double check type overwriting: row 1801, sentence 2
Common indices: [2, 3] | Pre-existing types: ['5_0' '5_0']
Double check type overwriting: row 1810, sentence 1
Common indices: [0, 1] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 1810, sentence 2
Common indices: [10, 11, 12, 13] | Pre-existing types: ['3_0' '3_0' '3_0' '3_0']
Double check type overwriting: row 1864, sentence 1
Common indices: [9] | Pre-existing types: ['3_0']
Double check type overwriting: row 1864, sentence 2
Common indices: [10] | Pre-existing types: ['3_0']
Double check type overwriting: row 1869, sentence 1
Common indices: [21] | Pre-existing types: ['3_0']
Double check type overwriting: row 1869, sentence 2
Common indices: [18] | Pre-existing types: ['3_0']
Double check type overwriting: row 1888, sentence 1
Common indices: [9] | Pre-existing types: ['3_0']
Double check type overwriting: row 1888, sentence 2
Common indices: [9] | Pre-existing types: ['3_0']
Double check type overwriting: row 1888, sentence 1
Common indices: [17] | Pre-existing types: ['3_0']
Double check type overwriting: row 1888, sentence 2
Common indices: [13] | Pre-existing types: ['3_0']
Double check type overwriting: row 1918, sentence 1
Common indices: [1, 2] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 1918, sentence 2
Common indices: [4] | Pre-existing types: ['3_0']
Double check type overwriting: row 1920, sentence 1
Common indices: [14, 15] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 1920, sentence 2
Common indices: [12, 13] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 1931, sentence 1
Common indices: [26, 27] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 1931, sentence 2
Common indices: [0, 1] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 1931, sentence 1
Common indices: [8] | Pre-existing types: ['3_1']
Double check type overwriting: row 1931, sentence 2
Common indices: [8] | Pre-existing types: ['3_1']
Double check type overwriting: row 1937, sentence 1
Common indices: [12] | Pre-existing types: ['3_0']
Double check type overwriting: row 1937, sentence 2
Common indices: [8] | Pre-existing types: ['3_0']
Double check type overwriting: row 1942, sentence 1
Common indices: [15] | Pre-existing types: ['3_0']
Double check type overwriting: row 1942, sentence 2
Common indices: [17] | Pre-existing types: ['3_0']
Double check type overwriting: row 1984, sentence 1
Common indices: [26, 27] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 1984, sentence 2
Common indices: [4, 5, 6, 7, 8] | Pre-existing types: ['3_0' '3_0' '3_0' '3_0' '3_0']
Double check type overwriting: row 2010, sentence 1
Common indices: [17] | Pre-existing types: ['3_0']
Double check type overwriting: row 2010, sentence 2
Common indices: [15] | Pre-existing types: ['3_0']
Double check type overwriting: row 2045, sentence 1
Common indices: [11] | Pre-existing types: ['3_0']
Double check type overwriting: row 2045, sentence 2
Common indices: [9] | Pre-existing types: ['3_0']
Double check type overwriting: row 2055, sentence 2
Common indices: [0] | Pre-existing types: ['5_1']
Double check type overwriting: row 2056, sentence 1
Common indices: [5] | Pre-existing types: ['3_0']
Double check type overwriting: row 2056, sentence 2
Common indices: [4] | Pre-existing types: ['3_0']
Double check type overwriting: row 2057, sentence 1
Common indices: [23] | Pre-existing types: ['3_0']
Double check type overwriting: row 2057, sentence 2
Common indices: [23, 24, 25, 26, 27] | Pre-existing types: ['3_0' '3_0' '3_0' '3_0' '3_0']
Double check type overwriting: row 2067, sentence 1
Common indices: [2] | Pre-existing types: ['5_0']
Double check type overwriting: row 2067, sentence 2
Common indices: [1] | Pre-existing types: ['5_0']
Double check type overwriting: row 2072, sentence 1
Common indices: [2, 3, 4] | Pre-existing types: ['5_0' '5_0' '5_0']
Double check type overwriting: row 2112, sentence 1
Common indices: [5] | Pre-existing types: ['5_0']
Double check type overwriting: row 2112, sentence 2
Common indices: [6] | Pre-existing types: ['5_0']
Double check type overwriting: row 2128, sentence 1
Common indices: [5] | Pre-existing types: ['3_0']
Double check type overwriting: row 2128, sentence 2
Common indices: [16, 17] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 2132, sentence 1
Common indices: [3] | Pre-existing types: ['3_0']
Double check type overwriting: row 2132, sentence 2
Common indices: [1, 2] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 2147, sentence 1
Common indices: [14] | Pre-existing types: ['5_0']
Double check type overwriting: row 2147, sentence 2
Common indices: [19] | Pre-existing types: ['5_0']
Double check type overwriting: row 2231, sentence 1
Common indices: [0, 1] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 2231, sentence 2
Common indices: [12] | Pre-existing types: ['3_0']
Double check type overwriting: row 2245, sentence 1
Common indices: [20, 21, 22, 23, 24, 25, 26] | Pre-existing types: ['3_0' '3_0' '3_0' '3_0' '3_0' '3_0' '3_0']
Double check type overwriting: row 2245, sentence 2
Common indices: [18, 19, 20, 21] | Pre-existing types: ['3_0' '3_0' '3_0' '3_0']
Double check type overwriting: row 2297, sentence 1
Common indices: [2, 3, 4, 5] | Pre-existing types: ['3_0' '3_0' '3_0' '3_0']
Double check type overwriting: row 2297, sentence 2
Common indices: [6, 7, 8, 9] | Pre-existing types: ['3_0' '3_0' '3_0' '3_0']
Double check type overwriting: row 2298, sentence 1
Common indices: [20] | Pre-existing types: ['3_0']
Double check type overwriting: row 2298, sentence 2
Common indices: [21, 22] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 2309, sentence 1
Common indices: [6] | Pre-existing types: ['3_0']
Double check type overwriting: row 2309, sentence 2
Common indices: [9] | Pre-existing types: ['3_0']
Double check type overwriting: row 2325, sentence 1
Common indices: [0, 4] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 2325, sentence 2
Common indices: [7] | Pre-existing types: ['3_0']
Double check type overwriting: row 2336, sentence 1
Common indices: [0, 1, 2] | Pre-existing types: ['3_0' '3_0' '3_0']
Double check type overwriting: row 2336, sentence 2
Common indices: [6, 7] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 2336, sentence 1
Common indices: [3] | Pre-existing types: ['3_0']
Double check type overwriting: row 2336, sentence 2
Common indices: [8] | Pre-existing types: ['3_0']
Double check type overwriting: row 2336, sentence 1
Common indices: [6] | Pre-existing types: ['3_0']
Double check type overwriting: row 2336, sentence 2
Common indices: [12] | Pre-existing types: ['3_0']
Double check type overwriting: row 2345, sentence 1
Common indices: [9] | Pre-existing types: ['3_0']
Double check type overwriting: row 2345, sentence 2
Common indices: [22] | Pre-existing types: ['3_0']
Double check type overwriting: row 2367, sentence 1
Common indices: [5, 6, 7, 8] | Pre-existing types: ['3_0' '3_0' '3_0' '3_0']
Double check type overwriting: row 2367, sentence 2
Common indices: [10, 11] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 2376, sentence 1
Common indices: [26] | Pre-existing types: ['3_0']
Double check type overwriting: row 2376, sentence 2
Common indices: [15] | Pre-existing types: ['3_0']
Double check type overwriting: row 2421, sentence 1
Common indices: [1, 2] | Pre-existing types: ['5_0' '5_0']
Double check type overwriting: row 2453, sentence 1
Common indices: [1, 2] | Pre-existing types: ['3_1' '3_1']
Double check type overwriting: row 2453, sentence 2
Common indices: [20, 21, 22] | Pre-existing types: ['3_1' '3_1' '3_1']
Double check type overwriting: row 2567, sentence 1
Common indices: [20, 21] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 2567, sentence 2
Common indices: [19] | Pre-existing types: ['3_0']
Double check type overwriting: row 2584, sentence 1
Common indices: [9] | Pre-existing types: ['3_0']

### Derivational Changes

In [26]:
substitute(3)

Double check type overwriting: row 254, sentence 1
Common indices: [23] | Pre-existing types: ['4_0']
Double check type overwriting: row 254, sentence 2
Common indices: [21] | Pre-existing types: ['4_0']
Double check type overwriting: row 433, sentence 1
Common indices: [17] | Pre-existing types: ['4_0']
Double check type overwriting: row 433, sentence 2
Common indices: [17] | Pre-existing types: ['4_0']
Double check type overwriting: row 449, sentence 1
Common indices: [5] | Pre-existing types: ['4_1']
Double check type overwriting: row 449, sentence 2
Common indices: [22] | Pre-existing types: ['4_1']
Double check type overwriting: row 480, sentence 1
Common indices: [4] | Pre-existing types: ['3_0']
Double check type overwriting: row 480, sentence 2
Common indices: [16] | Pre-existing types: ['3_0']
Double check type overwriting: row 608, sentence 1
Common indices: [5] | Pre-existing types: ['5_1']
Double check type overwriting: row 608, sentence 2
Common indices: [5] | Pre-existing types: ['5_1']
Double check type overwriting: row 810, sentence 1
Common indices: [14] | Pre-existing types: ['4_1']
Double check type overwriting: row 810, sentence 2
Common indices: [20] | Pre-existing types: ['4_1']
Double check type overwriting: row 1484, sentence 1
Common indices: [3] | Pre-existing types: ['3_0']
Double check type overwriting: row 1484, sentence 2
Common indices: [5] | Pre-existing types: ['3_0']
Double check type overwriting: row 1842, sentence 1
Common indices: [13] | Pre-existing types: ['5_1']
Double check type overwriting: row 1842, sentence 2
Common indices: [9] | Pre-existing types: ['5_1']
Double check type overwriting: row 1984, sentence 1
Common indices: [4] | Pre-existing types: ['3_1']
Double check type overwriting: row 1984, sentence 2
Common indices: [25] | Pre-existing types: ['3_1']
Double check type overwriting: row 2099, sentence 1
Common indices: [12] | Pre-existing types: ['5_1']
Double check type overwriting: row 2112, sentence 1
Common indices: [5] | Pre-existing types: ['5_0 & 5_1']
Double check type overwriting: row 2112, sentence 2
Common indices: [6] | Pre-existing types: ['5_0 & 5_1']
Double check type overwriting: row 2226, sentence 1
Common indices: [13] | Pre-existing types: ['5_1']
Double check type overwriting: row 2226, sentence 2
Common indices: [19] | Pre-existing types: ['5_1']
Double check type overwriting: row 2346, sentence 1
Common indices: [2] | Pre-existing types: ['5_0']
Double check type overwriting: row 2346, sentence 2
Common indices: [4] | Pre-existing types: ['5_0']
Double check type overwriting: row 2394, sentence 1
Common indices: [11] | Pre-existing types: ['5_0']
Double check type overwriting: row 2394, sentence 2
Common indices: [3] | Pre-existing types: ['5_0']
Double check type overwriting: row 2625, sentence 1
Common indices: [1] | Pre-existing types: ['3_0']
Double check type overwriting: row 2625, sentence 2
Common indices: [22] | Pre-existing types: ['3_0']
Double check type overwriting: row 2973, sentence 1
Common indices: [14] | Pre-existing types: ['5_0']
Double check type overwriting: row 2973, sentence 2
Common indices: [9] | Pre-existing types: ['5_0']
Double check type overwriting: row 3110, sentence 1
Common indices: [8] | Pre-existing types: ['3_0']
Double check type overwriting: row 3110, sentence 2
Common indices: [12] | Pre-existing types: ['3_0']
Double check type overwriting: row 3227, sentence 1
Common indices: [4] | Pre-existing types: ['5_1']
Double check type overwriting: row 3227, sentence 2
Common indices: [10] | Pre-existing types: ['5_1']
Double check type overwriting: row 3309, sentence 1
Common indices: [1] | Pre-existing types: ['5_2']
Double check type overwriting: row 3309, sentence 2
Common indices: [1] | Pre-existing types: ['5_2']
Double check type overwriting: row 3668, sentence 1
Common indices: [26] | Pre-existing types: ['3_0']
Double check type overwriting: row 3668, sentence 2
Common indices: [3] | Pre-existing types: ['3_0']
Double check type overwriting: row 3971, sentence 1
Common indices: [13, 14] | Pre-existing types: ['5_1' '5_1']
Double check type overwriting: row 3971, sentence 2
Common indices: [16] | Pre-existing types: ['5_1']
Double check type overwriting: row 4088, sentence 2
Common indices: [3] | Pre-existing types: ['4_0']
Double check type overwriting: row 4339, sentence 1
Common indices: [6] | Pre-existing types: ['3_0']
Double check type overwriting: row 4339, sentence 2
Common indices: [7] | Pre-existing types: ['3_0']
Double check type overwriting: row 4493, sentence 1
Common indices: [16] | Pre-existing types: ['4_0']
Double check type overwriting: row 4493, sentence 2
Common indices: [17] | Pre-existing types: ['4_0']
Double check type overwriting: row 4521, sentence 1
Common indices: [20] | Pre-existing types: ['3_0']
Double check type overwriting: row 4521, sentence 2
Common indices: [16] | Pre-existing types: ['3_0']
Double check type overwriting: row 4562, sentence 1
Common indices: [14] | Pre-existing types: ['5_0']
Double check type overwriting: row 4562, sentence 2
Common indices: [6] | Pre-existing types: ['5_0']
Double check type overwriting: row 4831, sentence 1
Common indices: [5] | Pre-existing types: ['4_0']
Double check type overwriting: row 4831, sentence 2
Common indices: [5] | Pre-existing types: ['4_0']
Double check type overwriting: row 4901, sentence 1
Common indices: [23] | Pre-existing types: ['5_0 & 5_1']
Double check type overwriting: row 4901, sentence 2
Common indices: [15] | Pre-existing types: ['5_0 & 5_1']
Double check type overwriting: row 5709, sentence 1
Common indices: [15] | Pre-existing types: ['3_0']
Double check type overwriting: row 5709, sentence 2
Common indices: [7] | Pre-existing types: ['3_0']

### Inflectional Changes

In [27]:
substitute(1)

Double check type overwriting: row 47, sentence 1
Common indices: [3] | Pre-existing types: ['4_0']
Double check type overwriting: row 47, sentence 2
Common indices: [3] | Pre-existing types: ['4_0']
Double check type overwriting: row 76, sentence 1
Common indices: [2] | Pre-existing types: ['3_0']
Double check type overwriting: row 76, sentence 2
Common indices: [20] | Pre-existing types: ['3_0']
Double check type overwriting: row 120, sentence 1
Common indices: [13] | Pre-existing types: ['5_0']
Double check type overwriting: row 120, sentence 2
Common indices: [11] | Pre-existing types: ['5_0']
Double check type overwriting: row 164, sentence 1
Common indices: [7] | Pre-existing types: ['4_0']
Double check type overwriting: row 164, sentence 2
Common indices: [11] | Pre-existing types: ['4_0']
Double check type overwriting: row 194, sentence 1
Common indices: [15] | Pre-existing types: ['3_0']
Double check type overwriting: row 194, sentence 2
Common indices: [19] | Pre-existing types: ['3_0']
Double check type overwriting: row 261, sentence 1
Common indices: [2] | Pre-existing types: ['5_0']
Double check type overwriting: row 261, sentence 2
Common indices: [1] | Pre-existing types: ['5_0']
Double check type overwriting: row 357, sentence 1
Common indices: [9] | Pre-existing types: ['5_1']
Double check type overwriting: row 357, sentence 2
Common indices: [7, 8, 9, 10] | Pre-existing types: ['5_1' '5_1' '5_1' '5_1']
Double check type overwriting: row 380, sentence 1
Common indices: [2] | Pre-existing types: ['4_0']
Double check type overwriting: row 380, sentence 2
Common indices: [2] | Pre-existing types: ['4_0']
Double check type overwriting: row 500, sentence 1
Common indices: [5] | Pre-existing types: ['4_1']
Double check type overwriting: row 500, sentence 2
Common indices: [2] | Pre-existing types: ['4_1']
Double check type overwriting: row 562, sentence 1
Common indices: [3] | Pre-existing types: ['4_0']
Double check type overwriting: row 562, sentence 2
Common indices: [1] | Pre-existing types: ['4_0']
Double check type overwriting: row 633, sentence 1
Common indices: [7, 8] | Pre-existing types: ['4_0' '4_0']
Double check type overwriting: row 633, sentence 2
Common indices: [8] | Pre-existing types: ['4_0']
Double check type overwriting: row 649, sentence 1
Common indices: [3] | Pre-existing types: ['4_0']
Double check type overwriting: row 649, sentence 2
Common indices: [5] | Pre-existing types: ['4_0']
Double check type overwriting: row 842, sentence 1
Common indices: [3] | Pre-existing types: ['4_0']
Double check type overwriting: row 842, sentence 2
Common indices: [4] | Pre-existing types: ['4_0']
Double check type overwriting: row 859, sentence 1
Common indices: [15] | Pre-existing types: ['4_0']
Double check type overwriting: row 859, sentence 2
Common indices: [14] | Pre-existing types: ['4_0']
Double check type overwriting: row 919, sentence 1
Common indices: [11] | Pre-existing types: ['5_0']
Double check type overwriting: row 919, sentence 2
Common indices: [11] | Pre-existing types: ['5_0']
Double check type overwriting: row 938, sentence 1
Common indices: [9, 10, 11] | Pre-existing types: ['3_0' '3_0' '3_0']
Double check type overwriting: row 938, sentence 2
Common indices: [4, 5, 6] | Pre-existing types: ['3_0' '3_0' '3_0']
Double check type overwriting: row 979, sentence 1
Common indices: [3] | Pre-existing types: ['5_1']
Double check type overwriting: row 979, sentence 2
Common indices: [12] | Pre-existing types: ['5_1']
Double check type overwriting: row 1016, sentence 1
Common indices: [14] | Pre-existing types: ['5_0']
Double check type overwriting: row 1016, sentence 2
Common indices: [15, 16] | Pre-existing types: ['5_0' '5_0']
Double check type overwriting: row 1054, sentence 1
Common indices: [2, 3, 4] | Pre-existing types: ['5_0' '5_0' '5_0']
Double check type overwriting: row 1054, sentence 2
Common indices: [0, 1, 2, 3] | Pre-existing types: ['5_0' '5_0' '5_0' '5_0']
Double check type overwriting: row 1055, sentence 1
Common indices: [17] | Pre-existing types: ['5_1']
Double check type overwriting: row 1055, sentence 2
Common indices: [22] | Pre-existing types: ['5_1']
Double check type overwriting: row 1182, sentence 1
Common indices: [10] | Pre-existing types: ['3_0']
Double check type overwriting: row 1182, sentence 2
Common indices: [9] | Pre-existing types: ['3_0']
Double check type overwriting: row 1183, sentence 1
Common indices: [8] | Pre-existing types: ['6_0']
Double check type overwriting: row 1206, sentence 1
Common indices: [29] | Pre-existing types: ['5_2']
Double check type overwriting: row 1206, sentence 2
Common indices: [29] | Pre-existing types: ['5_2']
Double check type overwriting: row 1426, sentence 1
Common indices: [3] | Pre-existing types: ['5_2']
Double check type overwriting: row 1426, sentence 2
Common indices: [3] | Pre-existing types: ['5_2']
Double check type overwriting: row 1448, sentence 1
Common indices: [9] | Pre-existing types: ['5_0']
Double check type overwriting: row 1448, sentence 2
Common indices: [10] | Pre-existing types: ['5_0']
Double check type overwriting: row 1701, sentence 1
Common indices: [1] | Pre-existing types: ['5_1']
Double check type overwriting: row 1701, sentence 2
Common indices: [2] | Pre-existing types: ['5_1']
Double check type overwriting: row 1709, sentence 1
Common indices: [1] | Pre-existing types: ['5_1']
Double check type overwriting: row 1709, sentence 2
Common indices: [12] | Pre-existing types: ['5_1']
Double check type overwriting: row 1730, sentence 1
Common indices: [1] | Pre-existing types: ['3_0']
Double check type overwriting: row 1730, sentence 2
Common indices: [16] | Pre-existing types: ['3_0']
Double check type overwriting: row 1765, sentence 1
Common indices: [3] | Pre-existing types: ['5_2']
Double check type overwriting: row 1765, sentence 2
Common indices: [4] | Pre-existing types: ['5_2']
Double check type overwriting: row 1765, sentence 1
Common indices: [2] | Pre-existing types: ['5_1']
Double check type overwriting: row 1765, sentence 2
Common indices: [3] | Pre-existing types: ['5_1']
Double check type overwriting: row 1817, sentence 1
Common indices: [13] | Pre-existing types: ['5_0']
Double check type overwriting: row 1817, sentence 2
Common indices: [13] | Pre-existing types: ['5_0']
Double check type overwriting: row 1829, sentence 1
Common indices: [1] | Pre-existing types: ['5_1']
Double check type overwriting: row 1829, sentence 2
Common indices: [18] | Pre-existing types: ['5_1']
Double check type overwriting: row 1834, sentence 1
Common indices: [18] | Pre-existing types: ['5_1']
Double check type overwriting: row 1834, sentence 2
Common indices: [17] | Pre-existing types: ['5_1']
Double check type overwriting: row 1842, sentence 1
Common indices: [8] | Pre-existing types: ['5_0']
Double check type overwriting: row 1842, sentence 2
Common indices: [3] | Pre-existing types: ['5_0']
Double check type overwriting: row 1912, sentence 1
Common indices: [2] | Pre-existing types: ['3_0']
Double check type overwriting: row 1912, sentence 2
Common indices: [1] | Pre-existing types: ['3_0']
Double check type overwriting: row 1913, sentence 1
Common indices: [3] | Pre-existing types: ['5_0']
Double check type overwriting: row 1913, sentence 2
Common indices: [3] | Pre-existing types: ['5_0']
Double check type overwriting: row 1957, sentence 1
Common indices: [3] | Pre-existing types: ['5_1']
Double check type overwriting: row 1957, sentence 2
Common indices: [3, 4] | Pre-existing types: ['5_1' '5_1']
Double check type overwriting: row 2010, sentence 1
Common indices: [11] | Pre-existing types: ['3_0']
Double check type overwriting: row 2010, sentence 2
Common indices: [8] | Pre-existing types: ['3_0']
Double check type overwriting: row 2058, sentence 1
Common indices: [15] | Pre-existing types: ['5_0']
Double check type overwriting: row 2058, sentence 2
Common indices: [15] | Pre-existing types: ['5_0']
Double check type overwriting: row 2060, sentence 1
Common indices: [6] | Pre-existing types: ['5_1']
Double check type overwriting: row 2060, sentence 2
Common indices: [3] | Pre-existing types: ['5_1']
Double check type overwriting: row 2099, sentence 1
Common indices: [12] | Pre-existing types: ['5_1 & 6_0']
Double check type overwriting: row 2099, sentence 2
Common indices: [11] | Pre-existing types: ['5_1']
Double check type overwriting: row 2100, sentence 1
Common indices: [15] | Pre-existing types: ['5_0']
Double check type overwriting: row 2100, sentence 2
Common indices: [17] | Pre-existing types: ['5_0']
Double check type overwriting: row 2100, sentence 1
Common indices: [7] | Pre-existing types: ['5_1']
Double check type overwriting: row 2100, sentence 2
Common indices: [8] | Pre-existing types: ['5_1']
Double check type overwriting: row 2139, sentence 1
Common indices: [12, 13] | Pre-existing types: ['5_0' '5_0']
Double check type overwriting: row 2139, sentence 2
Common indices: [17] | Pre-existing types: ['5_0']
Double check type overwriting: row 2200, sentence 1
Common indices: [7] | Pre-existing types: ['5_1']
Double check type overwriting: row 2200, sentence 2
Common indices: [8] | Pre-existing types: ['5_1']
Double check type overwriting: row 2289, sentence 1
Common indices: [7] | Pre-existing types: ['5_1']
Double check type overwriting: row 2289, sentence 2
Common indices: [5, 6] | Pre-existing types: ['5_1' '5_1']
Double check type overwriting: row 2292, sentence 1
Common indices: [3] | Pre-existing types: ['5_0']
Double check type overwriting: row 2292, sentence 2
Common indices: [1] | Pre-existing types: ['5_0']
Double check type overwriting: row 2336, sentence 1
Common indices: [18] | Pre-existing types: ['3_0']
Double check type overwriting: row 2336, sentence 2
Common indices: [23] | Pre-existing types: ['3_0']
Double check type overwriting: row 2368, sentence 1
Common indices: [2] | Pre-existing types: ['5_1']
Double check type overwriting: row 2368, sentence 2
Common indices: [20] | Pre-existing types: ['5_1']
Double check type overwriting: row 2368, sentence 1
Common indices: [13] | Pre-existing types: ['3_0']
Double check type overwriting: row 2368, sentence 2
Common indices: [9] | Pre-existing types: ['3_0']
Double check type overwriting: row 2368, sentence 1
Common indices: [15] | Pre-existing types: ['3_0']
Double check type overwriting: row 2368, sentence 2
Common indices: [12] | Pre-existing types: ['3_0']
Double check type overwriting: row 2368, sentence 1
Common indices: [16, 17] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 2368, sentence 2
Common indices: [13, 14] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 2415, sentence 1
Common indices: [13] | Pre-existing types: ['5_0']
Double check type overwriting: row 2415, sentence 2
Common indices: [15] | Pre-existing types: ['5_0']
Double check type overwriting: row 2425, sentence 1
Common indices: [11] | Pre-existing types: ['3_0']
Double check type overwriting: row 2425, sentence 2
Common indices: [14] | Pre-existing types: ['3_0']
Double check type overwriting: row 2508, sentence 1
Common indices: [20] | Pre-existing types: ['5_1']
Double check type overwriting: row 2508, sentence 2
Common indices: [19] | Pre-existing types: ['5_1']
Double check type overwriting: row 2573, sentence 1
Common indices: [7] | Pre-existing types: ['5_1']
Double check type overwriting: row 2573, sentence 2
Common indices: [5] | Pre-existing types: ['5_1']
Double check type overwriting: row 2609, sentence 1
Common indices: [5] | Pre-existing types: ['3_0']
Double check type overwriting: row 2609, sentence 2
Common indices: [2] | Pre-existing types: ['3_0']
Double check type overwriting: row 2701, sentence 1
Common indices: [11, 12] | Pre-existing types: ['5_0' '5_0']
Double check type overwriting: row 2701, sentence 2
Common indices: [10] | Pre-existing types: ['5_0']
Double check type overwriting: row 2736, sentence 1
Common indices: [7] | Pre-existing types: ['5_1']
Double check type overwriting: row 2736, sentence 2
Common indices: [8] | Pre-existing types: ['5_1']
Double check type overwriting: row 2753, sentence 1
Common indices: [6, 7, 9] | Pre-existing types: ['5_2' '5_1 & 5_2' '5_1 & 5_2']
Double check type overwriting: row 2753, sentence 2
Common indices: [8, 9] | Pre-existing types: ['5_1' '5_1']
Double check type overwriting: row 2814, sentence 1
Common indices: [2] | Pre-existing types: ['5_0']
Double check type overwriting: row 2814, sentence 2
Common indices: [5] | Pre-existing types: ['5_0']
Double check type overwriting: row 2953, sentence 1
Common indices: [7, 8, 9] | Pre-existing types: ['5_0' '5_0' '5_0']
Double check type overwriting: row 2953, sentence 2
Common indices: [8, 9] | Pre-existing types: ['5_0' '5_0']
Double check type overwriting: row 3063, sentence 1
Common indices: [21] | Pre-existing types: ['5_1']
Double check type overwriting: row 3063, sentence 2
Common indices: [19] | Pre-existing types: ['5_1']
Double check type overwriting: row 3114, sentence 1
Common indices: [27] | Pre-existing types: ['5_1']
Double check type overwriting: row 3114, sentence 2
Common indices: [27] | Pre-existing types: ['5_1']
Double check type overwriting: row 3127, sentence 1
Common indices: [4] | Pre-existing types: ['5_1']
Double check type overwriting: row 3127, sentence 2
Common indices: [1] | Pre-existing types: ['5_1']
Double check type overwriting: row 3148, sentence 1
Common indices: [3] | Pre-existing types: ['3_0']
Double check type overwriting: row 3148, sentence 2
Common indices: [1] | Pre-existing types: ['3_0']
Double check type overwriting: row 3159, sentence 1
Common indices: [4] | Pre-existing types: ['5_0']
Double check type overwriting: row 3159, sentence 2
Common indices: [4] | Pre-existing types: ['5_0']
Double check type overwriting: row 3166, sentence 1
Common indices: [19] | Pre-existing types: ['5_2']
Double check type overwriting: row 3166, sentence 2
Common indices: [17, 18] | Pre-existing types: ['5_2' '5_2']
Double check type overwriting: row 3194, sentence 1
Common indices: [6] | Pre-existing types: ['5_1']
Double check type overwriting: row 3194, sentence 2
Common indices: [6] | Pre-existing types: ['5_1']
Double check type overwriting: row 3220, sentence 1
Common indices: [17] | Pre-existing types: ['5_0']
Double check type overwriting: row 3220, sentence 2
Common indices: [14] | Pre-existing types: ['5_0']
Double check type overwriting: row 3264, sentence 1
Common indices: [2] | Pre-existing types: ['5_2']
Double check type overwriting: row 3264, sentence 2
Common indices: [2] | Pre-existing types: ['5_2']
Double check type overwriting: row 3268, sentence 1
Common indices: [6] | Pre-existing types: ['5_0']
Double check type overwriting: row 3268, sentence 2
Common indices: [7] | Pre-existing types: ['5_0']
Double check type overwriting: row 3279, sentence 1
Common indices: [7] | Pre-existing types: ['5_0']
Double check type overwriting: row 3279, sentence 2
Common indices: [8] | Pre-existing types: ['5_0']
Double check type overwriting: row 3299, sentence 1
Common indices: [14] | Pre-existing types: ['5_1']
Double check type overwriting: row 3299, sentence 2
Common indices: [16] | Pre-existing types: ['5_1']
Double check type overwriting: row 3307, sentence 1
Common indices: [4] | Pre-existing types: ['5_1']
Double check type overwriting: row 3307, sentence 2
Common indices: [3] | Pre-existing types: ['5_1']
Double check type overwriting: row 3337, sentence 1
Common indices: [3, 4] | Pre-existing types: ['5_1' '5_1']
Double check type overwriting: row 3337, sentence 2
Common indices: [2] | Pre-existing types: ['5_1']
Double check type overwriting: row 3382, sentence 1
Common indices: [18] | Pre-existing types: ['5_0']
Double check type overwriting: row 3382, sentence 2
Common indices: [10, 11, 12] | Pre-existing types: ['5_0' '5_0' '5_0']
Double check type overwriting: row 3392, sentence 1
Common indices: [15] | Pre-existing types: ['5_0']
Double check type overwriting: row 3392, sentence 2
Common indices: [10] | Pre-existing types: ['5_0']
Double check type overwriting: row 3421, sentence 1
Common indices: [2] | Pre-existing types: ['5_0']
Double check type overwriting: row 3421, sentence 2
Common indices: [3, 4] | Pre-existing types: ['5_0' '5_0']
Double check type overwriting: row 3427, sentence 1
Common indices: [13] | Pre-existing types: ['5_0']
Double check type overwriting: row 3427, sentence 2
Common indices: [18] | Pre-existing types: ['5_0']
Double check type overwriting: row 3432, sentence 1
Common indices: [1] | Pre-existing types: ['5_0']
Double check type overwriting: row 3432, sentence 2
Common indices: [1] | Pre-existing types: ['5_0']
Double check type overwriting: row 3475, sentence 1
Common indices: [14] | Pre-existing types: ['5_2']
Double check type overwriting: row 3475, sentence 2
Common indices: [12] | Pre-existing types: ['5_2']
Double check type overwriting: row 3537, sentence 1
Common indices: [1] | Pre-existing types: ['5_0']
Double check type overwriting: row 3537, sentence 2
Common indices: [0] | Pre-existing types: ['5_0']
Double check type overwriting: row 3607, sentence 1
Common indices: [2] | Pre-existing types: ['5_0']
Double check type overwriting: row 3607, sentence 2
Common indices: [3] | Pre-existing types: ['5_0']
Double check type overwriting: row 3644, sentence 1
Common indices: [7, 8] | Pre-existing types: ['5_0' '5_0']
Double check type overwriting: row 3644, sentence 2
Common indices: [6] | Pre-existing types: ['5_0']
Double check type overwriting: row 3646, sentence 1
Common indices: [10] | Pre-existing types: ['5_1']
Double check type overwriting: row 3646, sentence 2
Common indices: [6, 7, 8] | Pre-existing types: ['5_1' '5_1' '5_1']
Double check type overwriting: row 3646, sentence 1
Common indices: [1, 2, 3] | Pre-existing types: ['5_0' '5_0' '5_0']
Double check type overwriting: row 3646, sentence 2
Common indices: [1] | Pre-existing types: ['5_0']
Double check type overwriting: row 3665, sentence 1
Common indices: [14] | Pre-existing types: ['3_0 & 5_2']
Double check type overwriting: row 3665, sentence 2
Common indices: [15] | Pre-existing types: ['3_0 & 5_2']
Double check type overwriting: row 3680, sentence 1
Common indices: [9] | Pre-existing types: ['3_0']
Double check type overwriting: row 3680, sentence 2
Common indices: [3] | Pre-existing types: ['3_0']
Double check type overwriting: row 3715, sentence 1
Common indices: [2] | Pre-existing types: ['3_0 & 5_0']
Double check type overwriting: row 3715, sentence 2
Common indices: [23] | Pre-existing types: ['3_0 & 5_0']
Double check type overwriting: row 3718, sentence 1
Common indices: [16] | Pre-existing types: ['5_0']
Double check type overwriting: row 3718, sentence 2
Common indices: [9, 10, 11, 12] | Pre-existing types: ['5_0' '5_0' '5_0' '5_0']
Double check type overwriting: row 3752, sentence 1
Common indices: [1] | Pre-existing types: ['5_0']
Double check type overwriting: row 3752, sentence 2
Common indices: [1] | Pre-existing types: ['5_0']
Double check type overwriting: row 3792, sentence 1
Common indices: [17] | Pre-existing types: ['5_1']
Double check type overwriting: row 3792, sentence 2
Common indices: [17] | Pre-existing types: ['5_1']
Double check type overwriting: row 3828, sentence 1
Common indices: [5, 6] | Pre-existing types: ['3_1' '3_1']
Double check type overwriting: row 3828, sentence 2
Common indices: [21, 22] | Pre-existing types: ['3_1' '3_1']
Double check type overwriting: row 3828, sentence 1
Common indices: [15] | Pre-existing types: ['5_1']
Double check type overwriting: row 3828, sentence 2
Common indices: [2] | Pre-existing types: ['5_1']
Double check type overwriting: row 3860, sentence 1
Common indices: [4] | Pre-existing types: ['5_1']
Double check type overwriting: row 3860, sentence 2
Common indices: [3] | Pre-existing types: ['5_1']
Double check type overwriting: row 4015, sentence 1

### Spelling Changes

In [28]:
substitute(4)

Double check type overwriting: row 155, sentence 1
Common indices: [5] | Pre-existing types: ['4_0']
Double check type overwriting: row 155, sentence 2
Common indices: [8] | Pre-existing types: ['4_0']
Double check type overwriting: row 449, sentence 1
Common indices: [9, 10] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 449, sentence 2
Common indices: [4] | Pre-existing types: ['3_0']
Double check type overwriting: row 458, sentence 1
Common indices: [15] | Pre-existing types: ['3_0']
Double check type overwriting: row 458, sentence 2
Common indices: [1] | Pre-existing types: ['3_0']
Double check type overwriting: row 780, sentence 1
Common indices: [25] | Pre-existing types: ['3_1']
Double check type overwriting: row 780, sentence 2
Common indices: [11] | Pre-existing types: ['3_1']
Double check type overwriting: row 882, sentence 1
Common indices: [24] | Pre-existing types: ['3_0']
Double check type overwriting: row 882, sentence 2
Common indices: [20] | Pre-existing types: ['3_0']
Double check type overwriting: row 1090, sentence 1
Common indices: [9] | Pre-existing types: ['5_0']
Double check type overwriting: row 1090, sentence 2
Common indices: [9] | Pre-existing types: ['5_0']
Double check type overwriting: row 1496, sentence 1
Common indices: [10] | Pre-existing types: ['3_0']
Double check type overwriting: row 1496, sentence 2
Common indices: [17, 18] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 1507, sentence 1
Common indices: [9, 10] | Pre-existing types: ['5_1' '5_1']
Double check type overwriting: row 1507, sentence 2
Common indices: [13] | Pre-existing types: ['5_1']
Double check type overwriting: row 1533, sentence 1
Common indices: [5] | Pre-existing types: ['3_0']
Double check type overwriting: row 1533, sentence 2
Common indices: [14] | Pre-existing types: ['3_0']
Double check type overwriting: row 1568, sentence 1
Common indices: [4, 5] | Pre-existing types: ['5_1' '5_1']
Double check type overwriting: row 1568, sentence 2
Common indices: [4] | Pre-existing types: ['5_1']
Double check type overwriting: row 1807, sentence 1
Common indices: [2] | Pre-existing types: ['5_0']
Double check type overwriting: row 1807, sentence 2
Common indices: [2] | Pre-existing types: ['5_0']
Double check type overwriting: row 1914, sentence 1
Common indices: [19, 20] | Pre-existing types: ['3_1' '3_1']
Double check type overwriting: row 1914, sentence 2
Common indices: [24] | Pre-existing types: ['3_1']
Double check type overwriting: row 1937, sentence 1
Common indices: [14] | Pre-existing types: ['3_0']
Double check type overwriting: row 1937, sentence 2
Common indices: [10, 11] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 2151, sentence 1
Common indices: [4] | Pre-existing types: ['5_0']
Double check type overwriting: row 2151, sentence 2
Common indices: [4] | Pre-existing types: ['5_0']
Double check type overwriting: row 2242, sentence 1
Common indices: [16] | Pre-existing types: ['7_1']
Double check type overwriting: row 2417, sentence 1
Common indices: [24] | Pre-existing types: ['3_0']
Double check type overwriting: row 2417, sentence 2
Common indices: [18] | Pre-existing types: ['3_0']
Double check type overwriting: row 2417, sentence 1
Common indices: [25] | Pre-existing types: ['3_0']
Double check type overwriting: row 2417, sentence 2
Common indices: [19] | Pre-existing types: ['3_0']
Double check type overwriting: row 2588, sentence 1
Common indices: [6] | Pre-existing types: ['5_0']
Double check type overwriting: row 2588, sentence 2
Common indices: [4, 5] | Pre-existing types: ['5_0' '5_0']
Double check type overwriting: row 2740, sentence 1
Common indices: [6] | Pre-existing types: ['5_0']
Double check type overwriting: row 2740, sentence 2
Common indices: [10] | Pre-existing types: ['5_0']
Double check type overwriting: row 2871, sentence 1
Common indices: [0] | Pre-existing types: ['3_0']
Double check type overwriting: row 2890, sentence 1
Common indices: [6] | Pre-existing types: ['5_0 & 5_1']
Double check type overwriting: row 2890, sentence 2
Common indices: [3, 4] | Pre-existing types: ['5_0 & 5_1' '5_0 & 5_1']
Double check type overwriting: row 2962, sentence 1
Common indices: [0, 1] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 2962, sentence 2
Common indices: [5] | Pre-existing types: ['3_0']
Double check type overwriting: row 2967, sentence 1
Common indices: [9] | Pre-existing types: ['3_0']
Double check type overwriting: row 2967, sentence 2
Common indices: [9, 12] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 2978, sentence 1
Common indices: [9] | Pre-existing types: ['5_0']
Double check type overwriting: row 2978, sentence 2
Common indices: [4] | Pre-existing types: ['5_0']
Double check type overwriting: row 3110, sentence 1
Common indices: [5] | Pre-existing types: ['3_0']
Double check type overwriting: row 3110, sentence 2
Common indices: [9] | Pre-existing types: ['3_0']
Double check type overwriting: row 3241, sentence 1
Common indices: [17] | Pre-existing types: ['7_0']
Double check type overwriting: row 3241, sentence 2
Common indices: [16] | Pre-existing types: ['7_0']
Double check type overwriting: row 3533, sentence 1
Common indices: [17] | Pre-existing types: ['3_0']
Double check type overwriting: row 3533, sentence 2
Common indices: [12, 13] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 3738, sentence 1
Common indices: [8] | Pre-existing types: ['3_0']
Double check type overwriting: row 3738, sentence 2
Common indices: [12] | Pre-existing types: ['3_0']
Double check type overwriting: row 3922, sentence 1
Common indices: [0, 1] | Pre-existing types: ['5_0' '5_0']
Double check type overwriting: row 3922, sentence 2
Common indices: [0] | Pre-existing types: ['5_0']
Double check type overwriting: row 3931, sentence 1
Common indices: [8] | Pre-existing types: ['5_1']
Double check type overwriting: row 3931, sentence 2
Common indices: [12] | Pre-existing types: ['5_1']
Double check type overwriting: row 4119, sentence 1
Common indices: [19] | Pre-existing types: ['4_0']
Double check type overwriting: row 4119, sentence 2
Common indices: [26] | Pre-existing types: ['4_0']
Double check type overwriting: row 4196, sentence 1
Common indices: [9] | Pre-existing types: ['4_0']
Double check type overwriting: row 4196, sentence 2
Common indices: [8] | Pre-existing types: ['4_0']
Double check type overwriting: row 4339, sentence 1
Common indices: [4, 5] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 4339, sentence 2
Common indices: [2, 3] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 4359, sentence 1
Common indices: [6] | Pre-existing types: ['5_0']
Double check type overwriting: row 4359, sentence 2
Common indices: [5] | Pre-existing types: ['5_0']
Double check type overwriting: row 4359, sentence 1
Common indices: [7] | Pre-existing types: ['5_0']
Double check type overwriting: row 4359, sentence 2
Common indices: [6] | Pre-existing types: ['5_0']
Double check type overwriting: row 4383, sentence 1
Common indices: [8] | Pre-existing types: ['7_0']
Double check type overwriting: row 4383, sentence 2
Common indices: [2] | Pre-existing types: ['7_0']
Double check type overwriting: row 4611, sentence 1
Common indices: [19, 20] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 4611, sentence 2
Common indices: [12] | Pre-existing types: ['3_0']
Double check type overwriting: row 4643, sentence 1
Common indices: [9] | Pre-existing types: ['3_1']
Double check type overwriting: row 4643, sentence 2
Common indices: [6] | Pre-existing types: ['3_1']
Double check type overwriting: row 4804, sentence 1
Common indices: [10, 11] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 4804, sentence 2
Common indices: [6, 7] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 4922, sentence 1
Common indices: [1] | Pre-existing types: ['5_0']
Double check type overwriting: row 4922, sentence 2
Common indices: [2] | Pre-existing types: ['5_0']
Double check type overwriting: row 4966, sentence 1
Common indices: [12, 13] | Pre-existing types: ['5_1' '5_1']
Double check type overwriting: row 4966, sentence 2
Common indices: [12] | Pre-existing types: ['5_1']
Double check type overwriting: row 4981, sentence 1
Common indices: [15, 16, 17] | Pre-existing types: ['3_0' '3_0' '3_0']
Double check type overwriting: row 4981, sentence 2
Common indices: [22, 23, 24, 25] | Pre-existing types: ['3_0' '3_0' '3_0' '3_0']
Double check type overwriting: row 4991, sentence 1
Common indices: [2] | Pre-existing types: ['4_0']
Double check type overwriting: row 4991, sentence 2
Common indices: [1] | Pre-existing types: ['4_0']
Double check type overwriting: row 5398, sentence 1
Common indices: [12, 13] | Pre-existing types: ['5_1' '5_1']
Double check type overwriting: row 5398, sentence 2
Common indices: [12] | Pre-existing types: ['5_1']
Double check type overwriting: row 5455, sentence 1
Common indices: [6, 7] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 5455, sentence 2
Common indices: [1] | Pre-existing types: ['3_0']
Double check type overwriting: row 5455, sentence 1
Common indices: [6, 7, 8] | Pre-existing types: ['3_0 & 7_0' '3_0 & 7_0' '3_0']
Double check type overwriting: row 5455, sentence 2
Common indices: [1, 2] | Pre-existing types: ['3_0 & 7_0' '3_0']
Double check type overwriting: row 5461, sentence 1
Common indices: [9, 10] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 5461, sentence 2
Common indices: [1, 2] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 5685, sentence 1
Common indices: [14] | Pre-existing types: ['3_0']
Double check type overwriting: row 5685, sentence 2
Common indices: [18] | Pre-existing types: ['3_0']
Double check type overwriting: row 5775, sentence 1
Common indices: [27] | Pre-existing types: ['5_0']
Double check type overwriting: row 5775, sentence 2
Common indices: [25] | Pre-existing types: ['5_0']

### Change of format

In [29]:
substitute(8)

Double check type overwriting: row 418, sentence 1
Common indices: [9] | Pre-existing types: ['5_0']
Double check type overwriting: row 418, sentence 2
Common indices: [12] | Pre-existing types: ['5_0']
Double check type overwriting: row 508, sentence 1
Common indices: [4] | Pre-existing types: ['3_0']
Double check type overwriting: row 508, sentence 2
Common indices: [9] | Pre-existing types: ['3_0']
Double check type overwriting: row 508, sentence 1
Common indices: [5] | Pre-existing types: ['3_0']
Double check type overwriting: row 508, sentence 2
Common indices: [10] | Pre-existing types: ['3_0']
Double check type overwriting: row 586, sentence 1
Common indices: [13] | Pre-existing types: ['3_0']
Double check type overwriting: row 586, sentence 2
Common indices: [6] | Pre-existing types: ['3_0']
Double check type overwriting: row 1322, sentence 1
Common indices: [25] | Pre-existing types: ['7_0']
Double check type overwriting: row 1322, sentence 2
Common indices: [23] | Pre-existing types: ['7_0']
Double check type overwriting: row 1974, sentence 1
Common indices: [16] | Pre-existing types: ['5_0']
Double check type overwriting: row 1974, sentence 2
Common indices: [16] | Pre-existing types: ['5_0']
Double check type overwriting: row 1974, sentence 1
Common indices: [22] | Pre-existing types: ['5_1']
Double check type overwriting: row 1974, sentence 2
Common indices: [21] | Pre-existing types: ['5_1']
Double check type overwriting: row 1974, sentence 1
Common indices: [28] | Pre-existing types: ['5_2']
Double check type overwriting: row 1974, sentence 2
Common indices: [26] | Pre-existing types: ['5_2']
Double check type overwriting: row 2187, sentence 1
Common indices: [5] | Pre-existing types: ['5_1']
Double check type overwriting: row 2187, sentence 2
Common indices: [6] | Pre-existing types: ['5_1']
Double check type overwriting: row 2187, sentence 1
Common indices: [7] | Pre-existing types: ['5_1']
Double check type overwriting: row 2187, sentence 2
Common indices: [8] | Pre-existing types: ['5_1']
Double check type overwriting: row 2242, sentence 1
Common indices: [16, 17] | Pre-existing types: ['7_1 & 7_2' '7_2']
Double check type overwriting: row 2242, sentence 2
Common indices: [16, 18] | Pre-existing types: ['7_1' '7_2']
Double check type overwriting: row 2297, sentence 1
Common indices: [14, 15] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 2297, sentence 2
Common indices: [15, 16] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 2986, sentence 1
Common indices: [8] | Pre-existing types: ['3_1']
Double check type overwriting: row 2986, sentence 2
Common indices: [0] | Pre-existing types: ['3_1']
Double check type overwriting: row 3069, sentence 1
Common indices: [3] | Pre-existing types: ['5_0']
Double check type overwriting: row 3069, sentence 2
Common indices: [1] | Pre-existing types: ['5_0']
Double check type overwriting: row 3110, sentence 1
Common indices: [9] | Pre-existing types: ['3_0']
Double check type overwriting: row 3110, sentence 2
Common indices: [13] | Pre-existing types: ['3_0']
Double check type overwriting: row 3180, sentence 1
Common indices: [18, 19] | Pre-existing types: ['5_0' '5_0']
Double check type overwriting: row 3180, sentence 2
Common indices: [3, 4] | Pre-existing types: ['5_0' '5_0']
Double check type overwriting: row 3492, sentence 1
Common indices: [23] | Pre-existing types: ['5_2']
Double check type overwriting: row 3492, sentence 2
Common indices: [22] | Pre-existing types: ['5_2']
Double check type overwriting: row 3564, sentence 1
Common indices: [10] | Pre-existing types: ['5_0']
Double check type overwriting: row 3564, sentence 2
Common indices: [10] | Pre-existing types: ['5_0']
Double check type overwriting: row 3738, sentence 1
Common indices: [9, 10] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 3738, sentence 2
Common indices: [13, 14] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 4094, sentence 1
Common indices: [23] | Pre-existing types: ['3_0']
Double check type overwriting: row 4094, sentence 2
Common indices: [23] | Pre-existing types: ['3_0']
Double check type overwriting: row 4376, sentence 1
Common indices: [20] | Pre-existing types: ['3_0']
Double check type overwriting: row 4376, sentence 2
Common indices: [25] | Pre-existing types: ['3_0']
Double check type overwriting: row 4695, sentence 1
Common indices: [2] | Pre-existing types: ['6_0']
Double check type overwriting: row 4695, sentence 2
Common indices: [0] | Pre-existing types: ['6_0']
Double check type overwriting: row 4777, sentence 1
Common indices: [2] | Pre-existing types: ['3_0']
Double check type overwriting: row 4777, sentence 2
Common indices: [5, 6] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 4830, sentence 1
Common indices: [4] | Pre-existing types: ['7_1']
Double check type overwriting: row 4830, sentence 2
Common indices: [6, 7, 8, 9] | Pre-existing types: ['7_1' '7_1' '7_1' '7_1']
Double check type overwriting: row 5217, sentence 1
Common indices: [5] | Pre-existing types: ['7_0']
Double check type overwriting: row 5217, sentence 2
Common indices: [10] | Pre-existing types: ['7_0']
Double check type overwriting: row 5517, sentence 1
Common indices: [10] | Pre-existing types: ['3_0']
Double check type overwriting: row 5517, sentence 2
Common indices: [3] | Pre-existing types: ['3_0']

### Opposite Polarity Substitution (Habitual)

In [30]:
substitute(9)

### Modal Verb Changes (TODO)

In [31]:
# TODO: Check overlapped words between (e.g.) derivational & inflectional changes
# The way this works right now, you'd have something like ['6_0 & 6_0'] for those
# Make sure this doesn't happen. Probably do a function that does a pass on the
# array of strings later and removes any duplicates

In [32]:
def trim_duplicates(s1_scope, s2_scope, s1_text, s2_text):
    s1_newtext = s1_text.split()
    s2_newtext = s2_text.split()
    
    in1 = np.where(np.in1d(s1_newtext, s2_newtext))[0]
    in2 = np.where(np.in1d(s2_newtext, s1_newtext))[0]

    s1_newscope = np.delete(s1_scope, in1)
    s2_newscope = np.delete(s2_scope, in2)
    s1_newtext = ' '.join(np.delete(s1_newtext, in1))
    s2_newtext = ' '.join(np.delete(s2_newtext, in2))

    return s1_newscope, s2_newscope, s1_newtext, s2_newtext

In [33]:
ric = textual_paraphrases.loc[textual_paraphrases['type_id'].isin([2])]
ric

,pair_id,type_id,type_name,sense_preserving,s1_scope,s2_scope,s1_text,s2_text,key_s1,key_s2,k1_text,k2_text
120,40,2,Modal Verb Changes,yes,"[7, 8, 9]","[4, 5]",intend to seek,will seek,None,None,None,None
135,45,2,Modal Verb Changes,yes,"[4, 5, 6, 7]","[3, 4]",is expected to decline,will decline,None,None,None,None
197,57,2,Modal Verb Changes,yes,"[5, 6, 7]","[2, 3, 4, 5]",would shut down,plans to shut down,None,None,None,None
381,108,2,Modal Verb Changes,yes,"[6, 7]","[6, 7, 8]",were dispatched,will be sent,None,None,None,None
393,110,2,Modal Verb Changes,yes,"[11, 12]","[10, 11]",may issue,might issue,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...
21449,5623,2,Modal Verb Changes,yes,"[8, 9]","[10, 11, 12]",will address,would participate in,None,None,None,None
21593,5665,2,Modal Verb Changes,yes,"[3, 4, 5]",[4],could have been,was,None,None,None,None
21679,5691,2,Modal Verb Changes,yes,"[4, 5]",[10],could bring,bringing,None,None,None,None
21762,5712,2,Modal Verb Changes,yes,"[3, 4]",[2],would give,gives,None,None,None,None
22023,5791,2,Modal Verb Changes,yes,"[2, 3, 4]",[6],will be held,hold,None,None,None,None

### Punctuation Changes

Let's look closely at punctuation changes. This is one of the types that annotates key elements, and those are what we 
want to use, so we'll use those as the scopes.

In [34]:
punctuation = duplicate_df(textual_paraphrases)
punctuation = punctuation[punctuation['type_id'] == 21]
punctuation.drop(columns=['s1_scope', 's2_scope'], inplace=True)
punctuation.rename(columns={'key_s1': 's1_scope', 'key_s2': 's2_scope'}, inplace=True)
punctuation

,pair_id,type_id,type_name,sense_preserving,s1_text,s2_text,s1_scope,s2_scope,k1_text,k2_text
20,5,21,Punctuation changes,yes,"The stock rose $ 2.11 , or about 11 percent , ...",PG & E Corp. shares jumped $ 1.63 or 8 percent...,"[5, 10]",None,", ,",None
33,10,21,Punctuation changes,yes,the foodservice pie business does n't fit the ...,`` The foodservice pie business does not fit o...,None,[0],None,``
46,15,21,Punctuation changes,yes,He told The Sun newspaper that Mr. Hussein 's ...,`` Saddam 's daughters had British schools and...,None,"[0, 23]",None,`` ''
87,29,21,Punctuation changes,yes,I wanted to bring the most beautiful people in...,`` I wanted to bring the most beautiful people...,None,"[0, 15]",None,`` ''
108,36,21,Punctuation changes,yes,Trading in Loral was halted yesterday ; the sh...,The New York Stock Exchange suspended trading ...,[6],[10],;,","
...,...,...,...,...,...,...,...,...,...,...
21962,5773,21,Punctuation changes,yes,`` I would rather be talking about positive nu...,But I would rather be talking about high stand...,[0],[14],``,''\n
21978,5780,21,Punctuation changes,yes,`` the man who has the blood of innocent peopl...,a man who has the blood of innocent people on ...,[4],None,``,None
21987,5782,21,Punctuation changes,yes,The Ministry of Defence said that `` an invest...,The Ministry of Defence said yesterday : “We c...,"[6, 27]",None,`` '',None
22033,5793,21,Punctuation changes,yes,Gehring waived extradition Monday during a hea...,Gehring waived extradition Monday during a hea...,[10],None,",",None
22043,5794,21,Punctuation changes,yes,`` I am advised that certain allegations of cr...,`` I am advised that certain allegations of cr...,None,[26],None,``\n

Some punctuation changes are substitutions (the ones with two keys), and some are additions/deletions (the ones where there's only one key, and the other key is `None`).

We'll need to treat them separately:

In [35]:
punct_adddel, punct_subs = split_add_sub(punctuation)

In [36]:
substitute(21, punct_adddel, 8)

Double check type overwriting: row 480, sentence 2
Common indices: [17] | Pre-existing types: ['3_0']
Double check type overwriting: row 896, sentence 2
Common indices: [7] | Pre-existing types: ['3_0']
Double check type overwriting: row 1115, sentence 2
Common indices: [5] | Pre-existing types: ['3_0']
Double check type overwriting: row 1346, sentence 2
Common indices: [1, 3] | Pre-existing types: ['3_1 & 5_0' '3_1 & 5_0']
Double check type overwriting: row 1398, sentence 2
Common indices: [14] | Pre-existing types: ['3_0']

Double check type overwriting: row 1533, sentence 1
Common indices: [18] | Pre-existing types: ['3_0']
Double check type overwriting: row 1586, sentence 2
Common indices: [27] | Pre-existing types: ['3_0']
Double check type overwriting: row 1586, sentence 2
Common indices: [19] | Pre-existing types: ['3_0']
Double check type overwriting: row 1593, sentence 1
Common indices: [3] | Pre-existing types: ['3_0']
Double check type overwriting: row 1667, sentence 2
Common indices: [3] | Pre-existing types: ['3_0']
Double check type overwriting: row 2154, sentence 1
Common indices: [10] | Pre-existing types: ['3_0']
Double check type overwriting: row 2417, sentence 2
Common indices: [0, 22] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 2453, sentence 2
Common indices: [17] | Pre-existing types: ['3_0']
Double check type overwriting: row 2889, sentence 1
Common indices: [8, 12] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 2986, sentence 1
Common indices: [6] | Pre-existing types: ['3_0']
Double check type overwriting: row 3191, sentence 2
Common indices: [14] | Pre-existing types: ['3_0']
Double check type overwriting: row 3192, sentence 1
Common indices: [16] | Pre-existing types: ['3_0']
Double check type overwriting: row 3411, sentence 1
Common indices: [18] | Pre-existing types: ['3_0']
Double check type overwriting: row 3569, sentence 1
Common indices: [5, 6] | Pre-existing types: ['5_0' '5_0']
Double check type overwriting: row 4607, sentence 1
Common indices: [3, 11] | Pre-existing types: ['3_1 & 6_0' '3_1']
Double check type overwriting: row 4643, sentence 1
Common indices: [17] | Pre-existing types: ['3_1']
Double check type overwriting: row 5001, sentence 1
Common indices: [13] | Pre-existing types: ['3_0']
Double check type overwriting: row 5753, sentence 2
Common indices: [4, 5] | Pre-existing types: ['8_0' '8_0']

In [37]:
substitute(21, punct_subs, 7)

Double check type overwriting: row 401, sentence 1
Common indices: [0, 12] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 401, sentence 2
Common indices: [13] | Pre-existing types: ['3_0']
Double check type overwriting: row 449, sentence 1
Common indices: [14, 17] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 449, sentence 2
Common indices: [5, 16] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 573, sentence 1
Common indices: [0] | Pre-existing types: ['3_0']
Double check type overwriting: row 573, sentence 2
Common indices: [5] | Pre-existing types: ['3_0']
Double check type overwriting: row 656, sentence 1
Common indices: [25] | Pre-existing types: ['3_0']
Double check type overwriting: row 656, sentence 2
Common indices: [20] | Pre-existing types: ['3_0']
Double check type overwriting: row 790, sentence 1
Common indices: [3] | Pre-existing types: ['3_0']
Double check type overwriting: row 790, sentence 2
Common indices: [0, 20] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 813, sentence 1
Common indices: [18] | Pre-existing types: ['3_0']
Double check type overwriting: row 813, sentence 2
Common indices: [0, 8] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 933, sentence 1
Common indices: [8, 20] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 933, sentence 2
Common indices: [0, 13] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 970, sentence 1
Common indices: [23, 32] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 970, sentence 2
Common indices: [3, 11] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 1141, sentence 1
Common indices: [11] | Pre-existing types: ['3_0']
Double check type overwriting: row 1141, sentence 2
Common indices: [0, 21] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 1255, sentence 1
Common indices: [15, 29] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 1255, sentence 2
Common indices: [0, 18] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 1393, sentence 1
Common indices: [4] | Pre-existing types: ['3_0']
Double check type overwriting: row 1393, sentence 2
Common indices: [0, 14] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 1527, sentence 1
Common indices: [0, 16] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 1527, sentence 2
Common indices: [9] | Pre-existing types: ['3_0']
Double check type overwriting: row 1633, sentence 1
Common indices: [0, 20] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 1633, sentence 2
Common indices: [7] | Pre-existing types: ['3_0']
Double check type overwriting: row 2068, sentence 1
Common indices: [13] | Pre-existing types: ['3_0']
Double check type overwriting: row 2068, sentence 2
Common indices: [0, 7] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 2116, sentence 1
Common indices: [0] | Pre-existing types: ['3_0']
Double check type overwriting: row 2116, sentence 2
Common indices: [8] | Pre-existing types: ['3_0']
Double check type overwriting: row 2453, sentence 1
Common indices: [17, 19] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 2453, sentence 2
Common indices: [9, 11] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 2453, sentence 1
Common indices: [3, 5] | Pre-existing types: ['3_1' '3_1']
Double check type overwriting: row 2453, sentence 2
Common indices: [23, 25] | Pre-existing types: ['3_1' '3_1']
Double check type overwriting: row 2765, sentence 2
Common indices: [7] | Pre-existing types: ['5_1']
Double check type overwriting: row 3192, sentence 1
Common indices: [8] | Pre-existing types: ['3_0']
Double check type overwriting: row 3192, sentence 2
Common indices: [0, 13] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 3680, sentence 1
Common indices: [10, 20] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 3680, sentence 2
Common indices: [0, 13] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 3690, sentence 1
Common indices: [0] | Pre-existing types: ['3_0']
Double check type overwriting: row 3690, sentence 2
Common indices: [8] | Pre-existing types: ['3_0']
Double check type overwriting: row 4053, sentence 2
Common indices: [7] | Pre-existing types: ['5_0']
Double check type overwriting: row 4144, sentence 1
Common indices: [13] | Pre-existing types: ['3_0']
Double check type overwriting: row 4144, sentence 2
Common indices: [0, 18] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 4346, sentence 1
Common indices: [7, 14, 21, 26] | Pre-existing types: ['3_0' '3_0 & 3_1' '3_0 & 3_1' '3_0 & 3_1']
Double check type overwriting: row 4346, sentence 2
Common indices: [4, 5, 8, 15, 16, 22] | Pre-existing types: ['3_0 & 3_1' '3_0 & 3_1' '3_0 & 3_1' '3_0' '3_0' '3_0']
Double check type overwriting: row 4643, sentence 1
Common indices: [3] | Pre-existing types: ['3_1']
Double check type overwriting: row 4643, sentence 2
Common indices: [0, 28] | Pre-existing types: ['3_1' '3_1']
Double check type overwriting: row 4674, sentence 1
Common indices: [0, 24] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 4674, sentence 2
Common indices: [9] | Pre-existing types: ['3_0']
Double check type overwriting: row 4734, sentence 1
Common indices: [13] | Pre-existing types: ['3_0']
Double check type overwriting: row 4734, sentence 2
Common indices: [9] | Pre-existing types: ['3_0']
Double check type overwriting: row 4865, sentence 1
Common indices: [0, 21] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 4865, sentence 2
Common indices: [11, 17] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 5223, sentence 1
Common indices: [10] | Pre-existing types: ['3_0']
Double check type overwriting: row 5223, sentence 2
Common indices: [0, 14] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 5292, sentence 1
Common indices: [0, 14] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 5292, sentence 2
Common indices: [9] | Pre-existing types: ['3_0']
Double check type overwriting: row 5461, sentence 1
Common indices: [9] | Pre-existing types: ['3_0 & 7_1']
Double check type overwriting: row 5461, sentence 2
Common indices: [0, 22] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 5513, sentence 1
Common indices: [14, 29] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 5513, sentence 2
Common indices: [0, 22] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 5517, sentence 1
Common indices: [12, 13] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 5517, sentence 2
Common indices: [5, 7] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 5517, sentence 1
Common indices: [7] | Pre-existing types: ['3_0']
Double check type overwriting: row 5517, sentence 2
Common indices: [0, 15] | Pre-existing types: ['3_0' '3_0']

### Named Entity Substitution

In [38]:
substitute(7)

Double check type overwriting: row 14, sentence 1
Common indices: [7] | Pre-existing types: ['3_0']
Double check type overwriting: row 14, sentence 2
Common indices: [1] | Pre-existing types: ['3_0']
Double check type overwriting: row 14, sentence 1
Common indices: [6, 7] | Pre-existing types: ['3_0' '3_0 & 5_0']
Double check type overwriting: row 14, sentence 2
Common indices: [1] | Pre-existing types: ['3_0 & 5_0']
Double check type overwriting: row 172, sentence 1
Common indices: [23, 24] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 172, sentence 2
Common indices: [18, 19, 20, 21] | Pre-existing types: ['3_0' '3_0' '3_0' '3_0']
Double check type overwriting: row 272, sentence 1
Common indices: [19] | Pre-existing types: ['3_0']
Double check type overwriting: row 272, sentence 2
Common indices: [18, 19] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 272, sentence 1
Common indices: [18, 19] | Pre-existing types: ['3_0' '3_0 & 5_0']
Double check type overwriting: row 272, sentence 2
Common indices: [18, 19] | Pre-existing types: ['3_0 & 5_0' '3_0 & 5_0']
Double check type overwriting: row 315, sentence 1
Common indices: [0, 1] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 315, sentence 2
Common indices: [24] | Pre-existing types: ['3_0']
Double check type overwriting: row 319, sentence 1
Common indices: [0, 1] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 319, sentence 2
Common indices: [16] | Pre-existing types: ['3_0']
Double check type overwriting: row 319, sentence 1
Common indices: [0, 1] | Pre-existing types: ['3_0 & 5_0' '3_0 & 5_0']
Double check type overwriting: row 319, sentence 2
Common indices: [15, 16] | Pre-existing types: ['3_0' '3_0 & 5_0']
Double check type overwriting: row 392, sentence 1
Common indices: [24, 25] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 392, sentence 2
Common indices: [15] | Pre-existing types: ['3_0']
Double check type overwriting: row 411, sentence 1
Common indices: [5, 6] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 411, sentence 2
Common indices: [8, 9] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 412, sentence 1
Common indices: [13] | Pre-existing types: ['7_0']
Double check type overwriting: row 412, sentence 2
Common indices: [12] | Pre-existing types: ['7_0']
Double check type overwriting: row 412, sentence 1
Common indices: [11, 13, 14] | Pre-existing types: ['5_0' '7_0 & 5_0' '7_0']
Double check type overwriting: row 412, sentence 2
Common indices: [11, 12, 13] | Pre-existing types: ['5_0' '7_0 & 5_0' '7_0']
Double check type overwriting: row 422, sentence 1
Common indices: [22] | Pre-existing types: ['7_0']
Double check type overwriting: row 422, sentence 2
Common indices: [18] | Pre-existing types: ['7_0']
Double check type overwriting: row 458, sentence 1
Common indices: [15] | Pre-existing types: ['3_0 & 7_0']
Double check type overwriting: row 466, sentence 1
Common indices: [10, 11] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 466, sentence 2
Common indices: [12, 13, 14] | Pre-existing types: ['3_0' '3_0' '3_0']
Double check type overwriting: row 470, sentence 1
Common indices: [16] | Pre-existing types: ['3_0']
Double check type overwriting: row 470, sentence 2
Common indices: [21, 22] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 527, sentence 1
Common indices: [19, 20, 22] | Pre-existing types: ['7_0' '7_0' '5_0']
Double check type overwriting: row 527, sentence 2
Common indices: [16, 18, 19] | Pre-existing types: ['5_0' '7_0' '7_0']
Double check type overwriting: row 528, sentence 1
Common indices: [9, 10] | Pre-existing types: ['5_0' '5_0']
Double check type overwriting: row 528, sentence 2
Common indices: [8] | Pre-existing types: ['5_0']
Double check type overwriting: row 566, sentence 1
Common indices: [7, 8] | Pre-existing types: ['5_0' '5_0']
Double check type overwriting: row 566, sentence 2
Common indices: [3] | Pre-existing types: ['5_0']
Double check type overwriting: row 571, sentence 1
Common indices: [17, 18, 19, 21] | Pre-existing types: ['5_0' '5_0' '5_0' '7_1']
Double check type overwriting: row 571, sentence 2
Common indices: [19, 20] | Pre-existing types: ['5_0' '7_1']
Double check type overwriting: row 692, sentence 1
Common indices: [21] | Pre-existing types: ['5_0']
Double check type overwriting: row 692, sentence 2
Common indices: [25] | Pre-existing types: ['5_0']
Double check type overwriting: row 739, sentence 1
Common indices: [14, 15, 16, 17] | Pre-existing types: ['3_1' '3_1' '3_1' '3_1']
Double check type overwriting: row 739, sentence 2
Common indices: [18, 19, 20] | Pre-existing types: ['3_1' '3_1' '3_1']
Double check type overwriting: row 744, sentence 1
Common indices: [24, 25, 27] | Pre-existing types: ['7_0' '8_0' '8_0']
Double check type overwriting: row 744, sentence 2
Common indices: [24] | Pre-existing types: ['7_0']
Double check type overwriting: row 813, sentence 1
Common indices: [0] | Pre-existing types: ['7_1']
Double check type overwriting: row 813, sentence 2
Common indices: [16] | Pre-existing types: ['7_1']
Double check type overwriting: row 1237, sentence 1
Common indices: [1] | Pre-existing types: ['5_0']
Double check type overwriting: row 1237, sentence 2
Common indices: [6, 7] | Pre-existing types: ['5_0' '5_0']
Double check type overwriting: row 1297, sentence 1
Common indices: [0, 1] | Pre-existing types: ['5_0' '5_0']
Double check type overwriting: row 1297, sentence 2
Common indices: [2] | Pre-existing types: ['5_0']
Double check type overwriting: row 1338, sentence 1
Common indices: [17, 18] | Pre-existing types: ['5_1' '5_1']
Double check type overwriting: row 1338, sentence 2
Common indices: [19] | Pre-existing types: ['5_1']
Double check type overwriting: row 1758, sentence 1
Common indices: [8] | Pre-existing types: ['5_0']
Double check type overwriting: row 1758, sentence 2
Common indices: [7, 8] | Pre-existing types: ['5_0' '5_0']
Double check type overwriting: row 1866, sentence 1
Common indices: [18] | Pre-existing types: ['3_0']
Double check type overwriting: row 1866, sentence 2
Common indices: [0, 1] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 1942, sentence 1
Common indices: [5] | Pre-existing types: ['7_0']
Double check type overwriting: row 1942, sentence 2
Common indices: [4] | Pre-existing types: ['7_0']
Double check type overwriting: row 2375, sentence 1
Common indices: [10] | Pre-existing types: ['5_0']
Double check type overwriting: row 2375, sentence 2
Common indices: [10, 11] | Pre-existing types: ['5_0' '5_0']
Double check type overwriting: row 2425, sentence 1
Common indices: [1] | Pre-existing types: ['5_0']
Double check type overwriting: row 2425, sentence 2
Common indices: [1] | Pre-existing types: ['5_0']
Double check type overwriting: row 2673, sentence 1
Common indices: [4] | Pre-existing types: ['5_0']
Double check type overwriting: row 2690, sentence 1
Common indices: [27, 28] | Pre-existing types: ['3_0' '3_0 & 5_0']
Double check type overwriting: row 2690, sentence 2
Common indices: [26, 27] | Pre-existing types: ['3_0 & 5_0' '3_0 & 5_0']
Double check type overwriting: row 2860, sentence 1
Common indices: [11, 12, 13, 14, 15, 16] | Pre-existing types: ['5_1' '5_1' '5_1' '5_1' '5_1' '5_1']
Double check type overwriting: row 2860, sentence 2
Common indices: [7] | Pre-existing types: ['5_1']
Double check type overwriting: row 2924, sentence 1
Common indices: [0, 1] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 2924, sentence 2
Common indices: [7] | Pre-existing types: ['3_0']
Double check type overwriting: row 2965, sentence 1
Common indices: [16, 17, 18, 19, 20] | Pre-existing types: ['5_1' '5_1' '5_1' '5_1' '5_1']
Double check type overwriting: row 2965, sentence 2
Common indices: [7, 8, 9] | Pre-existing types: ['5_1' '5_1' '5_1']
Double check type overwriting: row 2966, sentence 1
Common indices: [7] | Pre-existing types: ['5_0']
Double check type overwriting: row 2966, sentence 2
Common indices: [0, 1] | Pre-existing types: ['5_0' '5_0']
Double check type overwriting: row 3014, sentence 1
Common indices: [4] | Pre-existing types: ['5_0']
Double check type overwriting: row 3014, sentence 2
Common indices: [4, 5] | Pre-existing types: ['5_0' '5_0']
Double check type overwriting: row 3223, sentence 1
Common indices: [0] | Pre-existing types: ['7_0']
Double check type overwriting: row 3223, sentence 2
Common indices: [1] | Pre-existing types: ['7_0']
Double check type overwriting: row 3223, sentence 1
Common indices: [6] | Pre-existing types: ['7_1']
Double check type overwriting: row 3223, sentence 2
Common indices: [9] | Pre-existing types: ['7_1']
Double check type overwriting: row 4069, sentence 1
Common indices: [3] | Pre-existing types: ['7_0']
Double check type overwriting: row 4069, sentence 2
Common indices: [6] | Pre-existing types: ['7_0']
Double check type overwriting: row 4093, sentence 1
Common indices: [25] | Pre-existing types: ['7_0']
Double check type overwriting: row 4093, sentence 2
Common indices: [30] | Pre-existing types: ['7_0']
Double check type overwriting: row 4259, sentence 1
Common indices: [10, 11, 12] | Pre-existing types: ['5_1' '5_1' '5_1']
Double check type overwriting: row 4259, sentence 2
Common indices: [15, 16, 17, 18] | Pre-existing types: ['5_1' '5_1' '5_1' '5_1']
Double check type overwriting: row 4307, sentence 1
Common indices: [9, 10] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 4307, sentence 2
Common indices: [12, 13] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 4379, sentence 1
Common indices: [21] | Pre-existing types: ['3_0']
Double check type overwriting: row 4379, sentence 2
Common indices: [20, 21] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 4462, sentence 1
Common indices: [17, 18] | Pre-existing types: ['3_1' '3_1']
Double check type overwriting: row 4462, sentence 2
Common indices: [9, 10, 11] | Pre-existing types: ['3_1' '3_1' '3_1']
Double check type overwriting: row 4514, sentence 1
Common indices: [9] | Pre-existing types: ['3_0']
Double check type overwriting: row 4514, sentence 2
Common indices: [8, 9] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 4650, sentence 1
Common indices: [11, 12, 13, 14, 15, 16, 17] | Pre-existing types: ['3_0' '3_0' '3_0' '3_0' '3_0' '3_0' '3_0']
Double check type overwriting: row 4650, sentence 2
Common indices: [10] | Pre-existing types: ['3_0']
Double check type overwriting: row 4738, sentence 1
Common indices: [8, 9] | Pre-existing types: ['7_0' '7_0']
Double check type overwriting: row 4738, sentence 2
Common indices: [8, 9, 10] | Pre-existing types: ['7_0' '7_0' '7_0']
Double check type overwriting: row 4814, sentence 1
Common indices: [0, 1] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 4814, sentence 2
Common indices: [16] | Pre-existing types: ['3_0']
Double check type overwriting: row 4841, sentence 1
Common indices: [13, 14] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 4841, sentence 2
Common indices: [14] | Pre-existing types: ['3_0']
Double check type overwriting: row 4844, sentence 1
Common indices: [7] | Pre-existing types: ['7_0']
Double check type overwriting: row 4844, sentence 2
Common indices: [22, 23] | Pre-existing types: ['7_0' '7_1']
Double check type overwriting: row 4844, sentence 1
Common indices: [2, 3] | Pre-existing types: ['5_0' '5_0']
Double check type overwriting: row 4844, sentence 2
Common indices: [21] | Pre-existing types: ['5_0']
Double check type overwriting: row 4913, sentence 1
Common indices: [17] | Pre-existing types: ['7_1']
Double check type overwriting: row 4913, sentence 2
Common indices: [15, 16, 17] | Pre-existing types: ['7_1' '7_1' '7_1']
Double check type overwriting: row 4975, sentence 1
Common indices: [20, 21] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 4975, sentence 2
Common indices: [19] | Pre-existing types: ['3_0']
Double check type overwriting: row 4982, sentence 1
Common indices: [10] | Pre-existing types: ['3_0']
Double check type overwriting: row 4982, sentence 2
Common indices: [12, 13] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 4998, sentence 1
Common indices: [5] | Pre-existing types: ['5_0']
Double check type overwriting: row 4998, sentence 2
Common indices: [9, 10] | Pre-existing types: ['5_0' '5_0']
Double check type overwriting: row 5064, sentence 1
Common indices: [21, 22, 23] | Pre-existing types: ['3_0' '3_0' '3_0']
Double check type overwriting: row 5064, sentence 2
Common indices: [18, 19, 20, 21] | Pre-existing types: ['3_0' '3_0' '3_0' '3_0']
Double check type overwriting: row 5141, sentence 1
Common indices: [0] | Pre-existing types: ['5_0']
Double check type overwriting: row 5141, sentence 2
Common indices: [0, 1] | Pre-existing types: ['5_0' '5_0']
Double check type overwriting: row 5141, sentence 1
Common indices: [17] | Pre-existing types: ['7_0']
Double check type overwriting: row 5141, sentence 2
Common indices: [19] | Pre-existing types: ['7_0']
Double check type overwriting: row 5223, sentence 1
Common indices: [18, 19] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 5223, sentence 2
Common indices: [8, 9, 10, 11, 12] | Pre-existing types: ['3_0' '3_0' '3_0' '3_0' '3_0']
Double check type overwriting: row 5249, sentence 1
Common indices: [0, 1] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 5249, sentence 2
Common indices: [7] | Pre-existing types: ['3_0']
Double check type overwriting: row 5276, sentence 1
Common indices: [22] | Pre-existing types: ['7_0']
Double check type overwriting: row 5276, sentence 2
Common indices: [18] | Pre-existing types: ['7_0']
Double check type overwriting: row 5294, sentence 1
Common indices: [20] | Pre-existing types: ['3_0']
Double check type overwriting: row 5294, sentence 2
Common indices: [3, 4] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 5337, sentence 1
Common indices: [0, 1, 2, 3] | Pre-existing types: ['3_1' '3_1' '3_1' '3_1']
Double check type overwriting: row 5337, sentence 2
Common indices: [17, 18, 19, 20, 21, 22, 23] | Pre-existing types: ['3_1' '3_1' '3_1' '3_1' '3_1' '3_1' '3_1']
Double check type overwriting: row 5339, sentence 1
Common indices: [1] | Pre-existing types: ['3_0']
Double check type overwriting: row 5339, sentence 2
Common indices: [11, 12] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 5360, sentence 1
Common indices: [6] | Pre-existing types: ['3_0']
Double check type overwriting: row 5360, sentence 2
Common indices: [9, 10, 11, 12, 13] | Pre-existing types: ['3_0' '3_0' '3_0' '3_0' '3_0']
Double check type overwriting: row 5395, sentence 1
Common indices: [17] | Pre-existing types: ['3_0']
Double check type overwriting: row 5395, sentence 2
Common indices: [5, 6, 7] | Pre-existing types: ['3_0' '3_0' '3_0']
Double check type overwriting: row 5425, sentence 1
Common indices: [24] | Pre-existing types: ['3_0']
Double check type overwriting: row 5425, sentence 2
Common indices: [19, 20] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 5489, sentence 1
Common indices: [21] | Pre-existing types: ['5_0']
Double check type overwriting: row 5489, sentence 2
Common indices: [21] | Pre-existing types: ['5_0']
Double check type overwriting: row 5630, sentence 1
Common indices: [25] | Pre-existing types: ['3_0']
Double check type overwriting: row 5630, sentence 2
Common indices: [30, 31] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 5655, sentence 1
Common indices: [15, 16] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 5655, sentence 2
Common indices: [14, 15, 16] | Pre-existing types: ['3_0' '3_0' '3_0']
Double check type overwriting: row 5678, sentence 1
Common indices: [24, 25] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 5678, sentence 2
Common indices: [23] | Pre-existing types: ['3_0']
Double check type overwriting: row 5754, sentence 1
Common indices: [5, 6] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 5754, sentence 2
Common indices: [7] | Pre-existing types: ['3_0']
Double check type overwriting: row 5761, sentence 1
Common indices: [1, 2, 3, 4, 5] | Pre-existing types: ['3_0' '3_0' '3_0' '3_0' '3_0']
Double check type overwriting: row 5761, sentence 2
Common indices: [25, 26] | Pre-existing types: ['3_0' '3_0']

### Synthetic/Analytic Substitution

In [39]:
def differ_by_one(s1, s2):
    s1_list = s1.lower().split()
    s2_list = s2.lower().split()
    return abs(len(s1_list) - len(s2_list)) == 1

In [40]:
textual_paraphrases[textual_paraphrases['type_id'] == 11]

,pair_id,type_id,type_name,sense_preserving,s1_scope,s2_scope,s1_text,s2_text,key_s1,key_s2,k1_text,k2_text
13,5,11,Synthetic/analytic substitution,yes,[13],"[20, 21]",Friday,on Friday,None,None,None,None
21,6,11,Synthetic/analytic substitution,yes,"[1, 2, 3, 4, 5, 6, 7]","[10, 11, 12, 13, 14, 15]",in the first quarter of the year,the first quarter of the year,None,None,None,None
63,23,11,Synthetic/analytic substitution,yes,"[12, 13, 14, 15, 16, 17]","[14, 15, 16, 17]",western portions of the Dominican Republic,the western Dominican Republic,None,None,None,None
73,27,11,Synthetic/analytic substitution,yes,[8],"[8, 9, 10]",struck,managed to strike,None,None,None,None
88,32,11,Synthetic/analytic substitution,yes,"[3, 4, 5, 6, 7, 8, 9]","[7, 8, 9, 10, 11, 12, 13, 14]",the United States ' 12th-largest trading partner,the 12th-largest trading partner of the United...,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...
22020,5791,11,Synthetic/analytic substitution,yes,"[0, 1]","[7, 8, 9]",Remaining shares,the remaining shares,None,None,None,None
22021,5791,11,Synthetic/analytic substitution,yes,"[6, 7, 8]","[3, 4, 5]",QVC 's management,QVC management team,None,None,None,None
22022,5791,11,Synthetic/analytic substitution,yes,"[6, 7, 8]","[2, 3, 4, 5]",QVC 's management,the QVC management team,None,None,None,None
22035,5793,11,Synthetic/analytic substitution,yes,"[21, 22]",[19],on Tuesday,Tuesday,None,None,None,None
22061,5801,11,Synthetic/analytic substitution,yes,"[13, 14]",[14],such familiar,familiar,None,None,None,None

In [41]:
new = pd.DataFrame(columns = textual_paraphrases.columns, data = copy.deepcopy(textual_paraphrases.values))
new = new[new['type_id'] == 11]
new['s1_text'] = new['s1_text'].str.lower() 
new['s2_text'] = new['s2_text'].str.lower() 
new = new[new.apply(lambda x: differ_by_one(x.s1_text, x.s2_text), axis=1)]
new

,pair_id,type_id,type_name,sense_preserving,s1_scope,s2_scope,s1_text,s2_text,key_s1,key_s2,k1_text,k2_text
13,5,11,Synthetic/analytic substitution,yes,[13],"[20, 21]",friday,on friday,None,None,None,None
21,6,11,Synthetic/analytic substitution,yes,"[1, 2, 3, 4, 5, 6, 7]","[10, 11, 12, 13, 14, 15]",in the first quarter of the year,the first quarter of the year,None,None,None,None
88,32,11,Synthetic/analytic substitution,yes,"[3, 4, 5, 6, 7, 8, 9]","[7, 8, 9, 10, 11, 12, 13, 14]",the united states ' 12th-largest trading partner,the 12th-largest trading partner of the united...,None,None,None,None
146,48,11,Synthetic/analytic substitution,yes,"[8, 9]",[12],its earnings,earnings,None,None,None,None
156,50,11,Synthetic/analytic substitution,yes,"[10, 11, 12]","[10, 11, 12, 13]",significant economic growth,a significant economic growth,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...
22011,5788,11,Synthetic/analytic substitution,yes,"[0, 1]",[4],pwc itself,pwc,None,None,None,None
22020,5791,11,Synthetic/analytic substitution,yes,"[0, 1]","[7, 8, 9]",remaining shares,the remaining shares,None,None,None,None
22022,5791,11,Synthetic/analytic substitution,yes,"[6, 7, 8]","[2, 3, 4, 5]",qvc 's management,the qvc management team,None,None,None,None
22035,5793,11,Synthetic/analytic substitution,yes,"[21, 22]",[19],on tuesday,tuesday,None,None,None,None
22061,5801,11,Synthetic/analytic substitution,yes,"[13, 14]",[14],such familiar,familiar,None,None,None,None

In [42]:
new['s1_scope'], new['s2_scope'], new['s1_text'], new['s2_text'] = new.apply(lambda x: trim_duplicates(x.s1_scope, x.s2_scope, x.s1_text, x.s2_text), axis=1, result_type='expand').transpose().values
new

,pair_id,type_id,type_name,sense_preserving,s1_scope,s2_scope,s1_text,s2_text,key_s1,key_s2,k1_text,k2_text
13,5,11,Synthetic/analytic substitution,yes,[],[20],,on,None,None,None,None
21,6,11,Synthetic/analytic substitution,yes,[1],[],in,,None,None,None,None
88,32,11,Synthetic/analytic substitution,yes,[6],[11],',of,None,None,None,None
146,48,11,Synthetic/analytic substitution,yes,[8],[],its,,None,None,None,None
156,50,11,Synthetic/analytic substitution,yes,[],[10],,a,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...
22011,5788,11,Synthetic/analytic substitution,yes,[1],[],itself,,None,None,None,None
22020,5791,11,Synthetic/analytic substitution,yes,[],[7],,the,None,None,None,None
22022,5791,11,Synthetic/analytic substitution,yes,[7],"[2, 5]",'s,the team,None,None,None,None
22035,5793,11,Synthetic/analytic substitution,yes,[21],[],on,,None,None,None,None
22061,5801,11,Synthetic/analytic substitution,yes,[13],[],such,,None,None,None,None

In [43]:
new['s1_text'] = new['s1_text'].apply(lambda x: None if x == '' else x)
new['s2_text'] = new['s2_text'].apply(lambda x: None if x == '' else x)
new['s1_scope'] = new['s1_scope'].apply(lambda x: None if list(x) == [] else x)
new['s2_scope'] = new['s2_scope'].apply(lambda x: None if list(x) == [] else x)

In [44]:
new

,pair_id,type_id,type_name,sense_preserving,s1_scope,s2_scope,s1_text,s2_text,key_s1,key_s2,k1_text,k2_text
13,5,11,Synthetic/analytic substitution,yes,None,[20],None,on,None,None,None,None
21,6,11,Synthetic/analytic substitution,yes,[1],None,in,None,None,None,None,None
88,32,11,Synthetic/analytic substitution,yes,[6],[11],',of,None,None,None,None
146,48,11,Synthetic/analytic substitution,yes,[8],None,its,None,None,None,None,None
156,50,11,Synthetic/analytic substitution,yes,None,[10],None,a,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...
22011,5788,11,Synthetic/analytic substitution,yes,[1],None,itself,None,None,None,None,None
22020,5791,11,Synthetic/analytic substitution,yes,None,[7],None,the,None,None,None,None
22022,5791,11,Synthetic/analytic substitution,yes,[7],"[2, 5]",'s,the team,None,None,None,None
22035,5793,11,Synthetic/analytic substitution,yes,[21],None,on,None,None,None,None,None
22061,5801,11,Synthetic/analytic substitution,yes,[13],None,such,None,None,None,None,None

In [45]:
new_adddel = new[(new['s1_scope'].isnull()) | (new['s2_scope'].isnull())]
new_subs = new[~((new['s1_scope'].isnull()) | (new['s2_scope'].isnull()))]

In [46]:
new_adddel[:30]

,pair_id,type_id,type_name,sense_preserving,s1_scope,s2_scope,s1_text,s2_text,key_s1,key_s2,k1_text,k2_text
13,5,11,Synthetic/analytic substitution,yes,None,[20],None,on,None,None,None,None
21,6,11,Synthetic/analytic substitution,yes,[1],None,in,None,None,None,None,None
146,48,11,Synthetic/analytic substitution,yes,[8],None,its,None,None,None,None,None
156,50,11,Synthetic/analytic substitution,yes,None,[10],None,a,None,None,None,None
253,74,11,Synthetic/analytic substitution,yes,[9],None,all,None,None,None,None,None
307,87,11,Synthetic/analytic substitution,yes,[20],None,many,None,None,None,None,None
551,150,11,Synthetic/analytic substitution,yes,None,[13],None,the,None,None,None,None
650,172,11,Synthetic/analytic substitution,yes,[14],None,more,None,None,None,None,None
656,173,11,Synthetic/analytic substitution,yes,[18],None,'s,None,None,None,None,None
662,174,11,Synthetic/analytic substitution,yes,[24],None,its,None,None,None,None,None
696,182,11,Synthetic/analytic substitution,yes,None,[20],None,the,None,None,None,None
752,199,11,Synthetic/analytic substitution,yes,None,[1],None,'s,None,None,None,None
1029,267,11,Synthetic/analytic substitution,yes,None,[6],None,of,None,None,None,None
1105,282,11,Synthetic/analytic substitution,yes,[13],None,services,None,None,None,None,None
1278,325,11,Synthetic/analytic substitution,yes,[13],None,'s,None,None,None,None,None
1327,337,11,Synthetic/analytic substitution,yes,None,[13],None,such,None,None,None,None
1353,347,11,Synthetic/analytic substitution,yes,None,[5],None,some,None,None,None,None
1357,347,11,Synthetic/analytic substitution,yes,[2],None,for,None,None,None,None,None
1454,381,11,Synthetic/analytic substitution,yes,[13],None,the,None,None,None,None,None
1637,429,11,Synthetic/analytic substitution,yes,[1],None,for,None,None,None,None,None
1647,432,11,Synthetic/analytic substitution,yes,[9],None,the,None,None,None,None,None
1683,440,11,Synthetic/analytic substitution,yes,None,[11],None,only,None,None,None,None
1787,467,11,Synthetic/analytic substitution,yes,None,[4],None,good,None,None,None,None
1926,510,11,Synthetic/analytic substitution,yes,[20],None,next,None,None,None,None,None
1932,511,11,Synthetic/analytic substitution,yes,None,[0],None,the,None,None,None,None
1978,523,11,Synthetic/analytic substitution,yes,None,[11],None,the,None,None,None,None
2092,551,11,Synthetic/analytic substitution,yes,None,None,None,None,None,None,None,None
2257,595,11,Synthetic/analytic substitution,yes,None,[6],None,on,None,None,None,None
2465,643,11,Synthetic/analytic substitution,yes,[14],None,its,None,None,None,None,None
2481,647,11,Synthetic/analytic substitution,yes,[12],None,on,None,None,None,None,None

In [47]:
substitute(11, new_adddel, 1, False)

In [48]:
new_subs[:30]

,pair_id,type_id,type_name,sense_preserving,s1_scope,s2_scope,s1_text,s2_text,key_s1,key_s2,k1_text,k2_text
88,32,11,Synthetic/analytic substitution,yes,[6],[11],',of,None,None,None,None
321,89,11,Synthetic/analytic substitution,yes,"[7, 8]","[9, 11]",nation 's,in us,None,None,None,None
649,172,11,Synthetic/analytic substitution,yes,"[5, 7]",[6],the cost,prices,None,None,None,None
686,180,11,Synthetic/analytic substitution,yes,[12],"[13, 14]",mexican,of mexico,None,None,None,None
860,222,11,Synthetic/analytic substitution,yes,[12],[8],federal,us,None,None,None,None
1023,265,11,Synthetic/analytic substitution,yes,[19],[9],in,',None,None,None,None
1090,279,11,Synthetic/analytic substitution,yes,[8],"[3, 5]",makers,the manufacturers,None,None,None,None
1210,309,11,Synthetic/analytic substitution,yes,"[20, 21]",[21],the pool,pools,None,None,None,None
1562,410,11,Synthetic/analytic substitution,yes,"[9, 10]",[8],indicating creditworthiness,credit,None,None,None,None
1567,411,11,Synthetic/analytic substitution,yes,[4],"[4, 6]",comment,an response,None,None,None,None
1872,493,11,Synthetic/analytic substitution,yes,"[18, 19]",[14],at the,state,None,None,None,None
1925,510,11,Synthetic/analytic substitution,yes,"[0, 2, 3, 4]","[1, 2, 3]",chechen working for the,in chechnya 's,None,None,None,None
1988,526,11,Synthetic/analytic substitution,yes,"[3, 4]","[20, 21, 22]",the third-quarter,this quarter 's,None,None,None,None
2105,554,11,Synthetic/analytic substitution,yes,"[17, 18]",[18],by 2,two,None,None,None,None
2619,684,11,Synthetic/analytic substitution,yes,"[1, 2]",[1],other films,movies,None,None,None,None
2689,704,11,Synthetic/analytic substitution,yes,"[10, 11]",[9],'s initial,the,None,None,None,None
2998,792,11,Synthetic/analytic substitution,yes,"[12, 13]","[20, 21, 22]",house arrest,detention at home,None,None,None,None
3215,858,11,Synthetic/analytic substitution,yes,"[5, 6]","[4, 5]",today 's,tuesday in,None,None,None,None
3431,916,11,Synthetic/analytic substitution,yes,[4],"[5, 6]",finance,financial officer,None,None,None,None
3766,1013,11,Synthetic/analytic substitution,yes,"[7, 8]",[8],the 11th,11,None,None,None,None
3808,1022,11,Synthetic/analytic substitution,yes,"[6, 7, 9]","[6, 8]",market 's indices,markets indexes,None,None,None,None
4019,1076,11,Synthetic/analytic substitution,yes,"[2, 5]",[4],the systems,'s,None,None,None,None
4131,1111,11,Synthetic/analytic substitution,yes,[4],"[2, 4]",courtiers,the family,None,None,None,None
4409,1189,11,Synthetic/analytic substitution,yes,"[9, 10]","[4, 9, 11]",'s shareholders,holders of shares,None,None,None,None
4761,1286,11,Synthetic/analytic substitution,yes,"[7, 10]",[8],a in,an,None,None,None,None
4798,1298,11,Synthetic/analytic substitution,yes,"[9, 11]",[7],a attack,failure,None,None,None,None
4848,1312,11,Synthetic/analytic substitution,yes,"[9, 10, 11]","[9, 10]",3 to 1,about 3-to-1,None,None,None,None
4849,1312,11,Synthetic/analytic substitution,yes,"[23, 24, 25]","[22, 23]",2 to 1,about 2-to-1,None,None,None,None
5014,1349,11,Synthetic/analytic substitution,yes,[3],"[0, 2]",a,the 's,None,None,None,None
5060,1362,11,Synthetic/analytic substitution,yes,[14],"[10, 12]",e-mail,these e-mails,None,None,None,None

In [49]:
substitute(11, new_subs, 5, False)

In [50]:
aye = pd.DataFrame(columns = textual_paraphrases.columns, data = copy.deepcopy(textual_paraphrases.values))
aye = aye[aye['type_id'] == 11]
aye.drop(new.index.tolist(), inplace=True)
aye[:30]

,pair_id,type_id,type_name,sense_preserving,s1_scope,s2_scope,s1_text,s2_text,key_s1,key_s2,k1_text,k2_text
63,23,11,Synthetic/analytic substitution,yes,"[12, 13, 14, 15, 16, 17]","[14, 15, 16, 17]",western portions of the Dominican Republic,the western Dominican Republic,None,None,None,None
73,27,11,Synthetic/analytic substitution,yes,[8],"[8, 9, 10]",struck,managed to strike,None,None,None,None
89,32,11,Synthetic/analytic substitution,yes,"[12, 13]","[17, 18]",two-way trade,trade volume,None,None,None,None
143,46,11,Synthetic/analytic substitution,yes,"[6, 7, 8, 9, 10, 11]","[6, 7, 8, 9, 10, 11, 12, 13, 14]",State Department official John S. Wolf,"John S. Wolf , an assistant secretary of state",None,None,None,None
182,54,11,Synthetic/analytic substitution,yes,"[12, 13, 14, 15, 16, 17, 18]","[10, 11, 12, 13]",morning trading on the Nasdaq Stock Market,Nasdaq Stock Market trading,None,None,None,None
201,59,11,Synthetic/analytic substitution,yes,"[2, 3, 4, 5, 6, 7]","[2, 3, 4]",the questions asked by the audience,the audience questions,None,None,None,None
304,86,11,Synthetic/analytic substitution,yes,"[11, 12, 13]","[8, 9, 10, 11, 12, 13, 14]",Longhorn 's release,release dates of Microsoft 's new products,None,None,None,None
331,94,11,Synthetic/analytic substitution,yes,[12],"[11, 12, 14]",resisted,put up resistance,None,None,None,None
392,110,11,Synthetic/analytic substitution,yes,"[4, 5, 6, 7]","[4, 5, 6, 7]",Russia 's foreign ministry,the Russian Foreign Ministry,None,None,None,None
405,112,11,Synthetic/analytic substitution,yes,[24],[25],XML-based,XML,None,None,None,None
598,160,11,Synthetic/analytic substitution,yes,"[9, 10, 11, 12]","[7, 8, 9, 10]",10 years ' jail,10 years in prison,None,None,None,None
599,160,11,Synthetic/analytic substitution,yes,[15],"[13, 14, 15, 16]",life,a possible life sentence,None,None,None,None
619,165,11,Synthetic/analytic substitution,yes,"[0, 1, 2, 3, 4, 5]","[0, 1, 2, 3, 4, 5, 6, 7, 8]",French Foreign Minister Dominique de Villepin,"The French Foreign Minister , Dominique de Vil...",None,None,None,None
631,169,11,Synthetic/analytic substitution,yes,[7],"[5, 6, 7]",suspects,the six suspects,None,None,None,None
670,175,11,Synthetic/analytic substitution,yes,"[27, 28]","[29, 30]",Djihad Salafist,Salafist Jihad,None,None,None,None
671,175,11,Synthetic/analytic substitution,yes,"[0, 1, 2, 3, 4, 5, 6, 7]","[0, 1, 2, 3, 4, 5]","The Interior Minister , Al Mustapha Sahel ,",Moroccan Interior Minister Al Mustapha Sahel,None,None,None,None
681,179,11,Synthetic/analytic substitution,yes,[20],"[20, 21, 22]",cash,stashes of cash,None,None,None,None
753,199,11,Synthetic/analytic substitution,yes,"[4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]","[5, 6, 7]","0.09 shares of the parent company , Palm , Inc. ,",0.09 Palm shares,None,None,None,None
760,200,11,Synthetic/analytic substitution,yes,"[0, 1, 2]","[0, 1, 2]",Shares of Microsoft,Microsoft 's stock,None,None,None,None
824,214,11,Synthetic/analytic substitution,yes,"[0, 1, 2]","[0, 1, 2, 3, 4, 5, 6]",The March downturn,A downturn in services activity in March,None,None,None,None
841,217,11,Synthetic/analytic substitution,yes,"[5, 6, 7]","[3, 4, 5, 6, 7]",top administration officials,top officials in his administration,None,None,None,None
847,218,11,Synthetic/analytic substitution,yes,"[6, 7, 8, 9, 10]","[4, 5, 6]",the mainland 's Guangdong province,in Guandong province,None,None,None,None
895,232,11,Synthetic/analytic substitution,yes,"[0, 1, 2, 3]","[0, 1]",About 120 potential jurors,The jurors,None,None,None,None
900,235,11,Synthetic/analytic substitution,yes,"[6, 7, 8, 9, 10, 11]","[7, 8, 9, 10]",both companies ' board of directors,directors at both companies,None,None,None,None
1086,278,11,Synthetic/analytic substitution,yes,[8],"[7, 8, 9, 11]",and,as well as and,None,None,None,None
1220,310,11,Synthetic/analytic substitution,yes,[19],"[16, 17, 18, 19]",torso,headless and limbless torso,None,None,None,None
1221,310,11,Synthetic/analytic substitution,yes,"[23, 24, 25]","[24, 25, 26]",the Thames River,the river Thames,None,None,None,None
1361,348,11,Synthetic/analytic substitution,yes,"[5, 6, 7, 8, 9, 10, 11]",[5],the University of California at Los Angeles,UCLA,None,None,None,None
1378,356,11,Synthetic/analytic substitution,yes,"[19, 20, 21, 22]","[23, 24, 25, 26]",Tiananmen Square in Beijing,Beijing 's Tiananmen Square,None,None,None,None
1413,368,11,Synthetic/analytic substitution,yes,"[6, 7]","[4, 5]",2.6.0 kernel,2.6 kernel,None,None,None,None

In [51]:
substitute(11, aye, 5, False)

In [52]:
positives.loc[45]['sentence1']

'The group will be headed by State Department official John S. Wolf, who has served in Australia, Vietnam, Greece and Pakistan.'

In [53]:
positives.loc[45]['sentence2']

'The group will be headed by John S. Wolf, an assistant secretary of state who has served in Australia, Vietnam, Greece and Pakistan.'

In [54]:
positives.loc[45]['sentence1_scope']

array(['', '', '', '', '', '', '5_0', '5_0', '5_0', '5_0', '5_0', '5_0',
       '', '', '', '', '', '', '', '', '', '', '', '', ''], dtype='<U64')

### Converse Substitution

In [55]:
textual_paraphrases[textual_paraphrases['type_id'] == 13][:30]

,pair_id,type_id,type_name,sense_preserving,s1_scope,s2_scope,s1_text,s2_text,key_s1,key_s2,k1_text,k2_text
1139,292,13,Converse substitution,yes,"[10, 11]","[14, 15]",was taken,had brought,None,None,None,None
1354,347,13,Converse substitution,yes,[4],[1],was,leaves,None,None,None,None
2370,622,13,Converse substitution,yes,"[3, 4]",[4],be back,shelve,None,None,None,None
3021,798,13,Converse substitution,yes,"[10, 11]","[14, 15]",breaks down,interacts with,None,None,None,None
3389,902,13,Converse substitution,yes,"[2, 6]","[3, 4, 8]",includes in,would get of,None,None,None,None
3502,932,13,Converse substitution,yes,"[4, 5]",[3],were given,received,None,None,None,None
3503,932,13,Converse substitution,yes,[14],"[16, 17]",took,were given,None,None,None,None
4609,1244,13,Converse substitution,yes,"[2, 3]","[6, 7]",was subpoenaed,was cooperating,None,None,None,None
6113,1663,13,Converse substitution,yes,"[2, 3, 4]","[8, 10, 11]",were hurt by,put pressure on,None,None,None,None
7418,2001,13,Converse substitution,yes,[8],[9],swept,gave,None,None,None,None
7442,2010,13,Converse substitution,yes,"[6, 7, 8]","[6, 7]",were being felt,have arrived,None,None,None,None
8000,2159,13,Converse substitution,yes,[17],"[8, 9]",said,were reported,None,None,None,None
8088,2183,13,Converse substitution,yes,"[22, 24]",[24],helps buy,sells,None,None,None,None
8100,2188,13,Converse substitution,yes,[4],[12],got,hit,None,None,None,None
8192,2207,13,Converse substitution,yes,"[3, 4, 5]",[5],be taken up,bring,None,None,None,None
9174,2461,13,Converse substitution,yes,"[13, 14]",[3],went to,took,None,None,None,None
9377,2531,13,Converse substitution,yes,[5],"[1, 2]",die,'re losing,None,None,None,None
9879,2661,13,Converse substitution,yes,[2],"[21, 22, 23, 24, 25]",offer,drop into the hands of,None,None,None,None
9887,2666,13,Converse substitution,yes,"[1, 2]","[3, 4]",has released,are available,None,None,None,None
10080,2722,13,Converse substitution,yes,"[2, 3, 4]","[7, 8, 9, 10]",have not found,have not turned up,None,None,None,None
11658,3096,13,Converse substitution,yes,"[8, 9, 10, 11, 12]","[9, 10, 11, 12]",had been scheduled to host,were expected to arrive,None,None,None,None
11980,3181,13,Converse substitution,yes,"[10, 13]",[19],protect from,thwart,None,None,None,None
12267,3250,13,Converse substitution,yes,"[3, 4]",[7],weighs in,competes,None,None,None,None
13439,3561,13,Converse substitution,yes,"[1, 3]","[3, 4, 6]",was restored,has helped regain,None,None,None,None
14053,3717,13,Converse substitution,yes,"[4, 5]","[20, 21, 22, 23]",is facing,pursue their case against,None,None,None,None
14092,3728,13,Converse substitution,yes,"[5, 6]","[16, 17, 18]",would strip,will be free,None,None,None,None
14869,3923,13,Converse substitution,yes,[14],[8],announce,come,None,None,None,None
14912,3936,13,Converse substitution,yes,[23],"[2, 3]",triggered,came after,None,None,None,None
15294,4040,13,Converse substitution,yes,"[8, 9]",[1],was advised,say,None,None,None,None
15386,4066,13,Converse substitution,yes,"[18, 19, 20]","[17, 18, 19]",can not expect,is not expected,None,None,None,None

In [56]:
substitute(13)

Double check type overwriting: row 2009, sentence 1
Common indices: [6, 7, 8] | Pre-existing types: ['6_0' '6_0' '6_0']
Double check type overwriting: row 2009, sentence 2
Common indices: [6, 7] | Pre-existing types: ['6_0' '6_0']
Double check type overwriting: row 3180, sentence 1
Common indices: [10, 13] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 3180, sentence 2
Common indices: [19] | Pre-existing types: ['3_0']
Double check type overwriting: row 4887, sentence 1
Common indices: [13] | Pre-existing types: ['6_0']
Double check type overwriting: row 4887, sentence 2
Common indices: [17, 18] | Pre-existing types: ['6_0' '6_0']
Double check type overwriting: row 5466, sentence 1
Common indices: [5] | Pre-existing types: ['6_0']
Double check type overwriting: row 5466, sentence 2
Common indices: [2] | Pre-existing types: ['6_0']

### Coordination Changes

This is similar to punctuation changes in two ways:
- It uses `keys` for annotation
- It can either be Addition/Deletion (in this case, function word) or Substitution
  - But which kind of substitution? Synonym?

In [57]:
coord = pd.DataFrame(columns = textual_paraphrases.columns, data = copy.deepcopy(textual_paraphrases.values))
coord = coord[coord['type_id'] == 17]
coord.drop(columns=['s1_scope', 's2_scope'], inplace=True)
coord.rename(columns={'key_s1': 's1_scope', 'key_s2': 's2_scope'}, inplace=True)

coord[30:40]

,pair_id,type_id,type_name,sense_preserving,s1_text,s2_text,s1_scope,s2_scope,k1_text,k2_text
11748,3120,17,Coordination changes,yes,traffic has disappeared from once bustling str...,traffic has disappeared from once-bustling str...,None,[10],None,and
12294,3262,17,Coordination changes,yes,"a 4.5-inch LCD screen , Memory Stick expansion...",a 4.5 in back-lit LCD screen and memory expans...,None,[9],None,and
13874,3675,17,Coordination changes,yes,"20 years , 63 days",20 years and 63 days,[7],[15],",",and
14171,3752,17,Coordination changes,yes,"State Sen. Vi Simpson , former state and natio...",former state and national Democratic Chairman ...,None,[12],None,and
16307,4301,17,Coordination changes,yes,Pacific Northwest has more than 800 employees ...,"It has 800 employees , compared with Wells Far...",[8],None,and,None
16346,4312,17,Coordination changes,yes,The victims were last seen ; their bodies were...,The family was last seen and their bodies were...,None,[7],None,and
16937,4474,17,Coordination changes,yes,"`` I have lots of bad dreams , I have flashbac...","`` I have lots of bad dreams , flashbacks and ...",None,[9],None,and
17198,4533,17,Coordination changes,yes,"some administrative material , some from a fai...",administrative paper work and some about a fai...,None,[10],None,and
17211,4537,17,Coordination changes,yes,a June opening record,a monster opening and a June record,None,[17],None,and
17247,4548,17,Coordination changes,yes,is still being held at the prison and is now i...,was held in isolation at the same prison,[8],None,and,None

In [58]:
print_sents(1316)

Five foreign embassies, including the Singapore embassy, in Bangkok were among the targets, it said.
Five foreign embassies in Bangkok, including the Singapore embassy, were among those targeted.

In [59]:
coord_adddel = coord[(coord['s1_scope'].isnull()) | (coord['s2_scope'].isnull())]
coord_subs = coord[~((coord['s1_scope'].isnull()) | (coord['s2_scope'].isnull()))]

In [60]:
substitute(17, coord_adddel, 1)

Double check type overwriting: row 4977, sentence 2
Common indices: [6] | Pre-existing types: ['3_1']
Double check type overwriting: row 5321, sentence 2
Common indices: [18] | Pre-existing types: ['5_1']

TODO: Deal with the below

In [61]:
coord_subs

,pair_id,type_id,type_name,sense_preserving,s1_text,s2_text,s1_scope,s2_scope,k1_text,k2_text
64,23,17,Coordination changes,yes,But tropical storm warnings and watches were p...,Tropical storm warnings were in place Thursday...,[4],[11],and,and
2925,769,17,Coordination changes,yes,"He was sent to Larned State Hospital , where h...",He ordered him sent to the Larned State Securi...,[8],[10],where,for
4868,1317,17,Coordination changes,yes,hammering consumer spending and leaving shops ...,"hammering consumer spending , with shops , res...",[23],[14],and,","
9107,2442,17,Coordination changes,yes,Ms Pike also said it was not unusual for hospi...,But Ms Pike said it was not unusual for hospit...,[15],[14],but,and
9663,2604,17,Coordination changes,yes,Jews and the US,"Jews , Americans",[3],[1],and,","
10342,2789,17,Coordination changes,yes,"In addition to O'Connor , Rehnquist 's majorit...","Justices Sandra Day O'Connor , David H. Souter...","[0, 1, 2, 20]",[19],In addition to and,and
13874,3675,17,Coordination changes,yes,"20 years , 63 days",20 years and 63 days,[7],[15],",",and
20398,5343,17,Coordination changes,yes,"vegetables , fruits",fruits and vegetables,[9],[14],",",and
20399,5343,17,Coordination changes,yes,"nuts , cereals",nuts and cereals,[15],[18],",",and
21161,5545,17,Coordination changes,yes,benefiting from a little luck Thursday to eras...,to erase a set point and beat unseeded Nadia P...,[23],[20],and,and

In [62]:
print_sents(769)

He was sent to Larned State Hospital, where he was evaluated and treated.
He ordered him sent to the Larned State Security Hospital for continued evaluation and treatment.

Let's isolate the punctuation and add it first

In [63]:
coord_punct = duplicate_df(coord.loc[[4868, 9663, 13874, 20398, 20399],:])
coord_punct

,pair_id,type_id,type_name,sense_preserving,s1_text,s2_text,s1_scope,s2_scope,k1_text,k2_text
0,1317,17,Coordination changes,yes,hammering consumer spending and leaving shops ...,"hammering consumer spending , with shops , res...",[23],[14],and,","
1,2604,17,Coordination changes,yes,Jews and the US,"Jews , Americans",[3],[1],and,","
2,3675,17,Coordination changes,yes,"20 years , 63 days",20 years and 63 days,[7],[15],",",and
3,5343,17,Coordination changes,yes,"vegetables , fruits",fruits and vegetables,[9],[14],",",and
4,5343,17,Coordination changes,yes,"nuts , cereals",nuts and cereals,[15],[18],",",and

In [64]:
coord_subs.loc[[13874, 20398, 20399], 's1_scope'] = None
coord_subs.loc[[4868, 9663], 's2_scope'] = None
coord_subs

/tmp/ipykernel_65203/4285007175.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  coord_subs.loc[[13874, 20398, 20399], 's1_scope'] = None
/tmp/ipykernel_65203/4285007175.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  coord_subs.loc[[4868, 9663], 's2_scope'] = None

,pair_id,type_id,type_name,sense_preserving,s1_text,s2_text,s1_scope,s2_scope,k1_text,k2_text
64,23,17,Coordination changes,yes,But tropical storm warnings and watches were p...,Tropical storm warnings were in place Thursday...,[4],[11],and,and
2925,769,17,Coordination changes,yes,"He was sent to Larned State Hospital , where h...",He ordered him sent to the Larned State Securi...,[8],[10],where,for
4868,1317,17,Coordination changes,yes,hammering consumer spending and leaving shops ...,"hammering consumer spending , with shops , res...",[23],None,and,","
9107,2442,17,Coordination changes,yes,Ms Pike also said it was not unusual for hospi...,But Ms Pike said it was not unusual for hospit...,[15],[14],but,and
9663,2604,17,Coordination changes,yes,Jews and the US,"Jews , Americans",[3],None,and,","
10342,2789,17,Coordination changes,yes,"In addition to O'Connor , Rehnquist 's majorit...","Justices Sandra Day O'Connor , David H. Souter...","[0, 1, 2, 20]",[19],In addition to and,and
13874,3675,17,Coordination changes,yes,"20 years , 63 days",20 years and 63 days,None,[15],",",and
20398,5343,17,Coordination changes,yes,"vegetables , fruits",fruits and vegetables,None,[14],",",and
20399,5343,17,Coordination changes,yes,"nuts , cereals",nuts and cereals,None,[18],",",and
21161,5545,17,Coordination changes,yes,benefiting from a little luck Thursday to eras...,to erase a set point and beat unseeded Nadia P...,[23],[20],and,and

In [65]:
coord_punct.loc[[0,1], 's1_scope'] = None
coord_punct.loc[[2,3,4], 's2_scope'] = None
coord_punct

,pair_id,type_id,type_name,sense_preserving,s1_text,s2_text,s1_scope,s2_scope,k1_text,k2_text
0,1317,17,Coordination changes,yes,hammering consumer spending and leaving shops ...,"hammering consumer spending , with shops , res...",None,[14],and,","
1,2604,17,Coordination changes,yes,Jews and the US,"Jews , Americans",None,[1],and,","
2,3675,17,Coordination changes,yes,"20 years , 63 days",20 years and 63 days,[7],None,",",and
3,5343,17,Coordination changes,yes,"vegetables , fruits",fruits and vegetables,[9],None,",",and
4,5343,17,Coordination changes,yes,"nuts , cereals",nuts and cereals,[15],None,",",and

In [66]:
substitute(17, coord_punct, 8)

Double check type overwriting: row 3674, sentence 1
Common indices: [7] | Pre-existing types: ['3_0']

In [67]:
substitute(17, coord_subs, 1)

Double check type overwriting: row 3674, sentence 2
Common indices: [15] | Pre-existing types: ['3_0']

### Subordination and Nesting changes

In [68]:
subord = pd.DataFrame(columns = textual_paraphrases.columns, data = copy.deepcopy(textual_paraphrases.values))
subord = subord[subord['type_id'] == 18]
subord.drop(columns=['s1_scope', 's2_scope'], inplace=True)
subord.rename(columns={'key_s1': 's1_scope', 'key_s2': 's2_scope'}, inplace=True)

subord[:10]

,pair_id,type_id,type_name,sense_preserving,s1_text,s2_text,s1_scope,s2_scope,k1_text,k2_text
48,20,18,Subordination and nesting changes,yes,Sheena Young of Child,"Sheena Young , a spokesman for Child ,","[2, 3]","[3, 4, 5, 6]",of Child,a spokesman for Child
97,33,18,Subordination and nesting changes,yes,The AFL-CIO is waiting until October to decide,The AFL-CIO announced Wednesday that it will d...,None,"[2, 4]",None,announced that
105,36,18,Subordination and nesting changes,yes,Trading in Loral was halted yesterday ; the sh...,The New York Stock Exchange suspended trading ...,"[7, 8, 9, 10, 11, 12, 14]",[11],the shares closed on Monday at 3.01,which
131,43,18,Subordination and nesting changes,yes,", who faces charges of conspiracy lying to a g...",on charges of conspiracy and lying to a grand ...,[2],"[7, 8, 9]",who,on charges of
191,56,18,Subordination and nesting changes,yes,and allows developers,", which allows developers",[5],[12],and,which
227,69,18,Subordination and nesting changes,yes,a point system the U.S. Supreme Court found un...,the way it previously admitted undergraduates,"[16, 17, 18, 19, 20, 21]","[21, 22, 23, 24]",the U.S. Supreme Court found unconstitutional,it previously admitted undergraduates
406,112,18,Subordination and nesting changes,yes,The suite comes complete with a word processor...,"The suite includes a word processor , spreadsh...",[17],None,while,None
489,134,18,Subordination and nesting changes,yes,at the same time of the anthrax attacks,at the same time that real anthrax attacks,"[19, 20, 21, 22]",[19],of the anthrax attacks,that
497,135,18,Subordination and nesting changes,yes,"$ 200 billion annually , which Gephardt would ...",$ 200 billion annually and be paid for,[11],None,which,None
632,169,18,Subordination and nesting changes,yes,The Saudi newspaper Okaz reported Monday that ...,The newspaper Okaz reported that the six suspe...,"[8, 9, 10, 11, 12]","[11, 12]",who escaped Saturday 's raid,the raid

In [69]:
subord_adddel = subord[(subord['s1_scope'].isnull()) | (subord['s2_scope'].isnull())]
subord_subs = subord[~((subord['s1_scope'].isnull()) | (subord['s2_scope'].isnull()))]

In [70]:
subord_adddel[:30]

,pair_id,type_id,type_name,sense_preserving,s1_text,s2_text,s1_scope,s2_scope,k1_text,k2_text
97,33,18,Subordination and nesting changes,yes,The AFL-CIO is waiting until October to decide,The AFL-CIO announced Wednesday that it will d...,None,"[2, 4]",None,announced that
406,112,18,Subordination and nesting changes,yes,The suite comes complete with a word processor...,"The suite includes a word processor , spreadsh...",[17],None,while,None
497,135,18,Subordination and nesting changes,yes,"$ 200 billion annually , which Gephardt would ...",$ 200 billion annually and be paid for,[11],None,which,None
967,252,18,Subordination and nesting changes,yes,A hearing on the matter was held Thursday morn...,A hearing Thursday morning before Judge Elizab...,"[14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 2...",None,", marking one of the early steps in deciding t...",None
1507,394,18,Subordination and nesting changes,yes,a patent verdict that went against the company,a patent verdict against it,[14],None,that,None
1524,399,18,Subordination and nesting changes,yes,"in August 2000 , when Rambus accused Infineon","At that time , Rambus accused Infineon",[8],None,when,None
1698,443,18,Subordination and nesting changes,yes,"Kyi , a U.N. envoy says , as Japan adds to gro...",JAPAN added to growing international pressure ...,[14],None,by,None
1781,465,18,Subordination and nesting changes,yes,"Meanwhile , rival contender , General Electric...",Other contenders included General Electric 's ...,None,[9],None,which
1982,525,18,Subordination and nesting changes,yes,500 clergy sex abuse lawsuits,500 sex abuse lawsuits involving priests,None,"[20, 21]",None,involving priests
2079,549,18,Subordination and nesting changes,yes,"In the 2002 study , the margin of error ranged...",It has a margin of error of plus or minus thre...,[0],None,In,None
2106,554,18,Subordination and nesting changes,yes,"sales were flat , while the gross margin fell","sales were flat , with gross margin down",[12],None,while,None
2137,563,18,Subordination and nesting changes,yes,code which is from its Unix property,Unix intellectual property owned by SCO,[11],None,which,None
2334,612,18,Subordination and nesting changes,yes,A rebel who was captured,A captured rebel,[2],None,who,None
2812,744,18,Subordination and nesting changes,yes,The cleanup cost about $ 130 million,The $ 130 million cleanup,"[12, 13]",None,cost about,None
2991,791,18,Subordination and nesting changes,yes,this is a time when we priests need to be rene...,This is the time we priests need to be renewin...,[8],None,when,None
3000,792,18,Subordination and nesting changes,yes,Myanmar 's pro-democracy leader Aung San Suu K...,Burma pro-democracy leader Aung San Suu Kyi wi...,"[14, 15, 16, 17, 18, 19, 20, 21, 22, 23]",None,following her release from a hospital where sh...,None
3116,828,18,Subordination and nesting changes,yes,Vaccine makers have been thrust into the limel...,Vaccine makers have been thrust into the limel...,None,[14],None,amid
3177,849,18,Subordination and nesting changes,yes,the 55 now in custody,the 55 who have been caught,None,[10],None,who
3305,879,18,Subordination and nesting changes,yes,"America’s “spiritual enemy” that , “will only ...","Our `` spiritual enemy , '' `` will only be de...",[10],None,that,None
3791,1017,18,Subordination and nesting changes,yes,"Zulifquar Ali , a worshiper slightly wounded b...","Zulfiqar Ali , who was slightly wounded by shr...",None,[4],None,who
3825,1025,18,Subordination and nesting changes,yes,after a week of fighting that killed at least ...,at least 112 dead after a week of fighting,[18],None,that,None
4014,1075,18,Subordination and nesting changes,yes,Governor Gray Davis estimated that the fires c...,State officials estimated the cost,[5],None,that,None
4595,1240,18,Subordination and nesting changes,yes,longer waits to cross borders and will hurt co...,longer lines that will damage cross-border com...,None,[14],None,that
5192,1408,18,Subordination and nesting changes,yes,"`` The Matrix Reloaded , '' which opened in li...",Matrix Reloaded opened in limited previews Wed...,[6],None,which,None
5289,1428,18,Subordination and nesting changes,yes,"He was voluntarily castrated in 2001 , an oper...","DeVries , who was voluntarily castrated in Aug...",None,[2],None,who
5435,1475,18,Subordination and nesting changes,yes,The companies announced plans to collaborate,The two groups said they would collaborate,None,"[4, 5, 6]",None,they would collaborate
5604,1507,18,Subordination and nesting changes,yes,a Rhodes scholar at Oxford,an Rhodes Scholar he met while at Oxford,None,"[16, 17]",None,he met
5795,1576,18,Subordination and nesting changes,yes,Microsoft will also tie stock awards,Microsoft also said it will tie stock awards,None,[2],None,said
5857,1591,18,Subordination and nesting changes,yes,Respondents who rated,Those rating,[1],None,who,None
5978,1621,18,Subordination and nesting changes,yes,Montgomery was one of the first but,While Montgomery was one of the first,None,[0],None,While

Isolate single words, since those are almost certainly function words

In [71]:
def singleword(word):
    if not word:
        return False
    else:
        return len(word.split()) == 1

In [72]:
subord_adddel_funct = subord_adddel[subord_adddel.apply(lambda x: singleword(x.k1_text) or singleword(x.k2_text), axis=1)]

In [73]:
subord_adddel_funct[:30]

,pair_id,type_id,type_name,sense_preserving,s1_text,s2_text,s1_scope,s2_scope,k1_text,k2_text
406,112,18,Subordination and nesting changes,yes,The suite comes complete with a word processor...,"The suite includes a word processor , spreadsh...",[17],None,while,None
497,135,18,Subordination and nesting changes,yes,"$ 200 billion annually , which Gephardt would ...",$ 200 billion annually and be paid for,[11],None,which,None
1507,394,18,Subordination and nesting changes,yes,a patent verdict that went against the company,a patent verdict against it,[14],None,that,None
1524,399,18,Subordination and nesting changes,yes,"in August 2000 , when Rambus accused Infineon","At that time , Rambus accused Infineon",[8],None,when,None
1698,443,18,Subordination and nesting changes,yes,"Kyi , a U.N. envoy says , as Japan adds to gro...",JAPAN added to growing international pressure ...,[14],None,by,None
1781,465,18,Subordination and nesting changes,yes,"Meanwhile , rival contender , General Electric...",Other contenders included General Electric 's ...,None,[9],None,which
2079,549,18,Subordination and nesting changes,yes,"In the 2002 study , the margin of error ranged...",It has a margin of error of plus or minus thre...,[0],None,In,None
2106,554,18,Subordination and nesting changes,yes,"sales were flat , while the gross margin fell","sales were flat , with gross margin down",[12],None,while,None
2137,563,18,Subordination and nesting changes,yes,code which is from its Unix property,Unix intellectual property owned by SCO,[11],None,which,None
2334,612,18,Subordination and nesting changes,yes,A rebel who was captured,A captured rebel,[2],None,who,None
2991,791,18,Subordination and nesting changes,yes,this is a time when we priests need to be rene...,This is the time we priests need to be renewin...,[8],None,when,None
3116,828,18,Subordination and nesting changes,yes,Vaccine makers have been thrust into the limel...,Vaccine makers have been thrust into the limel...,None,[14],None,amid
3177,849,18,Subordination and nesting changes,yes,the 55 now in custody,the 55 who have been caught,None,[10],None,who
3305,879,18,Subordination and nesting changes,yes,"America’s “spiritual enemy” that , “will only ...","Our `` spiritual enemy , '' `` will only be de...",[10],None,that,None
3791,1017,18,Subordination and nesting changes,yes,"Zulifquar Ali , a worshiper slightly wounded b...","Zulfiqar Ali , who was slightly wounded by shr...",None,[4],None,who
3825,1025,18,Subordination and nesting changes,yes,after a week of fighting that killed at least ...,at least 112 dead after a week of fighting,[18],None,that,None
4014,1075,18,Subordination and nesting changes,yes,Governor Gray Davis estimated that the fires c...,State officials estimated the cost,[5],None,that,None
4595,1240,18,Subordination and nesting changes,yes,longer waits to cross borders and will hurt co...,longer lines that will damage cross-border com...,None,[14],None,that
5192,1408,18,Subordination and nesting changes,yes,"`` The Matrix Reloaded , '' which opened in li...",Matrix Reloaded opened in limited previews Wed...,[6],None,which,None
5289,1428,18,Subordination and nesting changes,yes,"He was voluntarily castrated in 2001 , an oper...","DeVries , who was voluntarily castrated in Aug...",None,[2],None,who
5795,1576,18,Subordination and nesting changes,yes,Microsoft will also tie stock awards,Microsoft also said it will tie stock awards,None,[2],None,said
5857,1591,18,Subordination and nesting changes,yes,Respondents who rated,Those rating,[1],None,who,None
5978,1621,18,Subordination and nesting changes,yes,Montgomery was one of the first but,While Montgomery was one of the first,None,[0],None,While
6419,1746,18,Subordination and nesting changes,yes,"Zulifquar Ali , a worshipper slightly wounded ...","Zulfiqar Ali , who was slightly wounded by shr...",None,[4],None,who
6938,1879,18,Subordination and nesting changes,yes,foreigners who were jailed,the 762 foreigners held,[21],None,who,None
6963,1882,18,Subordination and nesting changes,yes,"the U.S. central bank , which sets","Greenspan 's Federal Reserve , the U.S. centra...",[9],None,which,None
6974,1886,18,Subordination and nesting changes,yes,"that program , which also dated from the Depre...",that Depression-era program,[21],None,which,None
7481,2021,18,Subordination and nesting changes,yes,Harris and Klebold killed 12 students and a te...,"Harris and Klebold killed 12 students , a teac...",[9],None,before,None
7966,2150,18,Subordination and nesting changes,yes,"the Governing Council , which is headed by the...",the Governing Council headed by the United States,[9],None,which,None
8009,2160,18,Subordination and nesting changes,yes,"in Tarrytown , 12 miles north of New York","in Tarrytown , which is 12 miles north of New ...",None,[12],None,which

In [74]:
substitute(18, subord_adddel_funct, 1)

Double check type overwriting: row 790, sentence 1
Common indices: [8] | Pre-existing types: ['3_0']

Double check type overwriting: row 2879, sentence 2
Common indices: [10] | Pre-existing types: ['3_0']
Double check type overwriting: row 3152, sentence 1
Common indices: [26] | Pre-existing types: ['3_0']
Double check type overwriting: row 3658, sentence 1
Common indices: [18] | Pre-existing types: ['3_0']
Double check type overwriting: row 4132, sentence 1
Common indices: [18] | Pre-existing types: ['5_1']
Double check type overwriting: row 4844, sentence 2
Common indices: [3] | Pre-existing types: ['3_0']

In [75]:
subord_subs

,pair_id,type_id,type_name,sense_preserving,s1_text,s2_text,s1_scope,s2_scope,k1_text,k2_text
48,20,18,Subordination and nesting changes,yes,Sheena Young of Child,"Sheena Young , a spokesman for Child ,","[2, 3]","[3, 4, 5, 6]",of Child,a spokesman for Child
105,36,18,Subordination and nesting changes,yes,Trading in Loral was halted yesterday ; the sh...,The New York Stock Exchange suspended trading ...,"[7, 8, 9, 10, 11, 12, 14]",[11],the shares closed on Monday at 3.01,which
131,43,18,Subordination and nesting changes,yes,", who faces charges of conspiracy lying to a g...",on charges of conspiracy and lying to a grand ...,[2],"[7, 8, 9]",who,on charges of
191,56,18,Subordination and nesting changes,yes,and allows developers,", which allows developers",[5],[12],and,which
227,69,18,Subordination and nesting changes,yes,a point system the U.S. Supreme Court found un...,the way it previously admitted undergraduates,"[16, 17, 18, 19, 20, 21]","[21, 22, 23, 24]",the U.S. Supreme Court found unconstitutional,it previously admitted undergraduates
...,...,...,...,...,...,...,...,...,...,...
21573,5660,18,Subordination and nesting changes,yes,the number one priority for David Jones,the number one issue David Jones would tackle,"[17, 18, 19]","[18, 19, 20, 21]",for David Jones,David Jones would tackle
21746,5710,18,Subordination and nesting changes,yes,Women who eat potatoes and other tuberous vege...,their mothers eating potatoes and other tubero...,[1],"[17, 18, 19, 20, 21, 22, 23, 24]",who,eating potatoes and other tuberous vegetables ...
21753,5711,18,Subordination and nesting changes,yes,State Senate Majority Leader Joseph Bruno,"Joseph L. Bruno , the State Senate majority le...","[7, 8]","[8, 9, 10, 11, 12]",Joseph Bruno,the State Senate majority leader
21767,5713,18,Subordination and nesting changes,yes,one subtype that represents a minority of cases,one subtype representing a minority of cases,[21],"[22, 23, 24, 25, 26]",that,representing a minority of cases
22029,5792,18,Subordination and nesting changes,yes,third baseman Eric Duncan,"Eric Duncan , a third baseman","[7, 8]","[6, 7, 8]",Eric Duncan,a third baseman

In [76]:
subord_adddel.drop(subord_adddel_funct.index.tolist(), inplace=True)
subord_adddel

/tmp/ipykernel_65203/3691210399.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  subord_adddel.drop(subord_adddel_funct.index.tolist(), inplace=True)

,pair_id,type_id,type_name,sense_preserving,s1_text,s2_text,s1_scope,s2_scope,k1_text,k2_text
97,33,18,Subordination and nesting changes,yes,The AFL-CIO is waiting until October to decide,The AFL-CIO announced Wednesday that it will d...,None,"[2, 4]",None,announced that
967,252,18,Subordination and nesting changes,yes,A hearing on the matter was held Thursday morn...,A hearing Thursday morning before Judge Elizab...,"[14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 2...",None,", marking one of the early steps in deciding t...",None
1982,525,18,Subordination and nesting changes,yes,500 clergy sex abuse lawsuits,500 sex abuse lawsuits involving priests,None,"[20, 21]",None,involving priests
2812,744,18,Subordination and nesting changes,yes,The cleanup cost about $ 130 million,The $ 130 million cleanup,"[12, 13]",None,cost about,None
3000,792,18,Subordination and nesting changes,yes,Myanmar 's pro-democracy leader Aung San Suu K...,Burma pro-democracy leader Aung San Suu Kyi wi...,"[14, 15, 16, 17, 18, 19, 20, 21, 22, 23]",None,following her release from a hospital where sh...,None
5435,1475,18,Subordination and nesting changes,yes,The companies announced plans to collaborate,The two groups said they would collaborate,None,"[4, 5, 6]",None,they would collaborate
5604,1507,18,Subordination and nesting changes,yes,a Rhodes scholar at Oxford,an Rhodes Scholar he met while at Oxford,None,"[16, 17]",None,he met
6212,1695,18,Subordination and nesting changes,yes,the case of a nine-year-old girl who turned up...,the abduction of a 9-year-old who was found sa...,"[21, 22, 23, 24, 25, 26, 27]",None,after being violently abducted from her home,None
6698,1818,18,Subordination and nesting changes,yes,63 percent of home broadband users connected v...,63 percent of home broadband users had cable m...,None,"[15, 16, 19]",None,compared with who
7624,2060,18,Subordination and nesting changes,yes,Doctors have advised that the boy get chemothe...,Daren and Barbara Jensen refused to heed docto...,None,"[5, 6, 7, 8, 9, 10, 11]",None,to heed doctors ' recommendation of chemotherapy
7660,2071,18,Subordination and nesting changes,yes,"Whether it works out , timewise , that I can m...",Whether it works out timewise with all four,"[11, 12, 13]",None,with all four,None
9060,2427,18,Subordination and nesting changes,yes,The single currency rose as far as 135.13 yen ...,The single currency rose as far as 135.26 yen ...,"[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 2...",None,matching a record high hit shortly after the e...,None
9418,2544,18,Subordination and nesting changes,yes,"He will be paid $ 395,000 per year , up from A...","Dynes will be paid $ 395,000 a year ; Atkinson...","[9, 10]",None,up from,None
9541,2573,18,Subordination and nesting changes,yes,A landslide in central Chungchong province der...,"In central Chungchong province , a landslide c...",None,"[15, 16, 17, 18]",None,", injuring 28 people"
10469,2820,18,Subordination and nesting changes,yes,Board Chancellor Robert Bennett declined to co...,"Mr. Mills declined to comment yesterday , sayi...",None,"[6, 7, 8, 9, 10, 11, 12, 13]",None,", saying that he never discussed personnel mat..."
11229,3002,18,Subordination and nesting changes,yes,"Available in June , Bare Metal Restore 4.6 cos...",Bare Metal Restore 4.6 will be available in mi...,"[0, 1, 2, 3]",None,"Available in June ,",None
12096,3202,18,Subordination and nesting changes,yes,the first time a parent has been convicted of ...,one of the first times in which a parent was c...,None,"[10, 11]",None,in which
12465,3309,18,Subordination and nesting changes,yes,the space program is developing antisatellite ...,he did not think that the Shenzhou V launch ha...,None,"[15, 16]",None,even though
13896,3683,18,Subordination and nesting changes,yes,a grand jury began investigating Silvester,a grand jury investigating Silvester subpoenae...,None,"[21, 22]",None,investigating Silvester
14272,3781,18,Subordination and nesting changes,yes,a flier citing a 3.8-percent increase in the S...,One Republican flier cited a 3.8 percent incre...,"[8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19,...",None,citing a 3.8-percent increase in the S & P 500...,None
14397,3812,18,Subordination and nesting changes,yes,the rule will make the nation 's electrical sy...,the rule will improve the reliability of the n...,None,None,None,None
15831,4168,18,Subordination and nesting changes,yes,They were at Raffles Hospital over the weekend...,"They underwent more tests over the weekend , a...","[8, 9, 10]",None,for further evaluation,None
15844,4171,18,Subordination and nesting changes,yes,a possible grocery clerk strike,grocery clerks gear up for a possible strike,None,"[18, 19, 20]",None,gear up for
17143,4524,18,Subordination and nesting changes,yes,The number of extremely obese adults -- those ...,The number of Americans considered extremely o...,"[7, 8]",None,those who,None
17384,4577,18,Subordination and nesting changes,yes,The European Union was due Monday to demand Ir...,The European Union was due on Monday to demand...,None,"[23, 24, 25, 26, 27, 28, 29, 30]",None,", linking compliance to a pending trade deal"
18613,4872,18,Subordination and nesting changes,yes,children aged three and four,3- and 4-year-olds,"[25, 26, 27, 28]",None,aged three and four,None
19061,5000,18,Subordination and nesting changes,yes,resolutions condemning the act,similar resolutions,"[17, 18, 19]",None,condemning the act,None
19178,5032,18,Subordination and nesting changes,yes,That fire devastated timber on the reservation...,"That fire devastated the reservation , a nearb...",None,"[14, 18]",None,burning destroying
20051,5259,18,Subordination and nesting changes,yes,"Knight agreed to a two-year , $ 2.38 million c...",Knight 's two-year deal,None,"[3, 4]",None,Knight 's
20151,5286,18,Subordination and nesting changes,yes,the largest-ever loss for a European bank last...,", the largest ever for a European bank",None,None,None,None
20438,5352,18,Subordination and nesting changes,yes,The unemployment rate inched up one-tenth of a...,The unemployment rate rose a tenth of a percen...,"[15, 16, 17, 18, 19, 20]",None,to its highest since July 1994,None
20661,5400,18,Subordination and nesting changes,yes,"this summer , at festivals",at summer festivals,"[7, 8]",None,this summer,None
21313,5587,18,Subordination and nesting changes,yes,Two convicted killers and another inmate escap...,A convicted killer and two other inmates cut t...,"[16, 17, 18, 19, 20]",None,by cutting through a fence,None
22046,5796,18,Subordination and nesting changes,yes,"The deal , approved by both companies ' board ...",The acquisition has been approved by both comp...,"[2, 3, 4, 5, 6, 7, 8, 9, 10, 11]",None,", approved by both companies ' board of direct...",None

In [77]:
substitute(18, subord_adddel, 2, False)

### Direct/Indirect Style Alternations (TODO)

In [78]:
textual_paraphrases[textual_paraphrases['type_id'] == 22][:30]

,pair_id,type_id,type_name,sense_preserving,s1_scope,s2_scope,s1_text,s2_text,key_s1,key_s2,k1_text,k2_text
521,141,22,Direct/indirect style alternations,yes,"[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","`` This deal makes sense for both companies , ...","Brian Halla , CEO of NatSemi , claimed the dea...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]",None,"`` This deal makes sense for both companies , ''",None
745,197,22,Direct/indirect style alternations,yes,"[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 11]","[2, 3, 4, 5, 8, 9, 10, 11, 12, 13, 15]",`` I just got carried away and started making ...,he got carried away and just `` started making...,"[0, 11]",None,`` '',None
872,225,22,Direct/indirect style alternations,yes,"[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...",Mr Abbas said : `` Every day without an agreem...,"His Palestinian counterpart , Mahmoud Abbas , ...",None,[8],None,that
2076,547,22,Direct/indirect style alternations,yes,"[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...",The draft of the report was forthright : `` Cl...,The original report had concluded that ''clima...,None,[5],None,that
2676,701,22,Direct/indirect style alternations,yes,"[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...",He added that those `` are not solely American...,`` These are not solely American principles no...,[2],None,that,None
3362,895,22,Direct/indirect style alternations,yes,"[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...",We need a certifiable pay as you go budget by ...,Texas lawmakers must close a $ 185.9 million b...,"[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...",None,We need a certifiable pay as you go budget by ...,None
3988,1068,22,Direct/indirect style alternations,yes,"[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 18, 19, 20, 21,...","[3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, ...",`` There is no conscious policy of the United ...,there is no conscious policy by the United Sta...,"[0, 25]",None,`` '',None
4899,1323,22,Direct/indirect style alternations,yes,"[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...",The bank also said its offer was subject to th...,The offer is also subject to Goldman signing a...,"[4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16,...",None,its offer was subject to the agreement of Drax...,None
4929,1331,22,Direct/indirect style alternations,yes,"[1, 2, 3, 4, 5, 6]","[0, 1, 2]",He said they were in distress,We 're asphyxiating,"[3, 4, 5, 6]",None,they were in distress,None
5003,1347,22,Direct/indirect style alternations,yes,"[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 16]","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 11]",the two men were `` defined by dedication and ...,`` [ They ] were defined by dedication and cou...,None,"[0, 11]",None,`` ''
5082,1373,22,Direct/indirect style alternations,yes,"[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","O'Donnell wrote in her autobiography , `` Find...","In her autobiography , `` Find Me , '' O'Donne...",[11],None,that,None
5259,1422,22,Direct/indirect style alternations,yes,"[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...",`` The discovery that the MAP bug is present i...,The researchers say that the fact the MAP bug ...,None,[3],None,that
5663,1521,22,Direct/indirect style alternations,yes,"[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...",The vast majority of trades will be priced at ...,Eurex said `` the vast majority '' of trades o...,None,"[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 1...",None,`` the vast majority '' of trades on Eurex US ...
6286,1710,22,Direct/indirect style alternations,yes,"[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","`` It '' s absurd , '' Funny Cide 's trainer B...","Meanwhile , Funny Cide 's trainer , Barclay Ta...",None,"[11, 12, 13, 14, 16]",None,the allegations `` ridiculous ''\n
6791,1838,22,Direct/indirect style alternations,yes,"[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...",Neither military action nor large-scale briber...,"Indeed , Wolfowitz admitted Saturday that neit...",None,[5],None,that
7000,1892,22,Direct/indirect style alternations,yes,"[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","`` If I was diagnosed today with CJD , I would...",He added that if he were diagnosed with vCJD `...,None,[2],None,that
7403,1996,22,Direct/indirect style alternations,yes,"[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...",Gibson said last month in a press statement th...,Gibson said in a June statement that he and hi...,None,[6],None,that
7561,2048,22,Direct/indirect style alternations,yes,"[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...",`` We will work with the board to ensure a smo...,He said federal regulators would work with the...,None,"[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]",None,federal regulators would work with the corpora...
7622,2059,22,Direct/indirect style alternations,yes,"[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...",`` No data exists to indicate that the situati...,"However , FAA spokeswoman Kathleen Bergen said...","[0, 17]","[7, 8, 9, 10, 11, 12, 13, 14, 15]",`` '',no data indicate that the situation poses safe...
7632,2061,22,Direct/indirect style alternations,yes,"[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...",IAAF council member Jose Maria Odriozola said ...,`` I have proposed to the [ IAAF ] council tha...,"[7, 8, 9, 10, 11, 12, 13]",None,Drummond should be excluded from the champions...,None
8210,2211,22,Direct/indirect style alternations,yes,"[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","In terms of a free trade area , we 've got a l...","As for a free trade area , the official stress...",None,[10],None,that
8816,2369,22,Direct/indirect style alternations,yes,"[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...",The study found that only about one-third of p...,Only about one-third of parents of sexually ex...,[3],None,that,None
9039,2422,22,Direct/indirect style alternations,yes,"[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]","`` Frank Quattrone is innocent , '' Keker said...",Quattrone lawyer John W. Keker said his client...,"[0, 1, 2, 3, 4, 5, 6]","[6, 7, 8, 9]","`` Frank Quattrone is innocent , ''",his client is innocent
9790,2634,22,Direct/indirect style alternations,yes,"[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...",But he confessed : `` There 's total fear to s...,But he said there was a `` total fear to start...,None,"[3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, ...",None,there was a `` total fear to start with becaus...
9820,2642,22,Direct/indirect style alternations,yes,"[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]",`` There is always a danger of casualties in s...,Howard said there was always a risk of casualt...,None,"[2, 3, 4, 5, 6, 7, 8]",None,there was always a risk of casualties
9848,2655,22,Direct/indirect style alternations,yes,"[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","All along , we were basing our decisions on th...","She insisted that throughout the mission , man...",None,[2],None,that
9854,2657,22,Direct/indirect style alternations,yes,"[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...",Quattrone lawyer John W. Keker said his client...,"In a statement Monday , his lawyer John Keker ...",None,"[10, 11, 12, 13, 14]",None,`` Frank Quattrone is innocent
9861,2658,22,Direct/indirect style alternations,yes,"[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...",He said Qualcomm has enjoyed many years of sel...,`` Qualcomm has enjoyed many years of selling ...,"[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]",None,Qualcomm has enjoyed many years of selling CDM...,None
10172,2743,22,Direct/indirect style alternations,yes,"[0, 1, 2, 22, 24, 25]","[1, 2, 3]","`` I conclude , Baer said",Harold Baer concluded,"[0, 1, 2]",None,`` I conclude,None
10213,2753,22,Direct/indirect style alternations,yes,"[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...",The truck carried the equivalent of 1.6 tons o...,"Another Chechen emergency ministry official , ...",None,"[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]",None,the truck was carrying the equivalent of 1.6 t...

In [79]:
print_sents(1346)

The $19.50-a-share bid, comes two days after PeopleSoft revised its bid for smaller rival J.D. Edwards & Co. JDEC.O to include cash as well as stock.
Oracle's $19.50-a-share bid comes two days after PeopleSoft added cash to its original all-share deal with smaller rival J.D. Edwards & Co. JDEC.O .

The annotation for this type seem to be all over the place. Nevertheless, an easy case to deal with seems to be 
additions of 'that':

In [80]:
direct = pd.DataFrame(columns = textual_paraphrases.columns, data = copy.deepcopy(textual_paraphrases.values))
direct = direct[direct['type_id'] == 22]
direct.drop(columns=['s1_scope', 's2_scope'], inplace=True)
direct.rename(columns={'key_s1': 's1_scope', 'key_s2': 's2_scope'}, inplace=True)

In [81]:
direct[:30]

,pair_id,type_id,type_name,sense_preserving,s1_text,s2_text,s1_scope,s2_scope,k1_text,k2_text
521,141,22,Direct/indirect style alternations,yes,"`` This deal makes sense for both companies , ...","Brian Halla , CEO of NatSemi , claimed the dea...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]",None,"`` This deal makes sense for both companies , ''",None
745,197,22,Direct/indirect style alternations,yes,`` I just got carried away and started making ...,he got carried away and just `` started making...,"[0, 11]",None,`` '',None
872,225,22,Direct/indirect style alternations,yes,Mr Abbas said : `` Every day without an agreem...,"His Palestinian counterpart , Mahmoud Abbas , ...",None,[8],None,that
2076,547,22,Direct/indirect style alternations,yes,The draft of the report was forthright : `` Cl...,The original report had concluded that ''clima...,None,[5],None,that
2676,701,22,Direct/indirect style alternations,yes,He added that those `` are not solely American...,`` These are not solely American principles no...,[2],None,that,None
3362,895,22,Direct/indirect style alternations,yes,We need a certifiable pay as you go budget by ...,Texas lawmakers must close a $ 185.9 million b...,"[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...",None,We need a certifiable pay as you go budget by ...,None
3988,1068,22,Direct/indirect style alternations,yes,`` There is no conscious policy of the United ...,there is no conscious policy by the United Sta...,"[0, 25]",None,`` '',None
4899,1323,22,Direct/indirect style alternations,yes,The bank also said its offer was subject to th...,The offer is also subject to Goldman signing a...,"[4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16,...",None,its offer was subject to the agreement of Drax...,None
4929,1331,22,Direct/indirect style alternations,yes,He said they were in distress,We 're asphyxiating,"[3, 4, 5, 6]",None,they were in distress,None
5003,1347,22,Direct/indirect style alternations,yes,the two men were `` defined by dedication and ...,`` [ They ] were defined by dedication and cou...,None,"[0, 11]",None,`` ''
5082,1373,22,Direct/indirect style alternations,yes,"O'Donnell wrote in her autobiography , `` Find...","In her autobiography , `` Find Me , '' O'Donne...",[11],None,that,None
5259,1422,22,Direct/indirect style alternations,yes,`` The discovery that the MAP bug is present i...,The researchers say that the fact the MAP bug ...,None,[3],None,that
5663,1521,22,Direct/indirect style alternations,yes,The vast majority of trades will be priced at ...,Eurex said `` the vast majority '' of trades o...,None,"[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 1...",None,`` the vast majority '' of trades on Eurex US ...
6286,1710,22,Direct/indirect style alternations,yes,"`` It '' s absurd , '' Funny Cide 's trainer B...","Meanwhile , Funny Cide 's trainer , Barclay Ta...",None,"[11, 12, 13, 14, 16]",None,the allegations `` ridiculous ''\n
6791,1838,22,Direct/indirect style alternations,yes,Neither military action nor large-scale briber...,"Indeed , Wolfowitz admitted Saturday that neit...",None,[5],None,that
7000,1892,22,Direct/indirect style alternations,yes,"`` If I was diagnosed today with CJD , I would...",He added that if he were diagnosed with vCJD `...,None,[2],None,that
7403,1996,22,Direct/indirect style alternations,yes,Gibson said last month in a press statement th...,Gibson said in a June statement that he and hi...,None,[6],None,that
7561,2048,22,Direct/indirect style alternations,yes,`` We will work with the board to ensure a smo...,He said federal regulators would work with the...,None,"[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]",None,federal regulators would work with the corpora...
7622,2059,22,Direct/indirect style alternations,yes,`` No data exists to indicate that the situati...,"However , FAA spokeswoman Kathleen Bergen said...","[0, 17]","[7, 8, 9, 10, 11, 12, 13, 14, 15]",`` '',no data indicate that the situation poses safe...
7632,2061,22,Direct/indirect style alternations,yes,IAAF council member Jose Maria Odriozola said ...,`` I have proposed to the [ IAAF ] council tha...,"[7, 8, 9, 10, 11, 12, 13]",None,Drummond should be excluded from the champions...,None
8210,2211,22,Direct/indirect style alternations,yes,"In terms of a free trade area , we 've got a l...","As for a free trade area , the official stress...",None,[10],None,that
8816,2369,22,Direct/indirect style alternations,yes,The study found that only about one-third of p...,Only about one-third of parents of sexually ex...,[3],None,that,None
9039,2422,22,Direct/indirect style alternations,yes,"`` Frank Quattrone is innocent , '' Keker said...",Quattrone lawyer John W. Keker said his client...,"[0, 1, 2, 3, 4, 5, 6]","[6, 7, 8, 9]","`` Frank Quattrone is innocent , ''",his client is innocent
9790,2634,22,Direct/indirect style alternations,yes,But he confessed : `` There 's total fear to s...,But he said there was a `` total fear to start...,None,"[3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, ...",None,there was a `` total fear to start with becaus...
9820,2642,22,Direct/indirect style alternations,yes,`` There is always a danger of casualties in s...,Howard said there was always a risk of casualt...,None,"[2, 3, 4, 5, 6, 7, 8]",None,there was always a risk of casualties
9848,2655,22,Direct/indirect style alternations,yes,"All along , we were basing our decisions on th...","She insisted that throughout the mission , man...",None,[2],None,that
9854,2657,22,Direct/indirect style alternations,yes,Quattrone lawyer John W. Keker said his client...,"In a statement Monday , his lawyer John Keker ...",None,"[10, 11, 12, 13, 14]",None,`` Frank Quattrone is innocent
9861,2658,22,Direct/indirect style alternations,yes,He said Qualcomm has enjoyed many years of sel...,`` Qualcomm has enjoyed many years of selling ...,"[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]",None,Qualcomm has enjoyed many years of selling CDM...,None
10172,2743,22,Direct/indirect style alternations,yes,"`` I conclude , Baer said",Harold Baer concluded,"[0, 1, 2]",None,`` I conclude,None
10213,2753,22,Direct/indirect style alternations,yes,The truck carried the equivalent of 1.6 tons o...,"Another Chechen emergency ministry official , ...",None,"[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]",None,the truck was carrying the equivalent of 1.6 t...

In [82]:
print_sents(2058)

"The NAFTA ruling confirms that Canadian producers dump lumber in to the U.S. market," Rusty Wood, chairman of the coalition, said in a release.
"The NAFTA ruling confirms that Canadian producers dump lumber into the U.S. market," said Rusty Wood, chairman of the Coalition for Fair Lumber Imports.

In [83]:
direct_that = direct[(direct['k1_text'] == 'that') | (direct['k2_text'] == 'that')][:30]
direct_that

,pair_id,type_id,type_name,sense_preserving,s1_text,s2_text,s1_scope,s2_scope,k1_text,k2_text
872,225,22,Direct/indirect style alternations,yes,Mr Abbas said : `` Every day without an agreem...,"His Palestinian counterpart , Mahmoud Abbas , ...",None,[8],None,that
2076,547,22,Direct/indirect style alternations,yes,The draft of the report was forthright : `` Cl...,The original report had concluded that ''clima...,None,[5],None,that
2676,701,22,Direct/indirect style alternations,yes,He added that those `` are not solely American...,`` These are not solely American principles no...,[2],None,that,None
5082,1373,22,Direct/indirect style alternations,yes,"O'Donnell wrote in her autobiography , `` Find...","In her autobiography , `` Find Me , '' O'Donne...",[11],None,that,None
5259,1422,22,Direct/indirect style alternations,yes,`` The discovery that the MAP bug is present i...,The researchers say that the fact the MAP bug ...,None,[3],None,that
6791,1838,22,Direct/indirect style alternations,yes,Neither military action nor large-scale briber...,"Indeed , Wolfowitz admitted Saturday that neit...",None,[5],None,that
7000,1892,22,Direct/indirect style alternations,yes,"`` If I was diagnosed today with CJD , I would...",He added that if he were diagnosed with vCJD `...,None,[2],None,that
7403,1996,22,Direct/indirect style alternations,yes,Gibson said last month in a press statement th...,Gibson said in a June statement that he and hi...,None,[6],None,that
8210,2211,22,Direct/indirect style alternations,yes,"In terms of a free trade area , we 've got a l...","As for a free trade area , the official stress...",None,[10],None,that
8816,2369,22,Direct/indirect style alternations,yes,The study found that only about one-third of p...,Only about one-third of parents of sexually ex...,[3],None,that,None
9848,2655,22,Direct/indirect style alternations,yes,"All along , we were basing our decisions on th...","She insisted that throughout the mission , man...",None,[2],None,that
13045,3455,22,Direct/indirect style alternations,yes,"Also , hospital efforts to start `` fever clin...",Dr. Roth also said that hospital efforts to st...,None,[4],None,that
13164,3487,22,Direct/indirect style alternations,yes,He said that it would be ''very difficult '' t...,"Even with time , he said , `` it 's going to b...",[2],None,that,None
14395,3810,22,Direct/indirect style alternations,yes,"He said that in early December , immigration i...","In early December , immigration inspectors at ...",[2],None,that,None
14774,3900,22,Direct/indirect style alternations,yes,Mr Eddington warned yesterday that the future ...,`` The future of BA is in the hands of the neg...,[4],None,that,None
14911,3935,22,Direct/indirect style alternations,yes,Yesterday 's ruling is a great first step towa...,He said the court 's ruling was a great first ...,None,[20],None,that
16950,4477,22,Direct/indirect style alternations,yes,The petition alleges that Huletts unfair sales...,Those unfair sales have damaged the US industr...,[3],None,that,None
17053,4498,22,Direct/indirect style alternations,yes,State Supreme Court Justice Ira Gammerman said...,New York Supreme Court Justice Ira Gammerman s...,None,[11],None,that
17788,4672,22,Direct/indirect style alternations,yes,"`` That said , however , no actual explosives ...",Ridge said that no actual explosives or other ...,None,[2],None,that
18117,4748,22,Direct/indirect style alternations,yes,"His lawyer , Harriet Newman Cohen , said later...","Yesterday , Mr. Cuomo 's lawyer , Harriet Newm...",[9],None,that,None
18955,4974,22,Direct/indirect style alternations,yes,"At least 154 people , most of them opposition ...",Police spokesman Wayne Bvudzijena said in a st...,None,[8],None,that
19905,5226,22,Direct/indirect style alternations,yes,"Dogs , he said , are second only to humans in ...",He said that dogs are second only to humans in...,None,[2],None,that
20192,5292,22,Direct/indirect style alternations,yes,read a statement over the phone : `` Mr. Cuomo...,said in a statement that he `` was betrayed,[17],[12],:,that
20985,5493,22,Direct/indirect style alternations,yes,ONA explicitly stated that it did not receive ...,`` But at no stage did ONA receive intelligenc...,[3],None,that,None
21929,5765,22,Direct/indirect style alternations,yes,"Mark Longabaugh , the league 's vice president...",Kempthorne has ''shown a distinct contempt for...,[13],None,that,None

In [84]:
substitute(22, direct_that, 1)

In [85]:
direct_quotemarks = direct[(direct['k1_text'] == "`` ''") | (direct['k2_text'] == "`` ''")][:10]
# 'k2_text' in the row below has other elements of the sentence, and we don't want to mess with those
direct_quotemarks.loc[direct_quotemarks['pair_id'] == 2059, 'k2_text'] = None  
direct_quotemarks

,pair_id,type_id,type_name,sense_preserving,s1_text,s2_text,s1_scope,s2_scope,k1_text,k2_text
745,197,22,Direct/indirect style alternations,yes,`` I just got carried away and started making ...,he got carried away and just `` started making...,"[0, 11]",None,`` '',None
3988,1068,22,Direct/indirect style alternations,yes,`` There is no conscious policy of the United ...,there is no conscious policy by the United Sta...,"[0, 25]",None,`` '',None
5003,1347,22,Direct/indirect style alternations,yes,the two men were `` defined by dedication and ...,`` [ They ] were defined by dedication and cou...,None,"[0, 11]",None,`` ''
7622,2059,22,Direct/indirect style alternations,yes,`` No data exists to indicate that the situati...,"However , FAA spokeswoman Kathleen Bergen said...","[0, 17]","[7, 8, 9, 10, 11, 12, 13, 14, 15]",`` '',None
16877,4454,22,Direct/indirect style alternations,yes,its contention that KBR had `` delivered fuel ...,`` We believe KBR delivered fuel to Iraq at th...,None,"[0, 21]",None,`` ''
17540,4612,22,Direct/indirect style alternations,yes,it believed `` the long-term prospects for the...,`` We believe the long-term prospects for the ...,None,"[0, 16]",None,`` ''

In [86]:
substitute(22, direct_quotemarks, 8)

Double check type overwriting: row 196, sentence 1
Common indices: [0, 11] | Pre-existing types: ['3_1' '3_1']
Double check type overwriting: row 1067, sentence 1
Common indices: [0, 25] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 1346, sentence 2
Common indices: [0, 11] | Pre-existing types: ['3_1' '3_1']
Double check type overwriting: row 2058, sentence 2
Common indices: [9, 15] | Pre-existing types: ['6_0' '5_0 & 6_1']
Double check type overwriting: row 4453, sentence 2
Common indices: [0, 21] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 4611, sentence 2
Common indices: [0, 16] | Pre-existing types: ['3_0' '3_0']

In [87]:
print_sents(2058)

"The NAFTA ruling confirms that Canadian producers dump lumber in to the U.S. market," Rusty Wood, chairman of the coalition, said in a release.
"The NAFTA ruling confirms that Canadian producers dump lumber into the U.S. market," said Rusty Wood, chairman of the Coalition for Fair Lumber Imports.

In [88]:
direct_that.index.tolist()

[872,
 2076,
 2676,
 5082,
 5259,
 6791,
 7000,
 7403,
 8210,
 8816,
 9848,
 13045,
 13164,
 14395,
 14774,
 14911,
 16950,
 17053,
 17788,
 18117,
 18955,
 19905,
 20192,
 20985,
 21929]

In [89]:
indices = direct_that.index.tolist() + direct_quotemarks.index.tolist()
indices
direct_remaining = direct.drop(index=indices)
direct_remaining

,pair_id,type_id,type_name,sense_preserving,s1_text,s2_text,s1_scope,s2_scope,k1_text,k2_text
521,141,22,Direct/indirect style alternations,yes,"`` This deal makes sense for both companies , ...","Brian Halla , CEO of NatSemi , claimed the dea...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]",None,"`` This deal makes sense for both companies , ''",None
3362,895,22,Direct/indirect style alternations,yes,We need a certifiable pay as you go budget by ...,Texas lawmakers must close a $ 185.9 million b...,"[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...",None,We need a certifiable pay as you go budget by ...,None
4899,1323,22,Direct/indirect style alternations,yes,The bank also said its offer was subject to th...,The offer is also subject to Goldman signing a...,"[4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16,...",None,its offer was subject to the agreement of Drax...,None
4929,1331,22,Direct/indirect style alternations,yes,He said they were in distress,We 're asphyxiating,"[3, 4, 5, 6]",None,they were in distress,None
5663,1521,22,Direct/indirect style alternations,yes,The vast majority of trades will be priced at ...,Eurex said `` the vast majority '' of trades o...,None,"[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 1...",None,`` the vast majority '' of trades on Eurex US ...
6286,1710,22,Direct/indirect style alternations,yes,"`` It '' s absurd , '' Funny Cide 's trainer B...","Meanwhile , Funny Cide 's trainer , Barclay Ta...",None,"[11, 12, 13, 14, 16]",None,the allegations `` ridiculous ''\n
7561,2048,22,Direct/indirect style alternations,yes,`` We will work with the board to ensure a smo...,He said federal regulators would work with the...,None,"[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]",None,federal regulators would work with the corpora...
7632,2061,22,Direct/indirect style alternations,yes,IAAF council member Jose Maria Odriozola said ...,`` I have proposed to the [ IAAF ] council tha...,"[7, 8, 9, 10, 11, 12, 13]",None,Drummond should be excluded from the champions...,None
9039,2422,22,Direct/indirect style alternations,yes,"`` Frank Quattrone is innocent , '' Keker said...",Quattrone lawyer John W. Keker said his client...,"[0, 1, 2, 3, 4, 5, 6]","[6, 7, 8, 9]","`` Frank Quattrone is innocent , ''",his client is innocent
9790,2634,22,Direct/indirect style alternations,yes,But he confessed : `` There 's total fear to s...,But he said there was a `` total fear to start...,None,"[3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, ...",None,there was a `` total fear to start with becaus...
9820,2642,22,Direct/indirect style alternations,yes,`` There is always a danger of casualties in s...,Howard said there was always a risk of casualt...,None,"[2, 3, 4, 5, 6, 7, 8]",None,there was always a risk of casualties
9854,2657,22,Direct/indirect style alternations,yes,Quattrone lawyer John W. Keker said his client...,"In a statement Monday , his lawyer John Keker ...",None,"[10, 11, 12, 13, 14]",None,`` Frank Quattrone is innocent
9861,2658,22,Direct/indirect style alternations,yes,He said Qualcomm has enjoyed many years of sel...,`` Qualcomm has enjoyed many years of selling ...,"[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]",None,Qualcomm has enjoyed many years of selling CDM...,None
10172,2743,22,Direct/indirect style alternations,yes,"`` I conclude , Baer said",Harold Baer concluded,"[0, 1, 2]",None,`` I conclude,None
10213,2753,22,Direct/indirect style alternations,yes,The truck carried the equivalent of 1.6 tons o...,"Another Chechen emergency ministry official , ...",None,"[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]",None,the truck was carrying the equivalent of 1.6 t...
11329,3023,22,Direct/indirect style alternations,yes,IBM said it believes that the investigation ar...,The company added : `` IBM believes that the i...,"[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 1...","[3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, ...",it believes that the investigation arose from ...,: `` IBM believes that the investigation arise...
11761,3121,22,Direct/indirect style alternations,yes,"In a statement , Lee said he `` no longer beli...",Spike Lee no longer believes that Viacom delib...,"[7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, ...",None,`` no longer believes that Viacom deliberately...,None
12016,3187,22,Direct/indirect style alternations,yes,Mr Charlton was in the third aisle when a man ...,He said a man in the seventh row in a `` brown...,None,"[1, 10, 23]",None,said `` ''
12498,3317,22,Direct/indirect style alternations,yes,The opposition would resort to rolling mass ac...,we will embark on rolling mass action,None,"[4, 5, 6, 7, 8, 9, 10]",None,we will embark on rolling mass action
13367,3540,22,Direct/indirect style alternations,yes,SEC Chairman William Donaldson said there is a...,`` I think there 's a building confidence that...,"[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17...","[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]",there is a `` building confidence out there th...,I think there 's a building confidence that th...
13551,3590,22,Direct/indirect style alternations,yes,My decision today is not based on any one even...,Governor Rowland said his decision was `` not ...,[0],[3],My,his
13842,3666,22,Direct/indirect style alternations,yes,`` Only 1pc of those taking the drug worldwide...,AstraZeneca says just 1pc of people of those t...,None,"[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]",None,just 1pc of people of those taking the drug wo...
14025,3712,22,Direct/indirect style alternations,yes,one-third of those taking the drug would gain ...,"a third of those taking it would benefit , gai...",None,"[6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 1...",None,"a third of those taking it would benefit , gai..."
15266,4031,22,Direct/indirect style alternations,yes,The retailer said it came to the decision afte...,The decision came after `` listening to our cu...,None,"[4, 5, 6, 7, 8, 9, 10, 11, 12]",None,"`` listening to our customers and associates , ''"
15443,4074,22,Direct/indirect style alternations,yes,`` We have concluded that the outlook for pric...,"In a statement , the ECB said the outlook for ...",None,"[7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, ...",None,the outlook for price stability over the mediu...
16165,4255,22,Direct/indirect style alternations,yes,SCO says the pricing terms for a license will ...,Details on pricing will be announced within a ...,"[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]",None,the pricing terms for a license will not be an...,None
17862,4687,22,Direct/indirect style alternations,yes,Agrawal said her research does not suggests th...,She continued : `` Our research neither sugges...,"[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 1...","[3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, ...",her research does not suggests that PCOS cause...,`` Our research neither suggests nor indicates...
18370,4823,22,Direct/indirect style alternations,yes,`` PNC regrets its involvement '' in the deals...,"James Rohr , chairman and chief executive offi...",None,"[10, 11, 12, 13]",None,PNC regretted the incident
19108,5016,22,Direct/indirect style alternations,yes,The U.S. State Department travel warning said ...,`` The threat to aircraft by terrorists using ...,"[7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, ...",None,the threat to aircraft by terrorists using sho...,None
20283,5313,22,Direct/indirect style alternations,yes,Agrawal said her research neither suggests nor...,She continued : `` Our research neither sugges...,None,"[2, 3]",None,: ``
20353,5333,22,Direct/indirect style alternations,yes,The final report on the investigation could ta...,Engleman said the final report on the investig...,None,"[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]",None,the final report on the investigation could ta...
20390,5341,22,Direct/indirect style alternations,yes,"A spokesman said : `` Since November , we have...",It added it had `` co-operated fully '' with p...,None,"[2, 3, 4, 5, 6, 7, 8, 9, 10, 11]",None,it had `` co-operated fully '' with police sin...
21190,5552,22,Direct/indirect style alternations,yes,"`` The European Union is basically absent , ''...","Tito Barbini , a regional minister for agricul...",None,None,None,None
21570,5659,22,Direct/indirect style alternations,yes,"Reacting to Thompson 's attack , Ed Skyler , a...","Responding , Edward Skyler , a spokesman for t...",None,"[13, 14]",None,: ``
21591,5664,22,Direct/indirect style alternations,yes,"Announcing the selection , Kmart CEO Julian Da...","Together , we will find creative ways to commu...","[9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20...",None,Grey will help the retailer `` find creative w...,None

### Sentence Modality Changes

Nothing needed here; this type has zero occurences in the ETPC

### Syntax/Discourse Structure Changes (TODO)

In [90]:
textual_paraphrases[textual_paraphrases['type_id'] == 24][:10]

,pair_id,type_id,type_name,sense_preserving,s1_scope,s2_scope,s1_text,s2_text,key_s1,key_s2,k1_text,k2_text
36,14,24,Syntax/discourse structure changes,yes,"[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...",But he added group performance would improve i...,De Sole said in the results statement that gro...,None,[7],None,that
148,48,24,Syntax/discourse structure changes,yes,"[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...",The company has said it plans to restate its e...,The company had announced in January that it w...,None,[6],None,that
217,67,24,Syntax/discourse structure changes,yes,"[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","The downtime , to take place in May and June ,...",The downtime is expected to take 60 million to...,"[14, 16]","[5, 13, 14]",cut by,take out of
226,69,24,Syntax/discourse structure changes,yes,"[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...",The University of Michigan released a new unde...,The University of Michigan released today a ne...,"[11, 12]","[10, 11, 12, 13, 14, 15, 16]",", dropping",after the U.S. Supreme Court struck down
265,76,24,Syntax/discourse structure changes,yes,"[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","Thomas and Tauzin say , as do many doctors , t...","Like many doctors , Mr. Thomas and Mr. Tauzin ...",[10],None,that,None
283,80,24,Syntax/discourse structure changes,yes,"[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...",The delegates said raising and distributing fu...,Bin Laden’s men pointed out that raising and d...,None,[5],None,that
342,100,24,Syntax/discourse structure changes,yes,"[24, 25, 26, 27, 28, 29]","[21, 22, 23, 24, 25, 26]",after it admitted falsifying inspection reports,after admitting it falsified inspection reports,"[25, 26, 27]","[22, 23, 24]",it admitted falsifying,admitting it falsified
532,143,24,Syntax/discourse structure changes,yes,"[11, 12, 13, 14, 15, 16, 17, 18, 19]","[10, 11, 12, 13, 14, 15, 16]","Swartz repaid it in full , with interest ,",that Swartz fully repaid it with interest,None,[10],None,that
562,153,24,Syntax/discourse structure changes,yes,"[0, 1, 2, 3, 4, 10, 11]","[0, 1, 2, 3, 4]","In two new schemes , target families",Two new schemes target families,[0],None,In,None
567,155,24,Syntax/discourse structure changes,yes,"[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 1...",Miss Novikova said while there is no standard ...,Ms. Novikova said that there was no standard w...,None,[9],None,that

In [91]:
syn_disc = duplicate_df(textual_paraphrases)
syn_disc = syn_disc[syn_disc['type_id'] == 24]
syn_disc.drop(columns=['s1_scope', 's2_scope'], inplace=True)
syn_disc.rename(columns={'key_s1': 's1_scope', 'key_s2': 's2_scope'}, inplace=True)

syn_disc_add, syn_disc_sub = split_add_sub(syn_disc)

In [92]:
syn_disc_add

,pair_id,type_id,type_name,sense_preserving,s1_text,s2_text,s1_scope,s2_scope,k1_text,k2_text
36,14,24,Syntax/discourse structure changes,yes,But he added group performance would improve i...,De Sole said in the results statement that gro...,None,[7],None,that
148,48,24,Syntax/discourse structure changes,yes,The company has said it plans to restate its e...,The company had announced in January that it w...,None,[6],None,that
265,76,24,Syntax/discourse structure changes,yes,"Thomas and Tauzin say , as do many doctors , t...","Like many doctors , Mr. Thomas and Mr. Tauzin ...",[10],None,that,None
283,80,24,Syntax/discourse structure changes,yes,The delegates said raising and distributing fu...,Bin Laden’s men pointed out that raising and d...,None,[5],None,that
532,143,24,Syntax/discourse structure changes,yes,"Swartz repaid it in full , with interest ,",that Swartz fully repaid it with interest,None,[10],None,that
...,...,...,...,...,...,...,...,...,...,...
21229,5565,24,Syntax/discourse structure changes,yes,State Education Commissioner Kent King said We...,Missouri Education Commissioner Kent King said...,[7],None,that,None
21490,5637,24,Syntax/discourse structure changes,yes,"Colin Powell , the Secretary of State , said c...",Secretary of State Colin Powell said yesterday...,None,[7],None,that
21752,5711,24,Syntax/discourse structure changes,yes,"ALBANY , N.Y. State Senate Majority Leader Jos...","LBANY , Aug. 8 Joseph L. Bruno , the State Sen...",None,[16],None,that
21793,5722,24,Syntax/discourse structure changes,yes,Bush declared that the British government `` h...,"Bush said , `` The British government has lear...",[13],None,that,None
21983,5782,24,Syntax/discourse structure changes,yes,The Ministry of Defence said that `` an invest...,The Ministry of Defence said yesterday : “We c...,[5],None,that,None

Of those, let's subset only additions/deletions of `'that'`, since we know those map nicely to addition/deletion 
of function words

In [93]:
syn_disc_add_that = syn_disc_add[(syn_disc_add['k1_text'] == 'that') | (syn_disc_add['k2_text'] == 'that')]
syn_disc_add_that

,pair_id,type_id,type_name,sense_preserving,s1_text,s2_text,s1_scope,s2_scope,k1_text,k2_text
36,14,24,Syntax/discourse structure changes,yes,But he added group performance would improve i...,De Sole said in the results statement that gro...,None,[7],None,that
148,48,24,Syntax/discourse structure changes,yes,The company has said it plans to restate its e...,The company had announced in January that it w...,None,[6],None,that
265,76,24,Syntax/discourse structure changes,yes,"Thomas and Tauzin say , as do many doctors , t...","Like many doctors , Mr. Thomas and Mr. Tauzin ...",[10],None,that,None
283,80,24,Syntax/discourse structure changes,yes,The delegates said raising and distributing fu...,Bin Laden’s men pointed out that raising and d...,None,[5],None,that
532,143,24,Syntax/discourse structure changes,yes,"Swartz repaid it in full , with interest ,",that Swartz fully repaid it with interest,None,[10],None,that
...,...,...,...,...,...,...,...,...,...,...
21229,5565,24,Syntax/discourse structure changes,yes,State Education Commissioner Kent King said We...,Missouri Education Commissioner Kent King said...,[7],None,that,None
21490,5637,24,Syntax/discourse structure changes,yes,"Colin Powell , the Secretary of State , said c...",Secretary of State Colin Powell said yesterday...,None,[7],None,that
21752,5711,24,Syntax/discourse structure changes,yes,"ALBANY , N.Y. State Senate Majority Leader Jos...","LBANY , Aug. 8 Joseph L. Bruno , the State Sen...",None,[16],None,that
21793,5722,24,Syntax/discourse structure changes,yes,Bush declared that the British government `` h...,"Bush said , `` The British government has lear...",[13],None,that,None
21983,5782,24,Syntax/discourse structure changes,yes,The Ministry of Defence said that `` an invest...,The Ministry of Defence said yesterday : “We c...,[5],None,that,None

In [94]:
substitute(24, syn_disc_add_that, 1)

Double check type overwriting: row 2334, sentence 1
Common indices: [4] | Pre-existing types: ['3_0']
Double check type overwriting: row 2368, sentence 2
Common indices: [10] | Pre-existing types: ['3_0']
Double check type overwriting: row 4792, sentence 2
Common indices: [12] | Pre-existing types: ['3_0']

Let's see what remains

In [95]:
syn_disc_add.drop(syn_disc_add_that.index.tolist(), inplace=True)
syn_disc_add

/tmp/ipykernel_65203/3276250618.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  syn_disc_add.drop(syn_disc_add_that.index.tolist(), inplace=True)

,pair_id,type_id,type_name,sense_preserving,s1_text,s2_text,s1_scope,s2_scope,k1_text,k2_text
562,153,24,Syntax/discourse structure changes,yes,"In two new schemes , target families",Two new schemes target families,[0],None,In,None
613,164,24,Syntax/discourse structure changes,yes,She claimed all the babies were born full-term...,What she told our investigators was that all t...,None,"[1, 6, 7]",None,What was that
1204,308,24,Syntax/discourse structure changes,yes,"The new effort , Taxpayers Against the Recall ...","Called `` Taxpayers Against the Recall , '' it...",None,"[0, 1, 7, 8]",None,Called `` '' it
1731,450,24,Syntax/discourse structure changes,yes,the standards body warns,according to the W3C 's notice,None,"[17, 18]",None,according to
1821,474,24,Syntax/discourse structure changes,yes,Sendmail said,according to Sendmail,None,"[10, 11]",None,according to
2239,592,24,Syntax/discourse structure changes,yes,it 's a technique that 's been successful in p...,the technique has successfully predicted,"[3, 4, 7]",None,it 's that,None
2517,656,24,Syntax/discourse structure changes,yes,according to the report,the report noted,"[13, 14]",None,according to,None
2735,724,24,Syntax/discourse structure changes,yes,"For the third time in the past four years ,",It was the third time in four years that,None,"[0, 1, 8]",None,It was that
3037,802,24,Syntax/discourse structure changes,yes,The numbers highlight a conundrum :,"As stark as the numbers themselves , is the co...",None,"[0, 2, 7]",None,As as is
3160,843,24,Syntax/discourse structure changes,yes,US pressure had provoked,it was U.S. pressure which had provoked,None,"[12, 13, 16]",None,it was which
4415,1190,24,Syntax/discourse structure changes,yes,"Mark Kaiser , vice-president of marketing , an...","Mark Kaiser and Tim Lee , respectively US Food...",None,[6],None,respectively
4469,1211,24,Syntax/discourse structure changes,yes,Air Transport Association spokeswoman Diana Cr...,ATA spokeswoman Diana Cronan said travel was d...,"[7, 16]",None,that that,None
5714,1545,24,Syntax/discourse structure changes,yes,the safety it needed,what it needed safety,None,[21],None,what
5822,1583,24,Syntax/discourse structure changes,yes,17-year-old Max Guarino,"Max Guarino , 17 ,",None,None,None,None
6185,1684,24,Syntax/discourse structure changes,yes,He added International Business Machines Corp....,"Complicating the situation , he continued , ar...",None,"[0, 1, 2, 3, 7, 10, 13]",None,"Complicating the situation , are like whose"
6876,1868,24,Syntax/discourse structure changes,yes,resistance forces hostile to the U.S. presence...,There are some who feel,None,"[0, 3]",None,There who
7007,1896,24,Syntax/discourse structure changes,yes,A COUPLE have been arrested for starving,A couple starved,"[2, 3, 4, 5]",None,have been arrested for,None
7107,1921,24,Syntax/discourse structure changes,yes,CELF said,according to various members of CELF,None,"[15, 16]",None,according to
7159,1935,24,Syntax/discourse structure changes,yes,"Fifty-seven senators , including 24 Republican...","Of those who signed the letter , 57 are senato...",None,"[0, 1, 2, 8]",None,Of those who are
7225,1951,24,Syntax/discourse structure changes,yes,she did n't say,She said she did n't know yet,None,"[2, 3, 4, 5]",None,she did n't know
7849,2127,24,Syntax/discourse structure changes,yes,of a point,point,"[12, 13]",None,of a,None
10090,2725,24,Syntax/discourse structure changes,yes,This is the first time in the United States th...,"Today , the experts will perform the United St...","[0, 1, 9]",None,This is that,None
10908,2924,24,Syntax/discourse structure changes,yes,Although deeply disapproved of,Although the Beatles were deeply disapproved of,None,[3],None,were
11798,3130,24,Syntax/discourse structure changes,yes,"That client component , the Microsoft Windows ...",Microsoft released Windows Rights Management C...,"[12, 13]",None,is what,None
11813,3132,24,Syntax/discourse structure changes,yes,nothing but praise,praise,"[15, 16]",None,nothing but,None
12187,3228,24,Syntax/discourse structure changes,yes,It was the first speech by a US president to,President Bush became the first American presi...,"[0, 1, 5]",None,It was by,None
12253,3248,24,Syntax/discourse structure changes,yes,This is what Dr. Dean said : `` I still want t...,He told the Register : `` I still want to be t...,"[0, 1, 2]",None,This is what,None
12610,3346,24,Syntax/discourse structure changes,yes,Neither immediately said his agency would appe...,Neither said whether they would appeal the dec...,None,[2],None,whether
13394,3549,24,Syntax/discourse structure changes,yes,No rabies vaccine is available,there is no rabies vaccine,None,"[3, 4]",None,there is
13555,3593,24,Syntax/discourse structure changes,yes,As envisioned by Breaux,Breaux outlined a plan,"[0, 2, 4]",None,"As by ,",None
13573,3598,24,Syntax/discourse structure changes,yes,By the time the two-term president left office...,"By the time that Reagan left office in 1989 , ...",None,"[3, 21]",None,that that
15069,3976,24,Syntax/discourse structure changes,yes,Axcan made its first offer,the initial offer,"[9, 10]",None,made its,None
17047,4498,24,Syntax/discourse structure changes,yes,It was an ill-conceived lawsuit,the lawsuit was `` ill-conceived,[13],None,It,None
17059,4500,24,Syntax/discourse structure changes,yes,the three workers were two men and a woman who...,"The missing workers , two men and a woman , we...",[17],None,who,None
17955,4712,24,Syntax/discourse structure changes,yes,Pepper spray and four arrests marked a Monday ...,Police using pepper spray arrested 12 people M...,[5],None,marked,None
18308,4812,24,Syntax/discourse structure changes,yes,Counties with population declines will be Verm...,"Vermillion , Posey and Madison County populati...","[4, 5]",None,will be,None
18767,4922,24,Syntax/discourse structure changes,yes,At least 11 more cases,There’s at least 11,None,[0],None,There’s
19364,5076,24,Syntax/discourse structure changes,yes,People who have opposed these actions througho...,`` What is happening here is that people who h...,None,"[1, 2, 3, 4, 5, 6]",None,What is happening here is that
20193,5293,24,Syntax/discourse structure changes,yes,`` I do n't think he 's been that good from th...,This is what Limbaugh actually said about McNa...,None,"[0, 1, 2]",None,This is what
20585,5387,24,Syntax/discourse structure changes,yes,it was a movie,the film is,[2],None,it,None
21123,5535,24,Syntax/discourse structure changes,yes,The Cleveland Cavaliers won the right to draft...,Such was the case Thursday night when the Clev...,None,"[0, 1, 2, 3, 6]",None,Such was the case when

In [96]:
substitute(24, syn_disc_add, 2)

Double check type overwriting: row 307, sentence 2
Common indices: [8] | Pre-existing types: ['5_0']
Double check type overwriting: row 3975, sentence 1
Common indices: [9, 10] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 4499, sentence 1
Common indices: [17] | Pre-existing types: ['3_0']

In [151]:
syn_disc_sub[150:]

,pair_id,type_id,type_name,sense_preserving,s1_text,s2_text,s1_scope,s2_scope,k1_text,k2_text
21025,5513,24,Syntax/discourse structure changes,yes,a minibus detonated a bomb in a Baghdad traffi...,a bomb explosion in a Baghdad traffic tunnel k...,"[5, 6, 8, 15, 19]","[3, 4, 11, 15]",detonated a bomb killing wounding,a bomb killed wounded
21237,5566,24,Syntax/discourse structure changes,yes,", which has agreed to handle his surrender",about arranging his surrender,"[12, 13, 14, 15, 16]","[11, 12]",which has agreed to handle,about arranging
21348,5593,24,Syntax/discourse structure changes,yes,The company posted a profit of $ 54.3 million ...,"That was up from the year-ago quarter , when t...",[16],"[0, 1, 2, 3, 8]",in,That was up from when
21353,5600,24,Syntax/discourse structure changes,yes,"Among those waiting a turn was Jodie Singer , ...","Jodie Singer , a sixth-grader from Washington ...","[0, 1, 2, 3, 4, 5]","[10, 11, 12, 13]",Among those waiting a turn was,anxiously awaited her turn
21416,5614,24,Syntax/discourse structure changes,yes,California lost $ 937 million to corporate tax...,California 's lost tax revenue was mostly due ...,[8],"[5, 6, 7, 8]",to,was mostly due to
21515,5645,24,Syntax/discourse structure changes,yes,Another shooting linked to the spree occurred ...,The latest shooting linked to the spree was a ...,[6],"[7, 8, 11]",occurred,was a shooting
21527,5648,24,Syntax/discourse structure changes,yes,Congress is the best forum for weighing,Congress is the best forum to address,[8],[8],for,to
21535,5651,24,Syntax/discourse structure changes,yes,And because it is so far out in international ...,It is so far out in international water that t...,"[1, 10]",[8],"because ,",that
21543,5652,24,Syntax/discourse structure changes,yes,a set of guidelines to help public administrat...,guidelines to member governments on how to mig...,"[10, 13, 14, 23, 24]","[10, 11]",help decide whether or not,on how
21611,5672,24,Syntax/discourse structure changes,yes,Only Intel Corp. 's 0.3 percent yield was lower .,Only Intel Corp. has a lower dividend yield .\n,"[7, 8]","[3, 4, 5]",was lower,has a lower
21684,5692,24,Syntax/discourse structure changes,yes,after he tendered his resignation,after tendering his resignation,[19],[22],tendered,tendering
21745,5710,24,Syntax/discourse structure changes,yes,Women who eat potatoes and other tuberous vege...,a trigger of type 1 diabetes in children - the...,"[10, 11, 12, 13, 14, 15]","[6, 7, 14]",may be at risk of triggering,a trigger -
21999,5786,24,Syntax/discourse structure changes,yes,"all four states as well as West Virginia , Del...","North Carolina , Virginia , Washington DC , Ma...","[6, 7, 8, 9, 10, 11]","[6, 7, 8, 9, 10, 14, 15, 21]",all four states as well as,"North Carolina , Virginia , Maryland , Pennsyl..."

In [98]:
print_sents(2540)

Wal-Mart, the nation's largest private employer, has expanded its antidiscrimination policy to protect gay and lesbian employees, company officials said Tuesday.
Wal-Mart Stores Inc., the nation's largest private employer, will now include gays and lesbians in its anti-discrimination policy, company officials said Wednesday.

In [99]:
positives.loc[438,:]

idx                                                                     438
sentence1                 The letter stated that a premature stillborn b...
sentence2                 According to the writer of the letter, the inf...
sentence1_tokenized       [The, letter, stated, that, a, premature, stil...
sentence2_tokenized       [According, to, the, writer, of, the, letter, ...
etpc_label                                                                1
mrpc_label                                                                1
ept_names                 [Same Polarity Substitution (contextual), Synt...
ept_ids                                             [6, 24, 25, 25, 29, 21]
sentence1_scope_etpc      [24, 24, 24, 24, 6, 6, 6, 6, 25, 25, 25, 25, 2...
sentence2_scope_etpc      [24, 24, 24, 24, 24, 24, 24, 24, 6, 6, 0, 0, 0...
sentence1_segment_text    [a premature stillborn baby, The letter stated...
sentence2_segment_text    [the infant, According to the writer of the le...
sentence1_scope              [, , , , 5_0, 5_0, 5_0, 5_0, , , , , , , , , ]
sentence2_scope           [, , , , , , , , 5_0, 5_0, , 8_0, , , , , , , ...
Name: 438, dtype: object

### Semantic Based

In [100]:
textual_paraphrases[textual_paraphrases['type_id'] == 28]

,pair_id,type_id,type_name,sense_preserving,s1_scope,s2_scope,s1_text,s2_text,key_s1,key_s2,k1_text,k2_text
102,35,28,Semantic based,yes,"[0, 1, 2, 3, 4, 5]",[10],The largest gains were seen in,increased,None,None,None,None
129,41,28,Semantic based,yes,"[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]","[3, 4, 5, 6, 7, 8, 9, 10]",the court upheld Cleveland 's school voucher p...,the court ruled 5-4 in an Ohio case,None,None,None,None
166,51,28,Semantic based,yes,"[13, 14, 15, 16]","[18, 19, 20, 21]",they were legally employed,they have legal status,None,None,None,None
214,64,28,Semantic based,yes,"[2, 3, 4, 5, 6, 7, 8]","[5, 6, 7, 8, 9]",what PeopleSoft management would have you believe,the contentions of PeopleSoft management,None,None,None,None
223,68,28,Semantic based,yes,"[4, 5, 6, 7, 8, 9, 10, 11, 12, 13]","[0, 1, 2, 3, 4]",Troy is expected to be sentenced to life in pr...,Troy faces life in prison,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...
21906,5756,28,Semantic based,yes,"[20, 21]","[22, 25, 26, 27, 28, 29, 30, 31]",work for,be & apos ; s chief operating officer,None,None,None,None
21935,5767,28,Semantic based,yes,"[13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 2...","[13, 14, 15, 16, 17, 18, 19, 20, 21, 22]","43,000 jobs in Santa Clara County and 18,000 j...","nearly 62,000 jobs in the Santa Clara County-S...",None,None,None,None
21953,5772,28,Semantic based,yes,[0],"[2, 3, 4]",After,into the study,None,None,None,None
21980,5781,28,Semantic based,yes,"[8, 9, 10, 11, 12, 13, 14, 15, 16]","[8, 9, 10, 11]",13 of the state 's 16 fatalities were reported,13 people were killed,None,None,None,None
21997,5785,28,Semantic based,yes,"[5, 6, 7, 8, 9, 10, 11, 12, 13]","[9, 10, 11, 12, 13, 14, 15, 16]",as Limbaugh 's attorneys prepared to file an a...,to give Limbaugh 's attorneys time to appeal,None,None,None,None

In [101]:
print_sents(226)

We remain hopeful that the city will agree to work with us and engage in good-faith discussions on this issue."
Alhart said the governor "remains hopeful that the city will continue to work with us and engage in good-faith discussions."

### Ellipsis

In [102]:
ellip = duplicate_df(textual_paraphrases[textual_paraphrases['type_id'] == 16])
ellip['k1_text'] = ellip['k1_text'].str.lower()
ellip['k2_text'] = ellip['k2_text'].str.lower()
ellip.drop(columns=['s1_scope', 's2_scope'], inplace=True)
ellip.rename(columns={'key_s1': 's1_scope', 'key_s2': 's2_scope'}, inplace=True)
ellip

,pair_id,type_id,type_name,sense_preserving,s1_text,s2_text,s1_scope,s2_scope,k1_text,k2_text
0,150,16,Ellipsis,yes,would take would require,would take require,"[3, 8]",[3],would would,would
1,273,16,Ellipsis,yes,short-lived or long-lived,short- or long-lived,"[13, 15]",[14],short-lived long-lived,long-lived
2,336,16,Ellipsis,yes,"The company will launch 800 hot spots , or `` ...",The service will launch later this summer with...,"[0, 1]","[0, 1, 12]",the company,the service sprint
3,470,16,Ellipsis,yes,with aggravated harassment and criminal posses...,with aggravated harassment in the phone call c...,[21],"[10, 19]",with,with with
4,594,16,Ellipsis,yes,"After three months , Atkins dieters had lost a...","Three months into the study , the Atkins group...","[12, 16]",[16],pounds pounds,pounds
...,...,...,...,...,...,...,...,...,...,...
61,5384,16,Ellipsis,yes,12-by-18-inch,12-inch-by-18-inch,[9],[11],12-by-18-inch,12-inch-by-18-inch
62,5744,16,Ellipsis,yes,to establish relationships and to make sure,to establish relationships and make sure,"[6, 10]",[6],to to,to
63,5749,16,Ellipsis,yes,not because of who she is but what she did,not because of who she is but because of what ...,"[6, 7]","[7, 8, 13, 14]",because of,because of because of
64,5772,16,Ellipsis,yes,14.7 pounds 5.8 pounds,15 pounds five,"[12, 16]",[16],pounds pounds,pounds
65,5773,16,Ellipsis,yes,positive numbers than negative,high standards rather than low standards,[8],"[8, 12]",numbers,standards standards

In [103]:
def same(string1, string2):
    return set(string1.split()) == set(string2.split())

In [104]:
samie = ellip[ellip.apply(lambda x: same(x.k1_text, x.k2_text), axis=1)]
ellip.drop(samie.index.tolist(), inplace=True)
samie

,pair_id,type_id,type_name,sense_preserving,s1_text,s2_text,s1_scope,s2_scope,k1_text,k2_text
0,150,16,Ellipsis,yes,would take would require,would take require,"[3, 8]",[3],would would,would
3,470,16,Ellipsis,yes,with aggravated harassment and criminal posses...,with aggravated harassment in the phone call c...,[21],"[10, 19]",with,with with
4,594,16,Ellipsis,yes,"After three months , Atkins dieters had lost a...","Three months into the study , the Atkins group...","[12, 16]",[16],pounds pounds,pounds
5,627,16,Ellipsis,yes,We believe and will defend,We believe and we will defend,[0],"[1, 8]",we,we we
7,768,16,Ellipsis,yes,"Dell has about 32 percent of the U.S. market ,...",Dell has 32 percent of the PC market in the Un...,[1],"[1, 15]",has,has has
9,1207,16,Ellipsis,yes,was lying watching,was lying was watching,[10],"[11, 24]",was,was was
10,1357,16,Ellipsis,yes,"Of personal vehicles , 57 percent are cars or ...","Of all personal vehicles , 57 percent are cars...",[6],"[7, 15, 24]",are,are are are
17,1936,16,Ellipsis,yes,other producers ' server software can work wit...,other producers ' server software can connect ...,[16],"[17, 29]",can,can can
18,2232,16,Ellipsis,yes,About 10 percent of high school and 16 percent...,16 percent of elementary and middle school stu...,[11],"[10, 17]",students,students students
19,2240,16,Ellipsis,yes,will keep the Interwoven name and be headquart...,will be named Interwoven and will be headquart...,[3],"[3, 8]",will,will will
20,2339,16,Ellipsis,yes,from multiple screen names and other POP and I...,"from multiple AOL screen names , as well as fr...",[6],"[5, 14]",from,from from
22,2643,16,Ellipsis,yes,"`` She was crying and scared , '","`` She was crying and she was really scared , ''","[1, 2]","[1, 2, 5, 6]",she was,she was she was
23,2772,16,Ellipsis,yes,sales of grocery and other consumer packaged p...,sales of grocery and other consumer packaged p...,"[2, 3]","[3, 4, 15, 16]",sales of,sales of sales of
24,2898,16,Ellipsis,yes,a federal arrest warrant a sealed complaint,a federal arrest warrant a sealed federal comp...,[10],"[9, 15]",federal,federal federal
25,2945,16,Ellipsis,yes,at 160 on June 16 and at 120 on June 23,at 160 on June 16 and 120 at June 23,"[16, 22]",[4],at at,at
26,2995,16,Ellipsis,yes,I would rather be talking about high standards...,I would rather be talking about positive numbe...,[3],[9],rather,rather
28,3338,16,Ellipsis,yes,a profit of 30 cents a share and $ 1.31,a profit of 30 cents a share and $ 1.31 a shar...,"[10, 11]","[8, 9, 17, 18]",a share,a share a share
29,3362,16,Ellipsis,yes,was due to not due to,was not due to but to,"[10, 19]",[17],due due,due
30,3377,16,Ellipsis,yes,He said he has begun a court action to seize B...,He said he has initiated a forfeiture action i...,"[3, 15]",[3],has has,has
37,3598,16,Ellipsis,yes,nearly 600 ships - about twice the ships,600 ships - about twice the number,"[16, 21]",[15],ships ships,ships
41,3873,16,Ellipsis,yes,Testing of the swimsuit at a state police lab ...,Testing at a Massachusetts State Police lab an...,"[4, 10]",[1],at at,at
42,3902,16,Ellipsis,yes,chip sales were expect to rise 16.8 percent fo...,chip sales next year will rise 16.8 percent fo...,[10],"[11, 21]",percent,percent percent
43,4039,16,Ellipsis,yes,She was the only woman in her unit and a membe...,She was the only woman employed as a warehouse...,"[2, 3, 4]","[2, 3, 4, 15, 16, 17]",the only woman,the only woman the only woman
44,4204,16,Ellipsis,yes,a duffel bag containing a woman 's body was du...,"a woman 's body was dug up in a duffel bag , a...","[10, 18]",[6],body body,body
45,4220,16,Ellipsis,yes,to resign or negotiate,to resign or to negotiate,[9],"[6, 10]",to,to to
46,4239,16,Ellipsis,yes,three percent to five percent,3 to 5 percent,"[15, 18]",[16],percent percent,percent
47,4256,16,Ellipsis,yes,the fourth most common in men and the eighth m...,the fourth most common in men and the eighth i...,"[8, 9, 18, 19]","[5, 6]",most common most common,most common
48,4270,16,Ellipsis,yes,This comes at a time when Alba is expanding it...,That comes as Alba is lifting its aluminium ou...,"[7, 18]",[4],is is,is
49,4283,16,Ellipsis,yes,reached 19.5 million over 2001 's 8.9 million ...,reached 19.5 million units compared with 8.9 m...,[23],"[5, 13]",units,units units
50,4474,16,Ellipsis,yes,"`` I have lots of bad dreams , I have flashbac...","`` I have lots of bad dreams , flashbacks and ...","[1, 2, 8, 9, 12, 13]","[1, 2]",i have i have i have,i have
52,4613,16,Ellipsis,yes,in Washington and in New York City,in Washington and New York,"[11, 18]",[9],in in,in
53,4634,16,Ellipsis,yes,"35,561 people who had never smoked but had spo...","35,561 people who had never smoked , but who l...",[9],"[7, 13]",who,who who
57,5106,16,Ellipsis,yes,the pledges and the minute of silence,the pledges and moment of silence,"[20, 23]",[21],the the,the
58,5127,16,Ellipsis,yes,The combined companies ' commercial and person...,The combined company 's commercial lines and p...,[7],"[5, 8]",lines,lines lines
59,5127,16,Ellipsis,yes,will be consolidated and will be based,will be consolidated and based,"[8, 9, 16, 17]","[10, 11]",will be will be,will be
60,5188,16,Ellipsis,yes,he did not see urged,he does not understand he has urged,[8],"[9, 23]",he,he he
62,5744,16,Ellipsis,yes,to establish relationships and to make sure,to establish relationships and make sure,"[6, 10]",[6],to to,to
63,5749,16,Ellipsis,yes,not because of who she is but what she did,not because of who she is but because of what ...,"[6, 7]","[7, 8, 13, 14]",because of,because of because of
64,5772,16,Ellipsis,yes,14.7 pounds 5.8 pounds,15 pounds five,"[12, 16]",[16],pounds pounds,pounds

In [105]:
preps = ('at', 'from', 'in', 'the', 'to')
samie_preps = samie[(samie['k1_text'].isin(preps)) | (samie['k2_text'].isin(preps))]
samie_preps

,pair_id,type_id,type_name,sense_preserving,s1_text,s2_text,s1_scope,s2_scope,k1_text,k2_text
20,2339,16,Ellipsis,yes,from multiple screen names and other POP and I...,"from multiple AOL screen names , as well as fr...",[6],"[5, 14]",from,from from
25,2945,16,Ellipsis,yes,at 160 on June 16 and at 120 on June 23,at 160 on June 16 and 120 at June 23,"[16, 22]",[4],at at,at
41,3873,16,Ellipsis,yes,Testing of the swimsuit at a state police lab ...,Testing at a Massachusetts State Police lab an...,"[4, 10]",[1],at at,at
45,4220,16,Ellipsis,yes,to resign or negotiate,to resign or to negotiate,[9],"[6, 10]",to,to to
52,4613,16,Ellipsis,yes,in Washington and in New York City,in Washington and New York,"[11, 18]",[9],in in,in
57,5106,16,Ellipsis,yes,the pledges and the minute of silence,the pledges and moment of silence,"[20, 23]",[21],the the,the
62,5744,16,Ellipsis,yes,to establish relationships and to make sure,to establish relationships and make sure,"[6, 10]",[6],to to,to

In [106]:
print_sents(4220)

The MDC called the strike to force Mr Mugabe to either resign or negotiate a settlement of the Zimbabwe crisis.
The MDC called the week-long protest to urge Mugabe either to resign or to negotiate a settlement of the crisis gripping the country.

Let's delete the first preposition

In [107]:
samie_preps['s1_scope'].apply(lambda x: x.pop(0))
samie_preps['s2_scope'].apply(lambda x: x.pop(0))

20     5
25     4
41     1
45     6
52     9
57    21
62     6
Name: s2_scope, dtype: int64

In [108]:
samie_preps

,pair_id,type_id,type_name,sense_preserving,s1_text,s2_text,s1_scope,s2_scope,k1_text,k2_text
20,2339,16,Ellipsis,yes,from multiple screen names and other POP and I...,"from multiple AOL screen names , as well as fr...",[],[14],from,from from
25,2945,16,Ellipsis,yes,at 160 on June 16 and at 120 on June 23,at 160 on June 16 and 120 at June 23,[22],[],at at,at
41,3873,16,Ellipsis,yes,Testing of the swimsuit at a state police lab ...,Testing at a Massachusetts State Police lab an...,[10],[],at at,at
45,4220,16,Ellipsis,yes,to resign or negotiate,to resign or to negotiate,[],[10],to,to to
52,4613,16,Ellipsis,yes,in Washington and in New York City,in Washington and New York,[18],[],in in,in
57,5106,16,Ellipsis,yes,the pledges and the minute of silence,the pledges and moment of silence,[23],[],the the,the
62,5744,16,Ellipsis,yes,to establish relationships and to make sure,to establish relationships and make sure,[10],[],to to,to

In [109]:
samie_preps.loc[[20,45], 's1_scope'] = None

In [110]:
samie_preps.loc[[25,41,52,57,62], 's2_scope'] = None

In [111]:
samie_preps

,pair_id,type_id,type_name,sense_preserving,s1_text,s2_text,s1_scope,s2_scope,k1_text,k2_text
20,2339,16,Ellipsis,yes,from multiple screen names and other POP and I...,"from multiple AOL screen names , as well as fr...",None,[14],from,from from
25,2945,16,Ellipsis,yes,at 160 on June 16 and at 120 on June 23,at 160 on June 16 and 120 at June 23,[22],None,at at,at
41,3873,16,Ellipsis,yes,Testing of the swimsuit at a state police lab ...,Testing at a Massachusetts State Police lab an...,[10],None,at at,at
45,4220,16,Ellipsis,yes,to resign or negotiate,to resign or to negotiate,None,[10],to,to to
52,4613,16,Ellipsis,yes,in Washington and in New York City,in Washington and New York,[18],None,in in,in
57,5106,16,Ellipsis,yes,the pledges and the minute of silence,the pledges and moment of silence,[23],None,the the,the
62,5744,16,Ellipsis,yes,to establish relationships and to make sure,to establish relationships and make sure,[10],None,to to,to

In [112]:
substitute(16, samie_preps, 1)

In [113]:
samie.drop(samie_preps.index.tolist(), inplace=True)
samie

/tmp/ipykernel_65203/364574916.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  samie.drop(samie_preps.index.tolist(), inplace=True)

,pair_id,type_id,type_name,sense_preserving,s1_text,s2_text,s1_scope,s2_scope,k1_text,k2_text
0,150,16,Ellipsis,yes,would take would require,would take require,"[3, 8]",[3],would would,would
3,470,16,Ellipsis,yes,with aggravated harassment and criminal posses...,with aggravated harassment in the phone call c...,[21],"[10, 19]",with,with with
4,594,16,Ellipsis,yes,"After three months , Atkins dieters had lost a...","Three months into the study , the Atkins group...","[12, 16]",[16],pounds pounds,pounds
5,627,16,Ellipsis,yes,We believe and will defend,We believe and we will defend,[0],"[1, 8]",we,we we
7,768,16,Ellipsis,yes,"Dell has about 32 percent of the U.S. market ,...",Dell has 32 percent of the PC market in the Un...,[1],"[1, 15]",has,has has
9,1207,16,Ellipsis,yes,was lying watching,was lying was watching,[10],"[11, 24]",was,was was
10,1357,16,Ellipsis,yes,"Of personal vehicles , 57 percent are cars or ...","Of all personal vehicles , 57 percent are cars...",[6],"[7, 15, 24]",are,are are are
17,1936,16,Ellipsis,yes,other producers ' server software can work wit...,other producers ' server software can connect ...,[16],"[17, 29]",can,can can
18,2232,16,Ellipsis,yes,About 10 percent of high school and 16 percent...,16 percent of elementary and middle school stu...,[11],"[10, 17]",students,students students
19,2240,16,Ellipsis,yes,will keep the Interwoven name and be headquart...,will be named Interwoven and will be headquart...,[3],"[3, 8]",will,will will
22,2643,16,Ellipsis,yes,"`` She was crying and scared , '","`` She was crying and she was really scared , ''","[1, 2]","[1, 2, 5, 6]",she was,she was she was
23,2772,16,Ellipsis,yes,sales of grocery and other consumer packaged p...,sales of grocery and other consumer packaged p...,"[2, 3]","[3, 4, 15, 16]",sales of,sales of sales of
24,2898,16,Ellipsis,yes,a federal arrest warrant a sealed complaint,a federal arrest warrant a sealed federal comp...,[10],"[9, 15]",federal,federal federal
26,2995,16,Ellipsis,yes,I would rather be talking about high standards...,I would rather be talking about positive numbe...,[3],[9],rather,rather
28,3338,16,Ellipsis,yes,a profit of 30 cents a share and $ 1.31,a profit of 30 cents a share and $ 1.31 a shar...,"[10, 11]","[8, 9, 17, 18]",a share,a share a share
29,3362,16,Ellipsis,yes,was due to not due to,was not due to but to,"[10, 19]",[17],due due,due
30,3377,16,Ellipsis,yes,He said he has begun a court action to seize B...,He said he has initiated a forfeiture action i...,"[3, 15]",[3],has has,has
37,3598,16,Ellipsis,yes,nearly 600 ships - about twice the ships,600 ships - about twice the number,"[16, 21]",[15],ships ships,ships
42,3902,16,Ellipsis,yes,chip sales were expect to rise 16.8 percent fo...,chip sales next year will rise 16.8 percent fo...,[10],"[11, 21]",percent,percent percent
43,4039,16,Ellipsis,yes,She was the only woman in her unit and a membe...,She was the only woman employed as a warehouse...,"[2, 3, 4]","[2, 3, 4, 15, 16, 17]",the only woman,the only woman the only woman
44,4204,16,Ellipsis,yes,a duffel bag containing a woman 's body was du...,"a woman 's body was dug up in a duffel bag , a...","[10, 18]",[6],body body,body
46,4239,16,Ellipsis,yes,three percent to five percent,3 to 5 percent,"[15, 18]",[16],percent percent,percent
47,4256,16,Ellipsis,yes,the fourth most common in men and the eighth m...,the fourth most common in men and the eighth i...,"[8, 9, 18, 19]","[5, 6]",most common most common,most common
48,4270,16,Ellipsis,yes,This comes at a time when Alba is expanding it...,That comes as Alba is lifting its aluminium ou...,"[7, 18]",[4],is is,is
49,4283,16,Ellipsis,yes,reached 19.5 million over 2001 's 8.9 million ...,reached 19.5 million units compared with 8.9 m...,[23],"[5, 13]",units,units units
50,4474,16,Ellipsis,yes,"`` I have lots of bad dreams , I have flashbac...","`` I have lots of bad dreams , flashbacks and ...","[1, 2, 8, 9, 12, 13]","[1, 2]",i have i have i have,i have
53,4634,16,Ellipsis,yes,"35,561 people who had never smoked but had spo...","35,561 people who had never smoked , but who l...",[9],"[7, 13]",who,who who
58,5127,16,Ellipsis,yes,The combined companies ' commercial and person...,The combined company 's commercial lines and p...,[7],"[5, 8]",lines,lines lines
59,5127,16,Ellipsis,yes,will be consolidated and will be based,will be consolidated and based,"[8, 9, 16, 17]","[10, 11]",will be will be,will be
60,5188,16,Ellipsis,yes,he did not see urged,he does not understand he has urged,[8],"[9, 23]",he,he he
63,5749,16,Ellipsis,yes,not because of who she is but what she did,not because of who she is but because of what ...,"[6, 7]","[7, 8, 13, 14]",because of,because of because of
64,5772,16,Ellipsis,yes,14.7 pounds 5.8 pounds,15 pounds five,"[12, 16]",[16],pounds pounds,pounds

In [114]:
print_sents(2995)

But I would rather be talking about high standards than low standards."
"I would rather be talking about positive numbers rather than negative.

In [115]:
samie['s1_scope'].apply(lambda x: x.pop(0))
samie['s2_scope'].apply(lambda x: x.pop(0))

0      3
3     10
4     16
5      1
7      1
9     11
10     7
17    17
18    10
19     3
22     1
23     3
24     9
26     9
28     8
29    17
30     3
37    15
42    11
43     2
44     6
46    16
47     5
48     4
49     5
50     1
53     7
58     5
59    10
60     9
63     7
64    16
Name: s2_scope, dtype: int64

In [116]:
samie

,pair_id,type_id,type_name,sense_preserving,s1_text,s2_text,s1_scope,s2_scope,k1_text,k2_text
0,150,16,Ellipsis,yes,would take would require,would take require,[8],[],would would,would
3,470,16,Ellipsis,yes,with aggravated harassment and criminal posses...,with aggravated harassment in the phone call c...,[],[19],with,with with
4,594,16,Ellipsis,yes,"After three months , Atkins dieters had lost a...","Three months into the study , the Atkins group...",[16],[],pounds pounds,pounds
5,627,16,Ellipsis,yes,We believe and will defend,We believe and we will defend,[],[8],we,we we
7,768,16,Ellipsis,yes,"Dell has about 32 percent of the U.S. market ,...",Dell has 32 percent of the PC market in the Un...,[],[15],has,has has
9,1207,16,Ellipsis,yes,was lying watching,was lying was watching,[],[24],was,was was
10,1357,16,Ellipsis,yes,"Of personal vehicles , 57 percent are cars or ...","Of all personal vehicles , 57 percent are cars...",[],"[15, 24]",are,are are are
17,1936,16,Ellipsis,yes,other producers ' server software can work wit...,other producers ' server software can connect ...,[],[29],can,can can
18,2232,16,Ellipsis,yes,About 10 percent of high school and 16 percent...,16 percent of elementary and middle school stu...,[],[17],students,students students
19,2240,16,Ellipsis,yes,will keep the Interwoven name and be headquart...,will be named Interwoven and will be headquart...,[],[8],will,will will
22,2643,16,Ellipsis,yes,"`` She was crying and scared , '","`` She was crying and she was really scared , ''",[2],"[2, 5, 6]",she was,she was she was
23,2772,16,Ellipsis,yes,sales of grocery and other consumer packaged p...,sales of grocery and other consumer packaged p...,[3],"[4, 15, 16]",sales of,sales of sales of
24,2898,16,Ellipsis,yes,a federal arrest warrant a sealed complaint,a federal arrest warrant a sealed federal comp...,[],[15],federal,federal federal
26,2995,16,Ellipsis,yes,I would rather be talking about high standards...,I would rather be talking about positive numbe...,[],[],rather,rather
28,3338,16,Ellipsis,yes,a profit of 30 cents a share and $ 1.31,a profit of 30 cents a share and $ 1.31 a shar...,[11],"[9, 17, 18]",a share,a share a share
29,3362,16,Ellipsis,yes,was due to not due to,was not due to but to,[19],[],due due,due
30,3377,16,Ellipsis,yes,He said he has begun a court action to seize B...,He said he has initiated a forfeiture action i...,[15],[],has has,has
37,3598,16,Ellipsis,yes,nearly 600 ships - about twice the ships,600 ships - about twice the number,[21],[],ships ships,ships
42,3902,16,Ellipsis,yes,chip sales were expect to rise 16.8 percent fo...,chip sales next year will rise 16.8 percent fo...,[],[21],percent,percent percent
43,4039,16,Ellipsis,yes,She was the only woman in her unit and a membe...,She was the only woman employed as a warehouse...,"[3, 4]","[3, 4, 15, 16, 17]",the only woman,the only woman the only woman
44,4204,16,Ellipsis,yes,a duffel bag containing a woman 's body was du...,"a woman 's body was dug up in a duffel bag , a...",[18],[],body body,body
46,4239,16,Ellipsis,yes,three percent to five percent,3 to 5 percent,[18],[],percent percent,percent
47,4256,16,Ellipsis,yes,the fourth most common in men and the eighth m...,the fourth most common in men and the eighth i...,"[9, 18, 19]",[6],most common most common,most common
48,4270,16,Ellipsis,yes,This comes at a time when Alba is expanding it...,That comes as Alba is lifting its aluminium ou...,[18],[],is is,is
49,4283,16,Ellipsis,yes,reached 19.5 million over 2001 's 8.9 million ...,reached 19.5 million units compared with 8.9 m...,[],[13],units,units units
50,4474,16,Ellipsis,yes,"`` I have lots of bad dreams , I have flashbac...","`` I have lots of bad dreams , flashbacks and ...","[2, 8, 9, 12, 13]",[2],i have i have i have,i have
53,4634,16,Ellipsis,yes,"35,561 people who had never smoked but had spo...","35,561 people who had never smoked , but who l...",[],[13],who,who who
58,5127,16,Ellipsis,yes,The combined companies ' commercial and person...,The combined company 's commercial lines and p...,[],[8],lines,lines lines
59,5127,16,Ellipsis,yes,will be consolidated and will be based,will be consolidated and based,"[9, 16, 17]",[11],will be will be,will be
60,5188,16,Ellipsis,yes,he did not see urged,he does not understand he has urged,[],[23],he,he he
63,5749,16,Ellipsis,yes,not because of who she is but what she did,not because of who she is but because of what ...,[7],"[8, 13, 14]",because of,because of because of
64,5772,16,Ellipsis,yes,14.7 pounds 5.8 pounds,15 pounds five,[16],[],pounds pounds,pounds

In [117]:
samie['s1_scope'] = samie['s1_scope'].apply(lambda x: None if not x else x)
samie['s2_scope'] = samie['s2_scope'].apply(lambda x: None if not x else x)

/tmp/ipykernel_65203/2324279982.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  samie['s1_scope'] = samie['s1_scope'].apply(lambda x: None if not x else x)
/tmp/ipykernel_65203/2324279982.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  samie['s2_scope'] = samie['s2_scope'].apply(lambda x: None if not x else x)

In [118]:
samie

,pair_id,type_id,type_name,sense_preserving,s1_text,s2_text,s1_scope,s2_scope,k1_text,k2_text
0,150,16,Ellipsis,yes,would take would require,would take require,[8],None,would would,would
3,470,16,Ellipsis,yes,with aggravated harassment and criminal posses...,with aggravated harassment in the phone call c...,None,[19],with,with with
4,594,16,Ellipsis,yes,"After three months , Atkins dieters had lost a...","Three months into the study , the Atkins group...",[16],None,pounds pounds,pounds
5,627,16,Ellipsis,yes,We believe and will defend,We believe and we will defend,None,[8],we,we we
7,768,16,Ellipsis,yes,"Dell has about 32 percent of the U.S. market ,...",Dell has 32 percent of the PC market in the Un...,None,[15],has,has has
9,1207,16,Ellipsis,yes,was lying watching,was lying was watching,None,[24],was,was was
10,1357,16,Ellipsis,yes,"Of personal vehicles , 57 percent are cars or ...","Of all personal vehicles , 57 percent are cars...",None,"[15, 24]",are,are are are
17,1936,16,Ellipsis,yes,other producers ' server software can work wit...,other producers ' server software can connect ...,None,[29],can,can can
18,2232,16,Ellipsis,yes,About 10 percent of high school and 16 percent...,16 percent of elementary and middle school stu...,None,[17],students,students students
19,2240,16,Ellipsis,yes,will keep the Interwoven name and be headquart...,will be named Interwoven and will be headquart...,None,[8],will,will will
22,2643,16,Ellipsis,yes,"`` She was crying and scared , '","`` She was crying and she was really scared , ''",[2],"[2, 5, 6]",she was,she was she was
23,2772,16,Ellipsis,yes,sales of grocery and other consumer packaged p...,sales of grocery and other consumer packaged p...,[3],"[4, 15, 16]",sales of,sales of sales of
24,2898,16,Ellipsis,yes,a federal arrest warrant a sealed complaint,a federal arrest warrant a sealed federal comp...,None,[15],federal,federal federal
26,2995,16,Ellipsis,yes,I would rather be talking about high standards...,I would rather be talking about positive numbe...,None,None,rather,rather
28,3338,16,Ellipsis,yes,a profit of 30 cents a share and $ 1.31,a profit of 30 cents a share and $ 1.31 a shar...,[11],"[9, 17, 18]",a share,a share a share
29,3362,16,Ellipsis,yes,was due to not due to,was not due to but to,[19],None,due due,due
30,3377,16,Ellipsis,yes,He said he has begun a court action to seize B...,He said he has initiated a forfeiture action i...,[15],None,has has,has
37,3598,16,Ellipsis,yes,nearly 600 ships - about twice the ships,600 ships - about twice the number,[21],None,ships ships,ships
42,3902,16,Ellipsis,yes,chip sales were expect to rise 16.8 percent fo...,chip sales next year will rise 16.8 percent fo...,None,[21],percent,percent percent
43,4039,16,Ellipsis,yes,She was the only woman in her unit and a membe...,She was the only woman employed as a warehouse...,"[3, 4]","[3, 4, 15, 16, 17]",the only woman,the only woman the only woman
44,4204,16,Ellipsis,yes,a duffel bag containing a woman 's body was du...,"a woman 's body was dug up in a duffel bag , a...",[18],None,body body,body
46,4239,16,Ellipsis,yes,three percent to five percent,3 to 5 percent,[18],None,percent percent,percent
47,4256,16,Ellipsis,yes,the fourth most common in men and the eighth m...,the fourth most common in men and the eighth i...,"[9, 18, 19]",[6],most common most common,most common
48,4270,16,Ellipsis,yes,This comes at a time when Alba is expanding it...,That comes as Alba is lifting its aluminium ou...,[18],None,is is,is
49,4283,16,Ellipsis,yes,reached 19.5 million over 2001 's 8.9 million ...,reached 19.5 million units compared with 8.9 m...,None,[13],units,units units
50,4474,16,Ellipsis,yes,"`` I have lots of bad dreams , I have flashbac...","`` I have lots of bad dreams , flashbacks and ...","[2, 8, 9, 12, 13]",[2],i have i have i have,i have
53,4634,16,Ellipsis,yes,"35,561 people who had never smoked but had spo...","35,561 people who had never smoked , but who l...",None,[13],who,who who
58,5127,16,Ellipsis,yes,The combined companies ' commercial and person...,The combined company 's commercial lines and p...,None,[8],lines,lines lines
59,5127,16,Ellipsis,yes,will be consolidated and will be based,will be consolidated and based,"[9, 16, 17]",[11],will be will be,will be
60,5188,16,Ellipsis,yes,he did not see urged,he does not understand he has urged,None,[23],he,he he
63,5749,16,Ellipsis,yes,not because of who she is but what she did,not because of who she is but because of what ...,[7],"[8, 13, 14]",because of,because of because of
64,5772,16,Ellipsis,yes,14.7 pounds 5.8 pounds,15 pounds five,[16],None,pounds pounds,pounds

In [119]:
samie_none = samie[(samie['s1_scope'].isnull()) | (samie['s2_scope'].isnull())]

Correcting annotation mistake (present in original ETPC)

In [120]:
samie_none.loc[26, 'key_s2'] = [9]

/tmp/ipykernel_65203/2975458728.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  samie_none.loc[26, 'key_s2'] = [9]

In [121]:
samie_none

,pair_id,type_id,type_name,sense_preserving,s1_text,s2_text,s1_scope,s2_scope,k1_text,k2_text,key_s2
0,150,16,Ellipsis,yes,would take would require,would take require,[8],None,would would,would,NaN
3,470,16,Ellipsis,yes,with aggravated harassment and criminal posses...,with aggravated harassment in the phone call c...,None,[19],with,with with,NaN
4,594,16,Ellipsis,yes,"After three months , Atkins dieters had lost a...","Three months into the study , the Atkins group...",[16],None,pounds pounds,pounds,NaN
5,627,16,Ellipsis,yes,We believe and will defend,We believe and we will defend,None,[8],we,we we,NaN
7,768,16,Ellipsis,yes,"Dell has about 32 percent of the U.S. market ,...",Dell has 32 percent of the PC market in the Un...,None,[15],has,has has,NaN
9,1207,16,Ellipsis,yes,was lying watching,was lying was watching,None,[24],was,was was,NaN
10,1357,16,Ellipsis,yes,"Of personal vehicles , 57 percent are cars or ...","Of all personal vehicles , 57 percent are cars...",None,"[15, 24]",are,are are are,NaN
17,1936,16,Ellipsis,yes,other producers ' server software can work wit...,other producers ' server software can connect ...,None,[29],can,can can,NaN
18,2232,16,Ellipsis,yes,About 10 percent of high school and 16 percent...,16 percent of elementary and middle school stu...,None,[17],students,students students,NaN
19,2240,16,Ellipsis,yes,will keep the Interwoven name and be headquart...,will be named Interwoven and will be headquart...,None,[8],will,will will,NaN
24,2898,16,Ellipsis,yes,a federal arrest warrant a sealed complaint,a federal arrest warrant a sealed federal comp...,None,[15],federal,federal federal,NaN
26,2995,16,Ellipsis,yes,I would rather be talking about high standards...,I would rather be talking about positive numbe...,None,None,rather,rather,9.0
29,3362,16,Ellipsis,yes,was due to not due to,was not due to but to,[19],None,due due,due,NaN
30,3377,16,Ellipsis,yes,He said he has begun a court action to seize B...,He said he has initiated a forfeiture action i...,[15],None,has has,has,NaN
37,3598,16,Ellipsis,yes,nearly 600 ships - about twice the ships,600 ships - about twice the number,[21],None,ships ships,ships,NaN
42,3902,16,Ellipsis,yes,chip sales were expect to rise 16.8 percent fo...,chip sales next year will rise 16.8 percent fo...,None,[21],percent,percent percent,NaN
44,4204,16,Ellipsis,yes,a duffel bag containing a woman 's body was du...,"a woman 's body was dug up in a duffel bag , a...",[18],None,body body,body,NaN
46,4239,16,Ellipsis,yes,three percent to five percent,3 to 5 percent,[18],None,percent percent,percent,NaN
48,4270,16,Ellipsis,yes,This comes at a time when Alba is expanding it...,That comes as Alba is lifting its aluminium ou...,[18],None,is is,is,NaN
49,4283,16,Ellipsis,yes,reached 19.5 million over 2001 's 8.9 million ...,reached 19.5 million units compared with 8.9 m...,None,[13],units,units units,NaN
53,4634,16,Ellipsis,yes,"35,561 people who had never smoked but had spo...","35,561 people who had never smoked , but who l...",None,[13],who,who who,NaN
58,5127,16,Ellipsis,yes,The combined companies ' commercial and person...,The combined company 's commercial lines and p...,None,[8],lines,lines lines,NaN
60,5188,16,Ellipsis,yes,he did not see urged,he does not understand he has urged,None,[23],he,he he,NaN
64,5772,16,Ellipsis,yes,14.7 pounds 5.8 pounds,15 pounds five,[16],None,pounds pounds,pounds,NaN

In [122]:
substitute(16, samie_none, 2)

Double check type overwriting: row 3361, sentence 1
Common indices: [19] | Pre-existing types: ['3_0']
Double check type overwriting: row 4282, sentence 2
Common indices: [13] | Pre-existing types: ['5_0']

In [123]:
samie.drop(samie_none.index.tolist(), inplace=True)
samie

/tmp/ipykernel_65203/238585345.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  samie.drop(samie_none.index.tolist(), inplace=True)

,pair_id,type_id,type_name,sense_preserving,s1_text,s2_text,s1_scope,s2_scope,k1_text,k2_text
22,2643,16,Ellipsis,yes,"`` She was crying and scared , '","`` She was crying and she was really scared , ''",[2],"[2, 5, 6]",she was,she was she was
23,2772,16,Ellipsis,yes,sales of grocery and other consumer packaged p...,sales of grocery and other consumer packaged p...,[3],"[4, 15, 16]",sales of,sales of sales of
28,3338,16,Ellipsis,yes,a profit of 30 cents a share and $ 1.31,a profit of 30 cents a share and $ 1.31 a shar...,[11],"[9, 17, 18]",a share,a share a share
43,4039,16,Ellipsis,yes,She was the only woman in her unit and a membe...,She was the only woman employed as a warehouse...,"[3, 4]","[3, 4, 15, 16, 17]",the only woman,the only woman the only woman
47,4256,16,Ellipsis,yes,the fourth most common in men and the eighth m...,the fourth most common in men and the eighth i...,"[9, 18, 19]",[6],most common most common,most common
50,4474,16,Ellipsis,yes,"`` I have lots of bad dreams , I have flashbac...","`` I have lots of bad dreams , flashbacks and ...","[2, 8, 9, 12, 13]",[2],i have i have i have,i have
59,5127,16,Ellipsis,yes,will be consolidated and will be based,will be consolidated and based,"[9, 16, 17]",[11],will be will be,will be
63,5749,16,Ellipsis,yes,not because of who she is but what she did,not because of who she is but because of what ...,[7],"[8, 13, 14]",because of,because of because of

In [124]:
samie.loc[[23,28,43,63], 's1_scope'] = None
samie.loc[[47,50,59], 's2_scope'] = None
samie

,pair_id,type_id,type_name,sense_preserving,s1_text,s2_text,s1_scope,s2_scope,k1_text,k2_text
22,2643,16,Ellipsis,yes,"`` She was crying and scared , '","`` She was crying and she was really scared , ''",[2],"[2, 5, 6]",she was,she was she was
23,2772,16,Ellipsis,yes,sales of grocery and other consumer packaged p...,sales of grocery and other consumer packaged p...,None,"[4, 15, 16]",sales of,sales of sales of
28,3338,16,Ellipsis,yes,a profit of 30 cents a share and $ 1.31,a profit of 30 cents a share and $ 1.31 a shar...,None,"[9, 17, 18]",a share,a share a share
43,4039,16,Ellipsis,yes,She was the only woman in her unit and a membe...,She was the only woman employed as a warehouse...,None,"[3, 4, 15, 16, 17]",the only woman,the only woman the only woman
47,4256,16,Ellipsis,yes,the fourth most common in men and the eighth m...,the fourth most common in men and the eighth i...,"[9, 18, 19]",None,most common most common,most common
50,4474,16,Ellipsis,yes,"`` I have lots of bad dreams , I have flashbac...","`` I have lots of bad dreams , flashbacks and ...","[2, 8, 9, 12, 13]",None,i have i have i have,i have
59,5127,16,Ellipsis,yes,will be consolidated and will be based,will be consolidated and based,"[9, 16, 17]",None,will be will be,will be
63,5749,16,Ellipsis,yes,not because of who she is but what she did,not because of who she is but because of what ...,None,"[8, 13, 14]",because of,because of because of

In [125]:
samie.loc[[47,50,59], 's1_scope'].apply(lambda x: x.pop(0))
samie.loc[[23,28,63], 's2_scope'].apply(lambda x: x.pop(0))
samie

,pair_id,type_id,type_name,sense_preserving,s1_text,s2_text,s1_scope,s2_scope,k1_text,k2_text
22,2643,16,Ellipsis,yes,"`` She was crying and scared , '","`` She was crying and she was really scared , ''",[2],"[2, 5, 6]",she was,she was she was
23,2772,16,Ellipsis,yes,sales of grocery and other consumer packaged p...,sales of grocery and other consumer packaged p...,None,"[15, 16]",sales of,sales of sales of
28,3338,16,Ellipsis,yes,a profit of 30 cents a share and $ 1.31,a profit of 30 cents a share and $ 1.31 a shar...,None,"[17, 18]",a share,a share a share
43,4039,16,Ellipsis,yes,She was the only woman in her unit and a membe...,She was the only woman employed as a warehouse...,None,"[3, 4, 15, 16, 17]",the only woman,the only woman the only woman
47,4256,16,Ellipsis,yes,the fourth most common in men and the eighth m...,the fourth most common in men and the eighth i...,"[18, 19]",None,most common most common,most common
50,4474,16,Ellipsis,yes,"`` I have lots of bad dreams , I have flashbac...","`` I have lots of bad dreams , flashbacks and ...","[8, 9, 12, 13]",None,i have i have i have,i have
59,5127,16,Ellipsis,yes,will be consolidated and will be based,will be consolidated and based,"[16, 17]",None,will be will be,will be
63,5749,16,Ellipsis,yes,not because of who she is but what she did,not because of who she is but because of what ...,None,"[13, 14]",because of,because of because of

In [126]:
samie.at[50, 's1_scope'] = [8, 9, 12, 13]
samie.at[43, 's2_scope'] = [15,16,17]
samie

,pair_id,type_id,type_name,sense_preserving,s1_text,s2_text,s1_scope,s2_scope,k1_text,k2_text
22,2643,16,Ellipsis,yes,"`` She was crying and scared , '","`` She was crying and she was really scared , ''",[2],"[2, 5, 6]",she was,she was she was
23,2772,16,Ellipsis,yes,sales of grocery and other consumer packaged p...,sales of grocery and other consumer packaged p...,None,"[15, 16]",sales of,sales of sales of
28,3338,16,Ellipsis,yes,a profit of 30 cents a share and $ 1.31,a profit of 30 cents a share and $ 1.31 a shar...,None,"[17, 18]",a share,a share a share
43,4039,16,Ellipsis,yes,She was the only woman in her unit and a membe...,She was the only woman employed as a warehouse...,None,"[15, 16, 17]",the only woman,the only woman the only woman
47,4256,16,Ellipsis,yes,the fourth most common in men and the eighth m...,the fourth most common in men and the eighth i...,"[18, 19]",None,most common most common,most common
50,4474,16,Ellipsis,yes,"`` I have lots of bad dreams , I have flashbac...","`` I have lots of bad dreams , flashbacks and ...","[8, 9, 12, 13]",None,i have i have i have,i have
59,5127,16,Ellipsis,yes,will be consolidated and will be based,will be consolidated and based,"[16, 17]",None,will be will be,will be
63,5749,16,Ellipsis,yes,not because of who she is but what she did,not because of who she is but because of what ...,None,"[13, 14]",because of,because of because of

In [127]:
substitute(16, samie, 2)

In [128]:
ellip

,pair_id,type_id,type_name,sense_preserving,s1_text,s2_text,s1_scope,s2_scope,k1_text,k2_text
1,273,16,Ellipsis,yes,short-lived or long-lived,short- or long-lived,"[13, 15]",[14],short-lived long-lived,long-lived
2,336,16,Ellipsis,yes,"The company will launch 800 hot spots , or `` ...",The service will launch later this summer with...,"[0, 1]","[0, 1, 12]",the company,the service sprint
6,697,16,Ellipsis,yes,People who are high in positive emotions sleep...,"Happy people sleep better , have better diets ...","[1, 2, 3, 4, 5, 6, 7, 11, 16, 20]","[1, 2]",people who are high in positive emotions they ...,happy people
8,785,16,Ellipsis,yes,"Jacob has pushed consolidation for years , but...",Jacob has pushed consolidation for years but said,"[0, 8]",[0],jacob he,jacob
11,1458,16,Ellipsis,yes,the Fed will acknowledge risks are tilted towa...,the central bank will say risks are tilted tow...,"[10, 11, 18, 19]","[10, 11]",risks are they are,risks are
12,1500,16,Ellipsis,yes,immune systems suppressed by medications or by...,suppressed immune systems due to illness or me...,"[10, 13]","[10, 11]",by by,due to
13,1588,16,Ellipsis,yes,"He said it was a mistake , and he reimbursed t...",The governor said the use of the credit card w...,"[0, 8]","[0, 1]",he he,the governor
14,1598,16,Ellipsis,yes,some of the passengers,no passenger but some,[6],[4],passengers,passenger
15,1635,16,Ellipsis,yes,"11M , 22M , 33M , 44M and 55Mbit/sec","11 , 22 , 33 , 44 and 55Mbit/s","[18, 20, 22, 24]",[25],22m 33m 44m 55mbit/sec,55mbit/s
16,1830,16,Ellipsis,yes,someone strangled her and she may have been se...,Park appeared to have been strangled and may h...,"[4, 6]",[0],her she,park
21,2555,16,Ellipsis,yes,Mauresmo has the confidence of having beaten S...,She has the confidence of having beaten her fo...,[2],"[0, 13]",mauresmo,she she
27,2995,16,Ellipsis,yes,I would rather be talking about high standards...,I would rather be talking about positive numbe...,"[8, 11]",[8],standards standards,numbers
31,3384,16,Ellipsis,yes,"Our policies are well-known , and I 'm not awa...",`` Our policies are well known and I 'm not aw...,"[2, 15]",[2],policies policy,policies
32,3393,16,Ellipsis,yes,Close co-operation between our law enforcement...,Close cooperation between regional law enforce...,"[1, 2, 3, 9, 10, 11]","[0, 1, 2]",close co-operation between close co-operation ...,close cooperation between
33,3399,16,Ellipsis,yes,The high Saturday is expected to be about 92 d...,The high today will be about 92 degrees and wi...,"[0, 1, 12]","[0, 1]",the high it,the high
34,3439,16,Ellipsis,yes,spending on inpatient hospital care grew by 6....,spending on inpatient hospital care grew by 6....,"[8, 19]",[8],grew rose,grew
35,3521,16,Ellipsis,yes,allowing public displays of the Ten Commandmen...,allowing depictions of the Ten Commandments in...,"[13, 24]",[8],allowing banning,allowing
36,3572,16,Ellipsis,yes,engineers misjudged and they lamented,engineers underestimated and lamented,"[4, 17]",[4],engineers they,engineers
38,3691,16,Ellipsis,yes,The idea of a federal betting parlor on atroci...,the idea of a federal betting parlor on atroci...,"[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 15]","[7, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18]",the idea of a federal betting parlor on atroci...,the idea of a federal betting parlor on atroci...
39,3740,16,Ellipsis,yes,The two powerful men also disagree about ethan...,They also disagree over ethanol - sacred in Io...,[6],"[3, 11]",about,over on
40,3742,16,Ellipsis,yes,There were more people surrounding the clubhou...,There are more people surrounding the clubhous...,[5],"[5, 9]",surrounding,surrounding surrounded
51,4506,16,Ellipsis,yes,Closed sessions are routinely held but usually...,Closed sessions are routinely held but they ar...,"[0, 1, 2]","[0, 1, 2, 17, 18, 20]",closed sessions are,closed sessions are they are closed
54,4693,16,Ellipsis,yes,12-inch-by-18-inch,12-by-18-inch,[11],[9],12-inch-by-18-inch,12-by-18-inch
55,4920,16,Ellipsis,yes,in state court in U.S. District Court,to a higher state court U.S. District Court,"[12, 17]",[11],in in,to
56,4985,16,Ellipsis,yes,Dan Francisco said declined,Daniel Francisco said he declined,"[2, 3]","[2, 3, 19]",dan francisco,daniel francisco he
61,5384,16,Ellipsis,yes,12-by-18-inch,12-inch-by-18-inch,[9],[11],12-by-18-inch,12-inch-by-18-inch
65,5773,16,Ellipsis,yes,positive numbers than negative,high standards rather than low standards,[8],"[8, 12]",numbers,standards standards

In [129]:
ellip['s1_scope'], ellip['s2_scope'], ellip['k1_text'], ellip['k2_text'] = ellip.apply(lambda x: trim_duplicates(x.s1_scope, x.s2_scope, x.k1_text, x.k2_text), axis=1, result_type='expand').transpose().values
ellip

,pair_id,type_id,type_name,sense_preserving,s1_text,s2_text,s1_scope,s2_scope,k1_text,k2_text
1,273,16,Ellipsis,yes,short-lived or long-lived,short- or long-lived,[13],[],short-lived,
2,336,16,Ellipsis,yes,"The company will launch 800 hot spots , or `` ...",The service will launch later this summer with...,[1],"[1, 12]",company,service sprint
6,697,16,Ellipsis,yes,People who are high in positive emotions sleep...,"Happy people sleep better , have better diets ...","[2, 3, 4, 5, 6, 7, 11, 16, 20]",[1],who are high in positive emotions they they they,happy
8,785,16,Ellipsis,yes,"Jacob has pushed consolidation for years , but...",Jacob has pushed consolidation for years but said,[8],[],he,
11,1458,16,Ellipsis,yes,the Fed will acknowledge risks are tilted towa...,the central bank will say risks are tilted tow...,[18],[],they,
12,1500,16,Ellipsis,yes,immune systems suppressed by medications or by...,suppressed immune systems due to illness or me...,"[10, 13]","[10, 11]",by by,due to
13,1588,16,Ellipsis,yes,"He said it was a mistake , and he reimbursed t...",The governor said the use of the credit card w...,"[0, 8]","[0, 1]",he he,the governor
14,1598,16,Ellipsis,yes,some of the passengers,no passenger but some,[6],[4],passengers,passenger
15,1635,16,Ellipsis,yes,"11M , 22M , 33M , 44M and 55Mbit/sec","11 , 22 , 33 , 44 and 55Mbit/s","[18, 20, 22, 24]",[25],22m 33m 44m 55mbit/sec,55mbit/s
16,1830,16,Ellipsis,yes,someone strangled her and she may have been se...,Park appeared to have been strangled and may h...,"[4, 6]",[0],her she,park
21,2555,16,Ellipsis,yes,Mauresmo has the confidence of having beaten S...,She has the confidence of having beaten her fo...,[2],"[0, 13]",mauresmo,she she
27,2995,16,Ellipsis,yes,I would rather be talking about high standards...,I would rather be talking about positive numbe...,"[8, 11]",[8],standards standards,numbers
31,3384,16,Ellipsis,yes,"Our policies are well-known , and I 'm not awa...",`` Our policies are well known and I 'm not aw...,[15],[],policy,
32,3393,16,Ellipsis,yes,Close co-operation between our law enforcement...,Close cooperation between regional law enforce...,"[2, 10]",[1],co-operation co-operation,cooperation
33,3399,16,Ellipsis,yes,The high Saturday is expected to be about 92 d...,The high today will be about 92 degrees and wi...,[12],[],it,
34,3439,16,Ellipsis,yes,spending on inpatient hospital care grew by 6....,spending on inpatient hospital care grew by 6....,[19],[],rose,
35,3521,16,Ellipsis,yes,allowing public displays of the Ten Commandmen...,allowing depictions of the Ten Commandments in...,[24],[],banning,
36,3572,16,Ellipsis,yes,engineers misjudged and they lamented,engineers underestimated and lamented,[17],[],they,
38,3691,16,Ellipsis,yes,The idea of a federal betting parlor on atroci...,the idea of a federal betting parlor on atroci...,[15],[],it,
39,3740,16,Ellipsis,yes,The two powerful men also disagree about ethan...,They also disagree over ethanol - sacred in Io...,[6],"[3, 11]",about,over on
40,3742,16,Ellipsis,yes,There were more people surrounding the clubhou...,There are more people surrounding the clubhous...,[],[9],,surrounded
51,4506,16,Ellipsis,yes,Closed sessions are routinely held but usually...,Closed sessions are routinely held but they ar...,[],[17],,they
54,4693,16,Ellipsis,yes,12-inch-by-18-inch,12-by-18-inch,[11],[9],12-inch-by-18-inch,12-by-18-inch
55,4920,16,Ellipsis,yes,in state court in U.S. District Court,to a higher state court U.S. District Court,"[12, 17]",[11],in in,to
56,4985,16,Ellipsis,yes,Dan Francisco said declined,Daniel Francisco said he declined,[2],"[2, 19]",dan,daniel he
61,5384,16,Ellipsis,yes,12-by-18-inch,12-inch-by-18-inch,[9],[11],12-by-18-inch,12-inch-by-18-inch
65,5773,16,Ellipsis,yes,positive numbers than negative,high standards rather than low standards,[8],"[8, 12]",numbers,standards standards

In [130]:
ellip['k1_text'] = ellip['k1_text'].apply(lambda x: None if x == '' else x)
ellip['k2_text'] = ellip['k2_text'].apply(lambda x: None if x == '' else x)
ellip['s1_scope'] = ellip['s1_scope'].apply(lambda x: None if list(x) == [] else x)
ellip['s2_scope'] = ellip['s2_scope'].apply(lambda x: None if list(x) == [] else x)
ellip

,pair_id,type_id,type_name,sense_preserving,s1_text,s2_text,s1_scope,s2_scope,k1_text,k2_text
1,273,16,Ellipsis,yes,short-lived or long-lived,short- or long-lived,[13],None,short-lived,None
2,336,16,Ellipsis,yes,"The company will launch 800 hot spots , or `` ...",The service will launch later this summer with...,[1],"[1, 12]",company,service sprint
6,697,16,Ellipsis,yes,People who are high in positive emotions sleep...,"Happy people sleep better , have better diets ...","[2, 3, 4, 5, 6, 7, 11, 16, 20]",[1],who are high in positive emotions they they they,happy
8,785,16,Ellipsis,yes,"Jacob has pushed consolidation for years , but...",Jacob has pushed consolidation for years but said,[8],None,he,None
11,1458,16,Ellipsis,yes,the Fed will acknowledge risks are tilted towa...,the central bank will say risks are tilted tow...,[18],None,they,None
12,1500,16,Ellipsis,yes,immune systems suppressed by medications or by...,suppressed immune systems due to illness or me...,"[10, 13]","[10, 11]",by by,due to
13,1588,16,Ellipsis,yes,"He said it was a mistake , and he reimbursed t...",The governor said the use of the credit card w...,"[0, 8]","[0, 1]",he he,the governor
14,1598,16,Ellipsis,yes,some of the passengers,no passenger but some,[6],[4],passengers,passenger
15,1635,16,Ellipsis,yes,"11M , 22M , 33M , 44M and 55Mbit/sec","11 , 22 , 33 , 44 and 55Mbit/s","[18, 20, 22, 24]",[25],22m 33m 44m 55mbit/sec,55mbit/s
16,1830,16,Ellipsis,yes,someone strangled her and she may have been se...,Park appeared to have been strangled and may h...,"[4, 6]",[0],her she,park
21,2555,16,Ellipsis,yes,Mauresmo has the confidence of having beaten S...,She has the confidence of having beaten her fo...,[2],"[0, 13]",mauresmo,she she
27,2995,16,Ellipsis,yes,I would rather be talking about high standards...,I would rather be talking about positive numbe...,"[8, 11]",[8],standards standards,numbers
31,3384,16,Ellipsis,yes,"Our policies are well-known , and I 'm not awa...",`` Our policies are well known and I 'm not aw...,[15],None,policy,None
32,3393,16,Ellipsis,yes,Close co-operation between our law enforcement...,Close cooperation between regional law enforce...,"[2, 10]",[1],co-operation co-operation,cooperation
33,3399,16,Ellipsis,yes,The high Saturday is expected to be about 92 d...,The high today will be about 92 degrees and wi...,[12],None,it,None
34,3439,16,Ellipsis,yes,spending on inpatient hospital care grew by 6....,spending on inpatient hospital care grew by 6....,[19],None,rose,None
35,3521,16,Ellipsis,yes,allowing public displays of the Ten Commandmen...,allowing depictions of the Ten Commandments in...,[24],None,banning,None
36,3572,16,Ellipsis,yes,engineers misjudged and they lamented,engineers underestimated and lamented,[17],None,they,None
38,3691,16,Ellipsis,yes,The idea of a federal betting parlor on atroci...,the idea of a federal betting parlor on atroci...,[15],None,it,None
39,3740,16,Ellipsis,yes,The two powerful men also disagree about ethan...,They also disagree over ethanol - sacred in Io...,[6],"[3, 11]",about,over on
40,3742,16,Ellipsis,yes,There were more people surrounding the clubhou...,There are more people surrounding the clubhous...,None,[9],None,surrounded
51,4506,16,Ellipsis,yes,Closed sessions are routinely held but usually...,Closed sessions are routinely held but they ar...,None,[17],None,they
54,4693,16,Ellipsis,yes,12-inch-by-18-inch,12-by-18-inch,[11],[9],12-inch-by-18-inch,12-by-18-inch
55,4920,16,Ellipsis,yes,in state court in U.S. District Court,to a higher state court U.S. District Court,"[12, 17]",[11],in in,to
56,4985,16,Ellipsis,yes,Dan Francisco said declined,Daniel Francisco said he declined,[2],"[2, 19]",dan,daniel he
61,5384,16,Ellipsis,yes,12-by-18-inch,12-inch-by-18-inch,[9],[11],12-by-18-inch,12-inch-by-18-inch
65,5773,16,Ellipsis,yes,positive numbers than negative,high standards rather than low standards,[8],"[8, 12]",numbers,standards standards

In [131]:
ellip.at[2, 's1_scope'], ellip.at[2, 's2_scope'] = None, [12]
ellip.at[6, 's1_scope'], ellip.at[6, 's2_scope'] = [11,16,20], None
ellip.at[12, 's1_scope'], ellip.at[12, 's2_scope'] = [13], None
ellip.at[13, 's1_scope'], ellip.at[13, 's2_scope'] = [8], None
ellip.at[15, 's1_scope'], ellip.at[15, 's2_scope'] = [18,20,22,24], None
ellip.at[16, 's1_scope'], ellip.at[16, 's2_scope'] = [6], None
ellip.at[21, 's1_scope'], ellip.at[21, 's2_scope'] = None, [13]
ellip.at[27, 's1_scope'], ellip.at[27, 's2_scope'] = [11], None
ellip.at[32, 's1_scope'], ellip.at[32, 's2_scope'] = [10], None
ellip.at[39, 's1_scope'], ellip.at[39, 's2_scope'] = None, [11]
ellip.at[55, 's1_scope'], ellip.at[55, 's2_scope'] = [17], None
ellip.at[56, 's1_scope'], ellip.at[56, 's2_scope'] = None, [19]
ellip.at[65, 's1_scope'], ellip.at[65, 's2_scope'] = None, [12]
ellip

,pair_id,type_id,type_name,sense_preserving,s1_text,s2_text,s1_scope,s2_scope,k1_text,k2_text
1,273,16,Ellipsis,yes,short-lived or long-lived,short- or long-lived,[13],None,short-lived,None
2,336,16,Ellipsis,yes,"The company will launch 800 hot spots , or `` ...",The service will launch later this summer with...,None,[12],company,service sprint
6,697,16,Ellipsis,yes,People who are high in positive emotions sleep...,"Happy people sleep better , have better diets ...","[11, 16, 20]",None,who are high in positive emotions they they they,happy
8,785,16,Ellipsis,yes,"Jacob has pushed consolidation for years , but...",Jacob has pushed consolidation for years but said,[8],None,he,None
11,1458,16,Ellipsis,yes,the Fed will acknowledge risks are tilted towa...,the central bank will say risks are tilted tow...,[18],None,they,None
12,1500,16,Ellipsis,yes,immune systems suppressed by medications or by...,suppressed immune systems due to illness or me...,[13],None,by by,due to
13,1588,16,Ellipsis,yes,"He said it was a mistake , and he reimbursed t...",The governor said the use of the credit card w...,[8],None,he he,the governor
14,1598,16,Ellipsis,yes,some of the passengers,no passenger but some,[6],[4],passengers,passenger
15,1635,16,Ellipsis,yes,"11M , 22M , 33M , 44M and 55Mbit/sec","11 , 22 , 33 , 44 and 55Mbit/s","[18, 20, 22, 24]",None,22m 33m 44m 55mbit/sec,55mbit/s
16,1830,16,Ellipsis,yes,someone strangled her and she may have been se...,Park appeared to have been strangled and may h...,[6],None,her she,park
21,2555,16,Ellipsis,yes,Mauresmo has the confidence of having beaten S...,She has the confidence of having beaten her fo...,None,[13],mauresmo,she she
27,2995,16,Ellipsis,yes,I would rather be talking about high standards...,I would rather be talking about positive numbe...,[11],None,standards standards,numbers
31,3384,16,Ellipsis,yes,"Our policies are well-known , and I 'm not awa...",`` Our policies are well known and I 'm not aw...,[15],None,policy,None
32,3393,16,Ellipsis,yes,Close co-operation between our law enforcement...,Close cooperation between regional law enforce...,[10],None,co-operation co-operation,cooperation
33,3399,16,Ellipsis,yes,The high Saturday is expected to be about 92 d...,The high today will be about 92 degrees and wi...,[12],None,it,None
34,3439,16,Ellipsis,yes,spending on inpatient hospital care grew by 6....,spending on inpatient hospital care grew by 6....,[19],None,rose,None
35,3521,16,Ellipsis,yes,allowing public displays of the Ten Commandmen...,allowing depictions of the Ten Commandments in...,[24],None,banning,None
36,3572,16,Ellipsis,yes,engineers misjudged and they lamented,engineers underestimated and lamented,[17],None,they,None
38,3691,16,Ellipsis,yes,The idea of a federal betting parlor on atroci...,the idea of a federal betting parlor on atroci...,[15],None,it,None
39,3740,16,Ellipsis,yes,The two powerful men also disagree about ethan...,They also disagree over ethanol - sacred in Io...,None,[11],about,over on
40,3742,16,Ellipsis,yes,There were more people surrounding the clubhou...,There are more people surrounding the clubhous...,None,[9],None,surrounded
51,4506,16,Ellipsis,yes,Closed sessions are routinely held but usually...,Closed sessions are routinely held but they ar...,None,[17],None,they
54,4693,16,Ellipsis,yes,12-inch-by-18-inch,12-by-18-inch,[11],[9],12-inch-by-18-inch,12-by-18-inch
55,4920,16,Ellipsis,yes,in state court in U.S. District Court,to a higher state court U.S. District Court,[17],None,in in,to
56,4985,16,Ellipsis,yes,Dan Francisco said declined,Daniel Francisco said he declined,None,[19],dan,daniel he
61,5384,16,Ellipsis,yes,12-by-18-inch,12-inch-by-18-inch,[9],[11],12-by-18-inch,12-inch-by-18-inch
65,5773,16,Ellipsis,yes,positive numbers than negative,high standards rather than low standards,None,[12],numbers,standards standards

In [132]:
ellip_none = ellip[(ellip['s1_scope'].isnull()) | (ellip['s2_scope'].isnull())]
ellip_none

,pair_id,type_id,type_name,sense_preserving,s1_text,s2_text,s1_scope,s2_scope,k1_text,k2_text
1,273,16,Ellipsis,yes,short-lived or long-lived,short- or long-lived,[13],None,short-lived,None
2,336,16,Ellipsis,yes,"The company will launch 800 hot spots , or `` ...",The service will launch later this summer with...,None,[12],company,service sprint
6,697,16,Ellipsis,yes,People who are high in positive emotions sleep...,"Happy people sleep better , have better diets ...","[11, 16, 20]",None,who are high in positive emotions they they they,happy
8,785,16,Ellipsis,yes,"Jacob has pushed consolidation for years , but...",Jacob has pushed consolidation for years but said,[8],None,he,None
11,1458,16,Ellipsis,yes,the Fed will acknowledge risks are tilted towa...,the central bank will say risks are tilted tow...,[18],None,they,None
12,1500,16,Ellipsis,yes,immune systems suppressed by medications or by...,suppressed immune systems due to illness or me...,[13],None,by by,due to
13,1588,16,Ellipsis,yes,"He said it was a mistake , and he reimbursed t...",The governor said the use of the credit card w...,[8],None,he he,the governor
15,1635,16,Ellipsis,yes,"11M , 22M , 33M , 44M and 55Mbit/sec","11 , 22 , 33 , 44 and 55Mbit/s","[18, 20, 22, 24]",None,22m 33m 44m 55mbit/sec,55mbit/s
16,1830,16,Ellipsis,yes,someone strangled her and she may have been se...,Park appeared to have been strangled and may h...,[6],None,her she,park
21,2555,16,Ellipsis,yes,Mauresmo has the confidence of having beaten S...,She has the confidence of having beaten her fo...,None,[13],mauresmo,she she
27,2995,16,Ellipsis,yes,I would rather be talking about high standards...,I would rather be talking about positive numbe...,[11],None,standards standards,numbers
31,3384,16,Ellipsis,yes,"Our policies are well-known , and I 'm not awa...",`` Our policies are well known and I 'm not aw...,[15],None,policy,None
32,3393,16,Ellipsis,yes,Close co-operation between our law enforcement...,Close cooperation between regional law enforce...,[10],None,co-operation co-operation,cooperation
33,3399,16,Ellipsis,yes,The high Saturday is expected to be about 92 d...,The high today will be about 92 degrees and wi...,[12],None,it,None
34,3439,16,Ellipsis,yes,spending on inpatient hospital care grew by 6....,spending on inpatient hospital care grew by 6....,[19],None,rose,None
35,3521,16,Ellipsis,yes,allowing public displays of the Ten Commandmen...,allowing depictions of the Ten Commandments in...,[24],None,banning,None
36,3572,16,Ellipsis,yes,engineers misjudged and they lamented,engineers underestimated and lamented,[17],None,they,None
38,3691,16,Ellipsis,yes,The idea of a federal betting parlor on atroci...,the idea of a federal betting parlor on atroci...,[15],None,it,None
39,3740,16,Ellipsis,yes,The two powerful men also disagree about ethan...,They also disagree over ethanol - sacred in Io...,None,[11],about,over on
40,3742,16,Ellipsis,yes,There were more people surrounding the clubhou...,There are more people surrounding the clubhous...,None,[9],None,surrounded
51,4506,16,Ellipsis,yes,Closed sessions are routinely held but usually...,Closed sessions are routinely held but they ar...,None,[17],None,they
55,4920,16,Ellipsis,yes,in state court in U.S. District Court,to a higher state court U.S. District Court,[17],None,in in,to
56,4985,16,Ellipsis,yes,Dan Francisco said declined,Daniel Francisco said he declined,None,[19],dan,daniel he
65,5773,16,Ellipsis,yes,positive numbers than negative,high standards rather than low standards,None,[12],numbers,standards standards

In [133]:
substitute(16, ellip_none, 2, False)

### Addition/Deletion

In [153]:
substitute(25, textual_paraphrases[textual_paraphrases['type_id'] == 25], 2)

Double check type overwriting: row 37, sentence 2
Common indices: [12] | Pre-existing types: ['3_0']
Double check type overwriting: row 37, sentence 2
Common indices: [14, 15] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 53, sentence 1
Common indices: [12] | Pre-existing types: ['5_0']
Double check type overwriting: row 76, sentence 2
Common indices: [22, 23, 24] | Pre-existing types: ['3_0' '3_0' '3_0']
Double check type overwriting: row 124, sentence 2
Common indices: [2] | Pre-existing types: ['3_0']
Double check type overwriting: row 172, sentence 2
Common indices: [16] | Pre-existing types: ['3_0']
Double check type overwriting: row 174, sentence 2
Common indices: [0] | Pre-existing types: ['5_1']
Double check type overwriting: row 203, sentence 2
Common indices: [2] | Pre-existing types: ['7_0']
Double check type overwriting: row 213, sentence 2
Common indices: [2, 3, 4] | Pre-existing types: ['5_0' '5_0' '5_0']
Double check type overwriting: row 217, sentence 1
Common indices: [7, 8] | Pre-existing types: ['5_0' '5_0']
Double check type overwriting: row 246, sentence 2
Common indices: [4, 5, 6] | Pre-existing types: ['3_0' '3_0' '3_0']
Double check type overwriting: row 276, sentence 2
Common indices: [2] | Pre-existing types: ['3_0']
Double check type overwriting: row 304, sentence 1
Common indices: [10, 11] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 304, sentence 1
Common indices: [3, 4, 5] | Pre-existing types: ['3_0' '3_0' '3_0']
Double check type overwriting: row 319, sentence 1
Common indices: [2, 3, 4, 5, 6, 7, 8] | Pre-existing types: ['3_0' '3_0' '3_0' '3_0' '3_0' '3_0' '3_0']
Double check type overwriting: row 339, sentence 1
Common indices: [6] | Pre-existing types: ['3_0']
Double check type overwriting: row 354, sentence 1
Common indices: [0] | Pre-existing types: ['3_0 & 5_0']
Double check type overwriting: row 383, sentence 1
Common indices: [20, 21] | Pre-existing types: ['5_0' '5_0']
Double check type overwriting: row 470, sentence 2
Common indices: [18, 19, 20] | Pre-existing types: ['3_0' '3_0' '3_0']
Double check type overwriting: row 473, sentence 1
Common indices: [5] | Pre-existing types: ['3_0']
Double check type overwriting: row 563, sentence 1
Common indices: [10, 11, 12] | Pre-existing types: ['5_0' '5_0' '5_0']
Double check type overwriting: row 576, sentence 1
Common indices: [5] | Pre-existing types: ['5_0']
Double check type overwriting: row 594, sentence 2
Common indices: [10] | Pre-existing types: ['5_0']
Double check type overwriting: row 637, sentence 1
Common indices: [27] | Pre-existing types: ['5_0']
Double check type overwriting: row 703, sentence 1
Common indices: [11] | Pre-existing types: ['5_0']
Double check type overwriting: row 881, sentence 1
Common indices: [2] | Pre-existing types: ['3_0']
Double check type overwriting: row 896, sentence 2
Common indices: [4] | Pre-existing types: ['3_0']
Double check type overwriting: row 896, sentence 2
Common indices: [20, 21, 22] | Pre-existing types: ['3_0' '3_0' '3_0']
Double check type overwriting: row 945, sentence 1
Common indices: [3] | Pre-existing types: ['5_0']
Double check type overwriting: row 1015, sentence 2
Common indices: [13] | Pre-existing types: ['5_0']
Double check type overwriting: row 1034, sentence 1
Common indices: [0] | Pre-existing types: ['5_0']
Double check type overwriting: row 1162, sentence 2
Common indices: [17, 18, 19] | Pre-existing types: ['5_0' '5_0' '5_0']
Double check type overwriting: row 1255, sentence 2
Common indices: [2] | Pre-existing types: ['3_0']
Double check type overwriting: row 1283, sentence 2
Common indices: [21, 22, 23, 24] | Pre-existing types: ['5_1' '5_1' '5_1' '5_1']
Double check type overwriting: row 1302, sentence 2
Common indices: [10, 11, 12, 13, 14, 15, 16, 17] | Pre-existing types: ['3_0' '3_0' '3_0' '3_0' '3_0' '3_0' '3_0' '3_0']
Double check type overwriting: row 1316, sentence 1
Common indices: [24] | Pre-existing types: ['2_1']
Double check type overwriting: row 1376, sentence 2
Common indices: [2, 3, 4, 5, 6, 7, 8] | Pre-existing types: ['5_0' '5_0' '5_0' '5_0' '5_0' '5_0' '5_0']
Double check type overwriting: row 1396, sentence 2
Common indices: [4] | Pre-existing types: ['5_0']
Double check type overwriting: row 1412, sentence 1
Common indices: [10] | Pre-existing types: ['3_0']
Double check type overwriting: row 1484, sentence 1
Common indices: [4] | Pre-existing types: ['3_0']
Double check type overwriting: row 1484, sentence 2
Common indices: [6] | Pre-existing types: ['3_0']
Double check type overwriting: row 1484, sentence 2
Common indices: [8, 9, 10] | Pre-existing types: ['3_0' '3_0' '3_0']
Double check type overwriting: row 1494, sentence 2
Common indices: [11] | Pre-existing types: ['3_0']
Double check type overwriting: row 1596, sentence 2
Common indices: [17] | Pre-existing types: ['3_0']
Double check type overwriting: row 1616, sentence 2
Common indices: [6] | Pre-existing types: ['3_0']
Double check type overwriting: row 1622, sentence 1
Common indices: [18, 19, 20] | Pre-existing types: ['5_1' '5_1' '5_1']
Double check type overwriting: row 1694, sentence 1
Common indices: [25, 26, 27] | Pre-existing types: ['2_0' '2_0' '2_0']
Double check type overwriting: row 1829, sentence 2
Common indices: [1, 2] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 1957, sentence 2
Common indices: [12, 13] | Pre-existing types: ['5_0' '5_0']
Double check type overwriting: row 1969, sentence 1
Common indices: [4, 5, 6] | Pre-existing types: ['3_0' '3_0' '3_0']
Double check type overwriting: row 1991, sentence 1
Common indices: [18, 19, 20] | Pre-existing types: ['2_0' '2_0' '2_0']
Double check type overwriting: row 2008, sentence 2
Common indices: [7, 8, 9] | Pre-existing types: ['3_0' '3_0' '3_0']
Double check type overwriting: row 2010, sentence 2
Common indices: [9] | Pre-existing types: ['3_0']
Double check type overwriting: row 2084, sentence 2
Common indices: [9] | Pre-existing types: ['5_4']
Double check type overwriting: row 2199, sentence 2
Common indices: [0] | Pre-existing types: ['5_0']
Double check type overwriting: row 2199, sentence 2
Common indices: [0] | Pre-existing types: ['5_0 & 2_0']
Double check type overwriting: row 2214, sentence 2
Common indices: [20, 21] | Pre-existing types: ['5_0' '5_0']
Double check type overwriting: row 2307, sentence 1
Common indices: [6] | Pre-existing types: ['5_0']
Double check type overwriting: row 2336, sentence 2
Common indices: [9] | Pre-existing types: ['3_0']
Double check type overwriting: row 2336, sentence 2
Common indices: [16] | Pre-existing types: ['3_0']
Double check type overwriting: row 2336, sentence 2
Common indices: [19] | Pre-existing types: ['3_0']
Double check type overwriting: row 2421, sentence 2
Common indices: [0] | Pre-existing types: ['5_0']
Double check type overwriting: row 2426, sentence 1
Common indices: [14] | Pre-existing types: ['2_0']
Double check type overwriting: row 2426, sentence 1
Common indices: [15] | Pre-existing types: ['2_0']
Double check type overwriting: row 2478, sentence 1
Common indices: [7] | Pre-existing types: ['5_0']
Double check type overwriting: row 2549, sentence 2
Common indices: [7] | Pre-existing types: ['2_0']
Double check type overwriting: row 2658, sentence 1
Common indices: [13] | Pre-existing types: ['5_2']
Double check type overwriting: row 2658, sentence 1
Common indices: [19] | Pre-existing types: ['5_2']
Double check type overwriting: row 2711, sentence 1
Common indices: [5, 6, 7, 8] | Pre-existing types: ['8_0' '8_0' '8_0' '8_0']
Double check type overwriting: row 2711, sentence 1
Common indices: [14] | Pre-existing types: ['8_0']
Double check type overwriting: row 2722, sentence 2
Common indices: [6] | Pre-existing types: ['5_0']
Double check type overwriting: row 2799, sentence 2
Common indices: [14] | Pre-existing types: ['3_0']
Double check type overwriting: row 2866, sentence 1
Common indices: [24, 25, 26, 27] | Pre-existing types: ['3_0' '3_0' '3_0' '3_0']
Double check type overwriting: row 2879, sentence 1
Common indices: [10, 11, 12] | Pre-existing types: ['3_0' '3_0' '3_0']
Double check type overwriting: row 2879, sentence 1
Common indices: [19, 20] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 2940, sentence 1
Common indices: [9] | Pre-existing types: ['5_1']
Double check type overwriting: row 2991, sentence 2
Common indices: [24] | Pre-existing types: ['5_0']
Double check type overwriting: row 3012, sentence 1
Common indices: [16] | Pre-existing types: ['8_0']
Double check type overwriting: row 3036, sentence 2
Common indices: [2, 3, 4] | Pre-existing types: ['2_0' '2_0' '2_0']
Double check type overwriting: row 3061, sentence 2
Common indices: [0] | Pre-existing types: ['5_0']
Double check type overwriting: row 3061, sentence 2
Common indices: [1] | Pre-existing types: ['5_0']
Double check type overwriting: row 3061, sentence 2
Common indices: [2] | Pre-existing types: ['5_0']
Double check type overwriting: row 3148, sentence 1
Common indices: [15, 16, 17] | Pre-existing types: ['3_0' '3_0' '3_0']
Double check type overwriting: row 3180, sentence 2
Common indices: [24] | Pre-existing types: ['3_0']
Double check type overwriting: row 3186, sentence 2
Common indices: [26] | Pre-existing types: ['5_0']
Double check type overwriting: row 3211, sentence 1
Common indices: [19, 20] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 3280, sentence 2
Common indices: [1] | Pre-existing types: ['5_0']
Double check type overwriting: row 3287, sentence 2
Common indices: [9] | Pre-existing types: ['5_0']
Double check type overwriting: row 3328, sentence 1
Common indices: [6] | Pre-existing types: ['5_0']
Double check type overwriting: row 3349, sentence 2
Common indices: [14] | Pre-existing types: ['5_0']
Double check type overwriting: row 3540, sentence 1
Common indices: [17] | Pre-existing types: ['3_0']
Double check type overwriting: row 3563, sentence 1
Common indices: [21] | Pre-existing types: ['5_0']
Double check type overwriting: row 3588, sentence 1
Common indices: [14] | Pre-existing types: ['5_0']
Double check type overwriting: row 3624, sentence 1
Common indices: [4] | Pre-existing types: ['3_0']
Double check type overwriting: row 3665, sentence 2
Common indices: [5] | Pre-existing types: ['3_0']
Double check type overwriting: row 3665, sentence 1
Common indices: [11] | Pre-existing types: ['3_0']
Double check type overwriting: row 3665, sentence 2
Common indices: [14] | Pre-existing types: ['3_0']
Double check type overwriting: row 3753, sentence 2
Common indices: [4, 5] | Pre-existing types: ['6_0' '6_0']
Double check type overwriting: row 3782, sentence 2
Common indices: [4, 5, 6] | Pre-existing types: ['5_0' '5_0' '5_0']
Double check type overwriting: row 3850, sentence 1
Common indices: [6] | Pre-existing types: ['3_0']
Double check type overwriting: row 3862, sentence 2
Common indices: [3] | Pre-existing types: ['5_0']
Double check type overwriting: row 3862, sentence 1
Common indices: [2, 3] | Pre-existing types: ['5_0' '5_0']
Double check type overwriting: row 3880, sentence 2
Common indices: [16, 17] | Pre-existing types: ['5_0' '5_0']
Double check type overwriting: row 3902, sentence 2
Common indices: [18] | Pre-existing types: ['5_0']
Double check type overwriting: row 3918, sentence 1
Common indices: [22] | Pre-existing types: ['3_1']
Double check type overwriting: row 3940, sentence 2
Common indices: [9, 10, 11, 12, 13, 14] | Pre-existing types: ['5_0' '5_0' '5_0' '5_0' '5_0' '5_0']
Double check type overwriting: row 3991, sentence 1
Common indices: [1] | Pre-existing types: ['2_0']
Double check type overwriting: row 4009, sentence 1
Common indices: [15] | Pre-existing types: ['5_1']
Double check type overwriting: row 4028, sentence 2
Common indices: [8] | Pre-existing types: ['3_0']
Double check type overwriting: row 4061, sentence 2
Common indices: [16, 17] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 4094, sentence 1
Common indices: [24, 25, 26] | Pre-existing types: ['3_0' '3_0' '3_0']
Double check type overwriting: row 4135, sentence 1
Common indices: [7, 8] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 4179, sentence 1
Common indices: [1] | Pre-existing types: ['5_0']
Double check type overwriting: row 4247, sentence 1
Common indices: [12, 13, 14] | Pre-existing types: ['5_0' '5_0' '5_0']
Double check type overwriting: row 4288, sentence 1
Common indices: [8] | Pre-existing types: ['3_0']
Double check type overwriting: row 4374, sentence 2
Common indices: [2] | Pre-existing types: ['3_0']
Double check type overwriting: row 4374, sentence 1
Common indices: [4] | Pre-existing types: ['3_0']
Double check type overwriting: row 4374, sentence 1
Common indices: [14, 15] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 4376, sentence 2
Common indices: [26, 27] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 4376, sentence 2
Common indices: [29] | Pre-existing types: ['3_0']
Double check type overwriting: row 4400, sentence 1
Common indices: [11, 12, 13] | Pre-existing types: ['5_0' '5_0' '5_0']
Double check type overwriting: row 4417, sentence 1
Common indices: [20] | Pre-existing types: ['3_0']
Double check type overwriting: row 4417, sentence 1
Common indices: [23] | Pre-existing types: ['3_0']
Double check type overwriting: row 4417, sentence 1
Common indices: [8, 9] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 4447, sentence 2
Common indices: [26] | Pre-existing types: ['5_0']
Double check type overwriting: row 4477, sentence 2
Common indices: [3] | Pre-existing types: ['2_0']
Double check type overwriting: row 4499, sentence 2
Common indices: [1] | Pre-existing types: ['3_0']
Double check type overwriting: row 4514, sentence 2
Common indices: [16] | Pre-existing types: ['3_0']
Double check type overwriting: row 4656, sentence 2
Common indices: [22] | Pre-existing types: ['5_0']
Double check type overwriting: row 4680, sentence 2
Common indices: [8] | Pre-existing types: ['5_1']
Double check type overwriting: row 4721, sentence 2
Common indices: [11, 12] | Pre-existing types: ['2_2' '2_2']
Double check type overwriting: row 4816, sentence 1
Common indices: [16, 17, 18, 19] | Pre-existing types: ['3_0' '3_0' '3_0' '3_0']
Double check type overwriting: row 4816, sentence 2
Common indices: [14, 15, 16, 17, 18, 19, 20] | Pre-existing types: ['3_0' '3_0' '3_0' '3_0' '3_0' '3_0' '3_0']
Double check type overwriting: row 4849, sentence 1
Common indices: [4] | Pre-existing types: ['5_0']
Double check type overwriting: row 4867, sentence 2
Common indices: [4] | Pre-existing types: ['2_0']
Double check type overwriting: row 4925, sentence 2
Common indices: [3] | Pre-existing types: ['5_0']
Double check type overwriting: row 4945, sentence 2
Common indices: [7] | Pre-existing types: ['3_0']
Double check type overwriting: row 4975, sentence 1
Common indices: [22, 23, 24, 25, 26, 27] | Pre-existing types: ['3_0' '3_0' '3_0' '3_0' '3_0' '3_0']
Double check type overwriting: row 4977, sentence 1
Common indices: [20] | Pre-existing types: ['3_1']
Double check type overwriting: row 4977, sentence 2
Common indices: [4] | Pre-existing types: ['3_1']
Double check type overwriting: row 5004, sentence 2
Common indices: [4, 5] | Pre-existing types: ['2_1' '2_1']
Double check type overwriting: row 5016, sentence 2
Common indices: [1] | Pre-existing types: ['3_0']
Double check type overwriting: row 5174, sentence 1
Common indices: [13] | Pre-existing types: ['5_0']
Double check type overwriting: row 5184, sentence 1
Common indices: [5, 6] | Pre-existing types: ['5_0' '5_0']
Double check type overwriting: row 5190, sentence 1
Common indices: [25] | Pre-existing types: ['3_0']
Double check type overwriting: row 5204, sentence 1
Common indices: [7] | Pre-existing types: ['5_0']
Double check type overwriting: row 5249, sentence 2
Common indices: [1] | Pre-existing types: ['5_0']
Double check type overwriting: row 5263, sentence 2
Common indices: [3, 4, 5, 6] | Pre-existing types: ['3_0' '3_0' '3_0' '3_0']
Double check type overwriting: row 5276, sentence 2
Common indices: [3] | Pre-existing types: ['4_1']
Double check type overwriting: row 5337, sentence 1
Common indices: [5, 6] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 5339, sentence 2
Common indices: [8, 9, 10] | Pre-existing types: ['3_0' '3_0' '3_0']
Double check type overwriting: row 5441, sentence 1
Common indices: [4, 5] | Pre-existing types: ['5_0' '5_0']
Double check type overwriting: row 5441, sentence 2
Common indices: [1] | Pre-existing types: ['5_0']
Double check type overwriting: row 5455, sentence 1
Common indices: [5] | Pre-existing types: ['3_0']
Double check type overwriting: row 5455, sentence 2
Common indices: [9] | Pre-existing types: ['3_0']
Double check type overwriting: row 5460, sentence 2
Common indices: [3] | Pre-existing types: ['5_0']
Double check type overwriting: row 5478, sentence 1
Common indices: [14, 15, 16, 17, 18] | Pre-existing types: ['5_0' '5_0' '5_0' '5_0' '5_0']
Double check type overwriting: row 5507, sentence 1
Common indices: [11] | Pre-existing types: ['3_0']
Double check type overwriting: row 5536, sentence 2
Common indices: [28, 29, 30] | Pre-existing types: ['3_0' '3_0' '3_0']
Double check type overwriting: row 5680, sentence 1
Common indices: [18] | Pre-existing types: ['5_0']
Double check type overwriting: row 5731, sentence 1
Common indices: [1] | Pre-existing types: ['5_0']

## Diagnosing

Run these cells to make sure everything looks OK after reannotating

In [136]:
positives.loc[positives['idx'] == 401, 'sentence1_scope'].iloc[0]

array(['3_0 & 7_0', '3_0', '3_0', '3_0', '3_0', '3_0', '3_0', '3_0',
       '3_0', '3_0', '3_0', '3_0', '3_0 & 7_0', '3_1', '', '', '', '', '',
       '', '', '', '', '', ''], dtype='<U64')

In [137]:
subset = textual_paraphrases[(textual_paraphrases['pair_id'] == 401+1) & (textual_paraphrases['type_id'] == int(21))]
subset

,pair_id,type_id,type_name,sense_preserving,s1_scope,s2_scope,s1_text,s2_text,key_s1,key_s2,k1_text,k2_text
1534,402,21,Punctuation changes,yes,"[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...",`` The Princess ' marriage was not set up by f...,"Vasile Ionescu , of the Roma Centre for public...","[0, 12]",[13],`` '',``

In [138]:
# For diagnosing
textual_paraphrases.loc[(textual_paraphrases['pair_id'] == 449+1) & (textual_paraphrases['type_id'].isin([1,5,3,26]))]

,pair_id,type_id,type_name,sense_preserving,s1_scope,s2_scope,s1_text,s2_text,key_s1,key_s2,k1_text,k2_text
1728,450,5,Same Polarity Substitution (habitual),yes,"[20, 21]","[13, 14]",Web sites,Web pages,None,None,None,None
1729,450,5,Same Polarity Substitution (habitual),yes,[5],[22],warns,notice,None,None,None,None
1730,450,3,Derivational Changes,yes,[5],[22],warns,notice,None,None,None,None
1732,450,26,Change of order,yes,"[7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, ...","[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 1...",changes to Internet Explorer may affect a `` l...,changes to IE `` may affect a large number of ...,None,None,None,None

In [139]:
print_sents(113)
print_sents(97)

Downstream at Mount Vernon, the Skagit River was expected to crest at 36 feet -- 8 feet above flood stage -- tonight, Burke said.
The Skagit was expected to crest during the night at 38 feet at Mount Vernon, 10 feet above flood stage, the National Weather Service said.
Shares of Hartford rose $2.88 to $46.50 in New York Stock Exchange composite trading.
Shares of Hartford were up $2.28, or 5.2 percent, to $45.90 in midday trading.

In [140]:
textual_paraphrases[(textual_paraphrases['pair_id'] == 113)]

,pair_id,type_id,type_name,sense_preserving,s1_scope,s2_scope,s1_text,s2_text,key_s1,key_s2,k1_text,k2_text
412,113,7,Same Polarity Substitution (named ent.),yes,"[6, 7]",[1],Skagit River,Skagit,None,None,None,None
413,113,7,Same Polarity Substitution (named ent.),yes,[16],[16],8,10,None,None,None,None
414,113,6,Same Polarity Substitution (contextual),yes,[22],"[7, 8]",tonight,the night,None,None,None,None
415,113,7,Same Polarity Substitution (named ent.),yes,[24],"[22, 23, 24, 25]",Burke,the National Weather Service,None,None,None,None
416,113,26,Change of order,yes,"[1, 2, 3, 4]","[12, 13, 14]","at Mount Vernon ,",at Mount Vernon,None,None,None,None
417,113,26,Change of order,yes,[22],"[6, 7, 8]",tonight,during the night,None,None,None,None
418,113,25,Addition/Deletion,yes,[0],None,Downstream,None,None,None,None,None
419,113,29,Identity,yes,"[5, 8, 9, 10, 11, 12, 14, 17, 18, 19, 20, 23, ...","[0, 2, 3, 4, 5, 9, 11, 17, 18, 19, 20, 21, 26,...",the was expected to crest at feet feet above f...,The was expected to crest at feet feet above f...,None,None,None,None
420,113,30,Non-paraphrase,yes,[13],[10],36,38,None,None,None,None
421,113,21,Punctuation changes,yes,"[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","Downstream at Mount Vernon , the Skagit River ...",The Skagit was expected to crest during the ni...,"[15, 21]",[15],-- --,","

In [141]:
textual_paraphrases[(textual_paraphrases['type_id'] == 7)][:50]

,pair_id,type_id,type_name,sense_preserving,s1_scope,s2_scope,s1_text,s2_text,key_s1,key_s2,k1_text,k2_text
40,15,7,Same Polarity Substitution (named ent.),yes,[7],[1],Hussein,Saddam,None,None,None,None
42,15,7,Same Polarity Substitution (named ent.),yes,"[6, 7]",[1],Mr. Hussein,Saddam,None,None,None,None
115,39,7,Same Polarity Substitution (named ent.),yes,[6],[5],JCP,JCP.N,None,None,None,None
116,39,7,Same Polarity Substitution (named ent.),yes,[12],[9],WAG,WAG.N,None,None,None,None
134,45,7,Same Polarity Substitution (named ent.),yes,[1],[1],US,Americas,None,None,None,None
152,49,7,Same Polarity Substitution (named ent.),yes,[11],"[12, 13, 14, 15, 16, 17, 18]",PEP.N,nyse : PEP - news - people,None,None,None,None
206,60,7,Same Polarity Substitution (named ent.),yes,[7],"[7, 8, 9]",770,at least 767,None,None,None,None
263,76,7,Same Polarity Substitution (named ent.),yes,[0],"[4, 5]",Thomas,Mr. Thomas,None,None,None,None
264,76,7,Same Polarity Substitution (named ent.),yes,[2],"[7, 8]",Tauzin,Mr. Tauzin,None,None,None,None
296,83,7,Same Polarity Substitution (named ent.),yes,[21],"[17, 18]",3km,two miles,None,None,None,None
302,86,7,Same Polarity Substitution (named ent.),yes,[11],"[11, 12, 13, 14]",Longhorn,Microsoft 's new products,None,None,None,None
335,97,7,Same Polarity Substitution (named ent.),yes,"[7, 8]","[13, 14]",$ 46.50,$ 45.90,None,None,None,None
336,97,7,Same Polarity Substitution (named ent.),yes,"[4, 5]","[5, 6]",$ 2.88,$ 2.28,None,None,None,None
370,105,7,Same Polarity Substitution (named ent.),yes,"[16, 17]",[13],Microsoft Word,Word,None,None,None,None
396,111,7,Same Polarity Substitution (named ent.),yes,[19],"[18, 19, 20]",Kazemi,the 54-year-old photojournalist,None,None,None,None
412,113,7,Same Polarity Substitution (named ent.),yes,"[6, 7]",[1],Skagit River,Skagit,None,None,None,None
413,113,7,Same Polarity Substitution (named ent.),yes,[16],[16],8,10,None,None,None,None
415,113,7,Same Polarity Substitution (named ent.),yes,[24],"[22, 23, 24, 25]",Burke,the National Weather Service,None,None,None,None
468,128,7,Same Polarity Substitution (named ent.),yes,"[12, 13]","[4, 5, 6, 7, 8, 9]",health authorities,the state Department of Mental Health,None,None,None,None
484,133,7,Same Polarity Substitution (named ent.),yes,"[17, 18]",[15],Sean Sundwell,Sundwall,None,None,None,None
514,141,7,Same Polarity Substitution (named ent.),yes,[10],"[0, 1]",Halla,Brian Halla,None,None,None,None
542,147,7,Same Polarity Substitution (named ent.),yes,"[0, 1]",[0],Ms. Haque,Fatima,None,None,None,None
545,148,7,Same Polarity Substitution (named ent.),yes,"[4, 5, 6, 7, 8, 9]","[4, 5]",the New York-based actor and producer,De Niro,None,None,None,None
654,173,7,Same Polarity Substitution (named ent.),yes,"[23, 24]","[18, 19, 20, 21]",Hal Gehman,Harold W. Gehman Jr.,None,None,None,None
685,180,7,Same Polarity Substitution (named ent.),yes,[17],"[17, 18, 19, 20, 21]",Harlingen,the border city of Harlingen,None,None,None,None
709,185,7,Same Polarity Substitution (named ent.),yes,[11],"[12, 13, 14]",Bush,George W. Bush,None,None,None,None
751,199,7,Same Polarity Substitution (named ent.),yes,"[11, 12, 13]",[6],"Palm , Inc.",Palm,None,None,None,None
814,211,7,Same Polarity Substitution (named ent.),yes,[9],[9],FCC,commission,None,None,None,None
836,216,7,Same Polarity Substitution (named ent.),yes,"[7, 8, 9, 10, 11, 12, 13, 14, 15]","[6, 7, 8, 9, 10, 11, 12, 13, 14]","Circulation , a journal of the American Heart ...",Circulation : The Journal of the American Hear...,None,None,None,None
840,217,7,Same Polarity Substitution (named ent.),yes,"[1, 2, 3]",[1],George W. Bush,Bush,None,None,None,None
846,218,7,Same Polarity Substitution (named ent.),yes,"[14, 15, 16, 17, 18]","[12, 13, 14]",People 's Republic of China,Communist Party government,None,None,None,None
855,220,7,Same Polarity Substitution (named ent.),yes,[13],"[13, 14, 15]",R300-million,$ 43.63 million,None,None,None,None
859,222,7,Same Polarity Substitution (named ent.),yes,[12],[8],Federal,US,None,None,None,None
868,225,7,Same Polarity Substitution (named ent.),yes,"[0, 1]","[4, 5]",Mr Abbas,Mahmoud Abbas,None,None,None,None
885,228,7,Same Polarity Substitution (named ent.),yes,[20],"[20, 21, 22]",Lieberman,the Connecticut Democrat,None,None,None,None
917,239,7,Same Polarity Substitution (named ent.),yes,[0],[0],Saddam,Hussein,None,None,None,None
923,241,7,Same Polarity Substitution (named ent.),yes,[0],"[3, 4]",Singer,SplitR'n'b star,None,None,None,None
943,246,7,Same Polarity Substitution (named ent.),yes,"[15, 16]","[6, 7, 8]",the Seychelles,the Seychelles Archipelago,None,None,None,None
973,254,7,Same Polarity Substitution (named ent.),yes,[8],"[7, 8, 9, 10]",Delta,Delta Air Lines DAL.N,None,None,None,None
983,257,7,Same Polarity Substitution (named ent.),yes,"[6, 7, 8, 9, 10]",[8],Dunedin High School in Florida,Florida,None,None,None,None
986,257,7,Same Polarity Substitution (named ent.),yes,"[20, 21]",[15],Chicago Cubs,Cubs,None,None,None,None
990,260,7,Same Polarity Substitution (named ent.),yes,[6],"[6, 7, 8]",Rehnquist,William H. Rehnquist,None,None,None,None
991,260,7,Same Polarity Substitution (named ent.),yes,[12],"[11, 12, 13]",O'Connor,Sandra Day O'Connor,None,None,None,None
992,260,7,Same Polarity Substitution (named ent.),yes,[14],"[15, 16]",Scalia,Antonin Scalia,None,None,None,None
999,261,7,Same Polarity Substitution (named ent.),yes,"[6, 8]",[7],some 65,64.7,None,None,None,None
1040,270,7,Same Polarity Substitution (named ent.),yes,"[2, 3]","[2, 3, 4]",chip.m.aker Intel,chip maker Intel,None,None,None,None
1041,270,7,Same Polarity Substitution (named ent.),yes,"[8, 9]",[9],Sony Corp.,Sony,None,None,None,None
1042,270,7,Same Polarity Substitution (named ent.),yes,"[11, 12]",[11],Microsoft Corp.,Microsoft,None,None,None,None
1043,270,7,Same Polarity Substitution (named ent.),yes,"[14, 15]",[13],Hewlett-Packard Co.,Hewlett-Packard,None,None,None,None
1044,270,7,Same Polarity Substitution (named ent.),yes,"[17, 18, 19, 20]","[15, 16, 17]",International Business Machines Corp.,International Business Machines,None,None,None,None

In [142]:
positives['sentence1_scope'][0]

array(['3_0', '3_0', '3_0', '3_0', '', '4_0', '', '5_0', '', '', '', '',
       '', '', '', '', '', '', ''], dtype='<U64')

Sentence modality changes have zero ocurrences among paraphrases

Flagged rows:

2432, 5074, 12186

# The garbage pail

In [143]:
auxiliaries = ['are', 'am', 'be', 'been', 'being', 'had', 'has', 'have', 'having', 'is', 'was', 'were']

Code that may or may not be useful will remain here for a while

Change of Order > Identity

Game plan:

Same Polarity Substitution > Derivational Changes > Inflectional Changes > ...Modal Verb Changes? > Change of Order (modified)

## Filtering

Helper methods for filtering the ETPC dataframe based on paraphrase types

In [144]:
def filter_contains(df, search_ids):
  """Returns an ETPC dataframe with rows where paraphrase_types_ids contains
  the search_ids. Use this to search for paraphrase pairs containing specific
  ids"""
  return df[df['ept_ids'].apply(lambda x: np.isin(search_ids, x))]

def filter_equals(df, search_ids):
  """Returns an ETPC dataframe with rows where paraphrase_types_ids EXACTLY 
  MATCHES the search_ids."""
  return df[df['ept_ids'].apply(lambda x: np.array_equal(x, search_ids))]

In [145]:
filter_contains(etpc, '3')

,idx,sentence1,sentence2,sentence1_tokenized,sentence2_tokenized,etpc_label,mrpc_label,ept_names,ept_ids,sentence1_segment_location,sentence2_segment_location,sentence1_segment_location_indices,sentence2_segment_location_indices,sentence1_segment_text,sentence2_segment_text
142,143_142,Tyco later said the loan had not been forgiven...,"Tyco has said the loan was not forgiven, but t...","[Tyco, later, said, the, loan, had, not, been,...","[Tyco, has, said, the, loan, was, not, forgive...",1,1,"[Same Polarity Substitution (contextual), Infl...","[6, 1, 1, 3, 24, 25, 29, 21]","[0, 25, 1, 29, 29, 1, 29, 1, 1, 29, 6, 29, 29,...","[25, 1, 1, 25, 25, 1, 25, 1, 25, 6, 24, 29, 29...","[[10], [2], [5, 7, 8], [15], [11, 12, 13, 14, ...","[[9], [1, 2], [5, 7], [12], [10, 11, 12, 13, 1...","[and, said, had been forgiven, full, Swartz re...","[but, has said, was forgiven, fully, that Swar..."
149,150_149,She estimated it would take three months and w...,She said it would take an estimated three mont...,"[She, estimated, it, would, take, three, month...","[She, said, it, would, take, an, estimated, th...",1,1,"[Synthetic/analytic substitution, Derivational...","[11, 3, 16, 25, 25, 29]","[25, 3, 25, 16, 25, 25, 25, 25, 16, 25, 11, 25...","[0, 0, 0, 16, 16, 0, 3, 0, 0, 25, 25, 0, 16, 1...","[[10], [1], [3, 4, 8, 9], [0, 2, 4, 5, 6, 7, 9...","[[13, 14], [6], [3, 4, 12], [9, 10]]","[cancellation, estimated, would take would req...","[the cancellation, estimated, would take requi..."
238,239_238,Saddam loyalists have been blamed for sabotagi...,Hussein loyalists have been blamed for sabotag...,"[Saddam, loyalists, have, been, blamed, for, s...","[Hussein, loyalists, have, been, blamed, for, ...",1,1,"[Same Polarity Substitution (named ent.), Deri...","[7, 3, 8, 25, 29, 21]","[7, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 0,...","[29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 2...","[[0], [16], [18], [12, 13, 14], [1, 2, 3, 4, 5...","[[0], [12], [13], [1, 2, 3, 4, 5, 6, 7, 8, 9, ...","[Saddam, attacks, U.S., as well as, loyalists ...","[Hussein, attacking, US, loyalists have been b..."
254,255_254,"""It's amazing to be part of an industry that r...","""It's amazing to be part of an industry that r...","[``, It, 's, amazing, to, be, part, of, an, in...","[``, It, 's, amazing, to, be, part, of, an, in...",1,1,"[Same Polarity Substitution (contextual), Same...","[6, 5, 3, 29]","[29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 2...","[29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 2...","[[24], [22, 23], [23], [0, 1, 2, 3, 4, 5, 6, 7...","[[22], [20, 21, 27, 28], [21], [0, 1, 2, 3, 4,...","[of, recent graduate, graduate, `` It 's amazi...","[from, only graduated last May, graduated, `` ..."
286,287_286,The search was concentrated in northeast Penns...,The search was concentrated in northeastern Pe...,"[The, search, was, concentrated, in, northeast...","[The, search, was, concentrated, in, northeast...",1,1,"[Derivational Changes, Addition/Deletion, Iden...","[3, 25, 29, 28]","[29, 29, 29, 29, 29, 3, 29, 29, 29, 29, 29, 29...","[25, 25, 25, 25, 25, 3, 25, 25, 25, 25, 25, 25...","[[5], [23, 24], [0, 1, 2, 3, 4, 6, 7, 8, 9, 10...","[[5], [0, 1, 2, 3, 4, 6, 7, 8, 9, 10, 11, 12, ...","[northeast, by now, The search was concentrate...","[northeastern, The search was concentrated in ..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5621,5622_5621,Palm Wednesday announced plans to acquire Hand...,Palm said on Wednesday it plans to buy Handspr...,"[Palm, Wednesday, announced, plans, to, acquir...","[Palm, said, on, Wednesday, it, plans, to, buy...",0,1,"[Same Polarity Substitution (habitual), Same P...","[5, 5, 6, 11, 3, 26, 29, 30]","[29, 26, 5, 3, 29, 5, 29, 29, 29, 29, 6, 29, 2...","[29, 5, 26, 26, 0, 3, 29, 5, 29, 29, 29, 29, 6...","[[2], [5], [10], [1], [3], [1], [0, 4, 6, 7, 8...","[[1], [7], [12], [2, 3], [5], [2, 3], [0, 6, 8...","[announced, acquire, started, Wednesday, plans...","[said, buy, created, on Wednesday, plans, on W..."
5702,5703_5702,Some opposition leaders said they would reserv...,Some opposition leaders called for withdrawing...,"[Some, opposition, leaders, said, they, would,...","[Some, opposition, leaders, called, for, withd...",1,1,"[Same Polarity Substitution (contextual), Same...","[6, 6, 3, 26, 25, 29]","[26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 2...","[6, 6, 6, 25, 25, 3, 25, 0, 0, 26, 26, 26, 26,...","[[0, 1, 2], [14], [19], [0, 1, 2, 3, 4, 5, 6, ...","[[9], [0, 1, 2], [5], [9, 10, 11, 12, 13, 14, ...","[Some opposition leaders, others, withdrawal, ...","[others, Some opposition leaders, withdrawing,..."
5709,5710_5709,Women who eat potatoes and other tuberous vege...,Australian researchers believe they have found...,"[Women, who, eat, potatoes, and, other, tubero...","[Australian, researchers, believe, they, have,...",1,1,"[Same Polarity Substitution (named ent.), Same...","[7, 5, 3, 24, 18, 26, 25, 29]","[26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 2...","[7, 0, 0, 25, 25, 25, 26, 26, 26, 26, 26, 26, ...","[[23], [0], [15], [0, 1, 2, 3, 4, 5, 6, 7, 8, ...","[[0], [16], [7], [6, 7, 8, 9, 10, 11, 12, 13, ...","[Melbourne, Women, triggering, Women who eat p...","[Australian, mothers, trigger, a trigger of ty..."
5712,5713_5712,There is only one drug on the market for macul...,There is only one drug on the market for macul...,"[There, is, only, one, drug, on, the, market, ...","[There, is, only, one, drug, on, the, market, ...",1,1,"[Derivational Changes, Subordination and nesti...","[3, 18, 25, 29]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 2...","[[17], [19, 20, 21, 22, 23, 24, 25, 26], [18]]","[[18], [20, 21, 22, 23, 24, 25, 26], [0, 1, 2,...","[treat, one subtype that represents a minority...","[treatment, one subtype representing a minorit..."
5777,5778_5777,Immunizing mice with pneumococcusleads tothe g...,Immunizing mice with pneumococcus means genera...,"[Immunizing, mice, with, pneumococcusleads, to...","[Immunizing, mice, with, pneumococcus, means, ...",1,1,"[Spelling changes, Same Polarity Substitution ...","[4, 5, 3, 29]","[29, 29, 29, 4, 0, 3, 0, 29, 29, 29, 29, 5, 29...","[29, 29, 29, 4, 4, 3, 29, 29, 29, 29, 5, 29, 2...","[[3], [11], [5], [0, 1, 2, 7, 8, 9, 10, 12, 13...","[[3, 4], [10], [5], [0, 1, 2, 6, 7, 8, 9, 11, ...","[pneumococcusleads, think, generation, Immuniz...","[pneumococcus means, believe, generating, Immu..."

In [146]:
filter_equals(etpc, ['25', '29'])

,idx,sentence1,sentence2,sentence1_tokenized,sentence2_tokenized,etpc_label,mrpc_label,ept_names,ept_ids,sentence1_segment_location,sentence2_segment_location,sentence1_segment_location_indices,sentence2_segment_location_indices,sentence1_segment_text,sentence2_segment_text
167,168_167,U.S. law enforcement officials are sneering at...,U.S. law enforcement officials are sneering at...,"[U.S., law, enforcement, officials, are, sneer...","[U.S., law, enforcement, officials, are, sneer...",1,1,"[Addition/Deletion, Identity]","[25, 29]","[25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 2...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13...","[[15, 16, 17, 18, 19, 20, 21, 22, 23]]",[U.S. law enforcement officials are sneering a...,[-- including a police conspiracy to discredit...
645,646_645,I called the number and the lady told me she w...,I called the number and the lady told me she w...,"[I, called, the, number, and, the, lady, told,...","[I, called, the, number, and, the, lady, told,...",1,1,"[Addition/Deletion, Identity]","[25, 29]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 2...","[[18, 20, 21, 22, 23, 24]]","[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13...","[, Sherry Studabaker told BBC television, I ca...",[I called the number and the lady told me she ...
1017,1018_1017,He said the problem needs to be corrected befo...,He said the prob lem needs to be corrected bef...,"[He, said, the, problem, needs, to, be, correc...","[He, said, the, prob, lem, needs, to, be, corr...",1,1,"[Addition/Deletion, Identity]","[25, 29]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 25, 25...","[25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 2...","[[13, 14, 15]]","[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13...","[is cleared to, He said the problem needs to b...",[He said the prob lem needs to be corrected be...
2046,2047_2046,Other recommendations included a special couns...,Other recommendations included the creation of...,"[Other, recommendations, included, a, special,...","[Other, recommendations, included, the, creati...",1,1,"[Addition/Deletion, Identity]","[25, 29]","[0, 0, 0, 25, 25, 25, 25, 25, 25, 25, 25, 25, ...","[25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 2...","[[3, 4, 5, 6, 7, 8, 9, 10, 11, 12]]","[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13...",[a special counsel on oceans in the White Hous...,[Other recommendations included the creation o...
2063,2064_2063,"""For me, the Lewinsky imbroglio seemed like ju...","""For me, the Lewinsky imbroglio seemed like ju...","[``, For, me, ,, the, Lewinsky, imbroglio, see...","[``, For, me, ,, the, Lewinsky, imbroglio, see...",1,1,"[Addition/Deletion, Identity]","[25, 29]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 2...","[[17, 19, 20, 21, 22, 23]]","[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13...","[, according to extracts leaked yesterday, `` ...","[`` For me , the Lewinsky imbroglio seemed lik..."
2180,2181_2180,"And in the Muslim world, Osama bin Laden is be...","And in the Muslim world, Osama bin Laden, the ...","[And, in, the, Muslim, world, ,, Osama, bin, L...","[And, in, the, Muslim, world, ,, Osama, bin, L...",1,1,"[Addition/Deletion, Identity]","[25, 29]","[25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 2...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 25, 25, 25, 25, 25...","[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13...","[[9, 10, 11, 12, 13, 14, 15, 16, 17, 18]]","[And in the Muslim world , Osama bin Laden is ...","[, the missing leader of the al-Qaida terroris..."
2229,2230_2229,This is a process and there will be other oppo...,This is a process and there will be other oppo...,"[This, is, a, process, and, there, will, be, o...","[This, is, a, process, and, there, will, be, o...",1,1,"[Addition/Deletion, Identity]","[25, 29]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 2...","[[21, 22, 23]]","[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13...","[he told reporters, This is a process and ther...",[This is a process and there will be other opp...
2282,2283_2282,"""Right from the beginning, we didn't want to s...","But Mr. Crosby told The Associated Press: ""Rig...","[``, Right, from, the, beginning, ,, we, did, ...","[But, Mr., Crosby, told, The, Associated, Pres...",1,1,"[Addition/Deletion, Identity]","[25, 29]","[25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 2...","[25, 25, 25, 25, 25, 25, 25, 25, 0, 0, 0, 0, 0...","[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13...","[[0, 1, 2, 3, 4, 5, 6, 7]]","[`` Right from the beginning , we did n't want...","[But Mr. Crosby told The Associated Press :, `..."
2703,2704_2703,It's almost as if they (Russians) hit an x-mar...,It's almost as if they (Russians) hit an x-mar...,"[It, 's, almost, as, if, they, (, Russians, ),...","[It, 's, almost, as, if, they, (, Russians, ),...",1,1,"[Addition/Deletion, Identity]","[25, 29]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 2...","[[15, 17, 18, 19, 20, 21]]","[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13...","[, NASA spokesman Robert Navias said, It 's al...",[It 's almost as if they ( Russians ) hit an x...
2786,2787_2786,"""This puts telemarketers on notice that we wil...","""This puts telemarketers on notice that we wil...","[``, This, puts, telemarketers, on, notice, th...","[``, This, puts, telemarketers, on, notice, th...",1,1,"[Addition/Deletion, Identity]","[25, 29]","[25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 2...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13...","[[25, 27, 28, 29, 30, 31]]",[`` This puts telemarketers on notice that we ...,"[, FCC chairman Michael Powell said, `` This p..."
3367,3368_3367,"Wal-Mart, Kohl's Corp., Family Dollar Stores I...","Wal- Mart, Kohl's Corp., Family Dollar Stores ...","[Wal-Mart, ,, Kohl, 's, Corp., ,, Family, Doll...","[Wal-, Mart, ,, Kohl, 's, Corp., ,, Family, Do...",1,1,"[Addition/Deletion, Identity]","[25, 29]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 2...","[[15, 16, 17, 18]]","[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13...","[were among the merchants, Wal-Mart , Kohl 's ...","[Wal- Mart , Kohl 's Corp. , Family Dollar Sto..."
3479,3480_3479,Nordstrom also is expanding its play area in t...,Nordstrom also is expanding its play area in t...,"[Nordstrom, also, is, expanding, its, play, ar...","[Nordstrom, also, is, expanding, its, play, ar...",1,1,"[Addition/Deletion, Identity]","[25, 29]","[25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 2...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13...","[[19, 20, 21, 22, 23, 24]]",[Nordstrom also is expanding its play area in ...,"[for children while their parents shop, Nordst..."
3941,3942_3941,Both figures were below consensus expectations...,But August sales were revised to a 1.2 percent...,"[Both, figures, were, below, consensus, expect...","[But, August, sales, were, revised, to, a, 1.2...",1,1,"[Addition/Deletion, Identity]","[25, 29]","[25, 25, 25, 25, 25, 25, 25, 0, 0, 0, 0, 0, 0,...","[25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 2...","[[0, 1, 2, 3, 4, 5, 6]]","[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13...",[Both figures were below consensus expectation...,[But August sales were revised to a 1.2 percen...
4110,4111_4110,"Snow's remark ``has a psychological impact,'' ...",Snow's remark on the dollar's effects on expor...,"[Snow, 's, remark, ``, has, a, psychological, ...","[Snow, 's, remark, on, the, dollar, 's, effect...",1,1,"[Addition/Deletion, Identity]","[25, 29]","[25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 2...","[0, 0, 0, 25, 25, 25, 25, 25, 25, 25, 0, 0, 0,...","[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13...","[[3, 4, 5, 6, 7, 8, 9]]",[Snow 's remark `` has a psychological impact ...,"[on the dollar 's effects on exports, Snow 's ..."
4652,4653_4652,"""Saddam is gone, but we want the (U.S.) occupa...","""Saddam is gone, but we want the (U.S.) occupa...","[``, Saddam, is, gone, ,, but, we, want, the, ...","[``, Saddam, is, gone, ,, but, we, want, the, ...",1,1,"[Addition/Deletion, Identity]","[25, 29]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 2...","[[15, 17, 18, 19, 20, 21]]","[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13...","[, said Hit resident Abu Qasim, `` Saddam is g...","[`` Saddam is gone , but we want the ( U.S. ) ..."
4900,4901_4900,"""In my mind this is not an issue on the horizo...","""In my mind this is not an issue on the horizo...","[``, In, my, mind, this, is, not, an, issue, o...","[``, In, my, mind, this, is, not, an, issue, o...",1,1,"[Addition/Deletion, Identity]","[25, 29]","[25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 2...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 25,...","[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13...","[[14, 16, 17, 18, 19, 20]]",[`` In my mind this is not an issue on the hor...,"[, he was quoted as saying, `` In my mind this..."
5221,5222_5221,"""While the rest of America grapples with an ec...","""While the rest of America grapples with an ec...","[``, While, the, rest, of, America, grapples, ...","[``, While, the, rest, of, America, grapples, ...",1,1,"[Addition/Deletion, Identity]","[25, 29]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 2...","[[25, 27, 28, 29, 30, 31]]","[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13...","[, Edwards said in a speech, `` While the rest...",[`` While the rest of America grapples with an...
5293,5294_5293,"""To be wedged between these two monsters and h...","""To be wedged between these two monsters and h...","[``, To, be, wedged, between, these, two, mons...","[``, To, be, wedged, between, these, two, mons...",1,1,"[Addition/Deletion, Identity]","[25, 29]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 2...","[[20, 22, 23, 24, 26, 27, 28, 29]]","[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13...","[, said Rory Bruer Sony head of distribution, ...",[`` To be wedged between these two monsters an...
5584,5585_5584,"Last year, he made his first foray into public...","Last year, he ran a successful proposition cam...","[Last, year, ,, he, made, his, first, foray, i...","[Last, year, ,, he, ran, a, successful, propos...",1,1,"[Addition/Deletion, Identity]","[25, 29]","[0, 0, 0, 0, 25, 25, 25, 25, 25, 25, 25, 25, 0...","[25, 25, 25, 25, 0, 25, 25, 25, 25, 25, 25, 25...","[[4, 5, 6, 7, 8, 9, 10, 11]]","[[0, 1, 2, 3, 5, 6, 7, 8, 9, 10, 11, 12, 13, 1...","[made his first foray into public politics ,, ...","[Last year , he a successful proposition campa..."

Named Entity Numbers

Some annotations for 'Named Entity Substitution' are actually number substitutions, for instance:

In [147]:
textual_paraphrases[(textual_paraphrases['pair_id'] == 113) & ((textual_paraphrases['type_id'] == 7))]

,pair_id,type_id,type_name,sense_preserving,s1_scope,s2_scope,s1_text,s2_text,key_s1,key_s2,k1_text,k2_text
412,113,7,Same Polarity Substitution (named ent.),yes,"[6, 7]",[1],Skagit River,Skagit,None,None,None,None
413,113,7,Same Polarity Substitution (named ent.),yes,[16],[16],8,10,None,None,None,None
415,113,7,Same Polarity Substitution (named ent.),yes,[24],"[22, 23, 24, 25]",Burke,the National Weather Service,None,None,None,None

Let's first identify all the paraphrase pairs containing a number:

In [148]:
def hasdigit(s1, s2):
    return any(char.isdigit() for char in s1) or any(char.isdigit() for char in s2)

named_ent_numbers = pd.DataFrame(columns = textual_paraphrases.columns, data = copy.deepcopy(textual_paraphrases.values))
named_ent_numbers = named_ent_numbers[named_ent_numbers['type_id'] == 7]
named_ent_numbers = named_ent_numbers[named_ent_numbers.apply(lambda x: hasdigit(x.s1_text, x.s2_text), axis=1)]
named_ent_numbers

,pair_id,type_id,type_name,sense_preserving,s1_scope,s2_scope,s1_text,s2_text,key_s1,key_s2,k1_text,k2_text
206,60,7,Same Polarity Substitution (named ent.),yes,[7],"[7, 8, 9]",770,at least 767,None,None,None,None
296,83,7,Same Polarity Substitution (named ent.),yes,[21],"[17, 18]",3km,two miles,None,None,None,None
335,97,7,Same Polarity Substitution (named ent.),yes,"[7, 8]","[13, 14]",$ 46.50,$ 45.90,None,None,None,None
336,97,7,Same Polarity Substitution (named ent.),yes,"[4, 5]","[5, 6]",$ 2.88,$ 2.28,None,None,None,None
396,111,7,Same Polarity Substitution (named ent.),yes,[19],"[18, 19, 20]",Kazemi,the 54-year-old photojournalist,None,None,None,None
413,113,7,Same Polarity Substitution (named ent.),yes,[16],[16],8,10,None,None,None,None
855,220,7,Same Polarity Substitution (named ent.),yes,[13],"[13, 14, 15]",R300-million,$ 43.63 million,None,None,None,None
999,261,7,Same Polarity Substitution (named ent.),yes,"[6, 8]",[7],some 65,64.7,None,None,None,None
1180,302,7,Same Polarity Substitution (named ent.),yes,[18],[16],114.3,114,None,None,None,None
1318,336,7,Same Polarity Substitution (named ent.),yes,"[22, 23, 24]","[14, 15]","more than 2,100","2,100 locations",None,None,None,None
1349,344,7,Same Polarity Substitution (named ent.),yes,"[15, 16, 17, 18]","[11, 12, 13, 14]",30 and 80 pounds,14 and 36 kilograms,None,None,None,None
1741,452,7,Same Polarity Substitution (named ent.),yes,[3],"[1, 2]",70,About 70,None,None,None,None
2248,594,7,Same Polarity Substitution (named ent.),yes,[11],"[14, 15]",14.7,about 15,None,None,None,None
2330,612,7,Same Polarity Substitution (named ent.),yes,"[6, 7, 8]",[4],"more than 2,000","2,100",None,None,None,None
2679,702,7,Same Polarity Substitution (named ent.),yes,"[16, 17]","[16, 17]",90 miles,150 kilometres,None,None,None,None
2790,740,7,Same Polarity Substitution (named ent.),yes,"[14, 15, 16, 17]","[18, 19, 20]",a 60 % lower,more than half,None,None,None,None
2815,745,7,Same Polarity Substitution (named ent.),yes,"[24, 25, 26, 27]","[23, 24, 25]",8am ( AEST ),6 p.m. EDT,None,None,None,None
11103,2966,7,Same Polarity Substitution (named ent.),yes,"[13, 14, 15, 16, 17, 18, 19, 20]","[7, 8, 9, 10, 11, 12, 13]",a bonus of just more than $ 2-million,nearly $ 2.5 million in bonus pay,None,None,None,None
15458,4078,7,Same Polarity Substitution (named ent.),yes,"[0, 1, 2, 3, 4, 5]","[3, 4, 5, 6, 7, 8, 9, 10, 11]",The world 's two largest automakers,both GM and No . 2 Ford Motor Co.,None,None,None,None
16278,4295,7,Same Polarity Substitution (named ent.),yes,"[14, 15]","[15, 16]",MGXR 8850,MGX 8850,None,None,None,None
16328,4308,7,Same Polarity Substitution (named ent.),yes,"[12, 13]",[8],Windows 2000,2000,None,None,None,None
16330,4308,7,Same Polarity Substitution (named ent.),yes,"[18, 19, 20]","[15, 16]",Windows Server 2003,Server 2003,None,None,None,None
16331,4308,7,Same Polarity Substitution (named ent.),yes,"[9, 10]","[12, 13]",Windows NT,NT 4.0,None,None,None,None
16364,4319,7,Same Polarity Substitution (named ent.),yes,"[2, 3, 4]",[2],more than 100,138,None,None,None,None
16679,4398,7,Same Polarity Substitution (named ent.),yes,"[11, 12]","[16, 17]",before 9,about 8:45,None,None,None,None
16697,4401,7,Same Polarity Substitution (named ent.),yes,"[0, 1]","[0, 1, 2]",The technology,WSE version 2,None,None,None,None
16891,4460,7,Same Polarity Substitution (named ent.),yes,"[16, 17, 18]","[17, 18, 19]",up to 18,12 to 18,None,None,None,None
17351,4570,7,Same Polarity Substitution (named ent.),yes,[1],"[3, 4, 5, 6, 7]",router,WGT634U Super Wireless Media Router,None,None,None,None
17764,4664,7,Same Polarity Substitution (named ent.),yes,"[6, 7, 8, 9]","[8, 9, 10]",`` 7th Heaven '',WB’s “7th Heaven”,None,None,None,None
17836,4682,7,Same Polarity Substitution (named ent.),yes,"[17, 18]","[17, 18]",a quarter,25 percent,None,None,None,None
17959,4714,7,Same Polarity Substitution (named ent.),yes,[17],"[17, 18]",thousands,"about 25,000",None,None,None,None
18163,4763,7,Same Polarity Substitution (named ent.),yes,"[8, 9]",[11],260 pounds,117kg,None,None,None,None
18187,4773,7,Same Polarity Substitution (named ent.),yes,"[11, 12]",[5],about 250,250,None,None,None,None
18497,4845,7,Same Polarity Substitution (named ent.),yes,"[0, 1, 2, 3, 4, 5, 6, 7]","[20, 21, 22, 23]",The 6th U.S . Circuit Court of Appeals,a federal appeals court,None,None,None,None
18606,4871,7,Same Polarity Substitution (named ent.),yes,"[12, 13, 14, 15]","[13, 14, 15]",more than 50 million,nearly 51 million,None,None,None,None
18674,4899,7,Same Polarity Substitution (named ent.),yes,"[3, 4]",[7],nearly 5,5.4,None,None,None,None
18749,4915,7,Same Polarity Substitution (named ent.),yes,[5],"[6, 7]",3.6,about 4,None,None,None,None
19058,5000,7,Same Polarity Substitution (named ent.),yes,[3],"[0, 1]",152,About 150,None,None,None,None
19349,5073,7,Same Polarity Substitution (named ent.),yes,"[14, 15, 16, 17]","[13, 14, 15]",3:49 p.m. Eastern time,1:49 p.m. MDT,None,None,None,None
19603,5146,7,Same Polarity Substitution (named ent.),yes,"[16, 17]",[20],Opteron 200,Opteron,None,None,None,None
19955,5241,7,Same Polarity Substitution (named ent.),yes,"[17, 18]",[18],about 20,21,None,None,None,None
20010,5251,7,Same Polarity Substitution (named ent.),yes,[7],[9],270-kilogram,600-pound,None,None,None,None
20776,5439,7,Same Polarity Substitution (named ent.),yes,"[7, 8, 9]",[8],Athlon MP 2800+,Athlon,None,None,None,None
20888,5467,7,Same Polarity Substitution (named ent.),yes,"[9, 10]","[7, 8, 9]",approximately 2.95,more than 2.9,None,None,None,None
21665,5689,7,Same Polarity Substitution (named ent.),yes,[12],[8],11,10.89,None,None,None,None
21666,5689,7,Same Polarity Substitution (named ent.),yes,[16],[11],1.25,1.2,None,None,None,None
21667,5689,7,Same Polarity Substitution (named ent.),yes,[20],[15],931,931.12,None,None,None,None
21790,5722,7,Same Polarity Substitution (named ent.),yes,[9],"[2, 3]",January,Jan. 28,None,None,None,None
21946,5772,7,Same Polarity Substitution (named ent.),yes,[11],"[14, 15]",14.7,about 15,None,None,None,None
22016,5789,7,Same Polarity Substitution (named ent.),yes,[21],[18],seven-mile,11-kilometre,None,None,None,None