# Imports

In [1]:
import pandas as pd
import numpy as np

# Reading the ETPC

In [2]:
# Unpickle etpc_raw
etpc = pd.read_pickle('datasets/etpc_raw.pkl')

# Cleanup

## Cleaning up Columns

In [3]:
etpc.rename(columns={'paraphrase_type_ids': 'ept_ids', 'paraphrase_types': 'ept_names'}, inplace=True)
etpc.drop(columns={'negation'}, axis=1, inplace=True)
etpc

,idx,sentence1,sentence2,sentence1_tokenized,sentence2_tokenized,etpc_label,mrpc_label,ept_names,ept_ids,sentence1_segment_location,sentence2_segment_location,sentence1_segment_location_indices,sentence2_segment_location_indices,sentence1_segment_text,sentence2_segment_text
0,1_0,"Amrozi accused his brother, whom he called ""th...","Referring to him as only ""the witness"", Amrozi...","[Amrozi, accused, his, brother, ,, whom, he, c...","[Referring, to, him, as, only, ``, the, witnes...",1,1,"[Same Polarity Substitution (habitual), Same P...","[5, 6, 26, 25, 29]","[26, 26, 26, 26, 0, 5, 0, 6, 25, 25, 25, 25, 2...","[6, 5, 5, 0, 25, 0, 0, 0, 0, 0, 26, 26, 26, 26...","[[5], [7], [0, 1, 2, 3], [8, 9, 10, 11, 12, 13...","[[1, 2], [0], [10, 11, 12, 13], [4]]","[whom, called, Amrozi accused his brother, `` ...","[to him, Referring, Amrozi accused his brother..."
1,2_1,Yucaipa owned Dominick's before selling the ch...,Yucaipa bought Dominick's in 1995 for $693 mil...,"[Yucaipa, owned, Dominick, 's, before, selling...","[Yucaipa, bought, Dominick, 's, in, 1995, for,...",0,0,[],[],"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",[],[],[],[]
2,3_2,They had published an advertisement on the Int...,"On June 10, the ship's owners had published an...","[They, had, published, an, advertisement, on, ...","[On, June, 10, ,, the, ship, 's, owners, had, ...",1,1,"[Same Polarity Substitution (contextual), Same...","[6, 6, 26, 25, 29]","[6, 0, 0, 0, 0, 0, 0, 0, 26, 26, 26, 0, 0, 0, ...","[26, 26, 26, 26, 6, 6, 6, 6, 25, 25, 25, 25, 2...","[[0], [14], [8, 9, 10], [17, 18, 19]]","[[4, 5, 6, 7], [18], [0, 1, 2, 3], [8, 9, 10, ...","[They, cargo, on June 10, , he added, had publ...","[the ship 's owners, explosives, On June 10 ,,..."
3,4_3,"Around 0335 GMT, Tab shares were up 19 cents, ...","Tab shares jumped 20 cents, or 4.6%, to set a ...","[Around, 0335, GMT, ,, Tab, shares, were, up, ...","[Tab, shares, jumped, 20, cents, ,, or, 4.6, %...",0,0,[],[],"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",[],[],[],[]
4,5_4,"The stock rose $2.11, or about 11 percent, to ...",PG&E Corp. shares jumped $1.63 or 8 percent to...,"[The, stock, rose, $, 2.11, ,, or, about, 11, ...","[PG, &, E, Corp., shares, jumped, $, 1.63, or,...",0,1,"[Same Polarity Substitution (contextual), Same...","[6, 5, 6, 11, 26, 25, 29, 30, 30, 30, 21]","[6, 6, 5, 29, 30, 0, 29, 25, 30, 29, 0, 6, 6, ...","[30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 3...","[[0, 1], [2], [11, 12, 14], [13], [13], [7], [...","[[0, 1, 2, 3, 4], [5], [11], [20, 21], [20, 21...","[The stock, rose, to close at, Friday, Friday,...","[PG & E Corp. shares, jumped, to, on Friday, o..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5796,5797_5796,"After Hughes refused to rehire Hernandez, he c...",Hernandez filed an Equal Employment Opportunit...,"[After, Hughes, refused, to, rehire, Hernandez...","[Hernandez, filed, an, Equal, Employment, Oppo...",0,0,[],[],"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]",[],[],[],[]
5797,5798_5797,There are 103 Democrats in the Assembly and 47...,Democrats dominate the Assembly while Republic...,"[There, are, 103, Democrats, in, the, Assembly...","[Democrats, dominate, the, Assembly, while, Re...",0,0,[],[],"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]",[],[],[],[]
5798,5799_5798,Bethany Hamilton remained in stable condition ...,"Bethany, who remained in stable condition afte...","[Bethany, Hamilton, remained, in, stable, cond...","[Bethany, ,, who, remained, in, stable, condit...",0,0,[],[],"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",[],[],[],[]
5799,5800_5799,"Last week the power station’s US owners, AES C...","The news comes after Drax's American owner, AE...","[Last, week, the, power, station’s, US, owners...","[The, news, comes, after, Drax, 's, American, ...",1,1,"[Spelling changes, Same Polarity Substitution ...","[4, 7, 6, 1, 26, 25, 25, 25, 29]","[26, 26, 0, 7, 7, 6, 1, 25, 25, 4, 25, 25, 25,...","[25, 25, 25, 25, 7, 0, 6, 1, 0, 0, 4, 25, 0, 2...","[[9], [3, 4], [5], [6], [0, 1], [24], [7, 8, 1...","[[10], [4], [6], [7], [13, 14], [0, 1, 2, 3], ...","[Corp, power station’s, US, owners, Last week,...","[Corp., Drax, American, owner, last week, The ..."
5800,5801_5800,Sobig.F spreads when unsuspecting computer use...,The virus spreads when unsuspecting computer u...,"[Sobig.F, spreads, when, unsuspecting, compute...","[The, virus, spreads, when, unsuspecting, comp...",1,1,"[Same Polarity Substitution (named ent.), Same...","[7, 6, 6, 11, 25, 29]","[7, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 11, 11...","[7, 7, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25,...","[[0], [16], [21], [13, 14], [29, 30, 31, 32, 3...","[[0, 1], [16], [22], [14], [2, 3, 4, 5, 6, 7, ...","[Sobig.F, as, ,, such familiar, `` Re : That M...","[The virus, like, and, familiar, spreads when ..."

## Remapping Paraphrase IDs

First, make a list with paraphrase types and IDs from the ETPC:

In [4]:
id_map = pd.read_xml('https://raw.githubusercontent.com/venelink/ETPC/master/Corpus/paraphrase_types.xml')
# Rename columns for clarity
id_map.rename(columns={'type_id': 'ept_id', 'type_name': 'ept_name'}, inplace=True)
# Drop unused data
id_map = id_map[['ept_id', 'ept_name']] # No use for type_category column
id_map.drop(id_map.tail(2).index,inplace=True) # Types don't appear in ETPC
id_map.style.hide(axis="index")
id_map

    ept_id                                     ept_name
0        1                         Inflectional Changes
1        2                           Modal Verb Changes
2        3                         Derivational Changes
3        4                             Spelling changes
4        5        Same Polarity Substitution (habitual)
5        6      Same Polarity Substitution (contextual)
6        7      Same Polarity Substitution (named ent.)
7        8                             Change of format
8        9    Opposite polarity substitution (habitual)
9       10  Opposite polarity substitution (contextual)
10      11              Synthetic/analytic substitution
11      13                        Converse substitution
12      14                        Diathesis alternation
13      15                           Negation switching
14      16                                     Ellipsis
15      17                         Coordination changes
16      18            Subordination and nesting changes
17      21                          Punctuation changes
18      22           Direct/indirect style alternations
19      23                    Sentence modality changes
20      24           Syntax/discourse structure changes
21      25                            Addition/Deletion
22      26                              Change of order
23      28                               Semantic based
24      29                                     Identity
25      30                               Non-paraphrase
26      31                                   Entailment

Now, make a list with paraphrase names and IDs for ParaOp types

In [5]:
data = [[0, 'No change'],
        [1, 'Addition/Deletion - Function Word'],
        [2, 'Addition/Deletion - Content Word'],
        [3, 'Change of Order'],
        [4, 'Substitution - Synonym'],
        [5, 'Substitution - Contextual Synonym'],
        [6, 'Substitution - Morphological'],
        [7, 'Substitution - Spelling and Format']
       ]
paraop_map = pd.DataFrame(data, columns = ['paraop_id', 'paraop_name'])
paraop_map.set_index('paraop_id', inplace=True)
paraop_map

                                  paraop_name
paraop_id
0                                   No change
1           Addition/Deletion - Function Word
2            Addition/Deletion - Content Word
3                             Change of Order
4                      Substitution - Synonym
5           Substitution - Contextual Synonym
6                Substitution - Morphological
7          Substitution - Spelling and Format

## Mapping

We'll use the dataframe below for mapping. Each row will contain the name and ID of a paraphrase type in the ETPC, and the name and ID of the correspondent ParaOp type.

In [6]:
id_map['paraop_id'] = ''
id_map['paraop_name'] = ''
id_map

    ept_id                                     ept_name paraop_id paraop_name
0        1                         Inflectional Changes
1        2                           Modal Verb Changes
2        3                         Derivational Changes
3        4                             Spelling changes
4        5        Same Polarity Substitution (habitual)
5        6      Same Polarity Substitution (contextual)
6        7      Same Polarity Substitution (named ent.)
7        8                             Change of format
8        9    Opposite polarity substitution (habitual)
9       10  Opposite polarity substitution (contextual)
10      11              Synthetic/analytic substitution
11      13                        Converse substitution
12      14                        Diathesis alternation
13      15                           Negation switching
14      16                                     Ellipsis
15      17                         Coordination changes
16      18            Subordination and nesting changes
17      21                          Punctuation changes
18      22           Direct/indirect style alternations
19      23                    Sentence modality changes
20      24           Syntax/discourse structure changes
21      25                            Addition/Deletion
22      26                              Change of order
23      28                               Semantic based
24      29                                     Identity
25      30                               Non-paraphrase
26      31                                   Entailment

Here's where we do the mapping:

In [7]:
# Helper function to map an ETPC id to a Paraop id
def map_id(ept_id, paraop_id):
    """Given an EPT id and a Paraop id, look up the name of the Paraop id and 
    fill in the rows of id_map with paraop_id and the name."""
    id_map.loc[id_map['ept_id'] == ept_id, 'paraop_id'] = paraop_id
    id_map.loc[id_map['ept_id'] == ept_id, 'paraop_name'] = paraop_map.loc[paraop_id, 'paraop_name']

In [8]:
map_id(ept_id=1, paraop_id=6)
map_id(ept_id=3, paraop_id=6)
map_id(ept_id=26, paraop_id=3)
map_id(ept_id=29, paraop_id=0)
id_map

,ept_id,ept_name,paraop_id,paraop_name
0,1,Inflectional Changes,6,Substitution - Morphological
1,2,Modal Verb Changes,,
2,3,Derivational Changes,6,Substitution - Morphological
3,4,Spelling changes,,
4,5,Same Polarity Substitution (habitual),,
5,6,Same Polarity Substitution (contextual),,
6,7,Same Polarity Substitution (named ent.),,
7,8,Change of format,,
8,9,Opposite polarity substitution (habitual),,
9,10,Opposite polarity substitution (contextual),,
10,11,Synthetic/analytic substitution,,
11,13,Converse substitution,,
12,14,Diathesis alternation,,
13,15,Negation switching,,
14,16,Ellipsis,,
15,17,Coordination changes,,
16,18,Subordination and nesting changes,,
17,21,Punctuation changes,,
18,22,Direct/indirect style alternations,,
19,23,Sentence modality changes,,
20,24,Syntax/discourse structure changes,,
21,25,Addition/Deletion,,
22,26,Change of order,3,Change of Order
23,28,Semantic based,,
24,29,Identity,0,No change
25,30,Non-paraphrase,,
26,31,Entailment,,

TODO: Figure out a way to hide index of map_id throughout whole notebook. For some reason this seems harder than it needs to be...

## Filtering

In [9]:
# Helper methods for filtering the ETPC dataframe based on paraphrase types

def filter_contains(df, search_ids):
  """Returns an ETPC dataframe with rows where paraphrase_types_ids contains
  the search_ids. Use this to search for paraphrase pairs containing specific
  ids"""
  return df[df['ept_ids'].apply(lambda x: np.isin(search_ids, x))]

def filter_equals(df, search_ids):
  """Returns an ETPC dataframe with rows where paraphrase_types_ids EXACTLY 
  MATCHES the search_ids."""
  return df[df['ept_ids'].apply(lambda x: np.array_equal(x, search_ids))]

In [10]:
filter_contains(etpc, '3')

,idx,sentence1,sentence2,sentence1_tokenized,sentence2_tokenized,etpc_label,mrpc_label,ept_names,ept_ids,sentence1_segment_location,sentence2_segment_location,sentence1_segment_location_indices,sentence2_segment_location_indices,sentence1_segment_text,sentence2_segment_text
142,143_142,Tyco later said the loan had not been forgiven...,"Tyco has said the loan was not forgiven, but t...","[Tyco, later, said, the, loan, had, not, been,...","[Tyco, has, said, the, loan, was, not, forgive...",1,1,"[Same Polarity Substitution (contextual), Infl...","[6, 1, 1, 3, 24, 25, 29, 21]","[0, 25, 1, 29, 29, 1, 29, 1, 1, 29, 6, 29, 29,...","[25, 1, 1, 25, 25, 1, 25, 1, 25, 6, 24, 29, 29...","[[10], [2], [5, 7, 8], [15], [11, 12, 13, 14, ...","[[9], [1, 2], [5, 7], [12], [10, 11, 12, 13, 1...","[and, said, had been forgiven, full, Swartz re...","[but, has said, was forgiven, fully, that Swar..."
149,150_149,She estimated it would take three months and w...,She said it would take an estimated three mont...,"[She, estimated, it, would, take, three, month...","[She, said, it, would, take, an, estimated, th...",1,1,"[Synthetic/analytic substitution, Derivational...","[11, 3, 16, 25, 25, 29]","[25, 3, 25, 16, 25, 25, 25, 25, 16, 25, 11, 25...","[0, 0, 0, 16, 16, 0, 3, 0, 0, 25, 25, 0, 16, 1...","[[10], [1], [3, 4, 8, 9], [0, 2, 4, 5, 6, 7, 9...","[[13, 14], [6], [3, 4, 12], [9, 10]]","[cancellation, estimated, would take would req...","[the cancellation, estimated, would take requi..."
238,239_238,Saddam loyalists have been blamed for sabotagi...,Hussein loyalists have been blamed for sabotag...,"[Saddam, loyalists, have, been, blamed, for, s...","[Hussein, loyalists, have, been, blamed, for, ...",1,1,"[Same Polarity Substitution (named ent.), Deri...","[7, 3, 8, 25, 29, 21]","[7, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 0,...","[29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 2...","[[0], [16], [18], [12, 13, 14], [1, 2, 3, 4, 5...","[[0], [12], [13], [1, 2, 3, 4, 5, 6, 7, 8, 9, ...","[Saddam, attacks, U.S., as well as, loyalists ...","[Hussein, attacking, US, loyalists have been b..."
254,255_254,"""It's amazing to be part of an industry that r...","""It's amazing to be part of an industry that r...","[``, It, 's, amazing, to, be, part, of, an, in...","[``, It, 's, amazing, to, be, part, of, an, in...",1,1,"[Same Polarity Substitution (contextual), Same...","[6, 5, 3, 29]","[29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 2...","[29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 2...","[[24], [22, 23], [23], [0, 1, 2, 3, 4, 5, 6, 7...","[[22], [20, 21, 27, 28], [21], [0, 1, 2, 3, 4,...","[of, recent graduate, graduate, `` It 's amazi...","[from, only graduated last May, graduated, `` ..."
286,287_286,The search was concentrated in northeast Penns...,The search was concentrated in northeastern Pe...,"[The, search, was, concentrated, in, northeast...","[The, search, was, concentrated, in, northeast...",1,1,"[Derivational Changes, Addition/Deletion, Iden...","[3, 25, 29, 28]","[29, 29, 29, 29, 29, 3, 29, 29, 29, 29, 29, 29...","[25, 25, 25, 25, 25, 3, 25, 25, 25, 25, 25, 25...","[[5], [23, 24], [0, 1, 2, 3, 4, 6, 7, 8, 9, 10...","[[5], [0, 1, 2, 3, 4, 6, 7, 8, 9, 10, 11, 12, ...","[northeast, by now, The search was concentrate...","[northeastern, The search was concentrated in ..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5621,5622_5621,Palm Wednesday announced plans to acquire Hand...,Palm said on Wednesday it plans to buy Handspr...,"[Palm, Wednesday, announced, plans, to, acquir...","[Palm, said, on, Wednesday, it, plans, to, buy...",0,1,"[Same Polarity Substitution (habitual), Same P...","[5, 5, 6, 11, 3, 26, 29, 30]","[29, 26, 5, 3, 29, 5, 29, 29, 29, 29, 6, 29, 2...","[29, 5, 26, 26, 0, 3, 29, 5, 29, 29, 29, 29, 6...","[[2], [5], [10], [1], [3], [1], [0, 4, 6, 7, 8...","[[1], [7], [12], [2, 3], [5], [2, 3], [0, 6, 8...","[announced, acquire, started, Wednesday, plans...","[said, buy, created, on Wednesday, plans, on W..."
5702,5703_5702,Some opposition leaders said they would reserv...,Some opposition leaders called for withdrawing...,"[Some, opposition, leaders, said, they, would,...","[Some, opposition, leaders, called, for, withd...",1,1,"[Same Polarity Substitution (contextual), Same...","[6, 6, 3, 26, 25, 29]","[26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 2...","[6, 6, 6, 25, 25, 3, 25, 0, 0, 26, 26, 26, 26,...","[[0, 1, 2], [14], [19], [0, 1, 2, 3, 4, 5, 6, ...","[[9], [0, 1, 2], [5], [9, 10, 11, 12, 13, 14, ...","[Some opposition leaders, others, withdrawal, ...","[others, Some opposition leaders, withdrawing,..."
5709,5710_5709,Women who eat potatoes and other tuberous vege...,Australian researchers believe they have found...,"[Women, who, eat, potatoes, and, other, tubero...","[Australian, researchers, believe, they, have,...",1,1,"[Same Polarity Substitution (named ent.), Same...","[7, 5, 3, 24, 18, 26, 25, 29]","[26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 2...","[7, 0, 0, 25, 25, 25, 26, 26, 26, 26, 26, 26, ...","[[23], [0], [15], [0, 1, 2, 3, 4, 5, 6, 7, 8, ...","[[0], [16], [7], [6, 7, 8, 9, 10, 11, 12, 13, ...","[Melbourne, Women, triggering, Women who eat p...","[Australian, mothers, trigger, a trigger of ty..."
5712,5713_5712,There is only one drug on the market for macul...,There is only one drug on the market for macul...,"[There, is, only, one, drug, on, the, market, ...","[There, is, only, one, drug, on, the, market, ...",1,1,"[Derivational Changes, Subordination and nesti...","[3, 18, 25, 29]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 2...","[[17], [19, 20, 21, 22, 23, 24, 25, 26], [18]]","[[18], [20, 21, 22, 23, 24, 25, 26], [0, 1, 2,...","[treat, one subtype that represents a minority...","[treatment, one subtype representing a minorit..."
5777,5778_5777,Immunizing mice with pneumococcusleads tothe g...,Immunizing mice with pneumococcus means genera...,"[Immunizing, mice, with, pneumococcusleads, to...","[Immunizing, mice, with, pneumococcus, means, ...",1,1,"[Spelling changes, Same Polarity Substitution ...","[4, 5, 3, 29]","[29, 29, 29, 4, 0, 3, 0, 29, 29, 29, 29, 5, 29...","[29, 29, 29, 4, 4, 3, 29, 29, 29, 29, 5, 29, 2...","[[3], [11], [5], [0, 1, 2, 7, 8, 9, 10, 12, 13...","[[3, 4], [10], [5], [0, 1, 2, 6, 7, 8, 9, 11, ...","[pneumococcusleads, think, generation, Immuniz...","[pneumococcus means, believe, generating, Immu..."

In [11]:
filter_equals(etpc, ['25', '29'])

,idx,sentence1,sentence2,sentence1_tokenized,sentence2_tokenized,etpc_label,mrpc_label,ept_names,ept_ids,sentence1_segment_location,sentence2_segment_location,sentence1_segment_location_indices,sentence2_segment_location_indices,sentence1_segment_text,sentence2_segment_text
167,168_167,U.S. law enforcement officials are sneering at...,U.S. law enforcement officials are sneering at...,"[U.S., law, enforcement, officials, are, sneer...","[U.S., law, enforcement, officials, are, sneer...",1,1,"[Addition/Deletion, Identity]","[25, 29]","[25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 2...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13...","[[15, 16, 17, 18, 19, 20, 21, 22, 23]]",[U.S. law enforcement officials are sneering a...,[-- including a police conspiracy to discredit...
645,646_645,I called the number and the lady told me she w...,I called the number and the lady told me she w...,"[I, called, the, number, and, the, lady, told,...","[I, called, the, number, and, the, lady, told,...",1,1,"[Addition/Deletion, Identity]","[25, 29]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 2...","[[18, 20, 21, 22, 23, 24]]","[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13...","[, Sherry Studabaker told BBC television, I ca...",[I called the number and the lady told me she ...
1017,1018_1017,He said the problem needs to be corrected befo...,He said the prob lem needs to be corrected bef...,"[He, said, the, problem, needs, to, be, correc...","[He, said, the, prob, lem, needs, to, be, corr...",1,1,"[Addition/Deletion, Identity]","[25, 29]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 25, 25...","[25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 2...","[[13, 14, 15]]","[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13...","[is cleared to, He said the problem needs to b...",[He said the prob lem needs to be corrected be...
2046,2047_2046,Other recommendations included a special couns...,Other recommendations included the creation of...,"[Other, recommendations, included, a, special,...","[Other, recommendations, included, the, creati...",1,1,"[Addition/Deletion, Identity]","[25, 29]","[0, 0, 0, 25, 25, 25, 25, 25, 25, 25, 25, 25, ...","[25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 2...","[[3, 4, 5, 6, 7, 8, 9, 10, 11, 12]]","[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13...",[a special counsel on oceans in the White Hous...,[Other recommendations included the creation o...
2063,2064_2063,"""For me, the Lewinsky imbroglio seemed like ju...","""For me, the Lewinsky imbroglio seemed like ju...","[``, For, me, ,, the, Lewinsky, imbroglio, see...","[``, For, me, ,, the, Lewinsky, imbroglio, see...",1,1,"[Addition/Deletion, Identity]","[25, 29]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 2...","[[17, 19, 20, 21, 22, 23]]","[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13...","[, according to extracts leaked yesterday, `` ...","[`` For me , the Lewinsky imbroglio seemed lik..."
2180,2181_2180,"And in the Muslim world, Osama bin Laden is be...","And in the Muslim world, Osama bin Laden, the ...","[And, in, the, Muslim, world, ,, Osama, bin, L...","[And, in, the, Muslim, world, ,, Osama, bin, L...",1,1,"[Addition/Deletion, Identity]","[25, 29]","[25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 2...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 25, 25, 25, 25, 25...","[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13...","[[9, 10, 11, 12, 13, 14, 15, 16, 17, 18]]","[And in the Muslim world , Osama bin Laden is ...","[, the missing leader of the al-Qaida terroris..."
2229,2230_2229,This is a process and there will be other oppo...,This is a process and there will be other oppo...,"[This, is, a, process, and, there, will, be, o...","[This, is, a, process, and, there, will, be, o...",1,1,"[Addition/Deletion, Identity]","[25, 29]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 2...","[[21, 22, 23]]","[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13...","[he told reporters, This is a process and ther...",[This is a process and there will be other opp...
2282,2283_2282,"""Right from the beginning, we didn't want to s...","But Mr. Crosby told The Associated Press: ""Rig...","[``, Right, from, the, beginning, ,, we, did, ...","[But, Mr., Crosby, told, The, Associated, Pres...",1,1,"[Addition/Deletion, Identity]","[25, 29]","[25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 2...","[25, 25, 25, 25, 25, 25, 25, 25, 0, 0, 0, 0, 0...","[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13...","[[0, 1, 2, 3, 4, 5, 6, 7]]","[`` Right from the beginning , we did n't want...","[But Mr. Crosby told The Associated Press :, `..."
2703,2704_2703,It's almost as if they (Russians) hit an x-mar...,It's almost as if they (Russians) hit an x-mar...,"[It, 's, almost, as, if, they, (, Russians, ),...","[It, 's, almost, as, if, they, (, Russians, ),...",1,1,"[Addition/Deletion, Identity]","[25, 29]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 2...","[[15, 17, 18, 19, 20, 21]]","[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13...","[, NASA spokesman Robert Navias said, It 's al...",[It 's almost as if they ( Russians ) hit an x...
2786,2787_2786,"""This puts telemarketers on notice that we wil...","""This puts telemarketers on notice that we wil...","[``, This, puts, telemarketers, on, notice, th...","[``, This, puts, telemarketers, on, notice, th...",1,1,"[Addition/Deletion, Identity]","[25, 29]","[25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 2...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13...","[[25, 27, 28, 29, 30, 31]]",[`` This puts telemarketers on notice that we ...,"[, FCC chairman Michael Powell said, `` This p..."
3367,3368_3367,"Wal-Mart, Kohl's Corp., Family Dollar Stores I...","Wal- Mart, Kohl's Corp., Family Dollar Stores ...","[Wal-Mart, ,, Kohl, 's, Corp., ,, Family, Doll...","[Wal-, Mart, ,, Kohl, 's, Corp., ,, Family, Do...",1,1,"[Addition/Deletion, Identity]","[25, 29]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 2...","[[15, 16, 17, 18]]","[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13...","[were among the merchants, Wal-Mart , Kohl 's ...","[Wal- Mart , Kohl 's Corp. , Family Dollar Sto..."
3479,3480_3479,Nordstrom also is expanding its play area in t...,Nordstrom also is expanding its play area in t...,"[Nordstrom, also, is, expanding, its, play, ar...","[Nordstrom, also, is, expanding, its, play, ar...",1,1,"[Addition/Deletion, Identity]","[25, 29]","[25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 2...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13...","[[19, 20, 21, 22, 23, 24]]",[Nordstrom also is expanding its play area in ...,"[for children while their parents shop, Nordst..."
3941,3942_3941,Both figures were below consensus expectations...,But August sales were revised to a 1.2 percent...,"[Both, figures, were, below, consensus, expect...","[But, August, sales, were, revised, to, a, 1.2...",1,1,"[Addition/Deletion, Identity]","[25, 29]","[25, 25, 25, 25, 25, 25, 25, 0, 0, 0, 0, 0, 0,...","[25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 2...","[[0, 1, 2, 3, 4, 5, 6]]","[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13...",[Both figures were below consensus expectation...,[But August sales were revised to a 1.2 percen...
4110,4111_4110,"Snow's remark ``has a psychological impact,'' ...",Snow's remark on the dollar's effects on expor...,"[Snow, 's, remark, ``, has, a, psychological, ...","[Snow, 's, remark, on, the, dollar, 's, effect...",1,1,"[Addition/Deletion, Identity]","[25, 29]","[25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 2...","[0, 0, 0, 25, 25, 25, 25, 25, 25, 25, 0, 0, 0,...","[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13...","[[3, 4, 5, 6, 7, 8, 9]]",[Snow 's remark `` has a psychological impact ...,"[on the dollar 's effects on exports, Snow 's ..."
4652,4653_4652,"""Saddam is gone, but we want the (U.S.) occupa...","""Saddam is gone, but we want the (U.S.) occupa...","[``, Saddam, is, gone, ,, but, we, want, the, ...","[``, Saddam, is, gone, ,, but, we, want, the, ...",1,1,"[Addition/Deletion, Identity]","[25, 29]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 2...","[[15, 17, 18, 19, 20, 21]]","[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13...","[, said Hit resident Abu Qasim, `` Saddam is g...","[`` Saddam is gone , but we want the ( U.S. ) ..."
4900,4901_4900,"""In my mind this is not an issue on the horizo...","""In my mind this is not an issue on the horizo...","[``, In, my, mind, this, is, not, an, issue, o...","[``, In, my, mind, this, is, not, an, issue, o...",1,1,"[Addition/Deletion, Identity]","[25, 29]","[25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 2...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 25,...","[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13...","[[14, 16, 17, 18, 19, 20]]",[`` In my mind this is not an issue on the hor...,"[, he was quoted as saying, `` In my mind this..."
5221,5222_5221,"""While the rest of America grapples with an ec...","""While the rest of America grapples with an ec...","[``, While, the, rest, of, America, grapples, ...","[``, While, the, rest, of, America, grapples, ...",1,1,"[Addition/Deletion, Identity]","[25, 29]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 2...","[[25, 27, 28, 29, 30, 31]]","[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13...","[, Edwards said in a speech, `` While the rest...",[`` While the rest of America grapples with an...
5293,5294_5293,"""To be wedged between these two monsters and h...","""To be wedged between these two monsters and h...","[``, To, be, wedged, between, these, two, mons...","[``, To, be, wedged, between, these, two, mons...",1,1,"[Addition/Deletion, Identity]","[25, 29]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 2...","[[20, 22, 23, 24, 26, 27, 28, 29]]","[[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13...","[, said Rory Bruer Sony head of distribution, ...",[`` To be wedged between these two monsters an...
5584,5585_5584,"Last year, he made his first foray into public...","Last year, he ran a successful proposition cam...","[Last, year, ,, he, made, his, first, foray, i...","[Last, year, ,, he, ran, a, successful, propos...",1,1,"[Addition/Deletion, Identity]","[25, 29]","[0, 0, 0, 0, 25, 25, 25, 25, 25, 25, 25, 25, 0...","[25, 25, 25, 25, 0, 25, 25, 25, 25, 25, 25, 25...","[[4, 5, 6, 7, 8, 9, 10, 11]]","[[0, 1, 2, 3, 5, 6, 7, 8, 9, 10, 11, 12, 13, 1...","[made his first foray into public politics ,, ...","[Last year , he a successful proposition campa..."

In [12]:
#TODO: Delete?
etpc['paraop_ids'] = etpc['ept_ids']
etpc

,idx,sentence1,sentence2,sentence1_tokenized,sentence2_tokenized,etpc_label,mrpc_label,ept_names,ept_ids,sentence1_segment_location,sentence2_segment_location,sentence1_segment_location_indices,sentence2_segment_location_indices,sentence1_segment_text,sentence2_segment_text,paraop_ids
0,1_0,"Amrozi accused his brother, whom he called ""th...","Referring to him as only ""the witness"", Amrozi...","[Amrozi, accused, his, brother, ,, whom, he, c...","[Referring, to, him, as, only, ``, the, witnes...",1,1,"[Same Polarity Substitution (habitual), Same P...","[5, 6, 26, 25, 29]","[26, 26, 26, 26, 0, 5, 0, 6, 25, 25, 25, 25, 2...","[6, 5, 5, 0, 25, 0, 0, 0, 0, 0, 26, 26, 26, 26...","[[5], [7], [0, 1, 2, 3], [8, 9, 10, 11, 12, 13...","[[1, 2], [0], [10, 11, 12, 13], [4]]","[whom, called, Amrozi accused his brother, `` ...","[to him, Referring, Amrozi accused his brother...","[5, 6, 26, 25, 29]"
1,2_1,Yucaipa owned Dominick's before selling the ch...,Yucaipa bought Dominick's in 1995 for $693 mil...,"[Yucaipa, owned, Dominick, 's, before, selling...","[Yucaipa, bought, Dominick, 's, in, 1995, for,...",0,0,[],[],"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",[],[],[],[],[]
2,3_2,They had published an advertisement on the Int...,"On June 10, the ship's owners had published an...","[They, had, published, an, advertisement, on, ...","[On, June, 10, ,, the, ship, 's, owners, had, ...",1,1,"[Same Polarity Substitution (contextual), Same...","[6, 6, 26, 25, 29]","[6, 0, 0, 0, 0, 0, 0, 0, 26, 26, 26, 0, 0, 0, ...","[26, 26, 26, 26, 6, 6, 6, 6, 25, 25, 25, 25, 2...","[[0], [14], [8, 9, 10], [17, 18, 19]]","[[4, 5, 6, 7], [18], [0, 1, 2, 3], [8, 9, 10, ...","[They, cargo, on June 10, , he added, had publ...","[the ship 's owners, explosives, On June 10 ,,...","[6, 6, 26, 25, 29]"
3,4_3,"Around 0335 GMT, Tab shares were up 19 cents, ...","Tab shares jumped 20 cents, or 4.6%, to set a ...","[Around, 0335, GMT, ,, Tab, shares, were, up, ...","[Tab, shares, jumped, 20, cents, ,, or, 4.6, %...",0,0,[],[],"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",[],[],[],[],[]
4,5_4,"The stock rose $2.11, or about 11 percent, to ...",PG&E Corp. shares jumped $1.63 or 8 percent to...,"[The, stock, rose, $, 2.11, ,, or, about, 11, ...","[PG, &, E, Corp., shares, jumped, $, 1.63, or,...",0,1,"[Same Polarity Substitution (contextual), Same...","[6, 5, 6, 11, 26, 25, 29, 30, 30, 30, 21]","[6, 6, 5, 29, 30, 0, 29, 25, 30, 29, 0, 6, 6, ...","[30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 3...","[[0, 1], [2], [11, 12, 14], [13], [13], [7], [...","[[0, 1, 2, 3, 4], [5], [11], [20, 21], [20, 21...","[The stock, rose, to close at, Friday, Friday,...","[PG & E Corp. shares, jumped, to, on Friday, o...","[6, 5, 6, 11, 26, 25, 29, 30, 30, 30, 21]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5796,5797_5796,"After Hughes refused to rehire Hernandez, he c...",Hernandez filed an Equal Employment Opportunit...,"[After, Hughes, refused, to, rehire, Hernandez...","[Hernandez, filed, an, Equal, Employment, Oppo...",0,0,[],[],"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]",[],[],[],[],[]
5797,5798_5797,There are 103 Democrats in the Assembly and 47...,Democrats dominate the Assembly while Republic...,"[There, are, 103, Democrats, in, the, Assembly...","[Democrats, dominate, the, Assembly, while, Re...",0,0,[],[],"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]",[],[],[],[],[]
5798,5799_5798,Bethany Hamilton remained in stable condition ...,"Bethany, who remained in stable condition afte...","[Bethany, Hamilton, remained, in, stable, cond...","[Bethany, ,, who, remained, in, stable, condit...",0,0,[],[],"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",[],[],[],[],[]
5799,5800_5799,"Last week the power station’s US owners, AES C...","The news comes after Drax's American owner, AE...","[Last, week, the, power, station’s, US, owners...","[The, news, comes, after, Drax, 's, American, ...",1,1,"[Spelling changes, Same Polarity Substitution ...","[4, 7, 6, 1, 26, 25, 25, 25, 29]","[26, 26, 0, 7, 7, 6, 1, 25, 25, 4, 25, 25, 25,...","[25, 25, 25, 25, 7, 0, 6, 1, 0, 0, 4, 25, 0, 2...","[[9], [3, 4], [5], [6], [0, 1], [24], [7, 8, 1...","[[10], [4], [6], [7], [13, 14], [0, 1, 2, 3], ...","[Corp, power station’s, US, owners, Last week,...","[Corp., Drax, American, owner, last week, The ...","[4, 7, 6, 1, 26, 25, 25, 25, 29]"
5800,5801_5800,Sobig.F spreads when unsuspecting computer use...,The virus spreads when unsuspecting computer u...,"[Sobig.F, spreads, when, unsuspecting, compute...","[The, virus, spreads, when, unsuspecting, comp...",1,1,"[Same Polarity Substitution (named ent.), Same...","[7, 6, 6, 11, 25, 29]","[7, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 11, 11...","[7, 7, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25,...","[[0], [16], [21], [13, 14], [29, 30, 31, 32, 3...","[[0, 1], [16], [22], [14], [2, 3, 4, 5, 6, 7, ...","[Sobig.F, as, ,, such familiar, `` Re : That M...","[The virus, like, and, familiar, spreads when ...","[7, 6, 6, 11, 25, 29]"

## Disambiguating duplicate types

### Reading XML files from the ETPC

In [13]:
textual_paraphrases = pd.read_xml('datasets/etpc/textual_paraphrases.xml')
# Convert scopes from strings to lists of ints
textual_paraphrases['s1_scope'] = textual_paraphrases['s1_scope'].apply(lambda x: [int(n) for n in x.split(',')] if type(x) == str else x)
textual_paraphrases['s2_scope'] = textual_paraphrases['s2_scope'].apply(lambda x: [int(n) for n in x.split(',')] if type(x) == str else x)

In [14]:
non_paraphrase_neg = pd.read_xml('https://raw.githubusercontent.com/venelink/ETPC/master/Corpus/textual_np_neg.xml')
non_paraphrase_neg[:10]

,pair_id,type_id,type_name,sense_preserving,s1_scope,s2_scope,s1_text,s2_text,key_s1,key_s2,k1_text,k2_text
0,2,7,Same Polarity Substitution (named ent.),no,"13, 14, 15","16, 17, 18",$ 2.5 billion,$ 1.8 billion,None,None,None,None
1,2,25,Addition/Deletion,no,None,"1, 2, 3, 4, 5, 6, 7, 8, 9",None,bought Dominick 's in 1995 for $ 693 million,None,None,None,None
2,4,7,Same Polarity Substitution (named ent.),no,"8, 9","3, 4",19 cents,20 cents,None,None,None,None
3,4,7,Same Polarity Substitution (named ent.),no,"12, 13","7, 8",4.4 %,4.6 %,None,None,None,None
4,4,6,Same Polarity Substitution (contextual),no,"20, 21, 22","10, 11",having earlier set,to set,None,None,None,None
5,7,7,Same Polarity Substitution (named ent.),no,7,"6, 7",17.27,30.46 points,None,None,None,None
6,7,7,Same Polarity Substitution (named ent.),no,"10, 11","10, 11",1.2 percent,2.04 percent,None,None,None,None
7,9,30,Non-paraphrase,no,whole sentence,whole sentence,"That compared with $ 35.18 million , or 24 cen...",Earnings were affected by a non-recurring $ 8 ...,None,None,None,None
8,11,7,Same Polarity Substitution (named ent.),no,"16, 17, 18, 19","28, 29",more than 2 percent,2 percent,None,None,None,None
9,11,25,Addition/Deletion,no,None,"0, 1, 2, 3, 4, 5, 6, 7, 8, 9",None,"Shares of Xoma fell 16 percent in early trade ,",None,None,None,None

In [15]:
non_paraphrase_pos = pd.read_xml('https://raw.githubusercontent.com/venelink/ETPC/master/Corpus/textual_np_pos.xml')
non_paraphrase_pos[:10]

,pair_id,type_id,type_name,sense_preserving,s1_scope,s2_scope,s1_text,s2_text,key_s1,key_s2,k1_text,k2_text
0,2,29,Identity,yes,"0, 8, 9, 10, 11, 12","0, 13, 14, 15, 19, 20",Yucaipa to Safeway in 1998 for,Yucaipa to Safeway for in 1998,None,None,None,None
1,2,1,Inflectional Changes,yes,5,11,selling,sold,None,None,None,None
2,2,6,Same Polarity Substitution (contextual),yes,"6, 7",12,the chain,it,None,None,None,None
3,2,25,Addition/Deletion,yes,"1, 2, 3, 4",None,owned Dominick 's before,None,None,None,None,None
4,4,25,Addition/Deletion,yes,"0, 1, 2, 3",None,"Around 0335 GMT ,",None,None,None,None,None
5,4,5,Same Polarity Substitution (habitual),yes,"6, 7",2,were up,jumped,None,None,None,None
6,4,25,Addition/Deletion,yes,"15, 16, 17, 18, 19",None,"at A $ 4.56 ,",None,None,None,None,None
7,4,25,Addition/Deletion,yes,None,14,None,closing,None,None,None,None
8,4,29,Identity,yes,"4, 5, 10, 11, 23, 24, 25, 27, 28, 29","0, 1, 5, 6, 12, 13, 15, 17, 18, 19","Tab shares , or a record high A $ 4.57","Tab shares , or a record high A $ 4.57",None,None,None,None
9,4,6,Same Polarity Substitution (contextual),yes,26,16,of,at,None,None,None,None

In [16]:
all_pairs = pd.read_xml('datasets/etpc/all_pairs.xml')

#### Delete?

In [17]:
pairs = pd.read_xml('datasets/etpc/text_pairs.xml')
pairs.set_index('pair_id', inplace=True)

In [18]:
pairs['sent1_indices'] = pairs['sent1_tokenized'].apply(lambda x: np.zeros(len(x.split())))
pairs['sent2_indices'] = pairs['sent2_tokenized'].apply(lambda x: np.zeros(len(x.split())))
pairs

,sent1_id,sent2_id,sent1_raw,sent2_raw,sent1_tokenized,sent2_tokenized,mrpc_label,etpc_label,negation,sent1_indices,sent2_indices
pair_id,,,,,,,,,,,
1,702876,702977,"Amrozi accused his brother, whom he called ""th...","Referring to him as only ""the witness"", Amrozi...","Amrozi accused his brother , whom he called ``...","Referring to him as only `` the witness '' , A...",1,1,0,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
2,2108705,2108831,Yucaipa owned Dominick's before selling the ch...,Yucaipa bought Dominick's in 1995 for $693 mil...,Yucaipa owned Dominick 's before selling the c...,Yucaipa bought Dominick 's in 1995 for $ 693 m...,0,0,0,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
3,1330381,1330521,They had published an advertisement on the Int...,"On June 10, the ship's owners had published an...",They had published an advertisement on the Int...,"On June 10 , the ship 's owners had published ...",1,1,0,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
4,3344667,3344648,"Around 0335 GMT, Tab shares were up 19 cents, ...","Tab shares jumped 20 cents, or 4.6%, to set a ...","Around 0335 GMT , Tab shares were up 19 cents ...","Tab shares jumped 20 cents , or 4.6 % , to set...",0,0,0,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
5,1236820,1236712,"The stock rose $2.11, or about 11 percent, to ...",PG&E Corp. shares jumped $1.63 or 8 percent to...,"The stock rose $ 2.11 , or about 11 percent , ...",PG & E Corp. shares jumped $ 1.63 or 8 percent...,1,0,0,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
...,...,...,...,...,...,...,...,...,...,...,...
5797,2685984,2686122,"After Hughes refused to rehire Hernandez, he c...",Hernandez filed an Equal Employment Opportunit...,"After Hughes refused to rehire Hernandez , he ...",Hernandez filed an Equal Employment Opportunit...,0,0,0,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
5798,339215,339172,There are 103 Democrats in the Assembly and 47...,Democrats dominate the Assembly while Republic...,There are 103 Democrats in the Assembly and 47...,Democrats dominate the Assembly while Republic...,0,0,0,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
5799,2996850,2996734,Bethany Hamilton remained in stable condition ...,"Bethany, who remained in stable condition afte...",Bethany Hamilton remained in stable condition ...,"Bethany , who remained in stable condition aft...",0,0,0,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
5800,2095781,2095812,"Last week the power station’s US owners, AES C...","The news comes after Drax's American owner, AE...","Last week the power station’s US owners , AES ...","The news comes after Drax 's American owner , ...",1,1,0,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
5801,2136244,2136052,Sobig.F spreads when unsuspecting computer use...,The virus spreads when unsuspecting computer u...,Sobig.F spreads when unsuspecting computer use...,The virus spreads when unsuspecting computer u...,1,1,0,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."

### Helper Functions for Disambiguating

Helper functions to find duplicate paraphrase type ids given an array of ids

In [19]:
def get_duplicates(input_array):
    u, c = np.unique(input_array, return_counts=True)
    u = u[c > 1]
    c = c[c > 1]
    return dict(zip(u, c))

In [20]:
def has_duplicate(input_array):
    return len(get_duplicates(input_array)) != 0

In [21]:
etpc[etpc['ept_ids'].apply(has_duplicate)]

,idx,sentence1,sentence2,sentence1_tokenized,sentence2_tokenized,etpc_label,mrpc_label,ept_names,ept_ids,sentence1_segment_location,sentence2_segment_location,sentence1_segment_location_indices,sentence2_segment_location_indices,sentence1_segment_text,sentence2_segment_text,paraop_ids
2,3_2,They had published an advertisement on the Int...,"On June 10, the ship's owners had published an...","[They, had, published, an, advertisement, on, ...","[On, June, 10, ,, the, ship, 's, owners, had, ...",1,1,"[Same Polarity Substitution (contextual), Same...","[6, 6, 26, 25, 29]","[6, 0, 0, 0, 0, 0, 0, 0, 26, 26, 26, 0, 0, 0, ...","[26, 26, 26, 26, 6, 6, 6, 6, 25, 25, 25, 25, 2...","[[0], [14], [8, 9, 10], [17, 18, 19]]","[[4, 5, 6, 7], [18], [0, 1, 2, 3], [8, 9, 10, ...","[They, cargo, on June 10, , he added, had publ...","[the ship 's owners, explosives, On June 10 ,,...","[6, 6, 26, 25, 29]"
4,5_4,"The stock rose $2.11, or about 11 percent, to ...",PG&E Corp. shares jumped $1.63 or 8 percent to...,"[The, stock, rose, $, 2.11, ,, or, about, 11, ...","[PG, &, E, Corp., shares, jumped, $, 1.63, or,...",0,1,"[Same Polarity Substitution (contextual), Same...","[6, 5, 6, 11, 26, 25, 29, 30, 30, 30, 21]","[6, 6, 5, 29, 30, 0, 29, 25, 30, 29, 0, 6, 6, ...","[30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 3...","[[0, 1], [2], [11, 12, 14], [13], [13], [7], [...","[[0, 1, 2, 3, 4], [5], [11], [20, 21], [20, 21...","[The stock, rose, to close at, Friday, Friday,...","[PG & E Corp. shares, jumped, to, on Friday, o...","[6, 5, 6, 11, 26, 25, 29, 30, 30, 30, 21]"
7,8_7,The DVD-CCA then appealed to the state Supreme...,The DVD CCA appealed that decision to the U.S....,"[The, DVD-CCA, then, appealed, to, the, state,...","[The, DVD, CCA, appealed, that, decision, to, ...",1,1,"[Spelling changes, Same Polarity Substitution ...","[4, 5, 25, 25, 29]","[25, 4, 25, 25, 25, 25, 5, 25, 25, 25]","[25, 4, 4, 25, 25, 25, 25, 25, 5, 25, 25, 25]","[[1], [6], [2], [0, 3, 4, 5, 7, 8, 9]]","[[1, 2], [8], [4, 5], [0, 3, 6, 7, 9, 10, 11]]","[DVD-CCA, state, then, The appealed to the Sup...","[DVD CCA, U.S., that decision, The appealed to...","[4, 5, 25, 25, 29]"
13,14_13,But he added group performance would improve i...,De Sole said in the results statement that gro...,"[But, he, added, group, performance, would, im...","[De, Sole, said, in, the, results, statement, ...",1,1,"[Same Polarity Substitution (contextual), Same...","[6, 6, 24, 25, 25, 29]","[25, 24, 24, 25, 25, 25, 25, 25, 25, 25, 25, 2...","[24, 24, 24, 25, 25, 25, 25, 24, 25, 25, 25, 2...","[[1], [2], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, ...","[[0, 1], [2], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 1...","[he, added, But he added group performance wou...","[De Sole, said, De Sole said in the results st...","[6, 6, 24, 25, 25, 29]"
14,15_14,He told The Sun newspaper that Mr. Hussein's d...,"""Saddam's daughters had British schools and ho...","[He, told, The, Sun, newspaper, that, Mr., Hus...","[``, Saddam, 's, daughters, had, British, scho...",1,1,"[Same Polarity Substitution (named ent.), Same...","[7, 6, 7, 26, 25, 29, 21]","[29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 2...","[0, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26...","[[7], [2, 3, 4], [6, 7], [6, 7, 8, 9, 10, 11, ...","[[1], [26, 27], [1], [1, 2, 3, 4, 5, 6, 7, 8, ...","[Hussein, The Sun newspaper, Mr. Hussein, Mr. ...","[Saddam, The Sun, Saddam, Saddam 's daughters ...","[7, 6, 7, 26, 25, 29, 21]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5790,5791_5790,Remaining shares will be held by QVC's managem...,Members of the QVC management team hold the re...,"[Remaining, shares, will, be, held, by, QVC, '...","[Members, of, the, QVC, management, team, hold...",1,1,"[Same Polarity Substitution (habitual), Synthe...","[5, 11, 11, 11, 2, 14, 25, 29]","[14, 14, 14, 14, 14, 14, 14, 14, 14, 25]","[25, 25, 14, 14, 14, 14, 14, 14, 14, 14, 0]","[[8], [0, 1], [6, 7, 8], [6, 7, 8], [2, 3, 4],...","[[4, 5], [7, 8, 9], [3, 4, 5], [2, 3, 4, 5], [...","[management, Remaining shares, QVC 's manageme...","[management team, the remaining shares, QVC ma...","[5, 11, 11, 11, 2, 14, 25, 29]"
5792,5793_5792,Gehring waived extradition Monday during a hea...,Gehring waived extradition Monday during a hea...,"[Gehring, waived, extradition, Monday, during,...","[Gehring, waived, extradition, Monday, during,...",1,1,"[Addition/Deletion, Identity, Punctuation chan...","[25, 29, 21, 6, 11, 14, 26, 25]","[21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 2...","[29, 29, 29, 29, 29, 29, 29, 26, 26, 26, 26, 2...","[[12, 13], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 11, ...","[[0, 1, 2, 3, 4, 5, 6, 13, 14, 15, 16, 20, 21,...","[authorities said, Gehring waived extradition ...",[Gehring waived extradition Monday during a he...,"[25, 29, 21, 6, 11, 14, 26, 25]"
5795,5796_5795,"The deal, approved by both companies' board of...",The acquisition has been approved by both comp...,"[The, deal, ,, approved, by, both, companies, ...","[The, acquisition, has, been, approved, by, bo...",0,1,"[Same Polarity Substitution (habitual), Same P...","[5, 5, 18, 29, 30]","[29, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 1...","[29, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 1...","[[1], [15, 16], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9,...","[[1], [16], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10,...","[deal, be completed, The deal , approved by bo...","[acquisition, close, The acquisition has been ...","[5, 5, 18, 29, 30]"
5799,5800_5799,"Last week the power station’s US owners, AES C...","The news comes after Drax's American owner, AE...","[Last, week, the, power, station’s, US, owners...","[The, news, comes, after, Drax, 's, American, ...",1,1,"[Spelling changes, Same Polarity Substitution ...","[4, 7, 6, 1, 26, 25, 25, 25, 29]","[26, 26, 0, 7, 7, 6, 1, 25, 25, 4, 25, 25, 25,...","[25, 25, 25, 25, 7, 0, 6, 1, 0, 0, 4, 25, 0, 2...","[[9], [3, 4], [5], [6], [0, 1], [24], [7, 8, 1...","[[10], [4], [6], [7], [13, 14], [0, 1, 2, 3], ...","[Corp, power station’s, US, owners, Last week,...","[Corp., Drax, American, owner, last week, The ...","[4, 7, 6, 1, 26, 25, 25, 25, 29]"
5800,5801_5800,Sobig.F spreads when unsuspecting computer use...,The virus spreads when unsuspecting computer u...,"[Sobig.F, spreads, when, unsuspecting, compute...","[The, virus, spreads, when, unsuspecting, comp...",1,1,"[Same Polarity Substitution (named ent.), Same...","[7, 6, 6, 11, 25, 29]","[7, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 11, 11...","[7, 7, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25,...","[[0], [16], [21], [13, 14], [29, 30, 31, 32, 3...","[[0, 1], [16], [22], [14], [2, 3, 4, 5, 6, 7, ...","[Sobig.F, as, ,, such familiar, `` Re : That M...","[The virus, like, and, familiar, spreads when ...","[7, 6, 6, 11, 25, 29]"

In [22]:
get_duplicates(etpc['ept_ids'][2])

{'6': 2}

**Disambiguate function:** given a row of the ETPC dataframe, look up any duplicate paraphrase types and annotate each separate instance of each type in the scope. The new scopes are floats, where the number before the period represents the paraphrase type, and the number after the period represents which instance of that type this scope refers to.

In [52]:
#TODO: Fix indices in ETPC. Remember to change the +1 here after that

def disambiguate_duplicate(idx, lookup_df):
    """"Disambiguates duplicate paraphrase types for a row (given its idx) of
    the ETPC dataframe. Returns a tuple containing the disambiguated scopes for
    each sentence in the pair."""
    # First, determine what are the duplicates
    dups = get_duplicates(etpc['ept_ids'][idx])
    # Convert array values to strings with '_0' appended to them
    s1_str = np.array([x + '_0' for x in etpc['sentence1_segment_location'][idx].astype(str)])
    s2_str = np.array([y + '_0' for y in etpc['sentence2_segment_location'][idx].astype(str)])
    # Disambiguate
    for iid, count in dups.items():
        # Subset the lookup df
        subset = lookup_df[(lookup_df['pair_id'] == idx+1) & (lookup_df['type_id'] == int(iid))]
        subset.reset_index(drop=True, inplace=True)
        for i in range(1, count): # Skip adding zeroes since they're already there
            if subset['s1_scope'][i] is not None:
                s1_str[subset['s1_scope'][i]] = str(iid) + f'_{str(i)}'
            if subset['s2_scope'][i] is not None:
                s2_str[subset['s2_scope'][i]] = str(iid) + f'_{str(i)}'
    return s1_str, s2_str

In [26]:
textual_paraphrases[:20]

,pair_id,type_id,type_name,sense_preserving,s1_scope,s2_scope,s1_text,s2_text,key_s1,key_s2,k1_text,k2_text
0,1,5,Same Polarity Substitution (habitual),yes,[5],"[1, 2]",whom,to him,None,None,None,None
1,1,6,Same Polarity Substitution (contextual),yes,[7],[0],called,Referring,None,None,None,None
2,1,26,Change of order,yes,"[0, 1, 2, 3]","[10, 11, 12, 13]",Amrozi accused his brother,Amrozi accused his brother,None,None,None,None
3,1,25,Addition/Deletion,yes,None,[4],None,only,None,None,None,None
4,1,29,Identity,yes,"[8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18]","[5, 6, 7, 8, 9, 14, 15, 16, 17, 18, 19]","`` the witness '' , of deliberately distorting...","`` the witness '' , of deliberately distorting...",None,None,None,None
5,3,6,Same Polarity Substitution (contextual),yes,[0],"[4, 5, 6, 7]",They,the ship 's owners,None,None,None,None
6,3,6,Same Polarity Substitution (contextual),yes,[14],[18],cargo,explosives,None,None,None,None
7,3,26,Change of order,yes,"[8, 9, 10]","[0, 1, 2, 3]",on June 10,"On June 10 ,",None,None,None,None
8,3,25,Addition/Deletion,yes,"[17, 18, 19]",None,", he added",None,None,None,None,None
9,3,29,Identity,yes,"[1, 2, 3, 4, 5, 6, 7, 11, 12, 13, 15, 16, 20]","[8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 19, 20,...",had published an advertisement on the Internet...,had published an advertisement on the Internet...,None,None,None,None
10,5,6,Same Polarity Substitution (contextual),yes,"[0, 1]","[0, 1, 2, 3, 4]",The stock,PG & E Corp. shares,None,None,None,None
11,5,5,Same Polarity Substitution (habitual),yes,[2],[5],rose,jumped,None,None,None,None
12,5,6,Same Polarity Substitution (contextual),yes,"[11, 12, 14]",[11],to close at,to,None,None,None,None
13,5,11,Synthetic/analytic substitution,yes,[13],"[20, 21]",Friday,on Friday,None,None,None,None
14,5,26,Change of order,yes,[13],"[20, 21]",Friday,on Friday,None,None,None,None
15,5,25,Addition/Deletion,yes,[7],None,about,None,None,None,None,None
16,5,29,Identity,yes,"[3, 6, 9, 15, 17, 18, 19, 20, 21, 22, 23]","[6, 8, 10, 12, 14, 15, 16, 17, 18, 19, 22]",$ or percent $ on the New York Stock Exchange .,$ or percent $ on the New York Stock Exchange .\n,None,None,None,None
17,5,30,Non-paraphrase,yes,[4],[7],2.11,1.63,None,None,None,None
18,5,30,Non-paraphrase,yes,[8],[9],11,8,None,None,None,None
19,5,30,Non-paraphrase,yes,[16],[13],21.51,21.03,None,None,None,None

In [53]:
disambiguate_duplicate(2, textual_paraphrases)

(array(['6_0', '0_0', '0_0', '0_0', '0_0', '0_0', '0_0', '0_0', '26_0',
        '26_0', '26_0', '0_0', '0_0', '0_0', '6_1', '0_0', '0_0', '25_0',
        '25_0', '25_0', '0_0'], dtype='<U4'),
 array(['26_0', '26_0', '26_0', '26_0', '6_0', '6_0', '6_0', '6_0', '25_0',
        '25_0', '25_0', '25_0', '25_0', '25_0', '25_0', '25_0', '25_0',
        '25_0', '6_1', '25_0', '25_0', '25_0'], dtype='<U4'))

### Performing the disambiguation

**For testing**: Let's subset only the rows containing paraphrases (as labeled 
by mrpc_label), since those correspond to the `textual_paraphrases.xml` file 
from the ETPC

In [28]:
positives = etpc.loc[etpc['mrpc_label'] == 1]
positives.rename(columns={'sentence1_segment_location': 'sentence1_scope_etpc', 'sentence2_segment_location': 'sentence2_scope_etpc'}, inplace=True)
positives.drop(columns=['sentence1_segment_location_indices', 'sentence2_segment_location_indices'],inplace=True)
positives['idx'] = positives.index.to_series()
positives

/tmp/ipykernel_3490/4068501271.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  positives.rename(columns={'sentence1_segment_location': 'sentence1_scope_etpc', 'sentence2_segment_location': 'sentence2_scope_etpc'}, inplace=True)
/tmp/ipykernel_3490/4068501271.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  positives.drop(columns=['sentence1_segment_location_indices', 'sentence2_segment_location_indices'],inplace=True)
/tmp/ipykernel_3490/4068501271.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  positives['idx'] = positives.index.to_series()

,idx,sentence1,sentence2,sentence1_tokenized,sentence2_tokenized,etpc_label,mrpc_label,ept_names,ept_ids,sentence1_scope_etpc,sentence2_scope_etpc,sentence1_segment_text,sentence2_segment_text,paraop_ids
0,0,"Amrozi accused his brother, whom he called ""th...","Referring to him as only ""the witness"", Amrozi...","[Amrozi, accused, his, brother, ,, whom, he, c...","[Referring, to, him, as, only, ``, the, witnes...",1,1,"[Same Polarity Substitution (habitual), Same P...","[5, 6, 26, 25, 29]","[26, 26, 26, 26, 0, 5, 0, 6, 25, 25, 25, 25, 2...","[6, 5, 5, 0, 25, 0, 0, 0, 0, 0, 26, 26, 26, 26...","[whom, called, Amrozi accused his brother, `` ...","[to him, Referring, Amrozi accused his brother...","[5, 6, 26, 25, 29]"
2,2,They had published an advertisement on the Int...,"On June 10, the ship's owners had published an...","[They, had, published, an, advertisement, on, ...","[On, June, 10, ,, the, ship, 's, owners, had, ...",1,1,"[Same Polarity Substitution (contextual), Same...","[6, 6, 26, 25, 29]","[6, 0, 0, 0, 0, 0, 0, 0, 26, 26, 26, 0, 0, 0, ...","[26, 26, 26, 26, 6, 6, 6, 6, 25, 25, 25, 25, 2...","[They, cargo, on June 10, , he added, had publ...","[the ship 's owners, explosives, On June 10 ,,...","[6, 6, 26, 25, 29]"
4,4,"The stock rose $2.11, or about 11 percent, to ...",PG&E Corp. shares jumped $1.63 or 8 percent to...,"[The, stock, rose, $, 2.11, ,, or, about, 11, ...","[PG, &, E, Corp., shares, jumped, $, 1.63, or,...",0,1,"[Same Polarity Substitution (contextual), Same...","[6, 5, 6, 11, 26, 25, 29, 30, 30, 30, 21]","[6, 6, 5, 29, 30, 0, 29, 25, 30, 29, 0, 6, 6, ...","[30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 3...","[The stock, rose, to close at, Friday, Friday,...","[PG & E Corp. shares, jumped, to, on Friday, o...","[6, 5, 6, 11, 26, 25, 29, 30, 30, 30, 21]"
5,5,Revenue in the first quarter of the year dropp...,With the scandal hanging over Stewart's compan...,"[Revenue, in, the, first, quarter, of, the, ye...","[With, the, scandal, hanging, over, Stewart, '...",1,1,"[Synthetic/analytic substitution, Addition/Del...","[11, 25, 29]","[25, 11, 11, 11, 11, 11, 11, 11, 25, 25, 25, 2...","[25, 25, 25, 25, 25, 25, 25, 25, 25, 0, 11, 11...","[in the first quarter of the year, Revenue dro...","[the first quarter of the year, With the scand...","[11, 25, 29]"
7,7,The DVD-CCA then appealed to the state Supreme...,The DVD CCA appealed that decision to the U.S....,"[The, DVD-CCA, then, appealed, to, the, state,...","[The, DVD, CCA, appealed, that, decision, to, ...",1,1,"[Spelling changes, Same Polarity Substitution ...","[4, 5, 25, 25, 29]","[25, 4, 25, 25, 25, 25, 5, 25, 25, 25]","[25, 4, 4, 25, 25, 25, 25, 25, 5, 25, 25, 25]","[DVD-CCA, state, then, The appealed to the Sup...","[DVD CCA, U.S., that decision, The appealed to...","[4, 5, 25, 25, 29]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5792,5792,Gehring waived extradition Monday during a hea...,Gehring waived extradition Monday during a hea...,"[Gehring, waived, extradition, Monday, during,...","[Gehring, waived, extradition, Monday, during,...",1,1,"[Addition/Deletion, Identity, Punctuation chan...","[25, 29, 21, 6, 11, 14, 26, 25]","[21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 2...","[29, 29, 29, 29, 29, 29, 29, 26, 26, 26, 26, 2...","[authorities said, Gehring waived extradition ...",[Gehring waived extradition Monday during a he...,"[25, 29, 21, 6, 11, 14, 26, 25]"
5793,5793,"""I am advised that certain allegations of crim...","""I am advised that certain allegations of crim...","[``, I, am, advised, that, certain, allegation...","[``, I, am, advised, that, certain, allegation...",1,1,"[Same Polarity Substitution (contextual), Chan...","[6, 26, 25, 29, 21]","[29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 2...","[29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 2...","[Silver, Silver, `` I am advised that certain ...","[the Silver statement, the Silver statement, ,...","[6, 26, 25, 29, 21]"
5795,5795,"The deal, approved by both companies' board of...",The acquisition has been approved by both comp...,"[The, deal, ,, approved, by, both, companies, ...","[The, acquisition, has, been, approved, by, bo...",0,1,"[Same Polarity Substitution (habitual), Same P...","[5, 5, 18, 29, 30]","[29, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 1...","[29, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 1...","[deal, be completed, The deal , approved by bo...","[acquisition, close, The acquisition has been ...","[5, 5, 18, 29, 30]"
5799,5799,"Last week the power station’s US owners, AES C...","The news comes after Drax's American owner, AE...","[Last, week, the, power, station’s, US, owners...","[The, news, comes, after, Drax, 's, American, ...",1,1,"[Spelling changes, Same Polarity Substitution ...","[4, 7, 6, 1, 26, 25, 25, 25, 29]","[26, 26, 0, 7, 7, 6, 1, 25, 25, 4, 25, 25, 25,...","[25, 25, 25, 25, 7, 0, 6, 1, 0, 0, 4, 25, 0, 2...","[Corp, power station’s, US, owners, Last week,...","[Corp., Drax, American, owner, last week, The ...","[4, 7, 6, 1, 26, 25, 25, 25, 29]"
5800,5800,Sobig.F spreads when unsuspecting computer use...,The virus spreads when unsuspecting computer u...,"[Sobig.F, spreads, when, unsuspecting, compute...","[The, virus, spreads, when, unsuspecting, comp...",1,1,"[Same Polarity Substitution (named ent.), Same...","[7, 6, 6, 11, 25, 29]","[7, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 11, 11...","[7, 7, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25,...","[Sobig.F, as, ,, such familiar, `` Re : That M...","[The virus, like, and, familiar, spreads when ...","[7, 6, 6, 11, 25, 29]"

In [ ]:
series = positives['idx'].apply(disambiguate_duplicate, lookup_df=textual_paraphrases)
cols = pd.DataFrame(series.tolist(), columns=['sentence1', 'sentence2'])
positives['sentence1_scope_paraop'] = cols['sentence1'].values
positives['sentence2_scope_paraop'] = cols['sentence2'].values

In [30]:
positives

,idx,sentence1,sentence2,sentence1_tokenized,sentence2_tokenized,etpc_label,mrpc_label,ept_names,ept_ids,sentence1_scope_etpc,sentence2_scope_etpc,sentence1_segment_text,sentence2_segment_text,paraop_ids,sentence1_scope_paraop,sentence2_scope_paraop
0,0,"Amrozi accused his brother, whom he called ""th...","Referring to him as only ""the witness"", Amrozi...","[Amrozi, accused, his, brother, ,, whom, he, c...","[Referring, to, him, as, only, ``, the, witnes...",1,1,"[Same Polarity Substitution (habitual), Same P...","[5, 6, 26, 25, 29]","[26, 26, 26, 26, 0, 5, 0, 6, 25, 25, 25, 25, 2...","[6, 5, 5, 0, 25, 0, 0, 0, 0, 0, 26, 26, 26, 26...","[whom, called, Amrozi accused his brother, `` ...","[to him, Referring, Amrozi accused his brother...","[5, 6, 26, 25, 29]","[26.0, 26.0, 26.0, 26.0, 0.0, 5.0, 0.0, 6.0, 2...","[6.0, 5.0, 5.0, 0.0, 25.0, 0.0, 0.0, 0.0, 0.0,..."
2,2,They had published an advertisement on the Int...,"On June 10, the ship's owners had published an...","[They, had, published, an, advertisement, on, ...","[On, June, 10, ,, the, ship, 's, owners, had, ...",1,1,"[Same Polarity Substitution (contextual), Same...","[6, 6, 26, 25, 29]","[6, 0, 0, 0, 0, 0, 0, 0, 26, 26, 26, 0, 0, 0, ...","[26, 26, 26, 26, 6, 6, 6, 6, 25, 25, 25, 25, 2...","[They, cargo, on June 10, , he added, had publ...","[the ship 's owners, explosives, On June 10 ,,...","[6, 6, 26, 25, 29]","[6.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 26.0,...","[26.0, 26.0, 26.0, 26.0, 6.0, 6.0, 6.0, 6.0, 2..."
4,4,"The stock rose $2.11, or about 11 percent, to ...",PG&E Corp. shares jumped $1.63 or 8 percent to...,"[The, stock, rose, $, 2.11, ,, or, about, 11, ...","[PG, &, E, Corp., shares, jumped, $, 1.63, or,...",0,1,"[Same Polarity Substitution (contextual), Same...","[6, 5, 6, 11, 26, 25, 29, 30, 30, 30, 21]","[6, 6, 5, 29, 30, 0, 29, 25, 30, 29, 0, 6, 6, ...","[30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 3...","[The stock, rose, to close at, Friday, Friday,...","[PG & E Corp. shares, jumped, to, on Friday, o...","[6, 5, 6, 11, 26, 25, 29, 30, 30, 30, 21]","[6.0, 6.0, 5.0, 29.0, 30.0, 0.0, 29.0, 25.0, 3...","[6.0, 6.0, 6.0, 6.0, 6.0, 30.0, 30.0, 30.0, 30..."
5,5,Revenue in the first quarter of the year dropp...,With the scandal hanging over Stewart's compan...,"[Revenue, in, the, first, quarter, of, the, ye...","[With, the, scandal, hanging, over, Stewart, '...",1,1,"[Synthetic/analytic substitution, Addition/Del...","[11, 25, 29]","[25, 11, 11, 11, 11, 11, 11, 11, 25, 25, 25, 2...","[25, 25, 25, 25, 25, 25, 25, 25, 25, 0, 11, 11...","[in the first quarter of the year, Revenue dro...","[the first quarter of the year, With the scand...","[11, 25, 29]","[25.0, 11.0, 11.0, 11.0, 11.0, 11.0, 11.0, 11....","[25.0, 25.0, 25.0, 25.0, 25.0, 25.0, 25.0, 25...."
7,7,The DVD-CCA then appealed to the state Supreme...,The DVD CCA appealed that decision to the U.S....,"[The, DVD-CCA, then, appealed, to, the, state,...","[The, DVD, CCA, appealed, that, decision, to, ...",1,1,"[Spelling changes, Same Polarity Substitution ...","[4, 5, 25, 25, 29]","[25, 4, 25, 25, 25, 25, 5, 25, 25, 25]","[25, 4, 4, 25, 25, 25, 25, 25, 5, 25, 25, 25]","[DVD-CCA, state, then, The appealed to the Sup...","[DVD CCA, U.S., that decision, The appealed to...","[4, 5, 25, 25, 29]","[25.0, 4.0, 25.0, 25.0, 25.0, 25.0, 5.0, 25.0,...","[25.0, 4.0, 4.0, 25.0, 25.1, 25.1, 25.0, 25.0,..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5792,5792,Gehring waived extradition Monday during a hea...,Gehring waived extradition Monday during a hea...,"[Gehring, waived, extradition, Monday, during,...","[Gehring, waived, extradition, Monday, during,...",1,1,"[Addition/Deletion, Identity, Punctuation chan...","[25, 29, 21, 6, 11, 14, 26, 25]","[21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 2...","[29, 29, 29, 29, 29, 29, 29, 26, 26, 26, 26, 2...","[authorities said, Gehring waived extradition ...",[Gehring waived extradition Monday during a he...,"[25, 29, 21, 6, 11, 14, 26, 25]","[21.0, 21.0, 21.0, 21.0, 21.0, 21.0, 21.0, 21....","[29.0, 29.0, 29.0, 29.0, 29.0, 29.0, 29.0, 25...."
5793,5793,"""I am advised that certain allegations of crim...","""I am advised that certain allegations of crim...","[``, I, am, advised, that, certain, allegation...","[``, I, am, advised, that, certain, allegation...",1,1,"[Same Polarity Substitution (contextual), Chan...","[6, 26, 25, 29, 21]","[29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 2...","[29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 2...","[Silver, Silver, `` I am advised that certain ...","[the Silver statement, the Silver statement, ,...","[6, 26, 25, 29, 21]","[29.0, 29.0, 29.0, 29.0, 29.0, 29.0, 29.0, 29....","[29.0, 29.0, 29.0, 29.0, 29.0, 29.0, 29.0, 29...."
5795,5795,"The deal, approved by both companies' board of...",The acquisition has been approved by both comp...,"[The, deal, ,, approved, by, both, companies, ...","[The, acquisition, has, been, approved, by, bo...",0,1,"[Same Polarity Substitution (habitual), Same P...","[5, 5, 18, 29, 30]","[29, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 1...","[29, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 1...","[deal, be completed, The deal , approved by bo...","[acquisition, close, The acquisition has been ...","[5, 5, 18, 29, 30]","[29.0, 5.0, 18.0, 18.0, 18.0, 18.0, 18.0, 18.0...","[29.0, 5.0, 18.0, 18.0, 18.0, 18.0, 18.0, 18.0..."
5799,5799,"Last week the power station’s US owners, AES C...","The news comes after Drax's American owner, AE...","[Last, week, the, power, station’s, US, owners...","[The, news, comes, after, Drax, 's, American, ...",1,1,"[Spelling changes, Same Polarity Substitution ...","[4, 7, 6, 1, 26, 25, 25, 25, 29]","[26, 26, 0, 7, 7, 6, 1, 25, 25, 4, 25, 25, 25,...","[25, 25, 25, 25, 7, 0, 6, 1, 0, 0, 4, 25, 0, 2...","[Corp, power station’s, US, owners, Last week,...","[Corp., Drax, American, owner, last week, The ...","[4, 7, 6, 1, 26, 25, 25, 25, 29]","[26.0, 26.0, 0.0, 7.0, 7.0, 6.0, 1.0, 25.0, 25...","[25.0, 25.0, 25.0, 25.0, 7.0, 0.0, 6.0, 1.0, 0..."
5800,5800,Sobig.F spreads when unsuspecting computer use...,The virus spreads when unsuspecting computer u...,"[Sobig.F, spreads, when, unsuspecting, compute...","[The, virus, spreads, when, unsuspecting, comp...",1,1,"[Same Polarity Substitution (named ent.), Same...","[7, 6, 6, 11, 25, 29]","[7, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 11, 11...","[7, 7, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25,...","[Sobig.F, as, ,, such familiar, `` Re : That M...","[The virus, like, and, familiar, spreads when ...","[7, 6, 6, 11, 25, 29]","[7.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ...","[7.0, 7.0, 25.0, 25.0, 25.0, 25.0, 25.0, 25.0,..."

## Reannotating types

Helper functions for substitution

In [31]:
# Helper function to get a Paraop id from an ETPC id
def ept_to_paraop(ept_id):
    return id_map.loc[id_map['ept_id'] == ept_id, 'paraop_id'].iloc[0]

ept_to_paraop(3)

6

In [32]:
#TODO: Fix
def substitute_id(ept_ids, paraop_ids):
    """Substitutes a given ept_id for its correspondent paraop_id"""
    df['ept_ids'] = df['ept_ids'].apply(lambda x: x[np.isin(ept_id, x)])

In [33]:
import math

In [34]:
x = 26.6
decimal, integer = math.modf(x)
print(decimal)
print(integer)

0.6000000000000014
26.0