# Imports

In [1]:
import copy
import pandas as pd
import numpy as np

# Reading the ETPC

This is the ETPC dataset compiled by Wahle and posted on HuggingFace

In [2]:
# Unpickle etpc_raw
etpc = pd.read_pickle('datasets/etpc_raw.pkl')

These are the XML files from the ETPC github repo.

The first one contains all pairs marked as paraphrases by the MRPC:

In [3]:
textual_paraphrases = pd.read_xml('datasets/etpc/textual_paraphrases.xml')
# Convert scopes from strings to lists of ints
textual_paraphrases['s1_scope'] = textual_paraphrases['s1_scope'].apply(lambda x: [int(n) for n in x.split(',')] if type(x) == str else x)
textual_paraphrases['s2_scope'] = textual_paraphrases['s2_scope'].apply(lambda x: [int(n) for n in x.split(',')] if type(x) == str else x)
textual_paraphrases['key_s1'] = textual_paraphrases['key_s1'].apply(lambda x: [int(n) for n in x.split(',')] if type(x) == str else x)
textual_paraphrases['key_s2'] = textual_paraphrases['key_s2'].apply(lambda x: [int(n) for n in x.split(',')] if type(x) == str else x)

The second one contains the text and pair ids for *all* sentence pairs (paraphrases or not). It doesn't contain any data on whether they're paraphrases or not, or what EPT types are in them.

In [4]:
pairs = pd.read_xml('datasets/etpc/text_pairs.xml')
pairs.drop(columns=['negation'], inplace=True)
pairs.set_index('pair_id', inplace=True)

# Cleanup

## Cleaning up Columns

In [5]:
etpc.rename(columns={'paraphrase_type_ids': 'ept_ids', 'paraphrase_types': 'ept_names'}, inplace=True)
etpc.drop(columns={'negation'}, axis=1, inplace=True)
etpc

,idx,sentence1,sentence2,sentence1_tokenized,sentence2_tokenized,etpc_label,mrpc_label,ept_names,ept_ids,sentence1_segment_location,sentence2_segment_location,sentence1_segment_location_indices,sentence2_segment_location_indices,sentence1_segment_text,sentence2_segment_text
0,1_0,"Amrozi accused his brother, whom he called ""th...","Referring to him as only ""the witness"", Amrozi...","[Amrozi, accused, his, brother, ,, whom, he, c...","[Referring, to, him, as, only, ``, the, witnes...",1,1,"[Same Polarity Substitution (habitual), Same P...","[5, 6, 26, 25, 29]","[26, 26, 26, 26, 0, 5, 0, 6, 25, 25, 25, 25, 2...","[6, 5, 5, 0, 25, 0, 0, 0, 0, 0, 26, 26, 26, 26...","[[5], [7], [0, 1, 2, 3], [8, 9, 10, 11, 12, 13...","[[1, 2], [0], [10, 11, 12, 13], [4]]","[whom, called, Amrozi accused his brother, `` ...","[to him, Referring, Amrozi accused his brother..."
1,2_1,Yucaipa owned Dominick's before selling the ch...,Yucaipa bought Dominick's in 1995 for $693 mil...,"[Yucaipa, owned, Dominick, 's, before, selling...","[Yucaipa, bought, Dominick, 's, in, 1995, for,...",0,0,[],[],"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",[],[],[],[]
2,3_2,They had published an advertisement on the Int...,"On June 10, the ship's owners had published an...","[They, had, published, an, advertisement, on, ...","[On, June, 10, ,, the, ship, 's, owners, had, ...",1,1,"[Same Polarity Substitution (contextual), Same...","[6, 6, 26, 25, 29]","[6, 0, 0, 0, 0, 0, 0, 0, 26, 26, 26, 0, 0, 0, ...","[26, 26, 26, 26, 6, 6, 6, 6, 25, 25, 25, 25, 2...","[[0], [14], [8, 9, 10], [17, 18, 19]]","[[4, 5, 6, 7], [18], [0, 1, 2, 3], [8, 9, 10, ...","[They, cargo, on June 10, , he added, had publ...","[the ship 's owners, explosives, On June 10 ,,..."
3,4_3,"Around 0335 GMT, Tab shares were up 19 cents, ...","Tab shares jumped 20 cents, or 4.6%, to set a ...","[Around, 0335, GMT, ,, Tab, shares, were, up, ...","[Tab, shares, jumped, 20, cents, ,, or, 4.6, %...",0,0,[],[],"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",[],[],[],[]
4,5_4,"The stock rose $2.11, or about 11 percent, to ...",PG&E Corp. shares jumped $1.63 or 8 percent to...,"[The, stock, rose, $, 2.11, ,, or, about, 11, ...","[PG, &, E, Corp., shares, jumped, $, 1.63, or,...",0,1,"[Same Polarity Substitution (contextual), Same...","[6, 5, 6, 11, 26, 25, 29, 30, 30, 30, 21]","[6, 6, 5, 29, 30, 0, 29, 25, 30, 29, 0, 6, 6, ...","[30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 3...","[[0, 1], [2], [11, 12, 14], [13], [13], [7], [...","[[0, 1, 2, 3, 4], [5], [11], [20, 21], [20, 21...","[The stock, rose, to close at, Friday, Friday,...","[PG & E Corp. shares, jumped, to, on Friday, o..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5796,5797_5796,"After Hughes refused to rehire Hernandez, he c...",Hernandez filed an Equal Employment Opportunit...,"[After, Hughes, refused, to, rehire, Hernandez...","[Hernandez, filed, an, Equal, Employment, Oppo...",0,0,[],[],"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]",[],[],[],[]
5797,5798_5797,There are 103 Democrats in the Assembly and 47...,Democrats dominate the Assembly while Republic...,"[There, are, 103, Democrats, in, the, Assembly...","[Democrats, dominate, the, Assembly, while, Re...",0,0,[],[],"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]",[],[],[],[]
5798,5799_5798,Bethany Hamilton remained in stable condition ...,"Bethany, who remained in stable condition afte...","[Bethany, Hamilton, remained, in, stable, cond...","[Bethany, ,, who, remained, in, stable, condit...",0,0,[],[],"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...",[],[],[],[]
5799,5800_5799,"Last week the power station’s US owners, AES C...","The news comes after Drax's American owner, AE...","[Last, week, the, power, station’s, US, owners...","[The, news, comes, after, Drax, 's, American, ...",1,1,"[Spelling changes, Same Polarity Substitution ...","[4, 7, 6, 1, 26, 25, 25, 25, 29]","[26, 26, 0, 7, 7, 6, 1, 25, 25, 4, 25, 25, 25,...","[25, 25, 25, 25, 7, 0, 6, 1, 0, 0, 4, 25, 0, 2...","[[9], [3, 4], [5], [6], [0, 1], [24], [7, 8, 1...","[[10], [4], [6], [7], [13, 14], [0, 1, 2, 3], ...","[Corp, power station’s, US, owners, Last week,...","[Corp., Drax, American, owner, last week, The ..."
5800,5801_5800,Sobig.F spreads when unsuspecting computer use...,The virus spreads when unsuspecting computer u...,"[Sobig.F, spreads, when, unsuspecting, compute...","[The, virus, spreads, when, unsuspecting, comp...",1,1,"[Same Polarity Substitution (named ent.), Same...","[7, 6, 6, 11, 25, 29]","[7, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 11, 11...","[7, 7, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25,...","[[0], [16], [21], [13, 14], [29, 30, 31, 32, 3...","[[0, 1], [16], [22], [14], [2, 3, 4, 5, 6, 7, ...","[Sobig.F, as, ,, such familiar, `` Re : That M...","[The virus, like, and, familiar, spreads when ..."

# Remapping paraphrase IDs

First, make a list with paraphrase types and IDs from the ETPC:

In [6]:
id_map = pd.read_xml('https://raw.githubusercontent.com/venelink/ETPC/master/Corpus/paraphrase_types.xml')
# Rename columns for clarity
id_map.rename(columns={'type_id': 'ept_id', 'type_name': 'ept_name'}, inplace=True)
# Drop unused data
id_map = id_map[['ept_id', 'ept_name']] # No use for type_category column
id_map.drop(id_map.tail(2).index,inplace=True) # Types don't appear in ETPC
id_map.style.hide(axis="index")
id_map

    ept_id                                     ept_name
0        1                         Inflectional Changes
1        2                           Modal Verb Changes
2        3                         Derivational Changes
3        4                             Spelling changes
4        5        Same Polarity Substitution (habitual)
5        6      Same Polarity Substitution (contextual)
6        7      Same Polarity Substitution (named ent.)
7        8                             Change of format
8        9    Opposite polarity substitution (habitual)
9       10  Opposite polarity substitution (contextual)
10      11              Synthetic/analytic substitution
11      13                        Converse substitution
12      14                        Diathesis alternation
13      15                           Negation switching
14      16                                     Ellipsis
15      17                         Coordination changes
16      18            Subordination and nesting changes
17      21                          Punctuation changes
18      22           Direct/indirect style alternations
19      23                    Sentence modality changes
20      24           Syntax/discourse structure changes
21      25                            Addition/Deletion
22      26                              Change of order
23      28                               Semantic based
24      29                                     Identity
25      30                               Non-paraphrase
26      31                                   Entailment

Now, make a list with paraphrase names and IDs for ParaOp types

In [7]:
data = [[0, 'No change'],
        [1, 'Addition/Deletion - Function Word'],
        [2, 'Addition/Deletion - Content Word'],
        [3, 'Change of Order'],
        [4, 'Substitution - Synonym'],
        [5, 'Substitution - Contextual Synonym'],
        [6, 'Substitution - Morphological'],
        [7, 'Substitution - Spelling and Format'],
        [8, 'Addition/Deletion - Punctuation']
       ]
paraop_map = pd.DataFrame(data, columns = ['paraop_id', 'paraop_name'])
paraop_map.set_index('paraop_id', inplace=True)
paraop_map

                                  paraop_name
paraop_id
0                                   No change
1           Addition/Deletion - Function Word
2            Addition/Deletion - Content Word
3                             Change of Order
4                      Substitution - Synonym
5           Substitution - Contextual Synonym
6                Substitution - Morphological
7          Substitution - Spelling and Format
8             Addition/Deletion - Punctuation

## Mapping

We'll use the dataframe below for mapping. Each row will contain the name and ID of a paraphrase type in the ETPC, and the name and ID of the correspondent ParaOp type.

In [8]:
id_map['paraop_id'] = ''
id_map['paraop_name'] = ''
id_map

    ept_id                                     ept_name paraop_id paraop_name
0        1                         Inflectional Changes
1        2                           Modal Verb Changes
2        3                         Derivational Changes
3        4                             Spelling changes
4        5        Same Polarity Substitution (habitual)
5        6      Same Polarity Substitution (contextual)
6        7      Same Polarity Substitution (named ent.)
7        8                             Change of format
8        9    Opposite polarity substitution (habitual)
9       10  Opposite polarity substitution (contextual)
10      11              Synthetic/analytic substitution
11      13                        Converse substitution
12      14                        Diathesis alternation
13      15                           Negation switching
14      16                                     Ellipsis
15      17                         Coordination changes
16      18            Subordination and nesting changes
17      21                          Punctuation changes
18      22           Direct/indirect style alternations
19      23                    Sentence modality changes
20      24           Syntax/discourse structure changes
21      25                            Addition/Deletion
22      26                              Change of order
23      28                               Semantic based
24      29                                     Identity
25      30                               Non-paraphrase
26      31                                   Entailment

Here's where we do the mapping:

In [9]:
# Helper function to map an ETPC id to a Paraop id
def map_id(ept_id, paraop_id):
    """Given an EPT id and a Paraop id, look up the name of the Paraop id and 
    fill in the rows of id_map with paraop_id and the name."""
    id_map.loc[id_map['ept_id'] == ept_id, 'paraop_id'] = paraop_id
    id_map.loc[id_map['ept_id'] == ept_id, 'paraop_name'] = paraop_map.loc[paraop_id, 'paraop_name']

In [10]:
map_id(ept_id=1, paraop_id=6)
map_id(ept_id=3, paraop_id=6)
map_id(ept_id=26, paraop_id=3)
map_id(ept_id=29, paraop_id=0)
map_id(4, 7)
map_id(5, 4)
map_id(6, 5)
map_id(8, 7)
map_id(9, 4)
map_id(2, 5)
map_id(7, 5)
map_id(13, 5)
id_map.style.hide(axis="index")

TODO: Figure out a way to hide index of map_id throughout whole notebook. For some reason this seems harder than it needs to be...

Helper function to convert an ETPC ID to a Paraop ID

In [11]:
# Helper function to get a Paraop id from an ETPC id
def ept_to_paraop(ept_id):
    return id_map.loc[id_map['ept_id'] == ept_id, 'paraop_id'].iloc[0]

ept_to_paraop(3)

6

# Reannotation

## Creating positives dataframe

In [12]:
positives = etpc.loc[etpc['mrpc_label'] == 1]
positives.rename(columns={'sentence1_segment_location': 'sentence1_scope_etpc', 
                          'sentence2_segment_location': 'sentence2_scope_etpc'}, inplace=True)
positives.drop(columns=['sentence1_segment_location_indices', 'sentence2_segment_location_indices'],inplace=True)
positives['idx'] = positives.index.to_series()
positives

/tmp/ipykernel_56784/1590217566.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  positives.rename(columns={'sentence1_segment_location': 'sentence1_scope_etpc',
/tmp/ipykernel_56784/1590217566.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  positives.drop(columns=['sentence1_segment_location_indices', 'sentence2_segment_location_indices'],inplace=True)
/tmp/ipykernel_56784/1590217566.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  positives['idx'] = positives.index.to_series()

,idx,sentence1,sentence2,sentence1_tokenized,sentence2_tokenized,etpc_label,mrpc_label,ept_names,ept_ids,sentence1_scope_etpc,sentence2_scope_etpc,sentence1_segment_text,sentence2_segment_text
0,0,"Amrozi accused his brother, whom he called ""th...","Referring to him as only ""the witness"", Amrozi...","[Amrozi, accused, his, brother, ,, whom, he, c...","[Referring, to, him, as, only, ``, the, witnes...",1,1,"[Same Polarity Substitution (habitual), Same P...","[5, 6, 26, 25, 29]","[26, 26, 26, 26, 0, 5, 0, 6, 25, 25, 25, 25, 2...","[6, 5, 5, 0, 25, 0, 0, 0, 0, 0, 26, 26, 26, 26...","[whom, called, Amrozi accused his brother, `` ...","[to him, Referring, Amrozi accused his brother..."
2,2,They had published an advertisement on the Int...,"On June 10, the ship's owners had published an...","[They, had, published, an, advertisement, on, ...","[On, June, 10, ,, the, ship, 's, owners, had, ...",1,1,"[Same Polarity Substitution (contextual), Same...","[6, 6, 26, 25, 29]","[6, 0, 0, 0, 0, 0, 0, 0, 26, 26, 26, 0, 0, 0, ...","[26, 26, 26, 26, 6, 6, 6, 6, 25, 25, 25, 25, 2...","[They, cargo, on June 10, , he added, had publ...","[the ship 's owners, explosives, On June 10 ,,..."
4,4,"The stock rose $2.11, or about 11 percent, to ...",PG&E Corp. shares jumped $1.63 or 8 percent to...,"[The, stock, rose, $, 2.11, ,, or, about, 11, ...","[PG, &, E, Corp., shares, jumped, $, 1.63, or,...",0,1,"[Same Polarity Substitution (contextual), Same...","[6, 5, 6, 11, 26, 25, 29, 30, 30, 30, 21]","[6, 6, 5, 29, 30, 0, 29, 25, 30, 29, 0, 6, 6, ...","[30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 3...","[The stock, rose, to close at, Friday, Friday,...","[PG & E Corp. shares, jumped, to, on Friday, o..."
5,5,Revenue in the first quarter of the year dropp...,With the scandal hanging over Stewart's compan...,"[Revenue, in, the, first, quarter, of, the, ye...","[With, the, scandal, hanging, over, Stewart, '...",1,1,"[Synthetic/analytic substitution, Addition/Del...","[11, 25, 29]","[25, 11, 11, 11, 11, 11, 11, 11, 25, 25, 25, 2...","[25, 25, 25, 25, 25, 25, 25, 25, 25, 0, 11, 11...","[in the first quarter of the year, Revenue dro...","[the first quarter of the year, With the scand..."
7,7,The DVD-CCA then appealed to the state Supreme...,The DVD CCA appealed that decision to the U.S....,"[The, DVD-CCA, then, appealed, to, the, state,...","[The, DVD, CCA, appealed, that, decision, to, ...",1,1,"[Spelling changes, Same Polarity Substitution ...","[4, 5, 25, 25, 29]","[25, 4, 25, 25, 25, 25, 5, 25, 25, 25]","[25, 4, 4, 25, 25, 25, 25, 25, 5, 25, 25, 25]","[DVD-CCA, state, then, The appealed to the Sup...","[DVD CCA, U.S., that decision, The appealed to..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5792,5792,Gehring waived extradition Monday during a hea...,Gehring waived extradition Monday during a hea...,"[Gehring, waived, extradition, Monday, during,...","[Gehring, waived, extradition, Monday, during,...",1,1,"[Addition/Deletion, Identity, Punctuation chan...","[25, 29, 21, 6, 11, 14, 26, 25]","[21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 2...","[29, 29, 29, 29, 29, 29, 29, 26, 26, 26, 26, 2...","[authorities said, Gehring waived extradition ...",[Gehring waived extradition Monday during a he...
5793,5793,"""I am advised that certain allegations of crim...","""I am advised that certain allegations of crim...","[``, I, am, advised, that, certain, allegation...","[``, I, am, advised, that, certain, allegation...",1,1,"[Same Polarity Substitution (contextual), Chan...","[6, 26, 25, 29, 21]","[29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 2...","[29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 2...","[Silver, Silver, `` I am advised that certain ...","[the Silver statement, the Silver statement, ,..."
5795,5795,"The deal, approved by both companies' board of...",The acquisition has been approved by both comp...,"[The, deal, ,, approved, by, both, companies, ...","[The, acquisition, has, been, approved, by, bo...",0,1,"[Same Polarity Substitution (habitual), Same P...","[5, 5, 18, 29, 30]","[29, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 1...","[29, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 1...","[deal, be completed, The deal , approved by bo...","[acquisition, close, The acquisition has been ..."
5799,5799,"Last week the power station’s US owners, AES C...","The news comes after Drax's American owner, AE...","[Last, week, the, power, station’s, US, owners...","[The, news, comes, after, Drax, 's, American, ...",1,1,"[Spelling changes, Same Polarity Substitution ...","[4, 7, 6, 1, 26, 25, 25, 25, 29]","[26, 26, 0, 7, 7, 6, 1, 25, 25, 4, 25, 25, 25,...","[25, 25, 25, 25, 7, 0, 6, 1, 0, 0, 4, 25, 0, 2...","[Corp, power station’s, US, owners, Last week,...","[Corp., Drax, American, owner, last week, The ..."
5800,5800,Sobig.F spreads when unsuspecting computer use...,The virus spreads when unsuspecting computer u...,"[Sobig.F, spreads, when, unsuspecting, compute...","[The, virus, spreads, when, unsuspecting, comp...",1,1,"[Same Polarity Substitution (named ent.), Same...","[7, 6, 6, 11, 25, 29]","[7, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 11, 11...","[7, 7, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25,...","[Sobig.F, as, ,, such familiar, `` Re : That M...","[The virus, like, and, familiar, spreads when ..."

## Why we cannot use the ETPC from Wahle et al.

Here's a fundamental part of the ETPC that I hadn't realized until now: each token in a sentence can have *more than one* paraphrase type. Here's an example--note how, in sentence 2, token 5 appears in the scopes both of inflectional and derivational changes.

In [13]:
ric = textual_paraphrases.loc[(textual_paraphrases['pair_id'] == 4205+1) & (textual_paraphrases['type_id'].isin([3,1]))]
ric[:2]

,pair_id,type_id,type_name,sense_preserving,s1_scope,s2_scope,s1_text,s2_text,key_s1,key_s2,k1_text,k2_text
15963,4206,1,Inflectional Changes,yes,[3],"[3, 5]",completed,had inspected,None,None,None,None
15964,4206,3,Derivational Changes,yes,[4],[5],inspections,inspected,None,None,None,None

It seems that this issue also wasn't noticed by Wahle et al: some paraphrase scopes consist of only a single number repeated for the entirety of the list:

In [14]:
positives[positives['sentence1_scope_etpc'].apply(lambda x: (len(np.unique(x)) == 1))][:10]

,idx,sentence1,sentence2,sentence1_tokenized,sentence2_tokenized,etpc_label,mrpc_label,ept_names,ept_ids,sentence1_scope_etpc,sentence2_scope_etpc,sentence1_segment_text,sentence2_segment_text
14,14,He told The Sun newspaper that Mr. Hussein's d...,"""Saddam's daughters had British schools and ho...","[He, told, The, Sun, newspaper, that, Mr., Hus...","[``, Saddam, 's, daughters, had, British, scho...",1,1,"[Same Polarity Substitution (named ent.), Same...","[7, 6, 7, 26, 25, 29, 21]","[29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 2...","[0, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26...","[Hussein, The Sun newspaper, Mr. Hussein, Mr. ...","[Saddam, The Sun, Saddam, Saddam 's daughters ..."
22,22,But tropical storm warnings and watches were p...,Tropical storm warnings were in place Thursday...,"[But, tropical, storm, warnings, and, watches,...","[Tropical, storm, warnings, were, in, place, T...",0,1,"[Addition/Deletion, Addition/Deletion, Identit...","[25, 25, 29, 30, 4, 6, 11, 17]","[11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 1...","[11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 1...","[But, tropical storm warnings watches , the so...","[Jamaica and, storm warnings watches , the sou..."
35,35,Trading in Loral was halted yesterday; the sha...,The New York Stock Exchange suspended trading ...,"[Trading, in, Loral, was, halted, yesterday, ;...","[The, New, York, Stock, Exchange, suspended, t...",0,1,"[Same Polarity Substitution (habitual), Diathe...","[5, 14, 18, 29, 30, 21]","[21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 2...","[21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 2...","[halted, Trading in Loral was halted, Trading ...","[suspended, The New York Stock Exchange suspen..."
40,40,Last year the court upheld Cleveland's school ...,"Last year, the court ruled 5-4 in an Ohio case...","[Last, year, the, court, upheld, Cleveland, 's...","[Last, year, ,, the, court, ruled, 5-4, in, an...",1,1,"[Same Polarity Substitution (contextual), Infl...","[6, 1, 25, 25, 29, 28, 21]","[29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 2...","[29, 29, 0, 0, 0, 0, 0, 0, 0, 0, 0, 29, 25, 29...","[provide, choice, Last year that vouchers are ...","[provide with, choices, government, among a ra..."
63,63,Contrary to what PeopleSoft management would h...,Ellison said that contrary to the contentions ...,"[Contrary, to, what, PeopleSoft, management, w...","[Ellison, said, that, contrary, to, the, conte...",1,1,"[Addition/Deletion, Identity, Semantic based, ...","[25, 29, 28, 21]","[28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 2...","[25, 25, 0, 29, 29, 28, 28, 28, 28, 28, 29, 29...","[Contrary to , Oracle intends to fully support...","[Ellison said, contrary to , Oracle intends to..."
72,72,Also demonstrating box-office strength _ and g...,Also demonstrating box-office strength -- and ...,"[Also, demonstrating, box-office, strength, _,...","[Also, demonstrating, box-office, strength, --...",1,1,"[Spelling changes, Spelling changes, Identity,...","[4, 4, 29, 21, 21]","[21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 2...","[21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 2...","[O'Neill 's, Day 's, Also demonstrating box-of...","[ONeills, Days, Also demonstrating box-office ..."
86,86,Sales - a figure watched closely as a baromete...,It also disclosed that sales -- a figure close...,"[Sales, -, a, figure, watched, closely, as, a,...","[It, also, disclosed, that, sales, --, a, figu...",1,1,"[Same Polarity Substitution (habitual), Synthe...","[5, 11, 26, 25, 25, 25, 25, 29, 28, 21]","[25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 2...","[25, 25, 25, 0, 25, 0, 25, 25, 26, 25, 25, 25,...","[rose, many industry experts, closely, 5 perce...","[were higher, industry experts, closely, by an..."
111,111,The suite comes complete with a word processor...,"The suite includes a word processor, spreadshe...","[The, suite, comes, complete, with, a, word, p...","[The, suite, includes, a, word, processor, ,, ...",1,1,"[Same Polarity Substitution (habitual), Same P...","[5, 5, 6, 5, 11, 18, 25, 25, 29, 21, 21]","[21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 2...","[21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 2...","[comes complete with, software, utilizing, an,...","[includes, application, built around, the, XML..."
124,124,"Powell fired back: ""He's accusing the presiden...","If so, Powell said, he's calling the president...","[Powell, fired, back, :, ``, He, 's, accusing,...","[If, so, ,, Powell, said, ,, he, 's, calling, ...",1,1,"[Same Polarity Substitution (contextual), Same...","[6, 6, 26, 25, 25, 25, 25, 29, 21]","[25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 2...","[25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 2...","[accusing, he, , he said, Powell fired back :,...","[calling, Powell, , Powell said ,, , too, If s..."
126,126,The memo on protecting sales of Windows and ot...,"The memo specifically mentioned Linux, a still...","[The, memo, on, protecting, sales, of, Windows...","[The, memo, specifically, mentioned, Linux, ,,...",1,1,"[Addition/Deletion, Addition/Deletion, Identity]","[25, 25, 29]","[25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 2...","[25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 2...",[on protecting sales of Windows and other desk...,"[specifically, The memo mentioned Linux , a st..."

The issue also exists in part in the original ETPC: some paraphrase types have scopes annotated as pretty much the entire sentence. This seems especially prevalent among 'Punctuation changes'.

TODO: rewrite this, show examples

While this is certainly an issue for the original ETPC, it's at least partly offset there since their annotation scheme has separate scopes for each paraphrase type. So even if the annotated scope of some given type isn't very informative, the entire sentence isn't lost: you'd still have other paraphrase types, which are most likely annotated correctly. But Wahle's dataset (and consequently his training pipeline) doesn't account for this. Whatever process Wahle et al. used for generating that dataset on Huggingface seems to have an especially hard time with sentences in the original ETPC as exemplified above, but the issue happens throughout *all* their dataset.

## Getting paraphrases from the original ETPC

Let's first clean up the dataset

In [15]:
positives.drop(columns=['idx', 'etpc_label', 'mrpc_label', 
                                       'sentence1_scope_etpc', 
                                       'sentence2_scope_etpc', 
                                       'sentence1_segment_text', 
                                       'sentence2_segment_text'])

,sentence1,sentence2,sentence1_tokenized,sentence2_tokenized,ept_names,ept_ids
0,"Amrozi accused his brother, whom he called ""th...","Referring to him as only ""the witness"", Amrozi...","[Amrozi, accused, his, brother, ,, whom, he, c...","[Referring, to, him, as, only, ``, the, witnes...","[Same Polarity Substitution (habitual), Same P...","[5, 6, 26, 25, 29]"
2,They had published an advertisement on the Int...,"On June 10, the ship's owners had published an...","[They, had, published, an, advertisement, on, ...","[On, June, 10, ,, the, ship, 's, owners, had, ...","[Same Polarity Substitution (contextual), Same...","[6, 6, 26, 25, 29]"
4,"The stock rose $2.11, or about 11 percent, to ...",PG&E Corp. shares jumped $1.63 or 8 percent to...,"[The, stock, rose, $, 2.11, ,, or, about, 11, ...","[PG, &, E, Corp., shares, jumped, $, 1.63, or,...","[Same Polarity Substitution (contextual), Same...","[6, 5, 6, 11, 26, 25, 29, 30, 30, 30, 21]"
5,Revenue in the first quarter of the year dropp...,With the scandal hanging over Stewart's compan...,"[Revenue, in, the, first, quarter, of, the, ye...","[With, the, scandal, hanging, over, Stewart, '...","[Synthetic/analytic substitution, Addition/Del...","[11, 25, 29]"
7,The DVD-CCA then appealed to the state Supreme...,The DVD CCA appealed that decision to the U.S....,"[The, DVD-CCA, then, appealed, to, the, state,...","[The, DVD, CCA, appealed, that, decision, to, ...","[Spelling changes, Same Polarity Substitution ...","[4, 5, 25, 25, 29]"
...,...,...,...,...,...,...
5792,Gehring waived extradition Monday during a hea...,Gehring waived extradition Monday during a hea...,"[Gehring, waived, extradition, Monday, during,...","[Gehring, waived, extradition, Monday, during,...","[Addition/Deletion, Identity, Punctuation chan...","[25, 29, 21, 6, 11, 14, 26, 25]"
5793,"""I am advised that certain allegations of crim...","""I am advised that certain allegations of crim...","[``, I, am, advised, that, certain, allegation...","[``, I, am, advised, that, certain, allegation...","[Same Polarity Substitution (contextual), Chan...","[6, 26, 25, 29, 21]"
5795,"The deal, approved by both companies' board of...",The acquisition has been approved by both comp...,"[The, deal, ,, approved, by, both, companies, ...","[The, acquisition, has, been, approved, by, bo...","[Same Polarity Substitution (habitual), Same P...","[5, 5, 18, 29, 30]"
5799,"Last week the power station’s US owners, AES C...","The news comes after Drax's American owner, AE...","[Last, week, the, power, station’s, US, owners...","[The, news, comes, after, Drax, 's, American, ...","[Spelling changes, Same Polarity Substitution ...","[4, 7, 6, 1, 26, 25, 25, 25, 29]"
5800,Sobig.F spreads when unsuspecting computer use...,The virus spreads when unsuspecting computer u...,"[Sobig.F, spreads, when, unsuspecting, compute...","[The, virus, spreads, when, unsuspecting, comp...","[Same Polarity Substitution (named ent.), Same...","[7, 6, 6, 11, 25, 29]"

We'll need a column to house the new scopes. Let's initialize that column with empty arrays for each token in the sentence. That way, we can easily tell which tokens haven't been annotated yet.

In [16]:
#TODO: get rid of SettingWithCopyWarning
positives['sentence1_scope'] = positives['sentence1_tokenized'].apply(lambda x: np.array(['' for _ in x]).astype('U64'))
positives['sentence2_scope'] = positives['sentence2_tokenized'].apply(lambda x: np.array(['' for _ in x]).astype('U64'))
positives['sentence1_scope'][0]

/tmp/ipykernel_56784/1356746713.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  positives['sentence1_scope'] = positives['sentence1_tokenized'].apply(lambda x: np.array(['' for _ in x]).astype('U64'))
/tmp/ipykernel_56784/1356746713.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  positives['sentence2_scope'] = positives['sentence2_tokenized'].apply(lambda x: np.array(['' for _ in x]).astype('U64'))

array(['', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '',
       '', ''], dtype='<U64')

### Populating types

In [17]:
def get_max_i(arr, search_label) -> int:
    """Returns the highest instance number (i.e. the number after '_') for a given Paraop label in a given array.
    Returns -1 if the search label is not present in the array."""
    max_i = -1
    # Subset elements in array containing label
    mask = np.where(np.char.find(arr, f'{search_label}_') >= 0)
    subset = arr[mask]
    # Look for the maximum 
    for item in subset:
        labels = item.split(' & ')
        for label in labels:
            if label[0] == str(search_label):
                max_i = max(max_i, int(label[-1]))
    return max_i

Helper function to populate type

In [18]:
# TODO: Convert to df apply (rather than series apply on idx)
# TODO: Figure out if 64 char limit will be an issue

def populate_type(idx, ept_id, lookup_df=textual_paraphrases, manual = None, overwrite = True):
    """Given a paraphrase pair (idx) and an EPT paraphrase type (ept_id), convert the EPT type to Paraop, look up the 
    scopes for both sentences in the pair, and fill in the scopes with the Paraop type. Returns a pair of arrays with
    the newly annotated scopes.
    
    The 'manual' argument controls whether we manually specify what the Paraop ID will be, or whether we automatically 
    get the Paraop ID from id_map.
    """
    
    paraop_id = manual if manual else ept_to_paraop(ept_id) 
    is_subs = paraop_id not in [0,1,2,8]

    # Copy array to avoid messing up the originals
    array1 = np.copy(positives['sentence1_scope'][idx])
    array2 = np.copy(positives['sentence2_scope'][idx])
    
    # Create a subset of the lookup array containing only the paraphrase types
    # we are interested in (ept_id)
    subset = lookup_df[(lookup_df['pair_id'] == idx+1) & (lookup_df['type_id'] == int(ept_id))]
    subset.reset_index(drop=True, inplace=True)
    instances = len(subset['type_id'].values) # Count how many discrete instances of that type are there in this pair

    
    offset = (get_max_i(array1, paraop_id) + 1) if is_subs else 0


    def fill(sentence_n, instance, array, scope):
        """Helper function for filling in ids"""

        # Do nothing if scope is None
        if scope.tolist() is None:
            return
        
        # Identify which indices in the array have not been filled yet
        empty = np.where(array == '')[0]
        nonempty = np.where(array != '')[0]

        # Fill in empty entries
        if len(scope) > 0:
            empty_intersect = np.intersect1d(scope, empty)
            array[empty_intersect] = f'{paraop_id}_{instance+offset}'

        if overwrite:    
            # Append to non-empty entries
            nonempty_intersect = np.intersect1d(scope, nonempty)
            if len(nonempty_intersect) > 0:
                # TODO: Log this in a better way (save to a file instead of just printing)
                print(f'Double check type overwriting: row {idx}, sentence {sentence_n}')
                print(f'Common indices: {list(nonempty_intersect)}', end=' | ')
                print(f'Pre-existing types: {array[nonempty_intersect]}')
                array[nonempty_intersect] = np.char.add(array[nonempty_intersect], f' & {paraop_id}_{instance+offset}')

    # Filling in
    for i in range(instances):
        # Get scopes from lookup df
        s1_scope = np.array(subset.loc[subset['type_id'] == ept_id, 's1_scope'].iloc[i])
        s2_scope = np.array(subset.loc[subset['type_id'] == ept_id, 's2_scope'].iloc[i])
        
        fill(1, i, array1, s1_scope)
        fill(2, i, array2, s2_scope)
    
    return array1, array2

Here's a demo of how the outputs to that function look like:

In [19]:
populate_type(0, 26)

(array(['3_0', '3_0', '3_0', '3_0', '', '', '', '', '', '', '', '', '', '',
        '', '', '', '', ''], dtype='<U64'),
 array(['', '', '', '', '', '', '', '', '', '', '3_0', '3_0', '3_0', '3_0',
        '', '', '', '', '', ''], dtype='<U64'))

`populate_type` returns new arrays, it doesn't modify the original df. Use the function below to actually modify the df

In [20]:
def substitute(ept_id, lookup_df=textual_paraphrases, manual = None, overwrite = True):
    series = positives['idx'].apply(populate_type, ept_id=ept_id, lookup_df=lookup_df, manual = manual, overwrite = overwrite)
    cols = pd.DataFrame(series.tolist(), columns=['sentence1', 'sentence2'])
    positives.loc[:, 'sentence1_scope'] = cols['sentence1'].values
    positives.loc[:, 'sentence2_scope'] = cols['sentence2'].values

## Performing the reannotation

Helper functions:

In [21]:
def print_sents(idx: int):
    """Prints both sentences in a sentence pair, given the pair's id"""
    idx -= 1
    print(positives.loc[positives['idx'] == idx, 'sentence1'].iloc[0])
    print(positives.loc[positives['idx'] == idx, 'sentence2'].iloc[0])

In [22]:
def duplicate_df(df: pd.DataFrame):
    """Returns a deep copy of a dataframe"""
    return pd.DataFrame(columns = df.columns, data = copy.deepcopy(df.values))

In [23]:
def split_add_sub(df: pd.DataFrame):
    """Splits a dataframe into two dataframes: one containing types to be annotated as Addition/Deletion, and another
    containing types to be annotated as Substitution."""
    add_del = df[(df['s1_scope'].isnull()) | (df['s2_scope'].isnull())]
    subs = df[~((df['s1_scope'].isnull()) | (df['s2_scope'].isnull()))]
    return add_del, subs

### Change of order

In [24]:
substitute(26)

Double check type overwriting: row 196, sentence 1
Common indices: [2] | Pre-existing types: ['3_0']
Double check type overwriting: row 196, sentence 2
Common indices: [9] | Pre-existing types: ['3_0']
Double check type overwriting: row 411, sentence 1
Common indices: [0, 1, 2, 3, 4] | Pre-existing types: ['3_0' '3_0' '3_0' '3_0' '3_0']
Double check type overwriting: row 411, sentence 2
Common indices: [12, 13, 14, 15] | Pre-existing types: ['3_0' '3_0' '3_0' '3_0']
Double check type overwriting: row 1014, sentence 1
Common indices: [5] | Pre-existing types: ['3_0']
Double check type overwriting: row 1014, sentence 2
Common indices: [10, 11] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 1543, sentence 1
Common indices: [19] | Pre-existing types: ['3_0']
Double check type overwriting: row 1543, sentence 2
Common indices: [5] | Pre-existing types: ['3_0']
Double check type overwriting: row 1864, sentence 1
Common indices: [5, 6] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 1864, sentence 2
Common indices: [11, 12] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 2309, sentence 1
Common indices: [0, 1, 2, 3, 4, 5] | Pre-existing types: ['3_0' '3_0' '3_0' '3_0' '3_0' '3_0']
Double check type overwriting: row 2309, sentence 2
Common indices: [10, 11, 12, 13, 14] | Pre-existing types: ['3_0' '3_0' '3_0' '3_0' '3_0']
Double check type overwriting: row 2336, sentence 1
Common indices: [12] | Pre-existing types: ['3_0']
Double check type overwriting: row 2336, sentence 2
Common indices: [5] | Pre-existing types: ['3_0']
Double check type overwriting: row 2920, sentence 1
Common indices: [25, 26] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 2920, sentence 2
Common indices: [5, 6] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 3164, sentence 1
Common indices: [6] | Pre-existing types: ['3_1']
Double check type overwriting: row 3164, sentence 2
Common indices: [19] | Pre-existing types: ['3_1']
Double check type overwriting: row 4346, sentence 1
Common indices: [13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 26] | Pre-existing types: ['3_0' '3_0' '3_0' '3_0' '3_0' '3_0' '3_0' '3_0' '3_0' '3_0' '3_0' '3_0'
 '3_0']
Double check type overwriting: row 4346, sentence 2
Common indices: [0, 1, 2, 3, 4, 5, 6, 7, 8] | Pre-existing types: ['3_0' '3_0' '3_0' '3_0' '3_0' '3_0' '3_0' '3_0' '3_0']
Double check type overwriting: row 4346, sentence 1
Common indices: [11] | Pre-existing types: ['3_0']
Double check type overwriting: row 4346, sentence 2
Common indices: [18] | Pre-existing types: ['3_0']
Double check type overwriting: row 4514, sentence 1
Common indices: [12, 13, 14, 15] | Pre-existing types: ['3_0' '3_0' '3_0' '3_0']
Double check type overwriting: row 4514, sentence 2
Common indices: [3, 4, 5, 6, 7] | Pre-existing types: ['3_0' '3_0' '3_0' '3_0' '3_0']

### Same Polarity Substitution (Habitual)

In [25]:
substitute(5)

Double check type overwriting: row 75, sentence 1
Common indices: [5, 6] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 75, sentence 2
Common indices: [0] | Pre-existing types: ['3_0']
Double check type overwriting: row 152, sentence 1
Common indices: [13, 14] | Pre-existing types: ['4_0' '4_0']
Double check type overwriting: row 152, sentence 2
Common indices: [10] | Pre-existing types: ['4_0']
Double check type overwriting: row 172, sentence 1
Common indices: [22] | Pre-existing types: ['3_0']
Double check type overwriting: row 172, sentence 2
Common indices: [17] | Pre-existing types: ['3_0']
Double check type overwriting: row 226, sentence 1
Common indices: [0, 1, 2, 3] | Pre-existing types: ['3_0' '3_0' '3_0' '3_0']
Double check type overwriting: row 226, sentence 2
Common indices: [2] | Pre-existing types: ['3_0']
Double check type overwriting: row 310, sentence 1
Common indices: [9] | Pre-existing types: ['3_0']
Double check type overwriting: row 310, sentence 2
Common indices: [8] | Pre-existing types: ['3_0']
Double check type overwriting: row 315, sentence 1
Common indices: [2] | Pre-existing types: ['3_0']
Double check type overwriting: row 315, sentence 2
Common indices: [25] | Pre-existing types: ['3_0']
Double check type overwriting: row 339, sentence 1
Common indices: [5] | Pre-existing types: ['3_0']
Double check type overwriting: row 339, sentence 2
Common indices: [17] | Pre-existing types: ['3_0']
Double check type overwriting: row 339, sentence 1
Common indices: [9] | Pre-existing types: ['3_0']
Double check type overwriting: row 339, sentence 2
Common indices: [20] | Pre-existing types: ['3_0']
Double check type overwriting: row 449, sentence 1
Common indices: [20, 21] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 449, sentence 2
Common indices: [13, 14] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 473, sentence 1
Common indices: [12] | Pre-existing types: ['3_0']
Double check type overwriting: row 473, sentence 2
Common indices: [8] | Pre-existing types: ['3_0']
Double check type overwriting: row 545, sentence 1
Common indices: [12, 13] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 545, sentence 2
Common indices: [3, 4, 5] | Pre-existing types: ['3_0' '3_0' '3_0']
Double check type overwriting: row 554, sentence 1
Common indices: [18] | Pre-existing types: ['3_0']
Double check type overwriting: row 554, sentence 2
Common indices: [21] | Pre-existing types: ['3_0']
Double check type overwriting: row 589, sentence 1
Common indices: [24] | Pre-existing types: ['3_0']
Double check type overwriting: row 589, sentence 2
Common indices: [7] | Pre-existing types: ['3_0']
Double check type overwriting: row 756, sentence 1
Common indices: [7] | Pre-existing types: ['3_0']
Double check type overwriting: row 756, sentence 2
Common indices: [14] | Pre-existing types: ['3_0']
Double check type overwriting: row 790, sentence 1
Common indices: [6] | Pre-existing types: ['3_0']
Double check type overwriting: row 790, sentence 2
Common indices: [3] | Pre-existing types: ['3_0']
Double check type overwriting: row 4086, sentence 1
Common indices: [15] | Pre-existing types: ['3_0']
Double check type overwriting: row 4086, sentence 2
Common indices: [7] | Pre-existing types: ['3_0']
Double check type overwriting: row 4288, sentence 1
Common indices: [5] | Pre-existing types: ['3_0']
Double check type overwriting: row 4288, sentence 2
Common indices: [8, 9, 10, 11] | Pre-existing types: ['3_0' '3_0' '3_0' '3_0']
Double check type overwriting: row 4318, sentence 1
Common indices: [10] | Pre-existing types: ['3_0']
Double check type overwriting: row 4318, sentence 2
Common indices: [0] | Pre-existing types: ['3_0']
Double check type overwriting: row 4353, sentence 1
Common indices: [16, 17] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 4353, sentence 2
Common indices: [4, 5] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 4558, sentence 1
Common indices: [19] | Pre-existing types: ['3_1']
Double check type overwriting: row 4558, sentence 2
Common indices: [11] | Pre-existing types: ['3_1']
Double check type overwriting: row 4618, sentence 1
Common indices: [2] | Pre-existing types: ['3_0']
Double check type overwriting: row 4618, sentence 2
Common indices: [13, 14] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 4648, sentence 1
Common indices: [18, 19, 20, 21] | Pre-existing types: ['3_0' '3_0' '3_0' '3_0']
Double check type overwriting: row 4648, sentence 2
Common indices: [22, 23] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 4687, sentence 1
Common indices: [9] | Pre-existing types: ['4_0']
Double check type overwriting: row 4687, sentence 2
Common indices: [5] | Pre-existing types: ['4_0']
Double check type overwriting: row 4716, sentence 1
Common indices: [2] | Pre-existing types: ['3_0']
Double check type overwriting: row 4716, sentence 2
Common indices: [16] | Pre-existing types: ['3_0']
Double check type overwriting: row 4761, sentence 1
Common indices: [12] | Pre-existing types: ['4_0']
Double check type overwriting: row 4761, sentence 2
Common indices: [12] | Pre-existing types: ['4_0']
Double check type overwriting: row 4813, sentence 1
Common indices: [12] | Pre-existing types: ['3_0']
Double check type overwriting: row 4813, sentence 2
Common indices: [0] | Pre-existing types: ['3_0']
Double check type overwriting: row 4816, sentence 1
Common indices: [13] | Pre-existing types: ['3_0']
Double check type overwriting: row 4816, sentence 2
Common indices: [10] | Pre-existing types: ['3_0']
Double check type overwriting: row 4844, sentence 1
Common indices: [20] | Pre-existing types: ['3_0']
Double check type overwriting: row 4844, sentence 2
Common indices: [9] | Pre-existing types: ['3_0']
Double check type overwriting: row 4844, sentence 1
Common indices: [21, 22, 23] | Pre-existing types: ['3_0' '3_0' '3_0']
Double check type overwriting: row 4844, sentence 2
Common indices: [10, 11, 12] | Pre-existing types: ['3_0' '3_0' '3_0']
Double check type overwriting: row 4865, sentence 1
Common indices: [2] | Pre-existing types: ['3_0']
Double check type overwriting: row 4865, sentence 2
Common indices: [4] | Pre-existing types: ['3_0']
Double check type overwriting: row 4967, sentence 1
Common indices: [2, 3, 4] | Pre-existing types: ['3_0' '3_0' '3_0']
Double check type overwriting: row 4967, sentence 2
Common indices: [3] | Pre-existing types: ['3_0']
Double check type overwriting: row 4967, sentence 1
Common indices: [9] | Pre-existing types: ['3_0']
Double check type overwriting: row 4967, sentence 2
Common indices: [8] | Pre-existing types: ['3_0']
Double check type overwriting: row 4995, sentence 1
Common indices: [3] | Pre-existing types: ['3_0']
Double check type overwriting: row 4995, sentence 2
Common indices: [16, 17] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 5016, sentence 1
Common indices: [15] | Pre-existing types: ['3_0']
Double check type overwriting: row 5016, sentence 2
Common indices: [0] | Pre-existing types: ['3_0']
Double check type overwriting: row 5016, sentence 1
Common indices: [17] | Pre-existing types: ['3_0']
Double check type overwriting: row 5016, sentence 2
Common indices: [3] | Pre-existing types: ['3_0']
Double check type overwriting: row 5016, sentence 1
Common indices: [21] | Pre-existing types: ['3_0']
Double check type overwriting: row 5016, sentence 2
Common indices: [7] | Pre-existing types: ['3_0']
Double check type overwriting: row 5037, sentence 1
Common indices: [6] | Pre-existing types: ['3_1']
Double check type overwriting: row 5037, sentence 2
Common indices: [0] | Pre-existing types: ['3_1']
Double check type overwriting: row 5037, sentence 1
Common indices: [9] | Pre-existing types: ['3_1']
Double check type overwriting: row 5037, sentence 2
Common indices: [4] | Pre-existing types: ['3_1']
Double check type overwriting: row 5064, sentence 1
Common indices: [17, 18] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 5064, sentence 2
Common indices: [12, 13, 14] | Pre-existing types: ['3_0' '3_0' '3_0']
Double check type overwriting: row 5080, sentence 1
Common indices: [31] | Pre-existing types: ['3_0']
Double check type overwriting: row 5080, sentence 2
Common indices: [4] | Pre-existing types: ['3_0']
Double check type overwriting: row 5190, sentence 1
Common indices: [28, 29] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 5190, sentence 2
Common indices: [23] | Pre-existing types: ['3_0']
Double check type overwriting: row 5249, sentence 1
Common indices: [16] | Pre-existing types: ['3_0']
Double check type overwriting: row 5249, sentence 2
Common indices: [19, 20] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 5337, sentence 1
Common indices: [9, 10] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 5337, sentence 2
Common indices: [3, 4] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 5356, sentence 1
Common indices: [24] | Pre-existing types: ['3_0']
Double check type overwriting: row 5356, sentence 2
Common indices: [7] | Pre-existing types: ['3_0']
Double check type overwriting: row 5602, sentence 1
Common indices: [15] | Pre-existing types: ['3_0']
Double check type overwriting: row 5602, sentence 2
Common indices: [7] | Pre-existing types: ['3_0']
Double check type overwriting: row 5619, sentence 1
Common indices: [1] | Pre-existing types: ['3_0']
Double check type overwriting: row 5619, sentence 2
Common indices: [6] | Pre-existing types: ['3_0']
Double check type overwriting: row 5687, sentence 1
Common indices: [4] | Pre-existing types: ['3_0']
Double check type overwriting: row 5687, sentence 2
Common indices: [28] | Pre-existing types: ['3_0']
Double check type overwriting: row 5709, sentence 1
Common indices: [0] | Pre-existing types: ['3_0']
Double check type overwriting: row 5709, sentence 2
Common indices: [16] | Pre-existing types: ['3_0']

### Same Polarity Substitution (Contextual)

#### Fixing Contextual Synonyms

In [26]:
contextual = textual_paraphrases[textual_paraphrases['type_id'] == 6]

In [27]:
pronouns = ['I', 'you', 'he', 'she', 'it', 'we', 'you', 'they',
            'me', 'you', 'him', 'her', 'it', 'us', 'you', 'them',
            'mine', 'yours', 'his', 'hers', 'its', 'ours', 'yours', 'theirs']

In [28]:
contextual['s1_text'] = contextual['s1_text'].str.lower()
contextual['s2_text'] = contextual['s2_text'].str.lower()
contextual.drop(columns=['key_s1', 'key_s2', 'k1_text', 'k2_text'], inplace=True)

/tmp/ipykernel_56784/2362504386.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  contextual['s1_text'] = contextual['s1_text'].str.lower()
/tmp/ipykernel_56784/2362504386.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  contextual['s2_text'] = contextual['s2_text'].str.lower()
/tmp/ipykernel_56784/2362504386.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  contextual.drop(columns=['key_s1', 'key_s2', 'k1_text', 'k2_text'], inplace=True)

In [29]:
# List of function words
fwords = ['a', 'an', 'the',                                                     # Articles
          'and', 'but', 'for', 'or',                                            # Conjunctions
          'that', 'this', 'those', 'these',                                     # Demonstratives
          'at', 'by', 'from', 'in', 'into', 'of', 'on', 'out', 'to', 'with']    # Prepositions

##### Things we know for sure are straight synonyms

In [30]:
fword_subs = contextual[(contextual['s1_text'].isin(fwords)) & (contextual['s2_text'].isin(fwords))]
fword_subs

,pair_id,type_id,type_name,sense_preserving,s1_scope,s2_scope,s1_text,s2_text
167,52,6,Same Polarity Substitution (contextual),yes,[10],[8],or,and
181,54,6,Same Polarity Substitution (contextual),yes,[8],[5],at,to
528,143,6,Same Polarity Substitution (contextual),yes,[10],[9],and,but
574,156,6,Same Polarity Substitution (contextual),yes,[4],[5],of,from
724,191,6,Same Polarity Substitution (contextual),yes,[8],[7],at,to
...,...,...,...,...,...,...,...,...
21731,5705,6,Same Polarity Substitution (contextual),yes,[9],[9],to,in
21736,5709,6,Same Polarity Substitution (contextual),yes,[10],[9],at,in
21785,5721,6,Same Polarity Substitution (contextual),yes,[22],[22],of,from
21914,5759,6,Same Polarity Substitution (contextual),yes,[6],[6],on,in
21947,5772,6,Same Polarity Substitution (contextual),yes,[14],[19],to,with

In [31]:
contextual.drop(fword_subs.index.tolist(), inplace=True)

/tmp/ipykernel_56784/2826576446.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  contextual.drop(fword_subs.index.tolist(), inplace=True)

In [32]:
dicendi = ['say', 'says', 'said', 'told', 'tell', 'tells', 'speak', 'spoke']
dicendi_subs = contextual[(contextual['s1_text'].isin(dicendi)) | (contextual['s2_text'].isin(dicendi))]
dicendi_subs[:30]

,pair_id,type_id,type_name,sense_preserving,s1_scope,s2_scope,s1_text,s2_text
35,14,6,Same Polarity Substitution (contextual),yes,[2],[2],added,said
47,20,6,Same Polarity Substitution (contextual),yes,[11],[14],hoped,said
591,159,6,Same Polarity Substitution (contextual),yes,[17],[31],added,said
791,205,6,Same Polarity Substitution (contextual),yes,[23],[21],finds,says
938,244,6,Same Polarity Substitution (contextual),yes,[7],[7],said,conceded
1190,305,6,Same Polarity Substitution (contextual),yes,[1],[13],said,wrote
1670,437,6,Same Polarity Substitution (contextual),yes,"[7, 8]",[7],rule out,say
2221,588,6,Same Polarity Substitution (contextual),yes,"[13, 14]",[2],according to,said
2237,592,6,Same Polarity Substitution (contextual),yes,[2],[2],says,insists
2416,631,6,Same Polarity Substitution (contextual),yes,[6],[1],said,conceded
2451,638,6,Same Polarity Substitution (contextual),yes,[2],[1],adds,said
2726,722,6,Same Polarity Substitution (contextual),yes,[2],[2],said,required
3508,934,6,Same Polarity Substitution (contextual),yes,[3],[15],told,said
3515,938,6,Same Polarity Substitution (contextual),yes,"[18, 19]",[1],according to,said
3579,964,6,Same Polarity Substitution (contextual),yes,[14],[17],said,warned
3643,977,6,Same Polarity Substitution (contextual),yes,[18],[16],said,told
3664,981,6,Same Polarity Substitution (contextual),yes,[16],[16],confirm,say
3897,1046,6,Same Polarity Substitution (contextual),yes,[22],[22],announced,said
3912,1049,6,Same Polarity Substitution (contextual),yes,[6],[8],told,admitted
3951,1056,6,Same Polarity Substitution (contextual),yes,[17],[22],says,warned
3995,1071,6,Same Polarity Substitution (contextual),yes,[24],[23],told,stated
4060,1086,6,Same Polarity Substitution (contextual),yes,[18],"[19, 20, 21, 22]",said,is quoted as saying
4129,1111,6,Same Polarity Substitution (contextual),yes,"[2, 5]",[1],accused of,said
4135,1115,6,Same Polarity Substitution (contextual),yes,"[3, 4]",[1],was testifying,spoke
4155,1119,6,Same Polarity Substitution (contextual),yes,[11],[14],testified,told
4198,1130,6,Same Polarity Substitution (contextual),yes,[1],[1],said,acknowledged
4212,1133,6,Same Polarity Substitution (contextual),yes,[26],[19],said,stated
4219,1134,6,Same Polarity Substitution (contextual),yes,"[2, 3]",[29],noted that,said
4238,1141,6,Same Polarity Substitution (contextual),yes,[28],[24],told,said
4377,1181,6,Same Polarity Substitution (contextual),yes,[8],[10],said,insisted

In [33]:
contextual.drop(dicendi_subs.index.tolist(), inplace=True)

/tmp/ipykernel_56784/43459002.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  contextual.drop(dicendi_subs.index.tolist(), inplace=True)

In [34]:
if_subs = contextual[(contextual['s1_text'].isin(['if', 'should', 'whether'])) | (contextual['s2_text'].isin(['if', 'should', 'whether']))]
if_subs

,pair_id,type_id,type_name,sense_preserving,s1_scope,s2_scope,s1_text,s2_text
734,195,6,Same Polarity Substitution (contextual),yes,[19],[14],should,if
6480,1759,6,Same Polarity Substitution (contextual),yes,[10],[10],if,should
8670,2333,6,Same Polarity Substitution (contextual),yes,[19],[19],though,if
11167,2985,6,Same Polarity Substitution (contextual),yes,"[0, 1]",[0],in case,if
13763,3650,6,Same Polarity Substitution (contextual),yes,[12],[15],should,if
18059,4737,6,Same Polarity Substitution (contextual),yes,[15],[11],if,should

In [35]:
contextual.drop(if_subs.index.tolist(), inplace=True)

/tmp/ipykernel_56784/6708734.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  contextual.drop(if_subs.index.tolist(), inplace=True)

In [36]:
about_subs = contextual[(contextual['s1_text'].isin(['about', 'some'])) | (contextual['s2_text'].isin(['about', 'some']))]
about_subs.drop([6875, 9206, 3191, 9803], inplace=True) # Dropping indices that don't correspond to synonym sub
about_subs

/tmp/ipykernel_56784/478789629.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  about_subs.drop([6875, 9206, 3191, 9803], inplace=True) # Dropping indices that don't correspond to synonym sub

,pair_id,type_id,type_name,sense_preserving,s1_scope,s2_scope,s1_text,s2_text
854,220,6,Same Polarity Substitution (contextual),yes,[21],[23],about,some
1175,300,6,Same Polarity Substitution (contextual),yes,[14],[15],towards,about
1893,497,6,Same Polarity Substitution (contextual),yes,[4],[4],about,of
2082,550,6,Same Polarity Substitution (contextual),yes,[12],[5],about,over
2553,665,6,Same Polarity Substitution (contextual),yes,[21],[22],about,of
3753,1009,6,Same Polarity Substitution (contextual),yes,[20],[21],to,about
4668,1262,6,Same Polarity Substitution (contextual),yes,[2],[2],about,over
5923,1605,6,Same Polarity Substitution (contextual),yes,[8],"[10, 11]",about,a mere
6454,1755,6,Same Polarity Substitution (contextual),yes,[0],"[0, 1]",about,an estimated
7316,1979,6,Same Polarity Substitution (contextual),yes,[3],[3],nearly,about
7901,2136,6,Same Polarity Substitution (contextual),yes,[13],[12],about,to
8279,2227,6,Same Polarity Substitution (contextual),yes,[3],[4],about,roughly
8308,2238,6,Same Polarity Substitution (contextual),yes,[12],[11],that,about
9325,2513,6,Same Polarity Substitution (contextual),yes,[16],[16],about,over
9600,2588,6,Same Polarity Substitution (contextual),yes,[5],"[5, 6, 7]",about,on his way
10561,2843,6,Same Polarity Substitution (contextual),yes,[10],[18],about,approximately
11078,2962,6,Same Polarity Substitution (contextual),yes,[22],[15],the,some
11543,3069,6,Same Polarity Substitution (contextual),yes,[8],[8],nearly,about
11807,3131,6,Same Polarity Substitution (contextual),yes,[21],[16],about,of
12034,3191,6,Same Polarity Substitution (contextual),yes,[8],[8],about,to
12157,3218,6,Same Polarity Substitution (contextual),yes,[0],[0],some,about
12317,3269,6,Same Polarity Substitution (contextual),yes,[7],[8],about,of
13201,3497,6,Same Polarity Substitution (contextual),yes,[19],[24],about,on
13849,3669,6,Same Polarity Substitution (contextual),yes,[19],[28],of,about
14141,3740,6,Same Polarity Substitution (contextual),yes,[6],[3],about,over
14347,3799,6,Same Polarity Substitution (contextual),yes,[10],"[6, 7]",about,more than
15347,4055,6,Same Polarity Substitution (contextual),yes,[1],[1],about,of
16529,4363,6,Same Polarity Substitution (contextual),yes,[18],[18],on,about
16612,4385,6,Same Polarity Substitution (contextual),yes,[15],[17],many,some
16890,4460,6,Same Polarity Substitution (contextual),yes,[7],[6],at,about
17195,4533,6,Same Polarity Substitution (contextual),yes,[16],[12],from,about
17222,4539,6,Same Polarity Substitution (contextual),yes,[0],[0],several,some
19778,5188,6,Same Polarity Substitution (contextual),yes,[19],[16],over,about
21357,5601,6,Same Polarity Substitution (contextual),yes,[15],[11],some,a
21381,5606,6,Same Polarity Substitution (contextual),yes,[6],[5],on,about
21476,5632,6,Same Polarity Substitution (contextual),yes,[4],[6],about,on

In [37]:
contextual.drop(about_subs.index.tolist(), inplace=True)

/tmp/ipykernel_56784/2688020173.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  contextual.drop(about_subs.index.tolist(), inplace=True)

In [38]:
print_sents(5)

The stock rose $2.11, or about 11 percent, to close Friday at $21.51 on the New York Stock Exchange.
PG&E Corp. shares jumped $1.63 or 8 percent to $21.03 on the New York Stock Exchange on Friday.

In [39]:
print_sents(2611)

Committee approval, expected today, would set the stage for debate on the Senate floor beginning Monday.
That would clear the way for debate in the full Senate beginning on Monday.

In [40]:
which_subs = contextual[(contextual['s1_text'].isin(['which', 'that'])) | (contextual['s2_text'].isin(['which', 'that']))]
which_subs.drop([4786, 1542, 1774, 2294, 4254, 9702, 10801, 11694, 13285, 18098, 20424, 20534, 21992, 14576, 15918], inplace=True)
which_subs

/tmp/ipykernel_56784/271821072.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  which_subs.drop([4786, 1542, 1774, 2294, 4254, 9702, 10801, 11694, 13285, 18098, 20424, 20534, 21992, 14576, 15918], inplace=True)

,pair_id,type_id,type_name,sense_preserving,s1_scope,s2_scope,s1_text,s2_text
72,27,6,Same Polarity Substitution (contextual),yes,[16],[18],that,which
3343,890,6,Same Polarity Substitution (contextual),yes,[2],[0],it,that
4852,1313,6,Same Polarity Substitution (contextual),yes,[14],[13],which,that
5667,1525,6,Same Polarity Substitution (contextual),yes,[2],[7],who,that
5739,1553,6,Same Polarity Substitution (contextual),yes,[17],[20],which,that
5900,1599,6,Same Polarity Substitution (contextual),yes,[5],[2],that,who
7379,1992,6,Same Polarity Substitution (contextual),yes,[12],[11],that,it
7446,2011,6,Same Polarity Substitution (contextual),yes,[17],[15],which,that
8726,2340,6,Same Polarity Substitution (contextual),yes,[12],[18],which,that
9280,2497,6,Same Polarity Substitution (contextual),yes,[17],[19],that,which
9323,2513,6,Same Polarity Substitution (contextual),yes,[5],[5],who,that
9580,2583,6,Same Polarity Substitution (contextual),yes,[1],"[0, 1]",that,such an
10682,2871,6,Same Polarity Substitution (contextual),yes,[16],[13],which,that
11888,3155,6,Same Polarity Substitution (contextual),yes,[18],[23],that,which
12280,3257,6,Same Polarity Substitution (contextual),yes,[13],[13],who,that
13014,3450,6,Same Polarity Substitution (contextual),yes,[13],[18],that,his
13584,3600,6,Same Polarity Substitution (contextual),yes,[12],[15],which,that
14196,3761,6,Same Polarity Substitution (contextual),yes,[18],[18],which,that
17098,4513,6,Same Polarity Substitution (contextual),yes,[12],[20],which,that
17327,4565,6,Same Polarity Substitution (contextual),yes,[15],[10],which,that
17468,4599,6,Same Polarity Substitution (contextual),yes,[13],[14],that,which
18914,4960,6,Same Polarity Substitution (contextual),yes,[27],[20],such,that
19075,5003,6,Same Polarity Substitution (contextual),yes,[0],[0],that,his
19596,5144,6,Same Polarity Substitution (contextual),yes,[7],[6],that,which
19878,5219,6,Same Polarity Substitution (contextual),yes,[7],[7],it,that
21076,5527,6,Same Polarity Substitution (contextual),yes,[0],[1],it,that

In [41]:
contextual.drop(which_subs.index.tolist(), inplace=True)

/tmp/ipykernel_56784/2897682219.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  contextual.drop(which_subs.index.tolist(), inplace=True)

In [42]:
to_be_subs = contextual[(contextual['s1_text'].isin(['is', 'are', 'will'])) | (contextual['s2_text'].isin(['is', 'are', 'will']))]
to_be_subs.drop([10314], inplace=True)
to_be_subs

/tmp/ipykernel_56784/2934618979.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  to_be_subs.drop([10314], inplace=True)

,pair_id,type_id,type_name,sense_preserving,s1_scope,s2_scope,s1_text,s2_text
7993,2157,6,Same Polarity Substitution (contextual),yes,[7],[1],mark,is
8470,2284,6,Same Polarity Substitution (contextual),yes,"[2, 3, 4]",[4],is slated to,will
9682,2608,6,Same Polarity Substitution (contextual),yes,[23],[21],get,are
11002,2946,6,Same Polarity Substitution (contextual),yes,[2],"[2, 3, 4]",will,is going to
11169,2985,6,Same Polarity Substitution (contextual),yes,[17],[16],is,was
11763,3122,6,Same Polarity Substitution (contextual),yes,[7],[6],are,include
11785,3128,6,Same Polarity Substitution (contextual),yes,[4],[1],became,is
11908,3160,6,Same Polarity Substitution (contextual),yes,[4],[4],approached,is
12952,3433,6,Same Polarity Substitution (contextual),yes,[1],[1],placed,is
13213,3498,6,Same Polarity Substitution (contextual),yes,[2],"[2, 3]",will,is expected
13534,3588,6,Same Polarity Substitution (contextual),yes,[22],[23],are,get
13872,3675,6,Same Polarity Substitution (contextual),yes,[11],[3],is,became
15738,4143,6,Same Polarity Substitution (contextual),yes,[2],[5],finished,is
16998,4488,6,Same Polarity Substitution (contextual),yes,[2],"[2, 3]",is,is located
18288,4807,6,Same Polarity Substitution (contextual),yes,[15],"[15, 16, 20]",is,was seen as
20220,5299,6,Same Polarity Substitution (contextual),yes,[2],[1],is,'s
20309,5320,6,Same Polarity Substitution (contextual),yes,[21],[23],are,do
20328,5329,6,Same Polarity Substitution (contextual),yes,[5],[4],is,falls

In [43]:
contextual.drop(to_be_subs.index.tolist(), inplace=True)

/tmp/ipykernel_56784/804865001.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  contextual.drop(to_be_subs.index.tolist(), inplace=True)

In [44]:
country_state_subs = contextual[(contextual['s1_text'].isin(['usa', 'us', 'nation', 'country', 'state'])) | (contextual['s2_text'].isin(['usa', 'us', 'nation', 'country', 'state']))]
country_state_subs

,pair_id,type_id,type_name,sense_preserving,s1_scope,s2_scope,s1_text,s2_text
320,89,6,Same Polarity Substitution (contextual),yes,[7],[11],nation,us
1578,413,6,Same Polarity Substitution (contextual),yes,[11],[11],nation,u.s.
1631,428,6,Same Polarity Substitution (contextual),yes,[4],"[6, 7]",state,west virginia
5115,1382,6,Same Polarity Substitution (contextual),yes,[10],[14],us,american
6232,1700,6,Same Polarity Substitution (contextual),yes,[3],[3],us,american
12183,3228,6,Same Polarity Substitution (contextual),yes,[7],[7],us,american
13475,3570,6,Same Polarity Substitution (contextual),yes,[12],[14],nations,state
14446,3826,6,Same Polarity Substitution (contextual),yes,[8],[1],state,texas
14642,3863,6,Same Polarity Substitution (contextual),yes,[0],[1],state,statewide
15636,4121,6,Same Polarity Substitution (contextual),yes,[14],[11],u.s.,nation
17046,4498,6,Same Polarity Substitution (contextual),yes,[0],"[0, 1]",state,new york
21658,5688,6,Same Polarity Substitution (contextual),yes,[1],"[1, 2]",nation,united states
22051,5800,6,Same Polarity Substitution (contextual),yes,[5],[6],us,american

In [45]:
print_sents(2625)

Wild rock legend Ozzy Osbourne was in intensive care today as he continued his “steady” recovery from a quad bike accident.
Wild rock legend Ozzy Osbourne could be kept in intensive care for “several days” following his quad bike accident, his doctor said tonight.

In [46]:
before_after_subs = contextual[(contextual['s1_text'].isin(['before', 'after', 'following', 'prior to', 'since'])) | (contextual['s2_text'].isin(['before', 'after', 'following', 'prior to', 'since']))]
before_after_subs.drop([2368, 5414, 5812, 9744, 10370], inplace=True)
before_after_subs

/tmp/ipykernel_56784/3720334625.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  before_after_subs.drop([2368, 5414, 5812, 9744, 10370], inplace=True)

,pair_id,type_id,type_name,sense_preserving,s1_scope,s2_scope,s1_text,s2_text
536,145,6,Same Polarity Substitution (contextual),yes,[0],[0],while,after
2929,774,6,Same Polarity Substitution (contextual),yes,[12],[12],after,when
3201,855,6,Same Polarity Substitution (contextual),yes,[11],[7],as,after
4006,1074,6,Same Polarity Substitution (contextual),yes,[18],[14],after,following
4263,1149,6,Same Polarity Substitution (contextual),yes,[9],[8],following,after
4748,1284,6,Same Polarity Substitution (contextual),yes,"[8, 9, 10, 11]",[8],around the time of,after
4944,1334,6,Same Polarity Substitution (contextual),yes,[18],[18],in,following
5017,1350,6,Same Polarity Substitution (contextual),yes,[9],"[9, 10]",before,in advance
5651,1519,6,Same Polarity Substitution (contextual),yes,[17],[14],since,before
5797,1578,6,Same Polarity Substitution (contextual),yes,[8],[7],when,after
6111,1663,6,Same Polarity Substitution (contextual),yes,[19],[14],for,before
6166,1680,6,Same Polarity Substitution (contextual),yes,[18],[12],after,when
6882,1869,6,Same Polarity Substitution (contextual),yes,[7],"[7, 8, 9]",after,following news that
7039,1908,6,Same Polarity Substitution (contextual),yes,[13],[16],since,because
8173,2204,6,Same Polarity Substitution (contextual),yes,[4],[4],after,for
8404,2268,6,Same Polarity Substitution (contextual),yes,[12],[8],before,in
8475,2286,6,Same Polarity Substitution (contextual),yes,[13],[11],despite,after
8819,2371,6,Same Polarity Substitution (contextual),yes,"[8, 9, 10]",[14],in response to,following
9056,2427,6,Same Polarity Substitution (contextual),yes,[16],[13],after,since
9324,2513,6,Same Polarity Substitution (contextual),yes,[7],[7],before,to
11185,2988,6,Same Polarity Substitution (contextual),yes,[8],[6],after,when
11445,3050,6,Same Polarity Substitution (contextual),yes,[0],"[0, 1]",before,prior to
11887,3155,6,Same Polarity Substitution (contextual),yes,[12],[14],after,following
12903,3421,6,Same Polarity Substitution (contextual),yes,[12],[12],after,when
13292,3520,6,Same Polarity Substitution (contextual),yes,[13],[3],afterward,after
13893,3683,6,Same Polarity Substitution (contextual),yes,[11],[17],when,after
14153,3744,6,Same Polarity Substitution (contextual),yes,[6],[7],when,after
14478,3832,6,Same Polarity Substitution (contextual),yes,"[11, 12]",[11],prior to,before
15718,4140,6,Same Polarity Substitution (contextual),yes,[6],[6],after,under
16026,4221,6,Same Polarity Substitution (contextual),yes,"[12, 13, 14]",[13],in response to,after
16291,4297,6,Same Polarity Substitution (contextual),yes,[7],[13],because,after
16566,4375,6,Same Polarity Substitution (contextual),yes,[9],"[7, 8, 9]",after,as soon as
17496,4605,6,Same Polarity Substitution (contextual),yes,[21],"[22, 23]",before,ahead of
21396,5610,6,Same Polarity Substitution (contextual),yes,"[8, 9, 10]",[7],the result of,after
21881,5753,6,Same Polarity Substitution (contextual),yes,[2],[2],after,when

In [47]:
contextual.drop(before_after_subs.index.tolist(), inplace=True)

/tmp/ipykernel_56784/540729048.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  contextual.drop(before_after_subs.index.tolist(), inplace=True)

In [48]:
with_subs = contextual[(contextual['s1_text'].isin(['with'])) | (contextual['s2_text'].isin(['with']))]
with_subs

,pair_id,type_id,type_name,sense_preserving,s1_scope,s2_scope,s1_text,s2_text
2025,534,6,Same Polarity Substitution (contextual),yes,[3],[3],with,between
2212,587,6,Same Polarity Substitution (contextual),yes,[8],[4],carrying,with
3262,867,6,Same Polarity Substitution (contextual),yes,[6],"[5, 6, 7, 8]",with,serving as chair of
3545,950,6,Same Polarity Substitution (contextual),yes,[8],[14],with,running
5460,1479,6,Same Polarity Substitution (contextual),yes,[14],"[18, 19]",with,thanks to
10873,2915,6,Same Polarity Substitution (contextual),yes,"[18, 19, 20, 21]",[13],to the likes of,with
13624,3612,6,Same Polarity Substitution (contextual),yes,[18],[14],with,plus
19131,5022,6,Same Polarity Substitution (contextual),yes,"[14, 15]",[12],that have,with
20084,5270,6,Same Polarity Substitution (contextual),yes,[19],[16],regarding,with

In [49]:
as_subs = contextual[(contextual['s1_text'].isin(['as', 'like', 'such as', 'including'])) | (contextual['s2_text'].isin(['as', 'like', 'such as', 'including']))]
as_subs.drop(1104, inplace=True)
as_subs

/tmp/ipykernel_56784/2221098063.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  as_subs.drop(1104, inplace=True)

,pair_id,type_id,type_name,sense_preserving,s1_scope,s2_scope,s1_text,s2_text
1326,337,6,Same Polarity Substitution (contextual),yes,[16],[16],like,as
2368,622,6,Same Polarity Substitution (contextual),yes,[7],[9],after,as
5977,1621,6,Same Polarity Substitution (contextual),yes,[17],[19],including,even
6312,1720,6,Same Polarity Substitution (contextual),yes,"[5, 6]",[5],such as,including
7577,2052,6,Same Polarity Substitution (contextual),yes,[7],[4],when,as
7705,2085,6,Same Polarity Substitution (contextual),yes,[13],[9],as,of
10578,2849,6,Same Polarity Substitution (contextual),yes,"[15, 16]",[14],such as,like
10958,2938,6,Same Polarity Substitution (contextual),yes,[8],"[7, 8]",like,such as
11153,2981,6,Same Polarity Substitution (contextual),yes,[6],"[6, 7]",like,such as
11454,3051,6,Same Polarity Substitution (contextual),yes,[15],[16],even,including
12310,3267,6,Same Polarity Substitution (contextual),yes,[9],[11],as,because
13558,3594,6,Same Polarity Substitution (contextual),yes,[14],"[15, 16]",as,due to
16199,4270,6,Same Polarity Substitution (contextual),yes,"[2, 3, 4, 5]",[2],at a time when,as
16838,4448,6,Same Polarity Substitution (contextual),yes,[15],[15],including,even
17649,4637,6,Same Polarity Substitution (contextual),yes,[5],[5],because,as
21144,5539,6,Same Polarity Substitution (contextual),yes,[13],[13],as,while
22059,5801,6,Same Polarity Substitution (contextual),yes,[16],[16],as,like

In [50]:
contextual.drop(as_subs.index.tolist(), inplace=True)

/tmp/ipykernel_56784/1606270411.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  contextual.drop(as_subs.index.tolist(), inplace=True)

In [51]:
# Resume from here
each_every_subs = contextual[(contextual['s1_text'].isin(['each', 'every', 'all', 'any', 'some'])) | (contextual['s2_text'].isin(['each', 'every', 'all', 'any', 'some']))]
each_every_subs.drop([11358, 21534], inplace=True)
each_every_subs

/tmp/ipykernel_56784/3411399570.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  each_every_subs.drop([11358, 21534], inplace=True)

,pair_id,type_id,type_name,sense_preserving,s1_scope,s2_scope,s1_text,s2_text
1929,511,6,Same Polarity Substitution (contextual),yes,[9],[11],its,all
3191,853,6,Same Polarity Substitution (contextual),yes,"[0, 1, 2, 3]",[0],some of the computers,some
3724,1001,6,Same Polarity Substitution (contextual),yes,[12],[15],each,every
6848,1858,6,Same Polarity Substitution (contextual),yes,[1],[1],any,a
6875,1868,6,Same Polarity Substitution (contextual),yes,"[2, 3, 4, 5, 6, 7, 8]",[2],resistance forces hostile to the u.s. presence,some
9206,2472,6,Same Polarity Substitution (contextual),yes,[0],[0],many,some
20986,5495,6,Same Polarity Substitution (contextual),yes,[3],[3],every,any
21214,5560,6,Same Polarity Substitution (contextual),yes,"[7, 8, 9, 10, 11]",[14],any of the sick children,any

In [52]:
contextual.drop(each_every_subs.index.tolist(), inplace=True)

/tmp/ipykernel_56784/2558917063.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  contextual.drop(each_every_subs.index.tolist(), inplace=True)

In [53]:
have_subs = contextual[(contextual['s1_text'].isin(['have', 'had', 'was', 'were'])) | (contextual['s2_text'].isin(['have', 'had', 'was', 'were']))]
have_subs

,pair_id,type_id,type_name,sense_preserving,s1_scope,s2_scope,s1_text,s2_text
205,60,6,Same Polarity Substitution (contextual),yes,[6],[6],approached,was
298,83,6,Same Polarity Substitution (contextual),yes,[7],[6],was,occurred
1079,277,6,Same Polarity Substitution (contextual),yes,[10],"[15, 16]",was,looked like
1391,358,6,Same Polarity Substitution (contextual),yes,[9],"[7, 8, 9, 10]",were,are scheduled to be
2439,635,6,Same Polarity Substitution (contextual),yes,"[3, 4, 5]",[8],came in at,was
2738,726,6,Same Polarity Substitution (contextual),yes,[3],[3],closed,were
2789,740,6,Same Polarity Substitution (contextual),yes,[8],[3],had,eat
3452,920,6,Same Polarity Substitution (contextual),yes,"[11, 12]",[11],suffering from,had
3632,975,6,Same Polarity Substitution (contextual),yes,[5],[5],remained,was
3731,1003,6,Same Polarity Substitution (contextual),yes,[14],[12],possessed,had
3811,1023,6,Same Polarity Substitution (contextual),yes,"[11, 12]",[2],were using,had
4115,1109,6,Same Polarity Substitution (contextual),yes,[13],[19],were,escaped
4600,1243,6,Same Polarity Substitution (contextual),yes,[16],[17],included,had
4601,1243,6,Same Polarity Substitution (contextual),yes,[2],[3],reflected,had
4704,1272,6,Same Polarity Substitution (contextual),yes,[19],[13],escaped,were
6653,1808,6,Same Polarity Substitution (contextual),yes,[2],"[2, 3]",have,'ve got
7049,1909,6,Same Polarity Substitution (contextual),yes,[9],[9],developed,had
7117,1924,6,Same Polarity Substitution (contextual),yes,[17],[20],was,hovered
7500,2029,6,Same Polarity Substitution (contextual),yes,[8],[8],were,sat
9743,2625,6,Same Polarity Substitution (contextual),yes,[5],"[6, 7]",was,be kept
10610,2856,6,Same Polarity Substitution (contextual),yes,[9],[7],had,developed
11279,3014,6,Same Polarity Substitution (contextual),yes,"[16, 17]",[10],was carrying,had
12192,3229,6,Same Polarity Substitution (contextual),yes,[3],[5],have,deserve
12380,3287,6,Same Polarity Substitution (contextual),yes,[7],[9],developed,had
12766,3383,6,Same Polarity Substitution (contextual),yes,[18],"[10, 11, 12]",was,had been sent
12797,3393,6,Same Polarity Substitution (contextual),yes,[15],[10],lie,was
13748,3647,6,Same Polarity Substitution (contextual),yes,"[1, 2, 3, 4]",[1],has been treated for,had
13810,3659,6,Same Polarity Substitution (contextual),yes,"[3, 4]",[4],is considered,was
14305,3788,6,Same Polarity Substitution (contextual),yes,[2],[1],had,held
14342,3797,6,Same Polarity Substitution (contextual),yes,"[1, 2]",[1],was brought,was
15829,4168,6,Same Polarity Substitution (contextual),yes,[1],"[9, 10, 11]",were,are now warded
17131,4522,6,Same Polarity Substitution (contextual),yes,"[15, 16, 17, 18]",[13],turned out to be,was
17625,4634,6,Same Polarity Substitution (contextual),yes,[14],"[14, 15]",had,lived with
17995,4722,6,Same Polarity Substitution (contextual),yes,"[7, 10]",[10],narrowed to,was
19094,5007,6,Same Polarity Substitution (contextual),yes,"[10, 11]",[3],had obtained,had
19122,5021,6,Same Polarity Substitution (contextual),yes,"[8, 9, 10]",[3],get under way,have
20032,5256,6,Same Polarity Substitution (contextual),yes,[9],[10],lie,was
21520,5646,6,Same Polarity Substitution (contextual),yes,[3],[10],include,were
21581,5663,6,Same Polarity Substitution (contextual),yes,[2],[2],closed,were

In [54]:
contextual.drop(have_subs.index.tolist(), inplace=True)

/tmp/ipykernel_56784/373476700.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  contextual.drop(have_subs.index.tolist(), inplace=True)

In [55]:
a_an_subs = contextual[(contextual['s1_text'].isin(['a', 'an'])) | (contextual['s2_text'].isin(['a', 'an']))]
a_an_subs

,pair_id,type_id,type_name,sense_preserving,s1_scope,s2_scope,s1_text,s2_text
1436,377,6,Same Polarity Substitution (contextual),yes,[3],[0],a,another
2494,650,6,Same Polarity Substitution (contextual),yes,[6],[8],a,its
2959,784,6,Same Polarity Substitution (contextual),yes,[8],[8],a,per
3350,893,6,Same Polarity Substitution (contextual),yes,[21],[14],a,per
4081,1091,6,Same Polarity Substitution (contextual),yes,[9],[9],a,one-quarter
4561,1235,6,Same Polarity Substitution (contextual),yes,[13],[15],another,an
4598,1243,6,Same Polarity Substitution (contextual),yes,[22],[25],per,a
4618,1248,6,Same Polarity Substitution (contextual),yes,[3],[4],their,a
4979,1343,6,Same Polarity Substitution (contextual),yes,[7],[8],one,a
5007,1348,6,Same Polarity Substitution (contextual),yes,[11],[13],its,an
5168,1400,6,Same Polarity Substitution (contextual),yes,"[2, 3]",[7],the same,an
5230,1415,6,Same Polarity Substitution (contextual),yes,[19],[19],another,a
5938,1611,6,Same Polarity Substitution (contextual),yes,[8],[11],per,a
7436,2009,6,Same Polarity Substitution (contextual),yes,[22],[19],one,a
7600,2056,6,Same Polarity Substitution (contextual),yes,[0],[0],an,her
8960,2403,6,Same Polarity Substitution (contextual),yes,[10],"[6, 7, 8]",a,the slimmest of
9417,2544,6,Same Polarity Substitution (contextual),yes,[6],[6],per,a
9745,2625,6,Same Polarity Substitution (contextual),yes,[17],[15],a,his
10823,2899,6,Same Polarity Substitution (contextual),yes,[0],[2],a,another
11812,3132,6,Same Polarity Substitution (contextual),yes,[4],[3],her,a
11833,3136,6,Same Polarity Substitution (contextual),yes,[0],[1],its,an
11954,3173,6,Same Polarity Substitution (contextual),yes,[12],[13],a,its
12018,3188,6,Same Polarity Substitution (contextual),yes,[6],[6],another,a
13120,3478,6,Same Polarity Substitution (contextual),yes,[15],[14],his,a
13191,3494,6,Same Polarity Substitution (contextual),yes,[20],[20],a,his
14429,3822,6,Same Polarity Substitution (contextual),yes,[3],[2],a,his
14537,3844,6,Same Polarity Substitution (contextual),yes,[4],[3],a,another
15911,4187,6,Same Polarity Substitution (contextual),yes,[21],[20],his,a
16128,4246,6,Same Polarity Substitution (contextual),yes,[9],[12],a,another
17801,4676,6,Same Polarity Substitution (contextual),yes,[11],[8],a,their
17883,4693,6,Same Polarity Substitution (contextual),yes,[10],[8],their,a
17994,4722,6,Same Polarity Substitution (contextual),yes,[13],[17],a,per
18984,4981,6,Same Polarity Substitution (contextual),yes,"[11, 12]",[11],best float,a
19836,5207,6,Same Polarity Substitution (contextual),yes,[2],[9],a,its
20881,5466,6,Same Polarity Substitution (contextual),yes,[18],[17],one,an
21347,5593,6,Same Polarity Substitution (contextual),yes,[13],[19],per,a

In [56]:
contextual.drop(a_an_subs.index.tolist(), inplace=True)

/tmp/ipykernel_56784/785449833.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  contextual.drop(a_an_subs.index.tolist(), inplace=True)

In [57]:
for_subs = contextual[(contextual['s1_text'].isin(['for'])) | (contextual['s2_text'].isin(['for']))]
for_subs

,pair_id,type_id,type_name,sense_preserving,s1_scope,s2_scope,s1_text,s2_text
1420,369,6,Same Polarity Substitution (contextual),yes,[12],"[8, 9]",for,set by
3691,989,6,Same Polarity Substitution (contextual),yes,[20],[19],representing,for
4452,1206,6,Same Polarity Substitution (contextual),yes,[12],[13],seeking,for
5148,1396,6,Same Polarity Substitution (contextual),yes,"[13, 14, 15, 16, 17]",[12],to take a seat in,for
6921,1877,6,Same Polarity Substitution (contextual),yes,[17],[19],for,seeking
11612,3089,6,Same Polarity Substitution (contextual),yes,"[16, 17, 18]",[15],in connection with,for
13080,3465,6,Same Polarity Substitution (contextual),yes,[23],[24],over,for
13577,3599,6,Same Polarity Substitution (contextual),yes,"[14, 15]",[12],because of,for
15204,4018,6,Same Polarity Substitution (contextual),yes,[6],[7],for,behind
15356,4057,6,Same Polarity Substitution (contextual),yes,[10],"[7, 8]",for,due to
16158,4255,6,Same Polarity Substitution (contextual),yes,[12],[6],for,within
16839,4448,6,Same Polarity Substitution (contextual),yes,[20],"[23, 24]",for,to move
16907,4465,6,Same Polarity Substitution (contextual),yes,[15],"[14, 15, 16, 17, 18, 19]",for,to enter today 's round with
18946,4972,6,Same Polarity Substitution (contextual),yes,[7],"[5, 6]",for,to give

In [58]:
contextual.drop(for_subs.index.tolist(), inplace=True)

/tmp/ipykernel_56784/2019829353.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  contextual.drop(for_subs.index.tolist(), inplace=True)

In [59]:
over_under_subs = contextual[(contextual['s1_text'].isin(['over', 'under'])) | (contextual['s2_text'].isin(['over', 'under']))]
over_under_subs

,pair_id,type_id,type_name,sense_preserving,s1_scope,s2_scope,s1_text,s2_text
3891,1045,6,Same Polarity Substitution (contextual),yes,[7],[8],over,in
3900,1046,6,Same Polarity Substitution (contextual),yes,[11],"[8, 9]",over,more than
3969,1061,6,Same Polarity Substitution (contextual),yes,[5],[5],over,in
4778,1292,6,Same Polarity Substitution (contextual),yes,"[2, 3]",[8],more than,over
6724,1827,6,Same Polarity Substitution (contextual),yes,"[12, 13]",[9],based on,under
7154,1933,6,Same Polarity Substitution (contextual),yes,[3],[6],over,above
7279,1965,6,Same Polarity Substitution (contextual),yes,[15],"[13, 16, 17]",under,if is implemented
10498,2828,6,Same Polarity Substitution (contextual),yes,[11],[9],over,in
10832,2902,6,Same Polarity Substitution (contextual),yes,[9],[11],over,during
12841,3405,6,Same Polarity Substitution (contextual),yes,[7],[7],under,by
13963,3698,6,Same Polarity Substitution (contextual),yes,"[19, 20, 21]",[14],the end of,over
15563,4102,6,Same Polarity Substitution (contextual),yes,[5],[1],on,under
16179,4261,6,Same Polarity Substitution (contextual),yes,"[21, 22, 23, 24]",[20],to settle investigations of,over
17352,4570,6,Same Polarity Substitution (contextual),yes,[14],[21],around,under
21288,5578,6,Same Polarity Substitution (contextual),yes,"[2, 3]",[2],of violating,under
21431,5620,6,Same Polarity Substitution (contextual),yes,[7],[0],in,over
22010,5788,6,Same Polarity Substitution (contextual),yes,[7],"[9, 10]",over,to settle

In [60]:
contextual.drop(over_under_subs.index.tolist(), inplace=True)

/tmp/ipykernel_56784/3192895506.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  contextual.drop(over_under_subs.index.tolist(), inplace=True)

In [61]:
from_subs = contextual[(contextual['s1_text'].isin(['from', 'by'])) | (contextual['s2_text'].isin(['from', 'by']))]
from_subs

,pair_id,type_id,type_name,sense_preserving,s1_scope,s2_scope,s1_text,s2_text
1251,318,6,Same Polarity Substitution (contextual),yes,[7],"[8, 9]",from,due to
7648,2068,6,Same Polarity Substitution (contextual),yes,"[14, 15]",[14],compared with,from
8191,2207,6,Same Polarity Substitution (contextual),yes,"[10, 11, 12]",[13],as early as,by
9120,2447,6,Same Polarity Substitution (contextual),yes,[7],[10],from,through
11756,3121,6,Same Polarity Substitution (contextual),yes,[20],[14],when,by
12679,3363,6,Same Polarity Substitution (contextual),yes,"[10, 11, 12]",[8],as much as,by
15800,4157,6,Same Polarity Substitution (contextual),yes,"[8, 9]",[8],starting at,from
20340,5331,6,Same Polarity Substitution (contextual),yes,[6],"[8, 9]",from,generated by
20759,5433,6,Same Polarity Substitution (contextual),yes,[17],[12],by,through

In [62]:
contextual.drop(from_subs.index.tolist(), inplace=True)

/tmp/ipykernel_56784/955928537.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  contextual.drop(from_subs.index.tolist(), inplace=True)

In [63]:
in_on_subs = contextual[(contextual['s1_text'].isin(['in', 'on', 'at', 'during'])) | (contextual['s2_text'].isin(['in', 'on', 'at', 'during']))]
in_on_subs

,pair_id,type_id,type_name,sense_preserving,s1_scope,s2_scope,s1_text,s2_text
1306,333,6,Same Polarity Substitution (contextual),yes,[5],[0],on,throughout
2947,782,6,Same Polarity Substitution (contextual),yes,[12],[15],involving,in
3543,950,6,Same Polarity Substitution (contextual),yes,[3],[10],on,against
3898,1046,6,Same Polarity Substitution (contextual),yes,[15],[13],in,during
4114,1109,6,Same Polarity Substitution (contextual),yes,[4],[4],in,inside
4703,1272,6,Same Polarity Substitution (contextual),yes,[4],[4],inside,in
5279,1427,6,Same Polarity Substitution (contextual),yes,[4],[4],in,across
6764,1834,6,Same Polarity Substitution (contextual),yes,[21],[11],on,during
7172,1938,6,Same Polarity Substitution (contextual),yes,[12],[8],in,through
7569,2051,6,Same Polarity Substitution (contextual),yes,[9],[6],in,inside
8483,2287,6,Same Polarity Substitution (contextual),yes,[9],[8],in,during
8651,2329,6,Same Polarity Substitution (contextual),yes,[6],[9],inside,in
8745,2346,6,Same Polarity Substitution (contextual),yes,[9],[22],within,in
10834,2902,6,Same Polarity Substitution (contextual),yes,[19],[23],during,in
11102,2966,6,Same Polarity Substitution (contextual),yes,[21],[14],in,during
11640,3093,6,Same Polarity Substitution (contextual),yes,[11],"[13, 14]",on,stemming from
11986,3182,6,Same Polarity Substitution (contextual),yes,[24],[23],when,at
12999,3448,6,Same Polarity Substitution (contextual),yes,"[22, 23]",[19],closing at,at
13111,3476,6,Same Polarity Substitution (contextual),yes,[12],[9],in,via
13463,3567,6,Same Polarity Substitution (contextual),yes,[17],[13],during,in
13720,3639,6,Same Polarity Substitution (contextual),yes,[7],[9],up,in
14259,3777,6,Same Polarity Substitution (contextual),yes,[15],[15],during,in
15658,4127,6,Same Polarity Substitution (contextual),yes,[5],[4],in,during
18832,4938,6,Same Polarity Substitution (contextual),yes,[7],[8],on,against
18942,4968,6,Same Polarity Substitution (contextual),yes,[10],[10],during,in
19934,5236,6,Same Polarity Substitution (contextual),yes,[7],[8],on,down
20957,5488,6,Same Polarity Substitution (contextual),yes,[3],[3],at,around
21067,5524,6,Same Polarity Substitution (contextual),yes,[21],[17],during,in
21085,5529,6,Same Polarity Substitution (contextual),yes,"[24, 25]",[26],just outside,in
21150,5542,6,Same Polarity Substitution (contextual),yes,[9],[7],during,in

In [64]:
contextual.drop(in_on_subs.index.tolist(), inplace=True)

/tmp/ipykernel_56784/1227074606.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  contextual.drop(in_on_subs.index.tolist(), inplace=True)

In [65]:
when_subs = contextual[(contextual['s1_text'].isin(['when'])) | (contextual['s2_text'].isin(['when']))]
when_subs

,pair_id,type_id,type_name,sense_preserving,s1_scope,s2_scope,s1_text,s2_text
16526,4363,6,Same Polarity Substitution (contextual),yes,[12],[13],where,when

In [66]:
contextual.drop(when_subs.index.tolist(), inplace=True)

/tmp/ipykernel_56784/296898064.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  contextual.drop(when_subs.index.tolist(), inplace=True)

In [67]:
get_subs = contextual[(contextual['s1_text'].isin(['get', 'got', 'receive'])) | (contextual['s2_text'].isin(['get', 'got', 'receive']))]
get_subs

,pair_id,type_id,type_name,sense_preserving,s1_scope,s2_scope,s1_text,s2_text
1487,391,6,Same Polarity Substitution (contextual),yes,[15],[8],win,get
1840,481,6,Same Polarity Substitution (contextual),yes,[2],[2],receive,pocket
3723,1001,6,Same Polarity Substitution (contextual),yes,[7],[10],get,receive
3759,1012,6,Same Polarity Substitution (contextual),yes,[5],[2],receive,get
4280,1154,6,Same Polarity Substitution (contextual),yes,[16],[16],get,see
4968,1339,6,Same Polarity Substitution (contextual),yes,[4],"[4, 7]",get,get out
6943,1880,6,Same Polarity Substitution (contextual),yes,[7],[11],receive,get
7530,2040,6,Same Polarity Substitution (contextual),yes,[2],[7],get,earn
11644,3094,6,Same Polarity Substitution (contextual),yes,[4],[4],get,collect
12594,3343,6,Same Polarity Substitution (contextual),yes,[3],[6],get,received
15594,4107,6,Same Polarity Substitution (contextual),yes,[2],[7],get,earn
17777,4667,6,Same Polarity Substitution (contextual),yes,[3],[2],has,receive
18393,4829,6,Same Polarity Substitution (contextual),yes,[2],"[2, 3]",got,has scored

In [68]:
contextual.drop(get_subs.index.tolist(), inplace=True)

/tmp/ipykernel_56784/3975219564.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  contextual.drop(get_subs.index.tolist(), inplace=True)

In [69]:
dfs = [fword_subs, dicendi_subs,  if_subs, about_subs, which_subs, to_be_subs, before_after_subs, as_subs,
    each_every_subs, have_subs, a_an_subs, for_subs, over_under_subs, from_subs, in_on_subs, when_subs, get_subs]

In [70]:
merged_straight_syn = pd.concat(dfs)

In [71]:
merged_straight_syn

,pair_id,type_id,type_name,sense_preserving,s1_scope,s2_scope,s1_text,s2_text
167,52,6,Same Polarity Substitution (contextual),yes,[10],[8],or,and
181,54,6,Same Polarity Substitution (contextual),yes,[8],[5],at,to
528,143,6,Same Polarity Substitution (contextual),yes,[10],[9],and,but
574,156,6,Same Polarity Substitution (contextual),yes,[4],[5],of,from
724,191,6,Same Polarity Substitution (contextual),yes,[8],[7],at,to
...,...,...,...,...,...,...,...,...
11644,3094,6,Same Polarity Substitution (contextual),yes,[4],[4],get,collect
12594,3343,6,Same Polarity Substitution (contextual),yes,[3],[6],get,received
15594,4107,6,Same Polarity Substitution (contextual),yes,[2],[7],get,earn
17777,4667,6,Same Polarity Substitution (contextual),yes,[3],[2],has,receive
18393,4829,6,Same Polarity Substitution (contextual),yes,[2],"[2, 3]",got,has scored

In [72]:
substitute(6, merged_straight_syn, 4)

Double check type overwriting: row 276, sentence 1
Common indices: [10] | Pre-existing types: ['3_0']
Double check type overwriting: row 276, sentence 2
Common indices: [15, 16] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 332, sentence 1
Common indices: [5] | Pre-existing types: ['3_0']
Double check type overwriting: row 332, sentence 2
Common indices: [0] | Pre-existing types: ['3_0']
Double check type overwriting: row 1067, sentence 1
Common indices: [6] | Pre-existing types: ['3_0']
Double check type overwriting: row 1067, sentence 2
Common indices: [8] | Pre-existing types: ['3_0']
Double check type overwriting: row 1888, sentence 1
Common indices: [9] | Pre-existing types: ['3_0']
Double check type overwriting: row 1888, sentence 2
Common indices: [9] | Pre-existing types: ['3_0']
Double check type overwriting: row 1937, sentence 1
Common indices: [12] | Pre-existing types: ['3_0']
Double check type overwriting: row 1937, sentence 2
Common indices: [8] | Pre-existing types: ['3_0']
Double check type overwriting: row 2010, sentence 1
Common indices: [17] | Pre-existing types: ['3_0']
Double check type overwriting: row 2010, sentence 2
Common indices: [15] | Pre-existing types: ['3_0']
Double check type overwriting: row 2045, sentence 1
Common indices: [11] | Pre-existing types: ['3_0']
Double check type overwriting: row 2045, sentence 2
Common indices: [9] | Pre-existing types: ['3_0']
Double check type overwriting: row 2309, sentence 1
Common indices: [6] | Pre-existing types: ['3_0']
Double check type overwriting: row 2309, sentence 2
Common indices: [9] | Pre-existing types: ['3_0']
Double check type overwriting: row 2345, sentence 1
Common indices: [9] | Pre-existing types: ['3_0']
Double check type overwriting: row 2345, sentence 2
Common indices: [22] | Pre-existing types: ['3_0']
Double check type overwriting: row 2584, sentence 1
Common indices: [9] | Pre-existing types: ['3_0']
Double check type overwriting: row 2584, sentence 2
Common indices: [8] | Pre-existing types: ['3_0']
Double check type overwriting: row 2602, sentence 1
Common indices: [18] | Pre-existing types: ['3_0']
Double check type overwriting: row 2602, sentence 2
Common indices: [19] | Pre-existing types: ['3_0']
Double check type overwriting: row 2654, sentence 1
Common indices: [21] | Pre-existing types: ['3_0']
Double check type overwriting: row 2654, sentence 2
Common indices: [1] | Pre-existing types: ['3_0']
Double check type overwriting: row 3097, sentence 1
Common indices: [25] | Pre-existing types: ['3_1']
Double check type overwriting: row 3097, sentence 2
Common indices: [15] | Pre-existing types: ['3_1']
Double check type overwriting: row 3164, sentence 1
Common indices: [1] | Pre-existing types: ['3_0']
Double check type overwriting: row 3164, sentence 2
Common indices: [21] | Pre-existing types: ['3_0']
Double check type overwriting: row 4054, sentence 1
Common indices: [7] | Pre-existing types: ['3_0']
Double check type overwriting: row 4054, sentence 2
Common indices: [18] | Pre-existing types: ['3_0']
Double check type overwriting: row 4101, sentence 1
Common indices: [5] | Pre-existing types: ['3_0']
Double check type overwriting: row 4101, sentence 2
Common indices: [1] | Pre-existing types: ['3_0']
Double check type overwriting: row 4374, sentence 1
Common indices: [9] | Pre-existing types: ['3_0']
Double check type overwriting: row 4374, sentence 2
Common indices: [7, 8, 9] | Pre-existing types: ['3_0' '3_0' '3_0']
Double check type overwriting: row 4376, sentence 1
Common indices: [0] | Pre-existing types: ['3_0']
Double check type overwriting: row 4376, sentence 2
Common indices: [5] | Pre-existing types: ['3_0']
Double check type overwriting: row 4521, sentence 1
Common indices: [15, 16, 17, 18] | Pre-existing types: ['3_0' '3_0' '3_0' '3_0']
Double check type overwriting: row 4521, sentence 2
Common indices: [13] | Pre-existing types: ['3_0']
Double check type overwriting: row 4967, sentence 1
Common indices: [10] | Pre-existing types: ['3_0']
Double check type overwriting: row 4967, sentence 2
Common indices: [10] | Pre-existing types: ['3_0']
Double check type overwriting: row 5329, sentence 1
Common indices: [3] | Pre-existing types: ['3_0']
Double check type overwriting: row 5329, sentence 2
Common indices: [31] | Pre-existing types: ['3_0']
Double check type overwriting: row 5455, sentence 1
Common indices: [10] | Pre-existing types: ['3_0']
Double check type overwriting: row 5455, sentence 2
Common indices: [5] | Pre-existing types: ['3_0']
Double check type overwriting: row 5528, sentence 1
Common indices: [24, 25] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 5528, sentence 2
Common indices: [26] | Pre-existing types: ['3_0']

##### Things we know for sure are additions/deletions

In [73]:
def trim_duplicates(s1_scope, s2_scope, s1_text, s2_text):
    s1_newtext = s1_text.split()
    s2_newtext = s2_text.split()
    
    in1 = np.where(np.in1d(s1_newtext, s2_newtext))[0]
    in2 = np.where(np.in1d(s2_newtext, s1_newtext))[0]

    s1_newscope = np.delete(s1_scope, in1)
    s2_newscope = np.delete(s2_scope, in2)
    s1_newtext = ' '.join(np.delete(s1_newtext, in1))
    s2_newtext = ' '.join(np.delete(s2_newtext, in2))

    return s1_newscope, s2_newscope, s1_newtext, s2_newtext

In [74]:
contextual['s1_scope'], contextual['s2_scope'], contextual['s1_text'], contextual['s2_text'] = contextual.apply(lambda x: trim_duplicates(x.s1_scope, x.s2_scope, x.s1_text, x.s2_text), axis=1, result_type='expand').transpose().values

contextual['s1_text'] = contextual['s1_text'].apply(lambda x: None if x == '' else x)
contextual['s2_text'] = contextual['s2_text'].apply(lambda x: None if x == '' else x)
contextual['s1_scope'] = contextual['s1_scope'].apply(lambda x: None if list(x) == [] else x)
contextual['s2_scope'] = contextual['s2_scope'].apply(lambda x: None if list(x) == [] else x)

/tmp/ipykernel_56784/4025860124.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  contextual['s1_scope'], contextual['s2_scope'], contextual['s1_text'], contextual['s2_text'] = contextual.apply(lambda x: trim_duplicates(x.s1_scope, x.s2_scope, x.s1_text, x.s2_text), axis=1, result_type='expand').transpose().values
/tmp/ipykernel_56784/4025860124.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  contextual['s1_text'] = contextual['s1_text'].apply(lambda x: None if x == '' else x)
/tmp/ipykernel_56784/4025860124.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  contextual['s2_text'] = contextual['s2_text'].apply(lambda x: None if x == '' else x)
/tmp/ipykernel_56784/4025860124.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  contextual['s1_scope'] = contextual['s1_scope'].apply(lambda x: None if list(x) == [] else x)
/tmp/ipykernel_56784/4025860124.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  contextual['s2_scope'] = contextual['s2_scope'].apply(lambda x: None if list(x) == [] else x)

In [75]:
print_sents(15)

He told The Sun newspaper that Mr. Hussein's daughters had British schools and hospitals in mind when they decided to ask for asylum.
"Saddam's daughters had British schools and hospitals in mind when they decided to ask for asylum -- especially the schools," he told The Sun.

In [76]:
contextual_none = contextual[(contextual['s1_scope'].isnull()) | (contextual['s2_scope'].isnull())]
contextual_none

,pair_id,type_id,type_name,sense_preserving,s1_scope,s2_scope,s1_text,s2_text
12,5,6,Same Polarity Substitution (contextual),yes,"[12, 14]",None,close at,None
41,15,6,Same Polarity Substitution (contextual),yes,[4],None,newspaper,None
52,22,6,Same Polarity Substitution (contextual),yes,None,"[4, 5]",None,navigation tool
124,41,6,Same Polarity Substitution (contextual),yes,None,[20],None,with
295,83,6,Same Polarity Substitution (contextual),yes,[16],None,school,None
...,...,...,...,...,...,...,...,...
21930,5766,6,Same Polarity Substitution (contextual),yes,[19],None,michelle,None
21965,5776,6,Same Polarity Substitution (contextual),yes,None,"[26, 27]",None,of allegiance
21993,5785,6,Same Polarity Substitution (contextual),yes,[1],None,kept,None
22034,5793,6,Same Polarity Substitution (contextual),yes,[17],None,back,None
22039,5794,6,Same Polarity Substitution (contextual),yes,None,"[22, 24]",None,the statement

In [77]:
contextual.drop(contextual_none.index.tolist(), inplace=True)

/tmp/ipykernel_56784/729876075.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  contextual.drop(contextual_none.index.tolist(), inplace=True)

In [78]:
substitute(6, contextual_none, 2)

Double check type overwriting: row 651, sentence 2
Common indices: [2, 3, 4] | Pre-existing types: ['3_0' '3_0' '3_0']
Double check type overwriting: row 1067, sentence 2
Common indices: [15, 16] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 1142, sentence 2
Common indices: [0, 1] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 1142, sentence 1
Common indices: [7, 8] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 1161, sentence 1
Common indices: [21] | Pre-existing types: ['3_0']
Double check type overwriting: row 1182, sentence 1
Common indices: [22] | Pre-existing types: ['3_0']
Double check type overwriting: row 1412, sentence 1
Common indices: [9] | Pre-existing types: ['3_0']
Double check type overwriting: row 1540, sentence 1
Common indices: [14] | Pre-existing types: ['3_0']
Double check type overwriting: row 2057, sentence 2
Common indices: [24, 25, 26, 27] | Pre-existing types: ['3_0' '3_0' '3_0' '3_0']
Double check type overwriting: row 2128, sentence 2
Common indices: [17] | Pre-existing types: ['3_0']
Double check type overwriting: row 2132, sentence 2
Common indices: [1] | Pre-existing types: ['3_0']
Double check type overwriting: row 2298, sentence 2
Common indices: [21] | Pre-existing types: ['3_0']
Double check type overwriting: row 2367, sentence 1
Common indices: [7, 8] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 2453, sentence 2
Common indices: [21] | Pre-existing types: ['3_1']
Double check type overwriting: row 2567, sentence 1
Common indices: [20] | Pre-existing types: ['3_0']
Double check type overwriting: row 2658, sentence 1
Common indices: [14] | Pre-existing types: ['3_0']
Double check type overwriting: row 2676, sentence 1
Common indices: [12] | Pre-existing types: ['3_0']
Double check type overwriting: row 2689, sentence 1
Common indices: [15] | Pre-existing types: ['3_0']
Double check type overwriting: row 2690, sentence 2
Common indices: [26] | Pre-existing types: ['3_0']
Double check type overwriting: row 2792, sentence 1
Common indices: [4] | Pre-existing types: ['3_0']
Double check type overwriting: row 2828, sentence 1
Common indices: [1] | Pre-existing types: ['3_0']
Double check type overwriting: row 2866, sentence 1
Common indices: [28] | Pre-existing types: ['3_0']
Double check type overwriting: row 2871, sentence 2
Common indices: [18] | Pre-existing types: ['3_0']
Double check type overwriting: row 2929, sentence 1
Common indices: [26] | Pre-existing types: ['3_0']
Double check type overwriting: row 2938, sentence 1
Common indices: [3, 4] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 2938, sentence 1
Common indices: [20] | Pre-existing types: ['3_1']
Double check type overwriting: row 3063, sentence 1
Common indices: [20] | Pre-existing types: ['3_0']
Double check type overwriting: row 3113, sentence 1
Common indices: [11] | Pre-existing types: ['3_0']
Double check type overwriting: row 3308, sentence 2
Common indices: [10] | Pre-existing types: ['3_0']
Double check type overwriting: row 3690, sentence 2
Common indices: [1] | Pre-existing types: ['3_1']
Double check type overwriting: row 3859, sentence 1
Common indices: [15, 16] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 3981, sentence 2
Common indices: [12, 13, 15] | Pre-existing types: ['3_0' '3_0' '3_0']
Double check type overwriting: row 4524, sentence 2
Common indices: [5, 6] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 4646, sentence 1
Common indices: [2, 3, 4, 5, 7] | Pre-existing types: ['3_0' '3_0' '3_0' '3_0' '3_0']
Double check type overwriting: row 4739, sentence 1
Common indices: [15] | Pre-existing types: ['3_0']
Double check type overwriting: row 5793, sentence 2
Common indices: [22, 24] | Pre-existing types: ['3_0' '3_0']

##### Things we know for sure are contextual synonyms

In [79]:
alnum_space = lambda x: not all(i.isalpha() or i==' ' for i in x)
alnum_space('the sun')

False

In [80]:
anydigit = lambda x: any(i.isdigit() for i in x)

In [81]:
has_number = contextual[(contextual['s1_text'].apply(anydigit)) | contextual['s2_text'].apply(anydigit)]
has_number[:50]

,pair_id,type_id,type_name,sense_preserving,s1_scope,s2_scope,s1_text,s2_text
162,51,6,Same Polarity Substitution (contextual),yes,[8],"[12, 13, 14, 15]",million-plus,more than 1 million
499,136,6,Same Polarity Substitution (contextual),yes,"[5, 6, 7]",[4],the 35 year-old,heather
728,192,6,Same Polarity Substitution (contextual),yes,"[19, 20, 21]",[14],five years earlier,2002
1523,399,6,Same Polarity Substitution (contextual),yes,"[4, 5, 6]","[0, 1, 2]",in august 2000,at that time
1727,450,6,Same Polarity Substitution (contextual),yes,"[2, 3, 4]",[20],the standards body,w3c
2077,549,6,Same Polarity Substitution (contextual),yes,"[1, 2, 3]",[0],the 2002 study,it
2356,619,6,Same Polarity Substitution (contextual),yes,"[16, 17, 18, 19]","[14, 15]",more than 40 years,for decades
2719,720,6,Same Polarity Substitution (contextual),yes,[1],"[1, 2, 3, 4]",purchase,$ 22 million deal
2872,759,6,Same Polarity Substitution (contextual),yes,"[5, 6, 7, 8, 9]",[7],more than 10 per cent,sharply
2916,768,6,Same Polarity Substitution (contextual),yes,"[11, 12]","[16, 17, 18, 19]",much lower,only a 10 percent
3520,939,6,Same Polarity Substitution (contextual),yes,[5],"[0, 1]",34.75,some 34.7
3621,972,6,Same Polarity Substitution (contextual),yes,[12],[10],"897,158",number
3665,981,6,Same Polarity Substitution (contextual),yes,"[20, 21, 22, 23, 24]",[20],the 24-year-old cited by bitdefender,ciobanu
4556,1234,6,Same Polarity Substitution (contextual),yes,"[11, 12, 14]",[9],more than 7,7.1
4700,1271,6,Same Polarity Substitution (contextual),yes,[12],[10],1.23,1.2
4836,1310,6,Same Polarity Substitution (contextual),yes,[7],"[7, 8]",£169.99,$ 273
4837,1310,6,Same Polarity Substitution (contextual),yes,[23],"[19, 20]",£179.99,$ 289
5451,1478,6,Same Polarity Substitution (contextual),yes,[8],[10],.20,0.20
5591,1505,6,Same Polarity Substitution (contextual),yes,"[0, 1, 2, 3, 4, 5]",[0],the new 25-member governing council 's,its
5986,1623,6,Same Polarity Substitution (contextual),yes,"[14, 15, 17, 18, 19, 20]","[18, 19, 20, 22, 23]",more than 50-million ( u.s. ),54 million to 56 million
6254,1705,6,Same Polarity Substitution (contextual),yes,[18],"[13, 14]",1985,the 1980s
6387,1736,6,Same Polarity Substitution (contextual),yes,"[1, 2, 3]","[1, 2, 3]",1996 chevrolet tahoe,sport utility vehicle
6450,1753,6,Same Polarity Substitution (contextual),yes,"[0, 1]","[4, 5, 6, 7]",sea 05d,surface ship design group
6468,1757,6,Same Polarity Substitution (contextual),yes,"[15, 16]","[7, 8, 9]",undisclosed sum,$ 15 million
6616,1792,6,Same Polarity Substitution (contextual),yes,"[9, 10]",[14],12 metres,40ft
6663,1811,6,Same Polarity Substitution (contextual),yes,"[27, 28, 29]","[26, 27]",80 937 hectares,"200,000 acres"
6828,1850,6,Same Polarity Substitution (contextual),yes,"[0, 1, 2]","[0, 1]",the us version,contribute 2
7047,1909,6,Same Polarity Substitution (contextual),yes,"[0, 1, 2]",[3],more than 6,6.4
7138,1931,6,Same Polarity Substitution (contextual),yes,[1],"[0, 2]",3.0,the product
7404,1997,6,Same Polarity Substitution (contextual),yes,"[21, 22, 24, 25]","[23, 24]",less than 1 billion,952 million
7683,2076,6,Same Polarity Substitution (contextual),yes,"[1, 2, 3]","[1, 2, 3]",1996 chevrolet tahoe,sport utility vehicle
7848,2127,6,Same Polarity Substitution (contextual),yes,"[20, 21]","[18, 19]","at 1,121","to 1,121.96"
7956,2148,6,Same Polarity Substitution (contextual),yes,"[13, 14, 15, 16]","[13, 14, 15, 16, 17, 18, 19]",by year 's end,during the final calendar quarter of 2003
7957,2148,6,Same Polarity Substitution (contextual),yes,[14],[19],year,2003
7977,2152,6,Same Polarity Substitution (contextual),yes,"[2, 4]","[2, 4]",1973 vs.,original v.
8099,2188,6,Same Polarity Substitution (contextual),yes,"[5, 6, 7]","[5, 6, 7, 8]",2 to 3,between two and three
8111,2192,6,Same Polarity Substitution (contextual),yes,[11],"[10, 11, 12, 13, 14, 15, 16]",car,dale earnhardt inc. no . 1 chevrolet
8152,2201,6,Same Polarity Substitution (contextual),yes,"[8, 9]",[11],260 pounds,117kg
8257,2225,6,Same Polarity Substitution (contextual),yes,"[15, 17]",[19],about 1.2,1.3
8291,2232,6,Same Polarity Substitution (contextual),yes,"[0, 1]",[12],about 10,9.6
8298,2234,6,Same Polarity Substitution (contextual),yes,[19],[20],6.3,6.32
8334,2246,6,Same Polarity Substitution (contextual),yes,"[20, 21, 22, 23, 24, 25]","[18, 19, 21]",", about 25 miles north of",in a suburb
8462,2282,6,Same Polarity Substitution (contextual),yes,"[0, 1, 2, 3, 4, 5]","[12, 13]","her birthday , 21 april ,",the day
8600,2318,6,Same Polarity Substitution (contextual),yes,"[0, 1, 2]",[3],the 60-year-old millionaire,he
8993,2413,6,Same Polarity Substitution (contextual),yes,[3],"[3, 4, 5]","2,000",a handful of
9225,2475,6,Same Polarity Substitution (contextual),yes,"[7, 8, 9, 10]",[8],at the end of,30
9242,2485,6,Same Polarity Substitution (contextual),yes,[1],[1],19,suspects
9272,2494,6,Same Polarity Substitution (contextual),yes,"[12, 13]",[10],boeing 737-700s,737s
9675,2606,6,Same Polarity Substitution (contextual),yes,[8],[5],more,50
9939,2681,6,Same Polarity Substitution (contextual),yes,[20],[20],2-week-old,resurgent

In [82]:
contextual.drop(has_number.index.tolist(), inplace=True)

/tmp/ipykernel_56784/1783747197.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  contextual.drop(has_number.index.tolist(), inplace=True)

In [83]:
has_symbol = contextual[(contextual['s1_text'].apply(alnum_space)) | contextual['s2_text'].apply(alnum_space)]
has_symbol.drop([1860, 1930, 2194, 2516, 3228, 3532, 3668, 4047, 4276, 4445], inplace=True) # These are definitely synonym substitution
has_symbol.drop([3091], inplace=True) # These are not context synonym, but are also not straight syn
has_symbol

/tmp/ipykernel_56784/475884684.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  has_symbol.drop([1860, 1930, 2194, 2516, 3228, 3532, 3668, 4047, 4276, 4445], inplace=True) # These are definitely synonym substitution
/tmp/ipykernel_56784/475884684.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  has_symbol.drop([3091], inplace=True) # These are not context synonym, but are also not straight syn

,pair_id,type_id,type_name,sense_preserving,s1_scope,s2_scope,s1_text,s2_text
5,3,6,Same Polarity Substitution (contextual),yes,[0],"[4, 5, 6, 7]",they,the ship 's owners
10,5,6,Same Polarity Substitution (contextual),yes,"[0, 1]","[0, 1, 2, 3, 4]",the stock,pg & e corp. shares
30,10,6,Same Polarity Substitution (contextual),yes,"[9, 10, 11]",[8],the company 's,our
159,51,6,Same Polarity Substitution (contextual),yes,[0],[0],wal-mart,it
240,72,6,Same Polarity Substitution (contextual),yes,"[21, 22]",[21],columbia 's,its
...,...,...,...,...,...,...,...,...
21817,5732,6,Same Polarity Substitution (contextual),yes,"[13, 14, 16, 17, 18]",[14],some of victims ' supporters,crowd
21829,5738,6,Same Polarity Substitution (contextual),yes,[0],"[0, 1, 2, 3, 4]",brendsel,the company 's chief executive
21949,5772,6,Same Polarity Substitution (contextual),yes,[19],[23],conventional,low-fat
21998,5786,6,Same Polarity Substitution (contextual),yes,"[6, 7, 8]","[6, 7, 8, 9, 10, 14, 15, 21]",all four states,"north carolina , virginia , maryland , pennsyl..."
22060,5801,6,Same Polarity Substitution (contextual),yes,[21],[22],",",and

In [84]:
contextual.drop(has_symbol.index.tolist(), inplace=True)

/tmp/ipykernel_56784/605305694.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  contextual.drop(has_symbol.index.tolist(), inplace=True)

In [85]:
print_sents(419)

Money from Iraqi oil sales will go into that fund which will be controlled by the United States and Britain and used to rebuild the country.
Money from oil sales will now be deposited in a new Development Fund for Iraq, controlled by the United States and Britain and used to rebuild the country.

In [86]:
contextual

,pair_id,type_id,type_name,sense_preserving,s1_scope,s2_scope,s1_text,s2_text
1,1,6,Same Polarity Substitution (contextual),yes,[7],[0],called,referring
6,3,6,Same Polarity Substitution (contextual),yes,[14],[18],cargo,explosives
34,14,6,Same Polarity Substitution (contextual),yes,[1],"[0, 1]",he,de sole
51,22,6,Same Polarity Substitution (contextual),yes,[1],[2],new,redesigned
62,23,6,Same Polarity Substitution (contextual),yes,[7],"[4, 5]",posted,in place
...,...,...,...,...,...,...,...,...
21956,5773,6,Same Polarity Substitution (contextual),yes,[8],[8],numbers,standards
21981,5782,6,Same Polarity Substitution (contextual),yes,"[14, 15, 16, 17, 18]",[18],that have been made against,surrounding
21992,5785,6,Same Polarity Substitution (contextual),yes,[0],[4],that,winikoff
22004,5787,6,Same Polarity Substitution (contextual),yes,"[21, 22]",[4],the votes,precincts
22051,5800,6,Same Polarity Substitution (contextual),yes,[5],[6],us,american

In [87]:
company_subs = contextual[(contextual['s1_text'].isin(['the company', 'company', 'firm', 'the firm'])) | (contextual['s2_text'].isin(['the company', 'company', 'firm', 'the firm']))]
company_subs

,pair_id,type_id,type_name,sense_preserving,s1_scope,s2_scope,s1_text,s2_text
661,174,6,Same Polarity Substitution (contextual),yes,"[7, 8]",[7],beverage maker,company
717,189,6,Same Polarity Substitution (contextual),yes,[9],"[14, 15]",cfsb,the company
1063,274,6,Same Polarity Substitution (contextual),yes,"[10, 11, 12, 13]","[10, 11]",oklahoma gas and electric,the company
1160,298,6,Same Polarity Substitution (contextual),yes,"[4, 5]",[0],the company,it
1316,336,6,Same Polarity Substitution (contextual),yes,[1],[1],company,service
1317,336,6,Same Polarity Substitution (contextual),yes,"[0, 1]",[12],the company,sprint
1374,355,6,Same Polarity Substitution (contextual),yes,[0],"[5, 6]",intel,the company
1511,394,6,Same Polarity Substitution (contextual),yes,"[17, 18]",[19],the company,it
1512,394,6,Same Polarity Substitution (contextual),yes,[20],"[21, 22]",microsoft,the company
2949,782,6,Same Polarity Substitution (contextual),yes,"[19, 20]","[22, 23]",westar business,the company
4446,1205,6,Same Polarity Substitution (contextual),yes,[5],"[3, 4]",pearson,the firm
5047,1358,6,Same Polarity Substitution (contextual),yes,[13],[13],vendor,firm
5919,1604,6,Same Polarity Substitution (contextual),yes,"[0, 1]","[0, 1]",the company,human genome
6370,1731,6,Same Polarity Substitution (contextual),yes,[0],[17],gartner,firm
7509,2032,6,Same Polarity Substitution (contextual),yes,[13],[18],company,firms
7650,2068,6,Same Polarity Substitution (contextual),yes,[0],"[27, 28]",gilead,the company
7817,2117,6,Same Polarity Substitution (contextual),yes,[26],"[2, 3]",activision,the company
7947,2146,6,Same Polarity Substitution (contextual),yes,[0],"[0, 1]",scc,the company
8641,2327,6,Same Polarity Substitution (contextual),yes,"[26, 27]",[23],the company,amc
9028,2421,6,Same Polarity Substitution (contextual),yes,[0],"[5, 6]",we,the company
9255,2489,6,Same Polarity Substitution (contextual),yes,[10],"[10, 11]",it,the company
9301,2502,6,Same Polarity Substitution (contextual),yes,"[15, 16]","[6, 7]",tranz rail,the company
10131,2737,6,Same Polarity Substitution (contextual),yes,"[0, 1]","[0, 1]",the company,avery dennison
10322,2782,6,Same Polarity Substitution (contextual),yes,"[6, 7]",[6],the company,micron
11322,3023,6,Same Polarity Substitution (contextual),yes,[0],"[0, 1]",ibm,the company
12019,3188,6,Same Polarity Substitution (contextual),yes,[17],[17],firm,merrill
12643,3352,6,Same Polarity Substitution (contextual),yes,"[11, 12]",[10],the company,newisys
13564,3595,6,Same Polarity Substitution (contextual),yes,[6],"[12, 13]",monsanto,the company
13565,3595,6,Same Polarity Substitution (contextual),yes,"[12, 13]",[19],the company,monsanto
13732,3643,6,Same Polarity Substitution (contextual),yes,"[26, 27]",[3],mobile operator,company
13915,3689,6,Same Polarity Substitution (contextual),yes,"[0, 1]",[0],the company,rim
14220,3766,6,Same Polarity Substitution (contextual),yes,[11],"[10, 11]",company,beacon hill
14467,3830,6,Same Polarity Substitution (contextual),yes,"[0, 1]",[0],the company,levi
14595,3855,6,Same Polarity Substitution (contextual),yes,"[0, 1]","[0, 1]",mysql ab,the company
15318,4046,6,Same Polarity Substitution (contextual),yes,[6],"[10, 11]",tenet,the company
15336,4053,6,Same Polarity Substitution (contextual),yes,"[17, 18, 19, 20, 21]","[20, 21]",chief financial officer robert rivet,the company
15354,4057,6,Same Polarity Substitution (contextual),yes,"[0, 1]",[0],the company,sco
15373,4063,6,Same Polarity Substitution (contextual),yes,"[3, 4]",[0],the company,we
17163,4528,6,Same Polarity Substitution (contextual),yes,"[13, 14, 15, 16, 17]","[12, 13]",perot systems spokeswoman mindy brown,the company
19009,4985,6,Same Polarity Substitution (contextual),yes,"[6, 7]",[6],chip maker,company
19251,5050,6,Same Polarity Substitution (contextual),yes,"[11, 12]",[3],the company,it
19280,5055,6,Same Polarity Substitution (contextual),yes,[6],"[0, 1]",universal,the company
19850,5210,6,Same Polarity Substitution (contextual),yes,[0],"[0, 1]",it,the company
21065,5524,6,Same Polarity Substitution (contextual),yes,"[0, 1]",[0],the company,it

In [88]:
contextual.drop(company_subs.index.tolist(), inplace=True)

/tmp/ipykernel_56784/44221897.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  contextual.drop(company_subs.index.tolist(), inplace=True)

In [89]:
pronoun_subs = contextual[(contextual['s1_text'].isin(pronouns)) | (contextual['s2_text'].isin(pronouns))]
pronoun_subs

,pair_id,type_id,type_name,sense_preserving,s1_scope,s2_scope,s1_text,s2_text
34,14,6,Same Polarity Substitution (contextual),yes,[1],"[0, 1]",he,de sole
65,24,6,Same Polarity Substitution (contextual),yes,[7],[0],him,zuccarini
84,29,6,Same Polarity Substitution (contextual),yes,[14],[16],he,tunick
243,72,6,Same Polarity Substitution (contextual),yes,[0],"[0, 1]",it,the document
320,89,6,Same Polarity Substitution (contextual),yes,[7],[11],nation,us
...,...,...,...,...,...,...,...,...
21782,5720,6,Same Polarity Substitution (contextual),yes,"[0, 1, 2]",[0],the new department,they
21839,5743,6,Same Polarity Substitution (contextual),yes,[9],[3],it,villagers
21864,5749,6,Same Polarity Substitution (contextual),yes,"[17, 18]",[20],mr comey,he
21936,5769,6,Same Polarity Substitution (contextual),yes,"[0, 1, 2, 3, 4, 5]",[3],the stunning art robbery on sunday,it
22051,5800,6,Same Polarity Substitution (contextual),yes,[5],[6],us,american

In [90]:
contextual.drop(pronoun_subs.index.tolist(), inplace=True)

/tmp/ipykernel_56784/1043084276.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  contextual.drop(pronoun_subs.index.tolist(), inplace=True)

In [91]:
merged_context_syn = pd.concat([has_number, has_symbol, company_subs, pronoun_subs])

In [92]:
substitute(6, merged_context_syn)

Double check type overwriting: row 124, sentence 1
Common indices: [16] | Pre-existing types: ['3_0']
Double check type overwriting: row 124, sentence 2
Common indices: [3] | Pre-existing types: ['3_0']
Double check type overwriting: row 191, sentence 1
Common indices: [19, 20, 21] | Pre-existing types: ['3_0' '3_0' '3_0']
Double check type overwriting: row 191, sentence 2
Common indices: [14] | Pre-existing types: ['3_0']
Double check type overwriting: row 335, sentence 1
Common indices: [1] | Pre-existing types: ['5_0']
Double check type overwriting: row 354, sentence 1
Common indices: [0] | Pre-existing types: ['3_0']
Double check type overwriting: row 354, sentence 2
Common indices: [5, 6] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 542, sentence 1
Common indices: [3, 4] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 542, sentence 2
Common indices: [8] | Pre-existing types: ['3_0']
Double check type overwriting: row 642, sentence 1
Common indices: [7, 8] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 642, sentence 2
Common indices: [23, 24] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 802, sentence 1
Common indices: [19] | Pre-existing types: ['3_0']
Double check type overwriting: row 802, sentence 2
Common indices: [22, 23, 24, 25, 26, 27] | Pre-existing types: ['3_0' '3_0' '3_0' '3_0' '3_0' '3_0']
Double check type overwriting: row 933, sentence 1
Common indices: [6, 7] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 933, sentence 2
Common indices: [1] | Pre-existing types: ['3_0']
Double check type overwriting: row 938, sentence 1
Common indices: [5] | Pre-existing types: ['3_0']
Double check type overwriting: row 938, sentence 2
Common indices: [1] | Pre-existing types: ['3_0']
Double check type overwriting: row 1093, sentence 1
Common indices: [19] | Pre-existing types: ['3_0']
Double check type overwriting: row 1093, sentence 2
Common indices: [18] | Pre-existing types: ['3_0']
Double check type overwriting: row 1273, sentence 1
Common indices: [0, 1, 2, 3, 4] | Pre-existing types: ['3_0' '3_0' '3_0' '3_0' '3_0']
Double check type overwriting: row 1273, sentence 2
Common indices: [12] | Pre-existing types: ['3_0']
Double check type overwriting: row 1346, sentence 1
Common indices: [5, 6, 7] | Pre-existing types: ['3_1' '3_1' '3_1']
Double check type overwriting: row 1346, sentence 2
Common indices: [1, 2, 3] | Pre-existing types: ['3_1' '3_1' '3_1']
Double check type overwriting: row 1393, sentence 1
Common indices: [2, 3] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 1393, sentence 2
Common indices: [1] | Pre-existing types: ['3_0']
Double check type overwriting: row 1681, sentence 1
Common indices: [8] | Pre-existing types: ['3_0']
Double check type overwriting: row 1681, sentence 2
Common indices: [1] | Pre-existing types: ['3_0']
Double check type overwriting: row 1704, sentence 1
Common indices: [18] | Pre-existing types: ['3_0']
Double check type overwriting: row 1704, sentence 2
Common indices: [13, 14] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 1730, sentence 1
Common indices: [0] | Pre-existing types: ['3_0']
Double check type overwriting: row 1730, sentence 2
Common indices: [17] | Pre-existing types: ['3_0']
Double check type overwriting: row 1747, sentence 1
Common indices: [12] | Pre-existing types: ['3_0']
Double check type overwriting: row 1747, sentence 2
Common indices: [1] | Pre-existing types: ['3_0']
Double check type overwriting: row 1756, sentence 1
Common indices: [15, 16] | Pre-existing types: ['3_1' '3_1']
Double check type overwriting: row 1756, sentence 2
Common indices: [7, 8, 9] | Pre-existing types: ['3_1' '3_1' '3_1']
Double check type overwriting: row 1801, sentence 2
Common indices: [2] | Pre-existing types: ['2_0']
Double check type overwriting: row 1918, sentence 1
Common indices: [1, 2] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 1918, sentence 2
Common indices: [4] | Pre-existing types: ['3_0']
Double check type overwriting: row 1942, sentence 1
Common indices: [15] | Pre-existing types: ['3_0']
Double check type overwriting: row 1942, sentence 2
Common indices: [17] | Pre-existing types: ['3_0']
Double check type overwriting: row 2055, sentence 2
Common indices: [0] | Pre-existing types: ['4_0']
Double check type overwriting: row 2056, sentence 1
Common indices: [5] | Pre-existing types: ['3_0']
Double check type overwriting: row 2056, sentence 2
Common indices: [4] | Pre-existing types: ['3_0']
Double check type overwriting: row 2072, sentence 1
Common indices: [2, 3, 4] | Pre-existing types: ['5_0' '5_0' '5_0']
Double check type overwriting: row 2147, sentence 1
Common indices: [14] | Pre-existing types: ['5_0']
Double check type overwriting: row 2147, sentence 2
Common indices: [19] | Pre-existing types: ['5_0']
Double check type overwriting: row 2231, sentence 1
Common indices: [0, 1] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 2231, sentence 2
Common indices: [12] | Pre-existing types: ['3_0']
Double check type overwriting: row 2245, sentence 1
Common indices: [20, 21, 22, 23, 24, 25] | Pre-existing types: ['3_0' '3_0' '3_0' '3_0' '3_0' '3_0']
Double check type overwriting: row 2245, sentence 2
Common indices: [18, 19, 21] | Pre-existing types: ['3_0' '3_0' '3_0']
Double check type overwriting: row 2376, sentence 1
Common indices: [26] | Pre-existing types: ['3_0']
Double check type overwriting: row 2376, sentence 2
Common indices: [15] | Pre-existing types: ['3_0']
Double check type overwriting: row 2890, sentence 1
Common indices: [6, 7] | Pre-existing types: ['5_0' '5_0']
Double check type overwriting: row 2890, sentence 2
Common indices: [3, 4] | Pre-existing types: ['5_0' '5_0']
Double check type overwriting: row 2935, sentence 1
Common indices: [21, 22, 23, 24] | Pre-existing types: ['3_0' '3_0' '3_0' '3_0']
Double check type overwriting: row 2935, sentence 2
Common indices: [19] | Pre-existing types: ['3_0']
Double check type overwriting: row 2993, sentence 1
Common indices: [13, 14, 15, 16] | Pre-existing types: ['3_0' '3_0' '3_0' '3_0']
Double check type overwriting: row 2993, sentence 2
Common indices: [0] | Pre-existing types: ['3_0']
Double check type overwriting: row 3090, sentence 1
Common indices: [11] | Pre-existing types: ['3_0']
Double check type overwriting: row 3090, sentence 2
Common indices: [22, 23, 24] | Pre-existing types: ['3_0' '3_0' '3_0']
Double check type overwriting: row 3147, sentence 1
Common indices: [3] | Pre-existing types: ['3_0']
Double check type overwriting: row 3147, sentence 2
Common indices: [2] | Pre-existing types: ['3_0']
Double check type overwriting: row 3168, sentence 1
Common indices: [22] | Pre-existing types: ['3_0']
Double check type overwriting: row 3168, sentence 2
Common indices: [23, 24, 25, 26, 27, 28] | Pre-existing types: ['3_0' '3_0' '3_0' '3_0' '3_0' '3_0']
Double check type overwriting: row 3249, sentence 2
Common indices: [0] | Pre-existing types: ['5_0']
Double check type overwriting: row 3371, sentence 1
Common indices: [10, 11, 12, 13] | Pre-existing types: ['3_0' '3_0' '3_0' '3_0']
Double check type overwriting: row 3371, sentence 2
Common indices: [12, 13, 14] | Pre-existing types: ['3_0' '3_0' '3_0']
Double check type overwriting: row 3556, sentence 1
Common indices: [0, 1] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 3556, sentence 2
Common indices: [20] | Pre-existing types: ['3_0']
Double check type overwriting: row 3624, sentence 1
Common indices: [2, 3] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 3624, sentence 2
Common indices: [8] | Pre-existing types: ['3_0']
Double check type overwriting: row 3668, sentence 1
Common indices: [24] | Pre-existing types: ['3_0']
Double check type overwriting: row 3668, sentence 2
Common indices: [2] | Pre-existing types: ['3_0']
Double check type overwriting: row 3680, sentence 1
Common indices: [6, 7, 8] | Pre-existing types: ['3_0' '3_0' '3_0']
Double check type overwriting: row 3680, sentence 2
Common indices: [1, 2] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 3883, sentence 2
Common indices: [22] | Pre-existing types: ['4_0']
Double check type overwriting: row 4005, sentence 1
Common indices: [13, 14] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 4005, sentence 2
Common indices: [12] | Pre-existing types: ['3_0']
Double check type overwriting: row 4047, sentence 1
Common indices: [0, 1, 2, 3, 4, 5] | Pre-existing types: ['5_0' '5_0' '5_0' '5_0' '5_0' '5_0']
Double check type overwriting: row 4047, sentence 2
Common indices: [1] | Pre-existing types: ['5_0']
Double check type overwriting: row 4052, sentence 1
Common indices: [17, 18, 19, 20, 21] | Pre-existing types: ['3_0' '3_0' '3_0' '3_0' '3_0']
Double check type overwriting: row 4052, sentence 2
Common indices: [20, 21] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 4498, sentence 1
Common indices: [5] | Pre-existing types: ['3_1']
Double check type overwriting: row 4498, sentence 2
Common indices: [10, 11, 12] | Pre-existing types: ['3_1' '3_1' '3_1']
Double check type overwriting: row 4820, sentence 1
Common indices: [13, 14] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 4820, sentence 2
Common indices: [7] | Pre-existing types: ['3_0']
Double check type overwriting: row 4843, sentence 1
Common indices: [14, 15, 16, 17, 18, 19, 20, 21] | Pre-existing types: ['3_0' '3_0' '3_0' '3_0' '3_0' '3_0' '3_0' '3_0']
Double check type overwriting: row 4843, sentence 2
Common indices: [12] | Pre-existing types: ['3_0']
Double check type overwriting: row 4886, sentence 1
Common indices: [5] | Pre-existing types: ['3_0']
Double check type overwriting: row 4886, sentence 2
Common indices: [1] | Pre-existing types: ['3_0']
Double check type overwriting: row 4895, sentence 1
Common indices: [0] | Pre-existing types: ['3_0']
Double check type overwriting: row 4895, sentence 2
Common indices: [6] | Pre-existing types: ['3_0']
Double check type overwriting: row 5290, sentence 1
Common indices: [2, 3] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 5290, sentence 2
Common indices: [0] | Pre-existing types: ['3_0']
Double check type overwriting: row 5301, sentence 1
Common indices: [19, 20, 21, 22, 23, 24, 25, 26, 27] | Pre-existing types: ['3_0' '3_0' '3_0' '3_0' '3_0' '3_0' '3_0' '3_0' '3_0']
Double check type overwriting: row 5301, sentence 2
Common indices: [18] | Pre-existing types: ['3_0']
Double check type overwriting: row 5455, sentence 1
Common indices: [4] | Pre-existing types: ['3_0']
Double check type overwriting: row 5455, sentence 2
Common indices: [0] | Pre-existing types: ['3_0']
Double check type overwriting: row 5536, sentence 1
Common indices: [1] | Pre-existing types: ['3_0']
Double check type overwriting: row 5536, sentence 2
Common indices: [2] | Pre-existing types: ['3_0']
Double check type overwriting: row 5687, sentence 1
Common indices: [3] | Pre-existing types: ['3_0']
Double check type overwriting: row 5687, sentence 2
Common indices: [27] | Pre-existing types: ['3_0']
Double check type overwriting: row 5704, sentence 1
Common indices: [0] | Pre-existing types: ['3_0']
Double check type overwriting: row 5704, sentence 2
Common indices: [2] | Pre-existing types: ['3_0']

##### CSV Annotation for the rest

In [93]:
contextual.to_csv('remaining_contextual.csv')

After annotating on CSV file...

In [94]:
context_indices = pd.read_csv('contextual_only.csv')
straight_indices = pd.read_csv('straight_synonym_only.csv')

In [95]:
context_indices.set_index('idx', inplace=True)
straight_indices.set_index('idx', inplace=True)

In [96]:
remaining_context = contextual.loc[context_indices.index.to_list(),:]
remaining_straight = contextual.loc[straight_indices.index.to_list(),:]

In [97]:
substitute(6, remaining_context)

Double check type overwriting: row 1432, sentence 1
Common indices: [12] | Pre-existing types: ['3_0']
Double check type overwriting: row 1432, sentence 2
Common indices: [17, 18] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 1920, sentence 1
Common indices: [15] | Pre-existing types: ['3_0']
Double check type overwriting: row 1920, sentence 2
Common indices: [13] | Pre-existing types: ['3_0']
Double check type overwriting: row 2421, sentence 1
Common indices: [1] | Pre-existing types: ['2_0']
Double check type overwriting: row 2609, sentence 1
Common indices: [4] | Pre-existing types: ['3_0']
Double check type overwriting: row 2609, sentence 2
Common indices: [1] | Pre-existing types: ['3_0']
Double check type overwriting: row 2658, sentence 1
Common indices: [14, 20] | Pre-existing types: ['3_0 & 2_0' '2_1']
Double check type overwriting: row 3198, sentence 1
Common indices: [0, 1] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 3198, sentence 2
Common indices: [2, 3] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 3211, sentence 1
Common indices: [21, 22] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 3211, sentence 2
Common indices: [26] | Pre-existing types: ['3_0']
Double check type overwriting: row 3828, sentence 1
Common indices: [3] | Pre-existing types: ['3_0']
Double check type overwriting: row 3828, sentence 2
Common indices: [27] | Pre-existing types: ['3_0']
Double check type overwriting: row 3850, sentence 1
Common indices: [2] | Pre-existing types: ['3_0']
Double check type overwriting: row 3850, sentence 2
Common indices: [5, 6, 7, 8, 9] | Pre-existing types: ['3_0' '3_0' '3_0' '3_0' '3_0']
Double check type overwriting: row 3940, sentence 1
Common indices: [13, 14] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 3940, sentence 2
Common indices: [28] | Pre-existing types: ['3_0']
Double check type overwriting: row 4028, sentence 1
Common indices: [8] | Pre-existing types: ['3_0']
Double check type overwriting: row 4028, sentence 2
Common indices: [5] | Pre-existing types: ['3_0']
Double check type overwriting: row 5619, sentence 1
Common indices: [0] | Pre-existing types: ['3_0']
Double check type overwriting: row 5619, sentence 2
Common indices: [5] | Pre-existing types: ['3_0']

In [98]:
substitute(6, remaining_straight, 4)

Double check type overwriting: row 56, sentence 1
Common indices: [4] | Pre-existing types: ['3_0']
Double check type overwriting: row 56, sentence 2
Common indices: [0, 1] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 112, sentence 1
Common indices: [22] | Pre-existing types: ['3_1']
Double check type overwriting: row 112, sentence 2
Common indices: [7, 8] | Pre-existing types: ['3_1' '3_1']
Double check type overwriting: row 235, sentence 1
Common indices: [3] | Pre-existing types: ['3_0']
Double check type overwriting: row 235, sentence 2
Common indices: [8, 9, 10, 11] | Pre-existing types: ['3_0' '3_0' '3_0' '3_0']
Double check type overwriting: row 473, sentence 1
Common indices: [3] | Pre-existing types: ['3_0']
Double check type overwriting: row 473, sentence 2
Common indices: [1] | Pre-existing types: ['3_0']
Double check type overwriting: row 473, sentence 1
Common indices: [7, 8] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 473, sentence 2
Common indices: [4] | Pre-existing types: ['3_0']
Double check type overwriting: row 480, sentence 1
Common indices: [18, 19] | Pre-existing types: ['3_1' '3_1']
Double check type overwriting: row 480, sentence 2
Common indices: [4] | Pre-existing types: ['3_1']
Double check type overwriting: row 586, sentence 1
Common indices: [8] | Pre-existing types: ['3_0']
Double check type overwriting: row 586, sentence 2
Common indices: [4] | Pre-existing types: ['3_0']
Double check type overwriting: row 589, sentence 1
Common indices: [23] | Pre-existing types: ['3_0']
Double check type overwriting: row 589, sentence 2
Common indices: [5, 6] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 809, sentence 1
Common indices: [15] | Pre-existing types: ['3_0']
Double check type overwriting: row 809, sentence 2
Common indices: [3] | Pre-existing types: ['3_0']
Double check type overwriting: row 809, sentence 1
Common indices: [17] | Pre-existing types: ['3_0']
Double check type overwriting: row 809, sentence 2
Common indices: [5] | Pre-existing types: ['3_0']
Double check type overwriting: row 809, sentence 1
Common indices: [16, 17] | Pre-existing types: ['3_0' '3_0 & 4_1']
Double check type overwriting: row 809, sentence 2
Common indices: [4, 5] | Pre-existing types: ['3_0' '3_0 & 4_1']
Double check type overwriting: row 864, sentence 1
Common indices: [6] | Pre-existing types: ['3_1']
Double check type overwriting: row 864, sentence 2
Common indices: [21, 22, 23] | Pre-existing types: ['3_1' '3_1' '3_1']
Double check type overwriting: row 908, sentence 1
Common indices: [2, 5] | Pre-existing types: ['4_0' '4_0']
Double check type overwriting: row 908, sentence 2
Common indices: [1] | Pre-existing types: ['4_0']
Double check type overwriting: row 930, sentence 1
Common indices: [17] | Pre-existing types: ['3_3']
Double check type overwriting: row 930, sentence 2
Common indices: [5] | Pre-existing types: ['3_3']
Double check type overwriting: row 937, sentence 1
Common indices: [8] | Pre-existing types: ['3_0']
Double check type overwriting: row 937, sentence 2
Common indices: [15] | Pre-existing types: ['3_0']
Double check type overwriting: row 1055, sentence 1
Common indices: [21] | Pre-existing types: ['3_0']
Double check type overwriting: row 1055, sentence 2
Common indices: [21] | Pre-existing types: ['3_0']
Double check type overwriting: row 1142, sentence 1
Common indices: [5] | Pre-existing types: ['3_0']
Double check type overwriting: row 1142, sentence 2
Common indices: [5] | Pre-existing types: ['3_0']
Double check type overwriting: row 1323, sentence 1
Common indices: [5] | Pre-existing types: ['4_0']
Double check type overwriting: row 1323, sentence 2
Common indices: [7] | Pre-existing types: ['4_0']
Double check type overwriting: row 1334, sentence 1
Common indices: [10] | Pre-existing types: ['3_0']
Double check type overwriting: row 1334, sentence 2
Common indices: [2] | Pre-existing types: ['3_0']
Double check type overwriting: row 1345, sentence 1
Common indices: [23] | Pre-existing types: ['3_0']
Double check type overwriting: row 1345, sentence 2
Common indices: [10] | Pre-existing types: ['3_0']
Double check type overwriting: row 1499, sentence 1
Common indices: [11] | Pre-existing types: ['3_0']
Double check type overwriting: row 1499, sentence 2
Common indices: [14] | Pre-existing types: ['3_0']
Double check type overwriting: row 1618, sentence 1
Common indices: [2, 3, 4] | Pre-existing types: ['3_0' '3_0' '3_0']
Double check type overwriting: row 1618, sentence 2
Common indices: [5, 6] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 1643, sentence 1
Common indices: [14] | Pre-existing types: ['3_0']
Double check type overwriting: row 1643, sentence 2
Common indices: [19] | Pre-existing types: ['3_0']
Double check type overwriting: row 1810, sentence 1
Common indices: [0, 1] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 1810, sentence 2
Common indices: [10, 11, 12, 13] | Pre-existing types: ['3_0' '3_0' '3_0' '3_0']
Double check type overwriting: row 1864, sentence 1
Common indices: [9] | Pre-existing types: ['3_0']
Double check type overwriting: row 1864, sentence 2
Common indices: [10] | Pre-existing types: ['3_0']
Double check type overwriting: row 1869, sentence 1
Common indices: [21] | Pre-existing types: ['3_0']
Double check type overwriting: row 1869, sentence 2
Common indices: [18] | Pre-existing types: ['3_0']
Double check type overwriting: row 1888, sentence 1
Common indices: [17] | Pre-existing types: ['3_0']
Double check type overwriting: row 1888, sentence 2
Common indices: [13] | Pre-existing types: ['3_0']
Double check type overwriting: row 1931, sentence 1
Common indices: [27] | Pre-existing types: ['3_0']
Double check type overwriting: row 1931, sentence 2
Common indices: [1] | Pre-existing types: ['3_0']
Double check type overwriting: row 1931, sentence 1
Common indices: [8] | Pre-existing types: ['3_1']
Double check type overwriting: row 1931, sentence 2
Common indices: [8] | Pre-existing types: ['3_1']
Double check type overwriting: row 1984, sentence 1
Common indices: [27] | Pre-existing types: ['3_0']
Double check type overwriting: row 1984, sentence 2
Common indices: [5, 6, 7, 8] | Pre-existing types: ['3_0' '3_0' '3_0' '3_0']
Double check type overwriting: row 2067, sentence 1
Common indices: [2] | Pre-existing types: ['4_1']
Double check type overwriting: row 2067, sentence 2
Common indices: [1] | Pre-existing types: ['4_1']
Double check type overwriting: row 2112, sentence 1
Common indices: [5] | Pre-existing types: ['4_1']
Double check type overwriting: row 2112, sentence 2
Common indices: [6] | Pre-existing types: ['4_1']
Double check type overwriting: row 2297, sentence 1
Common indices: [2, 3, 4, 5] | Pre-existing types: ['3_0' '3_0' '3_0' '3_0']
Double check type overwriting: row 2297, sentence 2
Common indices: [6, 7, 8, 9] | Pre-existing types: ['3_0' '3_0' '3_0' '3_0']
Double check type overwriting: row 2325, sentence 1
Common indices: [0, 4] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 2325, sentence 2
Common indices: [7] | Pre-existing types: ['3_0']
Double check type overwriting: row 2336, sentence 1
Common indices: [0, 1] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 2336, sentence 2
Common indices: [6] | Pre-existing types: ['3_0']
Double check type overwriting: row 2336, sentence 1
Common indices: [3] | Pre-existing types: ['3_0']
Double check type overwriting: row 2336, sentence 2
Common indices: [8] | Pre-existing types: ['3_0']
Double check type overwriting: row 2336, sentence 1
Common indices: [6] | Pre-existing types: ['3_0']
Double check type overwriting: row 2336, sentence 2
Common indices: [12] | Pre-existing types: ['3_0']
Double check type overwriting: row 2617, sentence 1
Common indices: [10] | Pre-existing types: ['3_0']
Double check type overwriting: row 2617, sentence 2
Common indices: [3] | Pre-existing types: ['3_0']
Double check type overwriting: row 2650, sentence 1
Common indices: [12] | Pre-existing types: ['3_0']
Double check type overwriting: row 2650, sentence 2
Common indices: [8] | Pre-existing types: ['3_0']
Double check type overwriting: row 2681, sentence 1
Common indices: [7] | Pre-existing types: ['3_0']
Double check type overwriting: row 2681, sentence 2
Common indices: [10] | Pre-existing types: ['3_0']
Double check type overwriting: row 2753, sentence 1
Common indices: [7, 9] | Pre-existing types: ['4_0' '4_0']
Double check type overwriting: row 2964, sentence 1
Common indices: [22, 23] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 2964, sentence 2
Common indices: [21] | Pre-existing types: ['3_0']
Double check type overwriting: row 2983, sentence 1
Common indices: [7] | Pre-existing types: ['3_0']
Double check type overwriting: row 2983, sentence 2
Common indices: [9] | Pre-existing types: ['3_0']
Double check type overwriting: row 3148, sentence 1
Common indices: [22] | Pre-existing types: ['3_0']
Double check type overwriting: row 3148, sentence 2
Common indices: [18] | Pre-existing types: ['3_0']
Double check type overwriting: row 3180, sentence 1
Common indices: [3] | Pre-existing types: ['3_0']
Double check type overwriting: row 3180, sentence 2
Common indices: [10] | Pre-existing types: ['3_0']
Double check type overwriting: row 3180, sentence 1
Common indices: [7] | Pre-existing types: ['3_0']
Double check type overwriting: row 3180, sentence 2
Common indices: [14, 15, 16] | Pre-existing types: ['3_0' '3_0' '3_0']
Double check type overwriting: row 3180, sentence 1
Common indices: [8] | Pre-existing types: ['3_0']
Double check type overwriting: row 3180, sentence 2
Common indices: [17] | Pre-existing types: ['3_0']
Double check type overwriting: row 3191, sentence 1
Common indices: [14] | Pre-existing types: ['3_0']
Double check type overwriting: row 3191, sentence 2
Common indices: [22, 23] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 3417, sentence 1
Common indices: [5] | Pre-existing types: ['3_0']
Double check type overwriting: row 3417, sentence 2
Common indices: [8] | Pre-existing types: ['3_0']
Double check type overwriting: row 3417, sentence 1
Common indices: [9] | Pre-existing types: ['3_0']
Double check type overwriting: row 3417, sentence 2
Common indices: [12] | Pre-existing types: ['3_0']
Double check type overwriting: row 3429, sentence 1
Common indices: [4] | Pre-existing types: ['3_0']
Double check type overwriting: row 3429, sentence 2
Common indices: [0] | Pre-existing types: ['3_0']
Double check type overwriting: row 3503, sentence 1
Common indices: [0, 1] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 3503, sentence 2
Common indices: [19] | Pre-existing types: ['3_0']
Double check type overwriting: row 3583, sentence 1
Common indices: [4, 5] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 3583, sentence 2
Common indices: [0, 1] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 3624, sentence 1
Common indices: [21] | Pre-existing types: ['3_0']
Double check type overwriting: row 3624, sentence 2
Common indices: [25] | Pre-existing types: ['3_0']
Double check type overwriting: row 3665, sentence 1
Common indices: [1] | Pre-existing types: ['3_0']
Double check type overwriting: row 3665, sentence 2
Common indices: [2] | Pre-existing types: ['3_0']
Double check type overwriting: row 3665, sentence 1
Common indices: [10] | Pre-existing types: ['3_0']
Double check type overwriting: row 3665, sentence 2
Common indices: [13] | Pre-existing types: ['3_0']
Double check type overwriting: row 3665, sentence 1
Common indices: [14] | Pre-existing types: ['3_0']
Double check type overwriting: row 3665, sentence 2
Common indices: [15] | Pre-existing types: ['3_0']
Double check type overwriting: row 3715, sentence 1
Common indices: [2] | Pre-existing types: ['3_0']
Double check type overwriting: row 3715, sentence 2
Common indices: [23] | Pre-existing types: ['3_0']
Double check type overwriting: row 3765, sentence 1
Common indices: [0, 2] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 3765, sentence 2
Common indices: [18, 20] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 3770, sentence 1
Common indices: [1] | Pre-existing types: ['4_0']
Double check type overwriting: row 3770, sentence 2
Common indices: [1] | Pre-existing types: ['4_0']
Double check type overwriting: row 3975, sentence 1
Common indices: [11] | Pre-existing types: ['3_0']
Double check type overwriting: row 3975, sentence 2
Common indices: [2] | Pre-existing types: ['3_0']
Double check type overwriting: row 4030, sentence 1
Common indices: [9, 10, 11, 12] | Pre-existing types: ['3_0' '3_0' '3_0' '3_0']
Double check type overwriting: row 4030, sentence 2
Common indices: [5, 6] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 4116, sentence 1
Common indices: [7, 8] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 4116, sentence 2
Common indices: [0, 1] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 4288, sentence 1
Common indices: [9, 10] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 4288, sentence 2
Common indices: [14] | Pre-existing types: ['3_0']
Double check type overwriting: row 4339, sentence 1
Common indices: [3] | Pre-existing types: ['3_0']
Double check type overwriting: row 4339, sentence 2
Common indices: [1] | Pre-existing types: ['3_0']
Double check type overwriting: row 4449, sentence 1
Common indices: [11, 12] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 4449, sentence 2
Common indices: [13] | Pre-existing types: ['3_0']
Double check type overwriting: row 4543, sentence 2
Common indices: [3, 4, 5] | Pre-existing types: ['4_0' '4_0' '4_0']
Double check type overwriting: row 4550, sentence 1
Common indices: [0, 1] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 4550, sentence 2
Common indices: [18, 19, 20] | Pre-existing types: ['3_0' '3_0' '3_0']
Double check type overwriting: row 4615, sentence 1
Common indices: [2] | Pre-existing types: ['3_0']
Double check type overwriting: row 4615, sentence 2
Common indices: [8, 9] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 4664, sentence 1
Common indices: [15, 16] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 4664, sentence 2
Common indices: [11] | Pre-existing types: ['3_0']
Double check type overwriting: row 4901, sentence 1
Common indices: [23] | Pre-existing types: ['4_1']
Double check type overwriting: row 4901, sentence 2
Common indices: [15] | Pre-existing types: ['4_1']
Double check type overwriting: row 4945, sentence 1
Common indices: [24] | Pre-existing types: ['3_0']
Double check type overwriting: row 4945, sentence 2
Common indices: [9] | Pre-existing types: ['3_0']
Double check type overwriting: row 5031, sentence 1
Common indices: [16] | Pre-existing types: ['3_0']
Double check type overwriting: row 5031, sentence 2
Common indices: [11] | Pre-existing types: ['3_0']
Double check type overwriting: row 5249, sentence 1
Common indices: [2] | Pre-existing types: ['3_0']
Double check type overwriting: row 5249, sentence 2
Common indices: [9] | Pre-existing types: ['3_0']
Double check type overwriting: row 5249, sentence 1
Common indices: [10, 11, 12] | Pre-existing types: ['3_0' '3_0' '3_0']
Double check type overwriting: row 5249, sentence 2
Common indices: [15] | Pre-existing types: ['3_0']
Double check type overwriting: row 5455, sentence 1
Common indices: [9] | Pre-existing types: ['3_0']
Double check type overwriting: row 5455, sentence 2
Common indices: [3, 4] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 5571, sentence 1
Common indices: [3, 5, 6] | Pre-existing types: ['3_0' '3_0' '3_0']
Double check type overwriting: row 5571, sentence 2
Common indices: [13, 15, 16] | Pre-existing types: ['3_0' '3_0' '3_0']
Double check type overwriting: row 5576, sentence 1
Common indices: [10] | Pre-existing types: ['3_0']
Double check type overwriting: row 5576, sentence 2
Common indices: [20] | Pre-existing types: ['3_0']
Double check type overwriting: row 5702, sentence 1
Common indices: [0, 1, 2] | Pre-existing types: ['3_0' '3_0' '3_0']
Double check type overwriting: row 5702, sentence 2
Common indices: [9] | Pre-existing types: ['3_0']
Double check type overwriting: row 5786, sentence 1
Common indices: [21, 22] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 5786, sentence 2
Common indices: [4] | Pre-existing types: ['3_0']

### Derivational Changes

In [99]:
substitute(3)

Double check type overwriting: row 254, sentence 1
Common indices: [23] | Pre-existing types: ['4_0']
Double check type overwriting: row 254, sentence 2
Common indices: [21] | Pre-existing types: ['4_0']
Double check type overwriting: row 433, sentence 1
Common indices: [17] | Pre-existing types: ['4_0']
Double check type overwriting: row 433, sentence 2
Common indices: [17] | Pre-existing types: ['4_0']
Double check type overwriting: row 449, sentence 1
Common indices: [5] | Pre-existing types: ['4_1']
Double check type overwriting: row 449, sentence 2
Common indices: [22] | Pre-existing types: ['4_1']
Double check type overwriting: row 480, sentence 1
Common indices: [4] | Pre-existing types: ['3_0']
Double check type overwriting: row 480, sentence 2
Common indices: [16] | Pre-existing types: ['3_0']
Double check type overwriting: row 608, sentence 1
Common indices: [5] | Pre-existing types: ['4_2']
Double check type overwriting: row 608, sentence 2
Common indices: [5] | Pre-existing types: ['4_2']
Double check type overwriting: row 810, sentence 1
Common indices: [14] | Pre-existing types: ['4_1']
Double check type overwriting: row 810, sentence 2
Common indices: [20] | Pre-existing types: ['4_1']
Double check type overwriting: row 1484, sentence 1
Common indices: [3] | Pre-existing types: ['3_0']
Double check type overwriting: row 1484, sentence 2
Common indices: [5] | Pre-existing types: ['3_0']
Double check type overwriting: row 1842, sentence 1
Common indices: [13] | Pre-existing types: ['4_1']
Double check type overwriting: row 1842, sentence 2
Common indices: [9] | Pre-existing types: ['4_1']
Double check type overwriting: row 1984, sentence 1
Common indices: [4] | Pre-existing types: ['3_1']
Double check type overwriting: row 1984, sentence 2
Common indices: [25] | Pre-existing types: ['3_1']
Double check type overwriting: row 2099, sentence 1
Common indices: [12] | Pre-existing types: ['4_0']
Double check type overwriting: row 2112, sentence 1
Common indices: [5] | Pre-existing types: ['4_1 & 4_2']
Double check type overwriting: row 2112, sentence 2
Common indices: [6] | Pre-existing types: ['4_1 & 4_2']

Double check type overwriting: row 2226, sentence 1
Common indices: [13] | Pre-existing types: ['4_2']
Double check type overwriting: row 2226, sentence 2
Common indices: [19] | Pre-existing types: ['4_2']
Double check type overwriting: row 2346, sentence 1
Common indices: [2] | Pre-existing types: ['4_0']
Double check type overwriting: row 2346, sentence 2
Common indices: [4] | Pre-existing types: ['4_0']
Double check type overwriting: row 2394, sentence 1
Common indices: [11] | Pre-existing types: ['5_0']
Double check type overwriting: row 2394, sentence 2
Common indices: [3] | Pre-existing types: ['5_0']
Double check type overwriting: row 2625, sentence 1
Common indices: [1] | Pre-existing types: ['3_0']
Double check type overwriting: row 2625, sentence 2
Common indices: [22] | Pre-existing types: ['3_0']
Double check type overwriting: row 2973, sentence 1
Common indices: [14] | Pre-existing types: ['4_0']
Double check type overwriting: row 2973, sentence 2
Common indices: [9] | Pre-existing types: ['4_0']
Double check type overwriting: row 3110, sentence 1
Common indices: [8] | Pre-existing types: ['3_0']
Double check type overwriting: row 3110, sentence 2
Common indices: [12] | Pre-existing types: ['3_0']
Double check type overwriting: row 3227, sentence 1
Common indices: [4] | Pre-existing types: ['4_0']
Double check type overwriting: row 3227, sentence 2
Common indices: [10] | Pre-existing types: ['4_0']
Double check type overwriting: row 3309, sentence 1
Common indices: [1] | Pre-existing types: ['4_1']
Double check type overwriting: row 3309, sentence 2
Common indices: [1] | Pre-existing types: ['4_1']
Double check type overwriting: row 3668, sentence 1
Common indices: [26] | Pre-existing types: ['3_0']
Double check type overwriting: row 3668, sentence 2
Common indices: [3] | Pre-existing types: ['3_0']
Double check type overwriting: row 3971, sentence 1
Common indices: [13, 14] | Pre-existing types: ['5_0' '5_0']
Double check type overwriting: row 3971, sentence 2
Common indices: [16] | Pre-existing types: ['5_0']
Double check type overwriting: row 4088, sentence 2
Common indices: [3] | Pre-existing types: ['4_0']
Double check type overwriting: row 4339, sentence 1
Common indices: [6] | Pre-existing types: ['3_0']
Double check type overwriting: row 4339, sentence 2
Common indices: [7] | Pre-existing types: ['3_0']
Double check type overwriting: row 4493, sentence 1
Common indices: [16] | Pre-existing types: ['4_0']
Double check type overwriting: row 4493, sentence 2
Common indices: [17] | Pre-existing types: ['4_0']
Double check type overwriting: row 4521, sentence 1
Common indices: [20] | Pre-existing types: ['3_0']
Double check type overwriting: row 4521, sentence 2
Common indices: [16] | Pre-existing types: ['3_0']
Double check type overwriting: row 4562, sentence 1
Common indices: [14] | Pre-existing types: ['4_0']
Double check type overwriting: row 4562, sentence 2
Common indices: [6] | Pre-existing types: ['4_0']
Double check type overwriting: row 4831, sentence 1
Common indices: [5] | Pre-existing types: ['4_0']
Double check type overwriting: row 4831, sentence 2
Common indices: [5] | Pre-existing types: ['4_0']
Double check type overwriting: row 4901, sentence 1
Common indices: [23] | Pre-existing types: ['4_1 & 4_2']
Double check type overwriting: row 4901, sentence 2
Common indices: [15] | Pre-existing types: ['4_1 & 4_2']
Double check type overwriting: row 5709, sentence 1
Common indices: [15] | Pre-existing types: ['3_0']
Double check type overwriting: row 5709, sentence 2
Common indices: [7] | Pre-existing types: ['3_0']

### Inflectional Changes

In [100]:
substitute(1)

Double check type overwriting: row 47, sentence 1
Common indices: [3] | Pre-existing types: ['4_0']
Double check type overwriting: row 47, sentence 2
Common indices: [3] | Pre-existing types: ['4_0']
Double check type overwriting: row 76, sentence 1
Common indices: [2] | Pre-existing types: ['3_0']
Double check type overwriting: row 76, sentence 2
Common indices: [20] | Pre-existing types: ['3_0']
Double check type overwriting: row 120, sentence 1
Common indices: [13] | Pre-existing types: ['4_0']
Double check type overwriting: row 120, sentence 2
Common indices: [11] | Pre-existing types: ['4_0']
Double check type overwriting: row 164, sentence 1
Common indices: [7] | Pre-existing types: ['4_0']
Double check type overwriting: row 164, sentence 2
Common indices: [11] | Pre-existing types: ['4_0']
Double check type overwriting: row 194, sentence 1
Common indices: [15] | Pre-existing types: ['3_0']
Double check type overwriting: row 194, sentence 2
Common indices: [19] | Pre-existing types: ['3_0']
Double check type overwriting: row 261, sentence 1
Common indices: [2] | Pre-existing types: ['4_0']
Double check type overwriting: row 261, sentence 2
Common indices: [1] | Pre-existing types: ['4_0']
Double check type overwriting: row 357, sentence 1
Common indices: [9] | Pre-existing types: ['4_0']
Double check type overwriting: row 357, sentence 2
Common indices: [7, 8, 9, 10] | Pre-existing types: ['4_0' '4_0' '4_0' '4_0']
Double check type overwriting: row 380, sentence 1
Common indices: [2] | Pre-existing types: ['4_0']
Double check type overwriting: row 380, sentence 2
Common indices: [2] | Pre-existing types: ['4_0']
Double check type overwriting: row 500, sentence 1
Common indices: [5] | Pre-existing types: ['4_1']
Double check type overwriting: row 500, sentence 2
Common indices: [2] | Pre-existing types: ['4_1']
Double check type overwriting: row 562, sentence 1
Common indices: [3] | Pre-existing types: ['4_0']
Double check type overwriting: row 562, sentence 2
Common indices: [1] | Pre-existing types: ['4_0']
Double check type overwriting: row 633, sentence 1
Common indices: [7, 8] | Pre-existing types: ['4_0' '4_0']
Double check type overwriting: row 633, sentence 2
Common indices: [8] | Pre-existing types: ['4_0']
Double check type overwriting: row 649, sentence 1
Common indices: [3] | Pre-existing types: ['4_0']
Double check type overwriting: row 649, sentence 2
Common indices: [5] | Pre-existing types: ['4_0']
Double check type overwriting: row 842, sentence 1
Common indices: [3] | Pre-existing types: ['4_0']
Double check type overwriting: row 842, sentence 2
Common indices: [4] | Pre-existing types: ['4_0']
Double check type overwriting: row 859, sentence 1
Common indices: [15] | Pre-existing types: ['4_0']
Double check type overwriting: row 859, sentence 2
Common indices: [14] | Pre-existing types: ['4_0']
Double check type overwriting: row 919, sentence 1
Common indices: [11] | Pre-existing types: ['4_0']
Double check type overwriting: row 919, sentence 2
Common indices: [11] | Pre-existing types: ['4_0']
Double check type overwriting: row 938, sentence 1
Common indices: [9, 10, 11] | Pre-existing types: ['3_0' '3_0' '3_0']
Double check type overwriting: row 938, sentence 2
Common indices: [4, 5, 6] | Pre-existing types: ['3_0' '3_0' '3_0']
Double check type overwriting: row 979, sentence 1
Common indices: [3] | Pre-existing types: ['4_0']
Double check type overwriting: row 979, sentence 2
Common indices: [12] | Pre-existing types: ['4_0']
Double check type overwriting: row 1016, sentence 1
Common indices: [14] | Pre-existing types: ['4_0']
Double check type overwriting: row 1016, sentence 2
Common indices: [15, 16] | Pre-existing types: ['4_0' '4_0']
Double check type overwriting: row 1054, sentence 1
Common indices: [4] | Pre-existing types: ['4_0']
Double check type overwriting: row 1054, sentence 2
Common indices: [0, 3] | Pre-existing types: ['4_0' '4_0']
Double check type overwriting: row 1055, sentence 1
Common indices: [17] | Pre-existing types: ['4_0']
Double check type overwriting: row 1055, sentence 2
Common indices: [22] | Pre-existing types: ['4_0']
Double check type overwriting: row 1182, sentence 1
Common indices: [10] | Pre-existing types: ['3_0']
Double check type overwriting: row 1182, sentence 2
Common indices: [9] | Pre-existing types: ['3_0']
Double check type overwriting: row 1183, sentence 1
Common indices: [8] | Pre-existing types: ['6_0']
Double check type overwriting: row 1206, sentence 1
Common indices: [29] | Pre-existing types: ['4_2']
Double check type overwriting: row 1206, sentence 2
Common indices: [29] | Pre-existing types: ['4_2']
Double check type overwriting: row 1426, sentence 1
Common indices: [3] | Pre-existing types: ['4_2']
Double check type overwriting: row 1426, sentence 2
Common indices: [3] | Pre-existing types: ['4_2']
Double check type overwriting: row 1448, sentence 1
Common indices: [9] | Pre-existing types: ['4_0']
Double check type overwriting: row 1448, sentence 2
Common indices: [10] | Pre-existing types: ['4_0']
Double check type overwriting: row 1701, sentence 1
Common indices: [1] | Pre-existing types: ['4_0']
Double check type overwriting: row 1701, sentence 2
Common indices: [2] | Pre-existing types: ['4_0']
Double check type overwriting: row 1709, sentence 1
Common indices: [1] | Pre-existing types: ['5_0']
Double check type overwriting: row 1709, sentence 2
Common indices: [12] | Pre-existing types: ['5_0']
Double check type overwriting: row 1730, sentence 1
Common indices: [1] | Pre-existing types: ['3_0']
Double check type overwriting: row 1730, sentence 2
Common indices: [16] | Pre-existing types: ['3_0']
Double check type overwriting: row 1765, sentence 1
Common indices: [3] | Pre-existing types: ['4_0']
Double check type overwriting: row 1765, sentence 2
Common indices: [4] | Pre-existing types: ['4_0']
Double check type overwriting: row 1765, sentence 1
Common indices: [2] | Pre-existing types: ['4_2']
Double check type overwriting: row 1765, sentence 2
Common indices: [3] | Pre-existing types: ['4_2']
Double check type overwriting: row 1817, sentence 1
Common indices: [13] | Pre-existing types: ['4_0']
Double check type overwriting: row 1817, sentence 2
Common indices: [13] | Pre-existing types: ['4_0']
Double check type overwriting: row 1829, sentence 1
Common indices: [1] | Pre-existing types: ['4_0']
Double check type overwriting: row 1829, sentence 2
Common indices: [18] | Pre-existing types: ['4_0']
Double check type overwriting: row 1834, sentence 1
Common indices: [18] | Pre-existing types: ['4_0']
Double check type overwriting: row 1834, sentence 2
Common indices: [17] | Pre-existing types: ['4_0']
Double check type overwriting: row 1842, sentence 1
Common indices: [8] | Pre-existing types: ['4_0']
Double check type overwriting: row 1842, sentence 2
Common indices: [3] | Pre-existing types: ['4_0']
Double check type overwriting: row 1912, sentence 1
Common indices: [2] | Pre-existing types: ['3_0']
Double check type overwriting: row 1912, sentence 2
Common indices: [1] | Pre-existing types: ['3_0']
Double check type overwriting: row 1913, sentence 1
Common indices: [3] | Pre-existing types: ['4_0']
Double check type overwriting: row 1913, sentence 2
Common indices: [3] | Pre-existing types: ['4_0']
Double check type overwriting: row 1957, sentence 1
Common indices: [3] | Pre-existing types: ['4_2']
Double check type overwriting: row 1957, sentence 2
Common indices: [3, 4] | Pre-existing types: ['4_2' '4_2']
Double check type overwriting: row 2010, sentence 1
Common indices: [11] | Pre-existing types: ['3_0']
Double check type overwriting: row 2010, sentence 2
Common indices: [8] | Pre-existing types: ['3_0']
Double check type overwriting: row 2058, sentence 1
Common indices: [15] | Pre-existing types: ['4_0']
Double check type overwriting: row 2058, sentence 2
Common indices: [15] | Pre-existing types: ['4_0']
Double check type overwriting: row 2060, sentence 1
Common indices: [6] | Pre-existing types: ['4_0']
Double check type overwriting: row 2060, sentence 2
Common indices: [3] | Pre-existing types: ['4_0']
Double check type overwriting: row 2099, sentence 1
Common indices: [12] | Pre-existing types: ['4_0 & 6_0']
Double check type overwriting: row 2099, sentence 2
Common indices: [11] | Pre-existing types: ['4_0']
Double check type overwriting: row 2100, sentence 1
Common indices: [15] | Pre-existing types: ['4_0']
Double check type overwriting: row 2100, sentence 2
Common indices: [17] | Pre-existing types: ['4_0']
Double check type overwriting: row 2100, sentence 1
Common indices: [7] | Pre-existing types: ['4_1']
Double check type overwriting: row 2100, sentence 2
Common indices: [8] | Pre-existing types: ['4_1']
Double check type overwriting: row 2139, sentence 1
Common indices: [13] | Pre-existing types: ['2_0']
Double check type overwriting: row 2200, sentence 1
Common indices: [7] | Pre-existing types: ['4_0']
Double check type overwriting: row 2200, sentence 2
Common indices: [8] | Pre-existing types: ['4_0']
Double check type overwriting: row 2289, sentence 1
Common indices: [7] | Pre-existing types: ['4_1']
Double check type overwriting: row 2289, sentence 2
Common indices: [5, 6] | Pre-existing types: ['4_1' '4_1']
Double check type overwriting: row 2292, sentence 1
Common indices: [3] | Pre-existing types: ['4_0']
Double check type overwriting: row 2292, sentence 2
Common indices: [1] | Pre-existing types: ['4_0']
Double check type overwriting: row 2336, sentence 1
Common indices: [18] | Pre-existing types: ['3_0']
Double check type overwriting: row 2336, sentence 2
Common indices: [23] | Pre-existing types: ['3_0']
Double check type overwriting: row 2368, sentence 1
Common indices: [2] | Pre-existing types: ['4_0']
Double check type overwriting: row 2368, sentence 2
Common indices: [20] | Pre-existing types: ['4_0']
Double check type overwriting: row 2368, sentence 1
Common indices: [13] | Pre-existing types: ['3_0']
Double check type overwriting: row 2368, sentence 2
Common indices: [9] | Pre-existing types: ['3_0']
Double check type overwriting: row 2368, sentence 1
Common indices: [15] | Pre-existing types: ['3_0']
Double check type overwriting: row 2368, sentence 2
Common indices: [12] | Pre-existing types: ['3_0']
Double check type overwriting: row 2368, sentence 1
Common indices: [16, 17] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 2368, sentence 2
Common indices: [13, 14] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 2415, sentence 1
Common indices: [13] | Pre-existing types: ['4_0']
Double check type overwriting: row 2415, sentence 2
Common indices: [15] | Pre-existing types: ['4_0']
Double check type overwriting: row 2425, sentence 1
Common indices: [11] | Pre-existing types: ['3_0']
Double check type overwriting: row 2425, sentence 2
Common indices: [14] | Pre-existing types: ['3_0']
Double check type overwriting: row 2508, sentence 1
Common indices: [20] | Pre-existing types: ['4_0']
Double check type overwriting: row 2508, sentence 2
Common indices: [19] | Pre-existing types: ['4_0']
Double check type overwriting: row 2573, sentence 1
Common indices: [7] | Pre-existing types: ['5_0']
Double check type overwriting: row 2573, sentence 2
Common indices: [5] | Pre-existing types: ['5_0']
Double check type overwriting: row 2609, sentence 1
Common indices: [5] | Pre-existing types: ['3_0']
Double check type overwriting: row 2609, sentence 2
Common indices: [2] | Pre-existing types: ['3_0']
Double check type overwriting: row 2701, sentence 1
Common indices: [11, 12] | Pre-existing types: ['4_0' '4_0']
Double check type overwriting: row 2701, sentence 2
Common indices: [10] | Pre-existing types: ['4_0']
Double check type overwriting: row 2736, sentence 1
Common indices: [7] | Pre-existing types: ['4_0']
Double check type overwriting: row 2736, sentence 2
Common indices: [8] | Pre-existing types: ['4_0']
Double check type overwriting: row 2753, sentence 1
Common indices: [6, 7, 9] | Pre-existing types: ['4_1' '4_0 & 4_1' '4_0 & 4_1']
Double check type overwriting: row 2753, sentence 2
Common indices: [8, 9] | Pre-existing types: ['4_0' '4_0']
Double check type overwriting: row 2814, sentence 1
Common indices: [2] | Pre-existing types: ['4_0']
Double check type overwriting: row 2814, sentence 2
Common indices: [5] | Pre-existing types: ['4_0']
Double check type overwriting: row 2953, sentence 1
Common indices: [7, 8, 9] | Pre-existing types: ['4_1' '4_1' '4_1']
Double check type overwriting: row 2953, sentence 2
Common indices: [8, 9] | Pre-existing types: ['4_1' '4_1']
Double check type overwriting: row 3063, sentence 1
Common indices: [21] | Pre-existing types: ['4_0']
Double check type overwriting: row 3063, sentence 2
Common indices: [19] | Pre-existing types: ['4_0']
Double check type overwriting: row 3114, sentence 1
Common indices: [27] | Pre-existing types: ['4_1']
Double check type overwriting: row 3114, sentence 2
Common indices: [27] | Pre-existing types: ['4_1']
Double check type overwriting: row 3127, sentence 1
Common indices: [4] | Pre-existing types: ['4_0']
Double check type overwriting: row 3127, sentence 2
Common indices: [1] | Pre-existing types: ['4_0']
Double check type overwriting: row 3148, sentence 1
Common indices: [3] | Pre-existing types: ['3_0']
Double check type overwriting: row 3148, sentence 2
Common indices: [1] | Pre-existing types: ['3_0']
Double check type overwriting: row 3159, sentence 1
Common indices: [4] | Pre-existing types: ['4_0']
Double check type overwriting: row 3159, sentence 2
Common indices: [4] | Pre-existing types: ['4_0']
Double check type overwriting: row 3166, sentence 1
Common indices: [19] | Pre-existing types: ['4_2']
Double check type overwriting: row 3166, sentence 2
Common indices: [17, 18] | Pre-existing types: ['4_2' '4_2']
Double check type overwriting: row 3194, sentence 1
Common indices: [6] | Pre-existing types: ['4_0']
Double check type overwriting: row 3194, sentence 2
Common indices: [6] | Pre-existing types: ['4_0']
Double check type overwriting: row 3220, sentence 1
Common indices: [17] | Pre-existing types: ['4_0']
Double check type overwriting: row 3220, sentence 2
Common indices: [14] | Pre-existing types: ['4_0']
Double check type overwriting: row 3264, sentence 1
Common indices: [2] | Pre-existing types: ['4_0']
Double check type overwriting: row 3264, sentence 2
Common indices: [2] | Pre-existing types: ['4_0']
Double check type overwriting: row 3268, sentence 1
Common indices: [6] | Pre-existing types: ['4_1']
Double check type overwriting: row 3268, sentence 2
Common indices: [7] | Pre-existing types: ['4_1']
Double check type overwriting: row 3279, sentence 1
Common indices: [7] | Pre-existing types: ['4_0']
Double check type overwriting: row 3279, sentence 2
Common indices: [8] | Pre-existing types: ['4_0']
Double check type overwriting: row 3299, sentence 1
Common indices: [14] | Pre-existing types: ['4_0']
Double check type overwriting: row 3299, sentence 2
Common indices: [16] | Pre-existing types: ['4_0']
Double check type overwriting: row 3307, sentence 1
Common indices: [4] | Pre-existing types: ['4_1']
Double check type overwriting: row 3307, sentence 2
Common indices: [3] | Pre-existing types: ['4_1']
Double check type overwriting: row 3337, sentence 1
Common indices: [3, 4] | Pre-existing types: ['4_0' '4_0']
Double check type overwriting: row 3337, sentence 2
Common indices: [2] | Pre-existing types: ['4_0']
Double check type overwriting: row 3382, sentence 1
Common indices: [18] | Pre-existing types: ['4_0']
Double check type overwriting: row 3382, sentence 2
Common indices: [10, 11, 12] | Pre-existing types: ['4_0' '4_0' '4_0']
Double check type overwriting: row 3392, sentence 1
Common indices: [15] | Pre-existing types: ['4_0']
Double check type overwriting: row 3392, sentence 2
Common indices: [10] | Pre-existing types: ['4_0']
Double check type overwriting: row 3421, sentence 1
Common indices: [2] | Pre-existing types: ['4_0']
Double check type overwriting: row 3421, sentence 2
Common indices: [3, 4] | Pre-existing types: ['4_0' '4_0']
Double check type overwriting: row 3427, sentence 1
Common indices: [13] | Pre-existing types: ['4_0']
Double check type overwriting: row 3427, sentence 2
Common indices: [18] | Pre-existing types: ['4_0']
Double check type overwriting: row 3432, sentence 1
Common indices: [1] | Pre-existing types: ['4_1']
Double check type overwriting: row 3432, sentence 2
Common indices: [1] | Pre-existing types: ['4_1']
Double check type overwriting: row 3475, sentence 1
Common indices: [14] | Pre-existing types: ['4_2']
Double check type overwriting: row 3475, sentence 2
Common indices: [12] | Pre-existing types: ['4_2']
Double check type overwriting: row 3537, sentence 1
Common indices: [1] | Pre-existing types: ['4_1']
Double check type overwriting: row 3537, sentence 2
Common indices: [0] | Pre-existing types: ['4_1']
Double check type overwriting: row 3607, sentence 1
Common indices: [2] | Pre-existing types: ['4_0']
Double check type overwriting: row 3607, sentence 2
Common indices: [3] | Pre-existing types: ['4_0']
Double check type overwriting: row 3644, sentence 1
Common indices: [7, 8] | Pre-existing types: ['4_0' '4_0']
Double check type overwriting: row 3644, sentence 2
Common indices: [6] | Pre-existing types: ['4_0']
Double check type overwriting: row 3646, sentence 1
Common indices: [10] | Pre-existing types: ['4_1']
Double check type overwriting: row 3646, sentence 2
Common indices: [6, 7, 8] | Pre-existing types: ['4_1' '4_1' '4_1']
Double check type overwriting: row 3646, sentence 1
Common indices: [1, 2, 3] | Pre-existing types: ['4_0' '4_0' '4_0']
Double check type overwriting: row 3646, sentence 2
Common indices: [1] | Pre-existing types: ['4_0']
Double check type overwriting: row 3665, sentence 1
Common indices: [14] | Pre-existing types: ['3_0 & 4_2']
Double check type overwriting: row 3665, sentence 2
Common indices: [15] | Pre-existing types: ['3_0 & 4_2']
Double check type overwriting: row 3680, sentence 1
Common indices: [9] | Pre-existing types: ['3_0']
Double check type overwriting: row 3680, sentence 2
Common indices: [3] | Pre-existing types: ['3_0']
Double check type overwriting: row 3715, sentence 1
Common indices: [2] | Pre-existing types: ['3_0 & 4_0']
Double check type overwriting: row 3715, sentence 2
Common indices: [23] | Pre-existing types: ['3_0 & 4_0']
Double check type overwriting: row 3718, sentence 1
Common indices: [16] | Pre-existing types: ['4_0']
Double check type overwriting: row 3718, sentence 2
Common indices: [9, 10, 11, 12] | Pre-existing types: ['4_0' '4_0' '4_0' '4_0']
Double check type overwriting: row 3752, sentence 1
Common indices: [1] | Pre-existing types: ['4_0']
Double check type overwriting: row 3752, sentence 2
Common indices: [1] | Pre-existing types: ['4_0']
Double check type overwriting: row 3792, sentence 1
Common indices: [17] | Pre-existing types: ['4_1']
Double check type overwriting: row 3792, sentence 2
Common indices: [17] | Pre-existing types: ['4_1']
Double check type overwriting: row 3828, sentence 1
Common indices: [5, 6] | Pre-existing types: ['3_1' '3_1']
Double check type overwriting: row 3828, sentence 2
Common indices: [21, 22] | Pre-existing types: ['3_1' '3_1']
Double check type overwriting: row 3828, sentence 1
Common indices: [15] | Pre-existing types: ['4_0']
Double check type overwriting: row 3828, sentence 2
Common indices: [2] | Pre-existing types: ['4_0']
Double check type overwriting: row 3860, sentence 1
Common indices: [4] | Pre-existing types: ['4_0']
Double check type overwriting: row 3860, sentence 2
Common indices: [3] | Pre-existing types: ['4_0']
Double check type overwriting: row 4015, sentence 1
Common indices: [9] | Pre-existing types: ['4_0']
Double check type overwriting: row 4015, sentence 2

### Spelling Changes

In [101]:
substitute(4)

Double check type overwriting: row 155, sentence 1
Common indices: [5] | Pre-existing types: ['4_0']
Double check type overwriting: row 155, sentence 2
Common indices: [8] | Pre-existing types: ['4_0']
Double check type overwriting: row 449, sentence 1
Common indices: [9, 10] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 449, sentence 2
Common indices: [4] | Pre-existing types: ['3_0']
Double check type overwriting: row 458, sentence 1
Common indices: [15] | Pre-existing types: ['3_0']
Double check type overwriting: row 458, sentence 2
Common indices: [1] | Pre-existing types: ['3_0']
Double check type overwriting: row 780, sentence 1
Common indices: [25] | Pre-existing types: ['3_1']
Double check type overwriting: row 780, sentence 2
Common indices: [11] | Pre-existing types: ['3_1']
Double check type overwriting: row 882, sentence 1
Common indices: [24] | Pre-existing types: ['3_0']
Double check type overwriting: row 882, sentence 2
Common indices: [20] | Pre-existing types: ['3_0']
Double check type overwriting: row 1090, sentence 1
Common indices: [9] | Pre-existing types: ['4_0']
Double check type overwriting: row 1090, sentence 2
Common indices: [9] | Pre-existing types: ['4_0']
Double check type overwriting: row 1496, sentence 1
Common indices: [10] | Pre-existing types: ['3_0']
Double check type overwriting: row 1496, sentence 2
Common indices: [17, 18] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 1507, sentence 1
Common indices: [9, 10] | Pre-existing types: ['5_0' '5_0']
Double check type overwriting: row 1507, sentence 2
Common indices: [13] | Pre-existing types: ['5_0']
Double check type overwriting: row 1533, sentence 1
Common indices: [5] | Pre-existing types: ['3_0']
Double check type overwriting: row 1533, sentence 2
Common indices: [14] | Pre-existing types: ['3_0']
Double check type overwriting: row 1568, sentence 1
Common indices: [4, 5] | Pre-existing types: ['5_1' '5_1']
Double check type overwriting: row 1568, sentence 2
Common indices: [4] | Pre-existing types: ['5_1']
Double check type overwriting: row 1807, sentence 1
Common indices: [2] | Pre-existing types: ['4_0']
Double check type overwriting: row 1807, sentence 2
Common indices: [2] | Pre-existing types: ['4_0']
Double check type overwriting: row 1914, sentence 1
Common indices: [19, 20] | Pre-existing types: ['3_1' '3_1']
Double check type overwriting: row 1914, sentence 2
Common indices: [24] | Pre-existing types: ['3_1']
Double check type overwriting: row 1937, sentence 1
Common indices: [14] | Pre-existing types: ['3_0']
Double check type overwriting: row 1937, sentence 2
Common indices: [10, 11] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 2151, sentence 1
Common indices: [4] | Pre-existing types: ['5_0']
Double check type overwriting: row 2151, sentence 2
Common indices: [4] | Pre-existing types: ['5_0']
Double check type overwriting: row 2242, sentence 1
Common indices: [16] | Pre-existing types: ['7_1']
Double check type overwriting: row 2417, sentence 1
Common indices: [24] | Pre-existing types: ['3_0']
Double check type overwriting: row 2417, sentence 2
Common indices: [18] | Pre-existing types: ['3_0']
Double check type overwriting: row 2417, sentence 1
Common indices: [25] | Pre-existing types: ['3_0']
Double check type overwriting: row 2417, sentence 2
Common indices: [19] | Pre-existing types: ['3_0']
Double check type overwriting: row 2588, sentence 1
Common indices: [6] | Pre-existing types: ['5_0']
Double check type overwriting: row 2588, sentence 2
Common indices: [4, 5] | Pre-existing types: ['5_0' '5_0']
Double check type overwriting: row 2740, sentence 1
Common indices: [6] | Pre-existing types: ['5_0']
Double check type overwriting: row 2740, sentence 2
Common indices: [10] | Pre-existing types: ['5_0']
Double check type overwriting: row 2871, sentence 1
Common indices: [0] | Pre-existing types: ['3_0']
Double check type overwriting: row 2890, sentence 1
Common indices: [6] | Pre-existing types: ['5_0 & 5_1']
Double check type overwriting: row 2890, sentence 2
Common indices: [3, 4] | Pre-existing types: ['5_0 & 5_1' '5_0 & 5_1']
Double check type overwriting: row 2962, sentence 1
Common indices: [0, 1] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 2962, sentence 2
Common indices: [5] | Pre-existing types: ['3_0']
Double check type overwriting: row 2967, sentence 1
Common indices: [9] | Pre-existing types: ['3_0']
Double check type overwriting: row 2967, sentence 2
Common indices: [9, 12] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 2978, sentence 1
Common indices: [9] | Pre-existing types: ['5_0']
Double check type overwriting: row 2978, sentence 2
Common indices: [4] | Pre-existing types: ['5_0']
Double check type overwriting: row 3110, sentence 1
Common indices: [5] | Pre-existing types: ['3_0']
Double check type overwriting: row 3110, sentence 2
Common indices: [9] | Pre-existing types: ['3_0']
Double check type overwriting: row 3241, sentence 1
Common indices: [17] | Pre-existing types: ['7_0']
Double check type overwriting: row 3241, sentence 2
Common indices: [16] | Pre-existing types: ['7_0']
Double check type overwriting: row 3533, sentence 1
Common indices: [17] | Pre-existing types: ['3_0']
Double check type overwriting: row 3533, sentence 2
Common indices: [12, 13] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 3738, sentence 1
Common indices: [8] | Pre-existing types: ['3_0']
Double check type overwriting: row 3738, sentence 2
Common indices: [12] | Pre-existing types: ['3_0']
Double check type overwriting: row 3922, sentence 1
Common indices: [0, 1] | Pre-existing types: ['5_0' '5_0']
Double check type overwriting: row 3922, sentence 2
Common indices: [0] | Pre-existing types: ['5_0']
Double check type overwriting: row 3931, sentence 1
Common indices: [8] | Pre-existing types: ['5_0']
Double check type overwriting: row 3931, sentence 2
Common indices: [12] | Pre-existing types: ['5_0']
Double check type overwriting: row 4119, sentence 1
Common indices: [19] | Pre-existing types: ['4_0']
Double check type overwriting: row 4119, sentence 2
Common indices: [26] | Pre-existing types: ['4_0']
Double check type overwriting: row 4196, sentence 1
Common indices: [9] | Pre-existing types: ['4_0']
Double check type overwriting: row 4196, sentence 2
Common indices: [8] | Pre-existing types: ['4_0']
Double check type overwriting: row 4339, sentence 1
Common indices: [4, 5] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 4339, sentence 2
Common indices: [2, 3] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 4359, sentence 1
Common indices: [7] | Pre-existing types: ['4_1']
Double check type overwriting: row 4359, sentence 2
Common indices: [6] | Pre-existing types: ['4_1']
Double check type overwriting: row 4383, sentence 1
Common indices: [8] | Pre-existing types: ['7_0']
Double check type overwriting: row 4383, sentence 2
Common indices: [2] | Pre-existing types: ['7_0']
Double check type overwriting: row 4611, sentence 1
Common indices: [19, 20] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 4611, sentence 2
Common indices: [12] | Pre-existing types: ['3_0']
Double check type overwriting: row 4643, sentence 1
Common indices: [9] | Pre-existing types: ['3_1']
Double check type overwriting: row 4643, sentence 2
Common indices: [6] | Pre-existing types: ['3_1']
Double check type overwriting: row 4804, sentence 1
Common indices: [10, 11] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 4804, sentence 2
Common indices: [6, 7] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 4922, sentence 1
Common indices: [1] | Pre-existing types: ['4_0']
Double check type overwriting: row 4922, sentence 2
Common indices: [2] | Pre-existing types: ['4_0']
Double check type overwriting: row 4966, sentence 1
Common indices: [12, 13] | Pre-existing types: ['5_0' '5_0']
Double check type overwriting: row 4966, sentence 2
Common indices: [12] | Pre-existing types: ['5_0']
Double check type overwriting: row 4981, sentence 1
Common indices: [15, 16, 17] | Pre-existing types: ['3_0' '3_0' '3_0']
Double check type overwriting: row 4981, sentence 2
Common indices: [22, 23, 24, 25] | Pre-existing types: ['3_0' '3_0' '3_0' '3_0']
Double check type overwriting: row 4991, sentence 1
Common indices: [2] | Pre-existing types: ['4_0']
Double check type overwriting: row 4991, sentence 2
Common indices: [1] | Pre-existing types: ['4_0']
Double check type overwriting: row 5398, sentence 1
Common indices: [12, 13] | Pre-existing types: ['5_0' '5_0']
Double check type overwriting: row 5398, sentence 2
Common indices: [12] | Pre-existing types: ['5_0']
Double check type overwriting: row 5455, sentence 1
Common indices: [6, 7] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 5455, sentence 2
Common indices: [1] | Pre-existing types: ['3_0']
Double check type overwriting: row 5455, sentence 1
Common indices: [6, 7, 8] | Pre-existing types: ['3_0 & 7_0' '3_0 & 7_0' '3_0']
Double check type overwriting: row 5455, sentence 2
Common indices: [1, 2] | Pre-existing types: ['3_0 & 7_0' '3_0']
Double check type overwriting: row 5461, sentence 1
Common indices: [9, 10] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 5461, sentence 2
Common indices: [1, 2] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 5685, sentence 1
Common indices: [14] | Pre-existing types: ['3_0']
Double check type overwriting: row 5685, sentence 2
Common indices: [18] | Pre-existing types: ['3_0']

### Change of format

In [102]:
substitute(8)

Double check type overwriting: row 508, sentence 1
Common indices: [4] | Pre-existing types: ['3_0']
Double check type overwriting: row 508, sentence 2
Common indices: [9] | Pre-existing types: ['3_0']
Double check type overwriting: row 508, sentence 1
Common indices: [5] | Pre-existing types: ['3_0']
Double check type overwriting: row 508, sentence 2
Common indices: [10] | Pre-existing types: ['3_0']
Double check type overwriting: row 586, sentence 1
Common indices: [13] | Pre-existing types: ['3_0']
Double check type overwriting: row 586, sentence 2
Common indices: [6] | Pre-existing types: ['3_0']
Double check type overwriting: row 1322, sentence 1
Common indices: [25] | Pre-existing types: ['7_0']
Double check type overwriting: row 1322, sentence 2
Common indices: [23] | Pre-existing types: ['7_0']
Double check type overwriting: row 1974, sentence 1
Common indices: [16] | Pre-existing types: ['5_0']
Double check type overwriting: row 1974, sentence 2
Common indices: [16] | Pre-existing types: ['5_0']
Double check type overwriting: row 1974, sentence 1
Common indices: [22] | Pre-existing types: ['5_1']
Double check type overwriting: row 1974, sentence 2
Common indices: [21] | Pre-existing types: ['5_1']
Double check type overwriting: row 1974, sentence 1
Common indices: [28] | Pre-existing types: ['5_2']
Double check type overwriting: row 1974, sentence 2
Common indices: [26] | Pre-existing types: ['5_2']
Double check type overwriting: row 2187, sentence 1
Common indices: [5] | Pre-existing types: ['5_0']
Double check type overwriting: row 2187, sentence 2
Common indices: [6] | Pre-existing types: ['5_0']
Double check type overwriting: row 2187, sentence 1
Common indices: [7] | Pre-existing types: ['5_0']
Double check type overwriting: row 2187, sentence 2
Common indices: [8] | Pre-existing types: ['5_0']
Double check type overwriting: row 2242, sentence 1
Common indices: [16, 17] | Pre-existing types: ['7_1 & 7_2' '7_2']
Double check type overwriting: row 2242, sentence 2
Common indices: [16, 18] | Pre-existing types: ['7_1' '7_2']
Double check type overwriting: row 2297, sentence 1
Common indices: [14, 15] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 2297, sentence 2
Common indices: [15, 16] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 2986, sentence 1
Common indices: [8] | Pre-existing types: ['3_1']
Double check type overwriting: row 2986, sentence 2
Common indices: [0] | Pre-existing types: ['3_1']
Double check type overwriting: row 3110, sentence 1
Common indices: [9] | Pre-existing types: ['3_0']
Double check type overwriting: row 3110, sentence 2
Common indices: [13] | Pre-existing types: ['3_0']
Double check type overwriting: row 3492, sentence 1
Common indices: [23] | Pre-existing types: ['5_0']
Double check type overwriting: row 3492, sentence 2
Common indices: [22] | Pre-existing types: ['5_0']
Double check type overwriting: row 3738, sentence 1
Common indices: [9, 10] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 3738, sentence 2
Common indices: [13, 14] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 4094, sentence 1
Common indices: [23] | Pre-existing types: ['3_0']
Double check type overwriting: row 4094, sentence 2
Common indices: [23] | Pre-existing types: ['3_0']
Double check type overwriting: row 4376, sentence 1
Common indices: [20] | Pre-existing types: ['3_0']
Double check type overwriting: row 4376, sentence 2
Common indices: [25] | Pre-existing types: ['3_0']
Double check type overwriting: row 4695, sentence 1
Common indices: [2] | Pre-existing types: ['6_0']
Double check type overwriting: row 4695, sentence 2
Common indices: [0] | Pre-existing types: ['6_0']
Double check type overwriting: row 4777, sentence 1
Common indices: [2] | Pre-existing types: ['3_0']
Double check type overwriting: row 4777, sentence 2
Common indices: [5, 6] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 4830, sentence 1
Common indices: [4] | Pre-existing types: ['7_1']
Double check type overwriting: row 4830, sentence 2
Common indices: [6, 7, 8, 9] | Pre-existing types: ['7_1' '7_1' '7_1' '7_1']
Double check type overwriting: row 5217, sentence 1
Common indices: [5] | Pre-existing types: ['7_0']
Double check type overwriting: row 5217, sentence 2
Common indices: [10] | Pre-existing types: ['7_0']
Double check type overwriting: row 5517, sentence 1
Common indices: [10] | Pre-existing types: ['3_0']
Double check type overwriting: row 5517, sentence 2
Common indices: [3] | Pre-existing types: ['3_0']

### Opposite Polarity Substitution (Habitual)

In [103]:
substitute(9)

### Modal Verb Changes (TODO)

In [104]:
# TODO: Check overlapped words between (e.g.) derivational & inflectional changes
# The way this works right now, you'd have something like ['6_0 & 6_0'] for those
# Make sure this doesn't happen. Probably do a function that does a pass on the
# array of strings later and removes any duplicates

In [105]:
def trim_duplicates(s1_scope, s2_scope, s1_text, s2_text):
    s1_newtext = s1_text.split()
    s2_newtext = s2_text.split()
    
    in1 = np.where(np.in1d(s1_newtext, s2_newtext))[0]
    in2 = np.where(np.in1d(s2_newtext, s1_newtext))[0]

    s1_newscope = np.delete(s1_scope, in1)
    s2_newscope = np.delete(s2_scope, in2)
    s1_newtext = ' '.join(np.delete(s1_newtext, in1))
    s2_newtext = ' '.join(np.delete(s2_newtext, in2))

    return s1_newscope, s2_newscope, s1_newtext, s2_newtext

In [106]:
ric = textual_paraphrases.loc[textual_paraphrases['type_id'].isin([2])]
ric

,pair_id,type_id,type_name,sense_preserving,s1_scope,s2_scope,s1_text,s2_text,key_s1,key_s2,k1_text,k2_text
120,40,2,Modal Verb Changes,yes,"[7, 8, 9]","[4, 5]",intend to seek,will seek,None,None,None,None
135,45,2,Modal Verb Changes,yes,"[4, 5, 6, 7]","[3, 4]",is expected to decline,will decline,None,None,None,None
197,57,2,Modal Verb Changes,yes,"[5, 6, 7]","[2, 3, 4, 5]",would shut down,plans to shut down,None,None,None,None
381,108,2,Modal Verb Changes,yes,"[6, 7]","[6, 7, 8]",were dispatched,will be sent,None,None,None,None
393,110,2,Modal Verb Changes,yes,"[11, 12]","[10, 11]",may issue,might issue,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...
21449,5623,2,Modal Verb Changes,yes,"[8, 9]","[10, 11, 12]",will address,would participate in,None,None,None,None
21593,5665,2,Modal Verb Changes,yes,"[3, 4, 5]",[4],could have been,was,None,None,None,None
21679,5691,2,Modal Verb Changes,yes,"[4, 5]",[10],could bring,bringing,None,None,None,None
21762,5712,2,Modal Verb Changes,yes,"[3, 4]",[2],would give,gives,None,None,None,None
22023,5791,2,Modal Verb Changes,yes,"[2, 3, 4]",[6],will be held,hold,None,None,None,None

### Punctuation Changes

Let's look closely at punctuation changes. This is one of the types that annotates key elements, and those are what we 
want to use, so we'll use those as the scopes.

In [107]:
punctuation = duplicate_df(textual_paraphrases)
punctuation = punctuation[punctuation['type_id'] == 21]
punctuation.drop(columns=['s1_scope', 's2_scope'], inplace=True)
punctuation.rename(columns={'key_s1': 's1_scope', 'key_s2': 's2_scope'}, inplace=True)
punctuation

,pair_id,type_id,type_name,sense_preserving,s1_text,s2_text,s1_scope,s2_scope,k1_text,k2_text
20,5,21,Punctuation changes,yes,"The stock rose $ 2.11 , or about 11 percent , ...",PG & E Corp. shares jumped $ 1.63 or 8 percent...,"[5, 10]",None,", ,",None
33,10,21,Punctuation changes,yes,the foodservice pie business does n't fit the ...,`` The foodservice pie business does not fit o...,None,[0],None,``
46,15,21,Punctuation changes,yes,He told The Sun newspaper that Mr. Hussein 's ...,`` Saddam 's daughters had British schools and...,None,"[0, 23]",None,`` ''
87,29,21,Punctuation changes,yes,I wanted to bring the most beautiful people in...,`` I wanted to bring the most beautiful people...,None,"[0, 15]",None,`` ''
108,36,21,Punctuation changes,yes,Trading in Loral was halted yesterday ; the sh...,The New York Stock Exchange suspended trading ...,[6],[10],;,","
...,...,...,...,...,...,...,...,...,...,...
21962,5773,21,Punctuation changes,yes,`` I would rather be talking about positive nu...,But I would rather be talking about high stand...,[0],[14],``,''\n
21978,5780,21,Punctuation changes,yes,`` the man who has the blood of innocent peopl...,a man who has the blood of innocent people on ...,[4],None,``,None
21987,5782,21,Punctuation changes,yes,The Ministry of Defence said that `` an invest...,The Ministry of Defence said yesterday : “We c...,"[6, 27]",None,`` '',None
22033,5793,21,Punctuation changes,yes,Gehring waived extradition Monday during a hea...,Gehring waived extradition Monday during a hea...,[10],None,",",None
22043,5794,21,Punctuation changes,yes,`` I am advised that certain allegations of cr...,`` I am advised that certain allegations of cr...,None,[26],None,``\n

Some punctuation changes are substitutions (the ones with two keys), and some are additions/deletions (the ones where there's only one key, and the other key is `None`).

We'll need to treat them separately:

In [108]:
punct_adddel, punct_subs = split_add_sub(punctuation)

In [109]:
substitute(21, punct_adddel, 8)

Double check type overwriting: row 480, sentence 2
Common indices: [17] | Pre-existing types: ['3_0']
Double check type overwriting: row 896, sentence 2
Common indices: [7] | Pre-existing types: ['3_0']
Double check type overwriting: row 1115, sentence 2
Common indices: [5] | Pre-existing types: ['3_0']
Double check type overwriting: row 1346, sentence 2
Common indices: [1, 3] | Pre-existing types: ['3_1 & 5_0' '3_1 & 5_0']
Double check type overwriting: row 1398, sentence 2
Common indices: [14] | Pre-existing types: ['3_0']
Double check type overwriting: row 1533, sentence 1
Common indices: [18] | Pre-existing types: ['3_0']
Double check type overwriting: row 1586, sentence 2
Common indices: [27] | Pre-existing types: ['3_0']
Double check type overwriting: row 1586, sentence 2
Common indices: [19] | Pre-existing types: ['3_0']
Double check type overwriting: row 1593, sentence 1
Common indices: [3] | Pre-existing types: ['3_0']
Double check type overwriting: row 1667, sentence 2
Common indices: [3] | Pre-existing types: ['3_0']
Double check type overwriting: row 2154, sentence 1
Common indices: [10] | Pre-existing types: ['3_0']
Double check type overwriting: row 2417, sentence 2
Common indices: [0, 22] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 2453, sentence 2
Common indices: [17] | Pre-existing types: ['3_0']

Double check type overwriting: row 2889, sentence 1
Common indices: [8, 12] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 2986, sentence 1
Common indices: [6] | Pre-existing types: ['3_0']
Double check type overwriting: row 3191, sentence 2
Common indices: [14] | Pre-existing types: ['3_0']
Double check type overwriting: row 3192, sentence 1
Common indices: [16] | Pre-existing types: ['3_0']
Double check type overwriting: row 3411, sentence 1
Common indices: [18] | Pre-existing types: ['3_0']
Double check type overwriting: row 3569, sentence 1
Common indices: [5, 6] | Pre-existing types: ['5_0' '5_0']
Double check type overwriting: row 4607, sentence 1
Common indices: [3, 11] | Pre-existing types: ['3_1 & 6_0' '3_1']
Double check type overwriting: row 4643, sentence 1
Common indices: [17] | Pre-existing types: ['3_1']
Double check type overwriting: row 5001, sentence 1
Common indices: [13] | Pre-existing types: ['3_0']
Double check type overwriting: row 5753, sentence 2
Common indices: [4, 5] | Pre-existing types: ['8_0' '8_0']

In [110]:
substitute(21, punct_subs, 7)

Double check type overwriting: row 401, sentence 1
Common indices: [0, 12] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 401, sentence 2
Common indices: [13] | Pre-existing types: ['3_0']
Double check type overwriting: row 449, sentence 1
Common indices: [14, 17] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 449, sentence 2
Common indices: [5, 16] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 573, sentence 1
Common indices: [0] | Pre-existing types: ['3_0']
Double check type overwriting: row 573, sentence 2
Common indices: [5] | Pre-existing types: ['3_0']
Double check type overwriting: row 656, sentence 1
Common indices: [25] | Pre-existing types: ['3_0']
Double check type overwriting: row 656, sentence 2
Common indices: [20] | Pre-existing types: ['3_0']
Double check type overwriting: row 790, sentence 1
Common indices: [3] | Pre-existing types: ['3_0']
Double check type overwriting: row 790, sentence 2
Common indices: [0, 20] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 813, sentence 1
Common indices: [18] | Pre-existing types: ['3_0']
Double check type overwriting: row 813, sentence 2
Common indices: [0, 8] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 933, sentence 1
Common indices: [8, 20] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 933, sentence 2
Common indices: [0, 13] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 970, sentence 1
Common indices: [23, 32] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 970, sentence 2
Common indices: [3, 11] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 1141, sentence 1
Common indices: [11] | Pre-existing types: ['3_0']
Double check type overwriting: row 1141, sentence 2
Common indices: [0, 21] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 1255, sentence 1
Common indices: [15, 29] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 1255, sentence 2
Common indices: [0, 18] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 1393, sentence 1
Common indices: [4] | Pre-existing types: ['3_0']
Double check type overwriting: row 1393, sentence 2
Common indices: [0, 14] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 1527, sentence 1
Common indices: [0, 16] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 1527, sentence 2
Common indices: [9] | Pre-existing types: ['3_0']
Double check type overwriting: row 1633, sentence 1
Common indices: [0, 20] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 1633, sentence 2
Common indices: [7] | Pre-existing types: ['3_0']
Double check type overwriting: row 2068, sentence 1
Common indices: [13] | Pre-existing types: ['3_0']
Double check type overwriting: row 2068, sentence 2
Common indices: [0, 7] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 2116, sentence 1
Common indices: [0] | Pre-existing types: ['3_0']
Double check type overwriting: row 2116, sentence 2
Common indices: [8] | Pre-existing types: ['3_0']
Double check type overwriting: row 2453, sentence 1
Common indices: [17, 19] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 2453, sentence 2
Common indices: [9, 11] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 2453, sentence 1
Common indices: [3, 5] | Pre-existing types: ['3_1' '3_1']
Double check type overwriting: row 2453, sentence 2
Common indices: [23, 25] | Pre-existing types: ['3_1' '3_1']
Double check type overwriting: row 2765, sentence 2
Common indices: [7] | Pre-existing types: ['5_0']
Double check type overwriting: row 3192, sentence 1
Common indices: [8] | Pre-existing types: ['3_0']
Double check type overwriting: row 3192, sentence 2
Common indices: [0, 13] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 3680, sentence 1
Common indices: [10, 20] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 3680, sentence 2
Common indices: [0, 13] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 3690, sentence 1
Common indices: [0] | Pre-existing types: ['3_0']
Double check type overwriting: row 3690, sentence 2
Common indices: [8] | Pre-existing types: ['3_0']
Double check type overwriting: row 4053, sentence 2
Common indices: [7] | Pre-existing types: ['2_0']
Double check type overwriting: row 4144, sentence 1
Common indices: [13] | Pre-existing types: ['3_0']
Double check type overwriting: row 4144, sentence 2
Common indices: [0, 18] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 4346, sentence 1
Common indices: [7, 14, 21, 26] | Pre-existing types: ['3_0' '3_0 & 3_1' '3_0 & 3_1' '3_0 & 3_1']
Double check type overwriting: row 4346, sentence 2
Common indices: [4, 5, 8, 15, 16, 22] | Pre-existing types: ['3_0 & 3_1' '3_0 & 3_1' '3_0 & 3_1' '3_0' '3_0' '3_0']
Double check type overwriting: row 4643, sentence 1
Common indices: [3] | Pre-existing types: ['3_1']
Double check type overwriting: row 4643, sentence 2
Common indices: [0, 28] | Pre-existing types: ['3_1' '3_1']
Double check type overwriting: row 4674, sentence 1
Common indices: [0, 24] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 4674, sentence 2
Common indices: [9] | Pre-existing types: ['3_0']
Double check type overwriting: row 4734, sentence 1
Common indices: [13] | Pre-existing types: ['3_0']
Double check type overwriting: row 4734, sentence 2
Common indices: [9] | Pre-existing types: ['3_0']
Double check type overwriting: row 4865, sentence 1
Common indices: [0, 21] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 4865, sentence 2
Common indices: [11, 17] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 5223, sentence 1
Common indices: [10] | Pre-existing types: ['3_0']
Double check type overwriting: row 5223, sentence 2
Common indices: [0, 14] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 5292, sentence 1
Common indices: [0, 14] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 5292, sentence 2
Common indices: [9] | Pre-existing types: ['3_0']
Double check type overwriting: row 5461, sentence 1
Common indices: [9] | Pre-existing types: ['3_0 & 7_1']
Double check type overwriting: row 5461, sentence 2
Common indices: [0, 22] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 5513, sentence 1
Common indices: [14, 29] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 5513, sentence 2
Common indices: [0, 22] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 5517, sentence 1
Common indices: [12, 13] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 5517, sentence 2
Common indices: [5, 7] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 5517, sentence 1
Common indices: [7] | Pre-existing types: ['3_0']
Double check type overwriting: row 5517, sentence 2
Common indices: [0, 15] | Pre-existing types: ['3_0' '3_0']

### Named Entity Substitution

In [111]:
substitute(7)

Double check type overwriting: row 14, sentence 1
Common indices: [7] | Pre-existing types: ['3_0']
Double check type overwriting: row 14, sentence 2
Common indices: [1] | Pre-existing types: ['3_0']
Double check type overwriting: row 14, sentence 1
Common indices: [6, 7] | Pre-existing types: ['3_0' '3_0 & 5_0']
Double check type overwriting: row 14, sentence 2
Common indices: [1] | Pre-existing types: ['3_0 & 5_0']
Double check type overwriting: row 172, sentence 1
Common indices: [23, 24] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 172, sentence 2
Common indices: [18, 19, 20, 21] | Pre-existing types: ['3_0' '3_0' '3_0' '3_0']
Double check type overwriting: row 272, sentence 1
Common indices: [19] | Pre-existing types: ['3_0']
Double check type overwriting: row 272, sentence 2
Common indices: [18, 19] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 272, sentence 1
Common indices: [18, 19] | Pre-existing types: ['3_0' '3_0 & 5_0']
Double check type overwriting: row 272, sentence 2
Common indices: [18, 19] | Pre-existing types: ['3_0 & 5_0' '3_0 & 5_0']
Double check type overwriting: row 315, sentence 1
Common indices: [0, 1] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 315, sentence 2
Common indices: [24] | Pre-existing types: ['3_0']
Double check type overwriting: row 319, sentence 1
Common indices: [0, 1] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 319, sentence 2
Common indices: [16] | Pre-existing types: ['3_0']
Double check type overwriting: row 319, sentence 1
Common indices: [0, 1] | Pre-existing types: ['3_0 & 5_0' '3_0 & 5_0']
Double check type overwriting: row 319, sentence 2
Common indices: [15, 16] | Pre-existing types: ['3_0' '3_0 & 5_0']
Double check type overwriting: row 392, sentence 1
Common indices: [24, 25] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 392, sentence 2
Common indices: [15] | Pre-existing types: ['3_0']
Double check type overwriting: row 411, sentence 1
Common indices: [5, 6] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 411, sentence 2
Common indices: [8, 9] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 412, sentence 1
Common indices: [13] | Pre-existing types: ['7_0']
Double check type overwriting: row 412, sentence 2
Common indices: [12] | Pre-existing types: ['7_0']
Double check type overwriting: row 412, sentence 1
Common indices: [11, 13, 14] | Pre-existing types: ['5_0' '7_0 & 5_1' '7_0']
Double check type overwriting: row 412, sentence 2
Common indices: [11, 12, 13] | Pre-existing types: ['5_0' '7_0 & 5_1' '7_0']
Double check type overwriting: row 422, sentence 1
Common indices: [22] | Pre-existing types: ['7_0']
Double check type overwriting: row 422, sentence 2
Common indices: [18] | Pre-existing types: ['7_0']
Double check type overwriting: row 458, sentence 1
Common indices: [15] | Pre-existing types: ['3_0 & 7_0']
Double check type overwriting: row 466, sentence 1
Common indices: [10, 11] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 466, sentence 2
Common indices: [12, 13, 14] | Pre-existing types: ['3_0' '3_0' '3_0']
Double check type overwriting: row 470, sentence 1
Common indices: [16] | Pre-existing types: ['3_0']
Double check type overwriting: row 470, sentence 2
Common indices: [21, 22] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 527, sentence 1
Common indices: [19, 20, 22] | Pre-existing types: ['7_0' '7_0' '5_0']
Double check type overwriting: row 527, sentence 2
Common indices: [16, 18, 19] | Pre-existing types: ['5_0' '7_0' '7_0']
Double check type overwriting: row 528, sentence 1
Common indices: [9, 10] | Pre-existing types: ['5_0' '5_0']
Double check type overwriting: row 528, sentence 2
Common indices: [8] | Pre-existing types: ['5_0']
Double check type overwriting: row 566, sentence 1
Common indices: [7, 8] | Pre-existing types: ['5_1' '5_1']
Double check type overwriting: row 566, sentence 2
Common indices: [3] | Pre-existing types: ['5_1']
Double check type overwriting: row 571, sentence 1
Common indices: [17, 18, 19, 21] | Pre-existing types: ['5_0' '5_0' '5_0' '7_1']
Double check type overwriting: row 571, sentence 2
Common indices: [19, 20] | Pre-existing types: ['5_0' '7_1']
Double check type overwriting: row 692, sentence 1
Common indices: [21] | Pre-existing types: ['5_0']
Double check type overwriting: row 692, sentence 2
Common indices: [25] | Pre-existing types: ['5_0']
Double check type overwriting: row 739, sentence 1
Common indices: [14, 15, 16, 17] | Pre-existing types: ['3_1' '3_1' '3_1' '3_1']
Double check type overwriting: row 739, sentence 2
Common indices: [18, 19, 20] | Pre-existing types: ['3_1' '3_1' '3_1']
Double check type overwriting: row 744, sentence 1
Common indices: [24, 25, 27] | Pre-existing types: ['7_0' '8_0' '8_0']
Double check type overwriting: row 744, sentence 2
Common indices: [24] | Pre-existing types: ['7_0']
Double check type overwriting: row 813, sentence 1
Common indices: [0] | Pre-existing types: ['7_1']
Double check type overwriting: row 813, sentence 2
Common indices: [16] | Pre-existing types: ['7_1']
Double check type overwriting: row 1237, sentence 2
Common indices: [6] | Pre-existing types: ['2_0']
Double check type overwriting: row 1297, sentence 1
Common indices: [0] | Pre-existing types: ['2_0']
Double check type overwriting: row 1338, sentence 1
Common indices: [17] | Pre-existing types: ['2_0']
Double check type overwriting: row 1758, sentence 2
Common indices: [7] | Pre-existing types: ['2_0']
Double check type overwriting: row 1866, sentence 1
Common indices: [18] | Pre-existing types: ['3_0']
Double check type overwriting: row 1866, sentence 2
Common indices: [0, 1] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 1942, sentence 1
Common indices: [5] | Pre-existing types: ['7_0']
Double check type overwriting: row 1942, sentence 2
Common indices: [4] | Pre-existing types: ['7_0']
Double check type overwriting: row 2375, sentence 2
Common indices: [10] | Pre-existing types: ['2_0']
Double check type overwriting: row 2673, sentence 1
Common indices: [4] | Pre-existing types: ['5_1']
Double check type overwriting: row 2690, sentence 1
Common indices: [27, 28] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 2690, sentence 2
Common indices: [26, 27] | Pre-existing types: ['3_0 & 2_0' '3_0']
Double check type overwriting: row 2860, sentence 1
Common indices: [11, 12, 13, 14, 15, 16] | Pre-existing types: ['5_0' '5_0' '5_0' '5_0' '5_0' '5_0']
Double check type overwriting: row 2860, sentence 2
Common indices: [7] | Pre-existing types: ['5_0']
Double check type overwriting: row 2924, sentence 1
Common indices: [0, 1] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 2924, sentence 2
Common indices: [7] | Pre-existing types: ['3_0']
Double check type overwriting: row 2965, sentence 1
Common indices: [16, 17, 18, 20] | Pre-existing types: ['5_0' '5_0' '5_0' '5_0']
Double check type overwriting: row 2965, sentence 2
Common indices: [7, 9] | Pre-existing types: ['5_0' '5_0']
Double check type overwriting: row 2966, sentence 2
Common indices: [0] | Pre-existing types: ['2_0']
Double check type overwriting: row 3014, sentence 2
Common indices: [4] | Pre-existing types: ['2_0']
Double check type overwriting: row 3223, sentence 1
Common indices: [0] | Pre-existing types: ['7_0']
Double check type overwriting: row 3223, sentence 2
Common indices: [1] | Pre-existing types: ['7_0']
Double check type overwriting: row 3223, sentence 1
Common indices: [6] | Pre-existing types: ['7_1']
Double check type overwriting: row 3223, sentence 2
Common indices: [9] | Pre-existing types: ['7_1']
Double check type overwriting: row 4069, sentence 1
Common indices: [3] | Pre-existing types: ['7_0']
Double check type overwriting: row 4069, sentence 2
Common indices: [6] | Pre-existing types: ['7_0']
Double check type overwriting: row 4093, sentence 1
Common indices: [25] | Pre-existing types: ['7_0']
Double check type overwriting: row 4093, sentence 2
Common indices: [30] | Pre-existing types: ['7_0']
Double check type overwriting: row 4259, sentence 1
Common indices: [10, 11, 12] | Pre-existing types: ['5_1' '5_1' '5_1']
Double check type overwriting: row 4259, sentence 2
Common indices: [15, 16, 17, 18] | Pre-existing types: ['5_1' '5_1' '5_1' '5_1']
Double check type overwriting: row 4307, sentence 1
Common indices: [9, 10] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 4307, sentence 2
Common indices: [12, 13] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 4379, sentence 1
Common indices: [21] | Pre-existing types: ['3_0']
Double check type overwriting: row 4379, sentence 2
Common indices: [20, 21] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 4462, sentence 1
Common indices: [17, 18] | Pre-existing types: ['3_1' '3_1']
Double check type overwriting: row 4462, sentence 2
Common indices: [9, 10, 11] | Pre-existing types: ['3_1' '3_1' '3_1']
Double check type overwriting: row 4514, sentence 1
Common indices: [9] | Pre-existing types: ['3_0']
Double check type overwriting: row 4514, sentence 2
Common indices: [8, 9] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 4650, sentence 1
Common indices: [11, 12, 13, 14, 15, 16, 17] | Pre-existing types: ['3_0' '3_0' '3_0' '3_0' '3_0' '3_0' '3_0']
Double check type overwriting: row 4650, sentence 2
Common indices: [10] | Pre-existing types: ['3_0']
Double check type overwriting: row 4738, sentence 1
Common indices: [8, 9] | Pre-existing types: ['7_0' '7_0']
Double check type overwriting: row 4738, sentence 2
Common indices: [8, 9, 10] | Pre-existing types: ['7_0' '7_0' '7_0']
Double check type overwriting: row 4814, sentence 1
Common indices: [0, 1] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 4814, sentence 2
Common indices: [16] | Pre-existing types: ['3_0']
Double check type overwriting: row 4841, sentence 1
Common indices: [13, 14] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 4841, sentence 2
Common indices: [14] | Pre-existing types: ['3_0']
Double check type overwriting: row 4844, sentence 1
Common indices: [7] | Pre-existing types: ['7_0']
Double check type overwriting: row 4844, sentence 2
Common indices: [22, 23] | Pre-existing types: ['7_0' '7_1']
Double check type overwriting: row 4844, sentence 1
Common indices: [2, 3] | Pre-existing types: ['5_0' '5_0']
Double check type overwriting: row 4844, sentence 2
Common indices: [21] | Pre-existing types: ['5_0']
Double check type overwriting: row 4913, sentence 1
Common indices: [17] | Pre-existing types: ['7_1']
Double check type overwriting: row 4913, sentence 2
Common indices: [15, 16, 17] | Pre-existing types: ['7_1' '7_1' '7_1']
Double check type overwriting: row 4975, sentence 1
Common indices: [20, 21] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 4975, sentence 2
Common indices: [19] | Pre-existing types: ['3_0']
Double check type overwriting: row 4982, sentence 1
Common indices: [10] | Pre-existing types: ['3_0']
Double check type overwriting: row 4982, sentence 2
Common indices: [12, 13] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 4998, sentence 1
Common indices: [5] | Pre-existing types: ['4_1']
Double check type overwriting: row 4998, sentence 2
Common indices: [9, 10] | Pre-existing types: ['4_1' '4_1']
Double check type overwriting: row 5064, sentence 1
Common indices: [21, 22, 23] | Pre-existing types: ['3_0' '3_0' '3_0']
Double check type overwriting: row 5064, sentence 2
Common indices: [18, 19, 20, 21] | Pre-existing types: ['3_0' '3_0' '3_0' '3_0']
Double check type overwriting: row 5141, sentence 1
Common indices: [0] | Pre-existing types: ['5_0']
Double check type overwriting: row 5141, sentence 2
Common indices: [0, 1] | Pre-existing types: ['5_0' '5_0']
Double check type overwriting: row 5141, sentence 1
Common indices: [17] | Pre-existing types: ['7_0']
Double check type overwriting: row 5141, sentence 2
Common indices: [19] | Pre-existing types: ['7_0']
Double check type overwriting: row 5223, sentence 1
Common indices: [18, 19] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 5223, sentence 2
Common indices: [8, 9, 10, 11, 12] | Pre-existing types: ['3_0' '3_0' '3_0' '3_0' '3_0']
Double check type overwriting: row 5249, sentence 1
Common indices: [0, 1] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 5249, sentence 2
Common indices: [7] | Pre-existing types: ['3_0']
Double check type overwriting: row 5276, sentence 1
Common indices: [22] | Pre-existing types: ['7_0']
Double check type overwriting: row 5276, sentence 2
Common indices: [18] | Pre-existing types: ['7_0']
Double check type overwriting: row 5294, sentence 1
Common indices: [20] | Pre-existing types: ['3_0']
Double check type overwriting: row 5294, sentence 2
Common indices: [3, 4] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 5337, sentence 1
Common indices: [0, 1, 2, 3] | Pre-existing types: ['3_1' '3_1' '3_1' '3_1']
Double check type overwriting: row 5337, sentence 2
Common indices: [17, 18, 19, 20, 21, 22, 23] | Pre-existing types: ['3_1' '3_1' '3_1' '3_1' '3_1' '3_1' '3_1']
Double check type overwriting: row 5339, sentence 1
Common indices: [1] | Pre-existing types: ['3_0']
Double check type overwriting: row 5339, sentence 2
Common indices: [11, 12] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 5360, sentence 1
Common indices: [6] | Pre-existing types: ['3_0']
Double check type overwriting: row 5360, sentence 2
Common indices: [9, 10, 11, 12, 13] | Pre-existing types: ['3_0' '3_0' '3_0' '3_0' '3_0']
Double check type overwriting: row 5395, sentence 1
Common indices: [17] | Pre-existing types: ['3_0']
Double check type overwriting: row 5395, sentence 2
Common indices: [5, 6, 7] | Pre-existing types: ['3_0' '3_0' '3_0']
Double check type overwriting: row 5425, sentence 1
Common indices: [24] | Pre-existing types: ['3_0']
Double check type overwriting: row 5425, sentence 2
Common indices: [19, 20] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 5489, sentence 1
Common indices: [21] | Pre-existing types: ['5_0']
Double check type overwriting: row 5489, sentence 2
Common indices: [21] | Pre-existing types: ['5_0']
Double check type overwriting: row 5630, sentence 1
Common indices: [25] | Pre-existing types: ['3_0']
Double check type overwriting: row 5630, sentence 2
Common indices: [30, 31] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 5655, sentence 1
Common indices: [15, 16] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 5655, sentence 2
Common indices: [14, 15, 16] | Pre-existing types: ['3_0' '3_0' '3_0']
Double check type overwriting: row 5678, sentence 1
Common indices: [24, 25] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 5678, sentence 2
Common indices: [23] | Pre-existing types: ['3_0']
Double check type overwriting: row 5754, sentence 1
Common indices: [5, 6] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 5754, sentence 2
Common indices: [7] | Pre-existing types: ['3_0']
Double check type overwriting: row 5761, sentence 1
Common indices: [1, 2, 3, 4, 5] | Pre-existing types: ['3_0' '3_0' '3_0' '3_0' '3_0']
Double check type overwriting: row 5761, sentence 2
Common indices: [25, 26] | Pre-existing types: ['3_0' '3_0']

### Synthetic/Analytic Substitution

In [112]:
def differ_by_one(s1, s2):
    s1_list = s1.lower().split()
    s2_list = s2.lower().split()
    return abs(len(s1_list) - len(s2_list)) == 1

In [113]:
textual_paraphrases[textual_paraphrases['type_id'] == 11]

,pair_id,type_id,type_name,sense_preserving,s1_scope,s2_scope,s1_text,s2_text,key_s1,key_s2,k1_text,k2_text
13,5,11,Synthetic/analytic substitution,yes,[13],"[20, 21]",Friday,on Friday,None,None,None,None
21,6,11,Synthetic/analytic substitution,yes,"[1, 2, 3, 4, 5, 6, 7]","[10, 11, 12, 13, 14, 15]",in the first quarter of the year,the first quarter of the year,None,None,None,None
63,23,11,Synthetic/analytic substitution,yes,"[12, 13, 14, 15, 16, 17]","[14, 15, 16, 17]",western portions of the Dominican Republic,the western Dominican Republic,None,None,None,None
73,27,11,Synthetic/analytic substitution,yes,[8],"[8, 9, 10]",struck,managed to strike,None,None,None,None
88,32,11,Synthetic/analytic substitution,yes,"[3, 4, 5, 6, 7, 8, 9]","[7, 8, 9, 10, 11, 12, 13, 14]",the United States ' 12th-largest trading partner,the 12th-largest trading partner of the United...,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...
22020,5791,11,Synthetic/analytic substitution,yes,"[0, 1]","[7, 8, 9]",Remaining shares,the remaining shares,None,None,None,None
22021,5791,11,Synthetic/analytic substitution,yes,"[6, 7, 8]","[3, 4, 5]",QVC 's management,QVC management team,None,None,None,None
22022,5791,11,Synthetic/analytic substitution,yes,"[6, 7, 8]","[2, 3, 4, 5]",QVC 's management,the QVC management team,None,None,None,None
22035,5793,11,Synthetic/analytic substitution,yes,"[21, 22]",[19],on Tuesday,Tuesday,None,None,None,None
22061,5801,11,Synthetic/analytic substitution,yes,"[13, 14]",[14],such familiar,familiar,None,None,None,None

In [114]:
new = pd.DataFrame(columns = textual_paraphrases.columns, data = copy.deepcopy(textual_paraphrases.values))
new = new[new['type_id'] == 11]
new['s1_text'] = new['s1_text'].str.lower() 
new['s2_text'] = new['s2_text'].str.lower() 
new = new[new.apply(lambda x: differ_by_one(x.s1_text, x.s2_text), axis=1)]
new

,pair_id,type_id,type_name,sense_preserving,s1_scope,s2_scope,s1_text,s2_text,key_s1,key_s2,k1_text,k2_text
13,5,11,Synthetic/analytic substitution,yes,[13],"[20, 21]",friday,on friday,None,None,None,None
21,6,11,Synthetic/analytic substitution,yes,"[1, 2, 3, 4, 5, 6, 7]","[10, 11, 12, 13, 14, 15]",in the first quarter of the year,the first quarter of the year,None,None,None,None
88,32,11,Synthetic/analytic substitution,yes,"[3, 4, 5, 6, 7, 8, 9]","[7, 8, 9, 10, 11, 12, 13, 14]",the united states ' 12th-largest trading partner,the 12th-largest trading partner of the united...,None,None,None,None
146,48,11,Synthetic/analytic substitution,yes,"[8, 9]",[12],its earnings,earnings,None,None,None,None
156,50,11,Synthetic/analytic substitution,yes,"[10, 11, 12]","[10, 11, 12, 13]",significant economic growth,a significant economic growth,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...
22011,5788,11,Synthetic/analytic substitution,yes,"[0, 1]",[4],pwc itself,pwc,None,None,None,None
22020,5791,11,Synthetic/analytic substitution,yes,"[0, 1]","[7, 8, 9]",remaining shares,the remaining shares,None,None,None,None
22022,5791,11,Synthetic/analytic substitution,yes,"[6, 7, 8]","[2, 3, 4, 5]",qvc 's management,the qvc management team,None,None,None,None
22035,5793,11,Synthetic/analytic substitution,yes,"[21, 22]",[19],on tuesday,tuesday,None,None,None,None
22061,5801,11,Synthetic/analytic substitution,yes,"[13, 14]",[14],such familiar,familiar,None,None,None,None

In [115]:
new['s1_scope'], new['s2_scope'], new['s1_text'], new['s2_text'] = new.apply(lambda x: trim_duplicates(x.s1_scope, x.s2_scope, x.s1_text, x.s2_text), axis=1, result_type='expand').transpose().values
new

,pair_id,type_id,type_name,sense_preserving,s1_scope,s2_scope,s1_text,s2_text,key_s1,key_s2,k1_text,k2_text
13,5,11,Synthetic/analytic substitution,yes,[],[20],,on,None,None,None,None
21,6,11,Synthetic/analytic substitution,yes,[1],[],in,,None,None,None,None
88,32,11,Synthetic/analytic substitution,yes,[6],[11],',of,None,None,None,None
146,48,11,Synthetic/analytic substitution,yes,[8],[],its,,None,None,None,None
156,50,11,Synthetic/analytic substitution,yes,[],[10],,a,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...
22011,5788,11,Synthetic/analytic substitution,yes,[1],[],itself,,None,None,None,None
22020,5791,11,Synthetic/analytic substitution,yes,[],[7],,the,None,None,None,None
22022,5791,11,Synthetic/analytic substitution,yes,[7],"[2, 5]",'s,the team,None,None,None,None
22035,5793,11,Synthetic/analytic substitution,yes,[21],[],on,,None,None,None,None
22061,5801,11,Synthetic/analytic substitution,yes,[13],[],such,,None,None,None,None

In [116]:
new['s1_text'] = new['s1_text'].apply(lambda x: None if x == '' else x)
new['s2_text'] = new['s2_text'].apply(lambda x: None if x == '' else x)
new['s1_scope'] = new['s1_scope'].apply(lambda x: None if list(x) == [] else x)
new['s2_scope'] = new['s2_scope'].apply(lambda x: None if list(x) == [] else x)

In [117]:
new

,pair_id,type_id,type_name,sense_preserving,s1_scope,s2_scope,s1_text,s2_text,key_s1,key_s2,k1_text,k2_text
13,5,11,Synthetic/analytic substitution,yes,None,[20],None,on,None,None,None,None
21,6,11,Synthetic/analytic substitution,yes,[1],None,in,None,None,None,None,None
88,32,11,Synthetic/analytic substitution,yes,[6],[11],',of,None,None,None,None
146,48,11,Synthetic/analytic substitution,yes,[8],None,its,None,None,None,None,None
156,50,11,Synthetic/analytic substitution,yes,None,[10],None,a,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...
22011,5788,11,Synthetic/analytic substitution,yes,[1],None,itself,None,None,None,None,None
22020,5791,11,Synthetic/analytic substitution,yes,None,[7],None,the,None,None,None,None
22022,5791,11,Synthetic/analytic substitution,yes,[7],"[2, 5]",'s,the team,None,None,None,None
22035,5793,11,Synthetic/analytic substitution,yes,[21],None,on,None,None,None,None,None
22061,5801,11,Synthetic/analytic substitution,yes,[13],None,such,None,None,None,None,None

In [118]:
new_adddel = new[(new['s1_scope'].isnull()) | (new['s2_scope'].isnull())]
new_subs = new[~((new['s1_scope'].isnull()) | (new['s2_scope'].isnull()))]

In [119]:
new_adddel[:30]

,pair_id,type_id,type_name,sense_preserving,s1_scope,s2_scope,s1_text,s2_text,key_s1,key_s2,k1_text,k2_text
13,5,11,Synthetic/analytic substitution,yes,None,[20],None,on,None,None,None,None
21,6,11,Synthetic/analytic substitution,yes,[1],None,in,None,None,None,None,None
146,48,11,Synthetic/analytic substitution,yes,[8],None,its,None,None,None,None,None
156,50,11,Synthetic/analytic substitution,yes,None,[10],None,a,None,None,None,None
253,74,11,Synthetic/analytic substitution,yes,[9],None,all,None,None,None,None,None
307,87,11,Synthetic/analytic substitution,yes,[20],None,many,None,None,None,None,None
551,150,11,Synthetic/analytic substitution,yes,None,[13],None,the,None,None,None,None
650,172,11,Synthetic/analytic substitution,yes,[14],None,more,None,None,None,None,None
656,173,11,Synthetic/analytic substitution,yes,[18],None,'s,None,None,None,None,None
662,174,11,Synthetic/analytic substitution,yes,[24],None,its,None,None,None,None,None
696,182,11,Synthetic/analytic substitution,yes,None,[20],None,the,None,None,None,None
752,199,11,Synthetic/analytic substitution,yes,None,[1],None,'s,None,None,None,None
1029,267,11,Synthetic/analytic substitution,yes,None,[6],None,of,None,None,None,None
1105,282,11,Synthetic/analytic substitution,yes,[13],None,services,None,None,None,None,None
1278,325,11,Synthetic/analytic substitution,yes,[13],None,'s,None,None,None,None,None
1327,337,11,Synthetic/analytic substitution,yes,None,[13],None,such,None,None,None,None
1353,347,11,Synthetic/analytic substitution,yes,None,[5],None,some,None,None,None,None
1357,347,11,Synthetic/analytic substitution,yes,[2],None,for,None,None,None,None,None
1454,381,11,Synthetic/analytic substitution,yes,[13],None,the,None,None,None,None,None
1637,429,11,Synthetic/analytic substitution,yes,[1],None,for,None,None,None,None,None
1647,432,11,Synthetic/analytic substitution,yes,[9],None,the,None,None,None,None,None
1683,440,11,Synthetic/analytic substitution,yes,None,[11],None,only,None,None,None,None
1787,467,11,Synthetic/analytic substitution,yes,None,[4],None,good,None,None,None,None
1926,510,11,Synthetic/analytic substitution,yes,[20],None,next,None,None,None,None,None
1932,511,11,Synthetic/analytic substitution,yes,None,[0],None,the,None,None,None,None
1978,523,11,Synthetic/analytic substitution,yes,None,[11],None,the,None,None,None,None
2092,551,11,Synthetic/analytic substitution,yes,None,None,None,None,None,None,None,None
2257,595,11,Synthetic/analytic substitution,yes,None,[6],None,on,None,None,None,None
2465,643,11,Synthetic/analytic substitution,yes,[14],None,its,None,None,None,None,None
2481,647,11,Synthetic/analytic substitution,yes,[12],None,on,None,None,None,None,None

In [120]:
substitute(11, new_adddel, 1, False)

In [121]:
new_subs[:30]

,pair_id,type_id,type_name,sense_preserving,s1_scope,s2_scope,s1_text,s2_text,key_s1,key_s2,k1_text,k2_text
88,32,11,Synthetic/analytic substitution,yes,[6],[11],',of,None,None,None,None
321,89,11,Synthetic/analytic substitution,yes,"[7, 8]","[9, 11]",nation 's,in us,None,None,None,None
649,172,11,Synthetic/analytic substitution,yes,"[5, 7]",[6],the cost,prices,None,None,None,None
686,180,11,Synthetic/analytic substitution,yes,[12],"[13, 14]",mexican,of mexico,None,None,None,None
860,222,11,Synthetic/analytic substitution,yes,[12],[8],federal,us,None,None,None,None
1023,265,11,Synthetic/analytic substitution,yes,[19],[9],in,',None,None,None,None
1090,279,11,Synthetic/analytic substitution,yes,[8],"[3, 5]",makers,the manufacturers,None,None,None,None
1210,309,11,Synthetic/analytic substitution,yes,"[20, 21]",[21],the pool,pools,None,None,None,None
1562,410,11,Synthetic/analytic substitution,yes,"[9, 10]",[8],indicating creditworthiness,credit,None,None,None,None
1567,411,11,Synthetic/analytic substitution,yes,[4],"[4, 6]",comment,an response,None,None,None,None
1872,493,11,Synthetic/analytic substitution,yes,"[18, 19]",[14],at the,state,None,None,None,None
1925,510,11,Synthetic/analytic substitution,yes,"[0, 2, 3, 4]","[1, 2, 3]",chechen working for the,in chechnya 's,None,None,None,None
1988,526,11,Synthetic/analytic substitution,yes,"[3, 4]","[20, 21, 22]",the third-quarter,this quarter 's,None,None,None,None
2105,554,11,Synthetic/analytic substitution,yes,"[17, 18]",[18],by 2,two,None,None,None,None
2619,684,11,Synthetic/analytic substitution,yes,"[1, 2]",[1],other films,movies,None,None,None,None
2689,704,11,Synthetic/analytic substitution,yes,"[10, 11]",[9],'s initial,the,None,None,None,None
2998,792,11,Synthetic/analytic substitution,yes,"[12, 13]","[20, 21, 22]",house arrest,detention at home,None,None,None,None
3215,858,11,Synthetic/analytic substitution,yes,"[5, 6]","[4, 5]",today 's,tuesday in,None,None,None,None
3431,916,11,Synthetic/analytic substitution,yes,[4],"[5, 6]",finance,financial officer,None,None,None,None
3766,1013,11,Synthetic/analytic substitution,yes,"[7, 8]",[8],the 11th,11,None,None,None,None
3808,1022,11,Synthetic/analytic substitution,yes,"[6, 7, 9]","[6, 8]",market 's indices,markets indexes,None,None,None,None
4019,1076,11,Synthetic/analytic substitution,yes,"[2, 5]",[4],the systems,'s,None,None,None,None
4131,1111,11,Synthetic/analytic substitution,yes,[4],"[2, 4]",courtiers,the family,None,None,None,None
4409,1189,11,Synthetic/analytic substitution,yes,"[9, 10]","[4, 9, 11]",'s shareholders,holders of shares,None,None,None,None
4761,1286,11,Synthetic/analytic substitution,yes,"[7, 10]",[8],a in,an,None,None,None,None
4798,1298,11,Synthetic/analytic substitution,yes,"[9, 11]",[7],a attack,failure,None,None,None,None
4848,1312,11,Synthetic/analytic substitution,yes,"[9, 10, 11]","[9, 10]",3 to 1,about 3-to-1,None,None,None,None
4849,1312,11,Synthetic/analytic substitution,yes,"[23, 24, 25]","[22, 23]",2 to 1,about 2-to-1,None,None,None,None
5014,1349,11,Synthetic/analytic substitution,yes,[3],"[0, 2]",a,the 's,None,None,None,None
5060,1362,11,Synthetic/analytic substitution,yes,[14],"[10, 12]",e-mail,these e-mails,None,None,None,None

In [122]:
substitute(11, new_subs, 5, False)

In [123]:
aye = pd.DataFrame(columns = textual_paraphrases.columns, data = copy.deepcopy(textual_paraphrases.values))
aye = aye[aye['type_id'] == 11]
aye.drop(new.index.tolist(), inplace=True)
aye[:30]

,pair_id,type_id,type_name,sense_preserving,s1_scope,s2_scope,s1_text,s2_text,key_s1,key_s2,k1_text,k2_text
63,23,11,Synthetic/analytic substitution,yes,"[12, 13, 14, 15, 16, 17]","[14, 15, 16, 17]",western portions of the Dominican Republic,the western Dominican Republic,None,None,None,None
73,27,11,Synthetic/analytic substitution,yes,[8],"[8, 9, 10]",struck,managed to strike,None,None,None,None
89,32,11,Synthetic/analytic substitution,yes,"[12, 13]","[17, 18]",two-way trade,trade volume,None,None,None,None
143,46,11,Synthetic/analytic substitution,yes,"[6, 7, 8, 9, 10, 11]","[6, 7, 8, 9, 10, 11, 12, 13, 14]",State Department official John S. Wolf,"John S. Wolf , an assistant secretary of state",None,None,None,None
182,54,11,Synthetic/analytic substitution,yes,"[12, 13, 14, 15, 16, 17, 18]","[10, 11, 12, 13]",morning trading on the Nasdaq Stock Market,Nasdaq Stock Market trading,None,None,None,None
201,59,11,Synthetic/analytic substitution,yes,"[2, 3, 4, 5, 6, 7]","[2, 3, 4]",the questions asked by the audience,the audience questions,None,None,None,None
304,86,11,Synthetic/analytic substitution,yes,"[11, 12, 13]","[8, 9, 10, 11, 12, 13, 14]",Longhorn 's release,release dates of Microsoft 's new products,None,None,None,None
331,94,11,Synthetic/analytic substitution,yes,[12],"[11, 12, 14]",resisted,put up resistance,None,None,None,None
392,110,11,Synthetic/analytic substitution,yes,"[4, 5, 6, 7]","[4, 5, 6, 7]",Russia 's foreign ministry,the Russian Foreign Ministry,None,None,None,None
405,112,11,Synthetic/analytic substitution,yes,[24],[25],XML-based,XML,None,None,None,None
598,160,11,Synthetic/analytic substitution,yes,"[9, 10, 11, 12]","[7, 8, 9, 10]",10 years ' jail,10 years in prison,None,None,None,None
599,160,11,Synthetic/analytic substitution,yes,[15],"[13, 14, 15, 16]",life,a possible life sentence,None,None,None,None
619,165,11,Synthetic/analytic substitution,yes,"[0, 1, 2, 3, 4, 5]","[0, 1, 2, 3, 4, 5, 6, 7, 8]",French Foreign Minister Dominique de Villepin,"The French Foreign Minister , Dominique de Vil...",None,None,None,None
631,169,11,Synthetic/analytic substitution,yes,[7],"[5, 6, 7]",suspects,the six suspects,None,None,None,None
670,175,11,Synthetic/analytic substitution,yes,"[27, 28]","[29, 30]",Djihad Salafist,Salafist Jihad,None,None,None,None
671,175,11,Synthetic/analytic substitution,yes,"[0, 1, 2, 3, 4, 5, 6, 7]","[0, 1, 2, 3, 4, 5]","The Interior Minister , Al Mustapha Sahel ,",Moroccan Interior Minister Al Mustapha Sahel,None,None,None,None
681,179,11,Synthetic/analytic substitution,yes,[20],"[20, 21, 22]",cash,stashes of cash,None,None,None,None
753,199,11,Synthetic/analytic substitution,yes,"[4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]","[5, 6, 7]","0.09 shares of the parent company , Palm , Inc. ,",0.09 Palm shares,None,None,None,None
760,200,11,Synthetic/analytic substitution,yes,"[0, 1, 2]","[0, 1, 2]",Shares of Microsoft,Microsoft 's stock,None,None,None,None
824,214,11,Synthetic/analytic substitution,yes,"[0, 1, 2]","[0, 1, 2, 3, 4, 5, 6]",The March downturn,A downturn in services activity in March,None,None,None,None
841,217,11,Synthetic/analytic substitution,yes,"[5, 6, 7]","[3, 4, 5, 6, 7]",top administration officials,top officials in his administration,None,None,None,None
847,218,11,Synthetic/analytic substitution,yes,"[6, 7, 8, 9, 10]","[4, 5, 6]",the mainland 's Guangdong province,in Guandong province,None,None,None,None
895,232,11,Synthetic/analytic substitution,yes,"[0, 1, 2, 3]","[0, 1]",About 120 potential jurors,The jurors,None,None,None,None
900,235,11,Synthetic/analytic substitution,yes,"[6, 7, 8, 9, 10, 11]","[7, 8, 9, 10]",both companies ' board of directors,directors at both companies,None,None,None,None
1086,278,11,Synthetic/analytic substitution,yes,[8],"[7, 8, 9, 11]",and,as well as and,None,None,None,None
1220,310,11,Synthetic/analytic substitution,yes,[19],"[16, 17, 18, 19]",torso,headless and limbless torso,None,None,None,None
1221,310,11,Synthetic/analytic substitution,yes,"[23, 24, 25]","[24, 25, 26]",the Thames River,the river Thames,None,None,None,None
1361,348,11,Synthetic/analytic substitution,yes,"[5, 6, 7, 8, 9, 10, 11]",[5],the University of California at Los Angeles,UCLA,None,None,None,None
1378,356,11,Synthetic/analytic substitution,yes,"[19, 20, 21, 22]","[23, 24, 25, 26]",Tiananmen Square in Beijing,Beijing 's Tiananmen Square,None,None,None,None
1413,368,11,Synthetic/analytic substitution,yes,"[6, 7]","[4, 5]",2.6.0 kernel,2.6 kernel,None,None,None,None

In [124]:
substitute(11, aye, 5, False)

In [125]:
positives.loc[45]['sentence1']

'The group will be headed by State Department official John S. Wolf, who has served in Australia, Vietnam, Greece and Pakistan.'

In [126]:
positives.loc[45]['sentence2']

'The group will be headed by John S. Wolf, an assistant secretary of state who has served in Australia, Vietnam, Greece and Pakistan.'

In [127]:
positives.loc[45]['sentence1_scope']

array(['', '', '', '', '', '', '5_0', '4_0', '4_0', '5_0', '5_0', '5_0',
       '', '', '', '', '', '', '', '', '', '', '', '', ''], dtype='<U64')

### Converse Substitution

In [128]:
textual_paraphrases[textual_paraphrases['type_id'] == 13][:30]

,pair_id,type_id,type_name,sense_preserving,s1_scope,s2_scope,s1_text,s2_text,key_s1,key_s2,k1_text,k2_text
1139,292,13,Converse substitution,yes,"[10, 11]","[14, 15]",was taken,had brought,None,None,None,None
1354,347,13,Converse substitution,yes,[4],[1],was,leaves,None,None,None,None
2370,622,13,Converse substitution,yes,"[3, 4]",[4],be back,shelve,None,None,None,None
3021,798,13,Converse substitution,yes,"[10, 11]","[14, 15]",breaks down,interacts with,None,None,None,None
3389,902,13,Converse substitution,yes,"[2, 6]","[3, 4, 8]",includes in,would get of,None,None,None,None
3502,932,13,Converse substitution,yes,"[4, 5]",[3],were given,received,None,None,None,None
3503,932,13,Converse substitution,yes,[14],"[16, 17]",took,were given,None,None,None,None
4609,1244,13,Converse substitution,yes,"[2, 3]","[6, 7]",was subpoenaed,was cooperating,None,None,None,None
6113,1663,13,Converse substitution,yes,"[2, 3, 4]","[8, 10, 11]",were hurt by,put pressure on,None,None,None,None
7418,2001,13,Converse substitution,yes,[8],[9],swept,gave,None,None,None,None
7442,2010,13,Converse substitution,yes,"[6, 7, 8]","[6, 7]",were being felt,have arrived,None,None,None,None
8000,2159,13,Converse substitution,yes,[17],"[8, 9]",said,were reported,None,None,None,None
8088,2183,13,Converse substitution,yes,"[22, 24]",[24],helps buy,sells,None,None,None,None
8100,2188,13,Converse substitution,yes,[4],[12],got,hit,None,None,None,None
8192,2207,13,Converse substitution,yes,"[3, 4, 5]",[5],be taken up,bring,None,None,None,None
9174,2461,13,Converse substitution,yes,"[13, 14]",[3],went to,took,None,None,None,None
9377,2531,13,Converse substitution,yes,[5],"[1, 2]",die,'re losing,None,None,None,None
9879,2661,13,Converse substitution,yes,[2],"[21, 22, 23, 24, 25]",offer,drop into the hands of,None,None,None,None
9887,2666,13,Converse substitution,yes,"[1, 2]","[3, 4]",has released,are available,None,None,None,None
10080,2722,13,Converse substitution,yes,"[2, 3, 4]","[7, 8, 9, 10]",have not found,have not turned up,None,None,None,None
11658,3096,13,Converse substitution,yes,"[8, 9, 10, 11, 12]","[9, 10, 11, 12]",had been scheduled to host,were expected to arrive,None,None,None,None
11980,3181,13,Converse substitution,yes,"[10, 13]",[19],protect from,thwart,None,None,None,None
12267,3250,13,Converse substitution,yes,"[3, 4]",[7],weighs in,competes,None,None,None,None
13439,3561,13,Converse substitution,yes,"[1, 3]","[3, 4, 6]",was restored,has helped regain,None,None,None,None
14053,3717,13,Converse substitution,yes,"[4, 5]","[20, 21, 22, 23]",is facing,pursue their case against,None,None,None,None
14092,3728,13,Converse substitution,yes,"[5, 6]","[16, 17, 18]",would strip,will be free,None,None,None,None
14869,3923,13,Converse substitution,yes,[14],[8],announce,come,None,None,None,None
14912,3936,13,Converse substitution,yes,[23],"[2, 3]",triggered,came after,None,None,None,None
15294,4040,13,Converse substitution,yes,"[8, 9]",[1],was advised,say,None,None,None,None
15386,4066,13,Converse substitution,yes,"[18, 19, 20]","[17, 18, 19]",can not expect,is not expected,None,None,None,None

In [129]:
substitute(13)

Double check type overwriting: row 2009, sentence 1
Common indices: [6, 7, 8] | Pre-existing types: ['6_0' '6_0' '6_0']
Double check type overwriting: row 2009, sentence 2
Common indices: [6, 7] | Pre-existing types: ['6_0' '6_0']
Double check type overwriting: row 3180, sentence 1
Common indices: [10, 13] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 3180, sentence 2
Common indices: [19] | Pre-existing types: ['3_0']
Double check type overwriting: row 4887, sentence 1
Common indices: [13] | Pre-existing types: ['6_0']
Double check type overwriting: row 4887, sentence 2
Common indices: [17, 18] | Pre-existing types: ['6_0' '6_0']
Double check type overwriting: row 5466, sentence 1
Common indices: [5] | Pre-existing types: ['6_0']
Double check type overwriting: row 5466, sentence 2
Common indices: [2] | Pre-existing types: ['6_0']

### Coordination Changes

This is similar to punctuation changes in two ways:
- It uses `keys` for annotation
- It can either be Addition/Deletion (in this case, function word) or Substitution
  - But which kind of substitution? Synonym?

In [130]:
coord = pd.DataFrame(columns = textual_paraphrases.columns, data = copy.deepcopy(textual_paraphrases.values))
coord = coord[coord['type_id'] == 17]
coord.drop(columns=['s1_scope', 's2_scope'], inplace=True)
coord.rename(columns={'key_s1': 's1_scope', 'key_s2': 's2_scope'}, inplace=True)

coord[30:40]

,pair_id,type_id,type_name,sense_preserving,s1_text,s2_text,s1_scope,s2_scope,k1_text,k2_text
11748,3120,17,Coordination changes,yes,traffic has disappeared from once bustling str...,traffic has disappeared from once-bustling str...,None,[10],None,and
12294,3262,17,Coordination changes,yes,"a 4.5-inch LCD screen , Memory Stick expansion...",a 4.5 in back-lit LCD screen and memory expans...,None,[9],None,and
13874,3675,17,Coordination changes,yes,"20 years , 63 days",20 years and 63 days,[7],[15],",",and
14171,3752,17,Coordination changes,yes,"State Sen. Vi Simpson , former state and natio...",former state and national Democratic Chairman ...,None,[12],None,and
16307,4301,17,Coordination changes,yes,Pacific Northwest has more than 800 employees ...,"It has 800 employees , compared with Wells Far...",[8],None,and,None
16346,4312,17,Coordination changes,yes,The victims were last seen ; their bodies were...,The family was last seen and their bodies were...,None,[7],None,and
16937,4474,17,Coordination changes,yes,"`` I have lots of bad dreams , I have flashbac...","`` I have lots of bad dreams , flashbacks and ...",None,[9],None,and
17198,4533,17,Coordination changes,yes,"some administrative material , some from a fai...",administrative paper work and some about a fai...,None,[10],None,and
17211,4537,17,Coordination changes,yes,a June opening record,a monster opening and a June record,None,[17],None,and
17247,4548,17,Coordination changes,yes,is still being held at the prison and is now i...,was held in isolation at the same prison,[8],None,and,None

In [131]:
print_sents(1316)

Five foreign embassies, including the Singapore embassy, in Bangkok were among the targets, it said.
Five foreign embassies in Bangkok, including the Singapore embassy, were among those targeted.

In [132]:
coord_adddel = coord[(coord['s1_scope'].isnull()) | (coord['s2_scope'].isnull())]
coord_subs = coord[~((coord['s1_scope'].isnull()) | (coord['s2_scope'].isnull()))]

In [133]:
substitute(17, coord_adddel, 1)

Double check type overwriting: row 4977, sentence 2
Common indices: [6] | Pre-existing types: ['3_1']
Double check type overwriting: row 5321, sentence 2
Common indices: [18] | Pre-existing types: ['5_1']

TODO: Deal with the below

In [134]:
coord_subs

,pair_id,type_id,type_name,sense_preserving,s1_text,s2_text,s1_scope,s2_scope,k1_text,k2_text
64,23,17,Coordination changes,yes,But tropical storm warnings and watches were p...,Tropical storm warnings were in place Thursday...,[4],[11],and,and
2925,769,17,Coordination changes,yes,"He was sent to Larned State Hospital , where h...",He ordered him sent to the Larned State Securi...,[8],[10],where,for
4868,1317,17,Coordination changes,yes,hammering consumer spending and leaving shops ...,"hammering consumer spending , with shops , res...",[23],[14],and,","
9107,2442,17,Coordination changes,yes,Ms Pike also said it was not unusual for hospi...,But Ms Pike said it was not unusual for hospit...,[15],[14],but,and
9663,2604,17,Coordination changes,yes,Jews and the US,"Jews , Americans",[3],[1],and,","
10342,2789,17,Coordination changes,yes,"In addition to O'Connor , Rehnquist 's majorit...","Justices Sandra Day O'Connor , David H. Souter...","[0, 1, 2, 20]",[19],In addition to and,and
13874,3675,17,Coordination changes,yes,"20 years , 63 days",20 years and 63 days,[7],[15],",",and
20398,5343,17,Coordination changes,yes,"vegetables , fruits",fruits and vegetables,[9],[14],",",and
20399,5343,17,Coordination changes,yes,"nuts , cereals",nuts and cereals,[15],[18],",",and
21161,5545,17,Coordination changes,yes,benefiting from a little luck Thursday to eras...,to erase a set point and beat unseeded Nadia P...,[23],[20],and,and

In [135]:
print_sents(769)

He was sent to Larned State Hospital, where he was evaluated and treated.
He ordered him sent to the Larned State Security Hospital for continued evaluation and treatment.

Let's isolate the punctuation and add it first

In [136]:
coord_punct = duplicate_df(coord.loc[[4868, 9663, 13874, 20398, 20399],:])
coord_punct

,pair_id,type_id,type_name,sense_preserving,s1_text,s2_text,s1_scope,s2_scope,k1_text,k2_text
0,1317,17,Coordination changes,yes,hammering consumer spending and leaving shops ...,"hammering consumer spending , with shops , res...",[23],[14],and,","
1,2604,17,Coordination changes,yes,Jews and the US,"Jews , Americans",[3],[1],and,","
2,3675,17,Coordination changes,yes,"20 years , 63 days",20 years and 63 days,[7],[15],",",and
3,5343,17,Coordination changes,yes,"vegetables , fruits",fruits and vegetables,[9],[14],",",and
4,5343,17,Coordination changes,yes,"nuts , cereals",nuts and cereals,[15],[18],",",and

In [137]:
coord_subs.loc[[13874, 20398, 20399], 's1_scope'] = None
coord_subs.loc[[4868, 9663], 's2_scope'] = None
coord_subs

/tmp/ipykernel_56784/4285007175.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  coord_subs.loc[[13874, 20398, 20399], 's1_scope'] = None
/tmp/ipykernel_56784/4285007175.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  coord_subs.loc[[4868, 9663], 's2_scope'] = None

,pair_id,type_id,type_name,sense_preserving,s1_text,s2_text,s1_scope,s2_scope,k1_text,k2_text
64,23,17,Coordination changes,yes,But tropical storm warnings and watches were p...,Tropical storm warnings were in place Thursday...,[4],[11],and,and
2925,769,17,Coordination changes,yes,"He was sent to Larned State Hospital , where h...",He ordered him sent to the Larned State Securi...,[8],[10],where,for
4868,1317,17,Coordination changes,yes,hammering consumer spending and leaving shops ...,"hammering consumer spending , with shops , res...",[23],None,and,","
9107,2442,17,Coordination changes,yes,Ms Pike also said it was not unusual for hospi...,But Ms Pike said it was not unusual for hospit...,[15],[14],but,and
9663,2604,17,Coordination changes,yes,Jews and the US,"Jews , Americans",[3],None,and,","
10342,2789,17,Coordination changes,yes,"In addition to O'Connor , Rehnquist 's majorit...","Justices Sandra Day O'Connor , David H. Souter...","[0, 1, 2, 20]",[19],In addition to and,and
13874,3675,17,Coordination changes,yes,"20 years , 63 days",20 years and 63 days,None,[15],",",and
20398,5343,17,Coordination changes,yes,"vegetables , fruits",fruits and vegetables,None,[14],",",and
20399,5343,17,Coordination changes,yes,"nuts , cereals",nuts and cereals,None,[18],",",and
21161,5545,17,Coordination changes,yes,benefiting from a little luck Thursday to eras...,to erase a set point and beat unseeded Nadia P...,[23],[20],and,and

In [138]:
coord_punct.loc[[0,1], 's1_scope'] = None
coord_punct.loc[[2,3,4], 's2_scope'] = None
coord_punct

,pair_id,type_id,type_name,sense_preserving,s1_text,s2_text,s1_scope,s2_scope,k1_text,k2_text
0,1317,17,Coordination changes,yes,hammering consumer spending and leaving shops ...,"hammering consumer spending , with shops , res...",None,[14],and,","
1,2604,17,Coordination changes,yes,Jews and the US,"Jews , Americans",None,[1],and,","
2,3675,17,Coordination changes,yes,"20 years , 63 days",20 years and 63 days,[7],None,",",and
3,5343,17,Coordination changes,yes,"vegetables , fruits",fruits and vegetables,[9],None,",",and
4,5343,17,Coordination changes,yes,"nuts , cereals",nuts and cereals,[15],None,",",and

In [139]:
substitute(17, coord_punct, 8)

Double check type overwriting: row 3674, sentence 1
Common indices: [7] | Pre-existing types: ['3_0']

In [140]:
substitute(17, coord_subs, 1)

Double check type overwriting: row 3674, sentence 2
Common indices: [15] | Pre-existing types: ['3_0']

### Subordination and Nesting changes

In [141]:
subord = pd.DataFrame(columns = textual_paraphrases.columns, data = copy.deepcopy(textual_paraphrases.values))
subord = subord[subord['type_id'] == 18]
subord.drop(columns=['s1_scope', 's2_scope'], inplace=True)
subord.rename(columns={'key_s1': 's1_scope', 'key_s2': 's2_scope'}, inplace=True)

subord[:10]

,pair_id,type_id,type_name,sense_preserving,s1_text,s2_text,s1_scope,s2_scope,k1_text,k2_text
48,20,18,Subordination and nesting changes,yes,Sheena Young of Child,"Sheena Young , a spokesman for Child ,","[2, 3]","[3, 4, 5, 6]",of Child,a spokesman for Child
97,33,18,Subordination and nesting changes,yes,The AFL-CIO is waiting until October to decide,The AFL-CIO announced Wednesday that it will d...,None,"[2, 4]",None,announced that
105,36,18,Subordination and nesting changes,yes,Trading in Loral was halted yesterday ; the sh...,The New York Stock Exchange suspended trading ...,"[7, 8, 9, 10, 11, 12, 14]",[11],the shares closed on Monday at 3.01,which
131,43,18,Subordination and nesting changes,yes,", who faces charges of conspiracy lying to a g...",on charges of conspiracy and lying to a grand ...,[2],"[7, 8, 9]",who,on charges of
191,56,18,Subordination and nesting changes,yes,and allows developers,", which allows developers",[5],[12],and,which
227,69,18,Subordination and nesting changes,yes,a point system the U.S. Supreme Court found un...,the way it previously admitted undergraduates,"[16, 17, 18, 19, 20, 21]","[21, 22, 23, 24]",the U.S. Supreme Court found unconstitutional,it previously admitted undergraduates
406,112,18,Subordination and nesting changes,yes,The suite comes complete with a word processor...,"The suite includes a word processor , spreadsh...",[17],None,while,None
489,134,18,Subordination and nesting changes,yes,at the same time of the anthrax attacks,at the same time that real anthrax attacks,"[19, 20, 21, 22]",[19],of the anthrax attacks,that
497,135,18,Subordination and nesting changes,yes,"$ 200 billion annually , which Gephardt would ...",$ 200 billion annually and be paid for,[11],None,which,None
632,169,18,Subordination and nesting changes,yes,The Saudi newspaper Okaz reported Monday that ...,The newspaper Okaz reported that the six suspe...,"[8, 9, 10, 11, 12]","[11, 12]",who escaped Saturday 's raid,the raid

In [142]:
subord_adddel = subord[(subord['s1_scope'].isnull()) | (subord['s2_scope'].isnull())]
subord_subs = subord[~((subord['s1_scope'].isnull()) | (subord['s2_scope'].isnull()))]

In [143]:
subord_adddel[:30]

,pair_id,type_id,type_name,sense_preserving,s1_text,s2_text,s1_scope,s2_scope,k1_text,k2_text
97,33,18,Subordination and nesting changes,yes,The AFL-CIO is waiting until October to decide,The AFL-CIO announced Wednesday that it will d...,None,"[2, 4]",None,announced that
406,112,18,Subordination and nesting changes,yes,The suite comes complete with a word processor...,"The suite includes a word processor , spreadsh...",[17],None,while,None
497,135,18,Subordination and nesting changes,yes,"$ 200 billion annually , which Gephardt would ...",$ 200 billion annually and be paid for,[11],None,which,None
967,252,18,Subordination and nesting changes,yes,A hearing on the matter was held Thursday morn...,A hearing Thursday morning before Judge Elizab...,"[14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 2...",None,", marking one of the early steps in deciding t...",None
1507,394,18,Subordination and nesting changes,yes,a patent verdict that went against the company,a patent verdict against it,[14],None,that,None
1524,399,18,Subordination and nesting changes,yes,"in August 2000 , when Rambus accused Infineon","At that time , Rambus accused Infineon",[8],None,when,None
1698,443,18,Subordination and nesting changes,yes,"Kyi , a U.N. envoy says , as Japan adds to gro...",JAPAN added to growing international pressure ...,[14],None,by,None
1781,465,18,Subordination and nesting changes,yes,"Meanwhile , rival contender , General Electric...",Other contenders included General Electric 's ...,None,[9],None,which
1982,525,18,Subordination and nesting changes,yes,500 clergy sex abuse lawsuits,500 sex abuse lawsuits involving priests,None,"[20, 21]",None,involving priests
2079,549,18,Subordination and nesting changes,yes,"In the 2002 study , the margin of error ranged...",It has a margin of error of plus or minus thre...,[0],None,In,None
2106,554,18,Subordination and nesting changes,yes,"sales were flat , while the gross margin fell","sales were flat , with gross margin down",[12],None,while,None
2137,563,18,Subordination and nesting changes,yes,code which is from its Unix property,Unix intellectual property owned by SCO,[11],None,which,None
2334,612,18,Subordination and nesting changes,yes,A rebel who was captured,A captured rebel,[2],None,who,None
2812,744,18,Subordination and nesting changes,yes,The cleanup cost about $ 130 million,The $ 130 million cleanup,"[12, 13]",None,cost about,None
2991,791,18,Subordination and nesting changes,yes,this is a time when we priests need to be rene...,This is the time we priests need to be renewin...,[8],None,when,None
3000,792,18,Subordination and nesting changes,yes,Myanmar 's pro-democracy leader Aung San Suu K...,Burma pro-democracy leader Aung San Suu Kyi wi...,"[14, 15, 16, 17, 18, 19, 20, 21, 22, 23]",None,following her release from a hospital where sh...,None
3116,828,18,Subordination and nesting changes,yes,Vaccine makers have been thrust into the limel...,Vaccine makers have been thrust into the limel...,None,[14],None,amid
3177,849,18,Subordination and nesting changes,yes,the 55 now in custody,the 55 who have been caught,None,[10],None,who
3305,879,18,Subordination and nesting changes,yes,"America’s “spiritual enemy” that , “will only ...","Our `` spiritual enemy , '' `` will only be de...",[10],None,that,None
3791,1017,18,Subordination and nesting changes,yes,"Zulifquar Ali , a worshiper slightly wounded b...","Zulfiqar Ali , who was slightly wounded by shr...",None,[4],None,who
3825,1025,18,Subordination and nesting changes,yes,after a week of fighting that killed at least ...,at least 112 dead after a week of fighting,[18],None,that,None
4014,1075,18,Subordination and nesting changes,yes,Governor Gray Davis estimated that the fires c...,State officials estimated the cost,[5],None,that,None
4595,1240,18,Subordination and nesting changes,yes,longer waits to cross borders and will hurt co...,longer lines that will damage cross-border com...,None,[14],None,that
5192,1408,18,Subordination and nesting changes,yes,"`` The Matrix Reloaded , '' which opened in li...",Matrix Reloaded opened in limited previews Wed...,[6],None,which,None
5289,1428,18,Subordination and nesting changes,yes,"He was voluntarily castrated in 2001 , an oper...","DeVries , who was voluntarily castrated in Aug...",None,[2],None,who
5435,1475,18,Subordination and nesting changes,yes,The companies announced plans to collaborate,The two groups said they would collaborate,None,"[4, 5, 6]",None,they would collaborate
5604,1507,18,Subordination and nesting changes,yes,a Rhodes scholar at Oxford,an Rhodes Scholar he met while at Oxford,None,"[16, 17]",None,he met
5795,1576,18,Subordination and nesting changes,yes,Microsoft will also tie stock awards,Microsoft also said it will tie stock awards,None,[2],None,said
5857,1591,18,Subordination and nesting changes,yes,Respondents who rated,Those rating,[1],None,who,None
5978,1621,18,Subordination and nesting changes,yes,Montgomery was one of the first but,While Montgomery was one of the first,None,[0],None,While

Isolate single words, since those are almost certainly function words

In [144]:
def singleword(word):
    if not word:
        return False
    else:
        return len(word.split()) == 1

In [145]:
subord_adddel_funct = subord_adddel[subord_adddel.apply(lambda x: singleword(x.k1_text) or singleword(x.k2_text), axis=1)]

In [146]:
subord_adddel_funct[:30]

,pair_id,type_id,type_name,sense_preserving,s1_text,s2_text,s1_scope,s2_scope,k1_text,k2_text
406,112,18,Subordination and nesting changes,yes,The suite comes complete with a word processor...,"The suite includes a word processor , spreadsh...",[17],None,while,None
497,135,18,Subordination and nesting changes,yes,"$ 200 billion annually , which Gephardt would ...",$ 200 billion annually and be paid for,[11],None,which,None
1507,394,18,Subordination and nesting changes,yes,a patent verdict that went against the company,a patent verdict against it,[14],None,that,None
1524,399,18,Subordination and nesting changes,yes,"in August 2000 , when Rambus accused Infineon","At that time , Rambus accused Infineon",[8],None,when,None
1698,443,18,Subordination and nesting changes,yes,"Kyi , a U.N. envoy says , as Japan adds to gro...",JAPAN added to growing international pressure ...,[14],None,by,None
1781,465,18,Subordination and nesting changes,yes,"Meanwhile , rival contender , General Electric...",Other contenders included General Electric 's ...,None,[9],None,which
2079,549,18,Subordination and nesting changes,yes,"In the 2002 study , the margin of error ranged...",It has a margin of error of plus or minus thre...,[0],None,In,None
2106,554,18,Subordination and nesting changes,yes,"sales were flat , while the gross margin fell","sales were flat , with gross margin down",[12],None,while,None
2137,563,18,Subordination and nesting changes,yes,code which is from its Unix property,Unix intellectual property owned by SCO,[11],None,which,None
2334,612,18,Subordination and nesting changes,yes,A rebel who was captured,A captured rebel,[2],None,who,None
2991,791,18,Subordination and nesting changes,yes,this is a time when we priests need to be rene...,This is the time we priests need to be renewin...,[8],None,when,None
3116,828,18,Subordination and nesting changes,yes,Vaccine makers have been thrust into the limel...,Vaccine makers have been thrust into the limel...,None,[14],None,amid
3177,849,18,Subordination and nesting changes,yes,the 55 now in custody,the 55 who have been caught,None,[10],None,who
3305,879,18,Subordination and nesting changes,yes,"America’s “spiritual enemy” that , “will only ...","Our `` spiritual enemy , '' `` will only be de...",[10],None,that,None
3791,1017,18,Subordination and nesting changes,yes,"Zulifquar Ali , a worshiper slightly wounded b...","Zulfiqar Ali , who was slightly wounded by shr...",None,[4],None,who
3825,1025,18,Subordination and nesting changes,yes,after a week of fighting that killed at least ...,at least 112 dead after a week of fighting,[18],None,that,None
4014,1075,18,Subordination and nesting changes,yes,Governor Gray Davis estimated that the fires c...,State officials estimated the cost,[5],None,that,None
4595,1240,18,Subordination and nesting changes,yes,longer waits to cross borders and will hurt co...,longer lines that will damage cross-border com...,None,[14],None,that
5192,1408,18,Subordination and nesting changes,yes,"`` The Matrix Reloaded , '' which opened in li...",Matrix Reloaded opened in limited previews Wed...,[6],None,which,None
5289,1428,18,Subordination and nesting changes,yes,"He was voluntarily castrated in 2001 , an oper...","DeVries , who was voluntarily castrated in Aug...",None,[2],None,who
5795,1576,18,Subordination and nesting changes,yes,Microsoft will also tie stock awards,Microsoft also said it will tie stock awards,None,[2],None,said
5857,1591,18,Subordination and nesting changes,yes,Respondents who rated,Those rating,[1],None,who,None
5978,1621,18,Subordination and nesting changes,yes,Montgomery was one of the first but,While Montgomery was one of the first,None,[0],None,While
6419,1746,18,Subordination and nesting changes,yes,"Zulifquar Ali , a worshipper slightly wounded ...","Zulfiqar Ali , who was slightly wounded by shr...",None,[4],None,who
6938,1879,18,Subordination and nesting changes,yes,foreigners who were jailed,the 762 foreigners held,[21],None,who,None
6963,1882,18,Subordination and nesting changes,yes,"the U.S. central bank , which sets","Greenspan 's Federal Reserve , the U.S. centra...",[9],None,which,None
6974,1886,18,Subordination and nesting changes,yes,"that program , which also dated from the Depre...",that Depression-era program,[21],None,which,None
7481,2021,18,Subordination and nesting changes,yes,Harris and Klebold killed 12 students and a te...,"Harris and Klebold killed 12 students , a teac...",[9],None,before,None
7966,2150,18,Subordination and nesting changes,yes,"the Governing Council , which is headed by the...",the Governing Council headed by the United States,[9],None,which,None
8009,2160,18,Subordination and nesting changes,yes,"in Tarrytown , 12 miles north of New York","in Tarrytown , which is 12 miles north of New ...",None,[12],None,which

In [147]:
substitute(18, subord_adddel_funct, 1)

Double check type overwriting: row 790, sentence 1
Common indices: [8] | Pre-existing types: ['3_0']

Double check type overwriting: row 2879, sentence 2
Common indices: [10] | Pre-existing types: ['3_0']
Double check type overwriting: row 3152, sentence 1
Common indices: [26] | Pre-existing types: ['3_0']
Double check type overwriting: row 3658, sentence 1
Common indices: [18] | Pre-existing types: ['3_0']
Double check type overwriting: row 4132, sentence 1
Common indices: [18] | Pre-existing types: ['5_0']
Double check type overwriting: row 4844, sentence 2
Common indices: [3] | Pre-existing types: ['3_0']

In [148]:
subord_subs

,pair_id,type_id,type_name,sense_preserving,s1_text,s2_text,s1_scope,s2_scope,k1_text,k2_text
48,20,18,Subordination and nesting changes,yes,Sheena Young of Child,"Sheena Young , a spokesman for Child ,","[2, 3]","[3, 4, 5, 6]",of Child,a spokesman for Child
105,36,18,Subordination and nesting changes,yes,Trading in Loral was halted yesterday ; the sh...,The New York Stock Exchange suspended trading ...,"[7, 8, 9, 10, 11, 12, 14]",[11],the shares closed on Monday at 3.01,which
131,43,18,Subordination and nesting changes,yes,", who faces charges of conspiracy lying to a g...",on charges of conspiracy and lying to a grand ...,[2],"[7, 8, 9]",who,on charges of
191,56,18,Subordination and nesting changes,yes,and allows developers,", which allows developers",[5],[12],and,which
227,69,18,Subordination and nesting changes,yes,a point system the U.S. Supreme Court found un...,the way it previously admitted undergraduates,"[16, 17, 18, 19, 20, 21]","[21, 22, 23, 24]",the U.S. Supreme Court found unconstitutional,it previously admitted undergraduates
...,...,...,...,...,...,...,...,...,...,...
21573,5660,18,Subordination and nesting changes,yes,the number one priority for David Jones,the number one issue David Jones would tackle,"[17, 18, 19]","[18, 19, 20, 21]",for David Jones,David Jones would tackle
21746,5710,18,Subordination and nesting changes,yes,Women who eat potatoes and other tuberous vege...,their mothers eating potatoes and other tubero...,[1],"[17, 18, 19, 20, 21, 22, 23, 24]",who,eating potatoes and other tuberous vegetables ...
21753,5711,18,Subordination and nesting changes,yes,State Senate Majority Leader Joseph Bruno,"Joseph L. Bruno , the State Senate majority le...","[7, 8]","[8, 9, 10, 11, 12]",Joseph Bruno,the State Senate majority leader
21767,5713,18,Subordination and nesting changes,yes,one subtype that represents a minority of cases,one subtype representing a minority of cases,[21],"[22, 23, 24, 25, 26]",that,representing a minority of cases
22029,5792,18,Subordination and nesting changes,yes,third baseman Eric Duncan,"Eric Duncan , a third baseman","[7, 8]","[6, 7, 8]",Eric Duncan,a third baseman

In [149]:
print_sents(5712)

"The £5m would give BA a considerable return on the £5 it originally paid the government for the aircraft."
The £5m gives BA a considerable return on the £5 they originally paid for Concorde.

In [150]:
textual_paraphrases[textual_paraphrases['pair_id'] == 5711]

,pair_id,type_id,type_name,sense_preserving,s1_scope,s2_scope,s1_text,s2_text,key_s1,key_s2,k1_text,k2_text
21750,5711,4,Spelling changes,yes,[0],[0],ALBANY,LBANY,None,None,None,None
21751,5711,7,Same Polarity Substitution (named ent.),yes,"[7, 8]","[4, 5, 6]",Joseph Bruno,Joseph L. Bruno,None,None,None,None
21752,5711,24,Syntax/discourse structure changes,yes,"[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","ALBANY , N.Y. State Senate Majority Leader Jos...","LBANY , Aug. 8 Joseph L. Bruno , the State Sen...",None,[16],None,that
21753,5711,18,Subordination and nesting changes,yes,"[3, 4, 5, 6, 7, 8]","[4, 5, 6, 7, 8, 9, 10, 11, 12, 13]",State Senate Majority Leader Joseph Bruno,"Joseph L. Bruno , the State Senate majority le...","[7, 8]","[8, 9, 10, 11, 12]",Joseph Bruno,the State Senate majority leader
21754,5711,8,Change of format,yes,"[5, 6]","[11, 12]",Majority Leader,majority leader,None,None,None,None
21755,5711,25,Addition/Deletion,yes,"[1, 2]",None,", N.Y.",None,None,None,None,None
21756,5711,25,Addition/Deletion,yes,None,"[1, 2, 3]",None,", Aug. 8",None,None,None,None
21757,5711,29,Identity,yes,"[9, 18]","[14, 21]",announced .,announced .\n,None,None,None,None
21758,5711,30,Non-paraphrase,yes,[10],[15],Friday,today,None,None,None,None
21759,5711,28,Semantic based,yes,"[11, 12, 13, 14, 15, 16, 17]","[17, 18, 19, 20]",he has been diagnosed with prostate cancer,he had prostate cancer,None,None,None,None

In [151]:
subord_adddel.drop(subord_adddel_funct.index.tolist(), inplace=True)
subord_adddel

/tmp/ipykernel_56784/3691210399.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  subord_adddel.drop(subord_adddel_funct.index.tolist(), inplace=True)

,pair_id,type_id,type_name,sense_preserving,s1_text,s2_text,s1_scope,s2_scope,k1_text,k2_text
97,33,18,Subordination and nesting changes,yes,The AFL-CIO is waiting until October to decide,The AFL-CIO announced Wednesday that it will d...,None,"[2, 4]",None,announced that
967,252,18,Subordination and nesting changes,yes,A hearing on the matter was held Thursday morn...,A hearing Thursday morning before Judge Elizab...,"[14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 2...",None,", marking one of the early steps in deciding t...",None
1982,525,18,Subordination and nesting changes,yes,500 clergy sex abuse lawsuits,500 sex abuse lawsuits involving priests,None,"[20, 21]",None,involving priests
2812,744,18,Subordination and nesting changes,yes,The cleanup cost about $ 130 million,The $ 130 million cleanup,"[12, 13]",None,cost about,None
3000,792,18,Subordination and nesting changes,yes,Myanmar 's pro-democracy leader Aung San Suu K...,Burma pro-democracy leader Aung San Suu Kyi wi...,"[14, 15, 16, 17, 18, 19, 20, 21, 22, 23]",None,following her release from a hospital where sh...,None
5435,1475,18,Subordination and nesting changes,yes,The companies announced plans to collaborate,The two groups said they would collaborate,None,"[4, 5, 6]",None,they would collaborate
5604,1507,18,Subordination and nesting changes,yes,a Rhodes scholar at Oxford,an Rhodes Scholar he met while at Oxford,None,"[16, 17]",None,he met
6212,1695,18,Subordination and nesting changes,yes,the case of a nine-year-old girl who turned up...,the abduction of a 9-year-old who was found sa...,"[21, 22, 23, 24, 25, 26, 27]",None,after being violently abducted from her home,None
6698,1818,18,Subordination and nesting changes,yes,63 percent of home broadband users connected v...,63 percent of home broadband users had cable m...,None,"[15, 16, 19]",None,compared with who
7624,2060,18,Subordination and nesting changes,yes,Doctors have advised that the boy get chemothe...,Daren and Barbara Jensen refused to heed docto...,None,"[5, 6, 7, 8, 9, 10, 11]",None,to heed doctors ' recommendation of chemotherapy
7660,2071,18,Subordination and nesting changes,yes,"Whether it works out , timewise , that I can m...",Whether it works out timewise with all four,"[11, 12, 13]",None,with all four,None
9060,2427,18,Subordination and nesting changes,yes,The single currency rose as far as 135.13 yen ...,The single currency rose as far as 135.26 yen ...,"[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 2...",None,matching a record high hit shortly after the e...,None
9418,2544,18,Subordination and nesting changes,yes,"He will be paid $ 395,000 per year , up from A...","Dynes will be paid $ 395,000 a year ; Atkinson...","[9, 10]",None,up from,None
9541,2573,18,Subordination and nesting changes,yes,A landslide in central Chungchong province der...,"In central Chungchong province , a landslide c...",None,"[15, 16, 17, 18]",None,", injuring 28 people"
10469,2820,18,Subordination and nesting changes,yes,Board Chancellor Robert Bennett declined to co...,"Mr. Mills declined to comment yesterday , sayi...",None,"[6, 7, 8, 9, 10, 11, 12, 13]",None,", saying that he never discussed personnel mat..."
11229,3002,18,Subordination and nesting changes,yes,"Available in June , Bare Metal Restore 4.6 cos...",Bare Metal Restore 4.6 will be available in mi...,"[0, 1, 2, 3]",None,"Available in June ,",None
12096,3202,18,Subordination and nesting changes,yes,the first time a parent has been convicted of ...,one of the first times in which a parent was c...,None,"[10, 11]",None,in which
12465,3309,18,Subordination and nesting changes,yes,the space program is developing antisatellite ...,he did not think that the Shenzhou V launch ha...,None,"[15, 16]",None,even though
13896,3683,18,Subordination and nesting changes,yes,a grand jury began investigating Silvester,a grand jury investigating Silvester subpoenae...,None,"[21, 22]",None,investigating Silvester
14272,3781,18,Subordination and nesting changes,yes,a flier citing a 3.8-percent increase in the S...,One Republican flier cited a 3.8 percent incre...,"[8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19,...",None,citing a 3.8-percent increase in the S & P 500...,None
14397,3812,18,Subordination and nesting changes,yes,the rule will make the nation 's electrical sy...,the rule will improve the reliability of the n...,None,None,None,None
15831,4168,18,Subordination and nesting changes,yes,They were at Raffles Hospital over the weekend...,"They underwent more tests over the weekend , a...","[8, 9, 10]",None,for further evaluation,None
15844,4171,18,Subordination and nesting changes,yes,a possible grocery clerk strike,grocery clerks gear up for a possible strike,None,"[18, 19, 20]",None,gear up for
17143,4524,18,Subordination and nesting changes,yes,The number of extremely obese adults -- those ...,The number of Americans considered extremely o...,"[7, 8]",None,those who,None
17384,4577,18,Subordination and nesting changes,yes,The European Union was due Monday to demand Ir...,The European Union was due on Monday to demand...,None,"[23, 24, 25, 26, 27, 28, 29, 30]",None,", linking compliance to a pending trade deal"
18613,4872,18,Subordination and nesting changes,yes,children aged three and four,3- and 4-year-olds,"[25, 26, 27, 28]",None,aged three and four,None
19061,5000,18,Subordination and nesting changes,yes,resolutions condemning the act,similar resolutions,"[17, 18, 19]",None,condemning the act,None
19178,5032,18,Subordination and nesting changes,yes,That fire devastated timber on the reservation...,"That fire devastated the reservation , a nearb...",None,"[14, 18]",None,burning destroying
20051,5259,18,Subordination and nesting changes,yes,"Knight agreed to a two-year , $ 2.38 million c...",Knight 's two-year deal,None,"[3, 4]",None,Knight 's
20151,5286,18,Subordination and nesting changes,yes,the largest-ever loss for a European bank last...,", the largest ever for a European bank",None,None,None,None
20438,5352,18,Subordination and nesting changes,yes,The unemployment rate inched up one-tenth of a...,The unemployment rate rose a tenth of a percen...,"[15, 16, 17, 18, 19, 20]",None,to its highest since July 1994,None
20661,5400,18,Subordination and nesting changes,yes,"this summer , at festivals",at summer festivals,"[7, 8]",None,this summer,None
21313,5587,18,Subordination and nesting changes,yes,Two convicted killers and another inmate escap...,A convicted killer and two other inmates cut t...,"[16, 17, 18, 19, 20]",None,by cutting through a fence,None
22046,5796,18,Subordination and nesting changes,yes,"The deal , approved by both companies ' board ...",The acquisition has been approved by both comp...,"[2, 3, 4, 5, 6, 7, 8, 9, 10, 11]",None,", approved by both companies ' board of direct...",None

In [152]:
substitute(18, subord_adddel, 2, False)

### Direct/Indirect Style Alternations (TODO)

In [153]:
textual_paraphrases[textual_paraphrases['type_id'] == 22][:30]

,pair_id,type_id,type_name,sense_preserving,s1_scope,s2_scope,s1_text,s2_text,key_s1,key_s2,k1_text,k2_text
521,141,22,Direct/indirect style alternations,yes,"[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","`` This deal makes sense for both companies , ...","Brian Halla , CEO of NatSemi , claimed the dea...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]",None,"`` This deal makes sense for both companies , ''",None
745,197,22,Direct/indirect style alternations,yes,"[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 11]","[2, 3, 4, 5, 8, 9, 10, 11, 12, 13, 15]",`` I just got carried away and started making ...,he got carried away and just `` started making...,"[0, 11]",None,`` '',None
872,225,22,Direct/indirect style alternations,yes,"[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...",Mr Abbas said : `` Every day without an agreem...,"His Palestinian counterpart , Mahmoud Abbas , ...",None,[8],None,that
2076,547,22,Direct/indirect style alternations,yes,"[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...",The draft of the report was forthright : `` Cl...,The original report had concluded that ''clima...,None,[5],None,that
2676,701,22,Direct/indirect style alternations,yes,"[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...",He added that those `` are not solely American...,`` These are not solely American principles no...,[2],None,that,None
3362,895,22,Direct/indirect style alternations,yes,"[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...",We need a certifiable pay as you go budget by ...,Texas lawmakers must close a $ 185.9 million b...,"[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...",None,We need a certifiable pay as you go budget by ...,None
3988,1068,22,Direct/indirect style alternations,yes,"[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 18, 19, 20, 21,...","[3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, ...",`` There is no conscious policy of the United ...,there is no conscious policy by the United Sta...,"[0, 25]",None,`` '',None
4899,1323,22,Direct/indirect style alternations,yes,"[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...",The bank also said its offer was subject to th...,The offer is also subject to Goldman signing a...,"[4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16,...",None,its offer was subject to the agreement of Drax...,None
4929,1331,22,Direct/indirect style alternations,yes,"[1, 2, 3, 4, 5, 6]","[0, 1, 2]",He said they were in distress,We 're asphyxiating,"[3, 4, 5, 6]",None,they were in distress,None
5003,1347,22,Direct/indirect style alternations,yes,"[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 16]","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 11]",the two men were `` defined by dedication and ...,`` [ They ] were defined by dedication and cou...,None,"[0, 11]",None,`` ''
5082,1373,22,Direct/indirect style alternations,yes,"[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","O'Donnell wrote in her autobiography , `` Find...","In her autobiography , `` Find Me , '' O'Donne...",[11],None,that,None
5259,1422,22,Direct/indirect style alternations,yes,"[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...",`` The discovery that the MAP bug is present i...,The researchers say that the fact the MAP bug ...,None,[3],None,that
5663,1521,22,Direct/indirect style alternations,yes,"[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...",The vast majority of trades will be priced at ...,Eurex said `` the vast majority '' of trades o...,None,"[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 1...",None,`` the vast majority '' of trades on Eurex US ...
6286,1710,22,Direct/indirect style alternations,yes,"[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","`` It '' s absurd , '' Funny Cide 's trainer B...","Meanwhile , Funny Cide 's trainer , Barclay Ta...",None,"[11, 12, 13, 14, 16]",None,the allegations `` ridiculous ''\n
6791,1838,22,Direct/indirect style alternations,yes,"[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...",Neither military action nor large-scale briber...,"Indeed , Wolfowitz admitted Saturday that neit...",None,[5],None,that
7000,1892,22,Direct/indirect style alternations,yes,"[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","`` If I was diagnosed today with CJD , I would...",He added that if he were diagnosed with vCJD `...,None,[2],None,that
7403,1996,22,Direct/indirect style alternations,yes,"[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...",Gibson said last month in a press statement th...,Gibson said in a June statement that he and hi...,None,[6],None,that
7561,2048,22,Direct/indirect style alternations,yes,"[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...",`` We will work with the board to ensure a smo...,He said federal regulators would work with the...,None,"[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]",None,federal regulators would work with the corpora...
7622,2059,22,Direct/indirect style alternations,yes,"[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...",`` No data exists to indicate that the situati...,"However , FAA spokeswoman Kathleen Bergen said...","[0, 17]","[7, 8, 9, 10, 11, 12, 13, 14, 15]",`` '',no data indicate that the situation poses safe...
7632,2061,22,Direct/indirect style alternations,yes,"[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...",IAAF council member Jose Maria Odriozola said ...,`` I have proposed to the [ IAAF ] council tha...,"[7, 8, 9, 10, 11, 12, 13]",None,Drummond should be excluded from the champions...,None
8210,2211,22,Direct/indirect style alternations,yes,"[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","In terms of a free trade area , we 've got a l...","As for a free trade area , the official stress...",None,[10],None,that
8816,2369,22,Direct/indirect style alternations,yes,"[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...",The study found that only about one-third of p...,Only about one-third of parents of sexually ex...,[3],None,that,None
9039,2422,22,Direct/indirect style alternations,yes,"[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]","`` Frank Quattrone is innocent , '' Keker said...",Quattrone lawyer John W. Keker said his client...,"[0, 1, 2, 3, 4, 5, 6]","[6, 7, 8, 9]","`` Frank Quattrone is innocent , ''",his client is innocent
9790,2634,22,Direct/indirect style alternations,yes,"[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...",But he confessed : `` There 's total fear to s...,But he said there was a `` total fear to start...,None,"[3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, ...",None,there was a `` total fear to start with becaus...
9820,2642,22,Direct/indirect style alternations,yes,"[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]",`` There is always a danger of casualties in s...,Howard said there was always a risk of casualt...,None,"[2, 3, 4, 5, 6, 7, 8]",None,there was always a risk of casualties
9848,2655,22,Direct/indirect style alternations,yes,"[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","All along , we were basing our decisions on th...","She insisted that throughout the mission , man...",None,[2],None,that
9854,2657,22,Direct/indirect style alternations,yes,"[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...",Quattrone lawyer John W. Keker said his client...,"In a statement Monday , his lawyer John Keker ...",None,"[10, 11, 12, 13, 14]",None,`` Frank Quattrone is innocent
9861,2658,22,Direct/indirect style alternations,yes,"[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...",He said Qualcomm has enjoyed many years of sel...,`` Qualcomm has enjoyed many years of selling ...,"[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]",None,Qualcomm has enjoyed many years of selling CDM...,None
10172,2743,22,Direct/indirect style alternations,yes,"[0, 1, 2, 22, 24, 25]","[1, 2, 3]","`` I conclude , Baer said",Harold Baer concluded,"[0, 1, 2]",None,`` I conclude,None
10213,2753,22,Direct/indirect style alternations,yes,"[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...",The truck carried the equivalent of 1.6 tons o...,"Another Chechen emergency ministry official , ...",None,"[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]",None,the truck was carrying the equivalent of 1.6 t...

In [154]:
print_sents(1346)

The $19.50-a-share bid, comes two days after PeopleSoft revised its bid for smaller rival J.D. Edwards & Co. JDEC.O to include cash as well as stock.
Oracle's $19.50-a-share bid comes two days after PeopleSoft added cash to its original all-share deal with smaller rival J.D. Edwards & Co. JDEC.O .

The annotation for this type seem to be all over the place. Nevertheless, an easy case to deal with seems to be 
additions of 'that':

In [155]:
direct = pd.DataFrame(columns = textual_paraphrases.columns, data = copy.deepcopy(textual_paraphrases.values))
direct = direct[direct['type_id'] == 22]
direct.drop(columns=['s1_scope', 's2_scope'], inplace=True)
direct.rename(columns={'key_s1': 's1_scope', 'key_s2': 's2_scope'}, inplace=True)

In [156]:
direct[:30]

,pair_id,type_id,type_name,sense_preserving,s1_text,s2_text,s1_scope,s2_scope,k1_text,k2_text
521,141,22,Direct/indirect style alternations,yes,"`` This deal makes sense for both companies , ...","Brian Halla , CEO of NatSemi , claimed the dea...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]",None,"`` This deal makes sense for both companies , ''",None
745,197,22,Direct/indirect style alternations,yes,`` I just got carried away and started making ...,he got carried away and just `` started making...,"[0, 11]",None,`` '',None
872,225,22,Direct/indirect style alternations,yes,Mr Abbas said : `` Every day without an agreem...,"His Palestinian counterpart , Mahmoud Abbas , ...",None,[8],None,that
2076,547,22,Direct/indirect style alternations,yes,The draft of the report was forthright : `` Cl...,The original report had concluded that ''clima...,None,[5],None,that
2676,701,22,Direct/indirect style alternations,yes,He added that those `` are not solely American...,`` These are not solely American principles no...,[2],None,that,None
3362,895,22,Direct/indirect style alternations,yes,We need a certifiable pay as you go budget by ...,Texas lawmakers must close a $ 185.9 million b...,"[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...",None,We need a certifiable pay as you go budget by ...,None
3988,1068,22,Direct/indirect style alternations,yes,`` There is no conscious policy of the United ...,there is no conscious policy by the United Sta...,"[0, 25]",None,`` '',None
4899,1323,22,Direct/indirect style alternations,yes,The bank also said its offer was subject to th...,The offer is also subject to Goldman signing a...,"[4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16,...",None,its offer was subject to the agreement of Drax...,None
4929,1331,22,Direct/indirect style alternations,yes,He said they were in distress,We 're asphyxiating,"[3, 4, 5, 6]",None,they were in distress,None
5003,1347,22,Direct/indirect style alternations,yes,the two men were `` defined by dedication and ...,`` [ They ] were defined by dedication and cou...,None,"[0, 11]",None,`` ''
5082,1373,22,Direct/indirect style alternations,yes,"O'Donnell wrote in her autobiography , `` Find...","In her autobiography , `` Find Me , '' O'Donne...",[11],None,that,None
5259,1422,22,Direct/indirect style alternations,yes,`` The discovery that the MAP bug is present i...,The researchers say that the fact the MAP bug ...,None,[3],None,that
5663,1521,22,Direct/indirect style alternations,yes,The vast majority of trades will be priced at ...,Eurex said `` the vast majority '' of trades o...,None,"[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 1...",None,`` the vast majority '' of trades on Eurex US ...
6286,1710,22,Direct/indirect style alternations,yes,"`` It '' s absurd , '' Funny Cide 's trainer B...","Meanwhile , Funny Cide 's trainer , Barclay Ta...",None,"[11, 12, 13, 14, 16]",None,the allegations `` ridiculous ''\n
6791,1838,22,Direct/indirect style alternations,yes,Neither military action nor large-scale briber...,"Indeed , Wolfowitz admitted Saturday that neit...",None,[5],None,that
7000,1892,22,Direct/indirect style alternations,yes,"`` If I was diagnosed today with CJD , I would...",He added that if he were diagnosed with vCJD `...,None,[2],None,that
7403,1996,22,Direct/indirect style alternations,yes,Gibson said last month in a press statement th...,Gibson said in a June statement that he and hi...,None,[6],None,that
7561,2048,22,Direct/indirect style alternations,yes,`` We will work with the board to ensure a smo...,He said federal regulators would work with the...,None,"[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]",None,federal regulators would work with the corpora...
7622,2059,22,Direct/indirect style alternations,yes,`` No data exists to indicate that the situati...,"However , FAA spokeswoman Kathleen Bergen said...","[0, 17]","[7, 8, 9, 10, 11, 12, 13, 14, 15]",`` '',no data indicate that the situation poses safe...
7632,2061,22,Direct/indirect style alternations,yes,IAAF council member Jose Maria Odriozola said ...,`` I have proposed to the [ IAAF ] council tha...,"[7, 8, 9, 10, 11, 12, 13]",None,Drummond should be excluded from the champions...,None
8210,2211,22,Direct/indirect style alternations,yes,"In terms of a free trade area , we 've got a l...","As for a free trade area , the official stress...",None,[10],None,that
8816,2369,22,Direct/indirect style alternations,yes,The study found that only about one-third of p...,Only about one-third of parents of sexually ex...,[3],None,that,None
9039,2422,22,Direct/indirect style alternations,yes,"`` Frank Quattrone is innocent , '' Keker said...",Quattrone lawyer John W. Keker said his client...,"[0, 1, 2, 3, 4, 5, 6]","[6, 7, 8, 9]","`` Frank Quattrone is innocent , ''",his client is innocent
9790,2634,22,Direct/indirect style alternations,yes,But he confessed : `` There 's total fear to s...,But he said there was a `` total fear to start...,None,"[3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, ...",None,there was a `` total fear to start with becaus...
9820,2642,22,Direct/indirect style alternations,yes,`` There is always a danger of casualties in s...,Howard said there was always a risk of casualt...,None,"[2, 3, 4, 5, 6, 7, 8]",None,there was always a risk of casualties
9848,2655,22,Direct/indirect style alternations,yes,"All along , we were basing our decisions on th...","She insisted that throughout the mission , man...",None,[2],None,that
9854,2657,22,Direct/indirect style alternations,yes,Quattrone lawyer John W. Keker said his client...,"In a statement Monday , his lawyer John Keker ...",None,"[10, 11, 12, 13, 14]",None,`` Frank Quattrone is innocent
9861,2658,22,Direct/indirect style alternations,yes,He said Qualcomm has enjoyed many years of sel...,`` Qualcomm has enjoyed many years of selling ...,"[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]",None,Qualcomm has enjoyed many years of selling CDM...,None
10172,2743,22,Direct/indirect style alternations,yes,"`` I conclude , Baer said",Harold Baer concluded,"[0, 1, 2]",None,`` I conclude,None
10213,2753,22,Direct/indirect style alternations,yes,The truck carried the equivalent of 1.6 tons o...,"Another Chechen emergency ministry official , ...",None,"[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]",None,the truck was carrying the equivalent of 1.6 t...

In [157]:
print_sents(2059)

"No data exists to indicate that the situation with repair stations poses a safety concern."
However, FAA spokeswoman Kathleen Bergen said no data indicate that the situation poses safety problems.

In [158]:
direct_that = direct[(direct['k1_text'] == 'that') | (direct['k2_text'] == 'that')][:30]
direct_that

,pair_id,type_id,type_name,sense_preserving,s1_text,s2_text,s1_scope,s2_scope,k1_text,k2_text
872,225,22,Direct/indirect style alternations,yes,Mr Abbas said : `` Every day without an agreem...,"His Palestinian counterpart , Mahmoud Abbas , ...",None,[8],None,that
2076,547,22,Direct/indirect style alternations,yes,The draft of the report was forthright : `` Cl...,The original report had concluded that ''clima...,None,[5],None,that
2676,701,22,Direct/indirect style alternations,yes,He added that those `` are not solely American...,`` These are not solely American principles no...,[2],None,that,None
5082,1373,22,Direct/indirect style alternations,yes,"O'Donnell wrote in her autobiography , `` Find...","In her autobiography , `` Find Me , '' O'Donne...",[11],None,that,None
5259,1422,22,Direct/indirect style alternations,yes,`` The discovery that the MAP bug is present i...,The researchers say that the fact the MAP bug ...,None,[3],None,that
6791,1838,22,Direct/indirect style alternations,yes,Neither military action nor large-scale briber...,"Indeed , Wolfowitz admitted Saturday that neit...",None,[5],None,that
7000,1892,22,Direct/indirect style alternations,yes,"`` If I was diagnosed today with CJD , I would...",He added that if he were diagnosed with vCJD `...,None,[2],None,that
7403,1996,22,Direct/indirect style alternations,yes,Gibson said last month in a press statement th...,Gibson said in a June statement that he and hi...,None,[6],None,that
8210,2211,22,Direct/indirect style alternations,yes,"In terms of a free trade area , we 've got a l...","As for a free trade area , the official stress...",None,[10],None,that
8816,2369,22,Direct/indirect style alternations,yes,The study found that only about one-third of p...,Only about one-third of parents of sexually ex...,[3],None,that,None
9848,2655,22,Direct/indirect style alternations,yes,"All along , we were basing our decisions on th...","She insisted that throughout the mission , man...",None,[2],None,that
13045,3455,22,Direct/indirect style alternations,yes,"Also , hospital efforts to start `` fever clin...",Dr. Roth also said that hospital efforts to st...,None,[4],None,that
13164,3487,22,Direct/indirect style alternations,yes,He said that it would be ''very difficult '' t...,"Even with time , he said , `` it 's going to b...",[2],None,that,None
14395,3810,22,Direct/indirect style alternations,yes,"He said that in early December , immigration i...","In early December , immigration inspectors at ...",[2],None,that,None
14774,3900,22,Direct/indirect style alternations,yes,Mr Eddington warned yesterday that the future ...,`` The future of BA is in the hands of the neg...,[4],None,that,None
14911,3935,22,Direct/indirect style alternations,yes,Yesterday 's ruling is a great first step towa...,He said the court 's ruling was a great first ...,None,[20],None,that
16950,4477,22,Direct/indirect style alternations,yes,The petition alleges that Huletts unfair sales...,Those unfair sales have damaged the US industr...,[3],None,that,None
17053,4498,22,Direct/indirect style alternations,yes,State Supreme Court Justice Ira Gammerman said...,New York Supreme Court Justice Ira Gammerman s...,None,[11],None,that
17788,4672,22,Direct/indirect style alternations,yes,"`` That said , however , no actual explosives ...",Ridge said that no actual explosives or other ...,None,[2],None,that
18117,4748,22,Direct/indirect style alternations,yes,"His lawyer , Harriet Newman Cohen , said later...","Yesterday , Mr. Cuomo 's lawyer , Harriet Newm...",[9],None,that,None
18955,4974,22,Direct/indirect style alternations,yes,"At least 154 people , most of them opposition ...",Police spokesman Wayne Bvudzijena said in a st...,None,[8],None,that
19905,5226,22,Direct/indirect style alternations,yes,"Dogs , he said , are second only to humans in ...",He said that dogs are second only to humans in...,None,[2],None,that
20192,5292,22,Direct/indirect style alternations,yes,read a statement over the phone : `` Mr. Cuomo...,said in a statement that he `` was betrayed,[17],[12],:,that
20985,5493,22,Direct/indirect style alternations,yes,ONA explicitly stated that it did not receive ...,`` But at no stage did ONA receive intelligenc...,[3],None,that,None
21929,5765,22,Direct/indirect style alternations,yes,"Mark Longabaugh , the league 's vice president...",Kempthorne has ''shown a distinct contempt for...,[13],None,that,None

In [159]:
substitute(22, direct_that, 1)

In [160]:
direct_quotemarks = direct[(direct['k1_text'] == "`` ''") | (direct['k2_text'] == "`` ''")][:10]
# 'k2_text' in the row below has other elements of the sentence, and we don't want to mess with those
direct_quotemarks.loc[direct_quotemarks['pair_id'] == 2059, 'k2_text'] = None  
direct_quotemarks

,pair_id,type_id,type_name,sense_preserving,s1_text,s2_text,s1_scope,s2_scope,k1_text,k2_text
745,197,22,Direct/indirect style alternations,yes,`` I just got carried away and started making ...,he got carried away and just `` started making...,"[0, 11]",None,`` '',None
3988,1068,22,Direct/indirect style alternations,yes,`` There is no conscious policy of the United ...,there is no conscious policy by the United Sta...,"[0, 25]",None,`` '',None
5003,1347,22,Direct/indirect style alternations,yes,the two men were `` defined by dedication and ...,`` [ They ] were defined by dedication and cou...,None,"[0, 11]",None,`` ''
7622,2059,22,Direct/indirect style alternations,yes,`` No data exists to indicate that the situati...,"However , FAA spokeswoman Kathleen Bergen said...","[0, 17]","[7, 8, 9, 10, 11, 12, 13, 14, 15]",`` '',None
16877,4454,22,Direct/indirect style alternations,yes,its contention that KBR had `` delivered fuel ...,`` We believe KBR delivered fuel to Iraq at th...,None,"[0, 21]",None,`` ''
17540,4612,22,Direct/indirect style alternations,yes,it believed `` the long-term prospects for the...,`` We believe the long-term prospects for the ...,None,"[0, 16]",None,`` ''

In [161]:
substitute(22, direct_quotemarks, 8)

Double check type overwriting: row 196, sentence 1
Common indices: [0, 11] | Pre-existing types: ['3_1' '3_1']
Double check type overwriting: row 1067, sentence 1
Common indices: [0, 25] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 1346, sentence 2
Common indices: [0, 11] | Pre-existing types: ['3_1' '3_1']
Double check type overwriting: row 2058, sentence 2
Common indices: [9, 15] | Pre-existing types: ['6_0' '4_0 & 6_1']
Double check type overwriting: row 4453, sentence 2
Common indices: [0, 21] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 4611, sentence 2
Common indices: [0, 16] | Pre-existing types: ['3_0' '3_0']

In [162]:
print_sents(2058)

"The NAFTA ruling confirms that Canadian producers dump lumber in to the U.S. market," Rusty Wood, chairman of the coalition, said in a release.
"The NAFTA ruling confirms that Canadian producers dump lumber into the U.S. market," said Rusty Wood, chairman of the Coalition for Fair Lumber Imports.

In [163]:
direct_that.index.tolist()

[872,
 2076,
 2676,
 5082,
 5259,
 6791,
 7000,
 7403,
 8210,
 8816,
 9848,
 13045,
 13164,
 14395,
 14774,
 14911,
 16950,
 17053,
 17788,
 18117,
 18955,
 19905,
 20192,
 20985,
 21929]

In [164]:
indices = direct_that.index.tolist() + direct_quotemarks.index.tolist()
indices
direct_remaining = direct.drop(index=indices)
direct_remaining

,pair_id,type_id,type_name,sense_preserving,s1_text,s2_text,s1_scope,s2_scope,k1_text,k2_text
521,141,22,Direct/indirect style alternations,yes,"`` This deal makes sense for both companies , ...","Brian Halla , CEO of NatSemi , claimed the dea...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]",None,"`` This deal makes sense for both companies , ''",None
3362,895,22,Direct/indirect style alternations,yes,We need a certifiable pay as you go budget by ...,Texas lawmakers must close a $ 185.9 million b...,"[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...",None,We need a certifiable pay as you go budget by ...,None
4899,1323,22,Direct/indirect style alternations,yes,The bank also said its offer was subject to th...,The offer is also subject to Goldman signing a...,"[4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16,...",None,its offer was subject to the agreement of Drax...,None
4929,1331,22,Direct/indirect style alternations,yes,He said they were in distress,We 're asphyxiating,"[3, 4, 5, 6]",None,they were in distress,None
5663,1521,22,Direct/indirect style alternations,yes,The vast majority of trades will be priced at ...,Eurex said `` the vast majority '' of trades o...,None,"[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 1...",None,`` the vast majority '' of trades on Eurex US ...
6286,1710,22,Direct/indirect style alternations,yes,"`` It '' s absurd , '' Funny Cide 's trainer B...","Meanwhile , Funny Cide 's trainer , Barclay Ta...",None,"[11, 12, 13, 14, 16]",None,the allegations `` ridiculous ''\n
7561,2048,22,Direct/indirect style alternations,yes,`` We will work with the board to ensure a smo...,He said federal regulators would work with the...,None,"[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]",None,federal regulators would work with the corpora...
7632,2061,22,Direct/indirect style alternations,yes,IAAF council member Jose Maria Odriozola said ...,`` I have proposed to the [ IAAF ] council tha...,"[7, 8, 9, 10, 11, 12, 13]",None,Drummond should be excluded from the champions...,None
9039,2422,22,Direct/indirect style alternations,yes,"`` Frank Quattrone is innocent , '' Keker said...",Quattrone lawyer John W. Keker said his client...,"[0, 1, 2, 3, 4, 5, 6]","[6, 7, 8, 9]","`` Frank Quattrone is innocent , ''",his client is innocent
9790,2634,22,Direct/indirect style alternations,yes,But he confessed : `` There 's total fear to s...,But he said there was a `` total fear to start...,None,"[3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, ...",None,there was a `` total fear to start with becaus...
9820,2642,22,Direct/indirect style alternations,yes,`` There is always a danger of casualties in s...,Howard said there was always a risk of casualt...,None,"[2, 3, 4, 5, 6, 7, 8]",None,there was always a risk of casualties
9854,2657,22,Direct/indirect style alternations,yes,Quattrone lawyer John W. Keker said his client...,"In a statement Monday , his lawyer John Keker ...",None,"[10, 11, 12, 13, 14]",None,`` Frank Quattrone is innocent
9861,2658,22,Direct/indirect style alternations,yes,He said Qualcomm has enjoyed many years of sel...,`` Qualcomm has enjoyed many years of selling ...,"[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]",None,Qualcomm has enjoyed many years of selling CDM...,None
10172,2743,22,Direct/indirect style alternations,yes,"`` I conclude , Baer said",Harold Baer concluded,"[0, 1, 2]",None,`` I conclude,None
10213,2753,22,Direct/indirect style alternations,yes,The truck carried the equivalent of 1.6 tons o...,"Another Chechen emergency ministry official , ...",None,"[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]",None,the truck was carrying the equivalent of 1.6 t...
11329,3023,22,Direct/indirect style alternations,yes,IBM said it believes that the investigation ar...,The company added : `` IBM believes that the i...,"[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 1...","[3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, ...",it believes that the investigation arose from ...,: `` IBM believes that the investigation arise...
11761,3121,22,Direct/indirect style alternations,yes,"In a statement , Lee said he `` no longer beli...",Spike Lee no longer believes that Viacom delib...,"[7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, ...",None,`` no longer believes that Viacom deliberately...,None
12016,3187,22,Direct/indirect style alternations,yes,Mr Charlton was in the third aisle when a man ...,He said a man in the seventh row in a `` brown...,None,"[1, 10, 23]",None,said `` ''
12498,3317,22,Direct/indirect style alternations,yes,The opposition would resort to rolling mass ac...,we will embark on rolling mass action,None,"[4, 5, 6, 7, 8, 9, 10]",None,we will embark on rolling mass action
13367,3540,22,Direct/indirect style alternations,yes,SEC Chairman William Donaldson said there is a...,`` I think there 's a building confidence that...,"[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17...","[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]",there is a `` building confidence out there th...,I think there 's a building confidence that th...
13551,3590,22,Direct/indirect style alternations,yes,My decision today is not based on any one even...,Governor Rowland said his decision was `` not ...,[0],[3],My,his
13842,3666,22,Direct/indirect style alternations,yes,`` Only 1pc of those taking the drug worldwide...,AstraZeneca says just 1pc of people of those t...,None,"[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]",None,just 1pc of people of those taking the drug wo...
14025,3712,22,Direct/indirect style alternations,yes,one-third of those taking the drug would gain ...,"a third of those taking it would benefit , gai...",None,"[6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 1...",None,"a third of those taking it would benefit , gai..."
15266,4031,22,Direct/indirect style alternations,yes,The retailer said it came to the decision afte...,The decision came after `` listening to our cu...,None,"[4, 5, 6, 7, 8, 9, 10, 11, 12]",None,"`` listening to our customers and associates , ''"
15443,4074,22,Direct/indirect style alternations,yes,`` We have concluded that the outlook for pric...,"In a statement , the ECB said the outlook for ...",None,"[7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, ...",None,the outlook for price stability over the mediu...
16165,4255,22,Direct/indirect style alternations,yes,SCO says the pricing terms for a license will ...,Details on pricing will be announced within a ...,"[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]",None,the pricing terms for a license will not be an...,None
17862,4687,22,Direct/indirect style alternations,yes,Agrawal said her research does not suggests th...,She continued : `` Our research neither sugges...,"[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 1...","[3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, ...",her research does not suggests that PCOS cause...,`` Our research neither suggests nor indicates...
18370,4823,22,Direct/indirect style alternations,yes,`` PNC regrets its involvement '' in the deals...,"James Rohr , chairman and chief executive offi...",None,"[10, 11, 12, 13]",None,PNC regretted the incident
19108,5016,22,Direct/indirect style alternations,yes,The U.S. State Department travel warning said ...,`` The threat to aircraft by terrorists using ...,"[7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, ...",None,the threat to aircraft by terrorists using sho...,None
20283,5313,22,Direct/indirect style alternations,yes,Agrawal said her research neither suggests nor...,She continued : `` Our research neither sugges...,None,"[2, 3]",None,: ``
20353,5333,22,Direct/indirect style alternations,yes,The final report on the investigation could ta...,Engleman said the final report on the investig...,None,"[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]",None,the final report on the investigation could ta...
20390,5341,22,Direct/indirect style alternations,yes,"A spokesman said : `` Since November , we have...",It added it had `` co-operated fully '' with p...,None,"[2, 3, 4, 5, 6, 7, 8, 9, 10, 11]",None,it had `` co-operated fully '' with police sin...
21190,5552,22,Direct/indirect style alternations,yes,"`` The European Union is basically absent , ''...","Tito Barbini , a regional minister for agricul...",None,None,None,None
21570,5659,22,Direct/indirect style alternations,yes,"Reacting to Thompson 's attack , Ed Skyler , a...","Responding , Edward Skyler , a spokesman for t...",None,"[13, 14]",None,: ``
21591,5664,22,Direct/indirect style alternations,yes,"Announcing the selection , Kmart CEO Julian Da...","Together , we will find creative ways to commu...","[9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20...",None,Grey will help the retailer `` find creative w...,None

### Sentence Modality Changes

Nothing needed here; this type has zero occurences in the ETPC

### Syntax/Discourse Structure Changes (TODO)

In [165]:
textual_paraphrases[textual_paraphrases['type_id'] == 24][:10]

,pair_id,type_id,type_name,sense_preserving,s1_scope,s2_scope,s1_text,s2_text,key_s1,key_s2,k1_text,k2_text
36,14,24,Syntax/discourse structure changes,yes,"[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...",But he added group performance would improve i...,De Sole said in the results statement that gro...,None,[7],None,that
148,48,24,Syntax/discourse structure changes,yes,"[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...",The company has said it plans to restate its e...,The company had announced in January that it w...,None,[6],None,that
217,67,24,Syntax/discourse structure changes,yes,"[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","The downtime , to take place in May and June ,...",The downtime is expected to take 60 million to...,"[14, 16]","[5, 13, 14]",cut by,take out of
226,69,24,Syntax/discourse structure changes,yes,"[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...",The University of Michigan released a new unde...,The University of Michigan released today a ne...,"[11, 12]","[10, 11, 12, 13, 14, 15, 16]",", dropping",after the U.S. Supreme Court struck down
265,76,24,Syntax/discourse structure changes,yes,"[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","Thomas and Tauzin say , as do many doctors , t...","Like many doctors , Mr. Thomas and Mr. Tauzin ...",[10],None,that,None
283,80,24,Syntax/discourse structure changes,yes,"[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...",The delegates said raising and distributing fu...,Bin Laden’s men pointed out that raising and d...,None,[5],None,that
342,100,24,Syntax/discourse structure changes,yes,"[24, 25, 26, 27, 28, 29]","[21, 22, 23, 24, 25, 26]",after it admitted falsifying inspection reports,after admitting it falsified inspection reports,"[25, 26, 27]","[22, 23, 24]",it admitted falsifying,admitting it falsified
532,143,24,Syntax/discourse structure changes,yes,"[11, 12, 13, 14, 15, 16, 17, 18, 19]","[10, 11, 12, 13, 14, 15, 16]","Swartz repaid it in full , with interest ,",that Swartz fully repaid it with interest,None,[10],None,that
562,153,24,Syntax/discourse structure changes,yes,"[0, 1, 2, 3, 4, 10, 11]","[0, 1, 2, 3, 4]","In two new schemes , target families",Two new schemes target families,[0],None,In,None
567,155,24,Syntax/discourse structure changes,yes,"[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...","[6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 1...",Miss Novikova said while there is no standard ...,Ms. Novikova said that there was no standard w...,None,[9],None,that

In [166]:
syn_disc = duplicate_df(textual_paraphrases)
syn_disc = syn_disc[syn_disc['type_id'] == 24]
syn_disc.drop(columns=['s1_scope', 's2_scope'], inplace=True)
syn_disc.rename(columns={'key_s1': 's1_scope', 'key_s2': 's2_scope'}, inplace=True)

syn_disc_add, syn_disc_sub = split_add_sub(syn_disc)

In [167]:
syn_disc_add

,pair_id,type_id,type_name,sense_preserving,s1_text,s2_text,s1_scope,s2_scope,k1_text,k2_text
36,14,24,Syntax/discourse structure changes,yes,But he added group performance would improve i...,De Sole said in the results statement that gro...,None,[7],None,that
148,48,24,Syntax/discourse structure changes,yes,The company has said it plans to restate its e...,The company had announced in January that it w...,None,[6],None,that
265,76,24,Syntax/discourse structure changes,yes,"Thomas and Tauzin say , as do many doctors , t...","Like many doctors , Mr. Thomas and Mr. Tauzin ...",[10],None,that,None
283,80,24,Syntax/discourse structure changes,yes,The delegates said raising and distributing fu...,Bin Laden’s men pointed out that raising and d...,None,[5],None,that
532,143,24,Syntax/discourse structure changes,yes,"Swartz repaid it in full , with interest ,",that Swartz fully repaid it with interest,None,[10],None,that
...,...,...,...,...,...,...,...,...,...,...
21229,5565,24,Syntax/discourse structure changes,yes,State Education Commissioner Kent King said We...,Missouri Education Commissioner Kent King said...,[7],None,that,None
21490,5637,24,Syntax/discourse structure changes,yes,"Colin Powell , the Secretary of State , said c...",Secretary of State Colin Powell said yesterday...,None,[7],None,that
21752,5711,24,Syntax/discourse structure changes,yes,"ALBANY , N.Y. State Senate Majority Leader Jos...","LBANY , Aug. 8 Joseph L. Bruno , the State Sen...",None,[16],None,that
21793,5722,24,Syntax/discourse structure changes,yes,Bush declared that the British government `` h...,"Bush said , `` The British government has lear...",[13],None,that,None
21983,5782,24,Syntax/discourse structure changes,yes,The Ministry of Defence said that `` an invest...,The Ministry of Defence said yesterday : “We c...,[5],None,that,None

Of those, let's subset only additions/deletions of `'that'`, since we know those map nicely to addition/deletion 
of function words

In [168]:
syn_disc_add_that = syn_disc_add[(syn_disc_add['k1_text'] == 'that') | (syn_disc_add['k2_text'] == 'that')]
syn_disc_add_that

,pair_id,type_id,type_name,sense_preserving,s1_text,s2_text,s1_scope,s2_scope,k1_text,k2_text
36,14,24,Syntax/discourse structure changes,yes,But he added group performance would improve i...,De Sole said in the results statement that gro...,None,[7],None,that
148,48,24,Syntax/discourse structure changes,yes,The company has said it plans to restate its e...,The company had announced in January that it w...,None,[6],None,that
265,76,24,Syntax/discourse structure changes,yes,"Thomas and Tauzin say , as do many doctors , t...","Like many doctors , Mr. Thomas and Mr. Tauzin ...",[10],None,that,None
283,80,24,Syntax/discourse structure changes,yes,The delegates said raising and distributing fu...,Bin Laden’s men pointed out that raising and d...,None,[5],None,that
532,143,24,Syntax/discourse structure changes,yes,"Swartz repaid it in full , with interest ,",that Swartz fully repaid it with interest,None,[10],None,that
...,...,...,...,...,...,...,...,...,...,...
21229,5565,24,Syntax/discourse structure changes,yes,State Education Commissioner Kent King said We...,Missouri Education Commissioner Kent King said...,[7],None,that,None
21490,5637,24,Syntax/discourse structure changes,yes,"Colin Powell , the Secretary of State , said c...",Secretary of State Colin Powell said yesterday...,None,[7],None,that
21752,5711,24,Syntax/discourse structure changes,yes,"ALBANY , N.Y. State Senate Majority Leader Jos...","LBANY , Aug. 8 Joseph L. Bruno , the State Sen...",None,[16],None,that
21793,5722,24,Syntax/discourse structure changes,yes,Bush declared that the British government `` h...,"Bush said , `` The British government has lear...",[13],None,that,None
21983,5782,24,Syntax/discourse structure changes,yes,The Ministry of Defence said that `` an invest...,The Ministry of Defence said yesterday : “We c...,[5],None,that,None

In [169]:
substitute(24, syn_disc_add_that, 1)

Double check type overwriting: row 2334, sentence 1
Common indices: [4] | Pre-existing types: ['3_0']
Double check type overwriting: row 2368, sentence 2
Common indices: [10] | Pre-existing types: ['3_0']

Double check type overwriting: row 4792, sentence 2
Common indices: [12] | Pre-existing types: ['3_0']

In [170]:
positives.loc[2334]

idx                                                                    2334
sentence1                 "The only thing that I know for certain is tha...
sentence2                 But he added: "The only thing I know for certa...
sentence1_tokenized       [``, The, only, thing, that, I, know, for, cer...
sentence2_tokenized       [But, he, added, :, ``, The, only, thing, I, k...
etpc_label                                                                1
mrpc_label                                                                1
ept_names                 [Same Polarity Substitution (contextual), Same...
ept_ids                                              [6, 6, 24, 26, 25, 29]
sentence1_scope_etpc      [26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 2...
sentence2_scope_etpc      [25, 6, 6, 26, 26, 26, 26, 26, 26, 26, 26, 26,...
sentence1_segment_text    [Bush, told, The only thing that I know for ce...
sentence2_segment_text    [he, added, The only thing I know for certain ...
sentence1_scope           [3_0, 3_0, 3_0, 3_0, 3_0 & 1_0, 3_0, 3_0, 3_0,...
sentence2_scope           [, 5_0, 4_0, 3_0, 3_0, 3_0, 3_0, 3_0, 3_0, 3_0...
Name: 2334, dtype: object

Let's see what remains

In [171]:
syn_disc_add.drop(syn_disc_add_that.index.tolist(), inplace=True)
syn_disc_add

/tmp/ipykernel_56784/3276250618.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  syn_disc_add.drop(syn_disc_add_that.index.tolist(), inplace=True)

,pair_id,type_id,type_name,sense_preserving,s1_text,s2_text,s1_scope,s2_scope,k1_text,k2_text
562,153,24,Syntax/discourse structure changes,yes,"In two new schemes , target families",Two new schemes target families,[0],None,In,None
613,164,24,Syntax/discourse structure changes,yes,She claimed all the babies were born full-term...,What she told our investigators was that all t...,None,"[1, 6, 7]",None,What was that
1204,308,24,Syntax/discourse structure changes,yes,"The new effort , Taxpayers Against the Recall ...","Called `` Taxpayers Against the Recall , '' it...",None,"[0, 1, 7, 8]",None,Called `` '' it
1731,450,24,Syntax/discourse structure changes,yes,the standards body warns,according to the W3C 's notice,None,"[17, 18]",None,according to
1821,474,24,Syntax/discourse structure changes,yes,Sendmail said,according to Sendmail,None,"[10, 11]",None,according to
2239,592,24,Syntax/discourse structure changes,yes,it 's a technique that 's been successful in p...,the technique has successfully predicted,"[3, 4, 7]",None,it 's that,None
2517,656,24,Syntax/discourse structure changes,yes,according to the report,the report noted,"[13, 14]",None,according to,None
2735,724,24,Syntax/discourse structure changes,yes,"For the third time in the past four years ,",It was the third time in four years that,None,"[0, 1, 8]",None,It was that
3037,802,24,Syntax/discourse structure changes,yes,The numbers highlight a conundrum :,"As stark as the numbers themselves , is the co...",None,"[0, 2, 7]",None,As as is
3160,843,24,Syntax/discourse structure changes,yes,US pressure had provoked,it was U.S. pressure which had provoked,None,"[12, 13, 16]",None,it was which
4415,1190,24,Syntax/discourse structure changes,yes,"Mark Kaiser , vice-president of marketing , an...","Mark Kaiser and Tim Lee , respectively US Food...",None,[6],None,respectively
4469,1211,24,Syntax/discourse structure changes,yes,Air Transport Association spokeswoman Diana Cr...,ATA spokeswoman Diana Cronan said travel was d...,"[7, 16]",None,that that,None
5714,1545,24,Syntax/discourse structure changes,yes,the safety it needed,what it needed safety,None,[21],None,what
5822,1583,24,Syntax/discourse structure changes,yes,17-year-old Max Guarino,"Max Guarino , 17 ,",None,None,None,None
6185,1684,24,Syntax/discourse structure changes,yes,He added International Business Machines Corp....,"Complicating the situation , he continued , ar...",None,"[0, 1, 2, 3, 7, 10, 13]",None,"Complicating the situation , are like whose"
6876,1868,24,Syntax/discourse structure changes,yes,resistance forces hostile to the U.S. presence...,There are some who feel,None,"[0, 3]",None,There who
7007,1896,24,Syntax/discourse structure changes,yes,A COUPLE have been arrested for starving,A couple starved,"[2, 3, 4, 5]",None,have been arrested for,None
7107,1921,24,Syntax/discourse structure changes,yes,CELF said,according to various members of CELF,None,"[15, 16]",None,according to
7159,1935,24,Syntax/discourse structure changes,yes,"Fifty-seven senators , including 24 Republican...","Of those who signed the letter , 57 are senato...",None,"[0, 1, 2, 8]",None,Of those who are
7225,1951,24,Syntax/discourse structure changes,yes,she did n't say,She said she did n't know yet,None,"[2, 3, 4, 5]",None,she did n't know
7849,2127,24,Syntax/discourse structure changes,yes,of a point,point,"[12, 13]",None,of a,None
10090,2725,24,Syntax/discourse structure changes,yes,This is the first time in the United States th...,"Today , the experts will perform the United St...","[0, 1, 9]",None,This is that,None
10908,2924,24,Syntax/discourse structure changes,yes,Although deeply disapproved of,Although the Beatles were deeply disapproved of,None,[3],None,were
11798,3130,24,Syntax/discourse structure changes,yes,"That client component , the Microsoft Windows ...",Microsoft released Windows Rights Management C...,"[12, 13]",None,is what,None
11813,3132,24,Syntax/discourse structure changes,yes,nothing but praise,praise,"[15, 16]",None,nothing but,None
12187,3228,24,Syntax/discourse structure changes,yes,It was the first speech by a US president to,President Bush became the first American presi...,"[0, 1, 5]",None,It was by,None
12253,3248,24,Syntax/discourse structure changes,yes,This is what Dr. Dean said : `` I still want t...,He told the Register : `` I still want to be t...,"[0, 1, 2]",None,This is what,None
12610,3346,24,Syntax/discourse structure changes,yes,Neither immediately said his agency would appe...,Neither said whether they would appeal the dec...,None,[2],None,whether
13394,3549,24,Syntax/discourse structure changes,yes,No rabies vaccine is available,there is no rabies vaccine,None,"[3, 4]",None,there is
13555,3593,24,Syntax/discourse structure changes,yes,As envisioned by Breaux,Breaux outlined a plan,"[0, 2, 4]",None,"As by ,",None
13573,3598,24,Syntax/discourse structure changes,yes,By the time the two-term president left office...,"By the time that Reagan left office in 1989 , ...",None,"[3, 21]",None,that that
15069,3976,24,Syntax/discourse structure changes,yes,Axcan made its first offer,the initial offer,"[9, 10]",None,made its,None
17047,4498,24,Syntax/discourse structure changes,yes,It was an ill-conceived lawsuit,the lawsuit was `` ill-conceived,[13],None,It,None
17059,4500,24,Syntax/discourse structure changes,yes,the three workers were two men and a woman who...,"The missing workers , two men and a woman , we...",[17],None,who,None
17955,4712,24,Syntax/discourse structure changes,yes,Pepper spray and four arrests marked a Monday ...,Police using pepper spray arrested 12 people M...,[5],None,marked,None
18308,4812,24,Syntax/discourse structure changes,yes,Counties with population declines will be Verm...,"Vermillion , Posey and Madison County populati...","[4, 5]",None,will be,None
18767,4922,24,Syntax/discourse structure changes,yes,At least 11 more cases,There’s at least 11,None,[0],None,There’s
19364,5076,24,Syntax/discourse structure changes,yes,People who have opposed these actions througho...,`` What is happening here is that people who h...,None,"[1, 2, 3, 4, 5, 6]",None,What is happening here is that
20193,5293,24,Syntax/discourse structure changes,yes,`` I do n't think he 's been that good from th...,This is what Limbaugh actually said about McNa...,None,"[0, 1, 2]",None,This is what
20585,5387,24,Syntax/discourse structure changes,yes,it was a movie,the film is,[2],None,it,None
21123,5535,24,Syntax/discourse structure changes,yes,The Cleveland Cavaliers won the right to draft...,Such was the case Thursday night when the Clev...,None,"[0, 1, 2, 3, 6]",None,Such was the case when

In [172]:
substitute(24, syn_disc_add, 2)

Double check type overwriting: row 307, sentence 2
Common indices: [8] | Pre-existing types: ['5_0']
Double check type overwriting: row 3975, sentence 1
Common indices: [9, 10] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 4499, sentence 1
Common indices: [17] | Pre-existing types: ['3_0']

In [173]:
syn_disc_sub[150:]

,pair_id,type_id,type_name,sense_preserving,s1_text,s2_text,s1_scope,s2_scope,k1_text,k2_text
21025,5513,24,Syntax/discourse structure changes,yes,a minibus detonated a bomb in a Baghdad traffi...,a bomb explosion in a Baghdad traffic tunnel k...,"[5, 6, 8, 15, 19]","[3, 4, 11, 15]",detonated a bomb killing wounding,a bomb killed wounded
21237,5566,24,Syntax/discourse structure changes,yes,", which has agreed to handle his surrender",about arranging his surrender,"[12, 13, 14, 15, 16]","[11, 12]",which has agreed to handle,about arranging
21348,5593,24,Syntax/discourse structure changes,yes,The company posted a profit of $ 54.3 million ...,"That was up from the year-ago quarter , when t...",[16],"[0, 1, 2, 3, 8]",in,That was up from when
21353,5600,24,Syntax/discourse structure changes,yes,"Among those waiting a turn was Jodie Singer , ...","Jodie Singer , a sixth-grader from Washington ...","[0, 1, 2, 3, 4, 5]","[10, 11, 12, 13]",Among those waiting a turn was,anxiously awaited her turn
21416,5614,24,Syntax/discourse structure changes,yes,California lost $ 937 million to corporate tax...,California 's lost tax revenue was mostly due ...,[8],"[5, 6, 7, 8]",to,was mostly due to
21515,5645,24,Syntax/discourse structure changes,yes,Another shooting linked to the spree occurred ...,The latest shooting linked to the spree was a ...,[6],"[7, 8, 11]",occurred,was a shooting
21527,5648,24,Syntax/discourse structure changes,yes,Congress is the best forum for weighing,Congress is the best forum to address,[8],[8],for,to
21535,5651,24,Syntax/discourse structure changes,yes,And because it is so far out in international ...,It is so far out in international water that t...,"[1, 10]",[8],"because ,",that
21543,5652,24,Syntax/discourse structure changes,yes,a set of guidelines to help public administrat...,guidelines to member governments on how to mig...,"[10, 13, 14, 23, 24]","[10, 11]",help decide whether or not,on how
21611,5672,24,Syntax/discourse structure changes,yes,Only Intel Corp. 's 0.3 percent yield was lower .,Only Intel Corp. has a lower dividend yield .\n,"[7, 8]","[3, 4, 5]",was lower,has a lower
21684,5692,24,Syntax/discourse structure changes,yes,after he tendered his resignation,after tendering his resignation,[19],[22],tendered,tendering
21745,5710,24,Syntax/discourse structure changes,yes,Women who eat potatoes and other tuberous vege...,a trigger of type 1 diabetes in children - the...,"[10, 11, 12, 13, 14, 15]","[6, 7, 14]",may be at risk of triggering,a trigger -
21999,5786,24,Syntax/discourse structure changes,yes,"all four states as well as West Virginia , Del...","North Carolina , Virginia , Washington DC , Ma...","[6, 7, 8, 9, 10, 11]","[6, 7, 8, 9, 10, 14, 15, 21]",all four states as well as,"North Carolina , Virginia , Maryland , Pennsyl..."

In [174]:
print_sents(2540)

Wal-Mart, the nation's largest private employer, has expanded its antidiscrimination policy to protect gay and lesbian employees, company officials said Tuesday.
Wal-Mart Stores Inc., the nation's largest private employer, will now include gays and lesbians in its anti-discrimination policy, company officials said Wednesday.

In [175]:
positives.loc[438,:]

idx                                                                     438
sentence1                 The letter stated that a premature stillborn b...
sentence2                 According to the writer of the letter, the inf...
sentence1_tokenized       [The, letter, stated, that, a, premature, stil...
sentence2_tokenized       [According, to, the, writer, of, the, letter, ...
etpc_label                                                                1
mrpc_label                                                                1
ept_names                 [Same Polarity Substitution (contextual), Synt...
ept_ids                                             [6, 24, 25, 25, 29, 21]
sentence1_scope_etpc      [24, 24, 24, 24, 6, 6, 6, 6, 25, 25, 25, 25, 2...
sentence2_scope_etpc      [24, 24, 24, 24, 24, 24, 24, 24, 6, 6, 0, 0, 0...
sentence1_segment_text    [a premature stillborn baby, The letter stated...
sentence2_segment_text    [the infant, According to the writer of the le...
sentence1_scope              [, , , , 4_0, 4_0, 4_0, 4_0, , , , , , , , , ]
sentence2_scope           [, , , , , , , , 4_0, 4_0, , 8_0, , , , , , , ...
Name: 438, dtype: object

### Semantic Based

In [176]:
textual_paraphrases[textual_paraphrases['type_id'] == 28]

,pair_id,type_id,type_name,sense_preserving,s1_scope,s2_scope,s1_text,s2_text,key_s1,key_s2,k1_text,k2_text
102,35,28,Semantic based,yes,"[0, 1, 2, 3, 4, 5]",[10],The largest gains were seen in,increased,None,None,None,None
129,41,28,Semantic based,yes,"[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]","[3, 4, 5, 6, 7, 8, 9, 10]",the court upheld Cleveland 's school voucher p...,the court ruled 5-4 in an Ohio case,None,None,None,None
166,51,28,Semantic based,yes,"[13, 14, 15, 16]","[18, 19, 20, 21]",they were legally employed,they have legal status,None,None,None,None
214,64,28,Semantic based,yes,"[2, 3, 4, 5, 6, 7, 8]","[5, 6, 7, 8, 9]",what PeopleSoft management would have you believe,the contentions of PeopleSoft management,None,None,None,None
223,68,28,Semantic based,yes,"[4, 5, 6, 7, 8, 9, 10, 11, 12, 13]","[0, 1, 2, 3, 4]",Troy is expected to be sentenced to life in pr...,Troy faces life in prison,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...
21906,5756,28,Semantic based,yes,"[20, 21]","[22, 25, 26, 27, 28, 29, 30, 31]",work for,be & apos ; s chief operating officer,None,None,None,None
21935,5767,28,Semantic based,yes,"[13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 2...","[13, 14, 15, 16, 17, 18, 19, 20, 21, 22]","43,000 jobs in Santa Clara County and 18,000 j...","nearly 62,000 jobs in the Santa Clara County-S...",None,None,None,None
21953,5772,28,Semantic based,yes,[0],"[2, 3, 4]",After,into the study,None,None,None,None
21980,5781,28,Semantic based,yes,"[8, 9, 10, 11, 12, 13, 14, 15, 16]","[8, 9, 10, 11]",13 of the state 's 16 fatalities were reported,13 people were killed,None,None,None,None
21997,5785,28,Semantic based,yes,"[5, 6, 7, 8, 9, 10, 11, 12, 13]","[9, 10, 11, 12, 13, 14, 15, 16]",as Limbaugh 's attorneys prepared to file an a...,to give Limbaugh 's attorneys time to appeal,None,None,None,None

In [177]:
print_sents(226)

We remain hopeful that the city will agree to work with us and engage in good-faith discussions on this issue."
Alhart said the governor "remains hopeful that the city will continue to work with us and engage in good-faith discussions."

### Ellipsis

In [178]:
ellip = duplicate_df(textual_paraphrases[textual_paraphrases['type_id'] == 16])
ellip['k1_text'] = ellip['k1_text'].str.lower()
ellip['k2_text'] = ellip['k2_text'].str.lower()
ellip.drop(columns=['s1_scope', 's2_scope'], inplace=True)
ellip.rename(columns={'key_s1': 's1_scope', 'key_s2': 's2_scope'}, inplace=True)
ellip

,pair_id,type_id,type_name,sense_preserving,s1_text,s2_text,s1_scope,s2_scope,k1_text,k2_text
0,150,16,Ellipsis,yes,would take would require,would take require,"[3, 8]",[3],would would,would
1,273,16,Ellipsis,yes,short-lived or long-lived,short- or long-lived,"[13, 15]",[14],short-lived long-lived,long-lived
2,336,16,Ellipsis,yes,"The company will launch 800 hot spots , or `` ...",The service will launch later this summer with...,"[0, 1]","[0, 1, 12]",the company,the service sprint
3,470,16,Ellipsis,yes,with aggravated harassment and criminal posses...,with aggravated harassment in the phone call c...,[21],"[10, 19]",with,with with
4,594,16,Ellipsis,yes,"After three months , Atkins dieters had lost a...","Three months into the study , the Atkins group...","[12, 16]",[16],pounds pounds,pounds
...,...,...,...,...,...,...,...,...,...,...
61,5384,16,Ellipsis,yes,12-by-18-inch,12-inch-by-18-inch,[9],[11],12-by-18-inch,12-inch-by-18-inch
62,5744,16,Ellipsis,yes,to establish relationships and to make sure,to establish relationships and make sure,"[6, 10]",[6],to to,to
63,5749,16,Ellipsis,yes,not because of who she is but what she did,not because of who she is but because of what ...,"[6, 7]","[7, 8, 13, 14]",because of,because of because of
64,5772,16,Ellipsis,yes,14.7 pounds 5.8 pounds,15 pounds five,"[12, 16]",[16],pounds pounds,pounds
65,5773,16,Ellipsis,yes,positive numbers than negative,high standards rather than low standards,[8],"[8, 12]",numbers,standards standards

In [179]:
def same(string1, string2):
    return set(string1.split()) == set(string2.split())

In [180]:
samie = ellip[ellip.apply(lambda x: same(x.k1_text, x.k2_text), axis=1)]
ellip.drop(samie.index.tolist(), inplace=True)
samie

,pair_id,type_id,type_name,sense_preserving,s1_text,s2_text,s1_scope,s2_scope,k1_text,k2_text
0,150,16,Ellipsis,yes,would take would require,would take require,"[3, 8]",[3],would would,would
3,470,16,Ellipsis,yes,with aggravated harassment and criminal posses...,with aggravated harassment in the phone call c...,[21],"[10, 19]",with,with with
4,594,16,Ellipsis,yes,"After three months , Atkins dieters had lost a...","Three months into the study , the Atkins group...","[12, 16]",[16],pounds pounds,pounds
5,627,16,Ellipsis,yes,We believe and will defend,We believe and we will defend,[0],"[1, 8]",we,we we
7,768,16,Ellipsis,yes,"Dell has about 32 percent of the U.S. market ,...",Dell has 32 percent of the PC market in the Un...,[1],"[1, 15]",has,has has
9,1207,16,Ellipsis,yes,was lying watching,was lying was watching,[10],"[11, 24]",was,was was
10,1357,16,Ellipsis,yes,"Of personal vehicles , 57 percent are cars or ...","Of all personal vehicles , 57 percent are cars...",[6],"[7, 15, 24]",are,are are are
17,1936,16,Ellipsis,yes,other producers ' server software can work wit...,other producers ' server software can connect ...,[16],"[17, 29]",can,can can
18,2232,16,Ellipsis,yes,About 10 percent of high school and 16 percent...,16 percent of elementary and middle school stu...,[11],"[10, 17]",students,students students
19,2240,16,Ellipsis,yes,will keep the Interwoven name and be headquart...,will be named Interwoven and will be headquart...,[3],"[3, 8]",will,will will
20,2339,16,Ellipsis,yes,from multiple screen names and other POP and I...,"from multiple AOL screen names , as well as fr...",[6],"[5, 14]",from,from from
22,2643,16,Ellipsis,yes,"`` She was crying and scared , '","`` She was crying and she was really scared , ''","[1, 2]","[1, 2, 5, 6]",she was,she was she was
23,2772,16,Ellipsis,yes,sales of grocery and other consumer packaged p...,sales of grocery and other consumer packaged p...,"[2, 3]","[3, 4, 15, 16]",sales of,sales of sales of
24,2898,16,Ellipsis,yes,a federal arrest warrant a sealed complaint,a federal arrest warrant a sealed federal comp...,[10],"[9, 15]",federal,federal federal
25,2945,16,Ellipsis,yes,at 160 on June 16 and at 120 on June 23,at 160 on June 16 and 120 at June 23,"[16, 22]",[4],at at,at
26,2995,16,Ellipsis,yes,I would rather be talking about high standards...,I would rather be talking about positive numbe...,[3],[9],rather,rather
28,3338,16,Ellipsis,yes,a profit of 30 cents a share and $ 1.31,a profit of 30 cents a share and $ 1.31 a shar...,"[10, 11]","[8, 9, 17, 18]",a share,a share a share
29,3362,16,Ellipsis,yes,was due to not due to,was not due to but to,"[10, 19]",[17],due due,due
30,3377,16,Ellipsis,yes,He said he has begun a court action to seize B...,He said he has initiated a forfeiture action i...,"[3, 15]",[3],has has,has
37,3598,16,Ellipsis,yes,nearly 600 ships - about twice the ships,600 ships - about twice the number,"[16, 21]",[15],ships ships,ships
41,3873,16,Ellipsis,yes,Testing of the swimsuit at a state police lab ...,Testing at a Massachusetts State Police lab an...,"[4, 10]",[1],at at,at
42,3902,16,Ellipsis,yes,chip sales were expect to rise 16.8 percent fo...,chip sales next year will rise 16.8 percent fo...,[10],"[11, 21]",percent,percent percent
43,4039,16,Ellipsis,yes,She was the only woman in her unit and a membe...,She was the only woman employed as a warehouse...,"[2, 3, 4]","[2, 3, 4, 15, 16, 17]",the only woman,the only woman the only woman
44,4204,16,Ellipsis,yes,a duffel bag containing a woman 's body was du...,"a woman 's body was dug up in a duffel bag , a...","[10, 18]",[6],body body,body
45,4220,16,Ellipsis,yes,to resign or negotiate,to resign or to negotiate,[9],"[6, 10]",to,to to
46,4239,16,Ellipsis,yes,three percent to five percent,3 to 5 percent,"[15, 18]",[16],percent percent,percent
47,4256,16,Ellipsis,yes,the fourth most common in men and the eighth m...,the fourth most common in men and the eighth i...,"[8, 9, 18, 19]","[5, 6]",most common most common,most common
48,4270,16,Ellipsis,yes,This comes at a time when Alba is expanding it...,That comes as Alba is lifting its aluminium ou...,"[7, 18]",[4],is is,is
49,4283,16,Ellipsis,yes,reached 19.5 million over 2001 's 8.9 million ...,reached 19.5 million units compared with 8.9 m...,[23],"[5, 13]",units,units units
50,4474,16,Ellipsis,yes,"`` I have lots of bad dreams , I have flashbac...","`` I have lots of bad dreams , flashbacks and ...","[1, 2, 8, 9, 12, 13]","[1, 2]",i have i have i have,i have
52,4613,16,Ellipsis,yes,in Washington and in New York City,in Washington and New York,"[11, 18]",[9],in in,in
53,4634,16,Ellipsis,yes,"35,561 people who had never smoked but had spo...","35,561 people who had never smoked , but who l...",[9],"[7, 13]",who,who who
57,5106,16,Ellipsis,yes,the pledges and the minute of silence,the pledges and moment of silence,"[20, 23]",[21],the the,the
58,5127,16,Ellipsis,yes,The combined companies ' commercial and person...,The combined company 's commercial lines and p...,[7],"[5, 8]",lines,lines lines
59,5127,16,Ellipsis,yes,will be consolidated and will be based,will be consolidated and based,"[8, 9, 16, 17]","[10, 11]",will be will be,will be
60,5188,16,Ellipsis,yes,he did not see urged,he does not understand he has urged,[8],"[9, 23]",he,he he
62,5744,16,Ellipsis,yes,to establish relationships and to make sure,to establish relationships and make sure,"[6, 10]",[6],to to,to
63,5749,16,Ellipsis,yes,not because of who she is but what she did,not because of who she is but because of what ...,"[6, 7]","[7, 8, 13, 14]",because of,because of because of
64,5772,16,Ellipsis,yes,14.7 pounds 5.8 pounds,15 pounds five,"[12, 16]",[16],pounds pounds,pounds

In [181]:
preps = ('at', 'from', 'in', 'the', 'to')
samie_preps = samie[(samie['k1_text'].isin(preps)) | (samie['k2_text'].isin(preps))]
samie_preps

,pair_id,type_id,type_name,sense_preserving,s1_text,s2_text,s1_scope,s2_scope,k1_text,k2_text
20,2339,16,Ellipsis,yes,from multiple screen names and other POP and I...,"from multiple AOL screen names , as well as fr...",[6],"[5, 14]",from,from from
25,2945,16,Ellipsis,yes,at 160 on June 16 and at 120 on June 23,at 160 on June 16 and 120 at June 23,"[16, 22]",[4],at at,at
41,3873,16,Ellipsis,yes,Testing of the swimsuit at a state police lab ...,Testing at a Massachusetts State Police lab an...,"[4, 10]",[1],at at,at
45,4220,16,Ellipsis,yes,to resign or negotiate,to resign or to negotiate,[9],"[6, 10]",to,to to
52,4613,16,Ellipsis,yes,in Washington and in New York City,in Washington and New York,"[11, 18]",[9],in in,in
57,5106,16,Ellipsis,yes,the pledges and the minute of silence,the pledges and moment of silence,"[20, 23]",[21],the the,the
62,5744,16,Ellipsis,yes,to establish relationships and to make sure,to establish relationships and make sure,"[6, 10]",[6],to to,to

In [182]:
print_sents(4220)

The MDC called the strike to force Mr Mugabe to either resign or negotiate a settlement of the Zimbabwe crisis.
The MDC called the week-long protest to urge Mugabe either to resign or to negotiate a settlement of the crisis gripping the country.

Let's delete the first preposition

In [183]:
samie_preps['s1_scope'].apply(lambda x: x.pop(0))
samie_preps['s2_scope'].apply(lambda x: x.pop(0))

20     5
25     4
41     1
45     6
52     9
57    21
62     6
Name: s2_scope, dtype: int64

In [184]:
samie_preps

,pair_id,type_id,type_name,sense_preserving,s1_text,s2_text,s1_scope,s2_scope,k1_text,k2_text
20,2339,16,Ellipsis,yes,from multiple screen names and other POP and I...,"from multiple AOL screen names , as well as fr...",[],[14],from,from from
25,2945,16,Ellipsis,yes,at 160 on June 16 and at 120 on June 23,at 160 on June 16 and 120 at June 23,[22],[],at at,at
41,3873,16,Ellipsis,yes,Testing of the swimsuit at a state police lab ...,Testing at a Massachusetts State Police lab an...,[10],[],at at,at
45,4220,16,Ellipsis,yes,to resign or negotiate,to resign or to negotiate,[],[10],to,to to
52,4613,16,Ellipsis,yes,in Washington and in New York City,in Washington and New York,[18],[],in in,in
57,5106,16,Ellipsis,yes,the pledges and the minute of silence,the pledges and moment of silence,[23],[],the the,the
62,5744,16,Ellipsis,yes,to establish relationships and to make sure,to establish relationships and make sure,[10],[],to to,to

In [185]:
samie_preps.loc[[20,45], 's1_scope'] = None

In [186]:
samie_preps.loc[[25,41,52,57,62], 's2_scope'] = None

In [187]:
samie_preps

,pair_id,type_id,type_name,sense_preserving,s1_text,s2_text,s1_scope,s2_scope,k1_text,k2_text
20,2339,16,Ellipsis,yes,from multiple screen names and other POP and I...,"from multiple AOL screen names , as well as fr...",None,[14],from,from from
25,2945,16,Ellipsis,yes,at 160 on June 16 and at 120 on June 23,at 160 on June 16 and 120 at June 23,[22],None,at at,at
41,3873,16,Ellipsis,yes,Testing of the swimsuit at a state police lab ...,Testing at a Massachusetts State Police lab an...,[10],None,at at,at
45,4220,16,Ellipsis,yes,to resign or negotiate,to resign or to negotiate,None,[10],to,to to
52,4613,16,Ellipsis,yes,in Washington and in New York City,in Washington and New York,[18],None,in in,in
57,5106,16,Ellipsis,yes,the pledges and the minute of silence,the pledges and moment of silence,[23],None,the the,the
62,5744,16,Ellipsis,yes,to establish relationships and to make sure,to establish relationships and make sure,[10],None,to to,to

In [188]:
substitute(16, samie_preps, 1)

In [189]:
samie.drop(samie_preps.index.tolist(), inplace=True)
samie

/tmp/ipykernel_56784/364574916.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  samie.drop(samie_preps.index.tolist(), inplace=True)

,pair_id,type_id,type_name,sense_preserving,s1_text,s2_text,s1_scope,s2_scope,k1_text,k2_text
0,150,16,Ellipsis,yes,would take would require,would take require,"[3, 8]",[3],would would,would
3,470,16,Ellipsis,yes,with aggravated harassment and criminal posses...,with aggravated harassment in the phone call c...,[21],"[10, 19]",with,with with
4,594,16,Ellipsis,yes,"After three months , Atkins dieters had lost a...","Three months into the study , the Atkins group...","[12, 16]",[16],pounds pounds,pounds
5,627,16,Ellipsis,yes,We believe and will defend,We believe and we will defend,[0],"[1, 8]",we,we we
7,768,16,Ellipsis,yes,"Dell has about 32 percent of the U.S. market ,...",Dell has 32 percent of the PC market in the Un...,[1],"[1, 15]",has,has has
9,1207,16,Ellipsis,yes,was lying watching,was lying was watching,[10],"[11, 24]",was,was was
10,1357,16,Ellipsis,yes,"Of personal vehicles , 57 percent are cars or ...","Of all personal vehicles , 57 percent are cars...",[6],"[7, 15, 24]",are,are are are
17,1936,16,Ellipsis,yes,other producers ' server software can work wit...,other producers ' server software can connect ...,[16],"[17, 29]",can,can can
18,2232,16,Ellipsis,yes,About 10 percent of high school and 16 percent...,16 percent of elementary and middle school stu...,[11],"[10, 17]",students,students students
19,2240,16,Ellipsis,yes,will keep the Interwoven name and be headquart...,will be named Interwoven and will be headquart...,[3],"[3, 8]",will,will will
22,2643,16,Ellipsis,yes,"`` She was crying and scared , '","`` She was crying and she was really scared , ''","[1, 2]","[1, 2, 5, 6]",she was,she was she was
23,2772,16,Ellipsis,yes,sales of grocery and other consumer packaged p...,sales of grocery and other consumer packaged p...,"[2, 3]","[3, 4, 15, 16]",sales of,sales of sales of
24,2898,16,Ellipsis,yes,a federal arrest warrant a sealed complaint,a federal arrest warrant a sealed federal comp...,[10],"[9, 15]",federal,federal federal
26,2995,16,Ellipsis,yes,I would rather be talking about high standards...,I would rather be talking about positive numbe...,[3],[9],rather,rather
28,3338,16,Ellipsis,yes,a profit of 30 cents a share and $ 1.31,a profit of 30 cents a share and $ 1.31 a shar...,"[10, 11]","[8, 9, 17, 18]",a share,a share a share
29,3362,16,Ellipsis,yes,was due to not due to,was not due to but to,"[10, 19]",[17],due due,due
30,3377,16,Ellipsis,yes,He said he has begun a court action to seize B...,He said he has initiated a forfeiture action i...,"[3, 15]",[3],has has,has
37,3598,16,Ellipsis,yes,nearly 600 ships - about twice the ships,600 ships - about twice the number,"[16, 21]",[15],ships ships,ships
42,3902,16,Ellipsis,yes,chip sales were expect to rise 16.8 percent fo...,chip sales next year will rise 16.8 percent fo...,[10],"[11, 21]",percent,percent percent
43,4039,16,Ellipsis,yes,She was the only woman in her unit and a membe...,She was the only woman employed as a warehouse...,"[2, 3, 4]","[2, 3, 4, 15, 16, 17]",the only woman,the only woman the only woman
44,4204,16,Ellipsis,yes,a duffel bag containing a woman 's body was du...,"a woman 's body was dug up in a duffel bag , a...","[10, 18]",[6],body body,body
46,4239,16,Ellipsis,yes,three percent to five percent,3 to 5 percent,"[15, 18]",[16],percent percent,percent
47,4256,16,Ellipsis,yes,the fourth most common in men and the eighth m...,the fourth most common in men and the eighth i...,"[8, 9, 18, 19]","[5, 6]",most common most common,most common
48,4270,16,Ellipsis,yes,This comes at a time when Alba is expanding it...,That comes as Alba is lifting its aluminium ou...,"[7, 18]",[4],is is,is
49,4283,16,Ellipsis,yes,reached 19.5 million over 2001 's 8.9 million ...,reached 19.5 million units compared with 8.9 m...,[23],"[5, 13]",units,units units
50,4474,16,Ellipsis,yes,"`` I have lots of bad dreams , I have flashbac...","`` I have lots of bad dreams , flashbacks and ...","[1, 2, 8, 9, 12, 13]","[1, 2]",i have i have i have,i have
53,4634,16,Ellipsis,yes,"35,561 people who had never smoked but had spo...","35,561 people who had never smoked , but who l...",[9],"[7, 13]",who,who who
58,5127,16,Ellipsis,yes,The combined companies ' commercial and person...,The combined company 's commercial lines and p...,[7],"[5, 8]",lines,lines lines
59,5127,16,Ellipsis,yes,will be consolidated and will be based,will be consolidated and based,"[8, 9, 16, 17]","[10, 11]",will be will be,will be
60,5188,16,Ellipsis,yes,he did not see urged,he does not understand he has urged,[8],"[9, 23]",he,he he
63,5749,16,Ellipsis,yes,not because of who she is but what she did,not because of who she is but because of what ...,"[6, 7]","[7, 8, 13, 14]",because of,because of because of
64,5772,16,Ellipsis,yes,14.7 pounds 5.8 pounds,15 pounds five,"[12, 16]",[16],pounds pounds,pounds

In [190]:
print_sents(2995)

But I would rather be talking about high standards than low standards."
"I would rather be talking about positive numbers rather than negative.

In [191]:
samie['s1_scope'].apply(lambda x: x.pop(0))
samie['s2_scope'].apply(lambda x: x.pop(0))

0      3
3     10
4     16
5      1
7      1
9     11
10     7
17    17
18    10
19     3
22     1
23     3
24     9
26     9
28     8
29    17
30     3
37    15
42    11
43     2
44     6
46    16
47     5
48     4
49     5
50     1
53     7
58     5
59    10
60     9
63     7
64    16
Name: s2_scope, dtype: int64

In [192]:
samie

,pair_id,type_id,type_name,sense_preserving,s1_text,s2_text,s1_scope,s2_scope,k1_text,k2_text
0,150,16,Ellipsis,yes,would take would require,would take require,[8],[],would would,would
3,470,16,Ellipsis,yes,with aggravated harassment and criminal posses...,with aggravated harassment in the phone call c...,[],[19],with,with with
4,594,16,Ellipsis,yes,"After three months , Atkins dieters had lost a...","Three months into the study , the Atkins group...",[16],[],pounds pounds,pounds
5,627,16,Ellipsis,yes,We believe and will defend,We believe and we will defend,[],[8],we,we we
7,768,16,Ellipsis,yes,"Dell has about 32 percent of the U.S. market ,...",Dell has 32 percent of the PC market in the Un...,[],[15],has,has has
9,1207,16,Ellipsis,yes,was lying watching,was lying was watching,[],[24],was,was was
10,1357,16,Ellipsis,yes,"Of personal vehicles , 57 percent are cars or ...","Of all personal vehicles , 57 percent are cars...",[],"[15, 24]",are,are are are
17,1936,16,Ellipsis,yes,other producers ' server software can work wit...,other producers ' server software can connect ...,[],[29],can,can can
18,2232,16,Ellipsis,yes,About 10 percent of high school and 16 percent...,16 percent of elementary and middle school stu...,[],[17],students,students students
19,2240,16,Ellipsis,yes,will keep the Interwoven name and be headquart...,will be named Interwoven and will be headquart...,[],[8],will,will will
22,2643,16,Ellipsis,yes,"`` She was crying and scared , '","`` She was crying and she was really scared , ''",[2],"[2, 5, 6]",she was,she was she was
23,2772,16,Ellipsis,yes,sales of grocery and other consumer packaged p...,sales of grocery and other consumer packaged p...,[3],"[4, 15, 16]",sales of,sales of sales of
24,2898,16,Ellipsis,yes,a federal arrest warrant a sealed complaint,a federal arrest warrant a sealed federal comp...,[],[15],federal,federal federal
26,2995,16,Ellipsis,yes,I would rather be talking about high standards...,I would rather be talking about positive numbe...,[],[],rather,rather
28,3338,16,Ellipsis,yes,a profit of 30 cents a share and $ 1.31,a profit of 30 cents a share and $ 1.31 a shar...,[11],"[9, 17, 18]",a share,a share a share
29,3362,16,Ellipsis,yes,was due to not due to,was not due to but to,[19],[],due due,due
30,3377,16,Ellipsis,yes,He said he has begun a court action to seize B...,He said he has initiated a forfeiture action i...,[15],[],has has,has
37,3598,16,Ellipsis,yes,nearly 600 ships - about twice the ships,600 ships - about twice the number,[21],[],ships ships,ships
42,3902,16,Ellipsis,yes,chip sales were expect to rise 16.8 percent fo...,chip sales next year will rise 16.8 percent fo...,[],[21],percent,percent percent
43,4039,16,Ellipsis,yes,She was the only woman in her unit and a membe...,She was the only woman employed as a warehouse...,"[3, 4]","[3, 4, 15, 16, 17]",the only woman,the only woman the only woman
44,4204,16,Ellipsis,yes,a duffel bag containing a woman 's body was du...,"a woman 's body was dug up in a duffel bag , a...",[18],[],body body,body
46,4239,16,Ellipsis,yes,three percent to five percent,3 to 5 percent,[18],[],percent percent,percent
47,4256,16,Ellipsis,yes,the fourth most common in men and the eighth m...,the fourth most common in men and the eighth i...,"[9, 18, 19]",[6],most common most common,most common
48,4270,16,Ellipsis,yes,This comes at a time when Alba is expanding it...,That comes as Alba is lifting its aluminium ou...,[18],[],is is,is
49,4283,16,Ellipsis,yes,reached 19.5 million over 2001 's 8.9 million ...,reached 19.5 million units compared with 8.9 m...,[],[13],units,units units
50,4474,16,Ellipsis,yes,"`` I have lots of bad dreams , I have flashbac...","`` I have lots of bad dreams , flashbacks and ...","[2, 8, 9, 12, 13]",[2],i have i have i have,i have
53,4634,16,Ellipsis,yes,"35,561 people who had never smoked but had spo...","35,561 people who had never smoked , but who l...",[],[13],who,who who
58,5127,16,Ellipsis,yes,The combined companies ' commercial and person...,The combined company 's commercial lines and p...,[],[8],lines,lines lines
59,5127,16,Ellipsis,yes,will be consolidated and will be based,will be consolidated and based,"[9, 16, 17]",[11],will be will be,will be
60,5188,16,Ellipsis,yes,he did not see urged,he does not understand he has urged,[],[23],he,he he
63,5749,16,Ellipsis,yes,not because of who she is but what she did,not because of who she is but because of what ...,[7],"[8, 13, 14]",because of,because of because of
64,5772,16,Ellipsis,yes,14.7 pounds 5.8 pounds,15 pounds five,[16],[],pounds pounds,pounds

In [193]:
samie['s1_scope'] = samie['s1_scope'].apply(lambda x: None if not x else x)
samie['s2_scope'] = samie['s2_scope'].apply(lambda x: None if not x else x)

/tmp/ipykernel_56784/2324279982.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  samie['s1_scope'] = samie['s1_scope'].apply(lambda x: None if not x else x)
/tmp/ipykernel_56784/2324279982.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  samie['s2_scope'] = samie['s2_scope'].apply(lambda x: None if not x else x)

In [194]:
samie

,pair_id,type_id,type_name,sense_preserving,s1_text,s2_text,s1_scope,s2_scope,k1_text,k2_text
0,150,16,Ellipsis,yes,would take would require,would take require,[8],None,would would,would
3,470,16,Ellipsis,yes,with aggravated harassment and criminal posses...,with aggravated harassment in the phone call c...,None,[19],with,with with
4,594,16,Ellipsis,yes,"After three months , Atkins dieters had lost a...","Three months into the study , the Atkins group...",[16],None,pounds pounds,pounds
5,627,16,Ellipsis,yes,We believe and will defend,We believe and we will defend,None,[8],we,we we
7,768,16,Ellipsis,yes,"Dell has about 32 percent of the U.S. market ,...",Dell has 32 percent of the PC market in the Un...,None,[15],has,has has
9,1207,16,Ellipsis,yes,was lying watching,was lying was watching,None,[24],was,was was
10,1357,16,Ellipsis,yes,"Of personal vehicles , 57 percent are cars or ...","Of all personal vehicles , 57 percent are cars...",None,"[15, 24]",are,are are are
17,1936,16,Ellipsis,yes,other producers ' server software can work wit...,other producers ' server software can connect ...,None,[29],can,can can
18,2232,16,Ellipsis,yes,About 10 percent of high school and 16 percent...,16 percent of elementary and middle school stu...,None,[17],students,students students
19,2240,16,Ellipsis,yes,will keep the Interwoven name and be headquart...,will be named Interwoven and will be headquart...,None,[8],will,will will
22,2643,16,Ellipsis,yes,"`` She was crying and scared , '","`` She was crying and she was really scared , ''",[2],"[2, 5, 6]",she was,she was she was
23,2772,16,Ellipsis,yes,sales of grocery and other consumer packaged p...,sales of grocery and other consumer packaged p...,[3],"[4, 15, 16]",sales of,sales of sales of
24,2898,16,Ellipsis,yes,a federal arrest warrant a sealed complaint,a federal arrest warrant a sealed federal comp...,None,[15],federal,federal federal
26,2995,16,Ellipsis,yes,I would rather be talking about high standards...,I would rather be talking about positive numbe...,None,None,rather,rather
28,3338,16,Ellipsis,yes,a profit of 30 cents a share and $ 1.31,a profit of 30 cents a share and $ 1.31 a shar...,[11],"[9, 17, 18]",a share,a share a share
29,3362,16,Ellipsis,yes,was due to not due to,was not due to but to,[19],None,due due,due
30,3377,16,Ellipsis,yes,He said he has begun a court action to seize B...,He said he has initiated a forfeiture action i...,[15],None,has has,has
37,3598,16,Ellipsis,yes,nearly 600 ships - about twice the ships,600 ships - about twice the number,[21],None,ships ships,ships
42,3902,16,Ellipsis,yes,chip sales were expect to rise 16.8 percent fo...,chip sales next year will rise 16.8 percent fo...,None,[21],percent,percent percent
43,4039,16,Ellipsis,yes,She was the only woman in her unit and a membe...,She was the only woman employed as a warehouse...,"[3, 4]","[3, 4, 15, 16, 17]",the only woman,the only woman the only woman
44,4204,16,Ellipsis,yes,a duffel bag containing a woman 's body was du...,"a woman 's body was dug up in a duffel bag , a...",[18],None,body body,body
46,4239,16,Ellipsis,yes,three percent to five percent,3 to 5 percent,[18],None,percent percent,percent
47,4256,16,Ellipsis,yes,the fourth most common in men and the eighth m...,the fourth most common in men and the eighth i...,"[9, 18, 19]",[6],most common most common,most common
48,4270,16,Ellipsis,yes,This comes at a time when Alba is expanding it...,That comes as Alba is lifting its aluminium ou...,[18],None,is is,is
49,4283,16,Ellipsis,yes,reached 19.5 million over 2001 's 8.9 million ...,reached 19.5 million units compared with 8.9 m...,None,[13],units,units units
50,4474,16,Ellipsis,yes,"`` I have lots of bad dreams , I have flashbac...","`` I have lots of bad dreams , flashbacks and ...","[2, 8, 9, 12, 13]",[2],i have i have i have,i have
53,4634,16,Ellipsis,yes,"35,561 people who had never smoked but had spo...","35,561 people who had never smoked , but who l...",None,[13],who,who who
58,5127,16,Ellipsis,yes,The combined companies ' commercial and person...,The combined company 's commercial lines and p...,None,[8],lines,lines lines
59,5127,16,Ellipsis,yes,will be consolidated and will be based,will be consolidated and based,"[9, 16, 17]",[11],will be will be,will be
60,5188,16,Ellipsis,yes,he did not see urged,he does not understand he has urged,None,[23],he,he he
63,5749,16,Ellipsis,yes,not because of who she is but what she did,not because of who she is but because of what ...,[7],"[8, 13, 14]",because of,because of because of
64,5772,16,Ellipsis,yes,14.7 pounds 5.8 pounds,15 pounds five,[16],None,pounds pounds,pounds

In [195]:
samie_none = samie[(samie['s1_scope'].isnull()) | (samie['s2_scope'].isnull())]

Correcting annotation mistake (present in original ETPC)

In [196]:
samie_none.loc[26, 'key_s2'] = [9]

/tmp/ipykernel_56784/2975458728.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  samie_none.loc[26, 'key_s2'] = [9]

In [197]:
samie_none

,pair_id,type_id,type_name,sense_preserving,s1_text,s2_text,s1_scope,s2_scope,k1_text,k2_text,key_s2
0,150,16,Ellipsis,yes,would take would require,would take require,[8],None,would would,would,NaN
3,470,16,Ellipsis,yes,with aggravated harassment and criminal posses...,with aggravated harassment in the phone call c...,None,[19],with,with with,NaN
4,594,16,Ellipsis,yes,"After three months , Atkins dieters had lost a...","Three months into the study , the Atkins group...",[16],None,pounds pounds,pounds,NaN
5,627,16,Ellipsis,yes,We believe and will defend,We believe and we will defend,None,[8],we,we we,NaN
7,768,16,Ellipsis,yes,"Dell has about 32 percent of the U.S. market ,...",Dell has 32 percent of the PC market in the Un...,None,[15],has,has has,NaN
9,1207,16,Ellipsis,yes,was lying watching,was lying was watching,None,[24],was,was was,NaN
10,1357,16,Ellipsis,yes,"Of personal vehicles , 57 percent are cars or ...","Of all personal vehicles , 57 percent are cars...",None,"[15, 24]",are,are are are,NaN
17,1936,16,Ellipsis,yes,other producers ' server software can work wit...,other producers ' server software can connect ...,None,[29],can,can can,NaN
18,2232,16,Ellipsis,yes,About 10 percent of high school and 16 percent...,16 percent of elementary and middle school stu...,None,[17],students,students students,NaN
19,2240,16,Ellipsis,yes,will keep the Interwoven name and be headquart...,will be named Interwoven and will be headquart...,None,[8],will,will will,NaN
24,2898,16,Ellipsis,yes,a federal arrest warrant a sealed complaint,a federal arrest warrant a sealed federal comp...,None,[15],federal,federal federal,NaN
26,2995,16,Ellipsis,yes,I would rather be talking about high standards...,I would rather be talking about positive numbe...,None,None,rather,rather,9.0
29,3362,16,Ellipsis,yes,was due to not due to,was not due to but to,[19],None,due due,due,NaN
30,3377,16,Ellipsis,yes,He said he has begun a court action to seize B...,He said he has initiated a forfeiture action i...,[15],None,has has,has,NaN
37,3598,16,Ellipsis,yes,nearly 600 ships - about twice the ships,600 ships - about twice the number,[21],None,ships ships,ships,NaN
42,3902,16,Ellipsis,yes,chip sales were expect to rise 16.8 percent fo...,chip sales next year will rise 16.8 percent fo...,None,[21],percent,percent percent,NaN
44,4204,16,Ellipsis,yes,a duffel bag containing a woman 's body was du...,"a woman 's body was dug up in a duffel bag , a...",[18],None,body body,body,NaN
46,4239,16,Ellipsis,yes,three percent to five percent,3 to 5 percent,[18],None,percent percent,percent,NaN
48,4270,16,Ellipsis,yes,This comes at a time when Alba is expanding it...,That comes as Alba is lifting its aluminium ou...,[18],None,is is,is,NaN
49,4283,16,Ellipsis,yes,reached 19.5 million over 2001 's 8.9 million ...,reached 19.5 million units compared with 8.9 m...,None,[13],units,units units,NaN
53,4634,16,Ellipsis,yes,"35,561 people who had never smoked but had spo...","35,561 people who had never smoked , but who l...",None,[13],who,who who,NaN
58,5127,16,Ellipsis,yes,The combined companies ' commercial and person...,The combined company 's commercial lines and p...,None,[8],lines,lines lines,NaN
60,5188,16,Ellipsis,yes,he did not see urged,he does not understand he has urged,None,[23],he,he he,NaN
64,5772,16,Ellipsis,yes,14.7 pounds 5.8 pounds,15 pounds five,[16],None,pounds pounds,pounds,NaN

In [198]:
substitute(16, samie_none, 2)

Double check type overwriting: row 3361, sentence 1
Common indices: [19] | Pre-existing types: ['3_0']
Double check type overwriting: row 4282, sentence 2
Common indices: [13] | Pre-existing types: ['5_0']

In [199]:
samie.drop(samie_none.index.tolist(), inplace=True)
samie

/tmp/ipykernel_56784/238585345.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  samie.drop(samie_none.index.tolist(), inplace=True)

,pair_id,type_id,type_name,sense_preserving,s1_text,s2_text,s1_scope,s2_scope,k1_text,k2_text
22,2643,16,Ellipsis,yes,"`` She was crying and scared , '","`` She was crying and she was really scared , ''",[2],"[2, 5, 6]",she was,she was she was
23,2772,16,Ellipsis,yes,sales of grocery and other consumer packaged p...,sales of grocery and other consumer packaged p...,[3],"[4, 15, 16]",sales of,sales of sales of
28,3338,16,Ellipsis,yes,a profit of 30 cents a share and $ 1.31,a profit of 30 cents a share and $ 1.31 a shar...,[11],"[9, 17, 18]",a share,a share a share
43,4039,16,Ellipsis,yes,She was the only woman in her unit and a membe...,She was the only woman employed as a warehouse...,"[3, 4]","[3, 4, 15, 16, 17]",the only woman,the only woman the only woman
47,4256,16,Ellipsis,yes,the fourth most common in men and the eighth m...,the fourth most common in men and the eighth i...,"[9, 18, 19]",[6],most common most common,most common
50,4474,16,Ellipsis,yes,"`` I have lots of bad dreams , I have flashbac...","`` I have lots of bad dreams , flashbacks and ...","[2, 8, 9, 12, 13]",[2],i have i have i have,i have
59,5127,16,Ellipsis,yes,will be consolidated and will be based,will be consolidated and based,"[9, 16, 17]",[11],will be will be,will be
63,5749,16,Ellipsis,yes,not because of who she is but what she did,not because of who she is but because of what ...,[7],"[8, 13, 14]",because of,because of because of

In [200]:
samie.loc[[23,28,43,63], 's1_scope'] = None
samie.loc[[47,50,59], 's2_scope'] = None
samie

,pair_id,type_id,type_name,sense_preserving,s1_text,s2_text,s1_scope,s2_scope,k1_text,k2_text
22,2643,16,Ellipsis,yes,"`` She was crying and scared , '","`` She was crying and she was really scared , ''",[2],"[2, 5, 6]",she was,she was she was
23,2772,16,Ellipsis,yes,sales of grocery and other consumer packaged p...,sales of grocery and other consumer packaged p...,None,"[4, 15, 16]",sales of,sales of sales of
28,3338,16,Ellipsis,yes,a profit of 30 cents a share and $ 1.31,a profit of 30 cents a share and $ 1.31 a shar...,None,"[9, 17, 18]",a share,a share a share
43,4039,16,Ellipsis,yes,She was the only woman in her unit and a membe...,She was the only woman employed as a warehouse...,None,"[3, 4, 15, 16, 17]",the only woman,the only woman the only woman
47,4256,16,Ellipsis,yes,the fourth most common in men and the eighth m...,the fourth most common in men and the eighth i...,"[9, 18, 19]",None,most common most common,most common
50,4474,16,Ellipsis,yes,"`` I have lots of bad dreams , I have flashbac...","`` I have lots of bad dreams , flashbacks and ...","[2, 8, 9, 12, 13]",None,i have i have i have,i have
59,5127,16,Ellipsis,yes,will be consolidated and will be based,will be consolidated and based,"[9, 16, 17]",None,will be will be,will be
63,5749,16,Ellipsis,yes,not because of who she is but what she did,not because of who she is but because of what ...,None,"[8, 13, 14]",because of,because of because of

In [201]:
samie.loc[[47,50,59], 's1_scope'].apply(lambda x: x.pop(0))
samie.loc[[23,28,63], 's2_scope'].apply(lambda x: x.pop(0))
samie

,pair_id,type_id,type_name,sense_preserving,s1_text,s2_text,s1_scope,s2_scope,k1_text,k2_text
22,2643,16,Ellipsis,yes,"`` She was crying and scared , '","`` She was crying and she was really scared , ''",[2],"[2, 5, 6]",she was,she was she was
23,2772,16,Ellipsis,yes,sales of grocery and other consumer packaged p...,sales of grocery and other consumer packaged p...,None,"[15, 16]",sales of,sales of sales of
28,3338,16,Ellipsis,yes,a profit of 30 cents a share and $ 1.31,a profit of 30 cents a share and $ 1.31 a shar...,None,"[17, 18]",a share,a share a share
43,4039,16,Ellipsis,yes,She was the only woman in her unit and a membe...,She was the only woman employed as a warehouse...,None,"[3, 4, 15, 16, 17]",the only woman,the only woman the only woman
47,4256,16,Ellipsis,yes,the fourth most common in men and the eighth m...,the fourth most common in men and the eighth i...,"[18, 19]",None,most common most common,most common
50,4474,16,Ellipsis,yes,"`` I have lots of bad dreams , I have flashbac...","`` I have lots of bad dreams , flashbacks and ...","[8, 9, 12, 13]",None,i have i have i have,i have
59,5127,16,Ellipsis,yes,will be consolidated and will be based,will be consolidated and based,"[16, 17]",None,will be will be,will be
63,5749,16,Ellipsis,yes,not because of who she is but what she did,not because of who she is but because of what ...,None,"[13, 14]",because of,because of because of

In [202]:
samie.at[50, 's1_scope'] = [8, 9, 12, 13]
samie.at[43, 's2_scope'] = [15,16,17]
samie

,pair_id,type_id,type_name,sense_preserving,s1_text,s2_text,s1_scope,s2_scope,k1_text,k2_text
22,2643,16,Ellipsis,yes,"`` She was crying and scared , '","`` She was crying and she was really scared , ''",[2],"[2, 5, 6]",she was,she was she was
23,2772,16,Ellipsis,yes,sales of grocery and other consumer packaged p...,sales of grocery and other consumer packaged p...,None,"[15, 16]",sales of,sales of sales of
28,3338,16,Ellipsis,yes,a profit of 30 cents a share and $ 1.31,a profit of 30 cents a share and $ 1.31 a shar...,None,"[17, 18]",a share,a share a share
43,4039,16,Ellipsis,yes,She was the only woman in her unit and a membe...,She was the only woman employed as a warehouse...,None,"[15, 16, 17]",the only woman,the only woman the only woman
47,4256,16,Ellipsis,yes,the fourth most common in men and the eighth m...,the fourth most common in men and the eighth i...,"[18, 19]",None,most common most common,most common
50,4474,16,Ellipsis,yes,"`` I have lots of bad dreams , I have flashbac...","`` I have lots of bad dreams , flashbacks and ...","[8, 9, 12, 13]",None,i have i have i have,i have
59,5127,16,Ellipsis,yes,will be consolidated and will be based,will be consolidated and based,"[16, 17]",None,will be will be,will be
63,5749,16,Ellipsis,yes,not because of who she is but what she did,not because of who she is but because of what ...,None,"[13, 14]",because of,because of because of

In [203]:
substitute(16, samie, 2)

In [204]:
ellip

,pair_id,type_id,type_name,sense_preserving,s1_text,s2_text,s1_scope,s2_scope,k1_text,k2_text
1,273,16,Ellipsis,yes,short-lived or long-lived,short- or long-lived,"[13, 15]",[14],short-lived long-lived,long-lived
2,336,16,Ellipsis,yes,"The company will launch 800 hot spots , or `` ...",The service will launch later this summer with...,"[0, 1]","[0, 1, 12]",the company,the service sprint
6,697,16,Ellipsis,yes,People who are high in positive emotions sleep...,"Happy people sleep better , have better diets ...","[1, 2, 3, 4, 5, 6, 7, 11, 16, 20]","[1, 2]",people who are high in positive emotions they ...,happy people
8,785,16,Ellipsis,yes,"Jacob has pushed consolidation for years , but...",Jacob has pushed consolidation for years but said,"[0, 8]",[0],jacob he,jacob
11,1458,16,Ellipsis,yes,the Fed will acknowledge risks are tilted towa...,the central bank will say risks are tilted tow...,"[10, 11, 18, 19]","[10, 11]",risks are they are,risks are
12,1500,16,Ellipsis,yes,immune systems suppressed by medications or by...,suppressed immune systems due to illness or me...,"[10, 13]","[10, 11]",by by,due to
13,1588,16,Ellipsis,yes,"He said it was a mistake , and he reimbursed t...",The governor said the use of the credit card w...,"[0, 8]","[0, 1]",he he,the governor
14,1598,16,Ellipsis,yes,some of the passengers,no passenger but some,[6],[4],passengers,passenger
15,1635,16,Ellipsis,yes,"11M , 22M , 33M , 44M and 55Mbit/sec","11 , 22 , 33 , 44 and 55Mbit/s","[18, 20, 22, 24]",[25],22m 33m 44m 55mbit/sec,55mbit/s
16,1830,16,Ellipsis,yes,someone strangled her and she may have been se...,Park appeared to have been strangled and may h...,"[4, 6]",[0],her she,park
21,2555,16,Ellipsis,yes,Mauresmo has the confidence of having beaten S...,She has the confidence of having beaten her fo...,[2],"[0, 13]",mauresmo,she she
27,2995,16,Ellipsis,yes,I would rather be talking about high standards...,I would rather be talking about positive numbe...,"[8, 11]",[8],standards standards,numbers
31,3384,16,Ellipsis,yes,"Our policies are well-known , and I 'm not awa...",`` Our policies are well known and I 'm not aw...,"[2, 15]",[2],policies policy,policies
32,3393,16,Ellipsis,yes,Close co-operation between our law enforcement...,Close cooperation between regional law enforce...,"[1, 2, 3, 9, 10, 11]","[0, 1, 2]",close co-operation between close co-operation ...,close cooperation between
33,3399,16,Ellipsis,yes,The high Saturday is expected to be about 92 d...,The high today will be about 92 degrees and wi...,"[0, 1, 12]","[0, 1]",the high it,the high
34,3439,16,Ellipsis,yes,spending on inpatient hospital care grew by 6....,spending on inpatient hospital care grew by 6....,"[8, 19]",[8],grew rose,grew
35,3521,16,Ellipsis,yes,allowing public displays of the Ten Commandmen...,allowing depictions of the Ten Commandments in...,"[13, 24]",[8],allowing banning,allowing
36,3572,16,Ellipsis,yes,engineers misjudged and they lamented,engineers underestimated and lamented,"[4, 17]",[4],engineers they,engineers
38,3691,16,Ellipsis,yes,The idea of a federal betting parlor on atroci...,the idea of a federal betting parlor on atroci...,"[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 15]","[7, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18]",the idea of a federal betting parlor on atroci...,the idea of a federal betting parlor on atroci...
39,3740,16,Ellipsis,yes,The two powerful men also disagree about ethan...,They also disagree over ethanol - sacred in Io...,[6],"[3, 11]",about,over on
40,3742,16,Ellipsis,yes,There were more people surrounding the clubhou...,There are more people surrounding the clubhous...,[5],"[5, 9]",surrounding,surrounding surrounded
51,4506,16,Ellipsis,yes,Closed sessions are routinely held but usually...,Closed sessions are routinely held but they ar...,"[0, 1, 2]","[0, 1, 2, 17, 18, 20]",closed sessions are,closed sessions are they are closed
54,4693,16,Ellipsis,yes,12-inch-by-18-inch,12-by-18-inch,[11],[9],12-inch-by-18-inch,12-by-18-inch
55,4920,16,Ellipsis,yes,in state court in U.S. District Court,to a higher state court U.S. District Court,"[12, 17]",[11],in in,to
56,4985,16,Ellipsis,yes,Dan Francisco said declined,Daniel Francisco said he declined,"[2, 3]","[2, 3, 19]",dan francisco,daniel francisco he
61,5384,16,Ellipsis,yes,12-by-18-inch,12-inch-by-18-inch,[9],[11],12-by-18-inch,12-inch-by-18-inch
65,5773,16,Ellipsis,yes,positive numbers than negative,high standards rather than low standards,[8],"[8, 12]",numbers,standards standards

In [205]:
ellip['s1_scope'], ellip['s2_scope'], ellip['k1_text'], ellip['k2_text'] = ellip.apply(lambda x: trim_duplicates(x.s1_scope, x.s2_scope, x.k1_text, x.k2_text), axis=1, result_type='expand').transpose().values
ellip

,pair_id,type_id,type_name,sense_preserving,s1_text,s2_text,s1_scope,s2_scope,k1_text,k2_text
1,273,16,Ellipsis,yes,short-lived or long-lived,short- or long-lived,[13],[],short-lived,
2,336,16,Ellipsis,yes,"The company will launch 800 hot spots , or `` ...",The service will launch later this summer with...,[1],"[1, 12]",company,service sprint
6,697,16,Ellipsis,yes,People who are high in positive emotions sleep...,"Happy people sleep better , have better diets ...","[2, 3, 4, 5, 6, 7, 11, 16, 20]",[1],who are high in positive emotions they they they,happy
8,785,16,Ellipsis,yes,"Jacob has pushed consolidation for years , but...",Jacob has pushed consolidation for years but said,[8],[],he,
11,1458,16,Ellipsis,yes,the Fed will acknowledge risks are tilted towa...,the central bank will say risks are tilted tow...,[18],[],they,
12,1500,16,Ellipsis,yes,immune systems suppressed by medications or by...,suppressed immune systems due to illness or me...,"[10, 13]","[10, 11]",by by,due to
13,1588,16,Ellipsis,yes,"He said it was a mistake , and he reimbursed t...",The governor said the use of the credit card w...,"[0, 8]","[0, 1]",he he,the governor
14,1598,16,Ellipsis,yes,some of the passengers,no passenger but some,[6],[4],passengers,passenger
15,1635,16,Ellipsis,yes,"11M , 22M , 33M , 44M and 55Mbit/sec","11 , 22 , 33 , 44 and 55Mbit/s","[18, 20, 22, 24]",[25],22m 33m 44m 55mbit/sec,55mbit/s
16,1830,16,Ellipsis,yes,someone strangled her and she may have been se...,Park appeared to have been strangled and may h...,"[4, 6]",[0],her she,park
21,2555,16,Ellipsis,yes,Mauresmo has the confidence of having beaten S...,She has the confidence of having beaten her fo...,[2],"[0, 13]",mauresmo,she she
27,2995,16,Ellipsis,yes,I would rather be talking about high standards...,I would rather be talking about positive numbe...,"[8, 11]",[8],standards standards,numbers
31,3384,16,Ellipsis,yes,"Our policies are well-known , and I 'm not awa...",`` Our policies are well known and I 'm not aw...,[15],[],policy,
32,3393,16,Ellipsis,yes,Close co-operation between our law enforcement...,Close cooperation between regional law enforce...,"[2, 10]",[1],co-operation co-operation,cooperation
33,3399,16,Ellipsis,yes,The high Saturday is expected to be about 92 d...,The high today will be about 92 degrees and wi...,[12],[],it,
34,3439,16,Ellipsis,yes,spending on inpatient hospital care grew by 6....,spending on inpatient hospital care grew by 6....,[19],[],rose,
35,3521,16,Ellipsis,yes,allowing public displays of the Ten Commandmen...,allowing depictions of the Ten Commandments in...,[24],[],banning,
36,3572,16,Ellipsis,yes,engineers misjudged and they lamented,engineers underestimated and lamented,[17],[],they,
38,3691,16,Ellipsis,yes,The idea of a federal betting parlor on atroci...,the idea of a federal betting parlor on atroci...,[15],[],it,
39,3740,16,Ellipsis,yes,The two powerful men also disagree about ethan...,They also disagree over ethanol - sacred in Io...,[6],"[3, 11]",about,over on
40,3742,16,Ellipsis,yes,There were more people surrounding the clubhou...,There are more people surrounding the clubhous...,[],[9],,surrounded
51,4506,16,Ellipsis,yes,Closed sessions are routinely held but usually...,Closed sessions are routinely held but they ar...,[],[17],,they
54,4693,16,Ellipsis,yes,12-inch-by-18-inch,12-by-18-inch,[11],[9],12-inch-by-18-inch,12-by-18-inch
55,4920,16,Ellipsis,yes,in state court in U.S. District Court,to a higher state court U.S. District Court,"[12, 17]",[11],in in,to
56,4985,16,Ellipsis,yes,Dan Francisco said declined,Daniel Francisco said he declined,[2],"[2, 19]",dan,daniel he
61,5384,16,Ellipsis,yes,12-by-18-inch,12-inch-by-18-inch,[9],[11],12-by-18-inch,12-inch-by-18-inch
65,5773,16,Ellipsis,yes,positive numbers than negative,high standards rather than low standards,[8],"[8, 12]",numbers,standards standards

In [206]:
ellip['k1_text'] = ellip['k1_text'].apply(lambda x: None if x == '' else x)
ellip['k2_text'] = ellip['k2_text'].apply(lambda x: None if x == '' else x)
ellip['s1_scope'] = ellip['s1_scope'].apply(lambda x: None if list(x) == [] else x)
ellip['s2_scope'] = ellip['s2_scope'].apply(lambda x: None if list(x) == [] else x)
ellip

,pair_id,type_id,type_name,sense_preserving,s1_text,s2_text,s1_scope,s2_scope,k1_text,k2_text
1,273,16,Ellipsis,yes,short-lived or long-lived,short- or long-lived,[13],None,short-lived,None
2,336,16,Ellipsis,yes,"The company will launch 800 hot spots , or `` ...",The service will launch later this summer with...,[1],"[1, 12]",company,service sprint
6,697,16,Ellipsis,yes,People who are high in positive emotions sleep...,"Happy people sleep better , have better diets ...","[2, 3, 4, 5, 6, 7, 11, 16, 20]",[1],who are high in positive emotions they they they,happy
8,785,16,Ellipsis,yes,"Jacob has pushed consolidation for years , but...",Jacob has pushed consolidation for years but said,[8],None,he,None
11,1458,16,Ellipsis,yes,the Fed will acknowledge risks are tilted towa...,the central bank will say risks are tilted tow...,[18],None,they,None
12,1500,16,Ellipsis,yes,immune systems suppressed by medications or by...,suppressed immune systems due to illness or me...,"[10, 13]","[10, 11]",by by,due to
13,1588,16,Ellipsis,yes,"He said it was a mistake , and he reimbursed t...",The governor said the use of the credit card w...,"[0, 8]","[0, 1]",he he,the governor
14,1598,16,Ellipsis,yes,some of the passengers,no passenger but some,[6],[4],passengers,passenger
15,1635,16,Ellipsis,yes,"11M , 22M , 33M , 44M and 55Mbit/sec","11 , 22 , 33 , 44 and 55Mbit/s","[18, 20, 22, 24]",[25],22m 33m 44m 55mbit/sec,55mbit/s
16,1830,16,Ellipsis,yes,someone strangled her and she may have been se...,Park appeared to have been strangled and may h...,"[4, 6]",[0],her she,park
21,2555,16,Ellipsis,yes,Mauresmo has the confidence of having beaten S...,She has the confidence of having beaten her fo...,[2],"[0, 13]",mauresmo,she she
27,2995,16,Ellipsis,yes,I would rather be talking about high standards...,I would rather be talking about positive numbe...,"[8, 11]",[8],standards standards,numbers
31,3384,16,Ellipsis,yes,"Our policies are well-known , and I 'm not awa...",`` Our policies are well known and I 'm not aw...,[15],None,policy,None
32,3393,16,Ellipsis,yes,Close co-operation between our law enforcement...,Close cooperation between regional law enforce...,"[2, 10]",[1],co-operation co-operation,cooperation
33,3399,16,Ellipsis,yes,The high Saturday is expected to be about 92 d...,The high today will be about 92 degrees and wi...,[12],None,it,None
34,3439,16,Ellipsis,yes,spending on inpatient hospital care grew by 6....,spending on inpatient hospital care grew by 6....,[19],None,rose,None
35,3521,16,Ellipsis,yes,allowing public displays of the Ten Commandmen...,allowing depictions of the Ten Commandments in...,[24],None,banning,None
36,3572,16,Ellipsis,yes,engineers misjudged and they lamented,engineers underestimated and lamented,[17],None,they,None
38,3691,16,Ellipsis,yes,The idea of a federal betting parlor on atroci...,the idea of a federal betting parlor on atroci...,[15],None,it,None
39,3740,16,Ellipsis,yes,The two powerful men also disagree about ethan...,They also disagree over ethanol - sacred in Io...,[6],"[3, 11]",about,over on
40,3742,16,Ellipsis,yes,There were more people surrounding the clubhou...,There are more people surrounding the clubhous...,None,[9],None,surrounded
51,4506,16,Ellipsis,yes,Closed sessions are routinely held but usually...,Closed sessions are routinely held but they ar...,None,[17],None,they
54,4693,16,Ellipsis,yes,12-inch-by-18-inch,12-by-18-inch,[11],[9],12-inch-by-18-inch,12-by-18-inch
55,4920,16,Ellipsis,yes,in state court in U.S. District Court,to a higher state court U.S. District Court,"[12, 17]",[11],in in,to
56,4985,16,Ellipsis,yes,Dan Francisco said declined,Daniel Francisco said he declined,[2],"[2, 19]",dan,daniel he
61,5384,16,Ellipsis,yes,12-by-18-inch,12-inch-by-18-inch,[9],[11],12-by-18-inch,12-inch-by-18-inch
65,5773,16,Ellipsis,yes,positive numbers than negative,high standards rather than low standards,[8],"[8, 12]",numbers,standards standards

In [207]:
ellip.at[2, 's1_scope'], ellip.at[2, 's2_scope'] = None, [12]
ellip.at[6, 's1_scope'], ellip.at[6, 's2_scope'] = [11,16,20], None
ellip.at[12, 's1_scope'], ellip.at[12, 's2_scope'] = [13], None
ellip.at[13, 's1_scope'], ellip.at[13, 's2_scope'] = [8], None
ellip.at[15, 's1_scope'], ellip.at[15, 's2_scope'] = [18,20,22,24], None
ellip.at[16, 's1_scope'], ellip.at[16, 's2_scope'] = [6], None
ellip.at[21, 's1_scope'], ellip.at[21, 's2_scope'] = None, [13]
ellip.at[27, 's1_scope'], ellip.at[27, 's2_scope'] = [11], None
ellip.at[32, 's1_scope'], ellip.at[32, 's2_scope'] = [10], None
ellip.at[39, 's1_scope'], ellip.at[39, 's2_scope'] = None, [11]
ellip.at[55, 's1_scope'], ellip.at[55, 's2_scope'] = [17], None
ellip.at[56, 's1_scope'], ellip.at[56, 's2_scope'] = None, [19]
ellip.at[65, 's1_scope'], ellip.at[65, 's2_scope'] = None, [12]
ellip

,pair_id,type_id,type_name,sense_preserving,s1_text,s2_text,s1_scope,s2_scope,k1_text,k2_text
1,273,16,Ellipsis,yes,short-lived or long-lived,short- or long-lived,[13],None,short-lived,None
2,336,16,Ellipsis,yes,"The company will launch 800 hot spots , or `` ...",The service will launch later this summer with...,None,[12],company,service sprint
6,697,16,Ellipsis,yes,People who are high in positive emotions sleep...,"Happy people sleep better , have better diets ...","[11, 16, 20]",None,who are high in positive emotions they they they,happy
8,785,16,Ellipsis,yes,"Jacob has pushed consolidation for years , but...",Jacob has pushed consolidation for years but said,[8],None,he,None
11,1458,16,Ellipsis,yes,the Fed will acknowledge risks are tilted towa...,the central bank will say risks are tilted tow...,[18],None,they,None
12,1500,16,Ellipsis,yes,immune systems suppressed by medications or by...,suppressed immune systems due to illness or me...,[13],None,by by,due to
13,1588,16,Ellipsis,yes,"He said it was a mistake , and he reimbursed t...",The governor said the use of the credit card w...,[8],None,he he,the governor
14,1598,16,Ellipsis,yes,some of the passengers,no passenger but some,[6],[4],passengers,passenger
15,1635,16,Ellipsis,yes,"11M , 22M , 33M , 44M and 55Mbit/sec","11 , 22 , 33 , 44 and 55Mbit/s","[18, 20, 22, 24]",None,22m 33m 44m 55mbit/sec,55mbit/s
16,1830,16,Ellipsis,yes,someone strangled her and she may have been se...,Park appeared to have been strangled and may h...,[6],None,her she,park
21,2555,16,Ellipsis,yes,Mauresmo has the confidence of having beaten S...,She has the confidence of having beaten her fo...,None,[13],mauresmo,she she
27,2995,16,Ellipsis,yes,I would rather be talking about high standards...,I would rather be talking about positive numbe...,[11],None,standards standards,numbers
31,3384,16,Ellipsis,yes,"Our policies are well-known , and I 'm not awa...",`` Our policies are well known and I 'm not aw...,[15],None,policy,None
32,3393,16,Ellipsis,yes,Close co-operation between our law enforcement...,Close cooperation between regional law enforce...,[10],None,co-operation co-operation,cooperation
33,3399,16,Ellipsis,yes,The high Saturday is expected to be about 92 d...,The high today will be about 92 degrees and wi...,[12],None,it,None
34,3439,16,Ellipsis,yes,spending on inpatient hospital care grew by 6....,spending on inpatient hospital care grew by 6....,[19],None,rose,None
35,3521,16,Ellipsis,yes,allowing public displays of the Ten Commandmen...,allowing depictions of the Ten Commandments in...,[24],None,banning,None
36,3572,16,Ellipsis,yes,engineers misjudged and they lamented,engineers underestimated and lamented,[17],None,they,None
38,3691,16,Ellipsis,yes,The idea of a federal betting parlor on atroci...,the idea of a federal betting parlor on atroci...,[15],None,it,None
39,3740,16,Ellipsis,yes,The two powerful men also disagree about ethan...,They also disagree over ethanol - sacred in Io...,None,[11],about,over on
40,3742,16,Ellipsis,yes,There were more people surrounding the clubhou...,There are more people surrounding the clubhous...,None,[9],None,surrounded
51,4506,16,Ellipsis,yes,Closed sessions are routinely held but usually...,Closed sessions are routinely held but they ar...,None,[17],None,they
54,4693,16,Ellipsis,yes,12-inch-by-18-inch,12-by-18-inch,[11],[9],12-inch-by-18-inch,12-by-18-inch
55,4920,16,Ellipsis,yes,in state court in U.S. District Court,to a higher state court U.S. District Court,[17],None,in in,to
56,4985,16,Ellipsis,yes,Dan Francisco said declined,Daniel Francisco said he declined,None,[19],dan,daniel he
61,5384,16,Ellipsis,yes,12-by-18-inch,12-inch-by-18-inch,[9],[11],12-by-18-inch,12-inch-by-18-inch
65,5773,16,Ellipsis,yes,positive numbers than negative,high standards rather than low standards,None,[12],numbers,standards standards

In [208]:
ellip_none = ellip[(ellip['s1_scope'].isnull()) | (ellip['s2_scope'].isnull())]
ellip_none

,pair_id,type_id,type_name,sense_preserving,s1_text,s2_text,s1_scope,s2_scope,k1_text,k2_text
1,273,16,Ellipsis,yes,short-lived or long-lived,short- or long-lived,[13],None,short-lived,None
2,336,16,Ellipsis,yes,"The company will launch 800 hot spots , or `` ...",The service will launch later this summer with...,None,[12],company,service sprint
6,697,16,Ellipsis,yes,People who are high in positive emotions sleep...,"Happy people sleep better , have better diets ...","[11, 16, 20]",None,who are high in positive emotions they they they,happy
8,785,16,Ellipsis,yes,"Jacob has pushed consolidation for years , but...",Jacob has pushed consolidation for years but said,[8],None,he,None
11,1458,16,Ellipsis,yes,the Fed will acknowledge risks are tilted towa...,the central bank will say risks are tilted tow...,[18],None,they,None
12,1500,16,Ellipsis,yes,immune systems suppressed by medications or by...,suppressed immune systems due to illness or me...,[13],None,by by,due to
13,1588,16,Ellipsis,yes,"He said it was a mistake , and he reimbursed t...",The governor said the use of the credit card w...,[8],None,he he,the governor
15,1635,16,Ellipsis,yes,"11M , 22M , 33M , 44M and 55Mbit/sec","11 , 22 , 33 , 44 and 55Mbit/s","[18, 20, 22, 24]",None,22m 33m 44m 55mbit/sec,55mbit/s
16,1830,16,Ellipsis,yes,someone strangled her and she may have been se...,Park appeared to have been strangled and may h...,[6],None,her she,park
21,2555,16,Ellipsis,yes,Mauresmo has the confidence of having beaten S...,She has the confidence of having beaten her fo...,None,[13],mauresmo,she she
27,2995,16,Ellipsis,yes,I would rather be talking about high standards...,I would rather be talking about positive numbe...,[11],None,standards standards,numbers
31,3384,16,Ellipsis,yes,"Our policies are well-known , and I 'm not awa...",`` Our policies are well known and I 'm not aw...,[15],None,policy,None
32,3393,16,Ellipsis,yes,Close co-operation between our law enforcement...,Close cooperation between regional law enforce...,[10],None,co-operation co-operation,cooperation
33,3399,16,Ellipsis,yes,The high Saturday is expected to be about 92 d...,The high today will be about 92 degrees and wi...,[12],None,it,None
34,3439,16,Ellipsis,yes,spending on inpatient hospital care grew by 6....,spending on inpatient hospital care grew by 6....,[19],None,rose,None
35,3521,16,Ellipsis,yes,allowing public displays of the Ten Commandmen...,allowing depictions of the Ten Commandments in...,[24],None,banning,None
36,3572,16,Ellipsis,yes,engineers misjudged and they lamented,engineers underestimated and lamented,[17],None,they,None
38,3691,16,Ellipsis,yes,The idea of a federal betting parlor on atroci...,the idea of a federal betting parlor on atroci...,[15],None,it,None
39,3740,16,Ellipsis,yes,The two powerful men also disagree about ethan...,They also disagree over ethanol - sacred in Io...,None,[11],about,over on
40,3742,16,Ellipsis,yes,There were more people surrounding the clubhou...,There are more people surrounding the clubhous...,None,[9],None,surrounded
51,4506,16,Ellipsis,yes,Closed sessions are routinely held but usually...,Closed sessions are routinely held but they ar...,None,[17],None,they
55,4920,16,Ellipsis,yes,in state court in U.S. District Court,to a higher state court U.S. District Court,[17],None,in in,to
56,4985,16,Ellipsis,yes,Dan Francisco said declined,Daniel Francisco said he declined,None,[19],dan,daniel he
65,5773,16,Ellipsis,yes,positive numbers than negative,high standards rather than low standards,None,[12],numbers,standards standards

In [209]:
substitute(16, ellip_none, 2, False)

### Addition/Deletion

In [210]:
substitute(25, textual_paraphrases[textual_paraphrases['type_id'] == 25], 2)

Double check type overwriting: row 37, sentence 2
Common indices: [12] | Pre-existing types: ['3_0']
Double check type overwriting: row 37, sentence 2
Common indices: [14, 15] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 53, sentence 1
Common indices: [12] | Pre-existing types: ['5_0']
Double check type overwriting: row 76, sentence 2
Common indices: [22, 23, 24] | Pre-existing types: ['3_0' '3_0' '3_0']
Double check type overwriting: row 124, sentence 2
Common indices: [2] | Pre-existing types: ['3_0']
Double check type overwriting: row 172, sentence 2
Common indices: [16] | Pre-existing types: ['3_0']
Double check type overwriting: row 174, sentence 2
Common indices: [0] | Pre-existing types: ['5_1']
Double check type overwriting: row 203, sentence 2
Common indices: [2] | Pre-existing types: ['7_0']
Double check type overwriting: row 213, sentence 2
Common indices: [2, 3, 4] | Pre-existing types: ['5_0' '5_0' '5_0']
Double check type overwriting: row 217, sentence 1
Common indices: [7, 8] | Pre-existing types: ['5_1' '5_1']
Double check type overwriting: row 246, sentence 2
Common indices: [4, 5, 6] | Pre-existing types: ['3_0' '3_0' '3_0']
Double check type overwriting: row 276, sentence 2
Common indices: [2] | Pre-existing types: ['3_0']
Double check type overwriting: row 304, sentence 1
Common indices: [10, 11] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 304, sentence 1
Common indices: [3, 4, 5] | Pre-existing types: ['3_0' '3_0' '3_0']
Double check type overwriting: row 319, sentence 1
Common indices: [2, 3, 4, 5, 6, 7, 8] | Pre-existing types: ['3_0' '3_0' '3_0' '3_0' '3_0' '3_0' '3_0']
Double check type overwriting: row 339, sentence 1
Common indices: [6] | Pre-existing types: ['3_0']
Double check type overwriting: row 354, sentence 1
Common indices: [0] | Pre-existing types: ['3_0 & 5_0']
Double check type overwriting: row 383, sentence 1
Common indices: [20, 21] | Pre-existing types: ['5_0' '5_0']
Double check type overwriting: row 470, sentence 2
Common indices: [18, 19, 20] | Pre-existing types: ['3_0' '3_0' '3_0']
Double check type overwriting: row 473, sentence 1
Common indices: [5] | Pre-existing types: ['3_0']
Double check type overwriting: row 563, sentence 1
Common indices: [10, 11, 12] | Pre-existing types: ['5_0' '5_0' '5_0']
Double check type overwriting: row 576, sentence 1
Common indices: [5] | Pre-existing types: ['5_0']
Double check type overwriting: row 594, sentence 2
Common indices: [10] | Pre-existing types: ['5_0']
Double check type overwriting: row 637, sentence 1
Common indices: [27] | Pre-existing types: ['5_0']
Double check type overwriting: row 703, sentence 1
Common indices: [11] | Pre-existing types: ['5_1']
Double check type overwriting: row 881, sentence 1
Common indices: [2] | Pre-existing types: ['3_0']
Double check type overwriting: row 896, sentence 2
Common indices: [4] | Pre-existing types: ['3_0']
Double check type overwriting: row 896, sentence 2
Common indices: [20, 21, 22] | Pre-existing types: ['3_0' '3_0' '3_0']
Double check type overwriting: row 945, sentence 1
Common indices: [3] | Pre-existing types: ['5_0']
Double check type overwriting: row 1015, sentence 2
Common indices: [13] | Pre-existing types: ['5_0']
Double check type overwriting: row 1034, sentence 1
Common indices: [0] | Pre-existing types: ['5_0']
Double check type overwriting: row 1162, sentence 2
Common indices: [17, 18, 19] | Pre-existing types: ['5_0' '5_0' '5_0']
Double check type overwriting: row 1255, sentence 2
Common indices: [2] | Pre-existing types: ['3_0']
Double check type overwriting: row 1283, sentence 2
Common indices: [21, 22, 23, 24] | Pre-existing types: ['5_1' '5_1' '5_1' '5_1']
Double check type overwriting: row 1302, sentence 2
Common indices: [10, 11, 12, 13, 14, 15, 16, 17] | Pre-existing types: ['3_0' '3_0' '3_0' '3_0' '3_0' '3_0' '3_0' '3_0']

Double check type overwriting: row 1316, sentence 1
Common indices: [24] | Pre-existing types: ['2_1']
Double check type overwriting: row 1376, sentence 2
Common indices: [2, 3, 4, 5, 6, 7, 8] | Pre-existing types: ['5_0' '5_0' '5_0' '5_0' '5_0' '5_0' '5_0']
Double check type overwriting: row 1396, sentence 2
Common indices: [4] | Pre-existing types: ['5_0']
Double check type overwriting: row 1412, sentence 1
Common indices: [10] | Pre-existing types: ['3_0']
Double check type overwriting: row 1484, sentence 1
Common indices: [4] | Pre-existing types: ['3_0']
Double check type overwriting: row 1484, sentence 2
Common indices: [6] | Pre-existing types: ['3_0']
Double check type overwriting: row 1484, sentence 2
Common indices: [8, 9, 10] | Pre-existing types: ['3_0' '3_0' '3_0']
Double check type overwriting: row 1494, sentence 2
Common indices: [11] | Pre-existing types: ['3_0']
Double check type overwriting: row 1596, sentence 2
Common indices: [17] | Pre-existing types: ['3_0']
Double check type overwriting: row 1616, sentence 2
Common indices: [6] | Pre-existing types: ['3_0']
Double check type overwriting: row 1622, sentence 1
Common indices: [18, 19, 20] | Pre-existing types: ['5_0' '5_0' '5_0']
Double check type overwriting: row 1694, sentence 1
Common indices: [25, 26, 27] | Pre-existing types: ['2_0' '2_0' '2_0']
Double check type overwriting: row 1829, sentence 2
Common indices: [1, 2] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 1957, sentence 2
Common indices: [12, 13] | Pre-existing types: ['5_1' '5_1']
Double check type overwriting: row 1969, sentence 1
Common indices: [4, 5, 6] | Pre-existing types: ['3_0' '3_0' '3_0']
Double check type overwriting: row 1991, sentence 1
Common indices: [18, 19, 20] | Pre-existing types: ['2_0' '2_0' '2_0']
Double check type overwriting: row 2008, sentence 2
Common indices: [7, 8, 9] | Pre-existing types: ['3_0' '3_0' '3_0']
Double check type overwriting: row 2010, sentence 2
Common indices: [9] | Pre-existing types: ['3_0']
Double check type overwriting: row 2084, sentence 2
Common indices: [9] | Pre-existing types: ['4_0']
Double check type overwriting: row 2199, sentence 2
Common indices: [0] | Pre-existing types: ['5_0']
Double check type overwriting: row 2199, sentence 2
Common indices: [0] | Pre-existing types: ['5_0 & 2_0']
Double check type overwriting: row 2214, sentence 2
Common indices: [20, 21] | Pre-existing types: ['5_1' '5_1']
Double check type overwriting: row 2307, sentence 1
Common indices: [6] | Pre-existing types: ['5_0']
Double check type overwriting: row 2336, sentence 2
Common indices: [9] | Pre-existing types: ['3_0']
Double check type overwriting: row 2336, sentence 2
Common indices: [16] | Pre-existing types: ['3_0']
Double check type overwriting: row 2336, sentence 2
Common indices: [19] | Pre-existing types: ['3_0']
Double check type overwriting: row 2426, sentence 1
Common indices: [14] | Pre-existing types: ['2_0']
Double check type overwriting: row 2426, sentence 1
Common indices: [15] | Pre-existing types: ['2_0']
Double check type overwriting: row 2478, sentence 1
Common indices: [7] | Pre-existing types: ['5_0']
Double check type overwriting: row 2549, sentence 2
Common indices: [7] | Pre-existing types: ['2_0']
Double check type overwriting: row 2658, sentence 1
Common indices: [13] | Pre-existing types: ['5_0']
Double check type overwriting: row 2658, sentence 1
Common indices: [19] | Pre-existing types: ['5_0']
Double check type overwriting: row 2711, sentence 1
Common indices: [5, 6, 7, 8] | Pre-existing types: ['8_0' '8_0' '8_0' '8_0']
Double check type overwriting: row 2711, sentence 1
Common indices: [14] | Pre-existing types: ['8_0']
Double check type overwriting: row 2722, sentence 2
Common indices: [6] | Pre-existing types: ['5_0']
Double check type overwriting: row 2799, sentence 2
Common indices: [14] | Pre-existing types: ['3_0']
Double check type overwriting: row 2866, sentence 1
Common indices: [24, 25, 26, 27] | Pre-existing types: ['3_0' '3_0' '3_0' '3_0']
Double check type overwriting: row 2879, sentence 1
Common indices: [10, 11, 12] | Pre-existing types: ['3_0' '3_0' '3_0']
Double check type overwriting: row 2879, sentence 1
Common indices: [19, 20] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 2940, sentence 1
Common indices: [9] | Pre-existing types: ['4_0']
Double check type overwriting: row 2991, sentence 2
Common indices: [24] | Pre-existing types: ['5_0']
Double check type overwriting: row 3012, sentence 1
Common indices: [16] | Pre-existing types: ['8_0']
Double check type overwriting: row 3036, sentence 2
Common indices: [2, 3, 4] | Pre-existing types: ['2_0' '2_0' '2_0']
Double check type overwriting: row 3061, sentence 2
Common indices: [0] | Pre-existing types: ['5_0']
Double check type overwriting: row 3061, sentence 2
Common indices: [1] | Pre-existing types: ['5_0']
Double check type overwriting: row 3061, sentence 2
Common indices: [2] | Pre-existing types: ['5_0']
Double check type overwriting: row 3148, sentence 1
Common indices: [15, 16, 17] | Pre-existing types: ['3_0' '3_0' '3_0']
Double check type overwriting: row 3180, sentence 2
Common indices: [24] | Pre-existing types: ['3_0']
Double check type overwriting: row 3186, sentence 2
Common indices: [26] | Pre-existing types: ['5_1']
Double check type overwriting: row 3211, sentence 1
Common indices: [19, 20] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 3280, sentence 2
Common indices: [1] | Pre-existing types: ['5_0']
Double check type overwriting: row 3287, sentence 2
Common indices: [9] | Pre-existing types: ['5_0']
Double check type overwriting: row 3328, sentence 1
Common indices: [6] | Pre-existing types: ['5_0']
Double check type overwriting: row 3349, sentence 2
Common indices: [14] | Pre-existing types: ['5_0']
Double check type overwriting: row 3540, sentence 1
Common indices: [17] | Pre-existing types: ['3_0']
Double check type overwriting: row 3563, sentence 1
Common indices: [21] | Pre-existing types: ['5_1']
Double check type overwriting: row 3588, sentence 1
Common indices: [14] | Pre-existing types: ['5_0']
Double check type overwriting: row 3624, sentence 1
Common indices: [4] | Pre-existing types: ['3_0']
Double check type overwriting: row 3665, sentence 2
Common indices: [5] | Pre-existing types: ['3_0']
Double check type overwriting: row 3665, sentence 1
Common indices: [11] | Pre-existing types: ['3_0']
Double check type overwriting: row 3665, sentence 2
Common indices: [14] | Pre-existing types: ['3_0']
Double check type overwriting: row 3753, sentence 2
Common indices: [4, 5] | Pre-existing types: ['6_0' '6_0']
Double check type overwriting: row 3782, sentence 2
Common indices: [4, 5, 6] | Pre-existing types: ['5_0' '5_0' '5_0']
Double check type overwriting: row 3850, sentence 1
Common indices: [6] | Pre-existing types: ['3_0']
Double check type overwriting: row 3862, sentence 2
Common indices: [3] | Pre-existing types: ['5_0']
Double check type overwriting: row 3862, sentence 1
Common indices: [2, 3] | Pre-existing types: ['5_0' '5_0']
Double check type overwriting: row 3880, sentence 2
Common indices: [16, 17] | Pre-existing types: ['5_1' '5_1']
Double check type overwriting: row 3902, sentence 2
Common indices: [18] | Pre-existing types: ['5_0']
Double check type overwriting: row 3918, sentence 1
Common indices: [22] | Pre-existing types: ['3_1']
Double check type overwriting: row 3940, sentence 2
Common indices: [9, 10, 11, 12, 13, 14] | Pre-existing types: ['5_1' '5_1' '5_1' '5_1' '5_1' '5_1']
Double check type overwriting: row 3991, sentence 1
Common indices: [1] | Pre-existing types: ['2_0']
Double check type overwriting: row 4009, sentence 1
Common indices: [15] | Pre-existing types: ['4_0']
Double check type overwriting: row 4028, sentence 2
Common indices: [8] | Pre-existing types: ['3_0']
Double check type overwriting: row 4061, sentence 2
Common indices: [16, 17] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 4094, sentence 1
Common indices: [24, 25, 26] | Pre-existing types: ['3_0' '3_0' '3_0']
Double check type overwriting: row 4135, sentence 1
Common indices: [7, 8] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 4179, sentence 1
Common indices: [1] | Pre-existing types: ['5_0']
Double check type overwriting: row 4247, sentence 1
Common indices: [12, 13, 14] | Pre-existing types: ['5_0' '5_0' '5_0']
Double check type overwriting: row 4288, sentence 1
Common indices: [8] | Pre-existing types: ['3_0']
Double check type overwriting: row 4374, sentence 2
Common indices: [2] | Pre-existing types: ['3_0']
Double check type overwriting: row 4374, sentence 1
Common indices: [4] | Pre-existing types: ['3_0']
Double check type overwriting: row 4374, sentence 1
Common indices: [14, 15] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 4376, sentence 2
Common indices: [26, 27] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 4376, sentence 2
Common indices: [29] | Pre-existing types: ['3_0']
Double check type overwriting: row 4400, sentence 1
Common indices: [11, 12, 13] | Pre-existing types: ['5_1' '5_1' '5_1']
Double check type overwriting: row 4417, sentence 1
Common indices: [20] | Pre-existing types: ['3_0']
Double check type overwriting: row 4417, sentence 1
Common indices: [23] | Pre-existing types: ['3_0']
Double check type overwriting: row 4417, sentence 1
Common indices: [8, 9] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 4447, sentence 2
Common indices: [26] | Pre-existing types: ['5_0']
Double check type overwriting: row 4477, sentence 2
Common indices: [3] | Pre-existing types: ['2_0']
Double check type overwriting: row 4499, sentence 2
Common indices: [1] | Pre-existing types: ['3_0']
Double check type overwriting: row 4514, sentence 2
Common indices: [16] | Pre-existing types: ['3_0']
Double check type overwriting: row 4656, sentence 2
Common indices: [22] | Pre-existing types: ['5_0']
Double check type overwriting: row 4680, sentence 2
Common indices: [8] | Pre-existing types: ['5_1']
Double check type overwriting: row 4721, sentence 2
Common indices: [11, 12] | Pre-existing types: ['2_2' '2_2']
Double check type overwriting: row 4816, sentence 1
Common indices: [16, 17, 18, 19] | Pre-existing types: ['3_0' '3_0' '3_0' '3_0']
Double check type overwriting: row 4816, sentence 2
Common indices: [14, 15, 16, 17, 18, 19, 20] | Pre-existing types: ['3_0' '3_0' '3_0' '3_0' '3_0' '3_0' '3_0']
Double check type overwriting: row 4849, sentence 1
Common indices: [4] | Pre-existing types: ['5_1']
Double check type overwriting: row 4867, sentence 2
Common indices: [4] | Pre-existing types: ['2_0']
Double check type overwriting: row 4925, sentence 2
Common indices: [3] | Pre-existing types: ['5_1']
Double check type overwriting: row 4945, sentence 2
Common indices: [7] | Pre-existing types: ['3_0']
Double check type overwriting: row 4975, sentence 1
Common indices: [22, 23, 24, 25, 26, 27] | Pre-existing types: ['3_0' '3_0' '3_0' '3_0' '3_0' '3_0']
Double check type overwriting: row 4977, sentence 1
Common indices: [20] | Pre-existing types: ['3_1']
Double check type overwriting: row 4977, sentence 2
Common indices: [4] | Pre-existing types: ['3_1']
Double check type overwriting: row 5004, sentence 2
Common indices: [4, 5] | Pre-existing types: ['2_1' '2_1']
Double check type overwriting: row 5016, sentence 2
Common indices: [1] | Pre-existing types: ['3_0']
Double check type overwriting: row 5174, sentence 1
Common indices: [13] | Pre-existing types: ['5_0']
Double check type overwriting: row 5184, sentence 1
Common indices: [5, 6] | Pre-existing types: ['5_0' '5_0']
Double check type overwriting: row 5190, sentence 1
Common indices: [25] | Pre-existing types: ['3_0']
Double check type overwriting: row 5204, sentence 1
Common indices: [7] | Pre-existing types: ['5_0']
Double check type overwriting: row 5249, sentence 2
Common indices: [1] | Pre-existing types: ['5_0']
Double check type overwriting: row 5263, sentence 2
Common indices: [3, 4, 5, 6] | Pre-existing types: ['3_0' '3_0' '3_0' '3_0']
Double check type overwriting: row 5276, sentence 2
Common indices: [3] | Pre-existing types: ['4_1']
Double check type overwriting: row 5337, sentence 1
Common indices: [5, 6] | Pre-existing types: ['3_0' '3_0']
Double check type overwriting: row 5339, sentence 2
Common indices: [8, 9, 10] | Pre-existing types: ['3_0' '3_0' '3_0']
Double check type overwriting: row 5441, sentence 1
Common indices: [5] | Pre-existing types: ['4_0']
Double check type overwriting: row 5441, sentence 2
Common indices: [1] | Pre-existing types: ['4_0']
Double check type overwriting: row 5455, sentence 1
Common indices: [5] | Pre-existing types: ['3_0']
Double check type overwriting: row 5455, sentence 2
Common indices: [9] | Pre-existing types: ['3_0']
Double check type overwriting: row 5460, sentence 2
Common indices: [3] | Pre-existing types: ['5_0']
Double check type overwriting: row 5478, sentence 1
Common indices: [14, 15, 16, 17, 18] | Pre-existing types: ['5_0' '5_0' '5_0' '5_0' '5_0']
Double check type overwriting: row 5507, sentence 1
Common indices: [11] | Pre-existing types: ['3_0']
Double check type overwriting: row 5536, sentence 2
Common indices: [28, 29, 30] | Pre-existing types: ['3_0' '3_0' '3_0']
Double check type overwriting: row 5680, sentence 1
Common indices: [18] | Pre-existing types: ['5_2']
Double check type overwriting: row 5731, sentence 1
Common indices: [1] | Pre-existing types: ['5_0']

## Adding zeroes

In [211]:
test = positives['sentence1_scope'][0]
np.where(test == '')

(array([ 4,  6,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18]),)

In [212]:
test

array(['3_0', '3_0', '3_0', '3_0', '', '4_0', '', '4_1', '', '', '', '',
       '', '', '', '', '', '', ''], dtype='<U64')

In [213]:
def fill_zeroes(arr):
    """Fill '0_0' in place of empty strings in a given array"""
    arr[np.where(arr == '')] = '0_0'

In [214]:
fill_zeroes(test)
test

array(['3_0', '3_0', '3_0', '3_0', '0_0', '4_0', '0_0', '4_1', '0_0',
       '0_0', '0_0', '0_0', '0_0', '0_0', '0_0', '0_0', '0_0', '0_0',
       '0_0'], dtype='<U64')

In [215]:
positives['sentence1_scope'].apply(fill_zeroes)
positives['sentence2_scope'].apply(fill_zeroes)
positives

,idx,sentence1,sentence2,sentence1_tokenized,sentence2_tokenized,etpc_label,mrpc_label,ept_names,ept_ids,sentence1_scope_etpc,sentence2_scope_etpc,sentence1_segment_text,sentence2_segment_text,sentence1_scope,sentence2_scope
0,0,"Amrozi accused his brother, whom he called ""th...","Referring to him as only ""the witness"", Amrozi...","[Amrozi, accused, his, brother, ,, whom, he, c...","[Referring, to, him, as, only, ``, the, witnes...",1,1,"[Same Polarity Substitution (habitual), Same P...","[5, 6, 26, 25, 29]","[26, 26, 26, 26, 0, 5, 0, 6, 25, 25, 25, 25, 2...","[6, 5, 5, 0, 25, 0, 0, 0, 0, 0, 26, 26, 26, 26...","[whom, called, Amrozi accused his brother, `` ...","[to him, Referring, Amrozi accused his brother...","[3_0, 3_0, 3_0, 3_0, 0_0, 4_0, 0_0, 4_1, 0_0, ...","[4_1, 4_0, 4_0, 0_0, 2_0, 0_0, 0_0, 0_0, 0_0, ..."
2,2,They had published an advertisement on the Int...,"On June 10, the ship's owners had published an...","[They, had, published, an, advertisement, on, ...","[On, June, 10, ,, the, ship, 's, owners, had, ...",1,1,"[Same Polarity Substitution (contextual), Same...","[6, 6, 26, 25, 29]","[6, 0, 0, 0, 0, 0, 0, 0, 26, 26, 26, 0, 0, 0, ...","[26, 26, 26, 26, 6, 6, 6, 6, 25, 25, 25, 25, 2...","[They, cargo, on June 10, , he added, had publ...","[the ship 's owners, explosives, On June 10 ,,...","[5_0, 0_0, 0_0, 0_0, 0_0, 0_0, 0_0, 0_0, 3_0, ...","[3_0, 3_0, 3_0, 3_0, 5_0, 5_0, 5_0, 5_0, 0_0, ..."
4,4,"The stock rose $2.11, or about 11 percent, to ...",PG&E Corp. shares jumped $1.63 or 8 percent to...,"[The, stock, rose, $, 2.11, ,, or, about, 11, ...","[PG, &, E, Corp., shares, jumped, $, 1.63, or,...",0,1,"[Same Polarity Substitution (contextual), Same...","[6, 5, 6, 11, 26, 25, 29, 30, 30, 30, 21]","[6, 6, 5, 29, 30, 0, 29, 25, 30, 29, 0, 6, 6, ...","[30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 30, 3...","[The stock, rose, to close at, Friday, Friday,...","[PG & E Corp. shares, jumped, to, on Friday, o...","[5_0, 5_0, 4_0, 0_0, 0_0, 8_0, 0_0, 2_0, 0_0, ...","[5_0, 5_0, 5_0, 5_0, 5_0, 4_0, 0_0, 0_0, 0_0, ..."
5,5,Revenue in the first quarter of the year dropp...,With the scandal hanging over Stewart's compan...,"[Revenue, in, the, first, quarter, of, the, ye...","[With, the, scandal, hanging, over, Stewart, '...",1,1,"[Synthetic/analytic substitution, Addition/Del...","[11, 25, 29]","[25, 11, 11, 11, 11, 11, 11, 11, 25, 25, 25, 2...","[25, 25, 25, 25, 25, 25, 25, 25, 25, 0, 11, 11...","[in the first quarter of the year, Revenue dro...","[the first quarter of the year, With the scand...","[0_0, 1_0, 0_0, 0_0, 0_0, 0_0, 0_0, 0_0, 0_0, ...","[2_0, 2_0, 2_0, 2_0, 2_0, 2_0, 2_0, 2_0, 2_0, ..."
7,7,The DVD-CCA then appealed to the state Supreme...,The DVD CCA appealed that decision to the U.S....,"[The, DVD-CCA, then, appealed, to, the, state,...","[The, DVD, CCA, appealed, that, decision, to, ...",1,1,"[Spelling changes, Same Polarity Substitution ...","[4, 5, 25, 25, 29]","[25, 4, 25, 25, 25, 25, 5, 25, 25, 25]","[25, 4, 4, 25, 25, 25, 25, 25, 5, 25, 25, 25]","[DVD-CCA, state, then, The appealed to the Sup...","[DVD CCA, U.S., that decision, The appealed to...","[0_0, 7_0, 2_0, 0_0, 0_0, 0_0, 4_0, 0_0, 0_0, ...","[0_0, 7_0, 7_0, 0_0, 2_1, 2_1, 0_0, 0_0, 4_0, ..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5792,5792,Gehring waived extradition Monday during a hea...,Gehring waived extradition Monday during a hea...,"[Gehring, waived, extradition, Monday, during,...","[Gehring, waived, extradition, Monday, during,...",1,1,"[Addition/Deletion, Identity, Punctuation chan...","[25, 29, 21, 6, 11, 14, 26, 25]","[21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 2...","[29, 29, 29, 29, 29, 29, 29, 26, 26, 26, 26, 2...","[authorities said, Gehring waived extradition ...",[Gehring waived extradition Monday during a he...,"[0_0, 0_0, 0_0, 0_0, 0_0, 0_0, 0_0, 0_0, 0_0, ...","[0_0, 0_0, 0_0, 0_0, 0_0, 0_0, 0_0, 2_1, 2_1, ..."
5793,5793,"""I am advised that certain allegations of crim...","""I am advised that certain allegations of crim...","[``, I, am, advised, that, certain, allegation...","[``, I, am, advised, that, certain, allegation...",1,1,"[Same Polarity Substitution (contextual), Chan...","[6, 26, 25, 29, 21]","[29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 2...","[29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 2...","[Silver, Silver, `` I am advised that certain ...","[the Silver statement, the Silver statement, ,...","[0_0, 0_0, 0_0, 0_0, 0_0, 0_0, 0_0, 0_0, 0_0, ...","[0_0, 0_0, 0_0, 0_0, 0_0, 0_0, 0_0, 0_0, 0_0, ..."
5795,5795,"The deal, approved by both companies' board of...",The acquisition has been approved by both comp...,"[The, deal, ,, approved, by, both, companies, ...","[The, acquisition, has, been, approved, by, bo...",0,1,"[Same Polarity Substitution (habitual), Same P...","[5, 5, 18, 29, 30]","[29, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 1...","[29, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 1...","[deal, be completed, The deal , approved by bo...","[acquisition, close, The acquisition has been ...","[0_0, 4_0, 2_0, 2_0, 2_0, 2_0, 2_0, 2_0, 2_0, ...","[0_0, 4_0, 0_0, 0_0, 0_0, 0_0, 0_0, 0_0, 0_0, ..."
5799,5799,"Last week the power station’s US owners, AES C...","The news comes after Drax's American owner, AE...","[Last, week, the, power, station’s, US, owners...","[The, news, comes, after, Drax, 's, American, ...",1,1,"[Spelling changes, Same Polarity Substitution ...","[4, 7, 6, 1, 26, 25, 25, 25, 29]","[26, 26, 0, 7, 7, 6, 1, 25, 25, 4, 25, 25, 25,...","[25, 25, 25, 25, 7, 0, 6, 1, 0, 0, 4, 25, 0, 2...","[Corp, power station’s, US, owners, Last week,...","[Corp., Drax, American, owner, last week, The ...","[3_0, 3_0, 0_0, 5_1, 5_1, 5_0, 6_0, 0_0, 0_0, ...","[2_0, 2_0, 2_0, 2_0, 5_1, 0_0, 5_0, 6_0, 0_0, ..."
5800,5800,Sobig.F spreads when unsuspecting computer use...,The virus spreads when unsuspecting computer u...,"[Sobig.F, spreads, when, unsuspecting, compute...","[The, virus, spreads, when, unsuspecting, comp...",1,1,"[Same Polarity Substitution (named ent.), Same...","[7, 6, 6, 11, 25, 29]","[7, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 11, 11...","[7, 7, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25,...","[Sobig.F, as, ,, such familiar, `` Re : That M...","[The virus, like, and, familiar, spreads when ...","[5_1, 0_0, 0_0, 0_0, 0_0, 0_0, 0_0, 0_0, 0_0, ...","[5_1, 5_1, 0_0, 0_0, 0_0, 0_0, 0_0, 0_0, 0_0, ..."

In [216]:
positives.drop(columns=['idx', 'etpc_label', 'mrpc_label', 'ept_names', 'ept_ids', 'sentence1_scope_etpc', 
                        'sentence2_scope_etpc', 'sentence1_segment_text', 'sentence2_segment_text'], inplace=True)
positives

/tmp/ipykernel_56784/2593213781.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  positives.drop(columns=['idx', 'etpc_label', 'mrpc_label', 'ept_names', 'ept_ids', 'sentence1_scope_etpc',

,sentence1,sentence2,sentence1_tokenized,sentence2_tokenized,sentence1_scope,sentence2_scope
0,"Amrozi accused his brother, whom he called ""th...","Referring to him as only ""the witness"", Amrozi...","[Amrozi, accused, his, brother, ,, whom, he, c...","[Referring, to, him, as, only, ``, the, witnes...","[3_0, 3_0, 3_0, 3_0, 0_0, 4_0, 0_0, 4_1, 0_0, ...","[4_1, 4_0, 4_0, 0_0, 2_0, 0_0, 0_0, 0_0, 0_0, ..."
2,They had published an advertisement on the Int...,"On June 10, the ship's owners had published an...","[They, had, published, an, advertisement, on, ...","[On, June, 10, ,, the, ship, 's, owners, had, ...","[5_0, 0_0, 0_0, 0_0, 0_0, 0_0, 0_0, 0_0, 3_0, ...","[3_0, 3_0, 3_0, 3_0, 5_0, 5_0, 5_0, 5_0, 0_0, ..."
4,"The stock rose $2.11, or about 11 percent, to ...",PG&E Corp. shares jumped $1.63 or 8 percent to...,"[The, stock, rose, $, 2.11, ,, or, about, 11, ...","[PG, &, E, Corp., shares, jumped, $, 1.63, or,...","[5_0, 5_0, 4_0, 0_0, 0_0, 8_0, 0_0, 2_0, 0_0, ...","[5_0, 5_0, 5_0, 5_0, 5_0, 4_0, 0_0, 0_0, 0_0, ..."
5,Revenue in the first quarter of the year dropp...,With the scandal hanging over Stewart's compan...,"[Revenue, in, the, first, quarter, of, the, ye...","[With, the, scandal, hanging, over, Stewart, '...","[0_0, 1_0, 0_0, 0_0, 0_0, 0_0, 0_0, 0_0, 0_0, ...","[2_0, 2_0, 2_0, 2_0, 2_0, 2_0, 2_0, 2_0, 2_0, ..."
7,The DVD-CCA then appealed to the state Supreme...,The DVD CCA appealed that decision to the U.S....,"[The, DVD-CCA, then, appealed, to, the, state,...","[The, DVD, CCA, appealed, that, decision, to, ...","[0_0, 7_0, 2_0, 0_0, 0_0, 0_0, 4_0, 0_0, 0_0, ...","[0_0, 7_0, 7_0, 0_0, 2_1, 2_1, 0_0, 0_0, 4_0, ..."
...,...,...,...,...,...,...
5792,Gehring waived extradition Monday during a hea...,Gehring waived extradition Monday during a hea...,"[Gehring, waived, extradition, Monday, during,...","[Gehring, waived, extradition, Monday, during,...","[0_0, 0_0, 0_0, 0_0, 0_0, 0_0, 0_0, 0_0, 0_0, ...","[0_0, 0_0, 0_0, 0_0, 0_0, 0_0, 0_0, 2_1, 2_1, ..."
5793,"""I am advised that certain allegations of crim...","""I am advised that certain allegations of crim...","[``, I, am, advised, that, certain, allegation...","[``, I, am, advised, that, certain, allegation...","[0_0, 0_0, 0_0, 0_0, 0_0, 0_0, 0_0, 0_0, 0_0, ...","[0_0, 0_0, 0_0, 0_0, 0_0, 0_0, 0_0, 0_0, 0_0, ..."
5795,"The deal, approved by both companies' board of...",The acquisition has been approved by both comp...,"[The, deal, ,, approved, by, both, companies, ...","[The, acquisition, has, been, approved, by, bo...","[0_0, 4_0, 2_0, 2_0, 2_0, 2_0, 2_0, 2_0, 2_0, ...","[0_0, 4_0, 0_0, 0_0, 0_0, 0_0, 0_0, 0_0, 0_0, ..."
5799,"Last week the power station’s US owners, AES C...","The news comes after Drax's American owner, AE...","[Last, week, the, power, station’s, US, owners...","[The, news, comes, after, Drax, 's, American, ...","[3_0, 3_0, 0_0, 5_1, 5_1, 5_0, 6_0, 0_0, 0_0, ...","[2_0, 2_0, 2_0, 2_0, 5_1, 0_0, 5_0, 6_0, 0_0, ..."
5800,Sobig.F spreads when unsuspecting computer use...,The virus spreads when unsuspecting computer u...,"[Sobig.F, spreads, when, unsuspecting, compute...","[The, virus, spreads, when, unsuspecting, comp...","[5_1, 0_0, 0_0, 0_0, 0_0, 0_0, 0_0, 0_0, 0_0, ...","[5_1, 5_1, 0_0, 0_0, 0_0, 0_0, 0_0, 0_0, 0_0, ..."

# Last bit of cleanup

In [217]:
def search(search_str, lookup_array):
    return any(f"{search_str}_" in element for element in lookup_array)

In [218]:
add_dels1 = positives[positives['sentence1_scope'].apply(lambda x: search('2', x))]
add_dels2 = positives[positives['sentence2_scope'].apply(lambda x: search('2', x))]

In [219]:
def get_mask(search_str, lookup_array):
    return np.where(np.char.find(lookup_array, f'{search_str}_') >= 0)

In [220]:
add_dels1 = add_dels1.loc[:,['sentence1_tokenized', 'sentence1_scope']]
add_dels2 = add_dels2.loc[:,['sentence2_tokenized', 'sentence2_scope']]

In [221]:
# List of function words
fwords = ['a', 'an', 'the',                                                     # Articles
          'and', 'but', 'for', 'or',                                            # Conjunctions
          'that', 'this', 'those', 'these',                                     # Demonstratives
          'at', 'by', 'from', 'in', 'into', 'of', 'on', 'out', 'to', 'with']    # Prepositions

## Add/Del - Sentence 1

In [222]:
# Find indices where there are Addition/Deletion labels
add_dels1['masks'] = add_dels1['sentence1_scope'].apply([lambda x: get_mask('2', x)[0]])
# Get words and labels at these indices
add_dels1['words'] = add_dels1.apply(lambda x: x.sentence1_tokenized[x.masks], axis=1)
add_dels1['ids'] = add_dels1.apply(lambda x: x.sentence1_scope[x.masks], axis=1)
# Convert words to lowercase
add_dels1['words'] = add_dels1['words'].apply(lambda x: x.astype(str))
add_dels1['words'] = add_dels1['words'].apply(np.char.lower)

In [223]:
def get_funcwords(words, indices):
    # There's probably a non for loop way of doing this but ¯\_(ツ)_/¯
    indices = []
    for i, word in enumerate(words):
        if word in fwords:
            indices.append(i)
    return indices if indices else None

In [224]:
# Get function word indices
add_dels1['function_word_idx'] = add_dels1.apply(lambda x: get_funcwords(x.words, x.masks), axis=1)
# Filter out null values
add_dels1_f = add_dels1[add_dels1['function_word_idx'].notnull()][:50]
# Get function words from indices
add_dels1_f['function_words'] = add_dels1.apply(lambda x: x.words[x.function_word_idx], axis=1)

In [225]:
def newids(old_ids, indices):
    subset = old_ids[indices]
    counter = 3
    for i, element in enumerate(subset):
        subset[i] = f'1_{counter}' # TODO: This is incorrect
        # The correct way to do this is to find the max instance of 1_ and have counter start after that
        # However, since we're not currently using instance counters for modelling, this will work for now
        counter += 1
    return subset

In [226]:
add_dels1_f['newids'] = add_dels1_f.apply(lambda x: newids(x.ids, x.function_word_idx), axis=1)

In [227]:
def subbie(scope, masks, fword_ids, new_ids):
    newmask = masks[fword_ids]
    scope[newmask] = new_ids

In [228]:
add_dels1_f.apply(lambda x: subbie(x.sentence1_scope, x.masks, x.function_word_idx, x.newids), axis=1)

4      None
13     None
22     None
28     None
39     None
42     None
55     None
58     None
66     None
67     None
74     None
80     None
93     None
99     None
102    None
103    None
105    None
111    None
115    None
117    None
122    None
125    None
126    None
127    None
133    None
140    None
141    None
144    None
146    None
152    None
155    None
157    None
160    None
162    None
164    None
173    None
180    None
183    None
188    None
199    None
202    None
203    None
205    None
208    None
212    None
225    None
245    None
251    None
256    None
259    None
dtype: object

## Add/Del - Sentence 2

In [229]:
# Find indices where there are Addition/Deletion labels
add_dels2['masks'] = add_dels2['sentence2_scope'].apply([lambda x: get_mask('2', x)[0]])
# Get words and labels at these indices
add_dels2['words'] = add_dels2.apply(lambda x: x.sentence2_tokenized[x.masks], axis=1)
add_dels2['ids'] = add_dels2.apply(lambda x: x.sentence2_scope[x.masks], axis=1)
# Convert words to lowercase
add_dels2['words'] = add_dels2['words'].apply(lambda x: x.astype(str))
add_dels2['words'] = add_dels2['words'].apply(np.char.lower)

In [230]:
# Get function word indices
add_dels2['function_word_idx'] = add_dels2.apply(lambda x: get_funcwords(x.words, x.masks), axis=1)
# Filter out null values
add_dels2_f = add_dels2[add_dels2['function_word_idx'].notnull()][:50]
# Get function words from indices
add_dels2_f['function_words'] = add_dels2.apply(lambda x: x.words[x.function_word_idx], axis=1)

In [231]:
add_dels2_f['newids'] = add_dels2_f.apply(lambda x: newids(x.ids, x.function_word_idx), axis=1)

In [232]:
add_dels2_f.apply(lambda x: subbie(x.sentence2_scope, x.masks, x.function_word_idx, x.newids), axis=1)

5      None
7      None
13     None
14     None
22     None
26     None
31     None
32     None
37     None
39     None
40     None
44     None
47     None
59     None
67     None
76     None
80     None
86     None
87     None
96     None
102    None
104    None
107    None
111    None
115    None
122    None
128    None
133    None
138    None
140    None
141    None
149    None
154    None
156    None
158    None
163    None
167    None
170    None
180    None
183    None
186    None
188    None
196    None
198    None
200    None
205    None
213    None
216    None
230    None
231    None
dtype: object

# Checking Impossible Label Combinations

In [ ]:
def list_types(str_types: str) -> list:
    """Converts a string of types to a list"""
    return str_types.split(' & ')

multiple = lambda x : np.where(np.char.find(x, '&')>=0)[0]

In [ ]:
sentence1_multiple = positives[positives['sentence1_scope'].apply(lambda x: len(x[multiple(x)])) > 0]
sentence1_multiple['s1_multi'] = sentence1_multiple['sentence1_scope'].apply(lambda x: x[multiple(x)])
sentence1_multiple['s1_multi_i'] = sentence1_multiple['sentence1_scope'].apply(multiple)
sentence1_multiple['s1_multi'] = sentence1_multiple['s1_multi'].apply(lambda x: [list_types(typee) for typee in x])

/tmp/ipykernel_56784/3562994036.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sentence1_multiple['s1_multi'] = sentence1_multiple['sentence1_scope'].apply(lambda x: x[multiple(x)])
/tmp/ipykernel_56784/3562994036.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sentence1_multiple['s1_multi_i'] = sentence1_multiple['sentence1_scope'].apply(multiple)

In [ ]:
def contains_multiple(some_multiple, biglist):
    return all(x in biglist for x in some_multiple)

In [ ]:
searchie = ['2_0', '5_0']
sentence1_multiple['s1_multi'].apply(lambda x: contains_multiple(searchie, x))
matches = sentence1_multiple[sentence1_multiple['s1_multi'].apply(lambda x: any(contains_multiple(searchie, item) for item in x))]
matches.loc[:,['sentence1_tokenized', 'sentence1_scope', 's1_multi', 's1_multi_i']]

,sentence1_tokenized,sentence1_scope,s1_multi,s1_multi_i
354,"[Intel, was, disappointed, and, assessing, its...","[3_0 & 5_0 & 2_0, 3_0, 3_0, 3_0, 3_0, 3_0, 3_0...","[[3_0, 5_0, 2_0]]",[0]
383,"[That, 's, the, highest, third-quarter, growth...","[0_0, 0_0, 0_0, 0_0, 0_0, 0_0, 0_0, 0_0, 0_0, ...","[[5_0, 2_0], [5_0, 2_0]]","[20, 21]"
576,"[The, winner, of, the, Williams-Mauresmo, matc...","[5_0, 5_0, 5_0, 5_0, 5_0, 5_0 & 2_0, 0_0, 0_0,...","[[5_0, 2_0]]",[5]
945,"[The, face, of, President, Saddam, Hussein, wa...","[5_0, 4_0, 5_0, 5_0 & 2_0, 5_0, 2_0, 0_0, 0_0,...","[[5_0, 2_0]]",[3]
1034,"[Schering-Plough, shares, fell, 72, cents, to,...","[5_0 & 2_0, 5_0, 0_0, 0_0, 0_0, 0_0, 2_2, 2_2,...","[[5_0, 2_0]]",[0]
1297,"[Brian, Florence, ,, 38, ,, died, Sept., 25, o...","[2_0 & 5_0, 5_0, 2_0, 2_0, 2_0, 0_0, 0_0, 0_0,...","[[2_0, 5_0]]",[0]
1338,"[``, For, customers, to, get, the, most, of, t...","[0_0, 0_0, 0_0, 0_0, 4_0, 0_0, 0_0, 0_0, 0_0, ...","[[2_0, 5_0]]",[17]
1622,"[He, also, noted, Tom, Siebel, had, turned, in...","[0_0, 0_0, 4_0, 0_0, 0_0, 0_0, 0_0, 0_0, 0_0, ...","[[5_0, 2_0], [5_0, 2_0], [5_0, 2_0]]","[18, 19, 20]"
2421,"[``, Frank, Quattrone, is, innocent, ,, '', Ke...","[0_0, 2_0 & 5_0, 5_0, 0_0, 0_0, 0_0, 0_0, 0_0,...","[[2_0, 5_0]]",[1]
2658,"[It, passed, only, after, Republicans, won, th...","[0_0, 0_0, 0_0, 0_0, 0_0, 0_0, 0_0, 0_0, 0_0, ...","[[5_0, 2_0], [3_0, 2_0, 5_0], [5_0, 2_1], [2_1...","[13, 14, 19, 20]"
3328,"[Advertising, and, circulation, revenues, from...","[0_0, 0_0, 0_0, 0_0, 4_0, 5_0, 5_0 & 2_0, 5_0,...","[[5_0, 2_0]]",[6]
3588,"[The, operating, revenues, were, $, 1.45, bill...","[1_0, 0_0, 0_0, 0_0, 0_0, 0_0, 0_0, 0_0, 0_0, ...","[[5_0, 2_0]]",[14]
4179,"[The, upcoming, second-quarter, earnings, seas...","[5_0, 5_0 & 2_0, 5_0, 5_0, 4_2 & 6_0, 0_0, 0_0...","[[5_0, 2_0], [4_2, 6_0]]","[1, 4]"
4247,"[It, will, also, give, Microsoft, an, opportun...","[0_0, 0_0, 4_0, 0_0, 0_0, 0_0, 0_0, 0_0, 0_0, ...","[[5_0, 2_0], [5_0, 2_0], [5_0, 2_0]]","[12, 13, 14]"
5174,"[But, for, a, meaningful, dialogue, to, begin,...","[0_0, 0_0, 0_0, 0_0, 0_0, 0_0, 0_0, 0_0, 0_0, ...","[[5_0, 2_0]]",[13]
5184,"[The, defense, can, not, appeal, Roush, 's, ru...","[4_0, 0_0, 0_0, 0_0, 0_0, 5_0 & 2_0, 5_0 & 2_0...","[[5_0, 2_0], [5_0, 2_0]]","[5, 6]"
5731,"[When, ex-Mepham, head, coach, Kevin, McElroy,...","[0_0, 5_0 & 2_0, 2_1, 0_0, 0_0, 0_0, 0_0, 0_0,...","[[5_0, 2_0]]",[1]

In [ ]:
def another_subbie(scope, mask,):
    scope[mask] = '5_0'

In [ ]:
operands1 = matches.loc[[383, 576, 945, 1034, 1297, 1338, 1622, 2421, 3328, 3588, 4247, 5174, 5184, 5731],['sentence1_tokenized', 'sentence1_scope', 's1_multi', 's1_multi_i']]
operands1

,sentence1_tokenized,sentence1_scope,s1_multi,s1_multi_i
383,"[That, 's, the, highest, third-quarter, growth...","[0_0, 0_0, 0_0, 0_0, 0_0, 0_0, 0_0, 0_0, 0_0, ...","[[5_0, 2_0], [5_0, 2_0]]","[20, 21]"
576,"[The, winner, of, the, Williams-Mauresmo, matc...","[5_0, 5_0, 5_0, 5_0, 5_0, 5_0 & 2_0, 0_0, 0_0,...","[[5_0, 2_0]]",[5]
945,"[The, face, of, President, Saddam, Hussein, wa...","[5_0, 4_0, 5_0, 5_0 & 2_0, 5_0, 2_0, 0_0, 0_0,...","[[5_0, 2_0]]",[3]
1034,"[Schering-Plough, shares, fell, 72, cents, to,...","[5_0 & 2_0, 5_0, 0_0, 0_0, 0_0, 0_0, 2_2, 2_2,...","[[5_0, 2_0]]",[0]
1297,"[Brian, Florence, ,, 38, ,, died, Sept., 25, o...","[2_0 & 5_0, 5_0, 2_0, 2_0, 2_0, 0_0, 0_0, 0_0,...","[[2_0, 5_0]]",[0]
1338,"[``, For, customers, to, get, the, most, of, t...","[0_0, 0_0, 0_0, 0_0, 4_0, 0_0, 0_0, 0_0, 0_0, ...","[[2_0, 5_0]]",[17]
1622,"[He, also, noted, Tom, Siebel, had, turned, in...","[0_0, 0_0, 4_0, 0_0, 0_0, 0_0, 0_0, 0_0, 0_0, ...","[[5_0, 2_0], [5_0, 2_0], [5_0, 2_0]]","[18, 19, 20]"
2421,"[``, Frank, Quattrone, is, innocent, ,, '', Ke...","[0_0, 2_0 & 5_0, 5_0, 0_0, 0_0, 0_0, 0_0, 0_0,...","[[2_0, 5_0]]",[1]
3328,"[Advertising, and, circulation, revenues, from...","[0_0, 0_0, 0_0, 0_0, 4_0, 5_0, 5_0 & 2_0, 5_0,...","[[5_0, 2_0]]",[6]
3588,"[The, operating, revenues, were, $, 1.45, bill...","[1_0, 0_0, 0_0, 0_0, 0_0, 0_0, 0_0, 0_0, 0_0, ...","[[5_0, 2_0]]",[14]
4247,"[It, will, also, give, Microsoft, an, opportun...","[0_0, 0_0, 4_0, 0_0, 0_0, 0_0, 0_0, 0_0, 0_0, ...","[[5_0, 2_0], [5_0, 2_0], [5_0, 2_0]]","[12, 13, 14]"
5174,"[But, for, a, meaningful, dialogue, to, begin,...","[0_0, 0_0, 0_0, 0_0, 0_0, 0_0, 0_0, 0_0, 0_0, ...","[[5_0, 2_0]]",[13]
5184,"[The, defense, can, not, appeal, Roush, 's, ru...","[4_0, 0_0, 0_0, 0_0, 0_0, 5_0 & 2_0, 5_0 & 2_0...","[[5_0, 2_0], [5_0, 2_0]]","[5, 6]"
5731,"[When, ex-Mepham, head, coach, Kevin, McElroy,...","[0_0, 5_0 & 2_0, 2_1, 0_0, 0_0, 0_0, 0_0, 0_0,...","[[5_0, 2_0]]",[1]

In [ ]:
operands1.apply(lambda x: another_subbie(x.sentence1_scope, x.s1_multi_i), axis=1)

383     None
576     None
945     None
1034    None
1297    None
1338    None
1622    None
2421    None
3328    None
3588    None
4247    None
5174    None
5184    None
5731    None
dtype: object

In [ ]:
operands1['sentence1_scope'][576] == positives['sentence1_scope'][576]

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True])

In [ ]:
[354, 2658]
[4179]
[383, 576, 945, 1034, 1297, 1338, 1622, 2421, 3328, 3588, 4247, 5174, 5184, 5731]

In [ ]:
sentence2_multiple = positives[positives['sentence2_scope'].apply(lambda x: len(x[multiple(x)])) > 0]
sentence2_multiple['s2_multi'] = sentence2_multiple['sentence2_scope'].apply(lambda x: x[multiple(x)])
sentence2_multiple['s2_multi_i'] = sentence2_multiple['sentence2_scope'].apply(multiple)

searchie = ['2_0', '5_0']
sentence2_multiple['s2_multi'].apply(lambda x: contains_multiple(searchie, x))
matches = sentence2_multiple[sentence2_multiple['s2_multi'].apply(lambda x: any(contains_multiple(searchie, item) for item in x))]
operands2 = matches.loc[:,['sentence2_tokenized', 'sentence2_scope', 's2_multi', 's2_multi_i']]
operands2

/tmp/ipykernel_56784/3279029796.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sentence2_multiple['s2_multi'] = sentence2_multiple['sentence2_scope'].apply(lambda x: x[multiple(x)])
/tmp/ipykernel_56784/3279029796.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sentence2_multiple['s2_multi_i'] = sentence2_multiple['sentence2_scope'].apply(multiple)

,sentence2_tokenized,sentence2_scope,s2_multi,s2_multi_i
213,"[A, downturn, in, services, activity, in, Marc...","[4_0, 5_0, 1_3, 5_0 & 2_0, 5_0 & 2_0, 5_0, 5_0...","[5_0 & 2_0, 5_0 & 2_0]","[3, 4]"
307,"[Called, ``, Taxpayers, Against, the, Recall, ...","[2_0, 2_0, 0_0, 0_0, 0_0, 0_0, 0_0, 2_0, 5_0 &...",[5_0 & 2_0],[8]
1162,"[On, Wednesday, ,, analysts, say, ,, UN, membe...","[0_0, 0_0, 0_0, 0_0, 0_0, 0_0, 0_0, 0_0, 0_0, ...","[5_0 & 2_0, 5_0 & 2_0, 5_0 & 2_0]","[17, 18, 19]"
1376,"[The, pressure, on, Peter, Hollingworth, to, r...","[5_0, 5_0, 5_0 & 2_0, 5_0 & 2_0, 5_0 & 2_0, 5_...","[5_0 & 2_0, 5_0 & 2_0, 5_0 & 2_0, 5_0 & 2_0, 5...","[2, 3, 4, 5, 6, 7, 8]"
1758,"[But, Mr, Kenny, said, his, advice, to, David,...","[0_0, 0_0, 0_0, 0_0, 0_0, 0_0, 0_0, 2_0 & 5_0,...",[2_0 & 5_0],[7]
1801,"[GBI, spokesman, John, Bankhead, said, the, mu...","[5_0, 5_0, 2_0 & 5_0, 0_0, 0_0, 0_0, 4_0, 0_0,...",[2_0 & 5_0],[2]
2199,"[Schering-Plough, shares, fell, 3.8, percent, ...","[5_0 & 2_0 & 2_1, 5_0, 0_0, 0_0, 0_0, 0_0, 0_0...",[5_0 & 2_0 & 2_1],[0]
2375,"[``, I, know, of, nobody, who, pressured, anyb...","[0_0, 0_0, 0_0, 0_0, 0_0, 0_0, 6_0, 0_0, 0_0, ...",[2_0 & 5_0],[10]
2690,"[``, Prospects, for, the, whole, Canadian, aer...","[0_0, 0_0, 0_0, 0_0, 0_0, 0_0, 0_0, 0_0, 0_0, ...","[3_0 & 2_0 & 5_0, 3_0 & 5_0]","[26, 27]"
2966,"[Dave, Delainey, agreed, to, cooperate, with, ...","[2_0 & 5_0, 5_0, 6_0, 0_0, 0_0, 0_0, 0_0, 0_0,...",[2_0 & 5_0],[0]
3014,"[The, Virginia, attorney-general, ,, Jerry, Ki...","[2_1, 2_1, 2_1, 2_1, 2_0 & 5_0, 5_0, 0_0, 0_0,...",[2_0 & 5_0],[4]
3280,"[A, similar, Florida, straw, poll, in, 1991, b...","[5_0, 5_0 & 2_0, 5_0, 5_0, 5_0, 5_0, 5_0, 4_0,...",[5_0 & 2_0],[1]
3782,"[Under, a, deal, with, General, Electric, 's, ...","[0_0, 5_0, 4_0, 5_0, 5_0 & 2_0, 5_0 & 2_0, 5_0...","[5_0 & 2_0, 5_0 & 2_0, 5_0 & 2_0]","[4, 5, 6]"
3862,"[The, statewide, unemployment, rate, fell, to,...","[5_0, 4_0, 5_0, 5_0 & 2_0, 4_1, 4_1, 0_0, 0_0,...",[5_0 & 2_0],[3]
4282,"[Total, shipments, reached, 19.5, million, uni...","[4_0, 0_0, 0_0, 0_0, 0_0, 0_0, 0_0, 0_0, 0_0, ...",[5_0 & 2_0],[13]
4656,"[``, I, feel, like, the, weight, of, the, worl...","[0_0, 0_0, 0_0, 0_0, 0_0, 0_0, 0_0, 0_0, 0_0, ...",[5_0 & 2_0],[22]
5249,"[The, US, National, Hurricane, Center, said, t...","[5_0, 5_0 & 2_0, 5_0, 5_0, 5_0, 0_0, 3_0, 3_0 ...","[5_0 & 2_0, 3_0 & 5_1, 3_0 & 6_0, 3_0 & 4_1 & ...","[1, 7, 8, 9, 15, 19, 20]"
5460,"[Douglas, Robinson, ,, CA, senior, vice, presi...","[0_0, 0_0, 0_0, 5_0 & 2_0, 5_0, 5_0, 5_0, 5_0,...",[5_0 & 2_0],[3]

In [ ]:
operands2 = operands2.loc[[213, 307, 1162, 1376, 1758, 1801, 2375, 2966, 3014, 3280, 3782, 3862, 4282, 4656, 5460],:]
operands2

,sentence2_tokenized,sentence2_scope,s2_multi,s2_multi_i
213,"[A, downturn, in, services, activity, in, Marc...","[4_0, 5_0, 1_3, 5_0 & 2_0, 5_0 & 2_0, 5_0, 5_0...","[5_0 & 2_0, 5_0 & 2_0]","[3, 4]"
307,"[Called, ``, Taxpayers, Against, the, Recall, ...","[2_0, 2_0, 0_0, 0_0, 0_0, 0_0, 0_0, 2_0, 5_0 &...",[5_0 & 2_0],[8]
1162,"[On, Wednesday, ,, analysts, say, ,, UN, membe...","[0_0, 0_0, 0_0, 0_0, 0_0, 0_0, 0_0, 0_0, 0_0, ...","[5_0 & 2_0, 5_0 & 2_0, 5_0 & 2_0]","[17, 18, 19]"
1376,"[The, pressure, on, Peter, Hollingworth, to, r...","[5_0, 5_0, 5_0 & 2_0, 5_0 & 2_0, 5_0 & 2_0, 5_...","[5_0 & 2_0, 5_0 & 2_0, 5_0 & 2_0, 5_0 & 2_0, 5...","[2, 3, 4, 5, 6, 7, 8]"
1758,"[But, Mr, Kenny, said, his, advice, to, David,...","[0_0, 0_0, 0_0, 0_0, 0_0, 0_0, 0_0, 2_0 & 5_0,...",[2_0 & 5_0],[7]
1801,"[GBI, spokesman, John, Bankhead, said, the, mu...","[5_0, 5_0, 2_0 & 5_0, 0_0, 0_0, 0_0, 4_0, 0_0,...",[2_0 & 5_0],[2]
2375,"[``, I, know, of, nobody, who, pressured, anyb...","[0_0, 0_0, 0_0, 0_0, 0_0, 0_0, 6_0, 0_0, 0_0, ...",[2_0 & 5_0],[10]
2966,"[Dave, Delainey, agreed, to, cooperate, with, ...","[2_0 & 5_0, 5_0, 6_0, 0_0, 0_0, 0_0, 0_0, 0_0,...",[2_0 & 5_0],[0]
3014,"[The, Virginia, attorney-general, ,, Jerry, Ki...","[2_1, 2_1, 2_1, 2_1, 2_0 & 5_0, 5_0, 0_0, 0_0,...",[2_0 & 5_0],[4]
3280,"[A, similar, Florida, straw, poll, in, 1991, b...","[5_0, 5_0 & 2_0, 5_0, 5_0, 5_0, 5_0, 5_0, 4_0,...",[5_0 & 2_0],[1]
3782,"[Under, a, deal, with, General, Electric, 's, ...","[0_0, 5_0, 4_0, 5_0, 5_0 & 2_0, 5_0 & 2_0, 5_0...","[5_0 & 2_0, 5_0 & 2_0, 5_0 & 2_0]","[4, 5, 6]"
3862,"[The, statewide, unemployment, rate, fell, to,...","[5_0, 4_0, 5_0, 5_0 & 2_0, 4_1, 4_1, 0_0, 0_0,...",[5_0 & 2_0],[3]
4282,"[Total, shipments, reached, 19.5, million, uni...","[4_0, 0_0, 0_0, 0_0, 0_0, 0_0, 0_0, 0_0, 0_0, ...",[5_0 & 2_0],[13]
4656,"[``, I, feel, like, the, weight, of, the, worl...","[0_0, 0_0, 0_0, 0_0, 0_0, 0_0, 0_0, 0_0, 0_0, ...",[5_0 & 2_0],[22]
5460,"[Douglas, Robinson, ,, CA, senior, vice, presi...","[0_0, 0_0, 0_0, 5_0 & 2_0, 5_0, 5_0, 5_0, 5_0,...",[5_0 & 2_0],[3]

In [ ]:
operands2.apply(lambda x: another_subbie(x.sentence2_scope, x.s2_multi_i), axis=1)

213     None
307     None
1162    None
1376    None
1758    None
1801    None
2375    None
2966    None
3014    None
3280    None
3782    None
3862    None
4282    None
4656    None
5460    None
dtype: object

In [ ]:
operands2['sentence2_scope'][213] == positives['sentence2_scope'][213]

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True])

In [ ]:
[2199, 2690, 5249]
[213, 307, 1162, 1376, 1758, 1801, 2375, 2966, 3014, 3280, 3782, 3862, 4282, 4656, 5460]

[213,
 307,
 1162,
 1376,
 1758,
 1801,
 2199,
 2375,
 2690,
 2966,
 3014,
 3280,
 3782,
 3862,
 4282,
 4656,
 5249,
 5460]

In [ ]:
# TODO: rows to drop from textual_paraphrases:
[2196]

[2196]

# Collapsing labels for sequence classification

In [268]:
def collapse_multilabel(arr1, arr2):
    labels1 = {label[0] for label in arr1}
    labels2 = {label[0] for label in arr2}
    return sorted(list(labels1 | labels2))

In [269]:
positives['collapsed_labels'] = positives.apply(lambda x: collapse_multilabel(x.sentence1_scope, x.sentence2_scope), axis=1)
positives

/tmp/ipykernel_55855/1069940531.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  positives['collapsed_labels'] = positives.apply(lambda x: collapse_multilabel(x.sentence1_scope, x.sentence2_scope), axis=1)

,sentence1,sentence2,sentence1_tokenized,sentence2_tokenized,sentence1_scope,sentence2_scope,collapsed_labels,s1_token_labs,s2_token_labs
0,"Amrozi accused his brother, whom he called ""th...","Referring to him as only ""the witness"", Amrozi...","[Amrozi, accused, his, brother, ,, whom, he, c...","[Referring, to, him, as, only, ``, the, witnes...","[3_0, 3_0, 3_0, 3_0, 0_0, 4_0, 0_0, 4_1, 0_0, ...","[4_1, 4_0, 4_0, 0_0, 2_0, 0_0, 0_0, 0_0, 0_0, ...","[0, 2, 3, 4]","[[0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0], [0....","[[0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0], [0...."
2,They had published an advertisement on the Int...,"On June 10, the ship's owners had published an...","[They, had, published, an, advertisement, on, ...","[On, June, 10, ,, the, ship, 's, owners, had, ...","[5_0, 0_0, 0_0, 0_0, 0_0, 0_0, 0_0, 0_0, 3_0, ...","[3_0, 3_0, 3_0, 3_0, 5_0, 5_0, 5_0, 5_0, 0_0, ...","[0, 2, 3, 4, 5]","[[0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0], [0....","[[0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0], [0...."
4,"The stock rose $2.11, or about 11 percent, to ...",PG&E Corp. shares jumped $1.63 or 8 percent to...,"[The, stock, rose, $, 2.11, ,, or, about, 11, ...","[PG, &, E, Corp., shares, jumped, $, 1.63, or,...","[5_0, 5_0, 4_0, 0_0, 0_0, 8_0, 0_0, 2_0, 0_0, ...","[5_0, 5_0, 5_0, 5_0, 5_0, 4_0, 0_0, 0_0, 0_0, ...","[0, 1, 2, 3, 4, 5, 8]","[[0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0], [0....","[[0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0], [0...."
5,Revenue in the first quarter of the year dropp...,With the scandal hanging over Stewart's compan...,"[Revenue, in, the, first, quarter, of, the, ye...","[With, the, scandal, hanging, over, Stewart, '...","[0_0, 1_0, 0_0, 0_0, 0_0, 0_0, 0_0, 0_0, 0_0, ...","[1_3, 1_4, 2_0, 2_0, 2_0, 2_0, 2_0, 2_0, 2_0, ...","[0, 1, 2]","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0], [1....","[[0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0], [0...."
7,The DVD-CCA then appealed to the state Supreme...,The DVD CCA appealed that decision to the U.S....,"[The, DVD-CCA, then, appealed, to, the, state,...","[The, DVD, CCA, appealed, that, decision, to, ...","[0_0, 7_0, 2_0, 0_0, 0_0, 0_0, 4_0, 0_0, 0_0, ...","[0_0, 7_0, 7_0, 0_0, 1_3, 2_1, 0_0, 0_0, 4_0, ...","[0, 1, 2, 4, 7]","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0], [0....","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0], [0...."
...,...,...,...,...,...,...,...,...,...
5792,Gehring waived extradition Monday during a hea...,Gehring waived extradition Monday during a hea...,"[Gehring, waived, extradition, Monday, during,...","[Gehring, waived, extradition, Monday, during,...","[0_0, 0_0, 0_0, 0_0, 0_0, 0_0, 0_0, 0_0, 0_0, ...","[0_0, 0_0, 0_0, 0_0, 0_0, 0_0, 0_0, 2_1, 2_1, ...","[0, 2, 3, 8]","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0], [0....","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0], [0...."
5793,"""I am advised that certain allegations of crim...","""I am advised that certain allegations of crim...","[``, I, am, advised, that, certain, allegation...","[``, I, am, advised, that, certain, allegation...","[0_0, 0_0, 0_0, 0_0, 0_0, 0_0, 0_0, 0_0, 0_0, ...","[0_0, 0_0, 0_0, 0_0, 0_0, 0_0, 0_0, 0_0, 0_0, ...","[0, 2, 3, 8]","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0], [0....","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0], [0...."
5795,"The deal, approved by both companies' board of...",The acquisition has been approved by both comp...,"[The, deal, ,, approved, by, both, companies, ...","[The, acquisition, has, been, approved, by, bo...","[0_0, 4_0, 2_0, 2_0, 2_0, 2_0, 2_0, 2_0, 2_0, ...","[0_0, 4_0, 0_0, 0_0, 0_0, 0_0, 0_0, 0_0, 0_0, ...","[0, 2, 4]","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0], [0....","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0], [0...."
5799,"Last week the power station’s US owners, AES C...","The news comes after Drax's American owner, AE...","[Last, week, the, power, station’s, US, owners...","[The, news, comes, after, Drax, 's, American, ...","[3_0, 3_0, 0_0, 5_1, 5_1, 5_0, 6_0, 0_0, 0_0, ...","[2_0, 2_0, 2_0, 2_0, 5_1, 0_0, 5_0, 6_0, 0_0, ...","[0, 2, 3, 5, 6, 7]","[[0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0], [0....","[[0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0], [0...."
5800,Sobig.F spreads when unsuspecting computer use...,The virus spreads when unsuspecting computer u...,"[Sobig.F, spreads, when, unsuspecting, compute...","[The, virus, spreads, when, unsuspecting, comp...","[5_1, 0_0, 0_0, 0_0, 0_0, 0_0, 0_0, 0_0, 0_0, ...","[5_1, 5_1, 0_0, 0_0, 0_0, 0_0, 0_0, 0_0, 0_0, ...","[0, 1, 2, 4, 5]","[[0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0], [0....","[[0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0], [0...."

# Collapsing labels for token classification

In [270]:
def paraop_label_str_to_list(str_arr) -> list:
    """Converts the strings in a Paraop label array to lists of ints, ommiting instance counters.
    Returns a list containing the converted indices."""
    output = []
    for i, each_str in enumerate(str_arr):
        labels = each_str.split(' & ')
        label_output = {int(label[0]) for label in labels}
        output.append(list(label_output))
    return output

# Example output
example = np.array(['0_0', '0_0', '3_0', '5_0 & 5_1', '5_0 & 6_1'])
paraop_label_str_to_list(example)

[[0], [0], [3], [5], [5, 6]]

In [271]:
def make_array(str_arr):
    output_arr = np.zeros((len(str_arr), 8))
    converted_arr = paraop_label_str_to_list(str_arr)
    for i, each_list in enumerate(converted_arr):
        if each_list == [0]: continue
        indices = np.array(each_list) - 1
        output_arr[i, indices] = 1
    return output_arr

# Example output
make_array(example)

array([[0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 1., 0., 0., 0.],
       [0., 0., 0., 0., 1., 1., 0., 0.]])

In [272]:
positives['s1_token_labs'] = positives['sentence1_scope'].apply(make_array)
positives['s2_token_labs'] = positives['sentence2_scope'].apply(make_array)
positives

/tmp/ipykernel_55855/3416935229.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  positives['s1_token_labs'] = positives['sentence1_scope'].apply(make_array)
/tmp/ipykernel_55855/3416935229.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  positives['s2_token_labs'] = positives['sentence2_scope'].apply(make_array)

,sentence1,sentence2,sentence1_tokenized,sentence2_tokenized,sentence1_scope,sentence2_scope,collapsed_labels,s1_token_labs,s2_token_labs
0,"Amrozi accused his brother, whom he called ""th...","Referring to him as only ""the witness"", Amrozi...","[Amrozi, accused, his, brother, ,, whom, he, c...","[Referring, to, him, as, only, ``, the, witnes...","[3_0, 3_0, 3_0, 3_0, 0_0, 4_0, 0_0, 4_1, 0_0, ...","[4_1, 4_0, 4_0, 0_0, 2_0, 0_0, 0_0, 0_0, 0_0, ...","[0, 2, 3, 4]","[[0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0], [0....","[[0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0], [0...."
2,They had published an advertisement on the Int...,"On June 10, the ship's owners had published an...","[They, had, published, an, advertisement, on, ...","[On, June, 10, ,, the, ship, 's, owners, had, ...","[5_0, 0_0, 0_0, 0_0, 0_0, 0_0, 0_0, 0_0, 3_0, ...","[3_0, 3_0, 3_0, 3_0, 5_0, 5_0, 5_0, 5_0, 0_0, ...","[0, 2, 3, 4, 5]","[[0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0], [0....","[[0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0], [0...."
4,"The stock rose $2.11, or about 11 percent, to ...",PG&E Corp. shares jumped $1.63 or 8 percent to...,"[The, stock, rose, $, 2.11, ,, or, about, 11, ...","[PG, &, E, Corp., shares, jumped, $, 1.63, or,...","[5_0, 5_0, 4_0, 0_0, 0_0, 8_0, 0_0, 2_0, 0_0, ...","[5_0, 5_0, 5_0, 5_0, 5_0, 4_0, 0_0, 0_0, 0_0, ...","[0, 1, 2, 3, 4, 5, 8]","[[0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0], [0....","[[0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0], [0...."
5,Revenue in the first quarter of the year dropp...,With the scandal hanging over Stewart's compan...,"[Revenue, in, the, first, quarter, of, the, ye...","[With, the, scandal, hanging, over, Stewart, '...","[0_0, 1_0, 0_0, 0_0, 0_0, 0_0, 0_0, 0_0, 0_0, ...","[1_3, 1_4, 2_0, 2_0, 2_0, 2_0, 2_0, 2_0, 2_0, ...","[0, 1, 2]","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0], [1....","[[1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0], [1...."
7,The DVD-CCA then appealed to the state Supreme...,The DVD CCA appealed that decision to the U.S....,"[The, DVD-CCA, then, appealed, to, the, state,...","[The, DVD, CCA, appealed, that, decision, to, ...","[0_0, 7_0, 2_0, 0_0, 0_0, 0_0, 4_0, 0_0, 0_0, ...","[0_0, 7_0, 7_0, 0_0, 1_3, 2_1, 0_0, 0_0, 4_0, ...","[0, 1, 2, 4, 7]","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0], [0....","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0], [0...."
...,...,...,...,...,...,...,...,...,...
5792,Gehring waived extradition Monday during a hea...,Gehring waived extradition Monday during a hea...,"[Gehring, waived, extradition, Monday, during,...","[Gehring, waived, extradition, Monday, during,...","[0_0, 0_0, 0_0, 0_0, 0_0, 0_0, 0_0, 0_0, 0_0, ...","[0_0, 0_0, 0_0, 0_0, 0_0, 0_0, 0_0, 2_1, 2_1, ...","[0, 2, 3, 8]","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0], [0....","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0], [0...."
5793,"""I am advised that certain allegations of crim...","""I am advised that certain allegations of crim...","[``, I, am, advised, that, certain, allegation...","[``, I, am, advised, that, certain, allegation...","[0_0, 0_0, 0_0, 0_0, 0_0, 0_0, 0_0, 0_0, 0_0, ...","[0_0, 0_0, 0_0, 0_0, 0_0, 0_0, 0_0, 0_0, 0_0, ...","[0, 2, 3, 8]","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0], [0....","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0], [0...."
5795,"The deal, approved by both companies' board of...",The acquisition has been approved by both comp...,"[The, deal, ,, approved, by, both, companies, ...","[The, acquisition, has, been, approved, by, bo...","[0_0, 4_0, 2_0, 2_0, 2_0, 2_0, 2_0, 2_0, 2_0, ...","[0_0, 4_0, 0_0, 0_0, 0_0, 0_0, 0_0, 0_0, 0_0, ...","[0, 2, 4]","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0], [0....","[[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0], [0...."
5799,"Last week the power station’s US owners, AES C...","The news comes after Drax's American owner, AE...","[Last, week, the, power, station’s, US, owners...","[The, news, comes, after, Drax, 's, American, ...","[3_0, 3_0, 0_0, 5_1, 5_1, 5_0, 6_0, 0_0, 0_0, ...","[2_0, 2_0, 2_0, 2_0, 5_1, 0_0, 5_0, 6_0, 0_0, ...","[0, 2, 3, 5, 6, 7]","[[0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0], [0....","[[0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0], [0...."
5800,Sobig.F spreads when unsuspecting computer use...,The virus spreads when unsuspecting computer u...,"[Sobig.F, spreads, when, unsuspecting, compute...","[The, virus, spreads, when, unsuspecting, comp...","[5_1, 0_0, 0_0, 0_0, 0_0, 0_0, 0_0, 0_0, 0_0, ...","[5_1, 5_1, 0_0, 0_0, 0_0, 0_0, 0_0, 0_0, 0_0, ...","[0, 1, 2, 4, 5]","[[0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0], [0....","[[0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0], [0...."

# Exporting

In [273]:
positives.to_csv('datasets/etpc_reannotated.csv')

In [274]:
positives.to_pickle('datasets/etpc_reannotated.pkl')

# Garbage Pail

## Cleanup

## Other stuff

In [289]:
test = positives['sentence1_scope'][14]
test

array(['0_0', '0_0', '0_0', '0_0', '2_0', '0_0', '3_0 & 5_1',
       '3_0 & 5_0 & 5_1', '3_0', '3_0', '3_0', '3_0', '3_0', '3_0', '3_0',
       '3_0', '3_0', '3_0', '3_0', '3_0', '3_0', '3_0', '3_0', '3_0',
       '0_0'], dtype='<U64')

In [290]:
int(test[0][-1])

0

In [291]:
'3_0 & 4_0'.split(' & ')

['3_0', '4_0']

In [292]:
test

array(['0_0', '0_0', '0_0', '0_0', '2_0', '0_0', '3_0 & 5_1',
       '3_0 & 5_0 & 5_1', '3_0', '3_0', '3_0', '3_0', '3_0', '3_0', '3_0',
       '3_0', '3_0', '3_0', '3_0', '3_0', '3_0', '3_0', '3_0', '3_0',
       '0_0'], dtype='<U64')

In [293]:
mask = np.where(np.char.find(test, '5_') >= 0)
test[mask]

array(['3_0 & 5_1', '3_0 & 5_0 & 5_1'], dtype='<U64')

In [294]:
get_max_i(test, 5)

1

In [295]:
maxie = positives['sentence1_scope'].apply(lambda x: get_max_i(x, 7))

In [296]:
countie = lambda x: len(maxie[maxie >= x-1])/len(maxie[maxie >= 0])
print(f'{countie(2):.2%}')

21.09%

In [297]:
def printie(row, n):
    tokens = positives.loc[row, f'sentence{n}_tokenized']
    scopes = positives.loc[row, f'sentence{n}_scope']

    data = {'list1': tokens, 'list2': scopes}
    df = pd.DataFrame(data)

    return df.T

def displayie(n):
    df1 = printie(n, 1)
    df2 = printie(n, 2)

    center_hide = lambda x: x.style.set_properties(**{'text-align': 'center'}).hide(axis='index').hide(axis='columns')

    display(center_hide(df1)) 
    display(center_hide(df2))

In [298]:
displayie(1957)

In [299]:
def make_array(str_arr):
    output_arr = np.zeros((len(str_arr), 8))
    converted_arr = paraop_label_str_to_list(str_arr)
    for i, each_list in enumerate(converted_arr):
        if each_list == [0]: continue
        indices = np.array(each_list) - 1
        output_arr[i, indices] = 1
    return output_arr

    """for labie, cols in enumerate(col_idx_map):
        if labie == 0: continue
        max_i = len(cols)
        for instance, col in enumerate(cols):
            mask = np.where(np.char.find(str_arr, f'{labie}_{instance}') >= 0)
            #subset = str_arr[mask]
            output_arr[mask,col] = 1"""

    """for i, each_str in enumerate(str_arr):
        if each_str == '0_0':
            continue
        labels = each_str.split(' & ')
        for label in labels:
                if label[0] == str(i):
                    max_i = max(max_i, int(label[-1]))

        # Subset elements in array containing label
        mask = np.where(np.char.find(str_arr, f'{i}_') >= 0)
        subset = str_arr[mask]
        # Look for the maximum 
        for item in subset:
            labels = item.split(' & ')
            for label in labels:
                if label[0] == str(i):
                    max_i = max(max_i, int(label[-1]))"""
    
    return output_arr